---
illust: Montevil27-img001.jpg
hasPDF: true
hasFullText: true
date: 2022-06-30
excerpt: "Si la philosophie est entrée en stasis et se porte vers un nécessaire Autre Commencement de la Philosophie, alors les sciences aussi sont à un autre commencement."
tweets_mentions:
  - "1542412457200738311"
tags: 
    - philosophy
    - knowledge
    - "theoretical biology"
---
<p class="titleHead">Penser au-delà de l'identité : philosophie et sciences </p>
<p class="authors">Maël Montévil</p>


<h3 class="abstract">Abstract</h3>
     <!-- l. 29 --><p class='noindent'> Ce texte est le séminaire public donné le 31 mai à l'École Normale Supérieure de Paris. Les sciences se sont écartées de la philosophie. Si la philosophie est entrée en stasis et se porte vers un nécessaire Autre Commencement de la Philosophie, alors les sciences aussi sont à un autre commencement. L'Anastasis des sciences exige une enquête sur la persistance des concepts théologiques en leur sein et en même temps la découverte de nouveaux principes par lesquels les sciences peuvent recommencer de telle manière qu'elles soient libérées des fardeaux métaphysiques. Les homologies d'un autre commencement des sciences sont déjà visibles dans les crises conceptuelles, y compris dans les concepts de singularité en physique et d'immunité en biologie. Pour commencer à nouveau, une épistémologie bâtarde est proposée comme nouveau rapport entre les sciences et la famille bâtarde de la déconstruction.
</p>
 
<hr>
{#
<h2 class="center"> <a class="buttonlink" href="https://www.philosophy-world-democracy.org/vaccines-germs-and-knowledge"> Free access on the journal website. </a></h2>
#}
                                                       
<div class='center'>
<!-- l. 38 --><p class='noindent'>
</p><!-- l. 39 --><p class='noindent'><img alt='PIC' width="600" class="zoom" src='Montevil27-img001.jpg' /></p></div>
<figcaption class='caption'><span class='id'><span class='eccc1000-'><span class='small-caps'>Figure</span></span><span class='eccc1000-'> <span class='small-caps'>1</span></span>: </span><span class='content'>Constraints Closure, Marie Chollat-Namy ; Crédit d'image : reçu</span></figcaption><!-- tex4ht:label': x1-21  -->
                                                                               
                                                                               
   </figure>
<!-- l. 43 --><p class='indent'>   « pourquoi pas, en finir, ayant apporté la preuve (que personne ne demandait) d'une superbe,
majestueuse et foisonnante inanité ? » <a href='#X2021-nancy'>Nancy</a> [<a href='#X2021-nancy'>2021</a>]. Cette ultime phrase du texte de Jean-Luc
Nancy, si terrible lorsqu'on la prend au sérieux, pourrait tout aussi bien s'adresser aux sciences qu'à
la philosophie — étant entendu que les sciences, dans leur capacité de compréhension de
phénomènes, sont dans une situation historique tout aussi délicate que la philosophie car à elles
se substituent subrepticement des approches purement technologiques. Pour Bernard Stiegler
<a href='#Xstiegler2020qatop2'>Stiegler</a> [<a href='#Xstiegler2020qatop2'>2020</a>], les scientifiques ne font plus de science et la science ne pænse plus. À la fin de la
philosophie soulevée par Jean-Luc Nancy s'articule donc aussi la fin des sciences, et si nouveau
commencement des sciences il doit y avoir, alors il vient avec le commencement de la philosophie. En
ce sens, et pour paraphraser Divya Dwivedi en la détournant, nous sommes dans les jours les
plus jeunes des sciences <a href='#X2021-Divya'>Dwivedi</a> [<a href='#X2021-Divya'>2021</a>] — et ceci n'a de sens qu'avec la philosophie. Que
signifie ce nouveau commencement pour les sciences — En un mot, sortir de la méthode
visant à produire des cadres clos sur eux-mêmes, qui, s'ils ont leurs mérites, entravent la
compréhension des phénomènes dans leur historicité et contextualité, bref sortir de la
logique pernicieuse de l'identité dans la théorisation scientifique. De plus, sortir de ces
cadres clos signifie réintégrer, le cas échéant, les personnes concernées dans le travail
scientifique.
</p><!-- l. 60 --><p class='indent'>   Les enjeux pour les sciences sont ici congruents avec ceux de la philosophie tel que présentés
dans le texte de Shaj Mohan <a href='#X2021-shaj0'>Mohan</a> [<a href='#X2021-shaj0'>2021b</a>] : la question de l'expérience obscure — l'incertitude de la
permanence du monde réapparaît lorsque ce dernier n'est pas régi par des lois mathématiques —,
le questionnement de la logique de l'identité — et comment produire un discours scientifique qui puisse
surmonter cette logique —, et la question de nouvelles facultés, très concrètement, pour la
pratique des sciences.
</p><!-- l. 67 --><p class='indent'>   Aborder ces questions, et aussi bien, répondre à ce que l'on appelle généralement
l'Anthropocène, requiert un certain nombre de gestes à la fois philosophiques et théoriques — à
mon sens en science les deux choses ne peuvent être disjointes. Insistons sur deux aspects qui sont
entremêlés. Il s'agit à la fois de l'activité de théorisation <span class='ecti-1000'>sui generis</span>, d'une part, et d'autre part
de son contenu, notamment les schémas conceptuels et épistémologiques que la théorisation
mobilise.
</p><!-- l. 73 --><p class='indent'>   L'élaboration théorique en science a eu plusieurs moments historiques que l'on peut décrire à
très grands traits — suffisants pour notre propos. Dans un premier moment, qui inclut
notamment Galilée et Descartes, la description mathématique des phénomènes est <span class='ecti-1000'>in fine</span>
garantie dans sa véracité par Dieu ; elle s'adosse fondamentalement à une théologie. Cela
est illustré par l'idée que la nature serait un second livre d'origine divine, le premier
étant la Bible, qu'il nous reviendrait alors aussi de lire. Chez Descartes, et en un sens aussi
dans le cadre de Newton, apparaît de plus l'idée d'une clôture mathématique de
cette description sur elle-même, qui suppose aussi la capacité à cerner l'identité des
phénomènes à travers ces descriptions comme le soulignait Shaj Mohan dans notre séminaire
privé <span class='footnote-mark'><a href='#fn1x0' id='fn1x0-bk'><sup class='textsuperscript'>1</sup></a></span><a id='x1-3f1'></a>.
</p><!-- l. 82 --><p class='indent'>   Kant (entre autre) a bien sûr déplacé considérablement cette perspective, mais c'est plus ici le
moment de la fin du XIXième et du début du XXième qui m'intéresse par son activité
scientifique. Ce moment est caractérisé en physique par la diffraction du cadre classique en une
multiplicité d'autres perspectives théoriques (thermodynamique, relativité restreinte et
générale, mécanique quantique, puis physique quantique des champs, entre autres). Ce moment fut
habité par la combinaison du sérieux de la théorie où survit l'investissement théologique, tout
en intégrant des perspectives épistémologiques plus fines, notamment en donnant un
rôle explicite à l'observateur — rôle divers suivant les théories. Dans leurs structures,
ces cadres théoriques ont néanmoins conservé l'idée et la méthode consistant à
concevoir l'objet physique par une structure mathématique donnant la structure causale du
phénomène de manière exhaustive — en incluant dans certains cas de l'aléatoire sous forme de
probabilités, mais en posant alors que cet aléatoire est <span class='ecti-1000'>tout </span>ce qui peut être dit du
phénomène.
</p><!-- l. 93 --><p class='indent'>   Dans cette période, notamment la première moitié du XXième, apparaît néanmoins et
aussi l'idée de chercher et de travailler les limites intrinsèques à ces cadres mathématiques. À
l'interface avec la logique et autour de la question des fondements des mathématiques, il s'agit bien
                                                                               
                                                                               
sûr des théorèmes de Gödel, mais la physique n'est pas en reste avec les transitions de phases,
les singularités de la mécanique quantique des champs, ou même les trous noirs. En
physique, ces résultats négatifs, comme le dit Giuseppe Longo <a href='#Xlongo2012c'>Longo</a> [<a href='#Xlongo2012c'>2012</a>], sont des limites
intrinsèques à la clôture causale d'un cadre physico-mathématique qui interviennent
typiquement par l'apparition de l'infini dans le fini, l'infini pouvant engendrer — mais pas
toujours, pensez à Zénon ou à la géométrie projective — la rupture de la capacité du
cadre à comprendre les phénomènes ayant lieu. Alors les physiciens sont amenés à
changer de cadre théorique, de mathématiques, et d'objet pertinent pour traiter ces
singularités.
</p><!-- l. 103 --><p class='indent'>   La période actuelle est caractérisée par le déclin de l'activité de théorisation, je ne vais pas
en discuter les raisons ici, elles ont été travaillées dans un numéro spécial de <span class='ecti-1000'>Philosophy World
</span><span class='ecti-1000'>Democracy</span>, tant par des scientifiques comme Ana Soto <a href='#X2021-soto-prol'>Soto and Sonnenschein</a> [<a href='#X2021-soto-prol'>2021</a>] et Giuseppe
Longo <a href='#X2021-longo-storm'>Longo</a> [<a href='#X2021-longo-storm'>2021</a>] que des juristes comme Alain Supiot <a href='#X2021-Supiot'>Supiot</a> [<a href='#X2021-Supiot'>2021</a>]. Mentionnons tout de même
que ce déclin correspond à une sorte de nihilisme découlant du retrait de la base théologique des
anciennes motivations théoriques, comme si la théorisation ne pouvait survire sans cet ancrage — et,
incidemment, ce n'est pas pour rien que les travaux théoriques restant, notamment en
biologie, sont actuellement en bonne partie financés par la fondation Templeton, qui a un
agenda théologique. Conjointement, ce déclin de la théorisation correspond à une
mise au premier plan des développements technologiques et de leurs promesses, comme
canal principal de financement de l'activité scientifique <a href='#X2021-Montevil-episteme-computational-empiricism'>Montevil</a> [<a href='#X2021-Montevil-episteme-computational-empiricism'>2021a</a>]. On voit ici la
pertinence de l'analyse d'Heidegger — quand bien même l'enjeu est précisément d'en sortir.
Plus encore, dans cette situation, sans activité intellectuelle tissant et retissant des liens
entre les phénomènes observés, l'activité scientifique est balkanisée en disciplines de
plus en plus spécialisées, prolétarisées par l'utilisation de dispositifs technologiques
commercialisés comme boites noires. Les cadres théoriques anciens sont mort-vivants,
notamment en biologie, où l'accumulation de contradictions théoriques et empiriques
demanderait des changements théoriques majeurs. Or ces changements ne se produisent
plus, car la capacité à manipuler les concepts s'est effondrée — nous retrouvons ici la
prolatérisation et la dénoétisation décrite par Stiegler, mais il s'agit aussi du gouffre qui
s'est installé entre sciences et entre science et philosophie. À l'opposé, la « hype » des
changements technologique suffit presque entièrement à justifier les demandes de financement —
parfois même contre d'autres projets comportant, eux, des enjeux scientifiques clairement
articulés.
</p>
   <figure class='figure' id='-d-dwivedi-et-m-montevil-credit-dimage-philosophy-world-democracy'> 

                                                                               
                                                                               
<a id='x1-42'></a>
                                                                               
                                                                               
<div class='center'>
<!-- l. 127 --><p class='noindent'>
</p><!-- l. 128 --><p class='noindent'><img alt='PIC'  src='Montevil27-img002.jpg' width="600" class="zoom" /></p></div>
<figcaption class='caption'><span class='id'><span class='eccc1000-'><span class='small-caps'>Figure</span></span><span class='eccc1000-'> <span class='small-caps'>2</span></span>: </span><span class='content'>D. Dwivedi et M. Montévil ; Crédit d'image : Philosophy World Democracy.</span></figcaption><!-- tex4ht:label': x1-42  -->
                                                                               
                                                                               
   </figure>
<!-- l. 135 --><p class='indent'>   L'immunologie est dans cette situation d'insuffisance théorique <a href='#X2021-Montevil-vaccines-germs-knowledge'>Montevil</a> [<a href='#X2021-Montevil-vaccines-germs-knowledge'>2021b</a>] es concepts de
soi et de non-soi sont des concepts mort-vivants, issus notamment de techniques particulières comme
la vaccination ou la greffe, et d'une théorisation par Burnet appelée théorie de la section clonale
<a href='#Xburnet1957modification'>Burnet et al.</a> [<a href='#Xburnet1957modification'>1957</a>]. Ce cadre pose que l'immunité acquise provient 1) de la production de
lymphocytes ayant une diversité de récepteur et 2) de la sélection de certains de ces variants,
sensibles aux antigènes rencontrés.
</p><!-- l. 141 --><p class='indent'>   Attardons-nous un instant sur le schème théorique mobilisé ici. Il est fort similaire à celui de
la sélection naturelle en génétique des populations — « expliquant » les adaptations — et
aux modèles néoclassiques en économie — « expliquant » l'allocation optimale des
ressources. Dans ces trois cadres, il y a une diversité initiale, aléatoire, et ce qui rencontre un
« marché » (des antigènes ici), est amplifié, conduisant mécaniquement à remplir la
fonction désirée — ici, une amplification de la population de cellules avides pour cet
antigène, et ainsi de la réponse immunitaire pour le pathogène putatif. Ces trois cadres
sont caractérisés par l'idée d'un mécanisme permettant de clore le raisonnement sans
s'attarder sur les spécificités de telle ou telle situation, par exemple ce que fait tel ou tel
pathogène ou micro-organisme. Or cette clôture est problématique, dans tous les cas
sus-mentionnés, et notamment dans celui du système immunitaire. Par exemple, elle
ne permet pas de saisir le rôle des adjuvants nécessaires à bon nombre de vaccins et
dont le rôle est tout à fait mystérieux dans la théorie de Burnet — certains antivax
greffent d'ailleurs leurs discours sur ce mystère. En fait, et de manière générale, la
réponse immunitaire est beaucoup plus forte lorsque les tissus sont irrités d'une manière ou
d'une autre. La théorie alternative de Poly Matzinger part de ce constat pour affirmer
que le système immunitaire ne répond pas tant à ce qui est étranger qu'à ce qui
stresse les cellules et tissus <a href='#Xdoi101586'>Matzinger</a> [<a href='#Xdoi101586'>2012</a>] et alors la distinction entre le soi et le non-soi
s'effrite.
</p><!-- l. 157 --><p class='indent'>   Mais ce qui met encore plus à mal cette distinction, c'est l'interpénétration entre l'organisme
au sens traditionnel et le microbiome, les micro-organismes présents notamment dans le système
digestif dans le cas des bilatériens (dont nous sommes). L'étroitesse de cette relation n'a été que
très récemment observée, car distinguer les bactéries requiert les techniques modernes de
séquençage. À titre d'exemple, une étude <a href='#XVisconti2019'>Visconti et al.</a> [<a href='#XVisconti2019'>2019</a>] trouve que 34% des métabolites
présents dans le sang dépendent du métabolisme du microbiome. Dans ce contexte, la fonction du
système immunitaire change, il forme un système intégré avec le microbiome, et ces
deux composantes s'entre-régulent — de ce fait le système immunitaire contribue à
réguler tout ce à quoi le microbiome participe, ce qui inclut aussi bien la digestion que le
développement cérébral chez l'humain. L'identité des organismes devient alors fondamentalement
composite, et certains biologistes comme Scott Gilbert parlent d'holobiontes <a href='#XGilbert2016'>Gilbert and
Tauber</a> [<a href='#XGilbert2016'>2016</a>] : plutôt qu'issu de la seule prolifération de la cellule oeuf — origine qui
donnerait son identité à l'organisme ?, l'organisme, y compris humain, est comparable
conceptuellement au lichen en ce que ce dernier est la symbiose irréductible d'une algue et d'un
champignon.
</p><!-- l. 170 --><p class='indent'>   Mais qu'est-ce alors exactement que le système immunitaire — S'il a été d'abord défini par une
fonction spécifique — lutter contre des micro-organismes pathogènes, à la suite de la
théorie des germes notamment défendue par Pasteur — il a ensuite été associé à
des types cellulaires spécifiques — macrophages, lymphocytes, etc. Il s'agirait alors de
définir le système immunitaire comme homologie au sens de la biologie, c'est-à-dire des
parties ayant une origine historique commune. Mais alors cette définition laisse libres les
variations fonctionnelles que peuvent connaître ces parties. Ce point est théorique et
épistémologique, mais il a bien un versant empirique. Les fonctions des cellules immunitaires sont
en effet forts diverses. Par exemple, les macrophages phagocytent des cellules mortes et
évitent ainsi des dommages sur les tissus — car certaines cellules contiennent dans leurs
organites de nombreuses substances toxiques si elles étaient libérées. Plus encore, certains
lymphocytes du calamar luminescent <span class='ecti-1000'>Euprymna scolopes </span>sécrètent des nutriments pour
les bactéries responsables de cette luminescence — fonction nourricière bien plus que
policière. Alors, définir l'identité de l'organisme à partir du système immunitaire et de la
pureté originelle de la cellule oeuf est une impasse. De fait, le système immunitaire n'a
                                                                               
                                                                               
lui-même pas d'identité bien définie, dans cette oscillation entre raisonnements historiques et
raisonnements fonctionnels, systémiques. Et le problème se repose <span class='ecti-1000'>mutadis mutandis </span>pour les
autres approches visant à fixer l'identité des êtres vivants (métabolique, évolutives,
. . .).
</p><!-- l. 186 --><p class='indent'>   Nous voyons ici comment les tentatives d'isolation fonctionnelle, comme l'écriraient Mohan et
Dwivedi <a href='#Xmohan2018gandhi'>Mohan and Dwivedi</a> [<a href='#Xmohan2018gandhi'>2018</a>], sont en biologie des forçages qui se heurtent au caractère
fondamentalement historique et « protéotélique » des phénomènes, c'est-à-dire, à la
plasticité des fonctions qu'une partie peut effectuer. De manière générale, les tentatives pour
définir les objets biologiques par l'invariance de leurs relations, comme en physique, ne peuvent tenir
car elles sont incompatibles avec les multiples bricolages, exaptations, et retournements de situation
que le vivant a produit dans son histoire et continue de produire <a href='#Xchaptervariation'>Montévil et al.</a> [<a href='#Xchaptervariation'>2016</a>]. Or ce sont
bien ces invariances définissant les relations causales, structurées par des symétries, qui permettent
de poser, en physique, la clôture mathématique et causal des phénomènes au sein d'une
théorie. Sans ces invariances et symétries, l'idée de clôture mathématique et causale
devient l'apposition arbitraire d'une métaphysique, voire d'une théologie, sans chair
scientifique.
</p><!-- l. 196 --><p class='indent'>   À l'opposé d'un point de vue épistémologique, les approches historiques comportent une
certaine ambivalence. Par exemple, certains auteurs posent que le sens d'une partie pourrait se trouver
dans son origine, c'est le cas par exemple dans l'interprétation étiologique des fonctions : un trait a
une fonction lorsqu'il a été sélectionné à cause de ses conséquences. Pourtant, ces
conséquences peuvent ne plus être en acte au profit de quelque chose de nouveau sur lequel la
sélection naturelle ne peut rien dire. L'approche fondée sur l'origine historique se heurte
tout d'abord aux changements qui ont lieu depuis ce passé et qui peuvent nécessiter
une réinterprétation biologique des parties d'intérêt. De plus, elle ne prend pas en
compte les relations systémiques qui sont pourtant nécessaires pour comprendre les
agencements fonctionnels (ou disrupteurs) du vivant, a fortiori lorsque ces derniers sont
nouveaux.
</p>
   <figure class='figure' id='-artist-at-work-clement-herrmann-httpwwwclemartcom-credit-dimage-philosophy-world-democracy-'> 

                                                                               
                                                                               
<a id='x1-53'></a>
                                                                               
                                                                               
<div class='center'>
<!-- l. 207 --><p class='noindent'>
</p><!-- l. 208 --><p class='noindent'><img alt='PIC'  src='Montevil27-img003.jpg' width="600" class="zoom" /></p></div>
<figcaption class='caption'><span class='id'><span class='eccc1000-'><span class='small-caps'>Figure</span></span><span class='eccc1000-'> <span class='small-caps'>3</span></span>:  </span><span class='content'>Artist  at  work,  Clément  Herrmann  (<a class='url' href='http://www.clem-art.com'><span class='ectt-1000'>http://www.clem-art.com</span></a>) ;  Crédit
d'image : Philosophy World Democracy  </span></figcaption><!-- tex4ht:label': x1-53  -->
                                                                               
                                                                               
   </figure>
<!-- l. 216 --><p class='indent'>   La biologie est donc en quelque sorte dans une stase, bloquée entre des approches physicalistes
(méthodologiquement), surdéterminant leurs objets car les abstrayant de leur histoire et des
approches historiques négligeant le présent et l'avenir au profit du passé. En biologie, les approches
physicalistes trouvent en général leur réalisation ultime en analysant une partie indépendamment
du reste de l'organisme, voire en trouvant un système abiotique reproduisant certains aspects de la
partie concernée — méthode permettant de soustraire presque entièrement l'analyse de
l'historicité du vivant, presque entièrement car ils s'agit souvent d'agencements qui n'apparaissent
pas spontanément et dépendent de l'activité humaine, et en ce sens ils dépendent
d'un point de vue génétique de l'activité du vivant. À l'opposé, d'autres approches,
conséquentes épistémologiquement, tel que la classification phylogénétique du vivant, se
basent sur le commencement historique des lignées comme invariant — le passé comme
invariant — mais stipulent que, de cette analyse, aucune déduction <span class='ecti-1000'>en principe </span>ne peut
être effectuée quant au présent (même si des suppositions éclairées sont bien sûr
possibles).
</p><!-- l. 228 --><p class='indent'>   La biologie moléculaire est alors, en un sens, une tentative avortée et inconséquente
d'accommoder ces deux épistémologies. En un mot, l'ADN est le résultat de l'histoire évolutive,
mais au niveau de l'organisme, il joue le rôle de premier moteur immobile, origine de toutes les
propriétés de l'organisme et lui conférant son identité. Alors les biologistes travaillent autour de
cette origine pour identifier quelques relations — restant toutefois limitées au niveau moléculaire et
à quelques corrélations avec d'autres niveaux, car cette méthode est dépourvu à la fois d'un
point de vue systémique (concept distinct de celui d'un acteur privilégié) et d'une réelle
historicité (car cette dernière s'efface lorsque l'origine défini les propriétés de l'objet : en
biologie moléculaire, au niveau de l'organisme). Encore une fois cette perspective se maintient non
par absence de contradictions mais car elle génère une cascade biochimico-technologique
permettant d'étudier toujours de nouvelles relations moléculaires, quand bien même la
raison amenant à privilégier ce niveau — l'ADN comme premier moteur immobile — a
disparu.
</p><!-- l. 239 --><p class='indent'>   Pour surmonter ces difficultés, et sans entrer trop avant dans les détails <a href='#Xmomoidentity2019'>Montévil and
Mossio</a> [<a href='#Xmomoidentity2019'>2020</a>], je soutiens qu'il faut théoriser sur la base d'une épistémologie bâtarde,
définissant ses objets sans mobiliser de clôture causale formelle et sans repousser vers leur origine le
sens des phénomènes qui se présentent. Pour la biologie, il s'agit d'articuler à la fois l'historicité
fondamentale du vivant et ses dimensions systémiques. Il y a ici tout un monde épistémologique et
théorique à concevoir, et un rôle renouvelé pour les mathématiques à trouver, dans lequel le
calculable pour ce qui est du vivant — y compris humain — trouve sa juste place — limitée
mais aussi enrichie par de nouvelles facultés. Ainsi, j'ai argumenté avec Giuseppe Longo
qu'il faut inventer de nouvelles mathématiques pour le vivant et avec Matteo Mossio
que ces mathématiques doivent faire intervenir des symboles n'ayant pas de définition
formelle.
</p>
   <figure class='figure' id='-the-overthinker-falco-credit-dimage-philosophy-world-democracy-'> 

                                                                               
                                                                               
<a id='x1-64'></a>
                                                                               
                                                                               
<div class='center'>
<!-- l. 249 --><p class='noindent'>
</p><!-- l. 250 --><p class='noindent'><img alt='PIC'  src='Montevil27-img004.jpg' width="600" class="zoom" /></p></div>
<figcaption class='caption'><span class='id'><span class='eccc1000-'><span class='small-caps'>Figure</span></span><span class='eccc1000-'> <span class='small-caps'>4</span></span>: </span><span class='content'>The Overthinker, FALCO ; Crédit d'image : Philosophy World Democracy </span></figcaption><!-- tex4ht:label': x1-64  -->
                                                                               
                                                                               
   </figure>
<!-- l. 258 --><p class='indent'>   C'est sur cette base épistémologique que l'on peut avoir une compréhension plus profonde des
enjeux de l'Anthropocène pour le vivant, et la disruption du vivant ayant lieu du fait des
développements technologiques. La disruption, à mon sens est l'introduction d'aléatoire dans
un système organisé par l'histoire <a href='#Xmontevilentropy'>Montévil</a> [<a href='#Xmontevilentropy'>2021</a>]. Elle permet de comprendre des
pathologies du système immunitaire, comme les allergies et maladies auto-immunes, par le
changement de notre milieu chimique et microbiologique. La même logique s'applique au cas des
<span class='ecti-1000'>endocrine disruptors — </span>les substances interférant avec l'action des hormones, régulant
notamment le développement cérébral et celui des systèmes reproducteurs — les hommes ont
perdu plus de 50 % de nos spermatozoïdes en 50 ans. À un autre niveau, le changement
climatique engendre la disruption des relations écosystémiques, de sorte que les gobemouches
sont décimés par la faim lorsqu'ils éclosent avant leurs proies, ou les pollinisateurs se
retrouvent fort dépourvus lorsqu'ils commencent leurs activités printanières avant la
floraison des plantes qu'ils butinaient. À un autre niveau encore, le concept de disruption
permet de comprendre pourquoi l'immixtion des écrans dans la vie des bébés et très
jeunes enfants conduit à des enfants qui ne perçoivent pas les objets comme objets, qui
ne sont pas dans le langage et qui ignorent leurs parents — étant privés des relations
nécessaires, et si aucune bifurcation ne se produit, ils n'entrent pas dans la communauté
humaine.
</p><!-- l. 273 --><p class='indent'>   Dans ce dernier cas, ce sont les conditions de possibilité de toute philosophie, de toute science et
de toute société qui sont ici disrompus. La période actuelle est critique à ce sujet car pendant les
confinements décidés lors de la période du COVID-19, le danger s'est accru, mais aussi la
conscience de ce danger.
</p><!-- l. 277 --><p class='indent'>   Avec une épistémologie imitant celle de la physique, où il y aurait une clôture des
phénomènes permettant de définir l'objet indépendamment de son historicité et de son
contexte, les acteurs d'un territoire et le travail collectif — qui contribuent à cette historicité —
n'aurait finalement qu'un rôle résiduel. C'est typiquement le point de vue dominant en sciences
cognitives, et qui va tant avec la promotion de logiciels dit éducatifs qu'avec l'approche dominante en
santé publique : l'information et l'injonction — lesquelles arrivent de toute façon toujours trop tard
du fait de la rapidité des changements technologiques comme le soulignait Bernard Stiegler
<a href='#Xstiegler2016disruption'>Stiegler</a> [<a href='#Xstiegler2016disruption'>2016</a>].
</p><!-- l. 284 --><p class='indent'>   La compréhension de ce phénomène implique à la fois l'histoire — biologique, sociale et
technique — et de considérer des systèmes — biologiques, sociaux et techniques. Si l'on pense le
biologique, le cérébral mais aussi le psychologique et le social avec une épistémologie bâtarde,
nous avons une base saine pour articuler ces éléments mais aussi pour intégrer les acteurs
concernés en rendant justice à chacun de ces éléments. Je travaille sur cette question de la
parentalité et des écrans à Saint-Denis, une ville populaire de la banlieue parisienne, travail initié
avec Bernard Stiegler, Marie-Claude Bossière, Pédopsychiatre, Anne Kunvari, coordinatrice, et
impliquant des parents, notamment Hakima Yacouben, et des professionnelles du soin (du
care) de la PMI Pierre Semard, et se plaçant dans ce que Stiegler appelait la recherche
contributive. Ce travail mobilise sciences et philosophie pour contribuer à produire de nouveaux
savoirs.
</p><!-- l. 294 --><p class='indent'>   Mobiliser sciences et philosophie signifie ici travailler avec les personnes concernées et notamment
leur donner des éléments pour penser leur situation. Ainsi le concept de pharmakon, que Bernard
Stiegler a retravaillé à partir de la lecture par Derrida sur Platon, pose l'objet technique à la fois
comme poison et remède et permet de sortir tant du techno-solutionnisme que de l'objet technique
comme bouc-émissaire. Il est maintenant utilisé dans les consultations sur ce territoire. Ce travail
demande de plus un travail philosophique, théorique, pour re-penser les domaines pertinents de sorte
à les articuler, et ainsi produire collectivement les savoirs requis. Repenser les sciences permet donc
aussi de repenser leur inscription dans la société et leur rôle dans ce que l'on appelle
l'Anthropocène.
</p><!-- l. 302 --><p class='indent'>   C'est ainsi que la famille bâtarde de la déconstruction comme, l'écrit Shaj Mohan
<a href='#X2021-shaj'>Mohan</a> [<a href='#X2021-shaj'>2021a</a>], entend que ce nouveau commencement soit un nouveau commencement tant pour les
sciences que pour la philosophie.
                                                                               
                                                                               
</p>
   <h3 class='likesectionHead' id='references'><a id='x1-1000'></a>Références</h3>
<!-- l. 1 --><p class='noindent'>
  </p><div class='thebibliography'>
  <p class='bibitem'><span class='biblabel'>
<a id='Xburnet1957modification'></a><span class='bibsp'>   </span></span>Frank Macfarlane Burnet et al.  A modification of jerne's theory of antibody production
  using  the  concept  of  clonal  selection.   <span class='ecti-1000'>Australian Journal of Science</span>,  20(3)  :67-9,  1957.
  doi: <a href='https://doi.org/10.3322/canjclin.26.2.119'><span class='ectt-1000'>10.3322/canjclin.26.2.119</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-Divya'></a><span class='bibsp'>   </span></span>Divya  Dwivedi.     Le  pari  de  nancy.     <span class='ecti-1000'>Philosophy  World  Democracy</span>,  2021.     URL
  <a class='url' href='https://www.philosophy-world-democracy.org/other-beginning/le-pari-de-nancy'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/other-beginning/le-pari-de-nancy</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='XGilbert2016'></a><span class='bibsp'>   </span></span>Scott F.  Gilbert  and  Alfred I.  Tauber.   Rethinking  individuality  :  the  dialectics  of  the
  holobiont.  <span class='ecti-1000'>Biology &amp; Philosophy</span>, 31(6) :839-853, Nov 2016.  ISSN 1572-8404.  doi: <a href='https://doi.org/10.1007/s10539-016-9541-3'><span class='ectt-1000'>10.1007
  </span><span class='ectt-1000'>/s10539-016-9541-3</span></a>. URL <a class='url' href='https://doi.org/10.1007/s10539-016-9541-3'><span class='ectt-1000'>https://doi.org/10.1007/s10539-016-9541-3</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='Xlongo2012c'></a><span class='bibsp'>   </span></span>G. Longo. On the relevance of negative results. In <span class='ecti-1000'>Conference on Negation, duality, polarity,
  </span><span class='ecti-1000'>Marseille  2008</span>,  November  2012.      URL  <a class='url' href='http://www.influxus.eu/article474.html'><span class='ectt-1000'>http://www.influxus.eu/article474.html</span></a>.
  (proceedings in Influxus, electronic journal ).
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-longo-storm'></a><span class='bibsp'>   </span></span>Giuseppe   Longo.      Science   in   the   storm   4   —   agnotology,   artificial   intelligence,
  and    democracy.           <span class='ecti-1000'>Philosophy    World    Democracy</span>,    August    2021.           URL
  <a class='url' href='https://www.philosophy-world-democracy.org/articles-1/science-in-the-storm-part-4'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/articles-1/science-in-the-storm-part-4</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='Xdoi101586'></a><span class='bibsp'>   </span></span>Polly Matzinger. The evolution of the danger theory. <span class='ecti-1000'>Expert Review of Clinical Immunology</span>,
  8(4) :311-317, 2012. doi: <a href='https://doi.org/10.1586/eci.12.21'><span class='ectt-1000'>10.1586/eci.12.21</span></a>. URL <a class='url' href='https://doi.org/10.1586/eci.12.21'><span class='ectt-1000'>https://doi.org/10.1586/eci.12.21</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-shaj'></a><span class='bibsp'>   </span></span>Shaj Mohan. On the bastard family of deconstruction. <span class='ecti-1000'>Philosophy World Democracy</span>, 2021a.
  URL <a class='url' href='https://www.philosophy-world-democracy.org/other-beginning/on-the-bastard-family-of-deconstruction'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/other-beginning/on-the-bastard-family-of-deconstruction</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-shaj0'></a><span class='bibsp'>   </span></span>Shaj Mohan. Et le commencement de la philosophie. <span class='ecti-1000'>Philosophy World Democracy</span>, 2021b.
  URL <a class='url' href='https://www.philosophy-world-democracy.org/other-beginning/et-le-commencement'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/other-beginning/et-le-commencement</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='Xmohan2018gandhi'></a><span class='bibsp'>   </span></span>Shaj  Mohan  and  Divya  Dwivedi.   <span class='ecti-1000'>Gandhi and philosophy : On theological anti-politics</span>.
  Bloomsbury Publishing, 2018.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-Montevil-episteme-computational-empiricism'></a><span class='bibsp'>   </span></span>M. Montevil.                                        Computational              empiricism              :
  the reigning épistémè of the sciences.  <span class='ecti-1000'>Philosophy World Democracy</span>, July 2021a.  URL
  <a class='url' href='https://www.philosophy-world-democracy.org/computational-empiricism'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/computational-empiricism</span></a>.
                                                                               
                                                                               
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-Montevil-vaccines-germs-knowledge'></a><span class='bibsp'>   </span></span>M. Montevil. Vaccines, germs, and knowledge. <span class='ecti-1000'>Philosophy World Democracy</span>, April 2021b.
  URL <a class='url' href='https://www.philosophy-world-democracy.org/vaccines-germs-and-knowledge'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/vaccines-germs-and-knowledge</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='Xmontevilentropy'></a><span class='bibsp'>   </span></span>Maël  Montévil.    Entropies  and  the  anthropocene  crisis.    <span class='ecti-1000'>AI  and  society</span>,  5  2021.
  doi: <a href='https://doi.org/10.1007/s00146-021-01221-0'><span class='ectt-1000'>10.1007/s00146-021-01221-0</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='Xmomoidentity2019'></a><span class='bibsp'>   </span></span>Maël Montévil and Matteo Mossio.   The identity of organisms in scientific practice :
  Integrating historical and relational conceptions.  <span class='ecti-1000'>Frontiers in Physiology</span>, 11 :611, jun 2020.
  ISSN 1664-042X. doi: <a href='https://doi.org/10.3389/fphys.2020.00611'><span class='ectt-1000'>10.3389/fphys.2020.00611</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='Xchaptervariation'></a><span class='bibsp'>   </span></span>Maël Montévil, Matteo Mossio, A. Pocheville, and G. Longo.  Theoretical principles for
  biology : Variation.  <span class='ecti-1000'>Progress in Biophysics and Molecular Biology</span>, 122(1) :36-50, aug 2016.
  ISSN 0079-6107. doi: <a href='https://doi.org/10.1016/j.pbiomolbio.2016.08.005'><span class='ectt-1000'>10.1016/j.pbiomolbio.2016.08.005</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-nancy'></a><span class='bibsp'>   </span></span>Jean-Luc     Nancy.             «     la     fin     de     la     philosophie     et     la     tâche
  de     la     pensée     ».            <span class='ecti-1000'>Philosophy    World    Democracy</span>,     2021.            URL
  <a class='url' href='https://www.philosophy-world-democracy.org/other-beginning/la-fin-de-la-philosophie'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/other-beginning/la-fin-de-la-philosophie</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-soto-prol'></a><span class='bibsp'>   </span></span>A. Soto        and        C. Sonnenschein.                     The        proletarianization        of
  biological     thought.              <span class='ecti-1000'>Philosophy     World     Democracy</span>,     2021.              URL
  <a class='url' href='https://www.philosophy-world-democracy.org/articles-1/the-proletarianization-of-biological-thought'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/articles-1/the-proletarianization-of-biological-thought</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='Xstiegler2016disruption'></a><span class='bibsp'>   </span></span>Bernard Stiegler.  <span class='ecti-1000'>Dans la disruption : comment ne pas devenir fou'  </span>Éditions Les Liens
  qui libèrent, 2016.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='Xstiegler2020qatop2'></a><span class='bibsp'>   </span></span>Bernard Stiegler. <span class='ecti-1000'>Qu'appelle-t-on panser — 2. La leçon de Greta Thunberg</span>. Paris : Les Liens
  qui Libèrent, 2020. ISBN 979-10-209-0786-8.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='X2021-Supiot'></a><span class='bibsp'>   </span></span>A. Supiot. Du bon gouvernement de la recherche. <span class='ecti-1000'>Philosophy World Democracy</span>, July 2021.
  URL <a class='url' href='https://www.philosophy-world-democracy.org/du-bon-gouvernement'><span class='ectt-1000'>https://www.philosophy-world-democracy.org/du-bon-gouvernement</span></a>.
  </p>
  <p class='bibitem'><span class='biblabel'>
<a id='XVisconti2019'></a><span class='bibsp'>   </span></span>Alessia  Visconti,  Caroline I.  Le Roy,  Fabio  Rosa,  Niccolò  Rossi,  Tiphaine C.  Martin,
  Robert P. Mohney, Weizhong Li, Emanuele de Rinaldis, Jordana T. Bell, J. Craig Venter,
  Karen E. Nelson, Tim D. Spector, and Mario Falchi.   Interplay between the human gut
  microbiome and host metabolism.  <span class='ecti-1000'>Nature Communications</span>, 10(1) :4505, Oct 2019.  ISSN
  2041-1723. doi: <a href='https://doi.org/10.1038/s41467-019-12476-z'><span class='ectt-1000'>10.1038/s41467-019-12476-z</span></a>.
</p>
  </div>
   <div class='footnotes'><!-- l. 80 --><p class='indent'>     <span class='footnote-mark'><a href='#fn1x0-bk' id='fn1x0'>1.</a></span><span class='ecrm-0800'>Cf : Intervention de Shaj Mohan sur Descartes, Séminaire de Paris, à </span><span class='ecrm-0800'>paraître sous forme de
</span><span class='ecrm-0800'>livre.</span></p>                                                                                                                                            </div>
 
