 
<div class="refinements wrap ">
        <div class="ais-Panel lang-list" >
       
       <div class="ais-Panel-header">Language</div>
        <ul class="ais-HierarchicalMenu-list">
            {%- for lang in ["all","fr","en"] -%}
            {% if 0 === collections[currentType+lang] | length -%}
                            <li class="ais-RefinementList-item ">
                
                  {{ lang }}
            {% else %}        {% if lang == currentLang -%}
                <li class="ais-RefinementList-item  ais-RefinementList-item--selected ">
                
                  <a href="/all/{{ currentType}}/{% if currentYear %}{{ currentYear}}/{% endif %}{% if currentMonth %}{{ currentMonth}}/{% endif %}">{{ lang }}</a>
              {% else %}
                <li class="ais-RefinementList-item  "> 
                  <a href="/{{lang}}/{{ currentType }}/">{{ lang }}</a>
              {%- endif -%}{%- endif -%}
                <span class="ais-RefinementList-count">{{ collections[currentType+lang] | length }}</span>
                </li>
                {% endfor -%}
        </ul>
       
       </div>
        <div class="ais-Panel" id="types-menu{{append}}">
       <div class="ais-Panel-header">Types</div>
          <ul class="no-ais-RefinementList-list pubTypes">
            {% for type in pubtypes.types %}
            {% if 0 === collections[type+currentLang] | length -%}
                            <li class="ais-RefinementList-item {% if type in pubtypes.subtypes  -%}  ais-HierarchicalMenu-item2   {% endif %} ">
                
                  {{ type }}
            {% else %}
              {% if type == currentType -%}
                <li class="ais-RefinementList-item {% if type in pubtypes.subtypes  -%}  ais-HierarchicalMenu-item2   {% endif %} ais-RefinementList-item--selected ">
                
                  <a href="/{{ currentLang}}/archives/{% if currentYear %}{{ currentYear}}/{% endif %}{% if currentMonth %}{{ currentMonth}}/{% endif %}">{{ type }}</a>

              {% else %}
                <li class="ais-RefinementList-item {% if type in pubtypes.subtypes -%}  ais-HierarchicalMenu-item2   {% endif %} "> 
                  <a href="/{{ currentLang}}/{{ type }}/">{{ type }}</a>
              {%- endif -%}{%- endif -%}
                <span class="ais-RefinementList-count">{{ collections[type+currentLang] | length }}</span>
                </li>
            {% endfor %}
          </ul><p><a class=" " href="/publications/publicationsbyType/">Complete Publication list by category</a></p>
        </div>
      
      {#</div><div id="tags-list"></div>#}
      <div id="dates-menu{{append}}" class="ais-Panel">
          
      
        {% block dates %}
      
            <div class="ais-Panel-header">Dates</div>
            
              <ul class="ais-HierarchicalMenu-list">
                {% for year in collections["yearsWith" + currentType +currentLang ] %}
                  {% if year == currentYear %}
                    <li class="ais-HierarchicalMenu-item ais-HierarchicalMenu-item--selected ais-HierarchicalMenu-item--parent">
                      <div>
                        {% if currentMonth %}
                          <a class="ais-HierarchicalMenu-link" href="/{{currentLang}}/{{ currentType }}/{{ year }}/">{{ year }}</a>
                        {% else %}
                          <a class="ais-HierarchicalMenu-link" href="/{{currentLang}}/{{ currentType }}/">{{ year }}</a>
                        {% endif %}
                        <span class="ais-RefinementList-count">{{ collections[currentType+currentLang  + 'ByYear'][year] | length }}</span>
                      </div>
                    </li>
                  {% else %}
                    <li class="ais-HierarchicalMenu-item">
                      <div>
                        <a class="ais-HierarchicalMenu-link" href="/{{currentLang}}/{{ currentType }}/{{ year }}/">{{ year }}</a>
                        <span class="ais-RefinementList-count">{{ collections[currentType +currentLang + 'ByYear'][year] | length }}</span>
                      </div>
                    </li>
                  {% endif %}
                {%- endfor %}
              </ul>
            <p><a class=" " href="/publications/publicationsbyYear/">Complete Publication list by year</a></p>            
          </div>
        {% endblock %}
     
    {#<div id="langs-list"></div>#}
    </div>
    {#  <div id="stats"></div>
    <div id="powered-by"></div> #}
