---
excerpt: In their brave and challenging book, grounded in political science and the Continental philosophical tradition, Divya Dwivedi and Shaj Mohan engage with the resurgence of upper-caste supremacism in India and its justification via the legacy of ‘the Aryan doctrine’ and Hindu nationalism.
tags: 
    - philosophy
    - deconstruction
    - politics
date: 2023-11-05
illust: cover.jpg
illustClass:  darkFilter 
hasPDF: false
hasFullText: false
---

<p class="titleHead">Indian Philosophy, Indian Revolution</p>
<p class="subtitleHead">On Caste and Politics
</p>





<p class="authors">
Divya Dwivedi
Shaj Mohan
 </p>
<p class="authors">Edited & introduced by Maël Montévil</p>
<h2>Description </h2>
<p>
In their brave and challenging book, grounded in political science and the Continental philosophical tradition, Divya Dwivedi and Shaj Mohan engage with the resurgence of upper-caste supremacism in India and its justification via the legacy of ‘the Aryan doctrine’ and Hindu nationalism.</p>
<p>
Their essays were written from 2016 to 2023, when India’s democratic institutions were subverted and caste-based oppression overflowed into public space—killing and menacing the lower castes of all religions, minorities, women, students and the media.</p>
<p>
This book chronicles the ascending oppression of democracy in India, a veritable biography of authoritarianism. Dwivedi and Mohan reject simplistic accounts of India’s politics as the opposition between ‘Hindu majoritarian nationalism’ and ‘the religious minorities’, or between ‘Hindu fundamentalism’ and ‘religious pluralism’. They propose instead a genuinely transformative account of Indian politics, grounded in political philosophy and in the lower- caste majority position.</p>
<p>
What does revolution mean where the constitutional promise of equality is betrayed daily by the millennia- old inequality of caste? What does politics mean where religion serves as the justification for descent- based enslavement and indignity? Revolution has only one sense in India, the annihilation of caste; and ‘citizen’ has only one sense, the people of the state shedding caste and racism.</p>


<blockquote>
‘It takes courage to oppose the fascism of the Hindu-nationalist BJP that represents upper caste supremacism … An unambiguous revolutionary thesis … the philosophical interpretation about India that has been missing in the world … Not just a book for those interested in contemporary India, it is obligatory reading for all who want to understand the precipice towards which our entire world is moving … a book for everyone who seriously wants to think.’ — Slavoj Žižek
</blockquote>


