
{% if excerpt  %}
<p class="lead"> {{excerpt}}</p>
{%endif%}



{% from "macros/pubuttons.njk" import pubuttons %}
{% set item = {

pdfoutSup: pdfoutSup,
hasSup: hasSup,
      pdfout: pdfout,
      bibout: bibout,
      hasPDF: hasPDF,
   
      hasFullText: hasFullText,       
      peerReview: peerReview,
      type: type,
      typepub: typepub,
      lang: lang,
      page: {
          url: page.url
          },
      bibentry: {
          DOI: bibentry.DOI,
          URL: bibentry.URL
          }
      }
%}
   {% from "macros/publabel.njk" import publabel %}

  {% if not  (abstract === undefined) %}
<details class=" citation abstract"> 
     <summary> <h3>Abstract<h3></summary>
     <div class="abstract wrap p-summary"> <p>  
     {{ abstract  | safe }}</p >
     
     {% if not  (keyword === undefined) and not  (keyword === "") %}
          <p > <span class="paragraphHead2"><em> Keywords: </em></span>  {{ keyword  | safe }}</p >
           {% endif %}
  </div>
</details>
{% endif %}

  <aside id="CitationAnchor" class="citationW indent"><p > 
  {% icon "reference", "reference" %} {{ bibentry | bibcite2|divRemove|safe}}</p>
  

  <div class="handle notop"> {{pubuttons(item) |safe}}</div>
  </aside>




  {% if seeAlso%}
<p>{{seeAlso.text}} <a href="{% link_to seeAlso.grub %}">{{seeAlso.textLink}}</a>.</p>
{%endif%}
  
{% if  noToc %}


  {%else%}
  
<nav class="legibilityWidth tableContent">
 <h2 class="titleHead indent" id="toc-site"> Table of contents</h2>
  <h3 class="subtitleHead indent" > Reading time: ~{{ content   | readingTime({speed:170}) }}</h3>

 

  {% from "macros/overlayToc.njk" import overlayToc %}
{{overlayToc(content,"",title)|safe}}
</nav>  
<hr> 
 {%endif%}
