<nav class="navigation" >
  <div class="wrap">
    {# <span class="signature"><span title="Maël">M</span><span title=" Montévil">M</span></span> #}
    <ul class="menu" >
      <li class="navigation__home{% if page.url == '/' %} current" aria-current="page{% endif %}">
        <a href="/">home</a>
      </li>
      {% for type in[
      'publications',
        'posts',
        'links',
        'talks',
        'tags',
        'feeds',
        'about'
      ] %}
      
       {% if type in [
      'publications',
        'posts',
        'links',
        'talks'] %} {% set url = '/all/' + type + '/' %}
        {% else %}
        {% set url = '/' + type + '/' %}
        {% endif %}
        
        <li class="navigation__{{ type }}{% if url in page.url %} current" aria-current="page{% endif %}">
          <a href="{{ url }}">{{ type }}</a>
        </li>
      {% endfor %}
     
    </ul>
    <ul class="tools" >    {% if upnav %}
        <li class="navigation__{{ type }}{% if url in page.url %} current" aria-current="page{% endif %}">
         {#<a href="#{{ upnav }}">TOP</a>#}
          <a class="onclickbutton"  id="navToc"><span class="abssvg folded">{% icon "chevronRight", "Link" %}</span><span class="abssvg unfolded">{%- icon "chevronDown", "Link" -%}</span>toc</a>
        </li>
        {% endif %}
      <li class="tools__search navigation_archives{% if 'archives' in page.url %} current" aria-current="page{% endif %}">
        <a href="/all/archives/">{% icon "search", "Search" %} archives</a>
      </li>
      <li class="tools__search">
      <div class="theme-switch-wrapper">
    <label class=" tools__search  theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" class="theme-switchb" aria-label="Night mode"/>
  
  </label>
</div>

      </li>
    </ul>
  </div>
</nav>
