---
excerpt: Like theoretical physics, theoretical biology is not just mathematical modeling. Instead, it should strive to find suitable first principles to frame experiments and models.
tags: 
    - symmetry
---

<!--CompileMaths-->

<div class="maketitle">
  <p class="titleHead" id="which-first-principles-for-mathematical-modelling-in-biology">Which first principles for mathematical modelling in biology?<span class="thank-mark"><a href="#tk-1" id="kt-1">*</a></span></p>
  <div class="authors">
    Maël Montévil
    <span class="thank-mark"><a href="#tk-2" id="kt-2"><span class="cmsy-10x-x-120">†</span></a></span>
  </div>
</div>
<h3 class="abstract">Abstract</h3>

  <p class="indent">
    Like theoretical physics, theoretical biology is not just mathematical modeling. Instead, theoretical biology should strive to find suitable first principles to ground the understanding of biological phenomena and ultimately frame biological experiments and mathematical models. First principles in physics are expressed in terms of symmetries and the associated conservations, on the one side, and optimization on the other side. In biology, we argue instead that a strong notion of variation is fundamental. This notion encompasses new possibilities and the historicity of biological phenomena. By contrast, the relative regularity of some aspects of biological organisms, which we call constraints, should be regarded as the consequence of a mutual stabilization of the parts of organisms. We exemplify several aspects of this framework with the modeling of allometric relationships. Our change of perspective leads to reconsider the meaning of measurements and the
    structure of the space of description.
  </p>

<p class="noindent"><span class="paragraphHead">Keywords:</span> theoretical biology, allometry, variability, first principles, invariants, historicity</p>
<p class="noindent"><span class="paragraphHead">MSC classification:</span> primary 92B05, secondary 92C42, 92C30, 92C15, 92C05, 92B10, 92D15</p>
<h2 class="sectionHead" id="1-introduction"><span class="titlemark">1 </span>Introduction</h2>
<p class="noindent">
  General theoretical frameworks are scarcely addressed in the study of organisms and their parts. By contrast, this kind of work originated the theoretical frameworks of physics, which are the starting point of most investigations in
  contemporary mathematical physics. Even in physics, Peter Higgs has emphasized that it would be particularly challenging to perform his theoretical work today [<a href="#Xaitkenhead_2013">1</a>]. Thinking at the level of encompassing
  theoretical frameworks involves a reorganization of knowledge and of the way we produce knowledge. Without such reorganizations, knowledge becomes increasingly fragmented by local epistemic innovations and their constraints that
  generate increasingly contradictory sub-fields and sub-sub-fields. Current biology seems to follow this trend. For example, the concept of gene has shattered in many different local, operational concepts [
  <a href="#Xfox2000century">9</a>, <a href="#XELHANI2007">7</a>].
</p>
<p class="indent">
  In this context, the emergence of mathematical modeling in biology is both a chance and a peril for biological knowledge. The peril is an amplification of this trend of fragmentation. Mathematical modeling is not performed by biologists
  themselves but is performed by mathematicians, computer scientists or physicists. Their works bring new concepts in biology, but these tools and theoretical frameworks were not designed to accommodate the specificities of biology, and
  the scientists involved are not always knowledgeable of these specificities. For example, we have reviewed the hypothesis used to model the behavior of cells in models of morphogenesis, and these hypotheses were for a large part
  contradictory [<a href="#Xchapterconstraints">18</a>]. At the same time, interdisciplinary approaches to biology are also a chance for biological knowledge. For example, thinking in terms of systems is a way to overcome the linear
  approach of causality which dominates traditional molecular biology [<a href="#XNoble2017">21</a>]. However, biology is neither physics nor dirty or noisy physics. Importing the ways of thinking of physics and its mathematical objects
  of choice in biology without working for a proper theoretical integration would increase the fragmentation of biological knowledge by multiplying the use of hypotheses inconsistent with each other. Foucault stated that working means
  undertaking to think differently [<a href="#Xfoucault2">8</a>]. This process takes time and requires constructive contradictions which are both disrupted by the current organization of scientific institutions and its management by the
  competition for survival, criticized by Higgs among many others [<a href="#Xaitkenhead_2013">1</a>].
</p>
<p class="indent">
  In this paper, we will present several theoretical ideas for biology, which are the result of a transdisciplinary effort towards a theory of organisms. As a preliminary discussion and in order to avoid possible confusions, we want to
  emphasize that the authority of physics is often misused in biology. The interface between physics and biology is instantiated in a variety of ways that entail a variety of epistemological statuses. Let us develop this point.
</p>
<p class="indent">
  Physics in biology can mean a genuine use of a physical theory to understand an aspect of a biological object. For example, the application of thermodynamic principles shows that organisms depend on fluxes of matter and energy in order
  to remain far-from-thermodynamic equilibrium situations. Similarly, the physical properties of biological molecules are frequently investigated from a purely physical perspective.
</p>
<p class="indent">
  However, the use of physics can have a distinct epistemological meaning: the use of mathematical models designed to understand abiotic phenomena in order to understand biological phenomena when no theoretical principle of physics
  justifies this transfer. In many cases, it is a mathematical and conceptual structure that is transferred from the study of one phenomenon to another. For example, statistical mechanics was designed to study the collective behavior of
  large collections of particles and to provide a deeper understanding of thermodynamics. The mathematical framework of statistical mechanics is used in current biophysics to study flocks of birds or schools of fishes [
  <a href="#XCavagna29062010">4</a>, <a href="#Xmora2010biological">19</a>]. We do not intend here to criticize these approaches <span class="cmti-10">per se</span>. However, it stands to reason that they depend on specific
  hypotheses concerning fishes and birds since it does not follow from the laws of physics that they should behave like (strange) molecules. It should be clear that in these cases, the validity of the models inherited from physics depends
  on biological hypotheses: hypotheses on birds and fishes, which are elementary objects of the models. To further illustrate this idea, let us recall that the concept of temperature is the result of a very long history of
  conceptualization in physics and is objectivized by a diversity of empirical and theoretical considerations [<a href="#Xchang2004inventing">5</a>]. In these models, the concept of temperature becomes relevant
  <span class="cmti-10">in abstracto </span>for systems like flocks of birds, but it does not capitalize on the work performed in physics beyond its purely formal role in statistical mechanics.
</p>
<p class="indent">
  Last but not least, the use of Physics in biology can mean the use of the physical method to understand natural phenomena, which is characterized by its use of mathematics. For example, the mathematical approach of population genetics
  neither builds on physical laws nor use pre-existing models of physics; however, scientists in this field strive to follow the same epistemology.
</p>
<p class="indent">
  Even though each of these approaches has its merits and successes, we dare to think that they should be embedded in a more profound theoretical framework based on genuinely biological principles. As far as existing mathematical models
  are concerned, our perspective can be compared to one of the early quantum physicists who imported classical potentials in an entirely new epistemological, theoretical and mathematical framework. In the case of biology, we think that it
  is not possible to elude the issues raised by the historicity of living phenomena that is implied by the theory of evolution. We think that we also have to accommodate the interdependencies that characterize organized objects such as
  cells and organisms and that are shaped over historical and ontogenetic times. Last, the behavior of cells and organisms requires a specific analysis. We will give an overview of the concepts which follow from the analysis of these
  ideas, and illustrate some of them with a mathematical schema for allometric relations in biology.
</p>
<h2 class="sectionHead" id="2-towards-a-theoretical-biology"><span class="titlemark">2 </span>Towards a theoretical biology</h2>
<p class="noindent">
  In order to address how we should theorize in biology, it is beneficial to take a step back and start with basic ideas. Biological objects are far from thermodynamic equilibrium, and their existence is precarious. They present a
  remarkable diversity in the way they sustain their existence, and their diversification is an intrinsic component of the continuing, collective ability of biological objects to endure. Organisms reproduce, which means that they generate
  other organisms that are similar but display differences in their shapes and the way they live. Transformism, the core of the theory of evolution, posits that the diversity of current life forms is the outcome of this process of
  reproduction with variation starting from simple life forms (reproduction with modification in the language of Darwin [<a href="#Xdarwin1872origin">6</a>]).
</p>
<p class="indent">
  Biological phenomena are often projected on a physics worldview where understanding an object means describing its state in a mathematical phase space endowed with a dynamical or structural equation, often justified by a principle of
  optimization. From this perspective, biological objects would be complex objects in a high-dimensional space. However, this perspective has little practical value in everyday biology and does not build on the available theoretical
  concepts, that is to say, the theory of evolution and other rationals that we will develop below. It expands speculatively on something that we do not have, that is to say, a sound theoretical definition of a fixed phase space endowed
  with justified rules describing state changes.
</p>
<p class="indent">
  When describing experiments, biologists cannot scan the complete organization of each organism — it is doubtful that this notion has a genuine meaning without a generic description of the way organisms sustain their existence. Even if
  such an operation would be possible for one organism, its sibling, even its twin, would be somewhat different in the way it is organized.
</p>
<p class="indent">
  In order to build on the structure of the theory of evolution, systematists have designed a framework, called the phylogenetic method that enables them to classify living beings by their estimated genealogical origin, that is to say,
  their past [<a href="#Xlecointre2006tree">12</a>]. This method implies that every time a scientific work uses a name defined by systematics, for example, the name ”mouse” (<span class="cmti-10">Mus musculus</span>), this
  scientific work logically depends on a historical epistemology [<a href="#Xmontevilmeasure">15</a>].
</p>
<p class="indent">
  The use of a historical epistemology has the remarkable property of being able to accommodate the variations of biological objects; however strong they may be. Being a tetrapod does not imply that an animal would have four limbs, it
  merely implies that an animal descends from the last common ancestor of a group of organisms, that animals of this group are more closely related to each other than to other life forms, and that this group is called tetrapods. Having
  this shared ancestor goes with the idea that two tetrapods share many traits, and more precisely have many organizational similarities. It does not imply, however, that there would be a trait shared by all tetrapods. For every trait,
  there is always the possibility that a lineage would lose it or transform it. For example, tetrapods do not necessarily have four limbs as exemplified by snakes. The reference point to define a biological group is the theoretical, last
  common ancestor of this group and not the theoretical description of a phenotype. Elements of a group do not necessarily share a trait or fixed set of traits. For example, it is perfectly acceptable to have a group with characters
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msub>
      <mrow>
        <mi>a</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
    </msub>
    <mo class="MathClass-punc">,</mo>
    <mo class="MathClass-punc">.</mo>
    <mo class="MathClass-punc">.</mo>
    <mo class="MathClass-punc">.</mo>
    <mo class="MathClass-punc">,</mo>
    <msub>
      <mrow>
        <mi>a</mi>
      </mrow>
      <mrow>
        <mi>n</mi>
      </mrow>
    </msub>
  </math>
  and
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>n</mi>
  </math> species
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msub>
      <mrow>
        <mi>S</mi>
      </mrow>
      <mrow>
        <mi>k</mi>
      </mrow>
    </msub>
  </math>
  with characters
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msub>
      <mrow>
        <mrow>
          <mo class="MathClass-open">(</mo>
          <mrow>
            <msub>
              <mrow>
                <mi>a</mi>
              </mrow>
              <mrow>
                <mi>i</mi>
              </mrow>
            </msub>
          </mrow>
          <mo class="MathClass-close">)</mo>
        </mrow>
      </mrow>
      <mrow>
        <mi>i</mi>
        <mo class="MathClass-rel">≠</mo>
        <mi>k</mi>
      </mrow>
    </msub>
  </math>. In this case, all these species are clearly related since they have much in common, but at the same time, there is no single character that is shared by all the species.
</p>
<p class="indent">
  Of course, the use of historical epistemology is not restricted to systematics. In biological practice, controlled, reproducing pools of organisms and cells are established and maintained to facilitate the use of objects having a recent
  shared past. Here, again, concrete objects are described by their past. The description and the control of this past include the context in which they live. This methodology leads to define strains, sub-strains, and sub-sub-strain in
  order to accommodate the never stopping variations of biological objects and their continuous production of a history, even in highly constrained conditions [<a href="#Xmontevilmeasure">15</a>].
</p>
<p class="indent">
  Historical reasoning is a way to accommodate biological variations in a conceptually accurate manner. It is also a method to have control on the similarity between biological objects. For example, two mice are more similar overall, than
  a mouse is similar to a rat... or a pine tree. However, part of the anatomical structure of a single goat specimen is sometimes closer to another species than to goats: following the principle of variation such control is never
  qualitatively perfect [<a href="#Xwest2003developmental">31</a>]. Nevertheless, control of the genealogical proximity of objects is the principal manner by which the similarity of objects is established in experiments, but sometimes at
  the cost of observing features that may be idiosyncratic to a specific strain or cell line. This situation leads to compromises between working with similar objects and the generality of the results [<a href="#Xmeasurement">3</a>].
</p>
<p class="indent">
  These considerations lead to assuming that, in biology, variation and historicity come first [<a href="#Xchaptervariation">17</a>]. This assumption implies a departure from the theoretical and epistemological structure of physical
  theories. In physics, invariants and invariant-preserving transformations come first, they correspond to “laws of nature”, or in modern terms, to theoretical principles [<a href="#Xvan1989laws">28</a>, 
  <a href="#Xbailly2011">2</a>]. In physics, the changes of natural phenomena are understood as changes of states in mathematical spaces following rules that are structured by this encompassing invariance. In biology, instead, we posited
  a principle of variation stating that the changes of biological objects can require changes of mathematical structure to describe them. When we assume that variation and historicity come first, the question of stability or at least
  local invariance requires a renewed theoretical analysis. However, the principle of variation does not imply that biological phenomena are pure chaos (in the philosophical sense).
</p>
<p class="indent">
  Biological objects display regularities, but the nature of their regularities is more labile than physical regularities, and they require a specific concept and epistemology. We have proposed to call them constraints [
  <a href="#Xchapterccl">26</a>]. Since variation and historicity come first, constraints come second. Biological constraints emerge historically as a result of variations and may change or even disappear with time. There is a fundamental
  contingency in the constraints which shape a given life-form. At the same time, the capacity of a constraint to last over time is not granted <span class="cmti-10">a priori </span>by the general framework. A lasting constraint
  requires an explanation.
</p>
<p class="indent">
  There are at least two kinds of such explanations which are considered fundamental in biology even though they are not habitually interpreted as such. The first is the principle of natural selection. As pointed out by Guillaume
  Lecointre, the first epistemological role of natural selection is to be a principle of conservation as illustrated by the subtitle of the <span class="cmti-10">Origin of Species</span>: “the
  <span class="cmti-10">preservation </span>of favored races in the struggle for life” (we emphasize) [<a href="#Xdarwin1872origin">6</a>]. For example, why is the genetic code stable at the level of ribosomes? The main reason, we
  argue, is that its changes lead to the complete randomization of the protein produced with respect to their historical functions so that the resulting cells or organisms are not viable. However, it is a conceptual mistake to postulate
  that there would be an invariant mapping from DNA sequences to proteins — this mistake is presumably inherited from physical reasoning, provided that the author of this hypothesis, Francis Crick, is a physicist by training. Many
  variations occurred that changed the production of proteins. The specificity of the genetic code in ribosomes is that its alteration entails too many changes to be viable.
</p>
<p class="indent">
  The second kind of explanation for the stability of a constraint takes place at the level of a given organism or cell. In organized objects, constraints mutually maintain each other, which has led us to formulate the principle of
  organization [<a href="#Xchapterorganization">20</a>]. This idea stems from a long tradition in theoretical biology. For example, the concept of autopoiesis posits that living beings are composed of a network of parts which regenerate
  its parts [<a href="#XVarela1974187">29</a>]. Rosen developed a similar rationale with a different formalism, based on category theory [<a href="#Xrosen2005">22</a>]. As the last example, starting from a thermodynamic perspective,
  Kauffman developed the idea that living beings depend on cycles between work and constraints, where work produces constraints and constraints shape work [<a href="#Xkauffman2002investigations">11</a>]. This kind of ideas is mobilized to
  provide a theoretical structure to systems biology [<a href="#Xwolkenhauer2013search">32</a>]. In the concept of closure of constraints, a constraint act on a process which stabilizes or regenerate another constraint and so on till a
  circularity appears, so that constraints which are part of an organization collectively stabilize each other [<a href="#XMontevil2015c">16</a>].
</p>
<p class="indent">
  Last, cell theory is an enduring concept of biology. Cell theory states that organisms are made of cells and that <span class="cmti-10">omnis cellula e cellula</span>, that is to say, all cells come from another cell by the
  process of proliferation. However, cell theory is insufficient to specify the causal structure required to understand cellular behaviors. To specify this causal structure, we can use the same kind of reasoning than in classical
  mechanics when defining inertia. What happens to an object when nothing is done to it? Should cells be considered as spontaneously quiescent so that stimulations would be required for them to move or proliferate, or should cells be
  considered as spontaneously moving and proliferating so that quiescence would be the result of constraints? In line with the theory of evolution, we follow the second hypothesis and posit that the default state of cells is proliferation
  with variation and motility [<a href="#XSociety">25</a>, <a href="#Xchapterdefault">27</a>]. This principle originates from a similar question that the principle of inertia; however, it has very different epistemological and
  theoretical ramifications. The principle of inertia describes the conservation of the momentum of an isolated system. By contrast, the agentivity underlying the default state of cells describes a situation of non-conservation.
  Nevertheless, this approach enabled us to develop a mathematical model of epithelial morphogenesis in tissue culture [<a href="#Xchapterconstraints">18</a>].
</p>
<p class="indent">
  In this setting, possible general definitions of biological objects need to be compatible with the primacy of historicity. For example, we posit that the principle of organization is valid, but the structure of biological organizations
  changed in diverse ways in evolution, with the appearance of multi-cellular organisms and insect colonies, for example. Viruses can also be analyzed in this manner: even though part of their life cycle is not organized, they depend on
  cells and their organization to reproduce and persist.
</p>
<p class="indent">
  In the second part of this article, we focus on a specific method of investigation in biology. We show that assuming that variation and historicity come first epistemologically leads to a renewed perspective on this method and
  especially on the description space that underlies it.
</p>
<h2 class="sectionHead" id="3-a-mathematical-schema-for-biological-allometry"><span class="titlemark">3 </span>A mathematical schema for biological allometry</h2>
<p class="noindent">
  In physics and biology, it is common practice to investigate how a variable of interest changes with the size of a system. In physics, this leads to the distinction between intensive and extensive quantities, with more complex
  situations being possible. In biology, the size is typically the mass of the organisms studied, and this approach is called allometry. For example, biologists studied how metabolism changes with the mass of mammals. Here, the metabolism
  is measured by oxygen consumption rate, that is to say, respiration. Allometric relations take the form of a scaling law
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>b</mi>
    <mo class="MathClass-rel">=</mo>
    <msub>
      <mrow>
        <mi>b</mi>
      </mrow>
      <mrow>
        <mn>0</mn>
      </mrow>
    </msub>
    <msup>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mrow>
        <mi>α</mi>
      </mrow>
    </msup>
  </math>. There have been heated debates on the value of
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>α</mi>
  </math> or even the existence of such a mathematical relation [<a href="#Xsavage2004">23</a>, <a href="#X101086606023">24</a>, 
  <a href="#Xscaling2014">14</a>]. It follows from our general discussion above that such a ”law”, if valid enough, is theoretically the results of a combination of shared constraints. As a result, this relation can be infringed or
  transformed. Empirically,
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>α</mi>
  </math> is different depending on the definitions of organisms’ activity leading to distinct experimental and theoretical definitions of the metabolism.
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>α</mi>
  </math> is also impacted by the various features which appeared in evolution and impact the metabolism.
</p>
<p class="indent">
  Let us take a mathematical step back. The functional equation <a href="#x1-5001r1">1</a> means that scaling the mass leads to scaling the variable represented by
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>b</mi>
    <mo class="MathClass-rel">=</mo>
    <mi>f</mi>
    <mrow>
      <mo class="MathClass-open">(</mo>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mo class="MathClass-close">)</mo>
    </mrow>
  </math>. In other words, a large animal would be an enlarged small animal and vice versa. The animals of different sizes are assumed to be symmetric, but the symmetry is not trivial so that discovering it would have a deep biological meaning.
</p>
<math display="block" xmlns="http://www.w3.org/1998/Math/MathML">
  <mtable class="align" columnalign="left">
    <mtr>
      <mtd class="align-odd" columnalign="right">
        <mi>f</mi>
        <mrow>
          <mo class="MathClass-open">(</mo>
          <mrow>
            <mi>λ</mi>
            <mi>m</mi>
          </mrow>
          <mo class="MathClass-close">)</mo>
        </mrow>
      </mtd>
      <mtd class="align-even">
        <mo class="MathClass-rel">=</mo>
        <mi>g</mi>
        <mrow>
          <mo class="MathClass-open">(</mo>
          <mrow>
            <mi>λ</mi>
          </mrow>
          <mo class="MathClass-close">)</mo>
        </mrow>
        <mi>f</mi>
        <mrow>
          <mo class="MathClass-open">(</mo>
          <mrow>
            <mi>m</mi>
          </mrow>
          <mo class="MathClass-close">)</mo>
        </mrow>
        <mspace width="2em"></mspace>
      </mtd>
      <mtd class="align-label" columnalign="right">
        <mstyle class="label" id="x1-5001r1"></mstyle>
        <mstyle class="maketag">
          <mtext>(1)</mtext>
        </mstyle>
      </mtd>
    </mtr>
  </mtable>
</math>
<p class="noindent">
  Solving this functional equation is usually performed with the assumption that the function
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>f</mi>
  </math> is continuous. This assumption leads to
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mo class="MathClass-op">∃</mo>
    <mi>α</mi>
    <mo class="MathClass-punc">,</mo>
    <mo class="MathClass-op">∀</mo>
    <mi>m</mi>
    <mo class="MathClass-punc">,</mo>
    <mi>f</mi>
    <mrow>
      <mo class="MathClass-open">(</mo>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mo class="MathClass-close">)</mo>
    </mrow>
    <mo class="MathClass-rel">=</mo>
    <mi>f</mi>
    <mrow>
      <mo class="MathClass-open">(</mo>
      <mrow>
        <mn>1</mn>
      </mrow>
      <mo class="MathClass-close">)</mo>
    </mrow>
    <msup>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mrow>
        <mi>α</mi>
      </mrow>
    </msup>
  </math>, which is the usual scaling relation. This relation is too rigid to capture accurately biological phenomena since it describes a situation where constraints would be fixed, and this contradicts our concept of constraints.
</p>
<p class="indent">
  However let us drop the assumption of continuity. Then, equation <a href="#x1-5001r1">1</a> only entails that for all
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msub>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mrow>
        <mn>0</mn>
      </mrow>
    </msub>
  </math>
  in
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msup>
      <mrow>
        <mi>ℝ</mi>
      </mrow>
      <mrow>
        <mo class="MathClass-bin">*</mo>
        <mo class="MathClass-bin">+</mo>
      </mrow>
    </msup>
  </math>
  there exists
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msub>
      <mrow>
        <mi>α</mi>
      </mrow>
      <mrow>
        <msub>
          <mrow>
            <mi>m</mi>
          </mrow>
          <mrow>
            <mn>0</mn>
          </mrow>
        </msub>
      </mrow>
    </msub>
  </math>
  such that for all
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>q</mi>
  </math> in
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>,
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>f</mi>
    <mrow>
      <mo class="MathClass-open">(</mo>
      <mrow>
        <msubsup>
          <mrow>
            <mi>m</mi>
          </mrow>
          <mrow>
            <mn>0</mn>
          </mrow>
          <mrow>
            <mi>q</mi>
          </mrow>
        </msubsup>
      </mrow>
      <mo class="MathClass-close">)</mo>
    </mrow>
    <mo class="MathClass-rel">=</mo>
    <mi>f</mi>
    <mrow>
      <mo class="MathClass-open">(</mo>
      <mrow>
        <mn>1</mn>
      </mrow>
      <mo class="MathClass-close">)</mo>
    </mrow>
    <mi>g</mi>
    <msup>
      <mrow>
        <mrow>
          <mo class="MathClass-open">(</mo>
          <mrow>
            <msub>
              <mrow>
                <mi>m</mi>
              </mrow>
              <mrow>
                <mn>0</mn>
              </mrow>
            </msub>
          </mrow>
          <mo class="MathClass-close">)</mo>
        </mrow>
      </mrow>
      <mrow>
        <mi>q</mi>
        <msub>
          <mrow>
            <mi>α</mi>
          </mrow>
          <mrow>
            <msub>
              <mrow>
                <mi>m</mi>
              </mrow>
              <mrow>
                <mn>0</mn>
              </mrow>
            </msub>
          </mrow>
        </msub>
      </mrow>
    </msup>
  </math>. To discuss this situation, it is simpler to transform the multiplicative structure into an additive structure. Equation <a href="#x1-5001r1">1</a> becomes:
</p>
<p>
  <math display="block" xmlns="http://www.w3.org/1998/Math/MathML">
    <mtable class="align" columnalign="left">
      <mtr>
        <mtd class="align-odd" columnalign="right">
          <mi>F</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <mi>M</mi>
              <mo class="MathClass-bin">+</mo>
              <mi>N</mi>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">=</mo>
          <mi>G</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-bin">+</mo>
          <mi>F</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <mi>N</mi>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5002r2"></mstyle>
          <mstyle class="maketag">
            <mtext>(2)</mtext>
          </mstyle>
        </mtd>
      </mtr>
    </mtable>
  </math>
</p>
<p class="indent">
  Then, the solutions are affine functions on
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℝ</mi>
  </math> as a
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>-affine space. Since we are using
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>-linearity, we use the standard notation
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>x</mi>
    <mi>ℚ</mi>
    <mo class="MathClass-rel">=</mo>
    <mrow>
      <mo class="MathClass-open">{</mo>
      <mrow>
        <mi>x</mi>
        <mi>q</mi>
        <mo class="MathClass-rel">|</mo>
        <mi>q</mi>
        <mo class="MathClass-rel">∈</mo>
        <mi>ℚ</mi>
      </mrow>
      <mo class="MathClass-close">}</mo>
    </mrow>
  </math>, which is a vectorial
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>-line, and also
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>y</mi>
    <mo class="MathClass-bin">+</mo>
    <mi>x</mi>
    <mi>ℚ</mi>
  </math> which is an affine
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>-line.
</p>
<p class="indent">The use of this mathematical object is not usual in natural sciences. We will show that it illustrates several distinctive characteristics of biology.</p>
<p class="indent">
  To make the meaning of this framework explicit, let us exhibit the quantity playing the role of
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>α</mi>
  </math> in this framework. We propose to define the <span class="cmti-10">physical form </span>corresponding to a change of mass, in order to clarify the
  biological and experimental meaning of such a transformation.
</p>
<p>
  <math display="block" xmlns="http://www.w3.org/1998/Math/MathML">
    <mtable class="align" columnalign="left">
      <mtr>
        <mtd class="align-odd" columnalign="right">
          <msub>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>0</mn>
            </mrow>
          </msub>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">→</mo>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-odd" columnalign="right">
          <msub>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>0</mn>
            </mrow>
          </msub>
          <mo class="MathClass-bin">+</mo>
          <mi>q</mi>
          <msub>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>1</mn>
            </mrow>
          </msub>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">=</mo>
          <mi>M</mi>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5003r3"></mstyle>
          <mstyle class="maketag">
            <mtext>(3)</mtext>
          </mstyle>
        </mtd>
      </mtr>
      <mtr>
        <mtd class="align-odd" columnalign="right">
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">→</mo>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-odd" columnalign="right">
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
              <mo class="MathClass-bin">+</mo>
              <mi>q</mi>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">=</mo>
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-bin">+</mo>
          <mi>q</mi>
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5004r4"></mstyle>
          <mstyle class="maketag">
            <mtext>(4)</mtext>
          </mstyle>
        </mtd>
      </mtr>
      <mtr>
        <mtd class="align-odd" columnalign="right"></mtd>
        <mtd class="align-even">
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-odd" columnalign="right"></mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">=</mo>
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-bin">+</mo>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
              <mo class="MathClass-bin">+</mo>
              <mi>q</mi>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
              <mo class="MathClass-bin">-</mo>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mfrac>
            <mrow>
              <mi>B</mi>
              <mrow>
                <mo class="MathClass-open">(</mo>
                <mrow>
                  <msub>
                    <mrow>
                      <mi>M</mi>
                    </mrow>
                    <mrow>
                      <mn>1</mn>
                    </mrow>
                  </msub>
                </mrow>
                <mo class="MathClass-close">)</mo>
              </mrow>
            </mrow>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
          </mfrac>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5005r5"></mstyle>
          <mstyle class="maketag">
            <mtext>(5)</mtext>
          </mstyle>
        </mtd>
      </mtr>
      <mtr>
        <mtd class="align-odd" columnalign="right"></mtd>
        <mtd class="align-even">
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-odd" columnalign="right"></mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">=</mo>
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-bin">-</mo>
          <msub>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>0</mn>
            </mrow>
          </msub>
          <mfrac>
            <mrow>
              <mi>B</mi>
              <mrow>
                <mo class="MathClass-open">(</mo>
                <mrow>
                  <msub>
                    <mrow>
                      <mi>M</mi>
                    </mrow>
                    <mrow>
                      <mn>1</mn>
                    </mrow>
                  </msub>
                </mrow>
                <mo class="MathClass-close">)</mo>
              </mrow>
            </mrow>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
          </mfrac>
          <mo class="MathClass-bin">+</mo>
          <mi>M</mi>
          <mfrac>
            <mrow>
              <mi>B</mi>
              <mrow>
                <mo class="MathClass-open">(</mo>
                <mrow>
                  <msub>
                    <mrow>
                      <mi>M</mi>
                    </mrow>
                    <mrow>
                      <mn>1</mn>
                    </mrow>
                  </msub>
                </mrow>
                <mo class="MathClass-close">)</mo>
              </mrow>
            </mrow>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
          </mfrac>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5006r6"></mstyle>
          <mstyle class="maketag">
            <mtext>(6)</mtext>
          </mstyle>
        </mtd>
      </mtr>
      <mtr>
        <mtd class="align-odd" columnalign="right"></mtd>
        <mtd class="align-even">
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-odd" columnalign="right"></mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">=</mo>
          <mi>A</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
              <mo class="MathClass-punc">,</mo>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-bin">+</mo>
          <mi>M</mi>
          <mfrac>
            <mrow>
              <mi>B</mi>
              <mrow>
                <mo class="MathClass-open">(</mo>
                <mrow>
                  <msub>
                    <mrow>
                      <mi>M</mi>
                    </mrow>
                    <mrow>
                      <mn>1</mn>
                    </mrow>
                  </msub>
                </mrow>
                <mo class="MathClass-close">)</mo>
              </mrow>
            </mrow>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
          </mfrac>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5007r7"></mstyle>
          <mstyle class="maketag">
            <mtext>(7)</mtext>
          </mstyle>
        </mtd>
      </mtr>
    </mtable>
  </math>
</p>
<p class="indent">
  Thus, the allometric exponent
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>α</mi>
  </math> is given by
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>α</mi>
    <mo class="MathClass-rel">=</mo>
    <mi>B</mi>
    <mrow>
      <mo class="MathClass-open">(</mo>
      <mrow>
        <msub>
          <mrow>
            <mi>M</mi>
          </mrow>
          <mrow>
            <mn>1</mn>
          </mrow>
        </msub>
      </mrow>
      <mo class="MathClass-close">)</mo>
    </mrow>
    <mo class="MathClass-bin">∕</mo>
    <msub>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
    </msub>
  </math>. We should emphasize again that this equation is only valid for
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>M</mi>
  </math> of the forms
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>M</mi>
    <mo class="MathClass-rel">=</mo>
    <msub>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>0</mn>
      </mrow>
    </msub>
    <mo class="MathClass-bin">+</mo>
    <mi>q</mi>
    <msub>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
    </msub>
  </math>, with
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>q</mi>
    <mo class="MathClass-rel">∈</mo>
    <mi>ℚ</mi>
  </math>. We call the equational form of equation <a href="#x1-5007r7">7</a> the
  <span class="cmti-10">physical form </span>of the equation because it relates two physically measurable quantities, provided that the transformation remains in the same
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>-line. In the multiplicative perspective associated with scaling laws, it corresponds to
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>b</mi>
    <mrow>
      <mo class="MathClass-open">(</mo>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mo class="MathClass-close">)</mo>
    </mrow>
    <mo class="MathClass-rel">=</mo>
    <mi>a</mi>
    <mrow>
      <mo class="MathClass-open">(</mo>
      <mrow>
        <msub>
          <mrow>
            <mi>M</mi>
          </mrow>
          <mrow>
            <mn>0</mn>
          </mrow>
        </msub>
        <mo class="MathClass-punc">,</mo>
        <msub>
          <mrow>
            <mi>M</mi>
          </mrow>
          <mrow>
            <mn>1</mn>
          </mrow>
        </msub>
      </mrow>
      <mo class="MathClass-close">)</mo>
    </mrow>
    <msup>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mrow>
        <mi>B</mi>
        <mrow>
          <mo class="MathClass-open">(</mo>
          <mrow>
            <msub>
              <mrow>
                <mi>M</mi>
              </mrow>
              <mrow>
                <mn>1</mn>
              </mrow>
            </msub>
          </mrow>
          <mo class="MathClass-close">)</mo>
        </mrow>
        <mo class="MathClass-bin">∕</mo>
        <msub>
          <mrow>
            <mi>M</mi>
          </mrow>
          <mrow>
            <mn>1</mn>
          </mrow>
        </msub>
      </mrow>
    </msup>
    <mo class="MathClass-rel">=</mo>
    <mi>a</mi>
    <msup>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mrow>
        <mi>α</mi>
      </mrow>
    </msup>
  </math>.
</p>
<p class="indent">
  Then, the usual allometric relation for the metabolism of mammals corresponds to the following for
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>q</mi>
    <mo class="MathClass-rel">∈</mo>
    <mi>ℚ</mi>
  </math> [<a href="#Xsavage2004">23</a>]:
</p>
<p>
  <math display="block" xmlns="http://www.w3.org/1998/Math/MathML">
    <mtable class="align" columnalign="left">
      <mtr>
        <mtd class="align-odd" columnalign="right">
          <msub>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>0</mn>
            </mrow>
          </msub>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">→</mo>
          <msub>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>0</mn>
            </mrow>
          </msub>
          <mo class="MathClass-bin">+</mo>
          <mi>q</mi>
          <msub>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>1</mn>
            </mrow>
          </msub>
          <mo class="MathClass-rel">=</mo>
          <mi>M</mi>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5008r8"></mstyle>
          <mstyle class="maketag">
            <mtext>(8)</mtext>
          </mstyle>
        </mtd>
      </mtr>
      <mtr>
        <mtd class="align-odd" columnalign="right">
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">→</mo>
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
              <mo class="MathClass-bin">+</mo>
              <mi>q</mi>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-rel">=</mo>
          <mi>A</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
              </msub>
              <mo class="MathClass-punc">,</mo>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-bin">+</mo>
          <mi>M</mi>
          <mfrac>
            <mrow>
              <mi>B</mi>
              <mrow>
                <mo class="MathClass-open">(</mo>
                <mrow>
                  <msub>
                    <mrow>
                      <mi>M</mi>
                    </mrow>
                    <mrow>
                      <mn>1</mn>
                    </mrow>
                  </msub>
                </mrow>
                <mo class="MathClass-close">)</mo>
              </mrow>
            </mrow>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
          </mfrac>
          <mstyle class="text">
            <mtext> with </mtext>
          </mstyle>
          <mfrac>
            <mrow>
              <mi>B</mi>
              <mrow>
                <mo class="MathClass-open">(</mo>
                <mrow>
                  <msub>
                    <mrow>
                      <mi>M</mi>
                    </mrow>
                    <mrow>
                      <mn>1</mn>
                    </mrow>
                  </msub>
                </mrow>
                <mo class="MathClass-close">)</mo>
              </mrow>
            </mrow>
            <mrow>
              <msub>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
              </msub>
            </mrow>
          </mfrac>
          <mo class="MathClass-rel">≈</mo>
          <mn>0</mn>
          <mo class="MathClass-punc">.</mo>
          <mn>7</mn>
          <mn>5</mn>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5009r9"></mstyle>
          <mstyle class="maketag">
            <mtext>(9)</mtext>
          </mstyle>
        </mtd>
      </mtr>
    </mtable>
  </math>
</p>
<p class="noindent">
  This relation corresponds to the allometric relation
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>b</mi>
    <mo class="MathClass-rel">≈</mo>
    <msub>
      <mrow>
        <mi>b</mi>
      </mrow>
      <mrow>
        <mn>0</mn>
      </mrow>
    </msub>
    <msup>
      <mrow>
        <mi>m</mi>
      </mrow>
      <mrow>
        <mn>0</mn>
        <mo class="MathClass-punc">.</mo>
        <mn>7</mn>
        <mn>5</mn>
      </mrow>
    </msup>
  </math>, and is shown by measuring mammals in a very specific state, the basal state, where organisms perform no specific activity, that is to say, organisms are in an undisturbed, non-sleeping, post-absorptive state and in a thermoneutral
  environment.
</p>
<p class="indent">However, this relation changes if we consider another definition of metabolism. For example, the maximum level of sustainable exercise leads empirically to [<a href="#XWeibel_2004">30</a>]:</p>
<p>
  <math display="block" xmlns="http://www.w3.org/1998/Math/MathML">
    <mtable class="align" columnalign="left">
      <mtr>
        <mtd class="align-odd" columnalign="right">
          <msubsup>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>0</mn>
            </mrow>
            <mrow>
              <mi>′</mi>
            </mrow>
          </msubsup>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">→</mo>
          <msubsup>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>0</mn>
            </mrow>
            <mrow>
              <mi>′</mi>
            </mrow>
          </msubsup>
          <mo class="MathClass-bin">+</mo>
          <mi>q</mi>
          <msubsup>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mn>1</mn>
            </mrow>
            <mrow>
              <mi>′</mi>
            </mrow>
          </msubsup>
          <mo class="MathClass-rel">=</mo>
          <msup>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mi>′</mi>
            </mrow>
          </msup>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5010r10"></mstyle>
          <mstyle class="maketag">
            <mtext>(10)</mtext>
          </mstyle>
        </mtd>
      </mtr>
      <mtr>
        <mtd class="align-odd" columnalign="right">
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msubsup>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
                <mrow>
                  <mi>′</mi>
                </mrow>
              </msubsup>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
        </mtd>
        <mtd class="align-even">
          <mo class="MathClass-rel">→</mo>
          <mi>B</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msubsup>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
                <mrow>
                  <mi>′</mi>
                </mrow>
              </msubsup>
              <mo class="MathClass-bin">+</mo>
              <mi>q</mi>
              <msubsup>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
                <mrow>
                  <mi>′</mi>
                </mrow>
              </msubsup>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-rel">=</mo>
          <mi>A</mi>
          <mrow>
            <mo class="MathClass-open">(</mo>
            <mrow>
              <msubsup>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>0</mn>
                </mrow>
                <mrow>
                  <mi>′</mi>
                </mrow>
              </msubsup>
              <mo class="MathClass-punc">,</mo>
              <msubsup>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
                <mrow>
                  <mi>′</mi>
                </mrow>
              </msubsup>
            </mrow>
            <mo class="MathClass-close">)</mo>
          </mrow>
          <mo class="MathClass-bin">+</mo>
          <msup>
            <mrow>
              <mi>M</mi>
            </mrow>
            <mrow>
              <mi>′</mi>
            </mrow>
          </msup>
          <mfrac>
            <mrow>
              <mi>B</mi>
              <mrow>
                <mo class="MathClass-open">(</mo>
                <mrow>
                  <msubsup>
                    <mrow>
                      <mi>M</mi>
                    </mrow>
                    <mrow>
                      <mn>1</mn>
                    </mrow>
                    <mrow>
                      <mi>′</mi>
                    </mrow>
                  </msubsup>
                </mrow>
                <mo class="MathClass-close">)</mo>
              </mrow>
            </mrow>
            <mrow>
              <msubsup>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
                <mrow>
                  <mi>′</mi>
                </mrow>
              </msubsup>
            </mrow>
          </mfrac>
          <mstyle class="text">
            <mtext> with </mtext>
          </mstyle>
          <mfrac>
            <mrow>
              <mi>B</mi>
              <mrow>
                <mo class="MathClass-open">(</mo>
                <mrow>
                  <msubsup>
                    <mrow>
                      <mi>M</mi>
                    </mrow>
                    <mrow>
                      <mn>1</mn>
                    </mrow>
                    <mrow>
                      <mi>′</mi>
                    </mrow>
                  </msubsup>
                </mrow>
                <mo class="MathClass-close">)</mo>
              </mrow>
            </mrow>
            <mrow>
              <msubsup>
                <mrow>
                  <mi>M</mi>
                </mrow>
                <mrow>
                  <mn>1</mn>
                </mrow>
                <mrow>
                  <mi>′</mi>
                </mrow>
              </msubsup>
            </mrow>
          </mfrac>
          <mo class="MathClass-rel">≈</mo>
          <mn>0</mn>
          <mo class="MathClass-punc">.</mo>
          <mn>8</mn>
          <mn>7</mn>
          <mspace width="2em"></mspace>
        </mtd>
        <mtd class="align-label" columnalign="right">
          <mstyle class="label" id="x1-5011r11"></mstyle>
          <mstyle class="maketag">
            <mtext>(11)</mtext>
          </mstyle>
        </mtd>
      </mtr>
    </mtable>
  </math>
</p>
<p class="indent">
  Equations <a href="#x1-5009r9">9</a> and <a href="#x1-5011r11">11</a> are compatible if
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msub>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
    </msub>
    <mo class="MathClass-bin">∕</mo>
    <msubsup>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
      <mrow>
        <mi>′</mi>
      </mrow>
    </msubsup>
    <mo class="MathClass-rel">∉</mo>
    <mi>ℚ</mi>
  </math>. Different allometric relationships can fit into this framework without contradiction. For example, the same reasoning may be used to accommodate rodents which have a lower scaling exponent than mammals overall [
  <a href="#X101086606023">24</a>]. In this framework, the changes of mass described by equations <a href="#x1-5008r8">8</a> and <a href="#x1-5010r10">10</a> correspond respectively to the
  basal metabolic rate and maximum metabolic rate; therefore, they have a different biological meaning. Similarly, the different exponent in the case of rodents corresponds to differences in the organization of this group and the
  corresponding way their mass is related to their metabolism. Dropping the continuity hypothesis on
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>B</mi>
  </math> enables to accommodate the lability of biological objects and the open-ended diversity of scaling relationships which stems from evolutionary novelties
  and ontogenetic diversity.
</p>
<p class="indent">
  Going from one mass to another is no longer a continuous function. What would be the meaning of the corresponding concept of mass? To discuss it, let us consider what measurement entails in this framework. Measurement has two basic
  dimensions:
</p>
<dl class="description">
  <dt class="description">A metric or physical dimension:</dt>
  <dd class="description">
    this dimension is associated with the <span class="cmti-10">classical</span> concept of physical measurement. This measurement, performed with a weighing machine, entails that a mass is in a given interval of confidence. This
    measurement is adequate for the properties of inertia and gravitation because they are continuous in appropriate conditions.
    <p >
      However, the discontinuous nature of
      
      <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>B</mi>
      </math> implies that the physical measurement is not sufficient to describe a biological change of mass.
    </p>
  </dd>
  <dt class="description">An algebraic or properly biological dimension:</dt>
  <dd class="description">
    this dimension describes the specific meaning associated with a change of mass, depending on the objects studied and the experimental protocol used. An increase in mass can have a diversity of biological meaning. For example, at the
    level of an individual, changes of mass can be due to development, obesity, pregnancy or an increase of muscle mass. At the level of species, changes of mass can be the increase of the average size of organisms, with or without
    qualitative change of organization such as the hypertrophy of the brain in humans or the appearance of scales in pangolins.
    <p >
      This dimension of measurement determines the <span class="cmti-10">dominant </span>direction
      
      <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>M</mi>
        <mi>ℚ</mi>
      </math> in the measurement setup (for example, interspecific allometry of the basal metabolic rate among mammals). This algebraic component
      cannot be obtained by the physical measurement alone because
      
      <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <mo class="MathClass-op">∀</mo>
        <mi>x</mi>
        <mo class="MathClass-punc">,</mo>
        <mi>x</mi>
        <mi>ℚ</mi>
      </math> is dense in
      
      <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <mi>ℝ</mi>
      </math>. It is determined by the biological definition of a change of mass with respect to the metabolism. Here, we emphasize biological meaning as
      central to measurement, in line with previous works [<a href="#Xhoule2011measurement">10</a>, <a href="#Xmontevilmeasure">15</a>].
    </p>
  </dd>
</dl>
<p class="noindent">
  What is the mass of an organism in this framework? From the physical perspective, we can measure its value with arbitrarily high precision. From a biological perspective, this does not provide any information on the algebraic value of
  this mass, whose meaning only appears when comparing at least two biological masses. The biological, algebraic aspect of the mass is labile and may change depending on the measurement performed while remaining in the confidence interval
  provided by the physical measurement. This definition implies that the mass of an organism is not an entirely well-defined property that would be an invariant of an object. Again, even though this idea is unusual, it is biologically
  meaningful since we are discussing masses inasmuch as they are involved in the metabolism, and this mass depends on the organization and the activity of the considered organisms. To describe the properties of biological measurement on
  theoretical bases, a more general framework is required [<a href="#Xmontevilmeasure">15</a>].
</p>
<p class="indent">
  Now, let us look more precisely at the possible symmetry changes, which are changes of constraints. Taking a limit,
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <munder class="msub">
      <mrow>
        <mo class="qopname">lim</mo>
      </mrow>
      <mrow>
        <mi>n</mi>
        <mo class="MathClass-rel">→</mo>
        <mi>∞</mi>
      </mrow>
    </munder>
    <msub>
      <mrow>
        <mi>q</mi>
      </mrow>
      <mrow>
        <mi>n</mi>
      </mrow>
    </msub>
    <msub>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
    </msub>
    <mo class="MathClass-rel">=</mo>
    <msubsup>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
      <mrow>
        <mi>′</mi>
      </mrow>
    </msubsup>
    <mo class="MathClass-rel">∉</mo>
    <msub>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
    </msub>
    <mi>ℚ</mi>
  </math>, leads to a symmetry change by generating a change of the algebraic nature of the transformation. We can distinguish three different situations:
</p>
<ol class="enumerate1">
  <li class="enumerate" id="x1-5013x1">
    Biologically, the degree of freedom
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msub>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
      </msub>
      <mi>ℚ</mi>
    </math>
    is valid, but the transformations in
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msubsup>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msubsup>
      <mi>ℚ</mi>
    </math>
    are not. This leads to masses of the form
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msubsup>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msubsup>
      <mo class="MathClass-bin">+</mo>
      <mi>q</mi>
      <msub>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
      </msub>
    </math>. Under these conditions, the allometric exponents associated with
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msub>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
      </msub>
    </math>
    remain the same, but the class of objects is different. For example, we consider birds instead of mammals [<a href="#Xlindstedt">13</a>]. The physical forms are
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>b</mi>
      <mrow>
        <mo class="MathClass-open">(</mo>
        <mrow>
          <mi>m</mi>
        </mrow>
        <mo class="MathClass-close">)</mo>
      </mrow>
      <mo class="MathClass-rel">=</mo>
      <mi>a</mi>
      <msup>
        <mrow>
          <mi>m</mi>
        </mrow>
        <mrow>
          <mi>α</mi>
        </mrow>
      </msup>
    </math>
    and
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>f</mi>
      <mrow>
        <mo class="MathClass-open">(</mo>
        <mrow>
          <mi>m</mi>
        </mrow>
        <mo class="MathClass-close">)</mo>
      </mrow>
      <mo class="MathClass-rel">=</mo>
      <msup>
        <mrow>
          <mi>a</mi>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msup>
      <msup>
        <mrow>
          <mi>m</mi>
        </mrow>
        <mrow>
          <mi>α</mi>
        </mrow>
      </msup>
    </math>. It is a change of classes of objects, but both are invariants for the same symmetry.
  </li>
  <li class="enumerate" id="x1-5015x2">
    The degree of freedom
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msubsup>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msubsup>
      <mi>ℚ</mi>
    </math>
    is valid, but
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msub>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
      </msub>
      <mi>ℚ</mi>
    </math>
    is no longer a valid degree of freedom. This situation leads to possible masses of the form
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>q</mi>
      <msubsup>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msubsup>
    </math>. Then, we can identify a new allometric exponent, leading to the physical form
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>b</mi>
      <msup>
        <mrow>
          <mi>m</mi>
        </mrow>
        <mrow>
          <mi>β</mi>
        </mrow>
      </msup>
    </math>. This situation describes a more radical organizational or measurement change, for example, observing the maximum metabolic rate instead of the basal metabolic rate. It is a complete change of symmetry.
  </li>
  <li class="enumerate" id="x1-5017x3">
    Both degrees of freedom are valid, leading to masses
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msub>
        <mrow>
          <mi>q</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
      </msub>
      <msub>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
      </msub>
      <mo class="MathClass-bin">+</mo>
      <msubsup>
        <mrow>
          <mi>q</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msubsup>
      <msubsup>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msubsup>
    </math>. We can write the physical form as
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>a</mi>
      <msup>
        <mrow>
          <mfenced close=")" open="(" separators>
            <mrow>
              <mfrac>
                <mrow>
                  <mi>m</mi>
                </mrow>
                <mrow>
                  <mi>ρ</mi>
                </mrow>
              </mfrac>
            </mrow>
          </mfenced>
        </mrow>
        <mrow>
          <mi>α</mi>
        </mrow>
      </msup>
      <msup>
        <mrow>
          <mi>ρ</mi>
        </mrow>
        <mrow>
          <mi>β</mi>
        </mrow>
      </msup>
    </math>. For example, when considering obesity,
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msubsup>
        <mrow>
          <mi>q</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msubsup>
      <msubsup>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
        <mrow>
          <mi>′</mi>
        </mrow>
      </msubsup>
    </math>
    parameterizes the corresponding organizational change, while
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <msub>
        <mrow>
          <mi>q</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
      </msub>
      <msub>
        <mrow>
          <mi>M</mi>
        </mrow>
        <mrow>
          <mn>1</mn>
        </mrow>
      </msub>
    </math>
    correspond to interspecific allometry. In physical form,
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mfrac>
        <mrow>
          <mi>m</mi>
        </mrow>
        <mrow>
          <mi>ρ</mi>
        </mrow>
      </mfrac>
    </math>
    would be the health weight and
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>ρ</mi>
    </math> is the corresponding overweight ratio. If we assume that overweight does not influence basal metabolic rate, for example, we obtain
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>β</mi>
      <mo class="MathClass-rel">=</mo>
      <mn>0</mn>
    </math>. Note that even in this simple case, the result is not trivial since
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mi>ρ</mi>
    </math> becomes relevant with exponent
    
    <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
      <mo class="MathClass-bin">-</mo>
      <mi>α</mi>
    </math>.
  </li>
</ol>
<p class="indent">
  In summary, we have defined a framework where measurement has an algebraic dimension and a metrical dimension. The metrical aspect is sufficient to determine what happens provided that the algebraic component is preserved. Such a
  controlled transformation precisely corresponds, in the log-log space, to a translation along a
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>-line,
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msub>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>1</mn>
      </mrow>
    </msub>
    <mi>ℚ</mi>
  </math>. This translation leads to a power law, so it describes a scale symmetry. This transformation leads to an exponent that can be empirically evaluated, provided that the algebraic structure can be (approximately) followed experimentally
  (for example, the basal heart rate among mammals). When following another
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>-line, say
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <msub>
      <mrow>
        <mi>M</mi>
      </mrow>
      <mrow>
        <mn>2</mn>
      </mrow>
    </msub>
    <mi>ℚ</mi>
  </math>, another exponent can be found, for example, by the experimental constitution of another symmetry (the maximum metabolic rate, say). A pointwise shift can also occur, which does not allow to specify a corresponding exponent. In these
  cases, there is no empirical degree of freedom associated with the transformation, and no exponent can be pulled out. Nevertheless, such a shift can be associated with a specific biological phenomenon, for example, a change of
  phylogenetic class (e.g., mammals and birds).
</p>
<p class="indent">
  The function
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>B</mi>
  </math> cannot be defined explicitly by a finite number of empirical results because the dimension of
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℝ</mi>
  </math> as a
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>ℚ</mi>
  </math>-vector space is not finite. From a biological perspective, this restriction means that there is an inherent and irreducible limitation to our knowledge
  of the possible symmetry changes that biological systems can undergo (here, among allometric symmetries). Only a finite number of biologically relevant transformations can be known empirically. The function
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>B</mi>
  </math> is only partially defined explicitly, and evolution (and ontogenesis) can require the definition of new symmetry changes, corresponding to new
  observables. This framework instantiates our principle of variation, even though it is limited to changes among scaling symmetries.
</p>
<p class="indent">
  In this framework, the neighborhood defined by a physical measurement includes a diversity of algebraic possibilities — actually all of them. It follows that experimentalists and theoreticians should take great care of the biological
  meaning of the changes in mass studied. Otherwise, no conclusion may be derived. The lability of biological objects requires specific precautions to interpret measured quantities.
</p>
<h2 class="sectionHead" id="4-conclusion"><span class="titlemark">4 </span>Conclusion</h2>
<p class="noindent">
  In this article, we have sketched an epistemological and theoretical framework where regularities enabling us to perform mathematical modeling have a role, but this role is very different from the one in physics. We have illustrated
  some aspects of this role with a mathematical schema. Our analysis starts with allometric relations interpreted as ”laws of physics” and biologicize this framework by accommodating the variations stemming from history.
</p>
<p class="indent">
  By dropping the hypothesis of continuity of allometric relations, the space mass
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mo class="MathClass-bin">×</mo>
  </math> Metabolism shatters and is transformed from a two-dimensional space to an infinite dimensional space. However, unlike spaces of
  infinite dimension in physics, these dimensions are neither equivalent nor, more generally, subsumed by generic descriptions. They represent genuine novelties stemming from the historical nature of biological phenomena and whose meaning
  and consequences cannot be pre-stated theoretically.
</p>
<p class="indent">
  In this framework measuring a mass as a new meaning because the biological meaning of a change of mass is diverse, and diversifies over time as a result of the ability of biological objects to produce a history. Our mathematical schema
  is restricted to situations verifying simple scale symmetries; however, a far more general conceptual framework can be designed [<a href="#Xmontevilmeasure">15</a>], and hopefully developed mathematically.
</p>
<h2 class="likesectionHead" id="references">References</h2>
<ol class="thebibliography">
  <li class="bibitem" id="Xaitkenhead_2013"> [1] Aitkenhead, D. (2013). Peter higgs: I wouldn’t be productive enough for today’s academic system.
    <span class="cmti-10">The Guardian</span>,. URL:
    <a class="url" href="https://www.theguardian.com/science/2013/dec/06/peter-higgs-boson-academic-system">https://www.theguardian.com/science/2013/dec/06/peter-higgs-boson-academic-system</a>.
  </li>
<li  class="bibitem" id="Xbailly2011"> [2] Bailly, F., &amp; Longo, G. (2011). <span class="cmti-10">Mathematics and the natural sciences; The</span>
    <span class="cmti-10">Physical Singularity of Life</span>. London: Imperial College Press. doi:
    <a href="http://dx.doi.org/10.1142/p774">10.1142/p774
</a>.
  </li>
<li  class="bibitem" id="Xmeasurement"> [3] Bookstein, F. (2009). Measurement, explanation, and biology: Lessons from a long century.
    <span class="cmti-10">Biological Theory</span>, <span class="cmti-10">4</span>, 6–20. doi:
    <a href="http://dx.doi.org/10.1162/biot.2009.4.1.6">10.1162/biot.2009.4.1.6
</a>.
  </li>
<li  class="bibitem" id="XCavagna29062010"> [4] Cavagna, A., Cimarelli, A., Giardina, I., Parisi, G., Santagati, R., Stefanini, F., &amp; Viale, M. (2010). Scale-free
    correlations in starling flocks. <span class="cmti-10">Proceedings of the</span> <span class="cmti-10">National Academy of Sciences</span>, <span class="cmti-10">107</span>, 11865–11870. doi:
    <a href="http://dx.doi.org/10.1073/pnas.1005766107">10.1073/pnas.1005766107
</a>.
  </li>
<li  class="bibitem" id="Xchang2004inventing"> [5] Chang, H. (2004). <span class="cmti-10">Inventing temperature: Measurement and scientific progress</span>. Oxford
    University Press. doi:
    <a href="http://dx.doi.org/10.1093/0195171276.001.0001">10.1093/0195171276.001.0001
</a>.
  </li>
<li  class="bibitem" id="Xdarwin1872origin"> [6] Darwin, C. (1872). <span class="cmti-10">The Origin of Species by Means of Natural Selection 6th</span>
    <span class="cmti-10">edition.</span>. London.
  </li>
<li  class="bibitem" id="XELHANI2007"> [7] El-Hani, C. N. A. (2007). Between the cross and the sword: the crisis of the gene concept.
    <span class="cmti-10">Genetics and Molecular Biology</span>, <span class="cmti-10">30</span>, 297 – 307. doi:
    <a href="http://dx.doi.org/10.1590/S1415-47572007000300001">10.1590/S1415-47572007000300001
</a>.
  </li>
<li  class="bibitem" id="Xfoucault2"> [8] Foucault, M. (1994). texte 350: Le souci de la vérité. In <span class="cmti-10">Dits et </span><span class="cmti-10">é</span><span class="cmti-10">crits:</span> <span class="cmti-10">(1980-1988) </span>Bibliothèque des Sciences humaines (p. 668). Editions Gallimard.</li>
<li  class="bibitem" id="Xfox2000century"> [9] Fox Keller, E. (2002). <span class="cmti-10">The century of the gene</span>. Harvard University Press.</li>
<li  class="bibitem" id="Xhoule2011measurement"> [10] Houle, D., Pélabon, C., Wagner, G. P., &amp; Hansen, T. F. (2011). Measurement and meaning in biology.
    <span class="cmti-10">The Quarterly Review of Biology</span>, <span class="cmti-10">86</span>, 3–34. doi:
    <a href="http://dx.doi.org/10.1086/658408">10.1086/ 658408
</a>.
  </li>
<li  class="bibitem" id="Xkauffman2002investigations"> [11] Kauffman, S. (2002). <span class="cmti-10">Investigations</span>. Oxford University Press, USA.</li>
<li  class="bibitem" id="Xlecointre2006tree"> [12] Lecointre, G., &amp; Le Guyader, H. (2006). <span class="cmti-10">The tree of life: a phylogenetic</span>
    <span class="cmti-10">classification </span>volume 20. Harvard University Press.
  </li>
<li  class="bibitem" id="Xlindstedt"> [13] Lindstedt, S., &amp; Calder III, W. (1981). Body size, physiological time, and longevity of homeothermic animals.
    <span class="cmti-10">Quarterly Review of Biology</span>, (pp. 1–16). doi:
    <a href="http://dx.doi.org/10.1086/412080">10.1086/412080
</a>.
  </li>
<li  class="bibitem" id="Xscaling2014"> [14] Longo, G., &amp; Montévil, M. (2014). Scaling and scale symmetries in biological systems. In
    <span class="cmti-10">Perspectives on Organisms </span>Lecture Notes in Morphogenesis (pp. 23–73). Springer Berlin Heidelberg. doi:
    <a href="http://dx.doi.org/10.1007/978-3-642-35938-5_2">10.1007/978-3-642-35938-5_2
</a>.
  </li>
<li  class="bibitem" id="Xmontevilmeasure"> [15] Montévil, M. (2019). Measurement in biology is methodized by theory. <span class="cmti-10">Biology</span>
    <span class="cmti-10">&amp; Philosophy</span>, <span class="cmti-10">34</span>, 35. doi:
    <a href="http://dx.doi.org/10.1007/s10539-019-9687-x">10.1007/s10539-019-9687-x
</a>.
  </li>
<li  class="bibitem" id="XMontevil2015c"> [16] Montévil, M., &amp; Mossio, M. (2015). Biological organisation as closure of constraints.
    <span class="cmti-10">Journal of Theoretical Biology</span>, <span class="cmti-10">372</span>, 179 – 191. doi:
    <a href="http://dx.doi.org/10.1016/j.jtbi.2015.02.029">10.1016/j.jtbi. 2015.02.029
</a>.
  </li>
<li  class="bibitem" id="Xchaptervariation"> [17] Montévil, M., Mossio, M., Pocheville, A., &amp; Longo, G. (2016). Theoretical principles for biology: Variation.
    <span class="cmti-10">Progress in Biophysics and Molecular Biology</span>, <span class="cmti-10">122</span>, 36 – 50. doi:
    <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.005">10.1016/j.pbiomolbio.2016.08.005
</a>.
  </li>
<li  class="bibitem" id="Xchapterconstraints"> [18] Montévil, M., Speroni, L., Sonnenschein, C., &amp; Soto, A. M. (2016). Modeling mammary organogenesis from
    biological first principles: Cells and their physical constraints. <span class="cmti-10">Progress in Biophysics and Molecular Biology</span>, <span class="cmti-10">122</span>, 58 – 69. doi:
    <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.004">10. 1016/j.pbiomolbio.2016.08.004
</a>.
  </li>
<li  class="bibitem" id="Xmora2010biological"> [19] Mora, T., &amp; Bialek, W. (2011). Are biological systems poised at criticality?
    <span class="cmti-10">Journal of Statistical Physics</span>, <span class="cmti-10">144</span>, 268–302. doi:
    <a href="http://dx.doi.org/10.1007/s10955-011-0229-4">10.1007/s10955-011-0229-4
</a>.
  </li>
<li  class="bibitem" id="Xchapterorganization"> [20] Mossio, M., Montévil, M., &amp; Longo, G. (2016). Theoretical principles for biology: Organization.
    <span class="cmti-10">Progress in Biophysics and Molecular Biology</span>, <span class="cmti-10">122</span>, 24 – 35. doi:
    <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.005">10.1016/j.pbiomolbio.2016.07.005
</a>.
  </li>
<li  class="bibitem" id="XNoble2017"> [21] Noble, D. (2017). Systems biology beyond the genome. In S. Green (Ed.),
    <span class="cmti-10">Philosophy of Systems Biology: Perspectives from Scientists and Philosophers</span> (pp. 227–235). Cham: Springer International Publishing. doi:
    <a href="http://dx.doi.org/10.1007/978-3-319-47000-9_21">10.1007/ 978-3-319-47000-9_21
</a>.
  </li>
<li  class="bibitem" id="Xrosen2005"> [22] Rosen, R. (1991). <span class="cmti-10">Life itself: a comprehensive inquiry into the nature, origin,</span>
    <span class="cmti-10">and fabrication of life</span>. Columbia U. P.
  </li>
<li  class="bibitem" id="Xsavage2004"> [23] Savage, V., Gilloly, J., Woodruff, W., West, G., Allen, A., Enquist, B., &amp; Brown, J. (2004). The predominance of
    quarter-power scaling in biology. <span class="cmti-10">Ecology</span>, <span class="cmti-10">18</span>, 257–282. doi:
    <a href="http://dx.doi.org/10.1111/j.0269-8463.2004.00856.x">10.1111/j.0269-8463.2004.00856.x
</a>.
  </li>
<li  class="bibitem" id="X101086606023"> [24] Sieg, A., O’Connor, M., McNair, J., Grant, B., Agosta, S., Dunham, A., Hurst, A. E. G., &amp; McPeek, E. M. A.
    (2009). Mammalian metabolic allometry: Do intraspecific variation, phylogeny, and regression models matter? <span class="cmti-10">The American</span> <span class="cmti-10">Naturalist</span>,
    <span class="cmti-10">174</span>, 720–733. doi:
    <a href="http://dx.doi.org/10.1086/606023">10.1086/606023
</a>.
  </li>
<li  class="bibitem" id="XSociety"> [25] Sonnenschein, C., &amp; Soto, A. (1999). <span class="cmti-10">The society of cells: cancer and control</span>
    <span class="cmti-10">of cell proliferation</span>. New York: Springer Verlag.
  </li>
<li  class="bibitem" id="Xchapterccl"> [26] Soto, A. M., Longo, G., Miquel, P.-A., Montevil, M., Mossio, M., Perret, N., Pocheville, A., &amp; Sonnenschein, C. (2016).
    Toward a theory of organisms: Three founding principles in search of a useful integration. <span class="cmti-10">Progress in Biophysics and</span> <span class="cmti-10">Molecular Biology</span>,
    <span class="cmti-10">122</span>, 77 – 82. doi:
    <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.006">10.1016/j.pbiomolbio.2016.07.006
</a>.
  </li>
<li  class="bibitem" id="Xchapterdefault"> [27] Soto, A. M., Longo, G., Montévil, M., &amp; Sonnenschein, C. (2016). The biological default state of cell proliferation
    with variation and motility, a fundamental principle for a theory of organisms. <span class="cmti-10">Progress in Biophysics and</span> <span class="cmti-10">Molecular Biology</span>,
    <span class="cmti-10">122</span>, 16 – 23. doi:
    <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.006">10.1016/j.pbiomolbio.2016.06.006
</a>.
  </li>
<li  class="bibitem" id="Xvan1989laws"> [28] Van Fraassen, B. (1989). <span class="cmti-10">Laws and symmetry</span>. Oxford University Press, USA.</li>
<li  class="bibitem" id="XVarela1974187"> [29] Varela, F., Maturana, H., &amp; Uribe, R. (1974). Autopoiesis: The organization of living systems, its characterization and a
    model. <span class="cmti-10">Biosystems</span>, <span class="cmti-10">5</span>, 187 – 196. doi:
    <a href="http://dx.doi.org/10.1016/0303-2647(74)90031-8">10.1016/0303-2647(74)90031-8
</a>.
  </li>
<li  class="bibitem" id="XWeibel_2004"> [30] Weibel, E., Bacigalupe, L., Schmitt, B., &amp; Hoppeler, H. (2004). Allometric scaling of maximal metabolic rate in mammals:
    Muscle aerobic capacity as determinant factor. <span class="cmti-10">Respiratory Physiology and Neurobiology</span>, <span class="cmti-10">140</span>, 115–132. doi:
    <a href="http://dx.doi.org/10.1016/j.resp.2004.01.006">10.1016/j.resp.2004.01.006
</a>.
  </li>
<li  class="bibitem" id="Xwest2003developmental"> [31] West-Eberhard, M. J. (2003). <span class="cmti-10">Developmental plasticity and evolution</span>. Oxford
    University Press.
  </li>
<li  class="bibitem" id="Xwolkenhauer2013search"> [32] Wolkenhauer, O., &amp; Green, S. (2013). The search for organizing principles as a cure against reductionism in
    systems medicine. <span class="cmti-10">The FEBS journal</span>, <span class="cmti-10">280</span>, 5938–5948. doi:
    <a href="http://dx.doi.org/10.1111/febs.12311">10.1111/febs.12311
</a>.
  </li>
</ol>
<aside class="footnotes">
  <p><a href="#kt-1" id="tk-1"><span class="thank-mark"><span class="cmsy-10x-x-109">*</span></span>
</a>Published as: Maël Montévil (2019) Which first principles for mathematical modelling in biology? <span class="cmti-10">Rendiconti di Matematica e delle sue Applicazioni </span>Vol. 7.</p>
  <p><a href="#kt-2" id="tk-2"><span class="thank-mark"><span class="cmsy-10x-x-109">†</span></span>
</a>Institut de Recherche et d’Innovation, Centre Pompidou</p>
</aside>
