---
excerpt: I discuss convergences between the approach of N. Palfreyman and J. Miller-Young and my work aiming for a theory of organisms, in particular on randomness.
noToc: true
---
<h2 class="indent titleHead" style="text-align:center" id="a-few-pending-challenges-from-the-perspective-of-a-theory-of-organisms-1"><span class="T1">A Few Pending Challenges from the Perspective of a Theory of Organisms</span></h2>
<p class="center">Maël Montévil</p>
<p class="center"><span class="T2">Institut de Recherche et d’Innovation, France • mael.montevil/at/gmail.com</span></p>
<p class="indent"><a class="ListLabel_20_68" href="http://constructivist.info/13/3/362.palfreyman"><span class="Internet_20_link">Open Peer Commentary on What Is a Cognizing Subject? Construction, Autonomy and Original Causation” by Niall Palfreyman and Janice Miller-Young</span></a></p>
<p class="indent"><span class="T3"><strong>Upshot:</strong> </span><span class="T1">I discuss convergences between the approach of the authors and my work aiming for a theory of organisms. I also discuss some pitfalls and challenges pertaining to biological randomness, which, I argue, require original developments.</span></p>
<ol class="indent">
  <li>
    <p class="indent">
      
      <span class="T1">Biology faces a big challenge: It lacks an encompassing theoretical framework for studying organisms, their physiology, development and behaviors. This challenge is often overlooked because empirical analyses at the
molecular level dominate the biological field. However, this reductionism is incomplete. In general, reductionism proceeds by decomposing the object of study followed by its theoretical recomposition to ensure that it is
properly understood. In biology, however, there are no reliable methods or theoretical framework to provide guidance for such recompositions when studying organisms. Overcoming this limitation is especially important if we
want to harness the opportunities provided by Big Data and ensure that they provide biologically meaningful results. Moreover, a suitable theoretical framework for biological organisms should help us overcome the
shortcomings of current medical and pharmacological methods, and provide insights into the many changes that technological developments bring about and which characterize the anthropocene.
</span><span class="odfLiEnd"> </span>
    </p>
  </li>
  <li>
    <p class="indent">
      <span class="T1">This challenge has led a group of biologists, philosophers and mathematicians, including myself, to work together and propose several principles for a theory of organisms by building on existing theoretical traditions (Soto et al. 2016a).
Here, I will use the perspective developed in this work to discuss several points from the target article of Niall Palfreyman and Janice Miller-Young. While my perspective differs from theirs, since my starting point is
more biological than cognitive, I ultimately agree with the authors (and others such as John Stewart 1992) in that these two areas cannot be decoupled.
</span><span class="odfLiEnd"> </span></a>
    </p>
  </li>
  <li>
    <p class="indent"><span class="T1">I would like to point out several convergences between the biological and the cognitive perspectives. Firstly, there is the trend to provide more conceptual continuity between the analysis of the inner organization of
organisms and of evolutionary dynamics. This perspective is shared by others in the biological field and goes beyond evo-devo. For example, Jean Jacques Kupiec and Bertrand Laforge (see, e.g., Laforge et al. 2005) aim to
understand biological order at the cellular level in the context of random gene expression on the basis of evolutionary principles. Part of our work has been focusing on the theoretical framework to understand cellular
behaviors (Soto et al.
</span><span class="T1">2016b). Unicellular organisms are usually considered as autonomous agents, proliferating and moving without the need of a stimulus. By contrast, cells of multicellular organisms are often considered quiescent by default,
i.e., biologists assume that they are not active unless stimulated. In Soto et al. (2016b) and Montévil et al. (2016b) we presented a different view and argued that cells inside organisms can and should be considered as
autonomous agents that move and proliferate spontaneously. We can then define
</span><span class="T4">constraints</span>
<span class="T1">as elements pushing cellular behaviors away from this autonomous default state, for example, preventing proliferation. We showed that this perspective can be used as a basis for the mathematical modeling of a specific
phenomenon of morphogenesis. Among other empirical evidence, we built on the observation that cells that remain quiescent and have very similar sizes in tissues start to proliferate and display size variations
</span><span class="T4">in vitro,</span><span class="T1"> when constraints are released.</span><span class="odfLiEnd"> </span></p>
  </li>
  <li>
    <p class="indent"><span class="T1">My second point pertains to the question of evolution. When searching for theoretical principles, the first problem to solve is the form of these principles. Should biology strive to find similar theoretical principles to those in physical theories? That is, should biology be based on the principles of invariance by transformation (symmetries)
and optimization? Instead, in line with the theory of evolution, in Montévil et al. (2016a), we opted for variation as a theoretical principle. In our description of biological variation, a key idea is that a biological
object is constituted by a cascade of variations leading to increasingly specific organizations in evolution and in life cycles: the characterization of biological objects cannot be abstracted from their natural history,
unlike physical “laws,” which are timeless. Taking this direction is an important departure from the method of theory-building in physics. In physics changes are understood on the basis of invariant mathematical
structures, usually referred to as physical laws. Assuming variation as a theoretical principle, instead, means that additional principles are required to explain the (relative) stability of certain biological processes.
In Montévil &amp; Mossio (2015), we called the elementary regularities of biological processes
</span><span class="T4">constraints</span><span class="T1">, and developed the concept of </span><span class="T4">closure of constraints</span>
<span class="T1">, which is a reinterpretation of concepts such as autopoiesis as defined by Francisco Varela (1979), Robert Rosen’s (1991) closure to efficient causation, and Stuart Kauffman’s (2002) work–constraint cycles. Closure of
constraints is the idea that constraints collectively maintain and stabilize one another in an organism. Similarly, Guillaume Lecointre (2018) argued that natural selection is, above all, a principle of stabilization.
All these perspectives are based on a similar philosophy to that of Palfreyman and Miller-Young’s Stabilization Thesis (§92).
</span><span class="odfLiEnd"> </span></p>
  </li>
  <li>
    <div class="indent"><span class="T1">There is yet another aspect regarding the similarity between our perspective and the authors’. In developing their proof of principle, the authors introduce a single modification with respect to the original Daisy World
model by changing the life expectancy of the daisies to a dynamical variable ranging from 30 to 1,000 time steps (§75). This change implies that, in the model, there are processes taking place at different timescales.
</span><a href="#ftn1" id="body_ftn1">1</a><span class="T1"> The notion of timescale is at the core of our concept of closure of </span><span class="T1">constraints (Montévil et al. 2016a), which requires constraints to be stabilized by processes taking place at a given timescale. The duration of a constraint is limited by a given timescale unless actively stabilized by
other processes, which can themselves be under constraints. The concept of constraint linked to specific timescales not only makes it possible to fit empirical data to the mathematical structure that describes the regularity
of constraints, it also provides us with the insight that constraints depend on stabilization to be sustained. For example, the vascular network constrains blood flow on short timescales, but many other processes and
constraints are required to sustain this network, such as the renewal of cells and of elastic fibers, and coagulation in case of rupture. Moreover, we can also accommodate both the regularity of this spatial network and its
changes over longer timescales such as in neovasculogenesis. On this basis, we can understand both the regularity of some biological processes and the underlying contingency of these regularities, i.e., biological stability
and variation, which is also at the heart of the authors’ article.
</span><span class="odfLiEnd"> </span></div>
  </li>
  <li>
    <p class="indent">
      <span class="T1">Yet another point I would like to discuss is the theoretical nature of variation in biology, and more precisely the nature of biological randomness and its theoretical role. Randomness plays a key role in Palfreyman and
Miller-Young’s argument: “we can only describe autonomous behavior as
</span><span class="T4">spontaneous</span><span class="T1"> if it contains some essentially stochastic component that decouples it </span><span class="T4">in principle</span>
      <span class="T1">from all determinants” (§19). The authors use Tom Ziemke’s characterization of autonomous systems, which includes a definition of being spontaneous where “the system chooses which mechanisms to activate in a situation”
(§21). I do not find the authors’ argument entirely convincing. In Ziemke’s definition, it is the system that chooses between different mechanisms; however, in a standard probabilistic model the “choice” is not made by the
system. Rather, once the probabilities are set, the “choice” between the different possible outcomes is independent of any variables in the system. This is not to say that probabilities cannot depend on the system. However,
the dependence with respect to the system could be as rich as in a deterministic setting and, hence, is separated from the randomness
</span><span class="T4">per se</span>
      <span class="T1">. Quite often, in implementations, stochastic behavior could be mathematically replaced by chaotic dynamics, which nevertheless leads to the same predictions. This is the case when statistical mechanics is interpreted in
terms of chaotic dynamical systems described in the framework of classical mechanics.
</span><span class="odfLiEnd"> </span>
    </p>
  </li>
  <li>
    <p class="indent"><span class="T1"> Now, if we want the system as such to be self-determined, the literature describing living systems at the edge of chaos or near critical points in the physical sense is particularly relevant. In these systems,
determination occurs neither at the level of the whole nor at the level of merely local, random events. Instead, determination involves a multiscale globality, i.e., all the scales of the system and their couplings.
Incidentally, this determination escapes the usual framework of statistical mechanics because it leads to singularities (i.e., infinite quantities), and thus provides a path to resolving the issue of the “inexorable physical
laws” that the authors raise by quoting Howard Pattee and Kalevi Kull in §1. This does not mean that we should directly use the framework of physical criticality for biology and cognition; however, as presented in Longo
&amp; Montévil (2014), there is empirical evidence that validates the relevance of this analogy and which suggests the need to adapt this framework for biological systems. When
</span><span class="T1">focusing on autonomy with respect to the environment, frameworks such as the Markov blankets developed by Michael Kirchhoff et al. (2018) are also relevant, but they cover only the issue of the relationship with the
environment and not the ability of the system of genuine self-determination.
</span><span class="odfLiEnd"> </span></p>
  </li>
  <li>
    <p class="indent"><span class="T1">It is important to note that randomness does not imply probabilities. A probabilistic framework requires a stable space of possibilities and a measure providing the weights of these possibilities: the probabilities. The
probabilities should be defined on a sound theoretical basis. For example, the theoretical role of the fundamental postulate of statistical mechanics is precisely to ground probabilities theoretically. This postulate states
that for an isolated system with a given macroscopic energy and composition, all possible microstates compatible with the macroscopic variables have the same probability. In our framework (Montévil et al. 2016a; Montévil
2018) we claim that probabilistic frameworks are relevant for understanding specific aspects of organisms. However, they do not derive from theoretical principles but are rather “constructed” by the system and biological
objects can escape a given probabilistic framework. When relevant, probabilities and possibility spaces in biology are defined by constraints and should thus be interpreted as the result of an active stabilization. For
example, sexual reproduction is a random combination of the chromosomes of the parents, and is well described by classical genetics in terms of probabilities. However, the validity of this probabilistic framework is
maintained by active processes. Moreover, the constraints involved can change in evolution. For example, wheat can have ten versions of each chromosome instead of two, as in humans, and therefore requires a different
probabilistic model.
</span><span class="odfLiEnd"> </span></p>
  </li>
  <li>
    <p class="indent"><span class="T1">The concept of randomness is more general than the concept of probability and can be described as unpredictability in the intended theory. It is our contention that biology requires a new form of randomness different from
the one used in physics. The new form can be loosely described as the emergence of new possibilities (Montévil 2018), i.e., as the appearance of new dimensions in the space of possibilities assuming that these dimensions are
associated with qualitatively new behaviors. Our principle of variation states that in each biological organism such new possibilities can emerge. Unfortunately, this new understanding of randomness is difficult to implement
mathematically. Most models implement just a single aspect of it (see references in Montévil 2018 for changing possibility spaces). The target article is no exception: in most cases the dynamics becomes stable and no genuine
novelties appear after some time. This can be related to the authors’ method where its dynamics is determined by overarching, postulated rules that are not produced by the system, even though in the dynamics more variables
are changed than in the original Daisy World model. Thus, their model does not implement a full-fledged concept of accountability in the sense of being able to emancipate oneself from one’s implementation (§3). But, again,
providing an explicit mathematical account fulfilling the theoretical ideas that we developed for a theory of organisms would require a great deal of innovation in order to go beyond current methods to analyse mathematically
natural phenomena.
</span><span class="odfLiEnd"> </span></p>
  </li>
</ol>
<h3 class="sectionHead" id="references"><span class="T1">References</span></h3>
<div class="indent thebibliography">
<p class="P6"><span class="T1">Kauffman S. A. (2002) Investigations. Oxford University Press, New York.</span></p>
<p class="P6"><span class="T1">Kirchhoff M., Parr T., Palacios E., Friston K. &amp; Kiverstein J. (2018) The Markov blankets of life: Autonomy, active inference and the free energy principle. Journal of The Royal Society Interface 15(138): 20170792.
 http://rsif.royalsocietypublishing.org/content/15/138/20170792</span></p>
<p class="P6"><span class="T1">Laforge B., Guez D., Martinez M. &amp; Kupiec J. J. (2005) Modeling embryogenesis and cancer: An approach based on an equilibrium between the autostabilization of stochastic gene expression and the interdependence of cells for
proliferation. Progress in biophysics and molecular biology 89(1): 93–120.</span></p>
<p class="P6"><span class="T1">Lecointre G. (2018) The boxes and their content: What to do with invariants in biology? In: Gaudin T., Lacroix D., Maurel M.-C. &amp; Pomerol J.-C. (eds.) Life sciences, information sciences. Wiley, London: 139–152.</span></p>
<p class="P6"><span class="T1">Longo G. &amp; Montévil M. (2014) Perspectives on organisms. Springer, Berlin.</span></p>
<p class="P6"><span class="T1">Montévil M. (2018) Possibility spaces and the notion of novelty: From music to biology. Synthese: Online First.</span></p>
<p class="P6"><span class="T1">Montévil M. &amp; Mossio M. (2015) Biological organisation as closure of constraints. Journal of Theoretical Biology 372: 179–191. http://cepa.info/3629</span></p>
<p class="P6"><span class="T1">Montévil M., Mossio M., Pocheville A. &amp; Longo G. (2016a) Theoretical principles for biology: Variation. Progress in Biophysics and Molecular Biology 122(1): 36–50.</span></p>
<p class="P6"><span class="T1">Montévil M., Speroni L., Sonnenschein C. &amp; Soto A. M. (2016b) Modeling mammary organogenesis from biological first principles: Cells and their physical constraints. Progress in biophysics and molecular biology 122(1): 58–69.</span></p>
<p class="P6"><span class="T1">Rosen R. (1991) Life itself: A comprehensive inquiry into the nature, origin, and fabrication of life. Columbia University Press, New York.</span></p>
<p class="P6"><span class="T1">Soto A. M., Longo G., Miquel P.-A., Montévil M., Mossio M., Perret N., Pocheville A. &amp; Sonnenschein C. (2016a) Toward a theory of organisms: Three founding principles in search of a useful integration. Progress in Biophysics and
Molecular Biology. 122(1): 77–82.</span></p>
<p class="P6"><span class="T1">Soto A. M., Longo G., Montévil M. &amp; Sonnenschein C. (2016b) The biological default state of cell proliferation with variation and motility, a fundamental principle for a theory of organisms. Progress in Biophysics and Molecular
Biology 122(1): 16‒23.</span></p>
<p class="P6"><span class="T1">Stewart J. (1992) Life = cognition: The epistemological and ontological significance of artificial life. In: Varela F. J. &amp; Bourgine P. (eds.) Toward a practice of autonomous systems: Proceedings of the First European Conference
on Artificial Life. 475–483.</span></p>
<p class="P6"><span class="T1">Varela F. J. (1979) Principles of biological autonomy. North Holland New York.</span></p>
</div>
<div class="footnotes""><hr>
<h3 class="sectionHead" id="the-author"><span class="T1">The author</span></h3>
<p class="indent"><span class="T1">Maël Montévil is a theoretical biologist, working at the crossroads of experimental biology, mathematics and philosophy of science. He is especially interested in the </span><span class="T1">theoretical foundations of biology, and the role that mathematics can play in biology, which he approaches by a critical comparison with the situation in physics. His work also includes empirical research on morphometry and
endocrine disruptors. He recently started to use his theoretical perspective to better understand and respond to the challenges of the Anthropocene. Most of his papers can be found on his website:
</span><a class="ListLabel_20_69" href="http://montevil.theobio.org/"><span class="Internet_20_link"><span class="T1">http://montevil.theobio.org</span></span></a></p>
<p class="indent"><span class="T1">Received: 26 June 2018</span></p>
<p class="indent"><span class="T1">Accepted: 1 July 2018</span></p>
<p class="indent"> </p>
<p class="indent"><span class="footnodeNumber"><a class="Footnote_20_Symbol" href="#body_ftn1" id="ftn1">1</a></span><span class="Footnote_20_Symbol">        </span><span class="T9">The timescale of a process is the order of magnitude of the pace at which a process takes place. For example, the timescale of human generations is several decades while the timescale of human heartbeats is one second.</span></p>
</div>
