---
illust: entretien.jpg
hasPDF: true
hasFullText: true
date: 2025-04-06
excerpt: "Below is a podcast and transcript of the interview concerning the
1st chapter of the book Bifurquer"
tags: 
    - entropy
    - anti-entropy
    - theoretical biology
    - anthropocene
    - technology
---



<p class="titleHead">Towards a New Industrial Revolution? Entropy and its
Challenges</p>
<p class="authors">Bernard Stiegler, Maël Montevil, Victor Chaix and Marie
Chollat-Namy</p>
<p class="authors">Translated by Joel White</p>
<section class='abstract' role='doc-abstract'> 
<h3 class='abstracttitle'>
<span class='ecbx-0900'>Abstract</span>
</h3>
      <p class='noindent'> Below is a podcast and transcript of the interview concerning the
1<sup>st</sup> chapter of the book Bifurquer: Il n’y a pas
d’alternative <span>[Bifurcate: There is No Alternative]
</span>on the scientific, technological, and political stakes of the
notion of entropy. The discussion took place between Bernard Stiegler,
Maël Montévil, Marie Chollat-Namy, and Victor Chaix, on the
1<sup>st</sup> of July 2020.
</p>
        

</section>
  
   <h2 id="introduction">Introduction</h2>
 
<p><span>More than four years ago, at the initiative of Bernard Stiegler
and myself, Victor Chaix, the Association of the Friends of the Thunberg
Generation (AAGT) held and recorded a discussion on the book
</span><em>Bifurquer: Il n’y a pas d’alternative</em><span>, published a
month earlier by Les Liens qui Libèrent.</span></p>
<p><span>This interview was intended to be the first of a long series on
each chapter of the book. Between its main authors—members of the
Internation scientific network—and young activists of the Association,
in order to have an intergenerational dialogue and transmission,
confrontation.</span></p>
<p><span>The book </span><em>Bifurquer</em><span> then served as a
theoretical and scientific basis for the reflections and activities of
the young Association, launched at the dawn of the year 2020. The aim of
the interview was to highlight the political and economic issues at
stake, in particular, through dialogue and collective reflection on the
book’s major theses. More broadly, we wanted to shed light on the key
concepts of the book, using the format of an open discussion.</span></p>
<p><span>That’s how Bernard Stiegler, Maël Montévil, Marie Chollat Namy,
and I came together on the premises of the Institut de Recherche et
d’Innovation and the Association, on this July afternoon, with the
invaluable technical support of Riwad Salim and Giacomo Gilmozzi for the
recording.</span></p>
<p><span>Bernard Stiegler was president of both organisations at the
time. He had edited the book </span><em>Bifurquer</em><span> alongside
the Internation collective, which he had set up two years earlier. Maël
Montévil, a researcher in theoretical biology, was a member of this
interdisciplinary and international collective, as well as one of the
main writers of the chapter we were going to cover in the book. He was
also a PhD student under the supervision of Giuseppe Longo, who also
contributed to the chapter and has taken the responsibility of president
of the Association.</span></p>
<p><span>Marie Chollat-Namy and I were members of the Association,
students of the life sciences and humanities respectively, and we were
both activists in the ecologist civil disobedience movement, Extinction
Rebellion.</span></p>
<p><span>It was our last meeting and discussion with Bernard Stiegler,
before his death on 5 August 2020. We believe that his words are still
relevant today, as is the philosophical, scientific, technological, and
political project that he pursued during his final years.</span></p>
<p><span>After an overview of the current and historical epistemological
framework of entropy by Maël Montévil, Bernard Stiegler continues the
introduction by placing it in the context of the scientific and
political project of the Internation collective. The discussion then
continues with contributions and questions from Marie Chollat-Namy and
myself. From Elon Musk to a sustainable and desirable political economy,
from the imperative of efficiency to that of information theory, from
the organisation of the living to the functioning of computers: the
discussion was rich and sometimes difficult.</span></p>
<p><span>It comes at a time of intense reflection by Bernard Stiegler
and the AAGT, around the Archipel Des Vivants project, which is intended
to provide a concrete follow-up to the proposals in the book
</span><em>Bifurquer</em><span> to set up “laboratory territories,” as
well as around the theme of theoretical computer science, on which the
philosopher was working in spring 2020 and planning future events and
publications.</span></p>
<p><span>Our approach to this dialogue is to not separate the scientific
from the political, in the sense that one informs and orientates the
other. Entropy, as much as it comes from thermodynamics, was a notion to
investigate in its consequences for the living, as well as for our
industrial economy and our relation to information technologies. For
Bernard Stiegler, entropy was an understudied notion, as much by
researchers of different disciplines and domains (beyond thermodynamics)
as by the educational system. This discussion was as such a way to
compensate for this “repression” of entropy, which he deplored to be
mainly absent in spheres of knowledge and scientific circles, as much as
in discourse by youth movements on climate and social
justice.</span></p>

<h2
id="round-table---bernard-stiegler-maël-montevil-victor-chaix-and-marie-chollat-namy">Round
Table - Bernard Stiegler, Maël Montevil, Victor Chaix and Marie
Chollat-Namy</h2>
<p><strong>Maël Montévil:</strong> <span>Today, we’re going to give an
overview of the first chapter of </span><em>Bifurcate</em><span>:
</span><em>There is No Alternative</em><span>, which deals with science,
anti-entropy, and exosomatisation.</span></p>
<p><span>Ever since Newton and the Industrial Revolution, science has
played a central role in organising both society and production. The way
in which it does this depends on the particular epistemology that
constitutes it. The first epistemology that constitutes the relation
between society and production is the classical epistemology that stems
from Newton. This is a very specific epistemology in which equilibria
are spontaneous and the world is fundamentally conservative. Nothing is
lost, nothing is created, energy is conserved, and the laws remain the
same as time advances. So, everything is very conservative. This
epistemology was applied to economics, for example, with the idea that
the balance of payments between states (Hume’s idea) stabilizes
spontaneously. And so, in this epistemological framework, there is no
need for reflection: equilibrium is spontaneous and optimal.</span></p>
<p><span>With the industrial revolution, this type of conception was
applied to the design of machines, machines that functioned
spontaneously, spontaneously producing what had to be produced. In this
situation, the worker becomes a proletarian in the sense that he loses
his knowledge, because that knowledge is passed on to the machine, the
knowledge that makes it possible to produce what we want to produce.
However, with the industrial revolution came a scientific revolution:
thermodynamics and the introduction of the concept of entropy.
Thermodynamics was absolutely necessary to understand thermal machines,
firstly steam engines, and involves entropy, which is a quantity that
can only increase in an isolated system.</span></p>
<p><span>Increasing in an isolated system means that it defines a time
arrow. There is a before and an after. And the laws are no longer the
same if time is reversed. This scientific framework led to cosmological
questions, i.e. the increase in entropy gave rise to the prospect of the
thermal death of the universe. In other words, the idea that the
universe is heading towards a gradual degradation until a situation
where nothing can really happen. But the question of entropy has been
very little integrated into economic concepts, which are still dominated
by the concept of equilibrium and therefore a loosely Newtonian
framework.</span></p>
<p><span>In mainstream biology, the question of entropy has not really
been taken into account, although certain theorists, starting with
Schrödinger, have considered it. The question that Schrödinger poses is
how it is that living beings remain in a configuration of low entropy?
If we look closely at the second law of thermodynamics, this is not a
contradiction. Such a situation is possible because there are flows with
the outside world. Entropy can</span>[Warning: Draw object
ignored]<span> only increase in an isolated system. In an open system,
entropy can remain low or even decrease—if entropy is rejected on the
surroundings.</span></p>
<p><span>However, the concept of entropy and low entropy is not
sufficient to understand living organisms. Another industrial evolution
has been initiated by the concept of information, which has two faces:
on the one hand, computational information in the sense of calculation,
as in mathematical logic, and information theory in the sense of
Shannon, which describes the faithful transmission of the written
message, for example. These frameworks radically changed the way society
was organized, with the idea that </span><span>intellectual activity
would ultimately be information processing, by analogy with the computer
and the transmission of information.</span></p>
<p><span>This has led to a second wave of proletarianisation, i.e. a
loss of knowledge, in the sense that certain activities that used to be
done by humans are now done by information processing systems, but also
in the sense that the way in which humans now work tends to imitate
these information processing systems. It’s not the information
processing systems or devices that replace humans because they would be
equivalent, instead the two converge leading to the possibility of
substitution. And this wave of proletarianisation is also taking place
through the development of consumerism—consumer capitalism—where it’s
not just producers who are being proletarianised, who are losing their
knowledge, but also consumers as such who undergo this process, whose
activity is prescribed by marketing.</span></p>
<p><span>So, why is this informational framework inadequate for
understanding living beings and then for understanding what we need to
do in the face of the current crisis? In fact, this notion of
information, which in a sense echoes Schrödinger’s idea that living
beings are characterised by a particularly low entropy (in the physical
sense), is far too imprecise an idea. In other words, the entropy of
living beings is certainly low, but living beings are also organised. In
other words, the way in which they are configured enables them to
survive; to reproduce and also to generate novelties that will become
how their bodies then function.</span></p>
<p><span>So, by analogy with information theory, entropy alone does not
describe the meaning of messages, it just describes the transmission of
messages that have already been written. This means that a message that
makes no sense can contain just as much information as a message that
does make sense. As a result, a text written by a five-year-old, or even
typed by a five-year-old, contains as much information as a play by
Shakespeare.</span></p>
<p><strong>Bernard Stiegler:</strong> <span>According to this vision
…</span></p>
<p><strong>M.M.:</strong> <span>According to information theory. But
with this idea, I think, that information theory is basically designed
to transmit, for example, a written text. And therefore, to transmit it
faithfully. That’s its problem. Its problem is not knowing in what way
this text contributes to the fact that society functions, for
example.</span></p>
<p><strong>B.S.:</strong> <span>In very concrete terms, this leads to
the compression of messages, whether text messages or sound messages,
image messages. Hence, this image compression then can, by eliminating a
great deal of redundancy, transmit complex images across twisted copper
wires.</span></p>
<p><strong>M.M.:</strong> <span>The counterpart of information is noise.
Shannon’s original work was on noise: how to transmit a message
faithfully across a noisy channel. So, noise makes absolutely no sense,
it can’t play a positive role. Whereas in Darwin’s biology, random
variation allows, or at least contributes to, the emergence of
biological organisations. So, it’s not an adequate framework, it’s a
framework that isn’t sufficient, but which can sometimes be operational.
In other words, it can be deployed, but that doesn’t mean it contributes
to understanding. It allows you to make calculations.</span></p>
<p><span>To go further, I’d like to talk a little about the concept of
anti-entropy, which we introduced with Francis Bailly and Giuseppe
Longo. The idea is not to stay with physics entropy and its derivates,
but to add another distinct quantity, even if it is linked to entropy,
which is used precisely to describe biological organisation as such. The
counterpart of entropy is the production of anti-entropy, in other words
the production of novelty. With the idea that in the Anthropocene, many
processes destroy anti-entropy, or even prevent the production of
anti-entropy, i.e. the production of functional novelty.</span></p>
<p><strong>B.S.:</strong> <span>So, this work, which we started
exploring a few years ago, first with Giuseppe Longo, six or seven years
ago—that’s how it started—was very much linked to the problems of
automation. They led us, along with Maël who has just spoken and a
number of other people, whom I won’t mention here but who are
signatories to this book or who helped write it, to take up questions
that were opened up by Alfred Lotka in 1945. Earlier, in fact: as early
as the 1920s, after Lotka had begun to approach these questions, let’s
say, in particular this idea of the evolution of human beings that would
be different from that of animals, and therefore not subject to
Darwinian natural selection. Lotka summarised this in a very short text,
20 or 25 pages long, which was read and commented on by Nicolas
Georgescu-Roegen. Both were mathematicians who had emigrated to the
United States. Both were interested in biology, but Georgescu-Roegen was
an economist and Lotka a biologist. Georgescu-Roegen popularised a
concept called the bio-economy, which in my opinion is based on a
misunderstanding.</span></p>
<p><span>I’d like to repeat, rephrase, and summarise what Maël has just
said. We say ... when I say we, in this book
</span><em>Bifurquer</em><span>, it’s also a project—it’s a book, but
this book is a weapon with which to carry out a project. Well, a weapon,
that’s perhaps a bit aggressive. A tool, let’s say, to carry out a
project. And this project is to launch what we call laboratory
territories, which will experiment with development that is, let’s say,
sustainable, if not sustainable and compatible with a multi-level
distributed economy.</span></p>
<p><span>The nano-economy is the domestic economy—when I do my shopping,
I’m in the nano-economy, I save as much as possible, I try to buy the
best products as cheaply as possible. If I’m a member of the Thunberg
generation, I try to come on a scooter or by bike rather than by metro,
or even by taxi, etc. [laughs]. It’s local, and it meets Schrodinger,
because Erwin Schrodinger posited that the negentropy that living
organisms generate [is temporary and local].</span></p>
<p><span>That’s not exactly what Maël thinks either, because we’re not
completely in sync on everything. There are things we haven’t fully
explored to the end. But I’m one of those who believes that applying the
word negentropy to physics is not acceptable. That the word negentropy
should be limited to living things. Because otherwise we confuse order
and disorder on the one hand, and entropy and negentropy on the other.
And if we do that, we give credence to a vision of the generation of
order through noise that comes from physics, i.e. Ilya Prigogine’s
dissipative structures, and which in my opinion brings nothing at all to
biology. That’s not to say that it doesn’t do anything for biology, but
... I think it can be misleading.</span></p>
<p><span>I say this for a very specific reason: it’s because
Schrodinger, on the other hand, coined the concept of negative entropy,
which was later transformed into negentropy by Brillouin. Schrodinger
states very precisely that this negative entropy can only occur on a
local scale. So, it cannot be separated from an organisation’s
relationship with its environment. A gypsy tribe that was at the heart
of Bohemia 50 years ago and is now in Seine-SaintDenis must surely have
changed a lot.</span></p>
<p><span>This locality is conditioned by the surrounding environment.
This is extremely important. It’s extremely important because we’re
starting to find issues linked to the Anthropocene, to global warming,
to disturbances generated by what I call anthropy [pronounced as entropy
in French], with an a and an h. It takes up the concept of anthropogenic
forcing of the G.I.E.C. (which, translated into French, is forçage
anthropique) and it also takes up a certain definition by geographers of
what we call anthropised environments, i.e. environments inhabited by
human beings, which impose models of the human, of the anthropos, and
that’s anthropic with an a and an h. [pronounced as entropic in
French].</span></p>
<p><span>So, where Lotka is very important is that he has shown that all
human beings are equipped with artificial organs. Without artificial
organs, they cannot live. He’s not the first to say this, Rousseau and
Herder were already saying it, so it’s not new at all. What is
completely new, however, is that he, as a biologist, says: firstly,
biology is a question linked to entropy, it’s inseparable, and secondly,
in human beings, the fight against entropy, i.e. the reduction of
entropy, is also an increase in entropy, which can become
uncontrollable. Why does it get out of control? Well, because, to take
an example, one can increase the speed at which people move around with
planes or cars.</span></p>
<p><span>The entropic cost of these goods is becoming unsustainable on
the scale of the biosphere, which is a locality where, at a given
moment, all the effects of the biosphere’s locality are
consolidated.</span></p>
<p><span>There is a very, very big problem here, and this problem has
been called the Anthropocene since 2000, but the first person to
describe it, in my opinion, was Vernadsky in 1926. Because we always
talk about the Anthropocene era, and Vernadsky described the
Anthropocene era, although this is not what he called it: he called it
the technosphere. Obviously, if we cross Vernadsky with Lotka (in fact,
in 1926 Vernadsky wrote, Just look at what Lotka is doing, because this
guy is going to say some important things, I’d like to stress that he
said the same thing about Alfred Whitehead too), then the question
facing human beings is one where they need to optimise their potential
for neguanthropy with an a and an h [pronounced as negentropic in
French], in other words, to fight against anthropism in the sense of
anthropisation [pronounced as entropisation in French]. In other words,
to minimise its entropic effects.</span></p>
<p><span>Why is this so? Because these organs, as Socrates said, are
pharmaka. In other words, they are multi-purpose. You can use a book,
for example, as Socrates wrote in the 5th century BC, to demonstrate a
mathematical theorem, and this is how book culture began, in fact, as
early as the 7th century BC, but books can also be used to dogmatise
young Athenians and get them to do stupid things, to cultivate their
thirst for power. In the same way, you can use a computer to increase
your profits in a totally disproportionate way—I would remind you that
the sophists were also people who wanted to increase their profits. At
least, that’s what Plato says.</span></p>
<p><span>Of course, computers can do amazing things: they can fight
entropy, even anthropy with an a and an h. But on one condition: that we
prescribe what Lotka calls knowledge. Because what Lotka is saying is
that the function of knowledge in human beings is to reduce entropy and
increase negentropy. And even to make possible what Bailly, Longo and
Montévil have called anti-entropy, but here I say it with an a and an h,
that is anti-anthropy. What is anti-anthropy with an a and an h, as
opposed to neguanthropy with an a and an h? Neguanthropy with an a and
an h is the educational institution, the family institution—everything
that constitutes frameworks that are maintained, conserved and
reproduced. And that makes anti-anthropy possible: the adolescent’s
revolt against his father, the slightly insolent pupil who will perhaps
become Arthur Rimbaud or Charles Baudelaire, or I don’t know who, Albert
Einstein (you should know that Einstein was considered not to be a very
good pupil, and that he was rejected, and 15 years later it was said
that he was the greatest genius in the history of humanity, which is
quite an excessive claim by the way).</span></p>
<p><span>So, what we’re saying today is that we need to try and develop
an economy; an economy— and here I come back to what Maël was saying
earlier—that revalues knowledge and fights against proletarianisation.
Why does it enhance knowledge and combat proletarianisation? Because
Lotka says that only knowledge can reduce entropy. From there, we say:
we need to deproletarianise economic activities, the activities of what
we call producers, but also consumers, because consumers, as [Maël]
said, are also proletarianised. For example, through marketing and all
sorts of things, we can lead them to behave in an entropic way against
themselves, without them realising the impact on their health, on their
own wallet economy, and so on. And so, for us, this means that we need
to produce a kind of new industrial revolution.</span></p>
<p><span>Maël began by saying that the industrial revolution of the 19th
century was based on Newton (in fact, it began at the end of the 18th
century). Hume was a Newtonian. All these people thought that Newton was
the culmination of science, at that time, that’s what they thought. They
thought that, at last, we have achieved physics. That’s what Kant said.
In our opinion, this led to a kind of repression of thermodynamic
entropy in the nineteenth century. Knowing that, of course, what is
quite delicious in a way, and somewhat paradoxical, is that it was
industrial development that made thermodynamic theory possible. It was
through the observation of artificial organs, which Lotka calls
exosomatic, that we discovered that entropy could be increased
enormously. So, it was by starting with human activity that we then
returned to the laws of physics. It’s not by starting from physics. This
is extremely important.</span></p>
<p><span>Then, as you said, Maël, in the twentieth century—for reasons
that are still open to discussion, and which Mathieu Triclot has
clarified in a really important book— information theory developed in
the wake of computer science, even if it wasn’t initially designed to
solve computer science problems, but telecommunication problems, and
therefore problems of optimising signal communication (signal
processing, as it’s called in engineering). This led </span><span>to a
notion of entropy and negentropy, which is not at all bounded, because
if we compare the different protagonists of this notion who were in
dialogue and worked together, they do not agree on what entropy and
negentropy mean (Wiener and Shannon do not have the same vision of
things).</span></p>
<p><span>This vision, which we will call computational—because Shannon’s
vision is that we can optimise, through calculation, the limitation of
redundancy, the limitation of noise and be able, for example, to
compress the signal—well, this is what will become theoretical computer
science, combined also with the visions which posit that the computer is
a Turing machine. In other words, a computational machine capable of any
type of calculation. The combination of these two things will produce a
theory of entropy in the twentieth century which seems to us to be
highly problematic, and which will also generate a great deal of
confusion. Because it all started in the ’40s (late ’40s early ’50s),
and it was linked to intelligence.</span></p>
<p><span>Today we are told that the great singularity will mean that in
10-, 15-, or 20-years’ time, computers will tell us how to solve the new
mathematical theorems. I find this totally fanciful.</span></p>
<p><span>Dan Ross’s book analyses this model in some detail, drawing on
the work of Mirowski, who has done a great deal of work on information
in economic models, particularly the neo-liberal model (especially
through Herbert Simon and Friedrich von Hayek). This model—that
everything can be transformed into information, that all knowledge can
be transformed into information, and that all information can be
calculated—is going to be imposed on every activity today. Medicine,
transport, cooking ... everything! Bringing up children ... Absolutely
everything.</span></p>
<p><span>We maintain that this model is extremely dangerous. Because it
assumes that everything is calculable, it overlooks incalculabilities
that are in fact inevitable. Personally, I think that the pandemic we
are currently experiencing is a typical case of this. When you think you
can calculate everything, you think you can get rid of masks, you think
you can cut hospital beds: there are a lot of things that you can do.
Similarly, you can reduce the budget of the Ministry of Social Affairs,
and then, why not, the Ministry of Education, etc., and the army too.
And yes, this includes the army too because they want to replace
soldiers with killer robots (in addition to all the enormous ethical and
other problems, such as the preservation of justice, that may arise).
This is totally false.</span></p>
<p><span>Decision cannot be reduced to calculation—Immanuel Kant
explained why. This is what Whitehead later reiterated, based on
mathematics and physics, and not just philosophy: decision is what
always goes beyond calculation. And for a very precise reason: it’s
because human beings transform the world, not just interpret it, as Karl
Marx said. When we transform it, we introduce an incalculable. This
incalculable can be called Pablo Picasso, Albert Einstein, or Greta
Thunberg. What we’re arguing today is that all these issues require us
to rethink the industrial economy.</span></p>
<p><span>What has just happened through the pandemic, the confinement
and the economic catastrophe that all this engenders (which is colossal,
and the extent of the catastrophe has not yet been gauged at all—no one
has yet gauged it, because we don’t really know how it’s going to
materialise, because it’s global, so we can no longer separate China,
Japan, North America, Europe, Africa, etc) this catastrophe is a
catastrophe generated by proletarianisation. And we say that the theory
of information and all those things have produced processes that should
not be ignored, and which are sometimes extremely effective.</span></p>
<p><span>This technological efficiency means, for example, that a number
of things can be robotised, tasks can be eliminated, or tertiary
services can be replaced by consumer behaviour that is cookised—with
cookies that ultimately trigger stock replenishment operations, or all
sorts of things of that kind, all of which means that, for example, the
OECD says that in the next 20 years, 16.6% of jobs in France will
disappear. So there’s a very, very significant reduction in
employment.</span></p>
<p><span>That was before the COVID crisis. And we say that if you want
to make people solvent, you have to redistribute productivity goods. And
the question is: what criteria? We say that it’s not enough to
redistribute, for example, through a universal income, even if we’re not
against a universal income as long as it’s not one that immiserates, as
long as it’s not lower than the minimum social benefits already offered,
which is what, unfortunately, those who revendicate it are actually
advocating... and above all we say that we need to pay for knowledge
outside of the </span><span>workplace. In other words, more and more
people are going to produce knowledge outside their working hours, as
the intermittent entertainers do.</span></p>
<p>Why do you want to do this? Because when you’re not working, you’re
in anti-entropy. When you’re employed, you’re in neganthropy with an a
and an h. In other words, you’re serving a system, you’re maintaining
the system, and that’s fine. But what will produce knowledge is
anti-anthropy with an a and an h. This is the thesis that Marie will
soon be defending, for example, introducing things that didn’t exist
before, in other words what we call novelty. From there, we need to try
and rethink (this is what we develop in Chapter 3 of <em>Bifurquer</em>,
in great depth) the accounting models, the qualification and
quantification of value and wealth. To put in place a working method,
which we call contributory research, so that all kinds of
stakeholders—today we are starting to work with farmers, fishermen, and
people involved in tourism too, in an island context that is across a
group of islands—so that all these stakeholders can optimise their
activities, for themselves, for their own interests. And not against the
planet, and by integrating the <span>whole question of entropy, which we
call sustainability.</span></p>
<p><span>I’ll finish by saying that we’re all—well, more or less—very
impressed by Google. Firstly, in the 20 years that Google has been
around, I’ve been amazed by its advances. Even Amazon, which I detest. I
hold Google in high esteem because I use it every day. Amazon is
becoming more complicated. But in any case, I have great admiration for
this structure. I have great contempt for Facebook because I think it’s
extremely trivial and beastly. But what I’m saying is that if it’s
growing, it’s because it’s efficient. And if we ever decide to ignore
this effectiveness, the efficiency of these technologies, for example,
by saying that we’re going to defend French-style public services, and
that we don’t want this efficiency, then the French-style public service
will collapse. We have to make this efficiency our own. And to make it
your own, you have to criticise it. In other words, we have to point out
its limits.</span></p>
<p><span>It’s an efficiency that neglects what Aristotle, or even
Immanuel Kant, called finalities. And that’s not what we call finality
today. That’s the language of telos, with the Greeks, dating back to the
fourth century, with Aristotle. We now call it sustainability. There is
finality in living things. It was Kant who first understood this: in
what is known as the Third Critique, the Critique of Judgement, Kant
understood that living beings embody a finality. And that is very, very
important.</span></p>
<p><span>A catastrophe occurred with what is known as neo-Darwinism,
which led us to believe that we could eliminate the question of
finality, that all these stochastic processes of natural selection could
allow us to dispense with this question. But this is not true. What is
true is that, like Jacques Monod, we have to try to do without finality,
because at the beginning finality was God, in Aristotle as in Kant. So,
let’s try to do without God, without a transcendent finality such as
that ... and they try to find such a finality in probabilistic
computational models. Monod said: let’s look at the organism as a
teleonomic system. But it’s not just a teleonomic system. In other
words, there is a consolidation at the level of the biosphere which
means that, at a given moment, the human being is not simply an
organism, but an exorganism. They have to engage in politics, they have
to engage in economics, they have to produce works of art. They have to
bring up their children in a way that no one else can. And that is
absolutely singular and it’s a singularity of purpose that can’t be
reduced to teleonomy. So we need to reinvest in this question of
finalities, and finalities are what are produced in
knowledge.</span></p>
<p><span>When I say knowledge, let’s be clear: for us, knowledge doesn’t
necessarily mean passing a thesis, a competitive examination, or an
</span><em>agrégation</em><span>. Knowledge is knowing how to cook, how
to cultivate a garden, how to bring up a child, how to take a car apart
and put it back together again. It’s all this very empirical knowledge.
And it’s also knowing how to live</span>[Warning: Draw object
ignored]<span> together. In other words, what we call cultures. Knowing
how to be hospitable, all that ... And hospitality, I don’t know, in
Morocco is not at all the same as in China. But there is hospitality in
all civilisations, just not in the same way. And we’re not very
hospitable.</span></p>
<p><span>If we’re not very hospitable, it’s not because we’re bad
people, it’s because we’ve destroyed the knowledge that used to be
passed on. Like knowledge of commensality, for example: we no longer
know how to eat together. If you read Zola’s
</span><em>Germinal</em><span>, you’ll see that they still know what
hospitality is. This is also the theme of another novel that has been
turned into a very famous film, called </span><em>Babette’s
Feast</em><span>. So that’s what knowledge is, it’s something
fundamentally generous and in science it’s the same, the great
mathematicians are generous. They don’t defend their little careers,
...</span></p>
<p><strong>M.M.:</strong> <span>Great chefs too, by the
way...</span></p>
<p><strong>B.S.:</strong> <span>And great chefs too, of course, when
they’re not overly mediatised and proletarianised, like scientists, for
that matter.</span></p>
<p><span>Victor Chaix: It seems obvious to me that we need to rethink
the current economy, which is totally ill-adapted to the challenges of
the Anthropocene. As is well described in chapter 1 of the book
</span><em>Bifurquer</em><span>. Nevertheless, in relation to what
[Bernard] just said, in relation to the fight against entropy, it seems
to me that in its physical sense, there seems to be a limit. Given that
entropy can only increase in an isolated system, in its purely
thermodynamic and physical conception, what does it mean to fight
entropy economically if it is bound to increase
thermodynamically?</span></p>
<p><strong>B.S.:</strong> <span>It means making sure that the human
species lasts as long as possible. It will disappear anyway. You need to
know that. It will disappear like the sun disappears (the cooling of the
sun: Hubert Reeves became very famous for this in </span><em>Patience
dans l’azur</em><span>). So, your question is very important.</span></p>
<p><span>Elon Musk says: we have to leave. We have to get off the Earth.
He doesn’t say why, but it’s because some people in Silicon Valley are
building themselves floating islands 22 kilometres off the coast,
because they’re outside American law, they don’t pay tax, etc. That’s
Peter Thiel. They say: we have to leave, we have to move to Oceania, and
so on. In any case, people are all going to kill each other, they’re all
going to die of COVID, and so on. That’s really what a number of people
(not all) are saying, and it’s been written down.</span></p>
<p>Musk is more likeable than that, I think. I like him because he’s
depressive! [laughs] So,  like all depressives, he’s cyclothymic. So,
one minute he’s saying we need to conquer Mars,  and the next he’s on TV
saying: I’m getting high because ... well! And his shares
plummet [laughs] and his shareholders say,
he’s completely out of his depth. But he’s brilliant. He says, we’ve got
to get off the Earth. He says the same thing as Hubert Reeves. Hubert
Reeves says: at some point we have to migrate. And to colonise the Moon
(there’s a project in China attempting to do this), and then Mars and
much further afield too. And that will take thousands of years. But on
our scale, on the scale of evolution, it’s a very short time.</p>
<p><span>Why do I say this? It’s because this question of
non-sustainability, in the very long term— not only on Earth but in the
solar system—is a scientific question. It’s not at all a rant by a
fortune-teller or whatever. It’s not a doomsday prediction or anything.
That wasn’t the case until thermodynamics. I pointed out that this was
the cause, in my opinion, of Friedrich Nietzsche’s nervous breakdown.
When he discovered Thompson’s positions, he had a breakdown that lasted
2 or 3 years, and he cured himself by writing Thus Spoke
Zarathustra.</span></p>
<p><span>What I’m saying is that we have to stop being in denial. We
criticise Trump for being in denial, we criticise the boomers for being
in denial. And we’re right, but we shouldn’t be in denial ourselves.
Entropy is increasing, and at some point, we must also have the modesty
to know that we can hardly anticipate more than a few decades.
Anticipating in the sense of making decisions and trying to build
things. That’s what I mean by that. Not theoretical models, because
theoretical models are always just theoretical models. They are never
practical models. They can feed them but...</span></p>
<p><span>For me, the big political economy question is between those who
say: There are those who say, as we do, and I say this very specifically
to Elon Musk: you won’t actually leave Earth because your rocket depends
on the ground segment anyway. And before a rocket can do without a
ground segment ... The ground segment is the name given in the space
industry to the Cape Canaveral base.</span></p>
<p><span>We worked with the C.E.A. [French Atomic Energy Commission] on
the ground segment, and before we can do without a ground segment ...
[laughs] it’s not going to happen any time soon! It might be possible
once we’ve colonised the Moon or Mars. I’m not ruling those things out
at all. I’m neither for nor against it, but I don’t rule it out a
priori. On the other hand, we do maintain that if we don’t reinvent a
sustainable economy ... but sustainable means for a certain period of
time. Not eternal. Eternal is ... you have to go to the Pope for that.
Or an Imam or whoever, but... [after all] why not, because having the
ability to eternalise concepts can help people to do very good things.
I’ve got nothing against it, at all, religious models, which help people
to live. But </span><span>scientifically, man will disappear from planet
Earth and very probably from the universe as a whole.</span></p>
<p><span>If there is anything left to inherit from man—and from living
beings, I would say, more generally—then I have no idea what it will be.
There are, of course, then the transhumanists, who are trying to talk
about hyper, hyper-acceleration—you could even call it
archi-acceleration—in other words, much more than hyper-acceleration.
What for? To take control of the exosomatisation on Earth, if need be,
and not at all elsewhere, in fact. That’s marketing. Very ambitious, a
little delirious at times, in my opinion, but it’s essentially
marketing.</span></p>
<p><span>So, to come back to your question, which is a fundamental
question, and a difficult one ... we have to mourn the loss of eternity.
That’s definitive. Arthur Rimbaud already said it, and it’s nothing new.
In any case, in physics. As for theology and all that, I leave that to
people to sort out. But I have a lot of discussions with theologians. To
make an economy, an economy that would be an economy of sustainability,
and to ensure that there will still be human beings on Earth in 10,000
years’ time and living beings, etc., well then, we need to build an
economy of neguanthropy, but neguanthropy will never eliminate
entropy.</span></p>
<p><span>Then there’s a movement called the extropians, who claim that
man can escape entropy. That, for me, is totally crazy. I don’t know
what you think [Maël]? It’s a model that has developed in astrophysics:
there have been astrophysicists who have fuelled this discourse to some
extent. But for me it’s completely fanciful.</span></p>
<p><strong>M.M.:</strong> <span>There’s one thing I’d like to add—this
is just one example of physical entropy, but it’s related to another
neguentropy, which is interesting because it’s also relatively
simple—and that’s the question of minerals. This is dealt with a little
in the book. Because, for example, we talk about peak production for
minerals, but in fact minerals such as copper, phosphate, etc., are
fundamentally conserved. So, they cannot be destroyed. They are
destroyed, but in the very long term, with the increase in entropy, but
that’s hundreds of billions of years away. So, they are
preserved.</span></p>
<p><span>What does it mean when production peaks? It means that there
are pockets where they are concentrated. Therefore, it’s feasible to
extract them, but in fact these pockets don’t appear spontaneously,
because spontaneously it’s the maximum of entropy and therefore the
maximum of dispersion. They appear thanks to the movement of volcanoes,
the Earth’s geological movements. This is what will lead, quite
accidentally, to concentrations of these minerals in certain places.
Which we come to exploit, which we come to reconcentrate again, every
time we produce entropy on Earth.</span></p>
<p><span>The Earth’s movements also produce entropy. But it also
produces concentrations like this. So we concentrate them even more, we
use them to make things. And the question is: what happens next? If we
disperse them completely in the environment, we increase entropy. Given
the distribution of these elements on Earth, we’ll very quickly
find</span><span> ourselves having to
generate an enormous amount of entropy in order to have more of them, to
extract areas where they’re less concentrated, and so on. So the idea,
as we all know, is to interpret these processes in terms of entropy so
that they don’t disperse. The aim of recycling is to prevent the
dispersal of ores in particular. So this is a good example of how it
works. Bearing in mind that the extent of the concentration of these
ores, for example, the concentration of rare earth, etc., depends on a
perspective that comes from the objects we are trying to produce, so
it’s relative. It’s a question of perspective. The relevance of the low
entropy of these minerals is entirely a question of perspective. So is
the relevance of their dispersion.</span></p>
<p><strong>Marie Chollat-Namy:</strong> <span>You talked about the
current framework, which is based on a Newtonian vision governed by
calculation and at the same time poses a lot of danger, but on the other
hand it also has a very effective function, which has succeeded in
producing everything we know at the moment: the telephone, all that...
Now, faced with the problem raised by the Anthropocene and the
ecological crisis, wouldn’t something effective, like this vision, be
effective, precisely, in combating the ecological crisis, and in this
case, would there be forms of calculation that could combat this
crisis?</span></p>
<p><strong>M.M.:</strong> <span>So, this efficiency is analysed, albeit
very schematically, in two dimensions. One dimension is that it is
effective, but because it produces an enormous amount of entropy. So,
its </span><span>effectiveness comes from its destructive nature.
Facebook, for example, falls into this category. And there’s another
dimension, where efficiency can be hijacked to be antientropic. So, the
idea is to divert it, to mobilise it for this purpose.</span></p>
<p><strong>B.S.:</strong> <span>In other words, to criticise it.
Immanuel Kant is considered to be the founder of modernity-modernity, if
I can put it that way. Because we say that there is Descartes who
founded modernity, who made Newton possible and all that. And then
there’s Kant, who built the epistemological framework of modernity,
let’s say industrial modernity, the modernity we’re going to know, in
which we’re still more or less. And what does Immanuel Kant say? He says
that criticising doesn’t mean denouncing at all, it means stating the
limits. There are limits, and Newtonian physics also has
limits.</span></p>
<p><span>I often use an example when I talk to journalists about these
issues. I often say: look, every aircraft has to be certified. It’s
important to know this, if you want to put all the scientific bodies in
the air. As a result, there are no crashes—well, there are still some,
but given the number of aircraft flying, it’s absolutely incredible that
there are so few accidents (although with drones, it’s starting to get
very complicated). But why is it like this? Firstly, because of
certification, and secondly, international civil aviation legislation is
extremely precise and extremely restrictive.</span></p>
<p><span>When you produce a new model of aircraft, it has to be
certified. Boeing, you have heard, had a problematic certification. It’s
a bit like the Lancet affair ... it’s extremely serious because it
discredits the certification bodies. And in principle these bodies are
very serious, they are engineers and physicists (I’m talking about
aircraft). For medicines, they are biologists, pharmacologists, or
medical doctors. Today, if you submit the A380 for worldwide
certification, it is certified. It has the right to fly. Because you
take Newton’s physics. But if you take thermodynamics, it shouldn’t fly.
Because it destroys its conditions of possibility. Why, you ask? Because
it consumes so much fuel and causes so much pollution that it will
exhaust all the conditions under which it can fly in the very short
term. You could say that it’s no big deal, that it will pay for itself
in 30 years anyway, except that means that there are no more planes that
can fly after that. So it’s the death of aeronautics.</span></p>
<p><span>What I mean by this is that, of course, Newton is not dead. We
are not at all saying that Newton is dead. Newton was a great scientist.
Nobody has ever said that Newton was wrong. We’re saying that he’s no
longer good enough. In other words, the principle of inertia and
gravitation are two principles that are still used in aircraft
certification, of course. They are Newtonian. Newton came up with them.
After that, Newton didn’t foresee the questions of thermodynamics, which
he didn’t ask himself. Now, what an aeroplane does is to articulate the
laws of Newtonian physics with the laws of thermodynamics, except that
it articulates them negatively with the laws of thermodynamics. And
since we don’t certify them, we can’t see it.</span></p>
<p><span>What I mean by saying this is that we are not at all opposed to
calculation. At all, at all. You have to calculate. Nothing can be done
without calculation. Even playing football. Even a guy who plays
football doesn’t make rules of three, he doesn’t do calculations, he
doesn’t have rules to calculate: by simply playing, his body calculates.
In other words, his eye, with his muscle, his foot, etc. are making
calculations that are encoded in his body, that are embodied. It
calculates, it’s always calculating. It’s just that living beings cannot
be reduced to calculations. Living things calculate all the time, and
natural selection is a form of calculation. It is stochastic, and the
neo-Darwinians are right on this point. But that’s not enough to say
what living things are.</span></p>
<p><span>So, if you want to fly an aeroplane, which is an exosomatic
organ, you have to integrate calculation, Newtonian calculation, but
also thermodynamic calculation, but also biological calculation. I say
thermodynamic + biological + critical information theory. And these are
all theories of calculability, so we’re not at all saying that we should
reject calculability or efficiency, quite the contrary. But efficiency
must be subject to purpose. That’s the big question. What are the
libertarians in Silicon Valley saying today: we’re much more efficient
than Washington, so let’s do away with the state. In fact, they are
carrying out the neoconservatives’ programme with </span><span>extreme
violence. And they are effectively ridiculing public power. But why is
that? It’s because public power hasn’t got to grips with the issue
itself.</span></p>
<p><span>Mr. Macron thinks we need to create a start-up nation. It’s not
certain that this will work very well. We don’t believe that. We need
what I call a new critique of political economy, which means building a
new epistemology of industrial society, which for us is not
postindustrial. It will remain industrial precisely because ... and what
does industrial mean?</span></p>
<p><span>It’s what formally inscribes the calculation. In other words,
the person who transforms everything into an equation and so on. Before
industry there were craftsmen, who did absolutely incredible things,
often of a much higher quality than industry. They do things
intuitively, empirically, not by calculation. There are exceptions, like
Leonardo da Vinci or people like that ... But these people prefigured
what would later become exosomatic production based on calculations.
Which allows for economies of scale. Economies of scale are very, very
important.</span></p>
<p><span>What do they achieve? Sometimes they enable us to optimise the
food supply for human beings, thus combating hunger and so on. Not
everything in this model should be condemned. I think that today it is
condemned—it condemns itself. But it’s a fact that rationalisations have
been made. Even if I’m not necessarily a fan of pasteurisation. Pasteur
made some very important contributions. All that was based on
calculations, formalisations... we’re not rejecting science at all, on
the contrary, we’re saying: we need to redo science. Because today, on
the other hand, industry is no longer doing science. It uses scientific
models to transform them into tools, without taking into account what
every scientist does, which is theory: the theory of its own limits,
otherwise it’s not science. Today we practise pseudoscience, but it is
not science, it is the use of scientific models.</span></p>
<p><strong>M.M.:</strong> <span>In fact, the limits of predictability
and therefore of calculability were discussed and introduced by
physicists and mathematicians quite early on. For example, at the end of
the 19th century, Poincaré showed that we could not predict the
stability of the solar system, because it is a chaotic dynamic. This is
the butterfly effect before its time. A small disturbance can have huge
effects.</span></p>
<p><span>And that’s in a deterministic framework. We can’t predict. In
the same way, part of the birth of computing is Gödel’s theorem, with a
similar version by Turing, which shows that there are propositions that
can be written but that cannot be demonstrated, in the sense of being
demonstrated by a computer (which didn’t exist at the time). In other
words, the computer makes it possible to calculate the fact that there
are things that it cannot calculate. And yet they are well formed. I
don’t know if that’s very clear ... ?</span></p>
<p><strong>M.C-N.:</strong> <span>It’s simply a question of
uncertainty.</span></p>
<p><strong>M.M.:</strong> <span>It’s the undecidability.</span></p>
<p><strong>B.S.: I</strong><span>t’s not exactly uncertainty in the
sense that Prigogine, in any case, talked about it.</span></p>
<p><strong>M.M.:</strong> <span>In fact, the computer is largely the
result of questions that arose in mathematics. These questions arose
because there were contradictions. In other words, people who thought
they’d proved theorems, then went on to find counter-examples. All
mathematics collapse if you find counter-examples. So, they tried to
find new foundations for mathematical practice. And the foundation that
was explored was potentially mechanisable logical reasoning. So
mathematical proofs would have to be a logical sequence, that a machine
could reproduce. This gave rise to Hilbert’s programme, which aimed to
transform geometry by reducing it to logic (Boolean logic, i.e., with
zeros and ones).</span></p>
<p><span>What Gödel showed was that, in fact, when we do this, we can
state propositions that are neither demonstrable, nor the opposite of
which is demonstrable. You can’t decide them. Nor can we demonstrate
that there is no contradiction. In doing so, he invented coding, the
idea of coding theorems with zeros and ones. That’s how he proved it.
Then we coded all sorts of things, we coded texts, we coded videos, we
coded images, sounds and so on. It’s all based on a negative result. And
the current tendency is to forget that, including in the training of
people who do theoretical computing and the idea that you can do
anything by calculation. Without any limits.</span></p>
<p><strong>B.S.:</strong> <span>These are questions we’ll be coming back
to in Arles. In the seminar on theoretical computer science.</span></p>
<p><strong>V.C.:</strong> <span>With regard to your question, Marie,
about efficiency, and to come back a little to what Bernard was saying
about the question of purposes ... in fact, it seems to me that the
question is: How can we divert efficiency, which is indeed very
efficient and works well, so that it serves interests greater than just
efficiency. So that it has some purpose other than itself. When Bernard
said that the original purposes were mainly theological, that the
purpose was once God, it seems to me that today, in the context of the
Anthropocene, the primary purpose is to maintain life. Both human and
non-human life. So, at this point, diverting efficiency so that it
serves life...</span></p>
<p><strong>B.S:</strong> <span>I’d say adopt efficiency. Diverting it,
yes, in other words, diverting the research that Amazon, or I don’t know
who, is doing—all these people are efficient for a reason, because they
know how to manage their programmes in a pretty impressive way. Of
course, you have to divert,
but above all you have to adopt. In other words, you have to
integrate.</span></p>
<p><strong>V.C.:</strong> <span>Practice?</span></p>
<p><strong>B.S.:</strong> <span>Not just practice ... theorise. They
don’t theorise. They don’t bother with theories, which is why Anderson
says [that we’ve reached] the end of theory, that we don’t need theory
anymore—he doesn’t bother with theory any more. He thinks it’s a waste
of time. And they’re absolutely wrong. Because to stop theorising is to
make a mockery of sustainability. It means what it means in concrete
terms. But we need to go back to the adoption of efficiency. The current
efficiency of what we call information technology, and digital
technology in general, which is ultra-efficient, and which is in fact
computing everywhere.</span></p>
<p><span>It’s the programme of mathematical physics generalised to
absolutely everything, and it dates back to the seventeenth century. So,
it’s not a new thing at all, but they’ve managed to do it. By throwing
[religion] out the window, on the pretext that we need to get rid of
God, and I think they’re right. The greatest scientists of the 20th
century were often believers, and they said the same thing: in science
you don’t need God, you do without. In church, yes, but not in science.
But this efficiency is the efficiency of an exosomatic extension of
understanding, in the sense of Immanuel Kant. In other words, the
analytical faculty. In fact, calculation is analysis, it’s a way of
analysing. And in analysis, well, there are formal analyses, i.e. I’m
going to put all this into an equation, or I’m going to make
calculations, measurements ... and then there are totally empirical
analyses: a bricklayer, for example, he also calculates a bit, he has a
square, and that is all he has...</span></p>
<p><strong>M.M.:</strong> <span>The Pythagorean theorem.</span></p>
<p><strong>B.S.:</strong> <span>He uses the Pythagorean theorem a lot.
He doesn’t know how to demonstrate it, but he uses it a lot. But then
he’s very fickle about a lot of things, you see. Nowadays, they
calculate for a certain number of resistance problems and all that,
because there are insurance obligations, ten-year guarantees ... well
they’ve learnt to integrate a certain number of things, they have
software for that, too. But they don’t calculate, they don’t really
analyse at a given moment, they decide on a whim. And that’s what we’ll
call the art of the bricklayer, in other words his craft.</span></p>
<p><span>In industrial construction, we’re working on it right now in
Seine-Saint-Denis—it’s completely different, everything is calculated in
BIM [Building Information Modelling]— and this calculability today tends
to replace any decision. So, what I believe is that we need to adopt
efficiency, and that means re-politicising the economy, and saying that
the economy cannot erase politics, and that politics is not Donald
Trump, it is not Emmanuel Macron, it is not Putin. It has to be
reinvented. In fact, it’s the art of deciding collectively, by
developing knowledge and integrating people who don’t necessarily have
mathematical knowledge, but who aren’t idiots for all that.</span></p>
<p><strong>V.C:</strong> <span>So ... in order to re-politicise the
economy and in a sense also save entropy, in relation to the aircraft
you mentioned and the certifications, the legislation that governs
aircraft today, which means that at least in the short term of an air
journey, we are significantly protected from accidents and death ... I
was wondering whether, in this desire to legislate on efficiency, to
save entropy ... there should also be some legislation and criticism of
air travel, for example in relation to domestic flights. For example,
concerning the Extinction Rebellion movement (in which Marie and I are
involved): last Thursday they blocked Orly airport with regard to
domestic flights. Which doesn’t mean banning planes, but criticising the
absurdity [of domestic flights], in the sense that it
</span><span>increases entropy, or at least paraffin, when you could
just as easily take the train for almost the same amount of
time.</span></p>
<p><strong>B.S:</strong> <span>Of course. And you see, I totally agree
with that, absolutely agree. What’s really important now is that it’s
the local people who take the decisions. That’s why I say repoliticise.
And we say, we need a political economy based on contributory
accounting. If, at some point, the people of Nantes, for example, had
been led to adopt a contributory economy, Nantes airport would never
have been built. So I’m not at all against the idea of limiting speed on
the motorway to 110 kph. Not at all, not at all.</span></p>
<p><span>So, in any case, what’s very important is that it’s the
residents who take these decisions and who take them consciously, as we
say. In other words, with instruments that enable them to make decisions
by really weighing up the consequences and making choices. Bear in mind
that Maël said earlier that there is indecidability in mathematics, and
every time we have to make a decision, it’s because there is
indecidability. In other words, at some point you have to make a
decision. And we’re not going to decide with maths. You have to decide,
you have to make a decision. And so, I say this because political
economy is what returns the question of decision-making to human beings,
and not to calculus.</span></p>
<p>Who decides today? It’s the financial markets, the stock exchange,
and so on. And that’s a disaster: they make all the decisions. So we
think we’re making decisions, but we’re not making them anymore. Of
course we do, in a certain sense, but the decisions taken in these
contexts are infinitely more effective. So what we’re trying to do—along
with you, incidentally (we’re in complete agreement on these things, for
example stopping planes when they’re not essential)—is to say: above
all, we need to create the economic models that will enable people to
decide. Including small businessmen, who say to themselves oh, if
there’s an airport, I could do it, and these same people then realise,
when they do their calculations properly—but taking entropy into
account! [laughs]—that in the end it may not be as obvious as all that.
In the end, he is much closer to the Gilets Jaunes than <span>knowledge,
but who aren’t idiots for all that.</span>[Warning: Draw object
ignored]</p>
<p><strong>V.C:</strong> <span>So ... in order to re-politicise the
economy and in a sense also save entropy, in relation to the aircraft
you mentioned and the certifications, the legislation that governs
aircraft today, which means that at least in the short term of an air
journey, we are significantly protected from accidents and death ... I
was wondering whether, in this desire to legislate on efficiency, to
save entropy ... there should also be some legislation and criticism of
air travel, for example in relation to domestic flights. For example,
concerning the Extinction Rebellion movement (in which Marie and I are
involved): last Thursday they blocked Orly airport with regard to
domestic flights. Which doesn’t mean banning planes, but criticising the
absurdity [of domestic flights], in the sense that it increases entropy,
or at least paraffin, when you could just as easily take the train for
almost the same amount of time.</span></p>
<p><strong>B.S:</strong> <span>Of course. And you see, I totally agree
with that, absolutely agree. What’s really important now is that it’s
the local people who take the decisions. That’s why I say repoliticise.
And we say, we need a political economy based on contributory
accounting. If, at some point, the people of Nantes, for example, had
been led to adopt a contributory economy, Nantes airport would never
have been built. So I’m not at all against the idea of limiting speed on
the motorway to 110 kph. Not at all, not at all.</span></p>
<p><span>So, in any case, what’s very important is that it’s the
residents who take these decisions and who take them consciously, as we
say. In other words, with instruments that enable them to make decisions
by really weighing up the consequences and making choices. Bear in mind
that Maël said earlier that there is indecidability in mathematics, and
every time we have to make a decision, it’s because there is
indecidability. In other words, at some point you have to make a
decision. And we’re not going to decide with maths. You have to decide,
you have to make a decision. </span><span>And so, I say this because
political economy is what returns the question of decision-making to
human beings, and not to calculus.</span></p>
<p><span>Who decides today? It’s the financial markets, the stock
exchange, and so on. And that’s a disaster: they make all the decisions.
So we think we’re making decisions, but we’re not making them anymore.
Of course we do, in a certain sense, but the decisions taken in these
contexts are infinitely more effective. So what we’re trying to do—along
with you, incidentally (we’re in complete agreement on these things, for
example stopping planes when they’re not essential)—is to say: above
all, we need to create the economic models that will enable people to
decide. Including small businessmen, who say to themselves oh, if
there’s an airport, I could do it, and these same people then realise,
when they do their calculations properly—but taking entropy into
account! [laughs]—that in the end it may not be as obvious as all that.
In the end, he is much closer to the Gilets Jaunes than imagined. And the Gilets Jaunes themselves
realised that they are closer to the ecologists than they first
imagined. By discussing, deliberating ... it’s the deliberation that
does it.</span></p>
<p><strong>M.M.:</strong> <span>Perhaps one way of moving in that
direction is that in physics, among the sciences of nature, I mean, the
question is first and foremost always: what calculation should we make?
What is the right calculation to understand a situation, to predict if
we can. What can we predict? And so there are conceptual changes when we
can’t predict: for example, chaotic dynamics - we move from predicting
the trajectory to predicting the attractor, in other words, what happens
when we look at the trajectory over a very long time. What is the domain
covered, etc. So the question of what calculation to make is not one
that cannot be resolved by calculation.</span></p>
<p><strong>B.S.:</strong> <span>Of course, this decision cannot be
calculated.</span></p>
<p><strong>M.M.:</strong> <span>And to come back to what is being done,
for example, in the use of Big Data and what Chris Anderson is
proposing. There is some bad theorising going on. But there is still
this kind of work being done, bad theorising, in the sense that there
are mathematicians, for example, or physicists doing statistical
physics. But these scientists carry out their analyses within a very
reductionist framework, i.e., one that posits hypotheses that are not
criticised by them. And they don’t engage in dialogue or deliberation
around these hypotheses. This is reductionist in the sense that they
just look at how to get things out of the data, and they don’t look at
all at the consequences this has for society. So they have a very
partial vision, which is also political: in other words, they choose to
make this calculation rather than another.</span></p>
<p><strong>M.C-N.:</strong> <span>And since you explained that entropy
cannot be calculated, cannot in fact be measured, how can it be taken
into account in calculation models?</span></p>
<p><strong>M.M.:</strong> <span>Well, entropy in the physical sense is
not measurable in the sense that you can’t use something like a
thermometer to measure it. But it can be calculated. On the basis of
other variables.</span></p>
<p><strong>B.S.:</strong> <span>Measurement and calculation are not
quite the same thing.</span></p>
<p><strong>M.M.:</strong> <span>Measuring means putting in an instrument
and getting a number. In fact, it involves commensurability between two
objects. Calculating, on the other hand, means looking at several things
and having to make a calculation too say: there’s been this change in
entropy. But for entropy, in physics for example, you need to know how
much heat has passed from one object to another, and at what
temperature. That’s the basic trick in physics. Now, thanks to
computers, there are other methods of calculation and another link with
measurement. When I talk about temperature and heat, for example, from a
distance it’s very macroscopic. From a microscopic point of view, there
are things moving all over the place, particles ... whereas in physics,
if there are too many of them, it’s not possible to measure. There’s a
thought experiment with ping-pong balls in space, for example. There, we
can follow each particle, and so we can make a calculation about what
these particles are doing, based on the observation of their individual
trajectories.</span></p>
<p><strong>B.S:</strong> <span>There are many, many misunderstandings
about these questions of entropy. There are also disciplinary
presumptions of the word. For example, there are physicists who say,
entropy is a physics problem, full stop. Leave us alone. Mind your own
business. We don’t think that’s true. After that, we also think that the
translation of Boltzmann’s probabilistic models into other fields, such
as biology and information, for example, is very problematic.</span></p>
<p><span>In other words, it’s an open project. If I were in charge of, I
don’t know what, if I had the means, I’d say: I’ll put a billion into
this. That’s the challenge of the century. Of the 21st century. And
there are plenty of people who don’t agree with each other at all.
Physicists, biologists, mathematicians, computer scientists, economists,
everyone is getting involved. But there’s a reason for that. It’s
because some people are talking nonsense. One minute they were talking
about order, the next about chaos, the next about organisation. I think
that Edgar Morin has played a very, very harmful role in this area. He
turned scientific questions into sometimes almost poetic essays and that
was that. I say Morin because he’s the best known, but there are many
others. And that’s very important to bear in mind.</span></p>
<p><span>What we are talking about is not a constituted field of
knowledge. It’s a field in the making. We’re not saying: We’re going to
explain...—we don’t know. There are lots of things we don’t know. Or we
don’t even agree on: there are disagreements, and these are
disagreements between very good people, very serious people, very
rational people—these are legitimate disagreements. It’s not like the
Lancet and I don’t know what. These are not polemics, they are
controversies. But here, the question of vocabulary is extremely
important. So we don’t use the word chaos to describe this kind of
thing. There are chaos theories, which we need, but that’s not what
we’re talking about. That’s why I say that.</span></p>
<p><span>And the word order, well, just to clarify, because Ilya
Prigogine played a very important role, he’s a great scientist Ilya
Prigogine. He worked with a philosopher called Isabelle Stengers. They
wrote a book which, at the time, was one of the books of the year. It
was called </span><em>La Nouvelle Alliance</em><span> [</span><em>Order
out of Chaos</em><span>]. The idea was that we were going to reunite
knowledge from mathematical physics to philosophy, biology and all that,
we were going to reunite everything through the concept of dissipative
structure. And that was completely problematic. For the reasons Maël
mentioned earlier.</span></p>
<p><strong>M.M.:</strong> <span>Just to emphasise a little because I
haven’t really described physical entropy itself, which is a starting
point, but it’s important to describe it well. The idea is that you have
a system that is separated from its exterior, not necessarily physically
separated but virtually, say, for example, this box here. This system is
coupled to its exterior, macroscopically, on a large scale. And the idea
is that for a given macro description, there are lots of microscopic
possibilities that correspond to this macro description, and this is
Boltzmann’s entropy that I’m describing.</span></p>
<p><span>The idea is that a system will spontaneously move towards a
situation that is compatible with its constraints and corresponds to as
many possibilities as possible. Why is that? Because it’s just a
probability, in fact. That’s all it is. So, for example, if you toss a
coin lots of times, the most probable situation is the one that
corresponds to the higher number of possible outcomes of the coin toss,
and it’s the one where, on average, you get about 50% heads. And the
idea is that when there are lots of quantities like that, there’s a
really big difference in frequency between the most likely situation and
the others. So, what the system will do spontaneously is move towards
this state and then it will stay there because the probability of it
getting out is less than 1 in the lifetime of the universe, for example.
That’s just it, the increase in entropy means moving towards the most
probable.</span></p>
<p><strong>M.C-N.:</strong> <span>So, regarding the idea of a
negentropic industrial revolution, how would it be sufficient to meet
all the challenges of the Anthropocene, and, in particular, how could
taking entropy and negentropy into account protect
biodiversity?</span></p>
<p><strong>B.S.:</strong> <span>That’s obviously a very good question,
and it’s at the heart of the problem of moving from a relatively small
locality to a relatively large locality, i.e. one that is less local.
This is what we call the new industrial revolution, so that we
understand each other. For us, industrial doesn’t mean smoky, coal-fired
or whatever, like the industrial society of the 19th century. Nor does
it just mean the platforms that exploit the labour of Uber drivers. For
us, industrial means knowing how to scale up, to change the scale from
nano to micro, from micro to meso, and from meso to macro. I also say
meta-economic, but that’s for myself [laughs].</span></p>
<p><span>What do I mean by that? It’s a very important political issue.
I’m going to say again something that we haven’t really talked about,
but which is a subject that was discussed at length in the working
groups that prepared it. At the time we started talking about these
issues, the Front National was launching its localist programme. It was
in 2019, on the first of May 2019 in Metz, Marine Le </span><span>Pen
was launching, based on an economist who was an adviser to Raymond Barre
by the way, I can no longer find his name …</span></p>
<p><strong>V.C.:</strong> <span>Hervé Juvin?</span></p>
<p><strong>B.S.:</strong> <span>Juvin, that’s right. By relying on
Juvin, who is an economist, published by Gallimard and all that—he’s not
just anyone. For a long time he was considered an authority. Since then,
he’s been a representative of the Rassemblement National, but he’s not a
member of the Rassemblement National, which is a strange position to be
in, well ... he’s a Member of the European Parliament. They have
launched their localist programme. And we say, if you want to fight
Lepenist localism, you have to go back to science. Because they never
talk about it—I’ve read Juvin’s books, he never talks about entropy, he
never talks about the subjects we talk about. He never talks about
questioning the accounting models of capitalism. As you well know,
moreover, in general fascists, Nazis, and the far right are in fact
people who are there to help capitalism maintain itself—a certain type
of capitalism. Take Heinrich Boll, for example: you need to read some of
the novels he wrote about the links between German capitalism and the
Nazis. I’ll stop there. They were novels.</span></p>
<p><span>What we are saying is that a new industrial revolution is first
and foremost one that will exploit very high-speed networks. It’s what’s
going to exploit all these new dimensions without necessarily completely
abandoning transport and all that, because there’s a need for transport
and it’s going to rethink exchanges. Today’s scandal is green beans from
Kenya, for example. If we counted the price of the green beans in
question in CARE’s accounts and using our accounting models, they would
be 70€ a kilo. Because it’s the cargo planes that make the most money
from this, and the supermarkets. Kenyan farmers are getting their
backsides kicked, and French consumers could eat frozen French green
beans, which would be a lot less catastrophic—it’s not great, but it’s
still a lot. Because frozen green beans from Brittany are very good
...</span></p>
<p><span>The big question today, when we have 8 billion inhabitants (not
quite), 4 billion of whom are connected, is: How do we ensure that this
state of affairs, a connection of 4 billion inhabitants, becomes a
producer of negentropy and not entropy. When I say neguentropy producer
and not entropy producer, I’m lying, because as we said earlier, we only
produce neguentropy when we produce entropy. Whether the balance sheet
is better, that’s the question. We need to improve the balance. If we
want to produce biodiversity. Biodiversity doesn’t just have to be
protected; it has to be reactivated. We need to repollinate.</span></p>
<p><span>If we want to develop this, we need to reintroduce what we call
noodiversity, i.e. highly differentiated knowledge. This knowledge needs
to be combined with the means to achieve economies of scale, which are
powerful tools. For example, a very high-speed line that uses fibre
optics and is capable of transmitting information to 200,000,000 km/s. A
third of the speed of light. These are industrial resources, and we need
them, just as we need all kinds of things. But the problem is that
today, the needs we used to have, which of homogenisation, so in
relation to biodiversity, [anti-entropy] is what also fights against
what is homogenous and unique, by diversifying. And so, it applies just
as much to noodiversity, i.e., the diversity of knowledge and cultures,
as it does to biodiversity. Both of which, it seems to me, can be seen
in parallel in the question of resilience. In the sense that the
resilience of ecosystems, as a result of biodiversity, is more or less
equivalent to the resilience of societies and cultures, as a result of
the diversity of knowledge?</span></p>
<p><strong>B.S.:</strong> <span>So on the subject of resilience ... but
I think Maël will say something about that. It’s one of the interesting
aspects of what we want to launch with dairy farmers, milk and cheese
producers. Here we can see how biodiversity and noodiversity are linked.
Because—to pick up on what you’ve just said about resilience—there’s a
homogenisation today of digestive systems, for example, linked to diet.
This leads to a loss of diversity (we all have internal biodiversity).
And if we standardise it, well, we undermine the human species. So all
these issues are very much integrated, in fact.</span></p>
<p><span>Then there’s the fact that scientific specialisation has led to
a disintegration, with people working on [isolated] things and never
working together. What we’re trying to do, with what we call laboratory
territories, is to get biologists, mathematicians, and computer
scientists to work together, alongside farmers, consumers, lovers of
cheese, milk and whatever else. So that we can begin to reconstitute a
biodiversity brought about by noodiversity—which is also the diversity
of cultures.</span></p>
<p><strong>M.M.:</strong> <span>To go along the same lines, the current
development model, whether in the agrifood or digital sectors, for
example, is very much based on what physicists would call extensible
variables, i.e. the more you sell, the better. The aim of development is
to sell more, to have a bigger place in the market. And that, by its
very nature, is extremely resource-intensive, whatever the resources.
And it’s also standardising because we’re selling relatively
standardised things, even if there is a little customisation through
personalisation algorithms. It’s standardised customisation.</span></p>
<p><span>Here, the opposite, anti-anthropy, consists of focusing on the
production of novelties, but not novelties of any kind, not novelties
for novelty’s sake: the novelty that allows a locality to last. The
locality that lasts can be a city, a field, or a fishing ground with its
ecosystems. So by thinking in terms of locality of entropy and
anti-entropy, we are focusing development on making the ecosystem last,
from which we also draw resources.</span></p>
<p><span>And then from a more theoretical biology point of view, so just
anti-entropy and its relationship to entropy, in fact there’s a lot of
work to be done to which I’m contributing on how to theorise what’s
happening at the level of living organisms. In other words, there’s a
loss of diversity, that’s one thing, but it’s not necessarily as easy as
that to define precisely because we count species, but that’s a crude
way of getting an idea. But in fact, some of what happens is extensive,
meaning that habitats are lost, for example, and so the living things
that live there disappear, but some of it corresponds to
disorganisation, which we can’t really grasp in purely quantitative
terms.</span></p>
<p><span>So, for example, global warming is disrupting the relationships
between plants and pollinators. It’s not that there’s no more room for
them. It’s just that there’s also this problem, and the two add up. And
so, this is analysed in terms of anti-entropy, the fact of being
organised, the fact of being able to reorganise as well, and in terms of
entropy, i.e., the fact that we push living things towards something
random, we simply disorganise them. And it’s the same thing, for
example, with endocrine disruptors, to take two very different examples.
So the analysis we’re developing of what’s happening with living things
needs to introduce these concepts, in my opinion.</span></p>
<p><strong>B.S.:</strong> <span>What we’re saying is that we need to
create local economies that are open and not at all closed. It’s
absolutely not a question of closing the local economy in on itself.
It’s about opening it up, deliberately opening it up, and ensuring that
there are exchanges between localities. Then there are the possible
scales of exchange. How far ore can be transported, I don’t know, 20,000
km. These are very big questions, and there are trade-offs to be made. A
carrier will always say that it’s perfectly possible to transport ore
20,000 kilometres. So it’s in his interest. But it’s not at all clear
that this is sustainable in terms of the biosphere. So what I’m trying
to say is that the idea of creating a new industrial revolution is not
about inventing new industrial technologies and so on. It’s about
producing a new industrial economy. One that takes advantage of existing
technologies and creates strong relationships of exchange between
localities. Because exchanges are extremely important.</span></p>
<p><span>For example, I don’t agree at all, and I think it’s extremely
dangerous to say that the biosphere is Gaia, an entity—it’s not true at
all. But on the other hand, and this is why I say you have to read
Vernadsky: [the biosphere] forms a whole. And that’s extremely important
to introduce today, as one of the dimensions. That’s what I call
meta-economics. It’s a dimension: it’s not just macroeconomics, how I
consolidate exchanges with international or national chains. I call it
meta-economics, because it’s about the trade-offs involved in
maintaining the biosphere as a whole. This is a question that has never
been asked. The West has never asked itself how I can also look after
Africa and the Middle East, and that’s why we’re facing a catastrophe in
those countries today. Because it exploited all that. And in a totally
irresponsible way. And we can’t do that anymore.</span></p>
<p>Because now, all these countries have equipment, etc., and we
absolutely have to maintain a dynamic with them. But what I wanted to
say is that the industrial revolution here is not about geo-engineering
or whatever. Of course, it can also involve research and technological
development programmes. But it’s a new industrial economy. It’s a new
way of counting in economics. And it means that localities should be
recognised as producers of value as localities. But they have to be
open. That’s the only way they can produce value. If they are closed,
they die.</p>

