---
excerpt: Nous abordons la notion de forme biologique à l’aune de la biologie théorique.
illust: Blue_dragon.png
tags: 
    - deconstruction
    - morphogenesis
    - biological function
    - constraints
    - symmetry breaking
    - measurement
---
<!--CompileMaths-->

<div class="maketitle">
  <p class="titleHead" id="le-sens-des-formes-en-biologie">Le sens des formes en biologie</p>
  <div class="authors"><span class="ecrm-1200">Maël Montévil</span></div><br />
  
</div>
<div class="abstract">

<h3 class="abstract"><span class="ecbx-0900">Résumé</span></h3>
  <p class="indent">
    À
    l’interface entre biologie et
    mathématiques, les formes et les processus de
    morphogenèse biologiques sont souvent
    étudiées pour eux-mêmes. Nous pensons que cette
    manière de procéder est insuffisante
    pour saisir le sens biologique de ces formes. La
    biologie
    comporte des spécificités qui se
    manifestent tant sur le plan philosophique que sur celui
    des
    principes théoriques : en particulier,
    tout processus biologique, qu’il s’agisse d’un processus
    de
    morphogenèse ou d’une régulation
    physiologique (i) s’inscrit dans l’évolution et dans une
    histoire naturelle et (ii) s’intègre
    dans un organisme dont il dépend et auquel il participe.
    Nous aborderons alors le sens des
    formes biologiques à
    l’aune de ces principes, tant au niveau
    de
    la théorie qu’au niveau de la
    compréhension de l’accès expérimental aux objets
    biologiques.
  </p>
</div>
<h2 class="sectionHead" id="x1-10001">
  <span class="titlemark">1</span> Comment conceptualiser les formes
  biologiques  ?
</h2>
<p class="noindent">
  Le vivant est caractérisé par la diversité
  remarquable des formes qu’il donne à voir, qu’il s’agisse des
  formes du corps des organismes pluricellulaires, de celles de leurs
  organes et tissus, ou même des formes des cellules et des
  structures intracellulaires — qu’il s’agisse des cellules d’un
  organisme pluricellulaire ou d’organismes unicellulaires.
</p>
<figure class="figure" id="x1-10011">
  <div class="center">
    
      <img  class="zoom" alt="PIC" src="Blue_dragon.png" />
    
  </div>
  <figcaption class="caption">
    <span class="id"><span class="eccc1000-"><span class="small-caps">Figure</span> 
<span class="small-caps">1</span></span>:</span>
    <span class="content"><span class="cmti-10">Exemples d’organismes présentant des
formes surprenantes  :</span>le mollusque nudibranche
<span class="cmti-10">Glaucus atlanticus</span>et le poisson
actinoptérygien
<span class="cmti-10">Ogcocephalus darwini</span>. (
<a href="https://creativecommons.org/licenses/by-sa/2.0">Copyright CC BY-SA 2.0</a>Sylke Rohrlach et Rein Ketelaars
resp.)</span>
  </figcaption>
</figure>
<p class="indent">
  Bien que le concept de forme soit central en
  biologie, les formes biologiques ne font pas l’objet d’une théorie
  intégrée. Par exemple, la mathématisation des mécanismes évolutifs,
  en génétique des populations, contourne la question des formes des
  formes des phénotypes en postulant directement une relation entre
  les causes étudiées (génétiques) et ce que sera la génération
  suivante, ces relations pouvant, bien sûr, comprendre de
  l’aléatoire (<span class="small-caps"> Gayon</span>
  <a href="#citee0@gayon1994darwin">1992</a>). À l’opposé du spectre
  théorique, l’étude de la morphogenèse, notamment telle qu’elle a
  été initiée par Turing, considère les formes biologiques comme le
  résultat d’un processus non-linéaire de nature purement
  physico-chimique (<span class="small-caps"> Turing</span>
  <a href="#citee0@Turing1952">1952</a>).
</p>
<p class="indent">
  Dans ce texte, nous allons analyser le concept de
  forme biologique à l’aune du cadre théorique que nous contribuons à
  développer (<span class="small-caps"> Soto</span> et al.
  <a href="#citee0@soto2016century">2016</a>). Nous insistons sur la
  dimension théorique et épistémologique de la question car nous
  pensons que ce n’est qu’une fois enchâssée dans un cadre théorique
  qu’une notion de forme ou qu’un objet mathématique décrivant des
  formes peuvent correspondre à un concept rigoureux de forme
  biologique. Ici, une analogie peut être éclairante. À l’aube de la
  théorie quantique, les physiciens abordaient les phénomènes avec le
  concept de trajectoire issu de la mécanique classique, mais les
  contraintes théoriques et expérimentales les ont conduits à s’en
  éloigner. Néanmoins, dans certaines expériences effectuées dans les
  chambres à brouillard, des trajectoires semblaient apparaître.
  Einstein défendit alors l’idée suivant laquelle « c’est la
  théorie qui décide ce que l’on peut observer », ce qui est un
  aspect de ce que l’on appelle aujourd’hui la thèse de Duhem-Quine.
  Ce qui ressemblait à de trajectoires n’en était donc pas car ce
  concept n’existe pas en physique quantique — ou, du moins, il
  n’existe pas du tout de la même manière qu’en mécanique classique
  (<span class="small-caps"> Heisenberg</span>
  <a href="#citee0@heisenberg1972partie">2010</a>). De même, nous
  interrogerons le concept de forme en biologie en partant du
  principe que, si nous gardons le terme, le concept biologique de
  forme pourra se détacher de manière très significative des concepts
  plus habituels de forme, y compris les concepts mathématiques, en
  fonction des nécessités théoriques propres à l’étude du vivant.
</p>
<p class="indent">
  Pour analyser le concept de forme en biologie, il
  nous semble utile, voire nécessaire, de faire un détour par la
  physique. En plus de l’intérêt intrinsèque d’une démarche
  d’épistémologie comparée, cette démarche nous permettra de
  problématiser l’articulation entre mathématiques et phénomènes
  biologiques. Elle nous permettra aussi de rendre compte des
  approches physique des formes biologiques telle que celles
  effectuées à la suite de Turing. Ce faisant, nous aborderons des
  enjeux théoriques proprement biologiques qui nous semblent
  pertinents dans l’optique du biomorphisme.
</p>
<p class="indent">
  Dans ce texte, nous allons mobiliser plusieurs
  concepts de forme. Le premier, et sans doute le plus usuel, est le
  concept de forme dans l’espace, par exemple comme contour d’un
  objet — contours qui en biologie sont d’ailleurs souvent
  matérialisés de manière particulière, par des membranes chez les
  cellules ou par des cellules particulières, l’épithélium, dans les
  tissus, y compris la peau. Le second, plus abstrait mais néanmoins
  dans la continuité du premier car il en est une généralisation,
  concerne les formes mathématiques que l’on mobilise pour comprendre
  les phénomènes. Comme nous allons l’exposer, la compréhension
  mathématique des phénomènes, en particulier en physique, fait
  intervenir des formes dans des espaces plus généraux que l’espace
  tridimensionnel usuel, comprenant donc, par exemple, l’espace, la
  vitesse, le temps, etc., ce qui permet, par exemple, de parler de
  la forme d’une trajectoire. Ces formes correspondent aussi à
  l’écriture formelle, équationnelle typiquement, utilisées pour les
  décrire et plus généralement pour les théoriser. Dans ce texte,
  nous analysons les formes à ces deux niveaux, d’autant que nous
  posons que l’analyse des formes dans l’espace n’a de sens qu’en
  lien avec leur rôle théorique, rôle qui est typiquement explicité à
  l’aide du second concept, plus large. Dans le cadre de la biologie,
  nous allons cependant mettre ces concepts en tension afin de saisir
  le sens des formes du vivant.
</p>
<h2 class="sectionHead" id="x1-20002"><span class="titlemark">2</span> Formes et raisonnement en physique</h2>
<p class="noindent">
  Avant de nous pencher sur la biologie, nous
  allons aborder succinctement comment la physique articule
  mathématiques et phénomènes naturels en nous penchant, après des
  considérations générales, sur la question de la morphogenèse.
</p>
<p class="indent">
  En mécanique classique, un système est défini par
  la structure des relations entre ses parties et cette structure ne
  change pas dans la dynamique du système. Par exemple, deux planètes
  s’attirent mutuellement suivant la loi de la gravitation
  universelle décrite par Newton, ce qui permet de comprendre la
  forme des trajectoires — des ellipses lorsque l’on considère que le
  problème est limité à deux corps.
</p>
<p class="indent">
  Examinons maintenant les
  « ingrédients » intervenant dans la définition d’un tel
  système (<span class="small-caps"> Montévil</span>
  <a href="#citee0@montevilmariano">2018</a>).
</p>
<ul class="itemize1">
  <li class="itemize">
    L’état d’un système le représente par sa
    position dans l’espace des possibles qui est considéré comme
    donné à l’avance. L’état du système change au cours du temps et,
    réciproquement, les changements du système sont des changements
    d’état, donc de position dans cet espace. Par exemple, en
    mécanique classique, l’état du système est la position et la
    vitesse de ses différents constituants tels que la Terre et le
    Soleil.
  </li>
  <li class="itemize">
    Les paramètres sont des quantités nécessaires
    à la description du système mais ne changeant pas dans sa
    dynamique. La masse des objets ou leur charge électrique sont
    typiquement des paramètres en mécanique classique.
  </li>
  <li class="itemize">
    Enfin, et c’est le plus important, le système
    est décrit par des règles, et, plus précisément, dans le cas de
    la mécanique classique, des règles déterminant les changements
    d’état lorsque le temps s’écoule. Ces règles sont écrites sous
    forme d’équations telle que le principe fondamental de la
    dynamique  : la masse fois l’accélération est égale à la
    somme des forces extérieures. L’accélération étant le taux de
    changement de vitesse, et la vitesse le taux de changement de
    position, cette équation donne bien une règle pour les
    changements d’état.
  </li>
</ul>
<p class="indent">
  Ces règles écrites sous forme d’équation ne sont
  pas
  <span class="cmti-10">a priori</span>— elles ne sont pas
  indépendantes de l’expérience —, mais elles ne sont pas pour autant
  arbitraires. Comment sont construits et justifiés de tels cadres
  théoriques  ?
</p>
<p class="indent">
  Dans ces cadres théoriques, ce ne sont pas tant
  les quantités en tant que telles qui comptent mais les
  <span class="cmti-10">relations</span>entre quantités. Par
  exemple, 1 kg d’or ou 1 kg de plomb pèsent tous les deux 1 kg parce
  que les forces exercées par le champ de pesanteur sur ces deux
  objets sont égales. Ceci est bien représenté par les balances
  anciennes, à plateau, dont le dispositif vise précisément à
  comparer les forces exercées par le champ de pesanteur sur deux
  objets et donc à les rendre commensurables. Cet exemple ne décrit
  qu’une simple relation de proportions : dans le cas du champ de
  pesanteur, la force est
  <span class="cmti-10">proportionnelle</span>à la masse de
  l’objet. Plus généralement, c’est bien la
  <span class="cmti-10">forme</span>des relations entre quantités
  qui est l’enjeu théorique majeur et qui vient structurer et
  justifier les équations utilisées.
</p>
<p class="indent">
  Pour aller plus loin, il faut introduire un
  concept clé de la physique théorique et qui n’est pas non plus sans
  application en biologie : le concept de symétrie. En deux mots, une
  symétrie est une transformation qui ne change pas les propriétés
  pertinentes d’un objet. Par exemple, une sphère est symétrique par
  rotation. Un autre exemple, plus fondamental, est le principe de
  relativité qui stipule qu’il n’y a pas de système de référence
  absolu — il n’y a pas de centre dans l’univers, ni de point fixe —,
  mais que les équations fondamentales de la physique doivent avoir
  la même forme quel que soit le système de référence. Les
  changements de systèmes de références acceptables dépendent bien
  sûr de la théorie et constitue les symétries de l’espace-temps de
  cette théorie (relativité galiléenne, relativité restreinte,
  relativité générale, et d’autres exemples ne concernant plus
  l’espace-temps
  <span class="cmti-10">stricto sensu</span>seraient tout aussi
  pertinents).
</p>
<p class="indent">
  Ces exemples montrent que le concept de symétrie
  est omniprésent pour structurer les équations décrivant des
  phénomènes physiques (<span class="small-caps"> Van Fraassen</span>
  <a href="#citee0@van1989laws">1989</a>;<span class="small-caps"> Bailly</span> et
  <span class="small-caps">Longo</span>
  <a href="#citee0@bailly2006">2006</a>). Ils montrent aussi que son
  utilisation peut avoir des statuts divers : la symétrie de la
  sphère est propre à un objet particulier et sans doute une
  approximation du réel, alors que les symétries de l’espace-temps
  sont principielles dans les théories concernées. Le concept de
  symétrie intervient aussi de manière mathématiquement plus complexe
  mais non moins importante théoriquement et épistémologiquement. Par
  exemple, le théorème de Noether interprète les quantités conservées
  en physique, telles que l’énergie, comme une conséquence de
  symétries sous-jacentes (<span class="small-caps"> Byers</span>
  <a href="#citee0@byers1999noether">1999</a>). Dans le cas de
  l’énergie, il s’agit de la symétrie par translation dans le temps
  c’est-à-dire, informellement, l’hypothèse que l’avancée du temps ne
  change pas l’équation d’un système isolé.
</p>
<p class="indent">
  Comme nous l’avons suggéré, le concept de
  symétrie est aussi utilisé en biologie. Il est pertinent par
  exemple pour décrire la forme globale des corps, tel que dans le
  cas de la symétrie bilatérale. Ce concept intervient aussi de
  manière plus abstraite, c’est à dire en un sens plus proche de
  celui de la physique théorique. Par exemple, D’Arcy Thompson
  interprète une partie de la diversité des formes biologiques comme
  issue de déformations. Derrière la diversité des formes biologiques
  se trouverait ultimement une unité plus fondamentale (<span class="small-caps"> Thompson</span>
  <a href="#citee0@d1952growth">1942</a>). Dans cette analyse, ce
  n’est pas tant une forme donnée qui est pertinente mais ce sont les
  déformations et leur nature, voir figure
  <a href="#x1-20012">2
</a>. Toutes les formes d’une
  classe d’organismes sont alors comprises comme déformations de
  l’une à l’autre, bref comme étant symétriques et préservant
  certaines propriétés de la forme originelle. Bien sûr, dans cette
  approche, le problème reste de savoir comment la forme originelle
  est apparue, nous y reviendrons.
</p>
<figure class="figure" id="x1-20012">
  <div class="center">
    
      <img  class="zoom" alt="PIC" src="darcy.png" />
    
  </div>
  <figcaption class="caption">
    <span class="id"><span class="eccc1000-"><span class="small-caps">Figure</span> 
<span class="small-caps">2</span></span>:</span>
    <span class="content"><span class="cmti-10">La grille et ses déformations sont au
centre de l’analyse des changements chez D’Arcy</span>
<span class="small-caps">Thompson</span>
<span class="cmti-10">(</span>
<a href="#citee0@d1952growth"><span class="cmti-10">1942</span>
</a><span class="cmti-10">).</span>D’Arcy Thompson analyse la
diversité de certaines formes par leur unité et les
déformations de la grille.</span>
  </figcaption>
</figure>
<p class="indent">
  Avant d’aborder les modèles physiques de
  morphogenèse, concluons sur le type d’objet que cette méthode
  d’appréhension du réel conduit à décrire. La physique repose sur un
  cercle vertueux, voir figure
  <a href="#x1-20023">3
</a>. Les changements d’un objet
  sont alors compris comme des déplacements dans un espace
  mathématique pré-donné. Ces changements constituent alors des
  trajectoires qui sont déterminées théoriquement par des équations —
  certes parfois de manière probabiliste — et les variables de ces
  équations constituent l’état de l’objet (complétées par des
  paramètres fixés par l’extérieur du système). Derrière les
  équations et la structure de l’espace des états possibles se trouve
  plus profondément des structures mathématiques de symétrie pouvant
  être analysé et discuter théoriquement (l’invariance des « lois »
  physiques au cours du temps est beaucoup plus intuitive que la
  conservation de l’énergie, la définition de l’énergie étant en
  elle-même assez abstraite). L’ensemble de cette structure théorique
  permet de se confronter à l’expérience en mesurant les trajectoires
  d’objets réels, c’est-à-dire en mesurant les quantités décrivant
  les états.
</p>
<figure class="figure" id="x1-20023">
  <div class="center">
    
      <img  class="zoom"src="figure-figure0-.png" alt="PIC" />
    
  </div>
  <figcaption class="caption">
    <span class="id"><span class="eccc1000-"><span class="small-caps">Figure</span> 
<span class="small-caps">3</span></span>:</span>
    <span class="content"><span class="cmti-10">Cercle vertueux de la théorisation
mathématique en physique d’après</span>
<span class="small-caps">Montévil</span>
<span class="cmti-10">,</span>
<span class="small-caps">Mossio</span>
<span class="cmti-10">et al. (</span>
<a href="#citee0@chaptervariation"><span class="cmti-10">2016</span>
</a><span class="cmti-10">).</span>Les objets sont représentés
par leurs états, et leurs changements sont des changements
d’état, dans l’espace des états possibles. Les équations
donnent la détermination théorique de ces changements (qui peut
être probabiliste). L’espace des possibles comme les équations
sont structurés par les symétries sous-jacentes ce qui permet
ultimement de comprendre les changements des objets sur la base
de l’invariance.</span>
  </figcaption>
</figure>
<p class="indent">
  Ce cercle épistémologique vertueux a néanmoins un
  prérequis que l’on peut aussi voir comme une conséquence. Dès lors
  qu’il est appliqué à des phénomènes, alors la compréhension de ces
  phénomènes semble bien pouvoir se détacher de leur matérialité : la
  compréhension peut procéder sur la base de la structure de la
  détermination théorique décrite par les mathématiques. Ainsi,
  l’effet de la gravitation sur une pomme et sur une planète est le
  même car il est décrit par les mêmes équations, le même espace des
  possibles, les mêmes paramètres et les mêmes trajectoires. Il faut
  bien comprendre ici que ce cercle vertueux ne peut pas s’appliquer
  à un seul objet concret, et encore moins à un seul objet à un seul
  instant. En effet, les équations décrivent des relations génériques
  entre les états et les changements d’états, ces relations
  s’appliquent tout au long de la trajectoire, et les symétries
  décrivent des transformations, donc nécessairement une pluralité de
  situations de manière conjointe et simultanée. Le type de
  compréhension obtenue va donc être la compréhension d’une
  collectivité de situations concrètes subsumées par un seul objet
  théorique et mathématique, ce que nous appelons la généricité de
  l’objet théorique en physique à la suite de
  <span class="small-caps">Bailly</span> et
  <span class="small-caps">Longo</span> (
  <a href="#citee0@bailly2006">2006</a>),
  <span class="small-caps">Montévil</span>,
  <span class="small-caps">Mossio</span> et al. (
  <a href="#citee0@chaptervariation">2016</a>) et
  <span class="small-caps">Montévil</span> (
  <a href="#citee0@novelty2017">2019b</a>). Le rôle de l’écriture
  (mathématique) est ici central. Dès lors que l’on est en mesure
  d’écrire de manière mathématique la détermination théorique de
  l’objet, ce qu’il y a à savoir sur cet objet pourra être obtenu par
  la poursuite de cette écriture sous forme de preuves mathématiques
  : la compréhension du phénomène a été détachée de l’objet
  concret.
</p>
<p class="indent">
  Ce contexte épistémologique et théorique est
  nécessaire pour comprendre la nature des modèles de morphogenèse en
  physique. Discutons quelques cadres assez généraux de compréhension
  de la morphogenèse. Le premier est celui des brisures de symétrie.
  Prenons un exemple de la vie quotidienne : imaginons un crayon
  placé sur une table parfaitement à la verticale sur sa mine. La
  situation initiale est parfaitement symétrique par rotation : en
  prenant comme centre le crayon, toutes les directions sont
  équivalentes. Cette configuration est instable, une fluctuation de
  l’air environnant ou une légère imperfection dans la position du
  crayon vont le conduire à tomber. Une direction a lors été
  singularisée : la direction dans laquelle le crayon est tombé. La
  symétrie initiale est donc brisée. La situation initiale étant
  parfaitement symétrique par rotation et toutes les directions étant
  donc initialement équivalentes, la situation initiale ne permet pas
  de spécifier la direction dans laquelle tombera le crayon. La
  brisure de symétrie implique donc le concept d’aléatoire, et de
  manière consubstantielle l’introduction d’une nouveauté dans le
  système : la direction dans laquelle le crayon est tombé, donc la
  manière dont la symétrie a été brisée. Le fait que ce raisonnement
  permette de comprendre l’apparition d’une nouveauté le rend
  particulièrement adapté pour comprendre la genèse d’une forme et
  <span class="small-caps">Turing</span> (
  <a href="#citee0@Turing1952">1952</a>) l’utilise. Il est utilisé
  dans de nombreux contextes théoriques et mathématiques comme les
  changements d’état de la matière, notamment la cristallisation, ou
  même l’apparition des forces fondamentales dans la théorie
  quantique des champs (<span class="small-caps"> Longo</span> et
  <span class="small-caps">Montévil</span>
  <a href="#citee0@longomont">2014</a>;<span class="small-caps"> Strocchi</span>
  <a href="#citee0@Strocchi_2005">2005</a>).
</p>
<p class="indent">
  Dans ces modèles de morphogenèse, la même
  équation fondamentale reste vérifiée. Néanmoins les solutions
  auxquelles elle conduit peuvent enfreindre une symétrie initiale du
  problème. Il s’agit d’une infraction au principe de Curie suivant
  lequel la symétrie des causes se retrouve dans les effets. Notons
  bien que, ici, ce n’est qu’une seule symétrie qui est enfreinte
  parmi les multiples symétries impliquées dans la définition
  théorique et mathématique des objets. En un mot, dans ces
  situations, la trajectoire a quelque chose de plus que les
  équations (la direction dans laquelle la symétrie est brisée), mais
  cet élément supplémentaire est rendu nécessaire par les équations,
  et sa nature est pré-donnée par les équations. Briser une symétrie
  suppose que cette symétrie soit décrite avant qu’elle ne soit
  brisée. La situation est similaire dans la théorie des catastrophes
  de René Thom (<span class="small-caps"> Thom</span>
  <a href="#citee0@thom1982modeles">1974</a>) même si le concept de
  symétrie y est moins central. Dans ce dernier contexte théorique,
  une équation peut conduire à des trajectoires ayant des propriétés
  qualitatives distinctes et l’on peut passer de l’une à l’autre par
  une catastrophe. Toutefois, dans ces analyses et dans d’autres
  analyses en physique, il s’agit toujours de revenir un petit nombre
  de cas génériques, à un niveau de description ou à un autre (<span class="small-caps"> Montévil</span>
  <a href="#citee0@novelty2017">2019b</a>).
</p>
<p class="indent">
  Pour conclure cette section, abordons le modèle
  proposé par Douady et Couder afin de comprendre certains patrons
  apparaissant dans la croissance des plantes (<span class="small-caps"> Douady</span> et
  <span class="small-caps">Couder</span>
  <a href="#citee0@Douady1996255">1996</a>). Il n’est pas utile ici
  d’aborder la formulation du modèle lui-même, mais la démarche
  utilisée mérite d’être discutée. Une partie de l’argumentation des
  auteurs réside dans le fait que ce modèle peut être instancié par
  un objet expérimental entièrement abiotique, et qu’en faisant cette
  expérience les mêmes patrons n’apparaissent que chez les vivants
  concernés. Comme nous l’avons discuté, cette démarche est
  parfaitement cohérente avec le processus d’objectivation développé
  par la physique : par construction l’intelligibilité
  physico-mathématique se détache des objets particuliers. Cet
  exemple montre aussi qu’il n’y a rien de spécifiquement biologique
  dans ces modèles de morphogenèse. Il y a alors deux possibilités.
  Soit la morphogenèse et plus généralement les formes des objets
  biologiques n’ont effectivement rien de distinct par rapport aux
  morphogenèses et formes physiques. Soit, au contraire, les
  spécificités biologiques disparaissent dans la modélisation
  physique à cause de la méthode de modélisation elle-même, et il
  faut envisager un cadre différent pour comprendre les formes
  biologiques de manière théoriquement précise. Nous argumentons dans
  la seconde direction dans la section suivante. Notons que le
  problème s’étend,
  <span class="cmti-10">mutadis mutandis</span>, aux formes
  comprises dans le sens le plus large, tel que la forme des
  processus.
</p>
<h2 class="sectionHead" id="x1-30003"><span class="titlemark">3</span> Les formes biologiques</h2>
<p class="noindent">
  Pour comprendre le rôle des formes en biologie,
  nous allons inscrire ce concept dans un cadre théorique plus large.
  Il s’agira de cerner comment les formes interviennent dans la
  compréhension du vivant et surtout quel concept de forme peut être
  articulé à ce cadre théorique.
</p>
<h3 class="subsectionHead" id="x1-40003e1">
  <span class="titlemark">3.1</span> Historicité et définition théorique des
  objets biologiques
</h3>
<p class="noindent">
  En physique, nous l’avons vu, certaines
  régularités (mathématiques) sont assimilées à des « lois » ou, de
  manière plus moderne, constituent des principes théoriques. En
  biologie, au contraire, les régularités varient au cours du
  développement et de l’évolution. Par exemple, la génétique des
  populations est parfois comparée à la mécanique classique dans sa
  version déterministe et la mécanique statistique dans sa version
  probabiliste. Pourtant la transmission des gènes se fait de manière
  fort diverse et surtout est historiquement située. Elle peut être,
  par exemple, haploïde, diploïde voire décaploïde, mais il existe
  aussi d’autres variantes telle que des combinaisons entre
  reproduction par parthénogenèse et sexuée, ou la polyembryonie
  monozygotique, c’est-à-dire le fait de donner naissance à quatre
  clones dans le cadre d’une reproduction sexuée, rencontré chez le
  mammifère
  <span class="cmti-10">Dasypus novemcinctus</span>(le tatou à neuf
  bandes). Toutes ces variations sont apparues dans l’évolution,
  c’est-à-dire l’histoire du vivant, et changent les équations de la
  génétique des populations. Ces dernières ne peuvent alors plus être
  considérées de manière anhistorique.
</p>
<p class="indent">
  Dans ce contexte, les régularités biologiques
  mobilisables pour écrire des équations, notamment les symétries, ne
  peuvent plus être appréhendées comme principielles, elles sont
  elle-même l’objet de changements. L’invariance ne permet alors plus
  de comprendre les changements. Nous suivons l’idée qui consiste à
  réinterpréter ces régularités comme des contraintes plutôt que
  comme des “lois” (<span class="small-caps"> Montévil</span> et
  <span class="small-caps">Mossio</span>
  <a href="#citee0@Montevil2015c">2015</a>;<span class="small-caps"> Soto</span> et al.
  <a href="#citee0@soto2016century">2016</a>;<span class="small-caps"> Montévil</span>,
  <span class="small-caps">Mossio</span> et al.
  <a href="#citee0@chaptervariation">2016</a>). Cette perspective est
  cohérente avec la thèse de la contingence de
  <span class="small-caps">Beatty</span> (
  <a href="#citee0@beatty1995evolutionary">1995</a>), suivant
  laquelle toute loi proprement biologique est historiquement
  contingente. Les contraintes sont alors des régularités mais des
  régularités fondamentalement contingentes contrairement aux
  régularités principielles en physique. Dans la compréhension du
  terme de contrainte, il ne faut pas se cantonner à l’idée intuitive
  suivant laquelle les contraintes empêchent certaines choses de se
  produire. En même temps que les contraintes limitent ce qui peut se
  passer, elles rendent possible d’autres choses. Une bonne analogie
  est celle du jeu : les règles d’un jeu limitent les actions
  possibles mais, par ces limitations, elles rendent le jeu possible
  et intéressant — elles n’en restent pas moins contingentes et
  peuvent être enfreintes ou changée.
</p>
<p class="indent">
  Les contraintes sont susceptibles de changer et
  leur stabilité, le cas échéant, demande à être expliquée. Il y a au
  moins deux types d’explications de la permanence de certaines
  régularités. La première est la sélection naturelle, qui est
  d’abord un principe de conservation comme le souligne Guillaume
  Lecointre (<span class="small-caps"> Lecointre</span>
  <a href="#citee0@lecoitnre2017">2017</a>) et le suggère le
  sous-titre de l’
  <span class="cmti-10">Origine des espèces</span>, “the
  <span class="cmti-10">preservation</span>of favoured races in the
  struggle for life” (<span class="small-caps"> Darwin</span>
  <a href="#citee0@darwin1859origin">1859</a>, nous soulignons) — la
  variation étant en amont. Le deuxième principe expliquant la
  relative stabilité des contraintes biologiques, que nous
  détaillerons ci-dessous, est le maintien mutuel des contraintes
  d’un organisme et donc leur interdépendance — cette interdépendance
  conduit à ce que les parties d’un organisme se dégradent rapidement
  à la mort de celui-ci, lorsque son organisation se disloque.
</p>
<p class="indent">
  En biologie, les changements de contraintes
  brisent le cercle vertueux représenté en figure
  <a href="#x1-20023">3
</a>dans le cas de la physique.
  Un changement de contrainte s’accompagne d’un changement d’équation
  et d’un changement d’espace des états possibles, de sorte que la
  trajectoire de l’objet ne vit plus dans le même espace. Ni
  l’équation, ni l’espace de description ne peuvent donc rendre
  compte de tels changements. Autrement dit, le changement ne plus
  être compris sur la base de l’invariance, ni être compris comme
  déplacement dans un espace pré-donné. L’espace des possibles comme
  les équations doivent alors être conçus comme étant générés par les
  changements du vivant.
</p>
<p class="indent">
  Dans un tel contexte, le cercle vertueux en
  physique, illustré par la figure
  <a href="#x1-20023">3
</a>, est brisé, et est donc
  brisée aussi la justification de la théorisation et de la
  modélisation mathématique telle que cette dernière est pratiquée en
  physique, avec ses symétries et quantités conservées principielles.
  Alors, il n’y a plus de justification théorique, ni de méthode
  pratique, pour considérer l’objet biologique comme un objet
  générique. On ne peut pas parler d’un chat comme on peut parler
  d’un électron. Un électron se comporte comme tous les électrons
  alors qu’un chat peut être un Maine coon ou un chat persan, et, de
  la même manière, deux chats Maine coon auront des différences. Les
  individus biologiques sont tous significativement différents comme
  le notait déjà
  <span class="small-caps">L’Héritier</span> (
  <a href="#citee0@heritier">1949</a>). Ici, nous retrouvons aussi
  l’idée développée par
  <span class="small-caps">Canguilhem</span> (
  <a href="#citee0@canguilhem1972normal">1972</a>) suivant laquelle
  l’homme moyen n’existe pas — et le chat moyen non plus, nous y
  reviendrons.
</p>
<figure class="figure" id="x1-40014">
  <div class="center">
    
      <img  class="zoom"src="figure-figure2-.png" alt="PIC" />
    
  </div>
  <figcaption class="caption">
    <span class="id"><span class="eccc1000-"><span class="small-caps">Figure</span> 
<span class="small-caps">4</span></span>:</span>
    <span class="content"><span class="cmti-10">Nature théorique de l’objet en
biologie, d’après</span>
<span class="small-caps">Montévil</span>
<span class="cmti-10">,</span>
<span class="small-caps">Mossio</span>
<span class="cmti-10">et al. (</span>
<a href="#citee0@chaptervariation"><span class="cmti-10">2016</span>
</a><span class="cmti-10">).</span>L’objet biologique n’est pas
défini de manière purement relationnelle, au niveau des
contraintes. Son passé et son contexte interviennent en tant
que tels. De plus, ses changements excèdent ce que les
contraintes à un moment donné permettent de prédire.</span>
  </figcaption>
</figure>
<p class="indent">
  Autrement dit, l’objet biologique ne peut plus
  être objectivé par des relations causales stables entre ses
  parties. Les contraintes ne définissent pas les objets, elles en
  sont une propriété à un moment donné. Les objets biologiques sont
  alors issus d’une cascade de changements de leurs contraintes, et
  ils sont donc d’abord définis par l’histoire dont ils proviennent,
  étant entendu qu’ils continuent à produire une histoire par des
  changements de contraintes. Insistons ici, les changements de
  contraintes ne sont pas des déplacements dans un espace des
  possibles pré-donné, leur nature théorique est donc tout à fait
  originale par rapport à la physique. Les objets biologiques
  deviennent alors des objets spécifiques par opposition avec les
  objets génériques de la physique (<span class="small-caps"> Montévil</span>,
  <span class="small-caps">Mossio</span> et al.
  <a href="#citee0@chaptervariation">2016</a>), voir figure
  <a href="#x1-40014">4
</a>. Pour ces raisons,
  Giuseppe Longo oppose le temps des processus, c’est-à-dire le temps
  des changements d’état, et le temps historique, celui du changement
  des contraintes (<span class="small-caps"> Longo</span>
  <a href="#citee0@Longo2018">2018</a>). Stuart Kauffman parle, lui,
  de la fin de la vision physicaliste du monde à cause de la
  croissance des possibles au cours du temps (Stuart A
  <span class="small-caps">Kauffman</span>
  <a href="#citee0@kauffman2019world">2019</a>). Cette perspective
  rejoint aussi celle du paléontologue Gould et notamment sa critique
  de l’approche de D’Arcy Thompson au profit de la centralité de la
  contingence historique en biologie (<span class="small-caps"> Gould</span>
  <a href="#citee0@gould2002structure">2002</a>, chap.10 ;<span class="small-caps"> Stiegler</span>
  <a href="#citee0@stiegler_2015">2015</a>).
</p>
<p class="indent">
  Dans ce cadre, les objets biologiques deviennent
  aussi contextuels en un sens fort : la présence de telle ou telle
  contrainte peut dépendre du contexte. Plus encore, l’historicité et
  la contextualité se couplent car les contextes passés ont été
  intériorisés par les organisations biologiques (<span class="small-caps"> Miquel</span> et
  <span class="small-caps">Hwang</span>
  <a href="#citee0@chapterPA">2016</a>).
</p>
<p class="indent">
  Il manque un cadre théorique et mathématique pour
  comprendre les changements de contraintes et, en particulier, le
  type de causalité propre à ce cadre théorique qui a été appelée «
  <span class="cmti-10">enablement</span>», c’est-à-dire rendre
  possible (<span class="small-caps"> Longo</span>,
  <span class="small-caps">Montévil</span> et S.
  <span class="small-caps">Kauffman</span>
  <a href="#citee0@longo2012b">2012</a>). En effet, l’apparition
  d’une nouvelle contrainte ne peut être déduite de contraintes
  préexistantes, mais certaines contraintes préexistantes sont
  néanmoins nécessaires à cette apparition. Par exemple, les
  mâchoires articulées sont nécessaires à l’apparition des dents ;
  rétrospectivement, elles ont contribué à les rendre possibles.
</p>
<p class="indent">
  Il ne s’agit pas, pour nous, de proposer
  seulement une réinterprétation des régularités biologiques qui
  viendrait limiter la portée des travaux de modélisation. Ce cadre
  épistémologique et théorique vise aussi, et l’on pourrait même dire
  surtout, à transformer les méthodes de compréhension du vivant, et
  notamment les méthodes de modélisation, pour les rendre plus
  adéquate aux phénoménalités biologiques.
</p>
<p class="indent">
  Donnons un exemple de méthode que nous sommes en
  train de développer. Cette méthode s’inspire librement du concept
  philosophique de déconstruction de Jacques Derrida, qui s’applique
  aux concepts dans leur historicité et que nous visons à déployer
  sur des modèles mathématisés. L’idée est de considérer un modèle ou
  une structure mathématique biologiquement pertinente et de la
  déconstruire, hypothèse par hypothèse, en regardant à chaque étape
  quel sens biologique peut avoir la négation de l’hypothèse
  considérée. Plus précisément, les régularités permettant de définir
  un modèle mathématique sont des contraintes. En tant que telle,
  elles peuvent changer, ce qui a été appelé principe de variation
  (<span class="small-caps"> Montévil</span>,
  <span class="small-caps">Mossio</span> et al.
  <a href="#citee0@chaptervariation">2016</a>), et en déconstruisant
  l’objet mathématique nous explorons certaines de ces variations —
  celles qui ne demandent pas d’hypothèses supplémentaires.
</p>
<p class="indent">
  Nous pouvons donner un exemple simple de
  l’approche de déconstruction d’une structure mathématique
  biologiquement pertinente, et plus précisément d’une forme
  mathématique utilisée pour décrire des formes anatomiques. La
  structure épithéliale des glandes mammaires de rat est généralement
  décrite mathématiquement comme un arbre (axiomatisé
  mathématiquement comme un graphe acyclique et connexe). La négation
  des hypothèses construisant mathématiquement la structure d’arbre
  conduit à :
</p>
  <div class="tabular center">
    <table class="tabular"  id="TBL-2">
    
      <tbody>
        <tr id="TBL-2-1-">
          <td class="td11"  id="TBL-2-1-1">Hypothèse</td>
          <td class="td11"  id="TBL-2-1-2">Négation</td>
        </tr>
        <tr id="TBL-2-2-">
          <td class="td11"  id="TBL-2-2-1">Acyclique</td>
          <td class="td11"  id="TBL-2-2-2">Présence de boucle (en rouge)</td>
        </tr>
        <tr id="TBL-2-3-">
          <td class="td11"  id="TBL-2-3-1">Connexe</td>
          <td class="td11"  id="TBL-2-3-2">Présence de partie détachée de l’arbre principal (en bleu)</td>
        </tr>
        <tr id="TBL-2-5-">
          <td class="td11"  id="TBL-2-5-1">Composé de nœuds et d’arêtes (graphe)</td>
          <td class="td11"  id="TBL-2-5-2">Présence de connections ambiguës (jonction des épithéliums mais pas des lumières)</td>
        </tr>
        <tr id="TBL-2-8-">
          <td class="td11"  id="TBL-2-8-1">Composé de nœuds et d’arêtes (graphe)</td>
          <td class="td11"  id="TBL-2-8-2">Pas d’arête définie (tumeur)</td>
        </tr>
      </tbody>
    </table>
  </div>
<figure class="figure" id="x1-40025">
  <div class="center">
    
      <img  class="zoom" alt="PIC" src="deconstruct2.jpg" />
    
  </div>
  <figcaption class="caption">
    <span class="id"><span class="eccc1000-"><span class="small-caps">Figure</span> 
<span class="small-caps">5</span></span>:</span>
    <span class="content"><span class="cmti-10">Exceptions à la structure d’arbre prédictible par
déconstruction de cette structuredans le cas d’une glande mammaire de
rate âgée de 21 jours.</span>Un arbre est un graphe acyclique,
or l’objet biologique contient un cycle. De même, un arbre est
connexe et nous observons une structure épithéliale détachée de
la structure principale.</span>
  </figcaption>
</figure>
<p class="indent">
  À la suite d’un travail sur le rat, en utilisant
  une seule expérience, nous avons des preuves empiriques de la
  pertinence biologique de chaque prédiction de la déconstruction, à
  l’exception toutefois de la dernière, les tumeurs, dont l’existence
  est bien connue par ailleurs. Deux de ces prédictions sont
  illustrées en figure
  <a href="#x1-40025">5
</a>. Dans chaque cas, les «
  anomalies » ont des conséquences pour l’utilisation de la structure
  d’arbre afin de représenter l’objet biologique. Il ne s’agit pas
  ici de se contenter de dire que l’objet biologique est plus
  complexe que sa représentation mathématique, mais bien de dire que
  les variations biologiques peuvent sortir des cadres mathématiques
  utilisés pour les représenter, et ceci pour des raisons
  principielles, ce qui n’est pas qu’un résultat négatif mais au
  contraire permet certaines prédictions.
</p>
<p class="indent">
  Le concept de forme qui se dégage de cette
  discussion est un concept qui ne possède pas d’invariance
  principielle. Une forme mathématique donnée n’est pas
  nécessairement préservée dans une espèce, elle est associée à
  d’autres possibles donnés, par exemple, par la déconstruction de
  cette forme. Le concept de forme biologique qui nous semble
  biologiquement pertinent, et que nous associons ici à celui de
  contrainte, n’est donc jamais un invariant
  <span class="cmti-10">stricto sensu</span>mais est un invariant
  historicisé, de telle sorte qu’une forme mathématique donnée en
  biologie emporte avec elle d’autres formes mathématiques et ceci
  pour des raisons principielles.
</p>
<h3 class="subsectionHead" id="x1-50003e2">
  <span class="titlemark">3.2</span> L’intégration des formes dans
  l’organisme
</h3>
<p class="noindent">
  Si l’on pose la variation comme première, nous
  l’avons mentionné, la stabilité relative des contraintes demande à
  être expliquée puisque nous ne pouvons plus la postuler comme nous
  postulons les “lois” en physique. Un type d’explication que nous
  avons évoqué est l’interdépendance entre les parties d’un
  organisme.
</p>
<p class="indent">
  La question du rapport entre partie et tout est
  principielle en physiologie. Ainsi,
  <span class="small-caps">Bernard</span> (
  <a href="#citee0@bernard1865introduction">1865</a>) affirme que
  :
</p>
<blockquote class="epigraph">
  <p class="noindent">
    Le physiologiste et le médecin ne doivent
    donc jamais oublier que l’être vivant forme un organisme et une
    individualité. [...] Il faut donc bien savoir que, si l’on
    décompose l’organisme vivant en isolant ses diverses parties, ce
    n’est que pour la facilité de l’analyse expérimentale, et non
    point pour les concevoir séparément. En effet, quand on veut
    donner à une propriété physiologique sa valeur et sa véritable
    signification, il faut toujours la rapporter à l’ensemble et ne
    tirer de conclusion définitive que relativement à ses effets dans
    cet ensemble. 
  </p>
  <p class="episource">
    (<span class="small-caps">Bernard</span>
    <a href="#citee0@bernard1865introduction">1865</a>, p.154)
  </p>
</blockquote>
<p class="indent">
  En plus de son inscription historique et
  contextuelle, un modèle physique instanciable par un objet
  abiotique comme dans le travail de
  <span class="small-caps">Douady</span> et
  <span class="small-caps">Couder</span> (
  <a href="#citee0@Douady1996255">1996</a>) manquera donc son
  inscription dans l’organisme. La question de cette inscription a
  été l’objet de nombreux travaux en biologie théorique. Mentionnons
  quelques exemples. Le concept d’autopoïèse de
  <span class="small-caps">Varela</span>,
  <span class="small-caps">Maturana</span> et
  <span class="small-caps">Uribe</span> (
  <a href="#citee0@Varela1974187">1974</a>) pose que les constituants
  d’un organisme sont produits par cet organisme. Le concept
  d’ensemble autocatalytique de Stuart A.
  <span class="small-caps">Kauffman</span> (
  <a href="#citee0@stuart1993origins">1993</a>) pose, lui, qu’une
  étape cruciale dans l’apparition de la vie est l’apparition d’un
  ensemble de molécules capables de catalyser la production des
  molécules de cet ensemble, de sorte que ces molécules sont
  collectivement autocatalytiques. Enfin,
  <span class="small-caps">Rosen</span> (
  <a href="#citee0@rosen2005">1991</a>) propose une approche plus
  abstraite de ces questions, sur la base de la théorie des
  catégories, où la circularité entre le métabolisme et la réparation
  des constituants d’un objet est au centre de l’analyse. Ces
  concepts sont l’objet d’un certain nombre de travaux (J. C.
  <span class="small-caps">Letelier</span>,
  <span class="small-caps">Marin</span> et
  <span class="small-caps">Mpodozis</span>
  <a href="#citee0@Letelier2003261">2003</a>;<span class="small-caps"> Ruiz-Mirazo</span> et
  <span class="small-caps">Moreno</span>
  <a href="#citee0@Ruiz-Mirazo">2004</a>;J.-C.
  <span class="small-caps">Letelier</span>,
  <span class="small-caps">Cárdenas</span> et
  <span class="small-caps">Cornish-Bowden</span>
  <a href="#citee0@Letelier2011100">2011</a>), mais s’ils sont très
  pertinents pour la question de l’origine de la vie, ils peinent à
  s’articuler avec les travaux biologiques plus quotidiens, qu’il
  s’agisse de travaux expérimentaux ou de modélisations.
</p>
<p class="indent">
  Un nouveau cadre satisfaisant plusieurs objectifs
  et limites des cadres précédents a été publié récemment. Ce cadre
  visait tout d’abord à dépasser les définitions purement chimiques
  de la matière, conduisant à l’idée qu’être autopoïètique signifie
  seulement produire les molécules constituant un organisme. En
  effet, les êtres vivants produisent et maintiennent aussi des
  formes telles que celle du système vasculaire et de la membrane
  d’une cellule, ou, de manière plus abstraite, la cyclicité
  cardiaque. Pour cela, le concept de contrainte a été utilisé pour
  généraliser ces idées à toutes sortes de régularités et donc de
  formes. Un autre objectif de ce travail était de distinguer à quel
  niveau et pour quel type d’objet se présente la circularité que
  tous les travaux susmentionnés en biologie théorique visent à
  saisir. Il faut ici avoir présent à l’esprit que les êtres vivants
  sont, pour des raisons principielles, thermodynamiquement ouverts.
  En effet, comme le souligne
  <span class="small-caps">Schrödinger</span> (
  <a href="#citee0@schrodinger">1944</a>), les êtres vivants ne sont
  pas au maximum d’entropie et, d’après le second principe de la
  thermodynamique, pour ce maintenir ainsi ils doivent être traversés
  par des flux d’énergie et de matière. En distinguant processus de
  transformation et contraintes, ces circularités peuvent être
  décrites comme clôture entre contraintes, c’est-à-dire l’idée
  qu’une contrainte structure un processus de transformation
  maintenant une autre contrainte qui agit sur un autre processus, et
  ainsi de suite jusqu’à ce que la première contrainte soit maintenue
  (<span class="small-caps"> Montévil</span> et
  <span class="small-caps">Mossio</span>
  <a href="#citee0@Montevil2015c">2015</a>). Enfin, un objectif dans
  la formulation de ce cadre était de le rendre compatible avec la
  variation biologique telle que décrite ci-dessus. Ainsi, les
  contraintes ne sont valide qu’à une échelle de temps donnée, et le
  rôle épistémologique de cette circularité est transformé : il ne
  s’agit plus tant de savoir ce qui distingue le vivant du physique
  ou même de savoir comment l’apparition du vivant a été possible (ou
  aussi possiblement nécessaire) mais de comprendre pourquoi et
  comment certaines parties des organismes se maintiennent dans le
  temps. Plusieurs exemples d’application à des situations
  biologiques précises ont été développé (<span class="small-caps"> Montévil</span>,
  <span class="small-caps">Speroni</span> et al.
  <a href="#citee0@chapterconstraints">2016</a>;<span class="small-caps"> Bich</span>,
  <span class="small-caps">Mossio</span> et
  <span class="small-caps">Soto</span>
  <a href="#citee0@10e3389fphyse2020e00069">2020</a>).
</p>
<figure class="figure" id="x1-50016">
  <div class="center">
    
      <img  class="zoom"src="figure-figure5-.png" alt="PIC" />
    
  </div>
  <figcaption class="caption">
    <span class="id"><span class="eccc1000-"><span class="small-caps">Figure</span> 
<span class="small-caps">6</span></span>:</span>
    <span class="content"><span class="cmti-10">Clôture entre contraintes,
d’après</span>
<span class="small-caps">Montévil</span>
<span class="cmti-10">et</span>
<span class="small-caps">Mossio</span>
<span class="cmti-10">(</span>
<a href="#citee0@Montevil2015c"><span class="cmti-10">2015</span>
</a><span class="cmti-10">).</span>Les contraintes d’un organisme
se maintiennent collectivement, ce qui permet à l’organisme de
se maintenir pendant un temps beaucoup plus long que si ces
contraintes étaient isolées. Ici,
<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mrow>
            <mi>C</mi>
          </mrow>
          <mrow>
            <mn>2</mn>
          </mrow>
        </msub>
      </math>,
<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mrow>
            <mi>C</mi>
          </mrow>
          <mrow>
            <mn>3</mn>
          </mrow>
        </msub>
      </math>et
<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mrow>
            <mi>C</mi>
          </mrow>
          <mrow>
            <mn>4</mn>
          </mrow>
        </msub>
      </math>font partie de la clôture.
<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mrow>
            <mi>C</mi>
          </mrow>
          <mrow>
            <mn>1</mn>
          </mrow>
        </msub>
      </math>agit sur un processus dont le résultat n’est pas
mobilisé par l’organisme, par exemple l’ombre d’un arbre limite
la luminosité, ce qui est utilisé par certaines plantes et
animaux mais pas par l’arbre lui-même.
<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mrow>
            <mi>C</mi>
          </mrow>
          <mrow>
            <mn>5</mn>
          </mrow>
        </msub>
      </math>est une contrainte extérieure mobilisée par l’organisme.
Une telle contrainte peut être d’origine biologique, par
exemple l’ombre du même arbre est pertinente pour la plante qui
vit dans cette ombre. Elle peut aussi être d’origine physique,
comme la périodicité circadienne qui est mobilisée dans
l’organisation de nombreux êtres vivants. De plus, la clôture
dépend fondamentalement de flux avec l’extérieur pour se
maintenir (les
<math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
        <msub>
          <mrow>
            <mi>A</mi>
          </mrow>
          <mrow>
            <mi>i</mi>
          </mrow>
        </msub>
      </math>), elle est donc une circularité et en aucun cas une
fermeture au sens thermodynamique, et plus généralement au sens
d’indépendance vis-à-vis de l’extérieur.</span>
  </figcaption>
</figure>
<p class="indent">
  Dans ce cadre, les contraintes participant à la
  clôture interviennent de deux manières distinctes. D’une part, une
  contrainte faisant partie de la clôture est maintenue par un
  processus sous l’action d’une autre contrainte de l’organisation.
  D’autre part, elle agit sur au moins un autre processus maintenant
  une autre contrainte de l’organisation. Par exemple, la géométrie
  du système vasculaire est maintenue par le renouvellement de ses
  cellules et les processus de cicatrisation, et il contraint le flot
  d’oxygène et de nombreux autres composés dans l’organisme, ce qui,
  en deux mots, maintient les propriétés du milieu intérieur. Nous
  voyons donc ici qu’une forme biologiquement pertinente n’est jamais
  pertinente par elle-même. Elle est pertinente par son inscription
  dans une organisation, donc dans une circularité qui implique ce
  double statut comme objet d’un maintien et participation au
  maintien d’au moins une autre partie.
</p>
<p class="indent">
  Il est important de noter que la circularité
  propre à la clôture entre contraintes et aux approches similaires
  est un moyen d’interpréter la notion de fonction biologique (<span class="small-caps"> Mossio</span>,
  <span class="small-caps">Saborido</span> et
  <span class="small-caps">Moreno</span>
  <a href="#citee0@mossio2009organizational">2009</a>). Une
  contrainte a une fonction lorsqu’elle fait partie de la clôture,
  car son existence dépend de ses conséquences par la circularité de
  la clôture. L’autre approche philosophique du concept de fonction
  est le concept sélectionniste qui pose qu’un trait a une fonction
  s’il a été sélectionné à cause de ses effets (<span class="small-caps"> Godfrey-Smith</span>
  <a href="#citee0@godfrey1994modern">1994</a>). Il est intéressant
  de noter que ces deux approches correspondent à deux manières
  d’expliquer la relative stabilité d’une contrainte dans le cadre
  que nous mobilisons.
</p>
<p class="indent">
  Dans ce cadre, les formes biologiques ne sont
  donc pas simplement des formes mathématiques. Lorsqu’elles font
  partie de l’organisation d’un organisme, elles ont un double
  statut. Elles sont à la fois l’objet d’un maintien actif par un
  processus sous contrainte et elles agissent sur un processus
  stabilisant une autre contrainte, dans une organisation
  caractérisée par sa circularité. Ainsi, les concepts de formes et
  de fonctions sont articulés étroitement.
</p>
<h3 class="subsectionHead" id="x1-60003e3">
  <span class="titlemark">3.3</span> Que veut dire mesurer des formes
  biologiques  ?
</h3>
<p class="noindent">
  Avant de conclure, abordons une question
  théorique majeure : le sens théorique de l’accès à l’objet
  empirique. En physique théorique, le concept correspondant est
  celui de mesure et il est défini avec précision dans les
  principales théories physiques. En physique classique, le concept
  de mesure pose que l’accès à l’état d’un objet n’est jamais
  parfait, mais qu’il est au contraire toujours approché : alors que
  l’état est un point, la mesure fournit un intervalle. En physique
  quantique, la mesure est plus complexe car elle change l’objet de
  manière irréversible et c’est dans ce contexte qu’Einstein a énoncé
  l’idée suivant laquelle c’est la théorie qui dit ce que l’on peut
  observer.
</p>
<p class="indent">
  En biologie, cette question a relativement peu
  été discutée et la mesure biologique n’a pas été formalisée.
  <span class="small-caps">Montévil</span> (
  <a href="#citee0@montevilmeasure">2019a</a>) vise à commencer à
  combler ce manque, (voir aussi
</p>
<p class="indent">
  <span class="small-caps">Houle</span> et al.
  <a href="#citee0@houle2011measurement">2011</a>, pour une
  perspective complémentaire). Pour aborder ce problème, nous pouvons
  partir du cadre présenté en figure
  <a href="#x1-40014">4
</a>. Dans ce cadre, mesurer un
  objet biologique ne signifie pas seulement mesurer une partie ou un
  aspect intéressant dans le cadre d’un travail, comme la masse d’un
  organisme, la concentration d’une espèce chimique ou la longueur
  d’un os. Il est aussi nécessaire de “mesurer” l’organisme lui-même
  et donc l’objet biologique en tant qu’il est spécifique. Par
  exemple, le poids d’une souris ou son rythme cardiaque n’ont pas le
  même sens que ceux d’un rat ou d’un éléphant, ils ne sont pas
  commensurables en tant que tels. Pour les rendre commensurables,
  nous avons besoin d’un cadre tout à fait distinct de ceux
  rencontrés en physique.
</p>
<p class="indent">
  Les biologistes décrivent et manipulent les
  objets biologiques en prenant comme référence non pas l’objet tel
  qu’il est (un état) ou même tel qu’il se comporte (équations) mais
  en se référant au passé de cet objet. Ainsi, les groupes définis
  par la classification du vivant doivent désigner uniquement et tous
  les descendants d’un ancêtre commun. Définir les objets ainsi, à
  partir d’un point de référence dans le passé, permet d’obtenir des
  définitions stables quelles que soient les variations des objets
  biologiques. Les objets biologiques génèrent de la diversité de
  telle sorte que l’invariance ne permet pas de les définir
  rigoureusement. Au lieu de propriétés conservés, le passé de
  l’objet sert de référence. Ici, la généalogie, concept issu de la
  théorie de l’évolution, joue un rôle central. Bien évidemment, la
  proximité généalogique va avec la présence simultanée de nombreux
  caractères, mais la conservation d’aucun de ces caractères et
  encore moins de leurs fonctions n’est garantie en principe, ni
  nécessaire, pour que les définitions restent valides.
</p>
<p class="indent">
  Ce rôle du raisonnement historique n’est pas
  limité à la classification du vivant en systématique. Les
  biologistes travaillent souvent avec des souches d’animaux et de
  cellules de laboratoire, issus de généalogies contrôlées. Ici
  aussi, l’appartenance à une souche provient de l’existence d’un
  ancêtre commun qui peut être plus ou moins récent suivant la souche
  utilisée et sa définition. En figure
  <a href="#x1-60017">7
</a>, nous présentons le cas de
  cellules et la définition d’une souche (ou d’une sous-souche)
  provenant d’une seule cellule, leur dernier ancêtre commun.
  Cependant, même dans ces conditions, la variation ne cesse pas et
  il est possible d’observer l’évolution dans des conditions de
  laboratoire (<span class="small-caps"> Papadopoulos</span> et al.
  <a href="#citee0@Papadopoulos3807">1999</a>).
</p>
<figure class="figure" id="x1-60017">
  <div class="center">
    
      <img  class="zoom" alt="PIC" src="figure-figure6-.png" />
    
  </div>
  <figcaption class="caption">
    <span class="id"><span class="eccc1000-"><span class="small-caps">Figure</span> 
<span class="small-caps">7</span></span>:</span>
    <span class="content"><span class="cmti-10">Définition d’une lignée cellulaire de
laboratoire et opérations expérimentales correspondantes, d’après</span>
<span class="small-caps">Montévil</span>
<span class="cmti-10">(</span>
<a href="#citee0@montevilmeasure"><span class="cmti-10">2019a</span>
</a><span class="cmti-10">).</span>À gauche, des cellules
prolifèrent, mais leur ancêtre commun n’est pas connu ni
contrôlé — cet ancêtre commun existe néanmoins d’après la
théorie de l’évolution mais est plus ou moins récent suivant
les cas. Une sous-culture standard ne règle pas cette
difficulté car elle contient plusieurs cellules, d’origines
potentiellement éloignées. Pour régler ce problème, les
biologistes font une sous-culture particulière afin de générer
une population à partir d’une seule cellule. Alors, cette
cellule est l’ancêtre commun de toutes les cellules obtenues
subséquemment par prolifération avec variation et cet ancêtre
commun est récent. La population obtenue peut être congelée ce
qui permet de la conserver sans qu’elle ne prolifère ni ne
varie. Alors, des expériences peuvent être produites et
reproduites avec des cellules très proches de leur ancêtre
commun, ce qui permet de limiter les variations dues à la
prolifération.</span>
  </figcaption>
</figure>
<p class="indent">
  La mesure biologique implique donc la référence
  au passé et non seulement à l’objet tel qu’il peut être défini par
  des relations invariantes. Cette notion de mesure signifie que l’on
  ne peut pas instancier
  <span class="cmti-10">de novo</span>un objet biologique. Pour
  reproduire une expérience biologique, il faut travailler sur des
  objets ayant un passé commun. Cette situation est tout à fait
  différente de la situation en physique où l’on peut mesurer la
  vitesse de la lumière dans le vide avec n’importe quel photon,
  généré de manière complètement indépendante, car ils suivent tous,
  par principe, les mêmes équations. L’articulation entre
  connaissance et matière est différente en biologie : la référence
  au passé passe par la référence à un objet matériel particulier, à
  un “ceci”, alors que cette approche n’est pas nécessaire en
  physique.
</p>
<p class="indent">
  Les objets biologiques ne sont jamais
  rigoureusement assimilables l’un à l’autre, l’avancée du temps
  produit sans cesse des variations, ce qui conduit à définir sans
  cesse de nouvelles souches et sous-souches d’animaux. L’acte qui
  consiste à considérer que des objets biologiques sont équivalents
  dans le cadre d’un travail empirique est un acte de symétrisation.
  La symétrisation inclut parfois aussi des actions tout à fait
  concrètes, comme le fait de mettre des organismes dans un même
  contexte. La symétrisation peut être effectuée de plusieurs
  manières. Elle peut viser à obtenir des objets dont les
  organisations sont aussi proches que possibles en prenant des
  objets dont l’histoire commune est aussi récente que possible,
  comme en figure
  <a href="#x1-60017">7
</a>ou en étudiant une souche très
  précise de souris. À l’opposé, la symétrisation peut laisser plus
  de place à la diversité du vivant, par exemple en étudiant
  plusieurs souches de souris ou des souris sauvages, ce qui conduit
  à une plus grande variabilité des résultats mais permet aussi de
  s’extraire de comportements qui sont propres à une souche de souris
  particulière, bref d’obtenir des résultats ayant une certaine
  généralité. Dans ce cadre théorique, le contexte est aussi un
  élément clé, y compris les contextes passés, et leurs contrôles
  participent à cette démarche de symétrisation (<span class="small-caps"> Montévil</span>
  <a href="#citee0@montevilmeasure">2019a</a>).
</p>
<p class="indent">
  Dans ce cadre, mesurer une forme biologique ne
  signifie donc pas simplement mesurer une forme mathématique. Pour
  mesurer une forme biologique, il est nécessaire de se référer aussi
  à l’histoire et au contexte de l’objet sans quoi une forme
  mathématique qui peut être observée n’a pas de sens biologique
  empirique et théorique.
</p>
<h2 class="sectionHead" id="x1-70004"><span class="titlemark">4</span> Conclusion</h2>
<p class="noindent">
  Du point de vue de la théorie, les formes
  biologiques ont alors un statut tout à fait particulier, éloignée
  des concepts et de l’épistémologie de la physique. En biologie,
  l’objet ne peut plus être reconstruit théoriquement sur la base de
  symétries et d’invariants. Il s’ensuit que les formes ne peuvent
  plus être conçues comme des propriétés invariantes des objets,
  elles sont des contraintes dont la validité a fondamentalement un
  caractère contingent.
</p>
<p class="indent">
  Les formes biologiques s’inscrivent alors dans
  une histoire biologique ce qui a plusieurs conséquences. Tout
  d’abord, l’organisme dont une partie ou un aspect possède cette
  forme doit aussi être spécifié, et cette spécification, pour des
  raisons pratiques et théoriques, se fait par la référence au passé
  de cet organisme, passé qu’il a en partage avec d’autres organismes
  pouvant faire l’objet d’une même expérience. De plus, même pour des
  animaux ou des cellules de laboratoire dont l’origine et le
  contexte sont fortement contrôlés, la présence d’une forme
  s’accompagne, en droit, de la présence de nombreuses variations de
  cette forme. Nous avons montré qu’il est possible de tirer parti de
  cette situation en esquissant une méthode de déconstruction des
  formes. En quelque sorte, la biologie demande donc de
  désessentialiser la forme des formes.
</p>
<p class="indent">
  Les formes biologiques font, de plus, partie
  d’objets organisés. Il s’ensuit qu’elles ont un double statut,
  celui d’être maintenu activement par un processus sous contrainte
  et celui de maintenir une autre contrainte en contraignant un
  processus. Le sens d’une forme biologique réside d’abord dans ces
  articulations avec l’organisation à laquelle elle participe.
  L’intégration à une organisation permet de comprendre la relative
  stabilité des formes biologiques comme le résultat d’une activité
  constante.
</p>
<p class="indent">
  La circularité propre à l’organisation comme
  clôture entre contrainte, mais aussi la contingence fondamentale
  des contraintes composant ces organisations, et donc leur capacité
  à varier, sont caractéristiques de l’autonomie des êtres vivants
  dont les formes sont une manifestation remarquable. Cette autonomie
  n’est en rien une indépendance, bien au contraire, les
  organisations biologiques sont contextuelles et plus encore elles
  portent en elle les traces de leurs couplages avec leurs contextes
  passés. Détacher les formes de cet ancrage revient à les détacher
  de leur sens biologique.
</p>
<h2 class="sectionHead" id="x1-80004">Références</h2>
<ol class="thebibliography">
  <li class="bibitem" id="citee0@bailly2006">
    <span class="small-caps">Bailly</span>, F. et G.
    <span class="small-caps">Longo</span> (2006).
    <span class="cmti-10">Mathématiques &amp; sciences de la
nature : la singularité physique du vivant</span>. Paris :
    Hermann.
  </li>
  <li class="bibitem" id="citee0@beatty1995evolutionary">
    <span class="small-caps">Beatty</span>, John (1995). « The evolutionary contingency thesis ».
    In :
    <span class="cmti-10">Concepts, theories, and rationality in the biological
sciences</span>, p. 45-81.
  </li>
  <li class="bibitem" id="citee0@bernard1865introduction">
    <span class="small-caps">Bernard</span>, Claude (1865).
    <span class="cmti-10">Introduction à l’étude de la médecine
expérimentale</span>. Paris : Baillière.
  </li>
  <li class="bibitem" id="citee0@10e3389fphyse2020e00069">
    <span class="small-caps">Bich</span>, Leonardo, Matteo
    <span class="small-caps">Mossio</span> et Ana M.
    <span class="small-caps">Soto</span> (2020). « Glycemia Regulation : From Feedback Loops to
    Organizational Closure ». In :
    <span class="cmti-10">Frontiers in Physiology</span>11, p.
    69.
    <span class="small-caps">issn</span> : 1664-042X.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.3389/fphys.2020.00069"><span class="ectt-1000">10.3389/fphys.2020.00069</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@byers1999noether">
    <span class="small-caps">Byers</span>, N. (1999). « E. Noether’s discovery of the deep
    connection between symmetries and conservation laws ». In :
    <span class="cmti-10">The heritage of Emmy Noether in
algebra, geometry, and physics</span>. T. 12. Israel
    mathematical conference. Tel Aviv, p. 67-81.
  </li>
  <li class="bibitem" id="citee0@canguilhem1972normal">
    <span class="small-caps">Canguilhem</span>, G. (1972).
    <span class="cmti-10">Le normal et le pathologique</span>.
    Paris : Presses Universitaires de France.
  </li>
  <li class="bibitem" id="citee0@darwin1859origin">
    <span class="small-caps">Darwin</span>, Charles (1859).
    <span class="cmti-10">On the Origin of Species by Means of
Natural Selection, or the Preservation of Favoured Races in the
Struggle for Life</span>. London : John Murray.
  </li>
  <li class="bibitem" id="citee0@Douady1996255">
    <span class="small-caps">Douady</span>, S. et Y.
    <span class="small-caps">Couder</span> (1996). « Phyllotaxis as a Dynamical Self Organizing
    Process Part I : The Spiral Modes Resulting from Time-Periodic
    Iterations ». In :
    <span class="cmti-10">Journal of Theoretical Biology</span> 178.3, p. 255-273.
    <span class="small-caps">issn</span> : 0022-5193.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1006/jtbi.1996.0024"><span class="ectt-1000">10.1006/jtbi.1996.0024</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@gayon1994darwin">
    <span class="small-caps">Gayon</span>, Jean (1992).
    <span class="cmti-10">Darwin et l’après Darwin</span>. Paris
    : Editions Kimé.
  </li>
  <li class="bibitem" id="citee0@godfrey1994modern">
    <span class="small-caps">Godfrey-Smith</span>, Peter (1994). « A modern history theory of functions
    ». In :
    <span class="cmti-10">Noûs</span>28.3, p. 344-362.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.2307/2216063"><span class="ectt-1000">10.2307/2216063</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@gould2002structure">
    <span class="small-caps">Gould</span>, S.J. (2002).
    <span class="cmti-10">The structure of evolutionary
theory</span>. Harvard University Press.
  </li>
  <li class="bibitem" id="citee0@heisenberg1972partie">
    <span class="small-caps">Heisenberg</span>, Werner (2010).
    <span class="cmti-10">La partie et le tout. Le monde de la
physique atomique.</span>Paris : Flammarion.
  </li>
  <li class="bibitem" id="citee0@houle2011measurement">
    <span class="small-caps">Houle</span>, David et al. (2011). « Measurement and meaning in
    biology ». In :
    <span class="cmti-10">The Quarterly Review of Biology</span> 86.1, p. 3-34.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1086/658408"><span class="ectt-1000">10.1086/658408</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@kauffman2019world">
    <span class="small-caps">Kauffman</span>, Stuart A (2019).
    <span class="cmti-10">A World Beyond Physics : The Emergence
and Evolution of Life</span>. New York : Oxford University
    Press.
  </li>
  <li class="bibitem" id="citee0@stuart1993origins">
    — (1993).
    <span class="cmti-10">The origins of order : Self
organization and selection in evolution</span>. New York :
    Oxford University Press.
  </li>
  <li class="bibitem" id="citee0@heritier">
    <span class="small-caps">L’Héritier</span>, Philippe (1949).
    <span class="cmti-10">Les méthodes statistiques dans
l’expérimentation biologique</span>. Paris : Centre National de
    la Recherche Scientifique.
  </li>
  <li class="bibitem" id="citee0@lecoitnre2017">
    <span class="small-caps">Lecointre</span>, G. (2017). « Les contenants et les contenus : Que
    faire des invariants en biologie ? » In :
    <span class="cmti-10">Sciences de la vie, sciences de
l’information</span>. Sous la dir. de T.
    <span class="small-caps">Gaudin</span> et al. Paris : ISTE-Editions., p. 129-143. 2017.
  </li>
  <li class="bibitem" id="citee0@Letelier2003261">
    <span class="small-caps">Letelier</span>, J. C., G.
    <span class="small-caps">Marin</span> et J.
    <span class="small-caps">Mpodozis</span> (2003). « Autopoietic and (M,R) systems ». In :
    <span class="cmti-10">Journal of Theoretical
Biology</span>222.2, p. 261-272.
    <span class="small-caps">issn</span> : 0022-5193.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1016/S0022-5193(03)00034-1"><span class="ectt-1000">10.1016/S0022-5193(03)00034-1</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@Letelier2011100">
    <span class="small-caps">Letelier</span>, Juan-Carlos, María Luz
    <span class="small-caps">Cárdenas</span> et Athel
    <span class="small-caps">Cornish-Bowden</span> (2011). « From L’Homme Machine to metabolic closure :
    Steps towards understanding life ». In :
    <span class="cmti-10">Journal of Theoretical Biology</span> 286.0, p.
    100-113.
    <span class="small-caps">issn</span> : 0022-5193.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1016/j.jtbi.2011.06.033"><span class="ectt-1000">10.1016/j.jtbi.2011.06.033</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@Longo2018">
    <span class="small-caps">Longo</span>, G. (sept. 2018). « How Future Depends on Past and Rare
    Events in Systems of Life ». In :
    <span class="cmti-10">Foundations of Science</span>23.3, p.
    443-474.
    <span class="small-caps">issn</span> : 1572-8471.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1007/s10699-017-9535-x"><span class="ectt-1000">10.1007/s10699-017-9535-x</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@longomont">
    <span class="small-caps">Longo</span>, G. et Maël
    <span class="small-caps">Montévil</span> (2014).
    <span class="cmti-10">Perspectives on Organisms : Biological
time, symmetries and singularities</span>.
    Lecture Notes in Morphogenesis. Heidelberg : Springer.
    <span class="small-caps">isbn</span> : 978-3-642-35937-8.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1007/978-3-642-35938-5"><span class="ectt-1000">10.1007/978-3-642-35938-5</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@longo2012b">
    <span class="small-caps">Longo</span>, G., Maël
    <span class="small-caps">Montévil</span> et S.
    <span class="small-caps">Kauffman</span> (juill. 2012). « No entailing laws, but enablement in
    the evolution of the biosphere ». In :
    <span class="cmti-10">Genetic and Evolutionary
Computation Conference</span>. GECCO’12.
    Philadelphia (PA, USA) : ACM.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1145/2330784.2330946"><span class="ectt-1000">10.1145/2330784.2330946</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@chapterPA">
    <span class="small-caps">Miquel</span>, Paul-Antoine et Su-Young
    <span class="small-caps">Hwang</span> (2016). « From physical to biological individuation ».
    In :
    <span class="cmti-10">Progress in Biophysics and Molecular
Biology</span>122.1, p. 51-57.
    <span class="small-caps">issn</span> : 0079-6107.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1016/j.pbiomolbio.2016.07.002"><span class="ectt-1000">10.1016/j.pbiomolbio.2016.07.002</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@montevilmariano">
    <span class="small-caps">Montévil</span>, Maël (2018). « A
    Primer on Mathematical Modeling in the Study of Organisms and
    Their Parts ». In :
    <span class="cmti-10">Systems Biology</span>. Sous la dir. de
    Mariano
    <span class="small-caps">Bizzarri</span>. Methods in Molecular Biology. New York, NY : Springer
    New York, p. 41-55.
    <span class="small-caps">isbn</span> : 978-1-4939-7456-6.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1007/978-1-4939-7456-6_4"><span class="ectt-1000">10.1007/978-1-4939-7456-6_4</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@montevilmeasure">
    — (avr. 2019a). «
    Measurement in biology is methodized by theory ». In :
    <span class="cmti-10">Biology &amp; Philosophy</span>34.3, p.
    35.
    <span class="small-caps">issn</span> : 1572-8404.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1007/s10539-019-9687-x"><span class="ectt-1000">10.1007/s10539-019-9687-x</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@novelty2017">
    — (nov. 2019b). « Possibility
    spaces and the notion of novelty : from music to biology ». In
    :
    <span class="cmti-10">Synthese</span>196.11, p. 4555-4581.
    <span class="small-caps">issn</span> : 1573-0964.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1007/s11229-017-1668-5"><span class="ectt-1000">10.1007/s11229-017-1668-5</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@Montevil2015c">
    <span class="small-caps">Montévil</span>, Maël et Matteo
    <span class="small-caps">Mossio</span> (2015). « Biological organisation as closure of
    constraints ». In :
    <span class="cmti-10">Journal of Theoretical
Biology</span>372, p. 179-191.
    <span class="small-caps">issn</span> : 0022-5193.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1016/j.jtbi.2015.02.029"><span class="ectt-1000">10.1016/j.jtbi.2015.02.029</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@chaptervariation">
    <span class="small-caps">Montévil</span>, Maël, Matteo
    <span class="small-caps">Mossio</span> et al. (2016). « Theoretical principles for biology :
    Variation ». In :
    <span class="cmti-10">Progress in Biophysics and Molecular
Biology</span>122.1, p. 36-50.
    <span class="small-caps">issn</span> : 0079-6107.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1016/j.pbiomolbio.2016.08.005"><span class="ectt-1000">10.1016/j.pbiomolbio.2016.08.005</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@chapterconstraints">
    <span class="small-caps">Montévil</span>, Maël, L.
    <span class="small-caps">Speroni</span> et al. (2016). « Modeling mammary organogenesis from
    biological first principles : Cells and their physical
    constraints ». In :
    <span class="cmti-10">Progress in Biophysics and Molecular Biology</span> 122.1, p.
    58-69.
    <span class="small-caps">issn</span> : 0079-6107.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1016/j.pbiomolbio.2016.08.004"><span class="ectt-1000">10.1016/j.pbiomolbio.2016.08.004</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@mossio2009organizational">
    <span class="small-caps">Mossio</span>, Matteo, C.
    <span class="small-caps">Saborido</span> et A.
    <span class="small-caps">Moreno</span> (2009). « An organizational account of biological
    functions ». In :
    <span class="cmti-10">The British Journal for the Philosophy
of Science</span>60.4, p. 813-841.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1093/bjps/axp036"><span class="ectt-1000">10.1093/bjps/axp036</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@Papadopoulos3807">
    <span class="small-caps">Papadopoulos</span>, Dimitri et al. (1999). « Genomic evolution during a
    10,000-generation experiment with bacteria ». In :
    <span class="cmti-10">Proceedings of the National Academy of
Sciences</span>96.7, p. 3807-3812.
    <span class="small-caps">issn</span> : 0027-8424.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1073/pnas.96.7.3807"><span class="ectt-1000">10.1073/pnas.96.7.3807</span>
</a>. eprint :
    <a class="url" href="https://www.pnas.org/content/96/7/3807.full.pdf"><span class="ectt-1000">https://www.pnas.org/content/96/7/3807.full.pdf</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@rosen2005">
    <span class="small-caps">Rosen</span>, R. (1991).
    <span class="cmti-10">Life itself : a comprehensive inquiry
into the nature, origin, and fabrication of life</span>. New York : Columbia
    University Press.
  </li>
  <li class="bibitem" id="citee0@Ruiz-Mirazo">
    <span class="small-caps">Ruiz-Mirazo</span>, K. et A.
    <span class="small-caps">Moreno</span> (juin 2004). « Basic Autonomy As a Fundamental Step in
    the Synthesis of Life ». In :
    <span class="cmti-10">Artif. Life</span>10.3, p. 235-259.
    <span class="small-caps">issn</span> : 1064-5462.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1162/1064546041255584"><span class="ectt-1000">10.1162/1064546041255584</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@schrodinger">
    <span class="small-caps">Schrödinger</span>, E. (1944).
    <span class="cmti-10">What Is Life?</span>Londre : Cambridge
    University Press.
  </li>
  <li class="bibitem" id="citee0@soto2016century">
    <span class="small-caps">Soto</span>, Ana M. et al. (2016). « From the century of the genome
    to the century of the organism : New theoretical approaches ».
    In :
    <span class="cmti-10">Progress in Biophysics and Molecular
Biology, Special issue</span>, p. 1-82.
  </li>
  <li class="bibitem" id="citee0@stiegler_2015">
    <span class="small-caps">Stiegler</span>, Barbara (2015). « L’hommage de Stephen Jay Gould à
    l’évolutionnisme de Nietzsche ». In :
    <span class="cmti-10">Dialogue</span>54.3, p. 409-453.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1017/S0012217315000864"><span class="ectt-1000">10.1017/S0012217315000864</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@Strocchi_2005">
    <span class="small-caps">Strocchi</span>, F. (2005).
    <span class="cmti-10">Symmetry breaking</span>. T. 732.
    Lecture Notes in Physics. Heidelberg : Springer Verlag.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1007/b95211"><span class="ectt-1000">10.1007/b95211</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@thom1982modeles">
    <span class="small-caps">Thom</span>, René (1974).
    <span class="cmti-10">Modèles mathématiques de la
morphogenèse</span>. Paris : Union Générale d’Éditions.
  </li>
  <li class="bibitem" id="citee0@d1952growth">
    <span class="small-caps">Thompson</span>, D’A. W (1942).
    <span class="cmti-10">On growth and form</span>. Cambridge :
    Cambridge University Press.
  </li>
  <li class="bibitem" id="citee0@Turing1952">
    <span class="small-caps">Turing</span>, A. M. (1952). « The Chemical Basis of Morphogenesis ».
    In :
    <span class="cmti-10">Philosophical Transactions of the Royal Society of London. Series
B, Biological Sciences</span> 237.641, p. 37-72.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1098/rstb.1952.0012"><span class="ectt-1000">10.1098/rstb.1952.0012</span>
</a>.
  </li>
  <li class="bibitem" id="citee0@van1989laws">
    <span class="small-caps">Van Fraassen</span>, B.C. (1989).
    <span class="cmti-10">Laws and symmetry</span>. Oxford
    University Press, USA.
  </li>
  <li class="bibitem" id="citee0@Varela1974187">
    <span class="small-caps">Varela</span>, F.J., H.R.
    <span class="small-caps">Maturana</span> et R.
    <span class="small-caps">Uribe</span> (1974). « Autopoiesis : The organization of living
    systems, its characterization and a model ». In :
    <span class="cmti-10">Biosystems</span>5.4, p. 187-196.
    <span class="small-caps">issn</span> : 0303-2647.
    <span class="small-caps">doi</span> :
    <a href="https://doi.org/10.1016/0303-2647(74)90031-8"><span class="ectt-1000">10.1016/0303-2647(74)90031-8</span>
</a>.
  </li>
</ol>
