// https://github.com/hankchizljaw/modern-css-reset
@use '../../node_modules/modern-css-reset/dist/reset';

@use 'global/colors';
@use 'global/utilities';
@use 'global/globals';
@use 'global/accessibility';
@use 'global/fonts';
@use 'components/avatar';
@use 'components/header';
@use 'components/navigation';
@use 'components/link';
@use 'components/button';
@use 'components/blockquote';
@use 'components/code';
@use 'components/meta';
@use 'components/card';
@use 'components/page';
@use 'components/tweets';
@use 'components/container';
@use 'components/toast';
@use 'components/notification';
@use 'components/footnotes';
@use 'components/reactions';
@use 'highlight/_prism-onedark';
@use 'components/footer';
@use 'components/tweets-icons';
@use 'global/print';

html {
  text-size-adjust: 100%;
  // https://twitter.com/TimVereecke/status/1239454788116533248
  // https://twitter.com/lfredolo/status/1240301405325361152
  overflow-y: scroll;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-m);
  font-weight: 400;

  color: var(--color-primary-darker-6);
  background-color: white;

  word-break: break-word;
}

// ************************************************************
// Layout
// ************************************************************

body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0;
  flex: 1;

  .wrap {
    @extend %flow;
  }
}

.wrap {
  width: 90vw;
  max-width: var(--layout-max);
    margin-left: auto;
    margin-right: auto;
  @media (min-width: 40rem) {
    width: 80vw;

  }
}

// ************************************************************
// Paragraphs and headers
// ************************************************************

.lead {
  @extend %flow;

  font-size: var(--font-size-xxl);
  color: var(--color-primary-lighter-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  color: var(--color-primary-lighter-2);
  position: relative;

  &:not(h1) {
    --flow-space: var(--gap3);
  }
}

h1 {
  font-size: var(--font-size-xxxxl);
  font-weight: 900;
  color: var(--color-primary);
}

h2 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-l);
  font-weight: 300;
}

h5 {
  font-size: var(--font-size-m);
  font-weight: 300;
}

h6 {
  font-style: italic;
  font-size: var(--font-size-m);
  font-weight: 300;
}

// ************************************************************
// Links
// Lord Vader Hates Furry Animals
// https://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
// ************************************************************

a {
  &:link,
  &:visited {
    color: var(--color-link);
    background-color: var(--color-link-bg);
    text-decoration-line: underline;
    text-decoration-color: var(--color-link-decoration);
    text-decoration-thickness: 2px;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin-left: -0.1em;
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-link-hover-bg);
    text-decoration: var(--color-link-hover-decoration);
    outline: none;
  }

  &:active {
    color: #fff;
    background-color: var(--color-secondary);
    text-decoration: none;
    outline: none;
  }
}

// Deep links (aka anchors)

a.deeplink {
  &:link,
  &:visited {
    text-align: center;
    margin-left: 0.3rem;
    padding: 0 0.4rem;
    border-radius: 0.4em;
    color: #767676;
    text-decoration: none;

    svg {
      vertical-align: baseline;
      font-size: 0.7em;
      fill: none;
      stroke: currentColor;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-link-hover-bg);
  }

  @media (min-width: 65rem) {
    position: absolute;
    left: -3rem;
  }
}

:target {
  // Inspired by https://adrianroselli.com/2019/12/responsive-type-and-zoom.html#Update04
  animation-name: target;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

@keyframes target {
  0% {
    background-color: inherit;
  }
  85% {
    background-color: var(--color-yellow-light);
  }
}

// Links to content in another language
// https://tzi.fr/css/link-hreflang/
:lang(fr) > :link[hreflang]:not([hreflang='fr'])::after,
:lang(en) > :link[hreflang]:not([hreflang='en'])::after {
  content: ' (' attr(hreflang) ')';
  font-size: 70%;
  vertical-align: super;
}

// ************************************************************
// General styles
// ************************************************************

img {
  display: inline; // because the reset sets it to block
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s;
}

svg {
  margin: 0;
  padding: 0;

  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}

video {
  background-color: #eee;
}

.giphy {
  margin: 2em auto;
  padding: 0;

  video {
    display: block;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
}

iframe {
  max-width: 100%;
}

figure,
iframe,
.embed-video-container {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

lite-youtube > iframe {
  margin: 0;
}

figure {
  text-align: center;

  img,
  iframe,
  .embed-video-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

figure,
img {
  &.twothirds,
  &.onehalf {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &.twothirds {
    max-width: 66%;
  }

  &.onehalf {
    max-width: 50%;
  }

  &.onethird {
    @extend .right;

    max-width: 50%;

    @media (min-width: 20em) {
      max-width: 33%;
    }
  }

  &.onefourth,
  &.logo {
    @extend .right;

    max-width: 50%;

    @media (min-width: 20em) {
      max-width: 33%;
    }

    @media (min-width: 30em) {
      max-width: 25%;
    }
  }

  &.left {
    margin: var(--gap) auto;

    @media (min-width: 20em) {
      float: left;
      margin: 0 var(--gap) var(--gap) 0;
    }
  }

  &.right {
    margin: var(--gap) auto;

    @media (min-width: 20em) {
      float: right;
      margin: 0 0 var(--gap) var(--gap);
    }
  }
}

figure.border img,
img.border {
  border: 3px solid var(--color-primary-lighter-5);
}

.logo {
  display: block;
  margin: var(--gap) auto;
}

.portrait {
  --wobble-min: 55%;
  --wobble-max: 100%;

  border-style: solid;
  border-color: var(--color-primary);
  border-width: var(--border-width);
  border-radius: var(--wobble-max) var(--wobble-min) / var(--wobble-min)
    var(--wobble-max);
  animation: portrait-wobble 5s ease-in-out alternate infinite;

  background-image: linear-gradient(55deg, #000000, #000000);
}

// https://chrisruppel.com/blog/css-animation-border-radius/
@keyframes portrait-wobble {
  100% {
    border-radius: var(--wobble-min) var(--wobble-max) / var(--wobble-max)
      var(--wobble-min);
  }
}

figcaption {
  // http://nocode.in/aligning-text-smartly-in-css/
  display: inline-block;
  text-align: left;

  font-size: var(--font-size-s);
  font-style: italic;
  margin: 0.1em 1em;
  padding: 0.3em 0;
  color: #666;
}

.more {
  margin-top: var(--gap3);
}

ul,
ol {
  padding: 0 0 0 var(--gap2);
}

// ************************************************************
// Tables
// ************************************************************

table {
  border-collapse: collapse;
  font-feature-settings: 'tnum' 1;

  @supports (font-variant-numeric: tabular-nums) {
    font-feature-settings: normal;
    font-variant-numeric: tabular-nums;
  }
}

thead {
  background-color: #eee;

  th {
    vertical-align: bottom;
  }
}

th,
td {
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  vertical-align: top;
}

// ************************************************************
// Sub and sup texts
// ************************************************************

// https://gist.github.com/unruthless/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// ************************************************************
// Other elements inside the article
// ************************************************************

article {
  .socialphoto {
    background-color: #eef;
    color: #333;
    padding: 1em;

    p {
      margin: 0;
    }

    span {
      white-space: nowrap;
    }

    a {
      color: #777;
    }
  }
}

// File link icons
a[href$='.zip'],
a[href$='.kml'] {
  padding-left: 1.6em;
  background-size: 1.4em 1.4em;
  background-position: 0 0;
  background-repeat: no-repeat;
}

a[href$='.zip'] {
  background-image: url(/assets/icons/zip.svg);
}

a[href$='.kml'] {
  background-image: url(/assets/icons/kml.svg);
}

// Hidden for everyone
.hidden {
  display: none;
}

.quickaccess {
  &:link,
  &:visited {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding-left: 0.5em;
    background-color: white;
    color: var(--color-primary);
  }
}



.buttonlink, .onclickbutton {
 // white-space:nowrap;
  svg {
      vertical-align: middle;
      font-size: 1em;
      stroke: currentColor;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: currentColor;
    }
      display: inline-table;
        padding: 0.12em 0.2em;
                margin: 0.1em;
          margin-bottom: 0.2em;

        padding-top: 0em;
    border: 1px solid var(--color-primary-lighter-5);
    border-radius: 0.5em;
    color: var(--color-link);
   // background-color: var(--color-primary-lighter-8);
  &:hover,
  &:focus {
    background-color: var(--color-link-hover-bg);
    color: var(--color-link-hover);
    border: 2px solid var(--color-primary-lighter-5);
  }
  &:active{
    background-color: var(--color-secondary);
    color: var(--color-link-hover);
  }
}
.smalltext {
  font-size: var(--font-size-xs);
}
.svgnofill{
    svg {
      fill: none;
    }
} 
.onclickbutton {&:link,  &:visited,&:hover,
  &:focus {
    border:0;
  }}


.publink {
        padding: 0.12em 0.2em;
        padding-top: 0em;
        margin-right: 0.1em;
   // border: 1px solid var(--color-primary-lighter-5);
    border-radius: 1em;
    color: white;
    background-color: var(--color-red);
}
.publinkchap {
    background-color: var(--color-blue);
}

@mixin chvronD-color($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{$color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevrons-down'%3E%3Cpolyline points='7 13 12 18 17 13'%3E%3C/polyline%3E%3Cpolyline points='7 6 12 11 17 6'%3E%3C/polyline%3E%3C/svg%3E");
}
@mixin chvronR-color($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{$color}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevrons-right'%3E%3Cpolyline points='13 17 18 12 13 7'%3E%3C/polyline%3E%3Cpolyline points='6 17 11 12 6 7'%3E%3C/polyline%3E%3C/svg%3E");
}

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}



.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: inline-block;
  border: 1px solid var(--color-accord);
    border-radius: 0.5em;
} 


.accordion {
  margin-bottom: 0em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 0.25em;
  border: 1px solid var(--color-accord);
      border-radius: 0.5em;
    border-top-left-radius: 0em;
        border-top-left-radius: 0em;
        margin-left: 0em;
  margin-right: 0em;
      @media (min-width: 30rem) {
        padding: 0.5em;
  margin-left: 0.25em;  
  margin-right: calc(0.5*100% - 0.5*30rem);
      }

}

.accordion .handle {  
  padding-bottom: 0em;
color: var(--color-link);
}

.accordion > input[type="checkbox"]:checked ~ .handle label {
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
}

.accordion label {
    margin-top: 0.2em;
  cursor: pointer;
  padding: 0.45em;
 // background: rgba(230,230,230,0.5);
  padding-left: 1.3em;
  background-size: 1.4em 1.4em;
  background-position: 0 0.4em;
  background-repeat: no-repeat;
}


.accordion label {
@include chvronR-color('%23691449');
}

.accordion label:hover,
.accordion label:focus {
  color: var(--color-link-hover);
      background-color: var(--color-link-hover-bg);
@include chvronR-color('%23fff');
}


.accordion > input[type="checkbox"]:checked ~ .handle label {
  @include chvronD-color('%23691449');
}
.accordion > input[type="checkbox"]:checked ~ .handle label:hover,.accordion > input[type="checkbox"]:checked ~ .handle label:focus {
  @include chvronD-color('%23fff');
}



.inlineimg {
  display: inline; 
      text-align: center;
}
.figure{
      text-align: center;
}

.picgrid, .picgrid3{ align-items: end;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr;
}

.picgrid{
  grid-template-rows: repeat(4, minmax(0px, auto));
  grid-template-areas:  "img1" "sub1"
                        "img2" "sub2"; 
}
.picgrid3{
  grid-template-rows: repeat(6, minmax(0px, auto));
  grid-template-areas:  "img1" "sub1"
                        "img2" "sub2"
                        "img3" "sub3";
}

.img1, .img2, .img3
{  display: grid;
}
.img1{grid-area: img1;}
.img2{grid-area: img2;}
.img3{grid-area: img3;}
  
.sub1, .sub2, .sub3{  
  display: grid;
  text-align: left;
}
.sub1{  grid-area: sub1;}
.sub2 {  grid-area: sub2;}
.sub3{grid-area: sub3; }

@media screen and (min-width: 768px)
{
  .picgrid
  {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:  "img1 img2"
                                           " sub1 sub2";
  }
    .picgrid3
  {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:  "img1 img2 img3"
                                           " sub1 sub2 sub3";
  }
}
.publi,.card-list__item{
   // padding: 1.5em;
    padding-top: 3em;
    padding-bottom: 2.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    clip-path: polygon(0 2.5vw,100% 0,100% calc(100% - 2.5vw),0 100%);
   /*   width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;*/
}


.publi:nth-child(2n+1),.card-list__item:nth-child(2n+1) {background: var(--color-primary-lighter-7)}
.publi:nth-child(2n+2),.card-list__item:nth-child(2n+2) {background: var(--color-primary-lighter-8)}


.sectionHeadList{margin-top:1em;margin-bottom:1em;
  text-align: center;  
  font-size: var(--font-size-xxxxl);
}



.pull-T, .pull-V, .pull-W, .pull-Y {margin-left: -0.07em}
.push-T, .push-V, .push-W, .push-Y {margin-right: 0.07em}

.pull-O, .pull-C, .pull-o, .pull-c {margin-left: -0.04em}
.push-O, .push-C, .push-o, .push-c {margin-right: 0.04em}

.pull-A {margin-left: -0.03em}
.push-A {margin-right: 0.03em}

/* 
 Quotation mark 
 https://en.wikipedia.org/wiki/Quotation_mark) 
*/

/* Single quotation marks (') */
.pull-single{margin-left:-.27em}
.push-single{margin-right:.27em}

.pull-double, .push-double,
.pull-single, .push-single {display: inline-block}

/* Double quotation marks (") */
.pull-double{margin-left:-.46em}
.push-double{margin-right:.46em}



.paragraphHead2{
  font-weight: bold;
  color: var(--color-primary-darker-1);
}

div > .indent, div >.noindent,section > .indent, section >.noindent,dd > .noindent,.caption,div >.description,div >table.equation,div >.itemize1,div >.enumerate1,div >.tableofcontents, div.tabular,div >.tableofcontents,.bibitem, dd.enumerate, div>blockquote , .enumerateRom,ol.references,ul.references,.Tableau10,.equation-star, .footnotes,.Footnote{
      @media (min-width: 30rem) {
  margin-left: calc(0.25*100% - 0.25*30rem);
  margin-right: calc(0.25*100% - 0.25*30rem);
      }
}

/*
div >.tableofcontents,.bibitem,.thebibliography{
      @media (min-width: 30rem) {
  margin-left: calc(0.125*100% - 0.125*30rem);
  margin-right: calc(0.125*100% - 0.125*30rem);
      }
}

*/
.sectionHead,.likesectionHead,.subsectionHead,.subsubsectionHead,.subsubsubsectionHead,.likesubsectionHead,.likesubsubsectionHead,  dt.enumerate{
      @media (min-width: 30rem) {
  margin-left: calc(0.125*100% - 0.125*30rem);
  margin-right: calc(0.125*100% - 0.125*30rem);
      }
}
.sectionHead +.subsectionHead {
  margin-top : 0.5em;
}
.subsectionHead +.subsubsectionHead {
  margin-top : 0.5em;
}
.subsubsectionHead +.subsubsectionHead {
  margin-top : -0.5em;
}
div >table.equation{
      @media (min-width: 30rem) {
  margin-left: calc(0.25*100% - 0.25*30rem);
      }
}
.subsectionToc{
  margin-left: 1em;
  
}
.subsubsectionToc{
  margin-left: 2em;
}
.cmti-10,.ecti-1000{font-style: italic;}
dt.description, dt.dt{margin-left: -2em;
  margin-top: 0.3em;
  font-variant: small-caps;}
.cmbx-10,.ecbx-1000,.paragraphHead,.cmbx-9,.likeparagraphHead,.ec-lmbx-10{
  font-weight: bold;
  color: var(--color-primary-lighter-2);
}

.bibitem, .thebibliography > *{margin-bottom:0.7em;}

.titleHead,.head,.center,.maketitle,.author{text-align: center;}
.titleHead{margin-bottom: 1em;}
.head{margin-bottom: 2em;}
.subtitleHead{text-align: center;
  margin-top: 0em;}
         span.smallcaps, .small-caps,.textsc{
            font-variant: small-caps;
        }
.breakk{
  }
nav > ul, nav >ul >li>ul , nav >ul >li>ul>li>ul,.references,.autotoc ol {
  list-style-type: none;
}
.episource{text-align: right;
  margin-left: 15%;
}
.td11{font-size: var(--font-size-s);}
.frame_hsides{font-size: var(--font-size-xs);}
.enumerateRom{list-style-type: lower-roman;}
.quote {padding-left:1.5em;  }
//th{padding:0 }
 .frame_hsides{ margin-left: auto;
  margin-right: auto;
 }
 .bibsp{display:none;}
 .bibitem, .thebibliography >p, .thebibliography >div, .references__item{
   text-indent: -1.5em;
   padding-left:1.5em;
}
.ReferencesCopy2{text-indent: 0em;}
//blockquote > p{margin-left: 2em; }
  /*
  hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    text-align: center;
    height: 2em;
}

hr:after {
    background: #fff;
    content: 'Full Text';
    padding: 0 0.3em;
    position: relative;
    top: -0.8em; 
}*/

  
  
  
  
  /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255,255,255); /* Black fallback color */
  background-color: rgba(255,255,255, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 3em; /* 25% from the top */
  width: 100%; /* 100% width */
  //text-align: center; /* Centered text/links */
  margin-top: 3em; /* 30px top margin to avoid conflict with the close button on smaller screens */
   margin-bottom: 10em;
}

/* The navigation links inside the overlay */
.overlay a {
  //padding: 8px;
  text-decoration: none;
  font-size: var(--font-size-xl);
 // color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
 // color: #f1f1f1;
}



 /*When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
  
   
  
  
  
  
  
  
  
  
