// https://github.com/hankchizljaw/modern-css-reset
@use '../../node_modules/modern-css-reset/dist/reset';
//@use 'global/colors';
@use 'global/utilities';
@use 'global/globals';
@use 'global/accessibility';
@use 'global/fonts';
@use 'components/avatar';
@use 'components/card';
@use 'components/pubcards';

@use 'components/header';
@use 'components/navigation';
@use 'components/link';
@use 'components/button';
@use 'components/blockquote';
@use 'components/code';
@use 'components/meta';
@use 'components/page';
@use 'components/container';
@use 'components/toast';
@use 'components/notification';
@use 'components/footnotes';
@use 'components/reactions';
//@use 'highlight/_prism-onedark';
@use 'components/footer';
@use 'global/print';
@use 'components/navigation-panel';

html {
  text-size-adjust: 100%;
  // https://twitter.com/TimVereecke/status/1239454788116533248
  // https://twitter.com/lfredolo/status/1240301405325361152
  overflow-y: scroll;
  scroll-margin-top: 5rem;
  // overflow-y: hidden;
  scroll-behavior: smooth;
  @media (hover: none) {
    //scroll-snap-type: y proximity;
    //    scroll-snap-type: y mandatory;
    scroll-padding: 4em;
  }
  
  @media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
  
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary-darker-5);
  font-weight: 400;
  font-size: var(--font-size-m);
  font-size-adjust: 0.5;
  word-break: normal;
  overflow-wrap: anywhere;
  accent-color: var(--color-primary);
  background-color: var(--color-bg);
  scroll-margin-top: 5rem;
  text-rendering: optimizeLegibility;
/* transition-property: all;
   transition-duration: 0.5s;
  transition-delay: 0s;*/
  //  animation-timing-function: ease-in-out;

  // transition: background-color 300ms ease-in-out 0s;
}

// ************************************************************
// Layout
// ************************************************************

body {
  display: flex;
  flex-direction: column;

  padding: 0;
}

main {
  flex: 1;

  margin: 0;

  .wrap {
    @extend %flow;
  }
  .wrap0 {
    @extend %flow;
  }
  .wrap0all {
    @extend %flowall;
  }
}

.wrap {
  width: 94vw;
  max-width: var(--layout-max);
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 25rem) {
    width: 90vw;
  }
  @media (min-width: 40rem) {
    width: 80vw;
  }
}

// ************************************************************
// Paragraphs and headers
// ************************************************************

.lead {
  color: var(--color-primary-lighter-1);
  font-size: var(--font-size-xxl);
  @extend %flow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  color: var(--color-primary-darker-2);
  line-height: 1.3;
  margin-block-end: 0;
}

h1 {
  --flow-space: calc(0 * 1ex / 0.42);
  color: var(--color-primary);
  font-weight: 900;
  font-size: var(--font-size-xxxxl);
  line-height: calc(1ex / 0.42);
  //scroll-snap-align: start;
}

h2 {
  --flow-space: calc(1ex / 0.42);
  font-weight: 700;
  font-size: var(--font-size-xxxl);
  font-variant: small-caps;
  line-height: calc(1ex / 0.42);
  //scroll-snap-align: start;
}

h3 {
  --flow-space: calc(1ex / 0.38);
  font-weight: 500;
  font-size: var(--font-size-xxl);
  line-height: calc(1ex / 0.38);
}

h4 {
  --flow-space: calc(1ex / 0.37);
  font-weight: 500;
  font-size: var(--font-size-xl);
  line-height: calc(1ex / 0.37);
}

h5 {
  --flow-space: calc(1ex / 0.35);
  font-weight: 400;
  font-size: var(--font-size-l);
  font-style: italic;
  line-height: calc(1ex / 0.35);
}

h6 {
  --flow-space: calc(1ex / 0.34);
  font-weight: 300;
  font-size: var(--font-size-m);
  line-height: calc(1ex / 0.34);
}

// ************************************************************
// Links
// Lord Vader Hates Furry Animals
// https://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
// ************************************************************

a {
  transition: all 0.2s;
  &:link,
  &:visited {
    margin-left: calc(-1*var(--gap-5xs));
    padding-right: var(--gap-5xs);
    padding-left: var(--gap-5xs);

    color: var(--color-link);
    overflow-wrap: anywhere;

    background-color: var(--color-link-bg);
    text-decoration-line: underline;
    text-decoration-color: var(--color-link-decoration);
    text-decoration-thickness: 2px;
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);
    text-decoration: var(--color-link-hover-decoration);

    background-color: var(--color-link-hover-bg);

    outline: none;
  }

  &:active {
    color: #fff;
    text-decoration: none;

    background-color: var(--color-secondary);

    outline: none;
  }
}

// Deep links (aka anchors)

a.deeplink {

  @media (min-width: 45rem) {
    position: absolute;
    left: calc(-1*var(--gap-xl));
  }
  &:link,
  &:visited {
    margin-left: var(--gap-xxs);
    padding: 0 var(--gap-xxs);

    text-align: center;
    text-decoration: none;
    text-indent: 0;

    border-radius: 50%;
    svg {
      font-size: var(--gap-s);
      vertical-align: baseline;

      fill: none;
      stroke: currentColor;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  &:hover,
  &:focus {
    color: var(--color-link-hover);

    background-color: var(--color-link-hover-bg);
  }
}

:target {
  animation-name: target;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 6;
  // Inspired by https://adrianroselli.com/2019/12/responsive-type-and-zoom.html#Update04
animation-direction: alternate;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  &:target {
    animation-name: target2;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 8;
  }
}

@keyframes target {
 /* 0% {
    color: inherit;
    background-color: inherit; //filter: blur(1px);
  }*/
  100% {
    color: var(--color-primary-darker-2);

    background-color: var(--color-yellow-light);
    //backdrop-filter: blur(200px);
    //transform: scale(1.01);
  }
}

// Links to content in another language
// https://tzi.fr/css/link-hreflang/
:lang(fr) > :link[hreflang]:not([hreflang='fr'])::after,
:lang(en) > :link[hreflang]:not([hreflang='en'])::after {
  content: ' (' attr(hreflang) ')';

  font-size: 70%;
  vertical-align: super;
}

// ************************************************************
// General styles
// ************************************************************

img {
  display: inline; // because the reset sets it to block

  height: auto;
  max-width: 100%;

  opacity: 1;
  -moz-force-broken-image-icon: 1;

  transition: opacity 0.3s;
}

svg {

  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;

  vertical-align: text-bottom;
}

video{
  max-width: 100%;

  background-color: transparent;
}

.giphy {
  margin: var(--gap-xl) auto;
  padding: 0;

  video {
    display: block;

    width: 500px;
    max-width: 100%;
    margin: 0 auto;
  }
}

iframe {
  width: 100%;
}

figure,
iframe,
.embed-video-container {
  display: block;
  clear: both;

  margin-right: auto;
  margin-left: auto;
}

lite-youtube > iframe {
  margin: 0;
}

figure {
  text-align: center;

  img,
  iframe,
  .embed-video-container {
    display: block;

    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }
  //img{background-color: inherit;}
}

figure,
img {
  &.twothirds,
  &.onehalf {
    display: block;

    margin-right: auto;
    margin-left: auto;
  }

  &.twothirds {
    max-width: 66%;
  }

  &.onehalf {
    max-width: 50%;
  }

  &.onethird {
    //@extend .right;

    max-width: 50%;

    @media (min-width: 20em) {
      max-width: 33%;
    }
  }

  &.onefourth,
  &.logo {

    max-width: 50%;
   // @extend .right;

    @media (min-width: 20em) {
      max-width: 33%;
    }

    @media (min-width: 30em) {
      max-width: 25%;
    }
  }

  &.left {
    display: block;

    margin: var(--gap-m) auto;
    @media (max-width: 20em) {
      max-width: 100%;
    }
    @media (min-width: 20em) {
      float: left;

      margin: 0 var(--gap-m) var(--gap-m) 0;
    }
  }

  &.right {
    display: block;

    margin: var(--gap-m) auto;
    @media (max-width: 20em) {
      max-width: 100%;
    }
    @media (min-width: 20em) {
      float: right;

      margin: 0 0 var(--gap-m) var(--gap-m);
    }
  }
}

figure.border img,
img.border {
  border: 3px solid var(--color-primary-lighter-5);
}

.logo {
  display: block;

  margin: var(--gap-m) auto;
}
.inlineLogo {
  display: inline-block;

  width: auto;
  height: 1em;

  vertical-align: text-top;
}
.portrait {
 // --wobble-min: 50%;
 // --wobble-max: 100%;
  border-color: var(--color-primary-lighter-3);
  border-style: solid;
  border-width: var(--border-width);
  border-radius: 10% 100% / 100% 10% 200% 20%;
  background-image: linear-gradient(55deg, #000, #000);
//var(--wobble-min) / var(--wobble-max);
 // animation: portrait-wobble 8s ease-in-out alternate infinite;
}

// https://chrisruppel.com/blog/css-animation-border-radius/
@keyframes portrait-wobble {
  // 0% {border-radius:   var(--wobble-min)/var(--wobble-max);}
  33% {
    border-radius: var(--wobble-max) var(--wobble-min) / var(--wobble-min)
      var(--wobble-max);
  }
  66% {
    border-radius: var(--wobble-min) var(--wobble-max) / var(--wobble-max)
      var(--wobble-min);
  }

  100% {
    border-radius: var(--wobble-max) / var(--wobble-min);
  }
}

figcaption {
  // http://nocode.in/aligning-text-smartly-in-css/
  display: inline-block;
  // font-style: italic;
  margin: var(--gap-5xs) var(--gap-5xs);
  padding: var(--gap-xxs) 0;

  color: var(--color-caption);
  font-size: var(--font-size-s);
  text-align: left;
}



ul,
ol {
  padding: 0 0 0 var(--gap-xl);
  @extend %flowall;
}

hr { --flow-space: var(--gap-l);
  border-color: var(--color-grey);
  @media (min-width: 30em) {
    article{
    margin-right: calc(-1* var(--gap-m));
    margin-left: calc(-1* var(--gap-m));
  }
  }
}
// ************************************************************
// Tables
// ************************************************************

table {
  border-collapse: collapse;
  font-feature-settings: 'tnum' 1;

  @supports (font-variant-numeric: tabular-nums) {
    font-feature-settings: normal;
    font-variant-numeric: tabular-nums;
  }
}

thead {
  background-color: var(--color-primary-lighter-5);

  th {
    vertical-align: bottom;
  }
}

th,
td {
  min-width: var(--gap-xxl);
  padding: var(--gap-xxs) var(--gap-xs);

  vertical-align: top;

  border: 1px solid #ccc;
}

// ************************************************************
// Sub and sup texts
// ************************************************************

// https://gist.github.com/unruthless/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  //  position: relative;
}

sup {
  vertical-align: super;
  //top: -0.5em;
}

sub {
  vertical-align: sub;
  // bottom: -0.25em;
}

// ************************************************************
// Other elements inside the article
// ************************************************************

article {
  .socialphoto {
    padding: 1em;

    color: #333;

    background-color: #eef;

    p {
      margin: 0;
    }

    span {
      white-space: nowrap;
    }

    a {
      color: #777;
    }
  }
 // --flow-space: 0;
}

.quickaccess {
  &:link,
  &:visited {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    padding-left: var(--gap-xs);

    color: var(--color-primary);

    background-color: white;
  }
}

//typography
/*
.pull-T, .pull-V, .pull-W, .pull-Y {margin-left: -0.07em}
.push-T, .push-V, .push-W, .push-Y {margin-right: 0.07em}
.pull-O, .pull-C, .pull-o, .pull-c {margin-left: -0.04em}
.push-O, .push-C, .push-o, .push-c {margin-right: 0.04em}
.pull-A {margin-left: -0.03em}
.push-A {margin-right: 0.03em}
.pull-single{margin-left:-.27em}
.push-single{margin-right:.27em}
.pull-double, .push-double,
.pull-single, .push-single {display: inline-block}
.pull-double{margin-left:-.46em}
.push-double{margin-right:.46em}
*/

.selected-B,
.selected-A {
  -webkit-text-stroke-width: 0.05em;
  // color: var(--color-primary);
  &:link,
  &:visited {
    text-decoration-line: underline;
    text-decoration-thickness: var(--border-width);
    text-decoration-color: var(--color-primary-lighter-2);
  }
  &:active {
    color: white;
  }
}

.selected-B {
  animation-name: target2;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 6;
  animation-direction: alternate;
  //color: var(--color-primary-darker-4)!important;
  -webkit-text-stroke-width: 0.05em !important;
  text-decoration-color: var(--color-primary-lighter-2) !important;

  scroll-margin: 100px;
}
@keyframes target2 {
  0% {
    color: inherit;
    -webkit-text-stroke-width: 0;
  }
  100% {
    color: var(--color-primary-shine-font);
    -webkit-text-stroke-width: 0.1em;

    text-shadow: 0 0 var(--gap-3xs) var(--color-primary-shine),
      0 0 var(--gap-xs) var(--color-primary-shine),
      0 0 var(--gap-s) var(--color-primary-shine), 
      0 0 var(--gap-m) var(--color-primary-shine2),
      0 0 var(--gap-l) var(--color-primary-shine2),
      0 0 var(--gap-xl) var(--color-primary-shine2);
    //backdrop-filter: blur(200px);
  }
}

.centerBlock {
  display: flex;
  justify-content: center;
 // display: block;
}
.hidden{
  display: none;
}
.normalStyle {
  font-variant: normal;
}
.smalltext {
  font-size: var(--font-size-s);
}
.titleHead,
.center{
  text-align: center;
}
.titleDiag.titleHead {
  margin-bottom: 0;
}
.sectionHeadList + .titleHead {
  margin-top: 0;
  margin-bottom: 0;
}
//.itemize {margin-top: 0.4em;}



p,
dt {
  --flow-space: calc(1ex / 0.32);
  line-height: calc(1ex / 0.32);
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
ol,
ul,
dl,
li,
dt,
li > p,
dd > p {
  --flow-space: calc(0.5ex / 0.32);
}


article .titleHead {
  --flow-space: calc(1ex / 0.42);
  font-variant: normal;
  @extend h1;
}

article .subtitleHead {
  margin-left: 0;

  font-size: var(--font-size-xxl);
  //@extend h1;
  font-variant: normal;
  text-align: center;
  // --flow-space: calc(1ex / 0.42) ;
}


//.snapper{ scroll-snap-align: start; }

.invertwrapper a {
  &:link,
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover {
    color: white;

    background-color: #691449;
  }
}
.invertwrapper {
  position: absolute;
  top: 5em;
  right: 0;

  width: 100vw;
  height: 100vh; 
  height:2700px;

  overflow-x: scroll;
 @media (min-width: 500px) { 
   overflow-x: visible;
 }
}

//.abssvg,
.svgnofill {
  font-size: 0.95em;
  vertical-align: middle;

  fill: none;
  stroke: currentColor;
  stroke-width: 0.15em;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.svgup {
    vertical-align: text-top;
}
.svgfill {
  font-size: 1em;
  vertical-align: middle;

  fill: currentColor;
}
.svgfillL {
  font-size: 1.25em;
  vertical-align: text-bottom;

  fill: currentColor;
}

















    /* Annytab lightbox*/
    .annytab-lightbox-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;

        display: none;
        justify-content: center;

        width: 100%;
        height: 100%;

        text-align: center;

        background-color: #000;
        background-color: rgba(0, 0, 0, 0.85);

             overflow-y: auto;
    }
    .annytab-lightbox-margin {
        display: inline-flex;
     flex-basis: content;
     flex-direction: column;
      justify-content: flex-start;

     max-width: 100%;        margin-top: 0.7em;
     margin-right: auto;
  //   width: max-content;
   //  max-width: 99.5%;
     margin-left: auto;
      padding: 5px;
       // margin: 40px;
      
        box-sizing: border-box;

     overflow: auto;
}
    .annytab-lightbox-wrapper {
        position: relative; 

        display: inline-block;

        width: max-content;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;

        border-radius: 8px;

        background-color: var(--color-primary-lighter-7);
      /*  top: calc(50vh - 50px);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
    }
    .annytab-lightbox-padding {
        display: inline-block;
       // flex-direction: column; 
        max-width: 100%;
        padding: 10px;
    }
    #lighbox-cont{
      //  max-width: calc(100%-20px);
        max-height: calc(100vh - 150px); /* margin + padding */

      overflow: hidden;
    }
    
    .annytab-lightbox-image {
        position: relative;

        display: inline-block; 

      max-width: 100%;
        max-height: calc(100vh - 150px);
        margin: 0;
        padding: 0; 
    }
 /*   .annytab-lightbox-left-arrow {
        display: block;
        z-index: inherit;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -16px;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background-color: #000000;
        opacity: 0.5;
        filter: alpha(opacity=50);
        font-size: 30px;
        line-height: 32px;
        color: #ffffff;
    }
    .annytab-lightbox-right-arrow {
        display: block;
        z-index: inherit;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -16px;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 4px;
        background-color: #000000;
        opacity: 0.5;
        filter: alpha(opacity=50);
        font-size: 30px;
        line-height: 32px;
        color: #ffffff;
    }*/
    .annytab-lightbox-caption {
        display: none;
       // position: absolute;
    //    bottom: 15px;
       // left: 10px;
        //right: 10px;
       // max-height: 100px;
       
        margin-top: 0.7em;
       // filter: alpha(opacity=60);
        padding: 10px;
    //    color: #ffffff;
        text-align: left;

        border-radius: 10px;
     //   overflow-y: auto;
        background-color: var(--color-primary-lighter-6);

        opacity: 1;
    }
    .annytab-lightbox-close {
        position: absolute;
        top: 8px;
        right: 8px;

        width: 24px;
        height: 24px;
       // filter: alpha(opacity=60);
          background-color: #000;

        cursor: pointer;

        opacity: 0.8;
    }
    
        .annytab-lightbox-zoom {
        position: absolute;
        top: 8px;
        right: 48px;

        width: 24px;
        height: 24px;

        color: white;
       // filter: alpha(opacity=60);
          background-color: #000;

        cursor: pointer;

        opacity: 0.8;
    }
    
    
    .annytab-lightbox-close:hover {
        opacity: 1;
    //    filter: alpha(opacity=100);
    }
    .annytab-lightbox-close::before, .annytab-lightbox-close::after {
        position: absolute;
        right: 12px;
        content: ' ';

        width: 2px;
        height: 24px;

        background-color: #fff;
    }
    .annytab-lightbox-close::before {
        transform: rotate(45deg);
    }
    .annytab-lightbox-close::after {
        transform: rotate(-45deg);
    }
    .glightbox{
      display: block;
      &:link,&:visited{
    margin-right: auto;
  //  max-width: max-content;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
    }}

    
    details > summary > * {
  display: inline;
}
details > summary {

  //background-color: #fdb;
  cursor: pointer;
}

    details[open] >:not(summary) {
  animation: animateDown 0.3s linear forwards;
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translatey(-15px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}








.mention > summary {
  width: max-content;
  padding: .25rem 1rem;

  color: var(--color-link);

    border: 1px solid var(--color-primary-lighter-5);
  border-radius: var(--gap-xs);
  // background-color: var(--color-primary-lighter-8);
  box-shadow: 0 1px 2px var(--soft-shadow), 0 2px 4px var(--soft-shadow),
    0 4px 8px var(--soft-shadow);

  //background-color: #fdb;
  cursor: pointer;
    &:hover{
    color: var(--color-link-hover);

    border: 1px solid var(--color-primary-lighter-5);

    background-color: var(--color-link-hover-bg);
  }
   &:hover h3{color: var(--color-link-hover);}

}
.mention[open]> summary{ border-radius: var(--gap-xs) var(--gap-xs) 0 0;}


.mention > ol {
  min-width: 9em;
  max-width: max-content;
  margin-top: 0;
  padding-right: var(--gap-xs);
  padding-bottom: var(--gap-s);
 // border: 2px solid #fdb;
     border: 1px solid var(--color-primary-lighter-5);
  border-radius: 0  var(--gap-xs) var(--gap-xs) var(--gap-xs);
}
#page1-div>a:hover{
  background-color: transparent;
}
.welcome__tags {
  font-size: var(--font-size-l);
}
.sc {
  font-variant: small-caps;
}
