@use 'global/utilities';
@use 'components/pubcards';
@use 'components/tocbutton';

.welcome {
  --flow-space: 0;

  margin-top: var(--gap-xl);
  margin-bottom: 0;

  @extend %clearfix;
  @extend %flow;
}

.welcome__name {
  font-size: var(--font-size-xxxl);
  //  color: var(--color-primary);

  @media (min-width: 20em) {
    margin-top: 0;
  }
}

.welcome__text {
  font-size: var(--font-size-xl);
}


.wrap.more {
  margin-top: var(--gap-xxl);
}


.mousewrap{
  margin-bottom: calc(-1*var(--gap-l) - var(--gap-xxs));

  overflow: hidden;

}
svg.mouse {
   margin-bottom: -0.1em; 

  font-size: 2em;
   
   
  transform : translateX(-5em) ;

    animation-name            : displaceContent;
    animation-duration        : 30s;
    animation-timing-function: linear;
    animation-iteration-count : infinite;
    animation-fill-mode       : both;
}
svg.cheese {
  margin-right: -0.6em;
 
  transform : translateX(-5em) ;

    animation-name            : displaceContent2;
    animation-duration        : 30s;
    animation-timing-function: linear;
    animation-iteration-count : infinite;
    animation-fill-mode       : both;
}



@keyframes displaceContent {
    15% { transform :  translateX(-5em); }
    30%   { transform : translateX(100vw);
    }
    65%  {transform :  translateX(100vw) rotateX(180deg) rotateZ(180deg);}
     85% { transform : translateX(-5em)  rotateX(180deg) rotateZ(180deg);}
    /* slide down to make room for advertisements */
}
@keyframes displaceContent2 {
    15% {
      opacity: 0; transform :  translateX(-5em);
    }
    30%   {
      opacity: 0; transform : translateX(100vw);
    }
    65%  {
      opacity: 1;transform : translateX(100vw) rotateX(180deg) rotateZ(180deg) scale(0.55,0.55);
    }
     85% {
       opacity: 1; transform :  translateX(-5em)  rotateX(180deg) rotateZ(180deg) scale(0.55,0.55);
    }
    /* slide down to make room for advertisements */
}
.fade-2 {   
  --flow-space: var(--gap-l);
 height: 2px;
  //border-width: 0 0 1px;
  //  border-style: solid;
  color: var(--color-primary); 

 border: 0;

 background-image: linear-gradient(to right, rgba(var(--color-primary-rgb), 0), rgba(var(--color-primary-rgb), 1),rgba(var(--color-primary-rgb), 0));

     // box-shadow: 0 0 10px 1px black;
}
