@keyframes neon6 {
  from {
    text-shadow: 0 0 0.25em var(--color-primary-lighter-1),
      0 0 0.5em var(--color-primary-lighter-1),
      0 0 0.75em var(--color-primary-lighter-1),
      0 0 1em var(--color-link-hover-bg), 0 0 1.75em var(--color-link-hover-bg),
      0 0 2em var(--color-link-hover-bg), 0 0 2.5em var(--color-link-hover-bg);
  }
  to {
    text-shadow: 0 0 0.5em var(--color-primary-lighter-1),
      0 0 1em var(--color-primary-lighter-1),
      0 0 15px var(--color-primary-lighter-1),
      0 0 2em var(--color-link-hover-bg), 0 0 3.5em var(--color-link-hover-bg),
      0 0 4em var(--color-link-hover-bg), 0 0 5em var(--color-link-hover-bg),
      0 0 6em var(--color-link-hover-bg);
  }
}

.tag_item {
  margin: 0.1em;
  margin-left: 0.2em;
}

.tagscloud__tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.tag0 {
  line-height: 1;
  transition: all 0.2s;
  border-radius: 0.15em;
  padding-top: 0.075em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  //  border: 1px solid transparent;
  &:link,
  &:visited {
    display: inline-block;
    margin: 0.2em 0.1em;

    hyphens: auto;
    text-decoration: none;
    white-space: break-spaces;
  }
  @media (hover: hover) {
    &:hover,
    &:focus,
    &:active {
      // border-color: var(--color-primary-darker-5);
      color: var(--color-link-hover);
      transform: scale(1.1, 1.1);
    }
  }
  &:after {
    white-space: nowrap;
    content: ' (' attr(data-number) ')';
    font-size: 1rem;
  }
}
.tag1 {
  &:link,
  &:visited {
    color: var(--color-primary-darker-5);
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-primary-darker-5);
  }
}
.tag2 {
  &:link,
  &:visited {
    color: var(--color-primary-darker-4);
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-primary-darker-4);
  }
}
.tag3 {
  &:link,
  &:visited {
    color: var(--color-primary-darker-3);
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-primary-darker-3);
  }
}
.tag4 {
  &:link,
  &:visited {
    color: var(--color-primary-darker-2);
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-primary-darker-2);
  }
}
.tag5 {
  &:link,
  &:visited {
    color: var(--color-primary-darker-1);
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-primary-darker-1);
  }
}
.tag6 {
  &:link,
  &:visited {
    color: var(--color-primary);
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-primary);
  }
}
.tag7 {
  &:link,
  &:visited {
    color: var(--color-primary-lighter-1);
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-primary-lighter-1);
  }
}
.tag8 {
  &:link,
  &:visited {
    color: var(--color-primary-lighter-2);
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);
    background-color: var(--color-primary-lighter-2);
  }
}
