@use 'global/utilities';
@use 'components/card';
@use 'components/pubcards';

.welcome {
  --flow-space: 0;

  @extend %clearfix;
  @extend %flow;

  margin-top: var(--gap-xl);
  margin-bottom: 0vw;
}

.welcome__name {
  font-size: var(--font-size-xxxl);
  //  color: var(--color-primary);

  @media (min-width: 20em) {
    margin-top: 0;
  }
}

.welcome__text {
  font-size: var(--font-size-xl);
}
.wrap.more {
  margin-top: var(--gap-xxl);
}


.mousewrap{
  overflow: hidden;
  margin-bottom: calc(-1*var(--gap-l) - var(--gap-xxs));

}
svg.mouse { 
  font-size: 2em;
   margin-bottom: -0.1em;
   
   
  transform : translateX(-5em) ;

    animation-name            : displaceContent;
    animation-duration        : 30s;
    animation-iteration-count : infinite;
    animation-fill-mode       : both;
    animation-timing-function: linear;
}
svg.cheese {
  margin-right: -0.6em;
 
  transform : translateX(-5em) ;

    animation-name            : displaceContent2;
    animation-duration        : 30s;
    animation-iteration-count : infinite;
    animation-fill-mode       : both;
    animation-timing-function: linear;
}



@keyframes displaceContent {
    15% { transform :  translateX(-5em) }
    30%   { transform : translateX(100vw);
    }
    65%  {transform :  translateX(100vw) rotateX(180deg) rotateZ(180deg)}
     85% { transform : translateX(-5em)  rotateX(180deg) rotateZ(180deg)}
    /* slide down to make room for advertisements */
}
@keyframes displaceContent2 {
    15% { transform :  translateX(-5em);
      opacity: 0;
    }
    30%   { transform : translateX(100vw);
      opacity: 0;
    }
    65%  {transform : translateX(100vw) rotateX(180deg) rotateZ(180deg) scale(0.55,0.55);
      opacity: 1;
    }
     85% { transform :  translateX(-5em)  rotateX(180deg) rotateZ(180deg) scale(0.55,0.55);
       opacity: 1;
    }
    /* slide down to make room for advertisements */
}
.fade-2 {   
  --flow-space: var(--gap-l);
  //border-width: 0 0 1px;
  //  border-style: solid;
  color: var(--color-primary);
 background-image: linear-gradient(to right, rgba(var(--color-primary-rgb), 0), rgba(var(--color-primary-rgb), 1),rgba(var(--color-primary-rgb), 0)); 
 border: 0;
 height: 2px;

     // box-shadow: 0 0 10px 1px black;
}
