
@keyframes neon6 {
  from {
    text-shadow: 0 0 0.25em var(--color-primary-darker-3), 0 0 0.5em var(--color-primary-darker-3), 0 0 0.75em var(--color-primary-darker-3), 0 0 1em var(--color-link-hover-bg), 0 0 1.75em var(--color-link-hover-bg), 0 0 2em var(--color-link-hover-bg), 0 0 2.5em var(--color-link-hover-bg), 0 0 3em var(--color-link-hover-bg);
  }
  to {
    text-shadow: 0 0 0.5em var(--color-primary-darker-3), 0 0 1em var(--color-primary-darker-3), 0 0 15px var(--color-primary-darker-3), 0 0 2em var(--color-link-hover-bg), 0 0 3.5em var(--color-link-hover-bg), 0 0 4em var(--color-link-hover-bg), 0 0 5em var(--color-link-hover-bg), 0 0 7.5em var(--color-link-hover-bg);
  }
}


.tagscloud__tags {
  list-style-type: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
    margin-block-start: 0em;
    margin-block-end: 0em;
  a {
    &:link,
    &:visited {
      display: inline-block;
      margin: 0.075em 0.1em;
   /*  margin: 0.2em 0.3em;
       padding: 0.1em 0.3em;
*/hyphens: auto;
      text-decoration: none;
      white-space: break-spaces;

   //   background-color: var(--color-primary-lighter-2);
   //   color: white;
    //  border-radius: 0.5em;
    
        &:hover,
    &:focus,
    &:active {background-color: transparent;
      animation: neon6 1s ease-in-out infinite alternate;
    }
      
    }
    
 
    
  }
/*
  a {
    &.tag2 {
      &:link,
      &:visited {
        background-color: var(--color-primary-lighter-1);
      }
    }

    &.tag3 {
      &:link,
      &:visited {
        background-color: var(--color-primary);
      }
    }

    &.tag4 {
      &:link,
      &:visited {
        background-color: var(--color-primary-darker-1);
      }
    }

    &.tag5 {
      &:link,
      &:visited {
        background-color: var(--color-primary-darker-2);
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-secondary);
      outline: none;
      text-decoration: underline;

      &.tag2,
      &.tag3,
      &.tag4,
      &.tag5 {
        background-color: var(--color-secondary);
      }
    }
  }*/
a::after {white-space: nowrap;
  content: " (" attr(data-number) ")";
  font-size: 01rem;
}

  

}
