@use 'global/colors';
@use 'global/utilities';
@use 'global/globals';
@use 'components/tocbutton';
@use 'components/card';
@use 'components/pubcards';


// ************************************************************
// Layout
// ************************************************************

.archives {
  --flow-space: var(--gap-xl);
}

.pubTypes {
  display: flex;
  flex-direction: column;
  max-height: 12em;
li{
  --flow-space: 0;
  //flex: 1 100%;
margin-bottom: var(--gap-ms);
 }
 .ais-HierarchicalMenu-item2  {margin-bottom: var(--gap-xxs);}
 li:not(.ais-HierarchicalMenu-item2)+.ais-HierarchicalMenu-item2{margin-top: calc(-1*var(--gap-s));}
  .ais-HierarchicalMenu-item2+li:not(.ais-HierarchicalMenu-item2){margin-top: calc(1*var(--gap-xs));}
 flex-wrap: wrap;
}

.refinements {
  --flow-space: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'lang ' ' types'
    '   dates';

  @media (min-width: 30em) {
    column-gap: 1em;
    grid-template-columns: minmax(10em, 23em) minmax(5em, 5em) ;
    grid-template-areas:
      'types lang'
      'dates   dates';
  }
  @media (min-width: 52em) {
    grid-template-columns: minmax(5em, 5em) minmax(16em, 3fr) minmax(6em, 3fr);
    grid-template-areas: '  lang types dates';
  }
  @media (min-width: 65em) {
    grid-template-columns: minmax(5em, 1fr) minmax(8em, 3fr) minmax(12em, 3fr);
  }
}

#types-list,
#types-listoverlay {
  grid-area: types;
}

.lang-list {
  grid-area: lang;
  ul{@media (min-width: 65em) {flex-direction: column;}}
}

#dates-menu,
#dates-menuoverlay {
  grid-area: dates;
}
.ais-Panel p {
  margin-bottom: var(--gap-s);
}

// ************************************************************
// Refinements
// ************************************************************

.ais-HierarchicalMenu-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ais-HierarchicalMenu-list,
.no-ais-RefinementList-list {
  margin-block-start: var(--gap-ms);
  padding-left: var(--gap-xs);
  list-style-type: none;
}

.ais-Panel-header {
  margin-top: var(--gap-m);
  font-size: var(--font-size-m);
  border-bottom: 1px solid var(--color-grey);
}

.ais-HierarchicalMenu-item,
.ais-RefinementList-item {
  --flow-space: var(--gap-s);
  &:first-child {
    --flow-space: 0;
  }
}

.ais-HierarchicalMenu-item2 {
  --flow-space: var(--gap-xs);
  font-style: italic;
  font-variant: normal;
}

ul.ais-HierarchicalMenu-list {
  margin-left: calc(-1*var(--gap-ms));
}
.ais-HierarchicalMenu-list li {
  --flow-space: 0;
  margin-bottom: var(--gap-s);
  padding-left: var(--gap-ms);
}
.ais-HierarchicalMenu-item2:before {
  content: '·';
  padding-left: var(--gap-xs);
}

// Counts
.ais-RefinementList-count,
.ais-HierarchicalMenu-count {
  color: var(--color-primary-darker-7);
  position: relative;
  top: calc(-1*var(--gap-4xs));
  font-size: 0.7em;
  margin-left: var(--gap-3xs);
  padding: var(--gap-4xs) var(--gap-xs);
  background-color: var(--color-lightgrey);
  border-radius: var(--gap-m);
}

// ************************************************************
// search
// ************************************************************

.searchBox {
  background-color: var(--color-primary-lighter-7);
  border-color: var(--color-primary-lighter-4);
  box-shadow: 10px 5px 5px var(--color-primary-lighter-7);
  color: var(--color-primary);
}
