@use 'global/colors';
@use 'global/utilities';
@use 'global/globals';
@use 'components/tocbutton';
@use 'components/pubcards';


// ************************************************************
// search
// ************************************************************

.searchBox {
  color: var(--color-primary);

  border-color: var(--color-primary-lighter-4);

  background-color: var(--color-primary-lighter-7);

  box-shadow: 10px 5px 5px var(--color-primary-lighter-7);
}

input.aa-Input::placeholder{color: var(--color-primary-lighter-3);}
button.aa-SubmitButton{border-radius: 0.04em;}
.aa-Form .aa-InputWrapperPrefix button.aa-SubmitButton:hover > svg {color: var(--color-link-hover);
  vertical-align: sub;
}
.aa-DetachedSearchButton:hover .aa-DetachedSearchButtonPlaceholder{color: var(--color-link-hover);}

 .aa-DetachedSearchButtonPlaceholder{ color: var(--color-primary-lighter-3);}
 
.aa-DetachedSearchButton:hover .aa-DetachedSearchButtonIcon{color: var(--color-link-hover);}

.aa-DetachedContainer .aa-DetachedFormContainer .aa-DetachedCancelButton:hover {
color: var(--color-link-hover);
}

.fade-2 {   
  --flow-space: var(--gap-l);
 height: 2px;
  //border-width: 0 0 1px;
  //  border-style: solid;
  color: var(--color-primary); 

 border: 0;

 background-image: linear-gradient(to right, rgba(var(--color-primary-rgb), 0), rgba(var(--color-primary-rgb), 1),rgba(var(--color-primary-rgb), 0));

     // box-shadow: 0 0 10px 1px black;
}
