@use 'global/colors';
@use 'global/utilities';
@use 'components/card';
@use 'components/pubcards';
@use 'global/globals';

// ************************************************************
// Layout
// ************************************************************

.archives {
    --flow-space: var(--gap3);
}

.pubTypes {columns: 2;}

.refinements {
  --flow-space: 0em;
   display: grid;
    grid-template-columns: 1fr  ;
    grid-template-areas: 
      'lang '' types' 
      '   dates' ;
      
      @media (min-width: 30em) {
          column-gap: 1em;
          grid-template-columns:  minmax(5em,5em) minmax(10em,23em) ;
          grid-template-areas: 
            'lang types' 
          'dates   dates' ;
    }
    @media (min-width: 52em) {
          grid-template-columns:  minmax(5em,5em) minmax(9em,3fr) minmax(6em,2fr);
          grid-template-areas:  '  lang types dates' ;
      }
    @media (min-width: 65em) {
          grid-template-columns:  minmax(5em,1fr) minmax(8em,3fr) minmax(12em,3fr);
      }
        

}






.ais-HierarchicalMenu-list{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ais-HierarchicalMenu-list, .no-ais-RefinementList-list{
       margin-block-start:0.5em;
}

#types-list{
grid-area: types;
}

.lang-list {
grid-area: lang;
}

#dates-menu {
grid-area: dates;
}
.ais-Panel p{
margin-bottom:  1em;
}




// ************************************************************
// Refinements
// ************************************************************

.refinements {
  font-size: var(--font-size-m);

  .ais-Panel-header {
    font-size: var(--font-size-m);
    border-bottom: 1px solid var(--color-grey);
    //margin-bottom: 0.3em;
  }

  ul {     

    margin-top: 1em;
    padding-left: 0;
    list-style-type: none;
  }
}

// HierarchicalMenu
.ais-HierarchicalMenu-item, .ais-RefinementList-item{
  margin:0.4em;
  margin-top: 0;  //font-variant: small-caps;
}
.ais-HierarchicalMenu-item2{
  //margin-top: -0.2em;
  font-style: italic;
    font-variant: normal;
}
.ais-HierarchicalMenu-item2:before {
  content: "· ";
  padding-left: 0.3em;
}





// Counts
.ais-RefinementList-count,
.ais-HierarchicalMenu-count {
  color: var(--color-primary-darker-7);
  position: relative;
  top: -0.1em;
  font-size: 0.7em;
  margin-left: 0.2em;
  padding: 0.1em 0.5em;
  background-color: var(--color-lightgrey);
  border-radius: 1em;
}








// ************************************************************
// search
// ************************************************************


.searchBox{
  background-color: var(--color-primary-lighter-7);
  border-color: var(--color-primary-lighter-4);
  box-shadow: 10px 5px 5px var(--color-primary-lighter-7);
   color: var(--color-primary);
}
.archives>*, .refinements> *{scroll-snap-align: start; }

