---
title: Home
---

{% from "macros/linkCard.njk" import linkCard %}
<h2 class="wrap titleDiag" >Recent links</h2>
<ol class="cards-list">
<li class="cards-list">
  {% for link in collections.linksall | limit(4) %}
    {{ linkCard(link) }}
  {% endfor %}
</li>
</ol>
<p class="more wrap">Discover <a href="/links/">all links</a>…</p>
{#
{% from "macros/noteCard.njk" import noteCard %}

<h2 class="wrap">Recent notes</h2>
<ol class="cards-list">
{% for note in collections.notesall | limit(4) %}
  {{ noteCard(note) }}
{% endfor %}
</ol>
<p class="more wrap">Discover <a href="/notes/">all notes</a>…</p>
#}

{% set cssFilename = "page-tagscloud.css" %}
{% include "add-css.njk" %}

{% from "macros/tagsCloud.njk" import tagsCloud %}
<div class="wrap">
<h2>Main topics</h2>
<p>These are the tags the most used on the site to set content topics:</p>
{{ tagsCloud(collections.mainTags) }}
<p class="more">Browse <a href="/tags/">all tags</a>…</p>
</div>
