---
pagination:
  data: collections.publications
  size: 1
  alias: publications
layout: lazy
permalink: "/lazy/{{ publications.filePathStem | dirname }}/index.html"
---

{% set articleUrl = publications.url %}
{% set lazy = false %}
{% include "components/webmentions.njk" %}
