//@use 'colors';

:root {
  --width: calc(min(var(--layout-max), 94vw));
  @media (min-width: 25rem) {
    --width: calc(min(var(--layout-max), 90vw));
  }

  @media (min-width: 40rem) {
    --width: calc(min(var(--layout-max), 80vw));
  }
  --footerW: 900;
  @media (min-width: 40rem) {
    --footerW: 1600;
  }
  @media (min-width: 80rem) {
    --footerW: 2400;
  }
  --angle: -5deg;
  --magic-number: 0.035;
  --skew-padding: calc(max(var(--width),1000px) * var(--magic-number));
  //--clip-padding: calc(var(--full-width) * var(--magic-number));



  --flow-space: var(--gap-m);

  // --font-family-serif: NotoSerif, Georgia, 'Times New Roman', Times, serif;
  --font-family-serif: 'Caslon Pro', Caslon, 'Liberation Serif', 'Crimson Pro',
    Georgia, 'Times New Roman', Times, serif;

  --font-family-sans-serif:   'Proxima Nova', ClassicSans, 'Myriad Pro',  Roboto, 'Liberation Sans',
     'Segoe UI', Oxygen, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;

  // --font-family-monospace: 'Fira Code', 'Courier New', Courier, monospace;
  --font-family-monospace: 'Courier New', Courier, monospace;

  --font-size-base: 0.9rem;
  --font-size-responsive: 0.5vw;
  --font-size-scale: 1.12;

  // https://every-layout.dev/rudiments/modular-scale/
  --font-size-m: calc(var(--font-size-base) + var(--font-size-responsive));
  --font-size-m: min(
    calc(var(--font-size-base) + var(--font-size-responsive)),
    1.5rem
  );
  
  --font-size-xs: calc(var(--font-size-s) / var(--font-size-scale));
  --font-size-s: calc(var(--font-size-m) / var(--font-size-scale));
  --font-size-l: calc(var(--font-size-m) * var(--font-size-scale));
  --font-size-xl: calc(var(--font-size-l) * var(--font-size-scale));
  --font-size-xxl: calc(var(--font-size-xl) * var(--font-size-scale));
  --font-size-xxxl: calc(var(--font-size-xxl) * var(--font-size-scale));
  --font-size-xxxxl: calc(var(--font-size-xxxl) * var(--font-size-scale));

  --gap-scale: 1.5;
  
--gap-5xs: calc(var(--gap-4xs) / var(--gap-scale));//0.087
  --gap-4xs: calc(var(--gap-3xs) / var(--gap-scale));//0.13
   --gap-3xs: calc(var(--gap-xxs) / var(--gap-scale));//0.2
  --gap-xxs: calc(var(--gap-xs) / var(--gap-scale)); //0.3
  --gap-xs: calc(var(--gap-s) / var(--gap-scale)); //0.44
  --gap-s: calc(var(--gap-m) / var(--gap-scale)); //0.66
  --gap-ms: calc(var(--gap-m) / 1.22); //0.82
  --gap-m: 1em;
    --gap-ml: calc(var(--gap-m) * 1.22); //1.22
  --gap-l: calc(var(--gap-m) * var(--gap-scale)); //1.5
 --gap-xl: calc(var(--gap-l) * var(--gap-scale)); //2.25 
  --gap-xxl: calc(var(--gap-xl) * var(--gap-scale)); //3.33
    --gap-3xl: calc(var(--gap-xxl) * var(--gap-scale)); //3.33
        --gap-4xl: calc(var(--gap-3xl) * var(--gap-scale)); //3.33

/*    --gap: 1rem;
  --gap2: calc(2 * var(--gap));
  --gap3: calc(3 * var(--gap));
  */
  //--gap-3xl: calc(var(--gap-xxl) * var(--font-size-scale));//2.8
  //--gap-4xl: calc(var(--gap-3xl) * var(--font-size-scale));//3.7
  //--gap-5xl: calc(var(--gap-4xl) * var(--font-size-scale));

  
  // --layout-max: calc(50 * var(--font-size-m));
  --layout-max: 60rem;


--color-primary-rgb: 107,20,74;
  --color-primary: hsl(323, 68%, 25%);
  --hue: 323;
  --sat: 68%;
  --lum: 25%;
  --sat-step: -7%;
  --lum-step: 9%;
  @for $i from 1 through 9 {
    --color-primary-lighter-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) + #{$i} * var(--sat-step)),
      calc(var(--lum) + #{$i} * var(--lum-step))
    );
  }
  --sat-step2: 3%;
  --lum-step2: -3%;

  @for $i from 1 through 9 {
    --color-primary-darker-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) + #{$i} * var(--sat-step2)),
      calc(var(--lum) + #{$i} * var(--lum-step2))
    );
  }
  // Persimmon:
  //   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
  --color-secondary: hsl(calc(var(--hue) - 180), var(--sat), 30%);

  // Persimmon:
  //   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon

  --color-bg: white;

  --color-link: var(--color-primary);
  --color-link-bg: inherit;
  --color-link-decoration: var(--color-primary-lighter-6);
  --color-link-hoveralt: black;
  --color-link-hover: white;
  --color-link-hover-bg: var(--color-primary);
  --color-link-hover-decoration: none;

  --color-meta: #4c4c4c;
  --color-meta-decoration: #af0000;

  --color-yellow-light: hsl(171, 68%, 70%);//hsl(59, 100%, 88%);
  --color-emph: #35d540;
  --border-width: 0.15em;
  --color-accord: var(--color-primary-lighter-4);
  --color-caption: #666;

  --color-primary-shine: var(--color-primary-lighter-1);
  --color-primary-shine2: var(--color-primary-lighter-2);
  --color-primary-shine-font: white;
  --color-info-bg: #dfd8f0;

  // ************************************************************
  // Colors palette
  // ************************************************************
  --color-gold: hsl(50, 91%, 30%);
  --color-green: #3f7e00;
  --color-blue: #2570ba;
  --color-red: #ca2828;

  --color-chap: #1c558b;
  --color-art: #a30000;
  --color-book: #00714f; 
  --color-soft:  #885f00;
  --color-data: #7C5427;
  --color-com:  #513B29 ;
  --color-rev:   #3d6f01;
  --color-emph-bg: rgb(212, 255, 211);
    --color-emph-bg-hv: #0e9c0a;

  --color-lightgrey: #eee;
  --color-grey: #bbb;
  --color-darkgrey: #555;
  --color-xlightgrey: #fafafa;

  --color-twitter: #0b74b0;

  --color-footnote-bg: #0a699c ;
  // Colors from Prism OneDark theme
  --inline-code-background-color: #282c34;
  --inline-code-text-color: #abb2bf;
  --color-grad: 100%;

  .noDarkFilter {
    filter: none;
  }
  a:hover .darkFilterT{filter:  hue-rotate(180deg) invert(100%);}
    
  --soft-shadow: rgba(0, 0, 0, 0.05);
}
/* purgecss ignore */
[data-theme='dark'] {
  --color-primary: hsl(322, 68%, 75%);
  --color-primary-rgb: 235,148,203;
  --hue: 322;
  --sat: 68%;
  --lum: 75%;
  --sat-step: -6%;
  --lum-step: -8%;

  @for $i from 1 through 9 {
    --color-primary-lighter-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) + #{$i} * var(--sat-step)),
      calc(var(--lum) + #{$i} * var(--lum-step))
    );
  }
  --sat-step2: 3%;
  --lum-step2: 3%;

  @for $i from 1 through 9 {
    --color-primary-darker-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) + #{$i} * var(--sat-step2)),
      calc(var(--lum) + #{$i} * var(--lum-step2))
    );
  }
  
  
  // Persimmon:
  //   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
  --color-secondary: hsl(calc(var(--hue) - 180), var(--sat), 30%);
  --color-bg: var(--color-primary-lighter-9);

  --soft-shadow: rgba(255, 255, 255, 0.075);
  --color-link-hoveralt: blue;
  --color-emph: #00ff00;
  --color-info-bg: #272859;
  --color-twitter: #1da1f2;
  --color-caption: #dccccc;
  --color-link-hover: black;
  --color-meta: #c1aaaa;
  --color-gold: hsl(50, 91%, 30%);
  --color-yellow-light: hsl(171, 68%, 25%);

  --color-primary-shine: var(--color-primary-lighter-1);
  --color-primary-shine2: var(--color-link-hover-bg);
  --color-primary-shine-font: var(--color-primary-darker-6);

  --color-link: var(--color-primary);
  --color-link-bg: inherit;
  --color-link-decoration: var(--color-primary-lighter-4);

  --color-link-hover-bg: var(--color-primary);
  --color-link-hover-decoration: var(--color-primary);

  --color-meta-decoration: var(--color-primary-lighter-2);

  --border-width: 0.15em;
  --color-accord: var(--color-primary-lighter-4);

  
  
  
  // ************************************************************
  // Colors palette
  // ************************************************************
  --color-green: #3f7e00;
  --color-blue: #194d7e;
  --color-red: #af2222;
  --color-purple: #4d11ff;
  --color-lightgrey: #313131;
  --color-grey: #444444;
  --color-darkgrey: #aaaaaa;
  --color-xlightgrey: #050505;
  --color-twitter: #0d91e2;
  --color-emph-bg: rgb(29, 27, 78);
  --color-emph-bg-hv: #b19cfd;

  --color-chap: #13c0ff;
  --color-art: #ff5500;
  --color-book: #00d692; 
  --color-soft:  #eeee00;
  --color-data: #e79e00;
  --color-com:  #b6855c ;
  --color-rev:   #6bc300;
  
   --color-footnote-bg: #00b3ff;
  // Colors from Prism OneDark theme
  --inline-code-background-color: #282c34;
  --inline-code-text-color: #abb2bf;
  --color-grad: 0%;

  .darkFilter,
  .invertwrapper{
    filter: hue-rotate(180deg) invert(100%);
  }
  .invertwrapper img {
    filter: none;
  }

  #footer {
    filter: hue-rotate(180deg) invert(100%);
  }
  .noDarkFilter,
  .tweet-profile > img,
  .tweet-images > img {
    filter: none;
  }
  a:hover .darkFilterT{filter: none;}
}
/*! purgecss end ignore */

