//@use 'colors';



:root {

      --width: calc(min( var(--layout-max),94vw));
    @media (min-width: 25rem) {
    --width: calc(min( var(--layout-max),90vw));

  }

  
  @media (min-width: 40rem) {
     --width: calc(min( var(--layout-max),80vw));
  }
  --footerW: 900;
  @media (min-width: 40rem) {
  --footerW: 1600;
  }
  @media (min-width: 80rem) {
  --footerW: 2400;
  }
    --angle: -5deg;
  --magic-number: 0.035;
  --skew-padding: calc(var(--width) * var(--magic-number));
  //--clip-padding: calc(var(--full-width) * var(--magic-number));
  
  --gap: 1rem;
  --gap2: calc(2 * var(--gap));
  --gap3: calc(3 * var(--gap));

  --flow-space: 1em;

  // --font-family-serif: NotoSerif, Georgia, 'Times New Roman', Times, serif;
  --font-family-serif:   'Caslon Pro', Caslon, 'Liberation Serif',    'Crimson Pro', Georgia, 'Times New Roman', Times, serif;
  
  --font-family-sans-serif:   'Liberation Sans', 'Myriad Pro' , ClassicSans, 'Proxima Nova', 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  // --font-family-monospace: 'Fira Code', 'Courier New', Courier, monospace;
  --font-family-monospace: 'Courier New', Courier, monospace;

  --font-size-base: 0.9rem;
  --font-size-responsive: 0.5vw;
  --font-size-scale: 1.1;

  // https://every-layout.dev/rudiments/modular-scale/
  --font-size-m: calc(var(--font-size-base) + var(--font-size-responsive));
  --font-size-m: min(calc(var(--font-size-base) + var(--font-size-responsive)),1.5rem);
  
  --font-size-s: calc(var(--font-size-m) / var(--font-size-scale));
  --font-size-xs: calc(var(--font-size-s) / var(--font-size-scale));
  --font-size-l: calc(var(--font-size-m) * var(--font-size-scale));
  --font-size-xl: calc(var(--font-size-l) * var(--font-size-scale));
  --font-size-xxl: calc(var(--font-size-xl) * var(--font-size-scale));
  --font-size-xxxl: calc(var(--font-size-xxl) * var(--font-size-scale));
  --font-size-xxxxl: calc(var(--font-size-xxxl) * var(--font-size-scale));

  // --layout-max: calc(50 * var(--font-size-m));
  --layout-max: 60rem;

  // Color ingredients
  --hue: 322;
  --sat: 60%;
  --sat-step: 4%;
  --lum: 40%;
  --lum-step: 7%;

  // Colors
  // Rebecca Purple:
  //   https://www.economist.com/babbage/2014/06/23/the-colour-purple
--color-primary-darker-7: #14070e;
--color-primary-darker-6: #1f0d17;
--color-primary-darker-5: #2a111f;
--color-primary-darker-4: #361227;
--color-primary-darker-3: #42142f;
--color-primary-darker-2: #4f1437;
--color-primary-darker-1: #5c1540;
--color-primary: #691449; // #663399;
--color-primary-lighter-1: #7d345d;
--color-primary-lighter-2: #905173;
--color-primary-lighter-3: #a36c89;
--color-primary-lighter-4: #b6899f;
--color-primary-lighter-5: #c8a5b6;
--color-primary-lighter-6: #dbc3ce;
--color-primary-lighter-7: #ede1e6;
--color-primary-lighter-7a: #f6e6f7;
--color-primary-lighter-7b: #fdf0f5;
--color-primary-lighter-8: #fff8fb;//#fff2f7


  // Persimmon:
  //   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
--color-secondary: #35d123;
  --color-bg: white;

  --color-link: var(--color-primary);
  --color-link-bg: inherit;
  --color-link-decoration: var(--color-primary-lighter-6);
--color-link-hoveralt: black;
  --color-link-hover: white;
  --color-link-hover-bg: var(--color-primary);
  --color-link-hover-decoration: none;

  --color-meta: #4c4c4c;
  --color-meta-decoration: #999;

  --color-gold: hsl(50, 91%, 30%);
  --color-yellow-light: hsl(59, 100%, 88%);
--color-emph: #35d540;
  --border-width: 0.15em;
    --color-accord: var(--color-primary-lighter-4);
    --color-caption: #666;

    --color-primary-shine: var(--color-primary-lighter-1);
--color-primary-shine2: var(--color-primary-lighter-2);
--color-primary-shine-font: white;

// ************************************************************
// Colors palette
// ************************************************************
--color-green: #3f7e00;
--color-blue: #2570ba;
--color-red: #ca2828;
--color-purple: #4d11ff;

--color-lightgrey: #eee;
--color-grey: #bbb;
--color-darkgrey: #555;
--color-xlightgrey: #fafafa;

--color-twitter: #1da1f2;

// Colors from Prism OneDark theme
--inline-code-background-color: #282c34;
--inline-code-text-color: #abb2bf;
--color-grad:100%;

 .noDarkFilter {
    filter: none;
  }
--soft-shadow: rgba(0,0,0,0.05);

}
 

[data-theme="dark"] {
  --soft-shadow: rgba(255,255,255,0.075);
--color-link-hoveralt: white;
--color-emph: #00ff00;
--color-primary-darker-7: #f8ebf2;
--color-primary-darker-6: #f2e0ea;
--color-primary-darker-5: #edd5e3;
--color-primary-darker-4: #edc9de;
--color-primary-darker-3: #eabdd8;
--color-primary-darker-2: #ebb0d3;
--color-primary-darker-1: #eaa2ce;
--color-primary: #eb95cb; // #663399;
--color-primary-lighter-1: #ca82aa;
--color-primary-lighter-2: #ae6f91;
--color-primary-lighter-3: #935c79;
--color-primary-lighter-4: #75495f;
--color-primary-lighter-5: #5a3648;
--color-primary-lighter-6: #3c242e;
--color-primary-lighter-7: #1e1216;
//--color-primary-lighter-7b: #fdf0f5;
--color-primary-lighter-8: #180818;//#fff2f7
--color-primary-lighter-9: #130713;
  // Persimmon:
  //   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
--color-secondary: #40dc2e;
  --color-bg: var(--color-primary-lighter-9);

--color-primary-shine: var(--color-primary-lighter-1);
--color-primary-shine2: var(--color-link-hover-bg);
--color-primary-shine-font: var(--color-primary-darker-6);
  
  --color-link: var(--color-primary);
  --color-link-bg: inherit;
  --color-link-decoration: var(--color-primary-lighter-6);

  --color-link-hover: black;
  --color-link-hover-bg: var(--color-primary);
  --color-link-hover-decoration: none;

  --color-meta: #b3b3b3;
  --color-meta-decoration: #666666;

  --color-gold: hsl(50, 91%, 30%);
  --color-yellow-light: hsl(171, 68%, 25%);

  --border-width: 0.15em;
    --color-accord: var(--color-primary-lighter-4);
    --color-caption: #999999;

// ************************************************************
// Colors palette
// ************************************************************
--color-green: #3f7e00;
--color-blue: #194d7e;
--color-red: #af2222;
--color-purple: #4d11ff;
--color-lightgrey: #313131;
--color-grey: #444444;
--color-darkgrey: #aaaaaa;
--color-xlightgrey: #050505;

--color-twitter: #0d91e2;

// Colors from Prism OneDark theme
--inline-code-background-color: #282c34;
--inline-code-text-color: #abb2bf;
--color-grad:0%;
--svg-hover:'%23000';
    img {
    filter: hue-rotate(180deg) invert(100%);
    
  }
#footer {
    filter: hue-rotate(180deg) invert(100%) grayscale(0.5);
  }
  .noDarkFilter {
    filter: none;
  }
}
  


/*

[data-theme="dark2"] {


--color-primary-lighter-8: #16020d;
//--color-primary-lighter-7a: #2e041b;
--color-primary-lighter-7: #2c041a;
--color-primary-lighter-6: #5c0836;
--color-primary-lighter-5: #730b44;
--color-primary-lighter-4: #8a0d52;
--color-primary-lighter-3: #a10f5f;
--color-primary-lighter-2: #ea168a; // #663399;
--color-primary-lighter-1: #ea1c8e;
--color-primary: #eb2391;
--color-primary-darker-1: #ee45a2;
--color-primary-darker-2: #f055aa;
--color-primary-darker-3: #f166b3;
--color-primary-darker-4: #f377bb;
--color-primary-darker-5: #f488c4;
--color-primary-darker-6: #f7aad5;
//--color-primary-darker-7b: #fdf0f5;
--color-primary-darker-7: #f7aad5;//#fff2f7
--color-grad:0%;

  // Persimmon:
  //   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
--color-secondary: #35d123;
  --color-bg: #0d0108;

  --color-link: var(--color-primary);
  --color-link-bg: inherit;
  --color-link-decoration: var(--color-primary-lighter-5);

  --color-link-hover: black;
  --color-link-hover-bg: var(--color-primary);
  --color-link-hover-decoration: none;
--color-caption: #999;
  --color-meta: #8a8a8a;
  --color-meta-decoration: #999;

  --color-gold: hsl(50, 91%, 30%);
  --color-yellow-light: hsl(59, 100%, 88%);
    --color-accord: var(--color-primary-lighter-4);
    
// ************************************************************
// Colors palette
// ************************************************************
--color-green: #3f7e00;
--color-blue: #194d7e;
--color-red: #af2222;
--color-lightgrey: #333;
--color-grey: #bbb;
--color-darkgrey: #eee;
--color-xlightgrey: #353535;

--color-twitter: #1da1f2;

// Colors from Prism OneDark theme
--inline-code-background-color: #282c34;
--inline-code-text-color: #abb2bf;


  img {
    filter: hue-rotate(180deg) invert(100%);
  }
#footer {
    filter: hue-rotate(180deg) invert(100%) grayscale(0.5);
  }
    .noDarkFilter {
    filter: none;
  }
}
*/
