---
excerpt: En biologie, le hasard est une notion essentielle pour comprendre les variations ; cependant, cette notion n'est généralement pas conceptualisée avec précision. Nous apportons ici quelques éléments allant dans ce sens.
date: 2023-01-10
illust: deconstruct2.jpeg
tags:
- deconstruction
- morphogenesis
- randomness
- disruption
- possibility space
---
<div class="maketitle">
  <p class="titleHead">Comment le hasard façonne le vivant ?</p>
  <div class="author"><span class="ecrm-1200">Maël Montévil</span><span class="thank-mark"><a href="#tk-1" id="kt-1"><span class="tcrm-1200">∗</span></a></span></div><br />
  <div class="date"><span class="ecrm-1200">October 14, 2023</span></div>
</div>
<section class="abstract" role="doc-abstract">
  <h3 class="abstracttitle" id="abstract"><span class="ecbx-0900">Abstract</span></h3>
  <p class="noindent"><span class="ecrm-0900">La physique possède plusieurs concepts de hasard qui reposent néanmoins tous sur
l’idée que les possibilités sont données d’avance. En revanche, un nombre croissant
de biologistes théoriciens cherchent à introduire la notion de nouvelles possibilités,
c’est-à-dire des modifications de l’espace des possibles - une idée déjà discutée
par Bergson et qui n’a pas été véritablement poursuivie scientifiquement jusqu’à
récemment (sauf, en un sens, dans la systématique, c’est-à-dire la méthode de
classification des êtres vivants).</span></p>
  <p class="indent"><span class="ecrm-0900">Alors, le hasard opère au niveau des possibilités elles-mêmes et est à la base
de l’historicité des objets biologiques. Nous soulignons que ce concept de hasard
n’est pas seulement pertinent lorsqu’on cherche à prédire l’avenir. Au contraire,
il façonne les organisations biologiques et les écosystèmes. À titre d’illustration,
nous soutenons qu’une question cruciale de l’Anthropocène est la disruption des
organisations biologiques que l’histoire naturelle a structurées, conduisant à un
effondrement des possibilités biologiques.</span></p>
</section>
<h3 class="sectionHead" id="1----causality-and-randomness">1 Causality and randomness</h3>
<p class="noindent">
  Ce chapitre aborde comment le hasard est devenu un pilier de la biologie et en quoi sa
  conceptualisation précise reste un défi pour la biologie théorique actuelle, avec des applications
  aux enjeux de notre époque, communément appelée l’Anthropocène. Or le hasard est une
  notion complexe dans les sciences, et il est nécessaire pour notre propos de revenir brièvement
  sur son histoire en dehors de la biologie.
</p>
<p class="indent">
  Le hasard est au carrefour de différentes questions. Tout d’abord, le hasard est lié à la
  causalité et, en un sens, un phénomène aléatoire n’est pas déductible à partir de causes.
  Vient ensuite les paris, avec les jeux d’argent et les assurances (historiquement, pour
  les bateaux de commerce pendant la colonisation) — et ici les calculs sont cruciaux.
  Les théories des probabilités ont été développées précisément pour fournir
  des mesures de l’aléatoire. Enfin vient la notion d’imprévisibilité, qui est la plus
  récente.
</p>
<p class="indent">
  En sciences, ces différentes questions se combinent ... de presque toutes les manières
  possibles. Par exemple, les dynamiques dites chaotiques sont déterministes, donc dépourvues
  d’"aléa causal", mais imprévisibles. Pourquoi ? Ces situations singulières sont dues à deux
  raisons qui se combinent. Premièrement, la mesure en mécanique classique n’est jamais parfaite
  ; nous évaluons la position et la vitesse d’un objet que jusqu’à une certaine précision - c’est
  une question de principes, et non de technologie. Deuxièmement, aussi proches que soient deux
  conditions initiales, les trajectoires ultérieures vont diverger très rapidement (à une vitesse
  exponentielle). La combinaison de ces deux facteurs implique l’imprévisibilité ; de petites
  causes, même celles que nous ne pouvons pas mesurer, peuvent avoir des effets importants.
  C’est cette situation que l’on appelle communément l’effet papillon, l’idée qu’un
  papillon battant des ailes peut créer un ouragan ailleurs. C’est aussi pourquoi nous ne
  pouvons pas dire si le système solaire est stable ou si une planète en sera éjectée un
  jour.
</p>
<p class="indent">
  Examinons un autre écart. En informatique, un ordinateur est déterministe et prévisible ;
  comme l’appelle Turing, c’est une machine à états discrets où l’accès à l’état peut être
  parfait. Cependant, l’aléatoire apparaît lorsque nous mettons ensemble différents ordinateurs
  théoriques (y compris les différents cœurs des processeurs actuels) car il n’y a aucune certitude
  sur le calcul qui sera le plus rapide. Cet aléa correspond bien à l’imprévisibilité, mais sa
  particularité est qu’il n’a pas de métrique (il n’y a pas de probabilités). Donnons-en un
  exemple pittoresque. Imaginez la simulation du vent qui agit sur le toit pour que les
  tuiles tombent. Imaginez également la simulation de la marche d’un piéton. Alors,
  si des cœurs différents effectuent ces deux simulations, la tuile du toit peut ou non
  tomber sur le piéton car la mise à jour des deux modèles n’est pas synchronisée
  (si elle est mal conçue). Alors, les informaticiens conçoivent généralement leur
  algorithme de manière à ce qu’il conduise aux résultats escomptés dans toutes les
  situations.
</p>
<p class="indent">
  Néanmoins, en un sens, le hasard va toujours de pair avec l’imprévisibilité. Mais la relation
  entre ces deux notions différentes n’est pas tout à fait simple. Par exemple, le mouvement
  aléatoire des molécules conduit une délicieuse odeur à se propager dans une cuisine et
  au-delà. D’une manière générale, lorsque l’on étudie un gaz, comme le dit Boltzmann, le
  chaos moléculaire conduit le gaz à tendre vers la situation d’entropie maximale, qui est
  parfaitement prévisible. Dans le même ordre d’idées, le pur hasard probabiliste n’est pas la
  situation la plus imprévisible. Par exemple, les statistiques du jeu de pile ou face sont très bien
  connues, et nous pouvons faire des prédictions pour un grand nombre de lancers. Les
  probabilités se distinguent profondément de l’anomie, l’absence de normes ou de lois. Il en va de
  même dans le cas de la mécanique quantique, où les possibilités et les probabilités sont
  très bien définies. En revanche, la capacité des sondages dans une élection à
  prédire les résultats est au mieux limitée. L’une des raisons en est que les citoyens et
  les localités sont divers, et que la capacité des sondages à échantillonner cette
  diversité est limitée. De plus, les sondés changent au fil du temps et s’influencent
  mutuellement, ce qui rend la situation encore plus compliquée. La météorologie est
  quelque peu similaire car ses phénomènes seraient plus faciles à prévoir, du moins
  statistiquement, s’ils présentaient le caractère aléatoire élémentaire de la pièce de
  monnaie.
</p>
<p class="indent">
  Examinons maintenant brièvement la notion de causalité, car c’est une façon d’aborder
  l’aléatoire. Bien sûr, la question de la causalité a une longue histoire que nous ne
  cherchons pas à développer. Signalons que le terme utilisé par Aristote (aition) et
  le latin (causa) trouvent leurs racines dans le vocabulaire juridique. Tout comme la
  responsabilité, les causes sont des moyens de comprendre pourquoi une chose se produit et
  quels sont les objets impliqués dans sa réalisation. Au fil du temps, la perspective a
  considérablement changé. Avec Leibniz, Descartes et Galilée, la causalité a été
  explicitée par les mathématiques, et ces mathématiques étaient dotées d’une
  signification théologique. En ce sens, il n’y avait pas de place pour le hasard en matière de
  causalité.
</p>
<p class="indent">
  Dans le même ordre d’idées, Einstein a ultérieurement déclaré que "Dieu ne joue pas
  aux dés". L’ombre de la théologie plane toujours de manière significative sur la physique et la
  philosophie (et aujourd’hui sur l’informatiques) ; en même temps, une vision purement utilitaire
  et typiquement computationnelle de la science émerge, où la compréhension n’a plus vraiment
  d’importance.<span class="footnote-mark"><a href="#fn1x0" id="fn1x0-bk"><sup class="textsuperscript">1</sup></a></span><a id="x1-1001f1"></a>
  Entre Charybde et Scilla, nous soutenons que la science se rencontre là où le travail théorique
  a lieu (entre autres choses). Les théories ne sont pas simplement une description de la nature ;
  elles intègrent diverses considérations, mathématiques, empiriques, épistémologiques et
  méthodologiques.<span class="footnote-mark"><a href="#fn2x0" id="fn2x0-bk"><sup class="textsuperscript">2</sup></a></span><a id="x1-1004f2"></a>
  La théorisation est donc la tentative la plus aboutie de comprendre le monde scientifiquement
  (du moins pour une catégorie de phénomènes). Bien sûr, alors, une autre lecture de la
  causalité est possible, la causalité est relative à une théorie, et elle décrit ce qui se passe
  quand quelque chose se passe — tandis que la théorie pose par ailleurs ce qui a lieu quand rien ne
  se passe, comme dans le cas du principe d’inertie.
</p>
<p class="indent">
  En suivant cette voie, la théorie définit l’aléatoire, s’il existe, par rapport à la causalité.
  La mécanique classique ne l’autorise pas (en raison du théorème de Cauchy-Lipshitz qui
  stipule que les forces déterminent les trajectoires), tandis que la mécanique quantique
  possède une forme spécifique d’aléa associée à la mesure. Globalement, nous
  appelons structure de détermination ce qu’une théorie dit des phénomènes et
  de leur relation (et cette structure peut être déterministe ou aléatoire de diverses
  manières).
</p>
<p class="indent">
  Les théories ne sont pas seulement pertinentes pour l’aléatoire par rapport à la causalité.
  Premièrement, une approche presque entièrement empirique peut évaluer les probabilités,
  comme dans les transactions financières. Toutefois, il est toujours possible que les
  phénomènes s’en écartent considérablement. En revanche, les probabilités peuvent
  découler d’une théorie, auquel cas elles s’accompagnent d’une compréhension des
  phénomènes et sont plus robustes, nous reviendrons sur ce point. Deuxièmement, les
  résultats négatifs, comme l’imprévisibilité, sont notoirement difficiles à prouver. Pour
  prouver que quelque chose est impossible, nous devons avoir une façon précise de
  parler de ce qui est possible — sinon, l’imprévisibilité peut être seulement une
  propriété d’une approche particulière et disparaître dans une autre. Encore une
  fois, les théories sont alors le niveau approprié où l’imprévisibilité peut être
  fondée.
</p>

<h3 class="sectionHead" id="2----comment-le-hasard-est-devenu-la-source-des-êtres-vivants-actuels">2 Comment le hasard est devenu la source des êtres vivants actuels</h3>
<p class="noindent">
  Dans l’étude des êtres vivants, un enjeu fondamental est la compréhension de comment les
  parties d’un animal, d’un organisme ou d’un écosystème semblent si bien s’articuler.
  Dans la théologie naturelle, l’ordre du monde vivant résulte d’un créateur divin. La
  théologie était utilisée pour expliquer pourquoi les êtres vivants existent même si leurs
  organisations et leurs arrangements dans l’"économie de la nature" ne semblent pas
  résulter du seul hasard. Par exemple, J. Biberg, un disciple de Linné, affirmait que
  "l’économie de la nature signifie la très sage disposition des êtres naturels, instituée par le
  créateur souverain, selon laquelle ils tendent à des fins communes et ont des fonctions
  réciproques".<span class="footnote-mark"><a href="#fn3x0" id="fn3x0-bk"><sup class="textsuperscript">3</sup></a></span><a id="x1-2001f3"></a>
  Dans le même ordre d’idées, William Paley, l’un des derniers partisans de la théologie
  naturelle, a introduit une comparaison devenue célèbre entre une pierre et une montre. Nous
  pouvons comprendre la pierre en affirmant qu’elle a toujours été la même ; cependant, dans le
  cas de la montre, les pièces dépendent les unes des autres pour atteindre une fin, et cet
  arrangement doit être expliqué par un horloger — et pour les vivants, Dieu serait cette
  explication.<span class="footnote-mark"><a href="#fn4x0" id="fn4x0-bk"><sup class="textsuperscript">4</sup></a></span><a id="x1-2004f4"></a>
  La position critique de Kant conduit à des affirmations plus modestes ; pour
  lui, la relation entre les parties et l’organisme ne peut être traitée par la
  raison pure. Elle requiert plutôt un but naturel, et ce dernier est une question de
  jugement.<span class="footnote-mark"><a href="#fn5x0" id="fn5x0-bk"><sup class="textsuperscript">5</sup></a></span><a id="x1-2007f5"></a>
  Cependant, la perspective de Kant ne concerne réellement que le fonctionnement des organismes, et la tradition
  téléomécaniste qui a suivi s’est concentrée sur ces questions, en termes modernes, la physiologie et le
  développement.<span class="footnote-mark"><a href="#fn6x0" id="fn6x0-bk"><sup class="textsuperscript">6</sup></a></span><a id="x1-2010f6"></a>
  Cependant, cette tradition n’aborde pas la question de comment ces organisations biologiques sont
  apparus.
</p>
<p class="indent">
  Comme alternative à la théologie naturelle, Lamarck, entre autres, a développé une vision
  transformiste de la biologie. Dans un sens, sa perspective est principalement déterministe ; les
  caractères sont transformés lorsqu’ils accomplissent des activités et ils sont alors hérités par
  la génération suivante. Néanmoins, selon lui, la diversification résulte des circonstances
  changeantes que rencontrent les êtres vivants. En ce sens, l’aléatoire est à l’origine de la
  diversité biologique, en suivant une conception classique de l’aléatoire comme confluence de
  chaînes causales indépendantes, nous y reviendrons.
</p>
<p class="indent">
  Darwin a introduit un nouveau raisonnement en s’appuyant sur la sélection artificielle. A propos de
  cette dernière, il écrit : "La nature donne des variations successives ; l’homme les additionne dans
  certaines directions qui lui sont utiles. En ce sens, on peut dire qu’il fabrique pour lui-même des races
  utiles".<span class="footnote-mark"><a href="#fn7x0" id="fn7x0-bk"><sup class="textsuperscript">7</sup></a></span><a id="x1-2013f7"></a>
  Des variations héritables apparaissent dans la nature, et certaines d’entre elles sont préservées
  parce qu’elles entraînent des conséquences favorables. Au fil du temps, "les formes infinies les
  plus belles et les plus merveilleuses ont évolué et évoluent encore". À chaque étape, des
  variations apparaissent alors que la sélection naturelle ne concerne que la préservation de
  certaines d’entre elles, comme le souligne une partie du sous-titre de l’<span class="ecti-1000">Origin of species </span>:
  “la <span class="ecti-1000">préservation </span>des races favorisées dans l’évolution” (nous soulignons, suivant
  <a id="x1-2016"></a>Lecointre<span class="footnote-mark"><a href="#fn8x0" id="fn8x0-bk"><sup class="textsuperscript">8</sup></a></span><a id="x1-2017f8"></a>).
  Cependant, la nature de ces variations et le caractère aléatoire correspondant (Darwin parle de
  hasard) ne sont que vaguement précisés malgré les efforts de Darwin pour synthétiser la
  littérature disponible au moment où il écrit.
</p>
<p class="indent">
  Soulignons trois aspects de la conception de Darwin. Premièrement, certaines variations
  apparaissent indépendamment de leurs conséquences sur le succès reproductif des organismes,
  donc de leur éventuel rôle fonctionnel. Contrairement aux caractères acquis par le maintien
  d’une activité, cette déconnexion rejoint la notion classique de hasard évoquée plus haut,
  bien qu’à un niveau différent. Deuxièmement, Darwin se soucie profondément de possibles
  lois de la variation, et son esquisse sur le sujet laisse entrevoir un programme de recherche bien
  moins réductionniste que les travaux de nombre de ses successeurs. Par exemple, il met l’accent
  sur les variations corrélées, qui n’ont de sens qu’au niveau des organismes. Enfin, les idées
  de Darwin ne se limitent pas à la sélection naturelle. Il a systématisé le concept
  selon lequel les objets biologiques font partie d’un processus historique : l’évolution.
  Il a ensuite proposé de classer les êtres vivants en fonction de leur généalogie,
  une idée qui ne s’est concrétisée que dans la seconde partie du XXème siècle
  :.<span class="footnote-mark"><a href="#fn9x0" id="fn9x0-bk"><sup class="textsuperscript">9</sup></a></span><a id="x1-2019f9"></a>
</p>
<p class="indent">
  La génétique et la révolution de la biologie moléculaire ont introduit une
  spécification du caractère aléatoire introduit par Darwin sous forme de mutations de
  l’ADN, tandis que les organismes eux-mêmes étaient considérés en termes
  déterministes<span class="footnote-mark"><a href="#fn10x0" id="fn10x0-bk"><sup class="textsuperscript">10</sup></a></span><a id="x1-2022f10"></a> - vaguement
  importés de l’informatique.<span class="footnote-mark"><a href="#fn11x0" id="fn11x0-bk"><sup class="textsuperscript">11</sup></a></span><a id="x1-2025f11"></a>
  Alors la variation découle du hasard spécifié comme un processus moléculaire, selon la nature
  probabiliste des processus décrits par la thermochimie, par exemple. Ici, le caractère aléatoire
  des variations découle non seulement de lignes causales indépendantes qui se rencontrent, mais
  aussi du désordre moléculaire, au sens de Boltzmann. Les mutations modifient l’ADN de façon
  aléatoire, entraînant des variations phénotypiques déterminées par le nouveau
  "programme". Cependant, le lien entre l’ADN et le phénotype était et reste mal défini ; le
  concept de programme informatique n’est qu’une métaphore <span class="ecti-1000">ad hoc </span>pour affirmer que l’ADN
  détermine le phénotype et, donc, que la recherche doit se concentrer sur la manière dont la
  causalité va de l’ADN au phénotype. Ainsi, dans la pratique de la biologie moléculaire, au
  niveau des organismes, l’ADN agirait un peu comme le moteur immobile d’Aristote, mais
  au plan des formes, imposant ainsi des normes issues de l’histoire et définissant une
  téléonomie.
</p>
<p class="indent">
  Soulignons que, concernant les variations, la perspective de Darwin s’intéresse principalement
  aux propriétés des êtres vivants, telles que leur forme ou leurs comportements. En revanche, la
  génétique classique ne fait qu’expliciter la structure de l’hérédité parmi les variantes
  héritables préexistantes et, en biologie moléculaire, les mutations ne concernent que les
  changements dans les séquences d’ADN qui peuvent être assez directement liés à des
  changements dans les protéines. Cette description est très éloignée des phénotypes à part
  entière. Les biologistes comblent généralement ce fossé par l’observation empirique (un
  changement dans une séquence d’ADN est associé à un changement dans le phénotype
  observé). Lorsqu’ils rédigent des modèles, comme en génétique des populations, ils
  supposent une relation mathématique par laquelle les génotypes déterminent les
  phénotypes.
</p>
<p class="indent">
  En d’autres termes, la synthèse moderne et la biologie moléculaire ont considérablement
  contribué à la biologie en mettant l’accent sur des composantes essentielles de l’hérédité
  biologique et, plus précisément, sur les variations héréditaires ; cependant, elles n’ont
  certainement pas fourni un cadre théorique permettant de comprendre les variations biologiques
  et donc les chances sur lesquelles la sélection naturelle peut opérer. En particulier, la notion de
  mutations de l’ADN n’implique pas la possibilité d’une évolution ouverte. À titre d’illustration,
  les propriétés des mutations moléculaires sont simples à simuler par ordinateur ; cependant,
  la simulation d’un phénomène tel que l’évolution ouverte est un défi majeur pour les
  informaticiens.<span class="footnote-mark"><a href="#fn12x0" id="fn12x0-bk"><sup class="textsuperscript">12</sup></a></span><a id="x1-2029f12"></a>
</p>
<p class="indent">
  Prenons l’exemple de la génétique des populations théorique pour clarifier la relation entre
  sélection naturelle et variation. Dans ce domaine, les variants sont définis par leurs
  génotypes, et les modélisateurs postulent une relation mathématique entre les variants et
  leur fitness, c’est-à-dire le nombre statistique de leurs descendants parvenant à se
  reproduire. L’objectif épistémique le plus fondamental de ces modèles est de montrer que
  la sélection naturelle conduit effectivement à la diffusion de certains gènes dans
  la population, ce qui conduit à un plus grand nombre de descendants, établissant
  ainsi des caractères favorables que les variations aléatoires et héritables fournissent.
  Cependant, nous insistons sur le fait que les variations phénotypiques correspondant aux
  différents allèles sont postulées. Dans des situations usuelles, leur description se limite à
  leurs conséquences sur la valeur adaptative, ainsi le même modèle s’applique à
  la forme des dents ou à une enzyme digestive, par exemple. La sélection naturelle
  concerne principalement, comme nous l’avons souligné, la préservation de certains
  variants.
</p>
<p class="indent">
  Néanmoins, ces modèles peuvent conduire à optimiser un caractère pour une fonction
  préexistante lorsqu’ils sont considérés dans le temps. Par exemple, si un caractère possède
  une propriété quantitative qui peut être optimisée, comme la taille des dents, alors des
  itérations de variation et de sélection peuvent aboutir à cette configuration singulière. De tels
  processus sont locaux puisque ce rôle " créatif " de la sélection naturelle n’opère que pour des
  fonctions et des formes dont la propriété est supposée être prédéfinie et qui sont déjà
  <span class="ecti-1000">actuel</span>. En effet, la sélection naturelle n’opère dans une direction spécifique pour
  certains gènes qu’à partir du moment où leurs variations ont des conséquences sur
  une fonction spécifique, affectant ainsi la viabilité. On retrouve ici le lien profond
  entre l’optimisation mathématique et <span class="ecti-1000">telos </span>— un lien que, d’ailleurs, les plateformes
  numériques actuelles exploitent lorsqu’elles conçoivent des algorithmes pour atteindre leurs
  objectifs. Lorsque Dawkins illustre la sélection naturelle à l’aide d’un modèle très
  simple, la question se pose à nouveau : il postule une configuration optimale et montre
  que la population converge vers elle. Puis il prend de la distance par rapport à ce
  modèle, arguant que "la vie n’est pas comme ça" ; cependant, il ne fournit pas de
  meilleur schéma, où la cible lointaine ne préexisterait pas en tant que cible dans le
  modèle.<span class="footnote-mark"><a href="#fn13x0" id="fn13x0-bk"><sup class="textsuperscript">13</sup></a></span><a id="x1-2032f13"></a>
  Nous pouvons alors conclure que la sélection naturelle consiste à préserver et à optimiser les
  fonctions préexistantes, et non leur apparition.
</p>
<p class="indent">
  En d’autres termes, le schéma néo-darwinien comprend l’évolution comme une
  accumulation de variations issues du hasard génétique (mutations aléatoires) ; cependant, il ne
  fournit pas de compte rendu théorique précis de l’aspect organisationnel de ces variations. Par
  conséquent, il manque toujours un concept précis pour aborder les variations biologiques et le
  caractère aléatoire associé. La section suivante compare la situation biologique avec les
  concepts d’aléatoire en physique et souligne l’originalité des défis théoriques et
  épistémologiques de la biologie. Pour illustrer les conséquences pratiques de cette perspective,
  nous esquissons une nouvelle méthode pour prédire certaines variations. Enfin, nous analysons
  comment les organisations soutiennent activement les possibilités biologiques et comment leur
  disruption les conduit à s’effondrer.
</p>

<h3 class="sectionHead" id="3----vers-le-hasard-comme-apparition-de-nouveaux-possibles">3 Vers le hasard comme apparition de nouveaux possibles</h3>
<p class="noindent">
  Introduisons d’abord quelques remarques sur l’aléatoire en physique avant de revenir à
  la biologie. L’aléatoire peut être défini comme imprévisibilité dans la théorie
  considérée.<span class="footnote-mark"><a href="#fn14x0" id="fn14x0-bk"><sup class="textsuperscript">14</sup></a></span><a id="x1-3001f14"></a>
  Une caractéristique de la physique est que ses théories, ses modèles et son épistémologie
  globale supposent un espace des possibilités prédéfini. Il s’ensuit que l’aléatoire concerne
  l’état des objets, c’est-à-dire leur position dans l’espace abstrait prédéfini des
  possibilités. Alors que les cadres déterministes doivent singulariser la trajectoire que suit
  mathématiquement un objet, notamment ses états futurs, les cadres aléatoires posent une
  symétrie entre différents états afin qu’ils puissent se produire de manière égale ou
  commensurable.
</p>
<p class="indent">
  Dans l’exemple simple du dé, les possibilités sont données par les facettes du dé qui sont
  supposées être symétriques — à condition que le dé ne soient pas truqué. Bien sûr,
  dans cet exemple, la symétrie ne concerne pas seulement les propriétés du dé
  ; elle correspond aussi à la dynamique du lancer. Cette dernière est suffisamment
  sensible aux détails pour que le résultat ne puisse pas être prédit par les joueurs
  (ou les physiciens), et les rotations du dé établissent l’équivalence entre ses
  facettes.<span class="footnote-mark"><a href="#fn15x0" id="fn15x0-bk"><sup class="textsuperscript">15</sup></a></span><a id="x1-3004f15"></a>
  Notamment, d’autres possibilités, comme un dé cassé, sont généralement exclues des
  discussions probabilistes. Les physiciens n’oublient pas totalement ces possibilités ; cependant,
  elles ne sont pas équivalentes aux autres, elles sont rares et leurs fréquences dépendent du
  contexte ; par conséquent, il n’est pas simple de la prendre en compte.
</p>
<p class="indent">
  Les physiciens ont introduit plusieurs concepts d’aléatoire
  :.<span class="footnote-mark"><a href="#fn16x0" id="fn16x0-bk"><sup class="textsuperscript">16</sup></a></span><a id="x1-3007f16"></a>
  Malgré leur diversité, ils s’appuient tous sur le raisonnement exposé ci-dessus, à savoir une
  certaine forme de symétrie entre différentes possibilités prédéfinies. Par cette symétrie, ils
  définissent une métrique de l’aléatoire, appelée probabilités, qui détermine les
  statistiques attendues du phénomène d’intérêt lorsqu’il peut être itéré. Dans la
  théorie de Kolmogorov, la théorie habituelle actuelle des probabilités, et dans les
  cadres quantiques, un événement rompt cette symétrie pour entraîner un résultat
  particulier. Il est essentiel que de tels événements aléatoires "ajoutent" quelque
  chose à la description mathématique d’un phénomène, la singularisation d’un
  résultat parmi plusieurs possibilités. En ce sens, il existe un lien entre l’aléatoire et la
  nouveauté.
</p>
<p class="indent">
  La représentation de l’aléa biologique sous forme de mutation au niveau moléculaire suit
  directement la physique (ou les jeux de dés). À première vue, une substitution de nucléotides
  semble être un processus chimique aléatoire avec des probabilités fixes. Cependant, même à
  ce niveau moléculaire, la situation théorique n’est pas aussi simple. La fréquence des mutations
  dépend des enzymes correctrices et de leur inhibition contextuelle due aux processus
  évolutifs.<span class="footnote-mark"><a href="#fn17x0" id="fn17x0-bk"><sup class="textsuperscript">17</sup></a></span><a id="x1-3010f17"></a>
  En d’autres termes, les symétries biologiques ne sont pas robustes et, par conséquent, les
  probabilités sont contextuelles.
</p>
<p class="indent">
  Comme nous l’avons souligné dans l’introduction, le cœur du hasard biologique est la
  définition des variations comprises au-delà des aspects moléculaires des mutations.
  Présentons alors notre point de vue sur la biologie théorique. Contrairement aux théories de la
  physique, la biologie concerne principalement des objets historiques. En particulier, nous
  soutenons, avec d’autres, qu’un cadre théorique approprié pour la biologie, et singulièrement
  pour les variations biologiques, devrait tenir compte de l’évolution des espaces de
  possibilités.<span class="footnote-mark"><a href="#fn18x0" id="fn18x0-bk"><sup class="textsuperscript">18</sup></a></span><a id="x1-3013f18"></a>
  Notons qu’ici, changer les possibilités ne signifie pas simplement ajouter "plus du
  même", mais plutôt des possibilités dotées de propriétés et, donc, de relations
  différentes.
</p>
<p class="indent">
  Même s’il est raisonnablement simple d’implémenter ce genre de schéma mathématiquement et
  informatiquement,<span class="footnote-mark"><a href="#fn19x0" id="fn19x0-bk"><sup class="textsuperscript">19</sup></a></span><a id="x1-3019f19"></a>
  ce n’est pas du tout la même chose de l’implémenter théoriquement et épistémologiquement. En
  effet, la méthode théorique de la physique consiste d’abord à postuler ce qui est possible et
  ensuite à déterminer ce qui va se passer. Cette caractéristique va de pair avec sa structure
  hypothético-déductive. Alors, en physique, la validité des hypothèses concernant
  l’espace des possibilités est justifiée en prédisant théoriquement et empiriquement
  certains aspects du phénomène envisagé. Les modèles mathématiques visant à
  introduire de nouvelles possibilités reviennent généralement à la méthode de la
  physique en rendant ces nouvelles possibilités explicites avant qu’elles ne deviennent
  réelles dans le modèle. En ce sens, les modélisateurs supposent, pour des raisons
  méthodologiques, que les nouveaux possibles préexistent en tant que virtualité avant
  d’apparaître ou, en termes épistémologiques, que les nouveaux possibles peuvent
  être connues avant d’avoir une quelconque actualité. Cependant, du point de vue
  des phénomènes réels qui nous intéressent, ces hypothèses sont entièrement
  arbitraires et les modèles restent des modèles spéculatifs pour la même raison
  méthodologique.
</p>
<p class="indent">
  Une nouvelle épistémologie est nécessaire pour sortir de cette impasse. Dans notre travail,
  nous soutenons qu’au lieu d’expliquer les changements par l’invariance, comme en physique, la
  biologie nécessite de poser d’abord le changement et ensuite d’expliquer l’invariance <span class="ecti-1000">locale</span>. Nous
  appelons de tels invariants locaux <span class="ecti-1000">constraintes </span>et retravaillons l’autopoïèse, les systèmes
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mrow>
      <mo class="MathClass-open" stretchy="false">(</mo>
      <mi>M</mi>
      <mo class="MathClass-punc" stretchy="false">,</mo>
      <mi>R</mi>
      <mo class="MathClass-close" stretchy="false">)</mo>
    </mrow>
  </math> de Rosen et les
  cycles travail-contraintes de Kauffman en tant que clôture entre contraintes, par lesquels les contraintes
  d’un organisme contribuent mutuellement à se soutenir mutuellement en canalisant les processus de
  transformation.<span class="footnote-mark"><a href="#fn20x0" id="fn20x0-bk"><sup class="textsuperscript">20</sup></a></span><a id="x1-3022f20"></a>
  Cependant, les contraintes jouent un autre type de rôle causal puisqu’elles permettent également l’apparition de
  nouvelles contraintes.<span class="footnote-mark"><a href="#fn21x0" id="fn21x0-bk"><sup class="textsuperscript">21</sup></a></span><a id="x1-3025f21"></a>
  Par exemple, les mâchoires articulées ont permis l’apparition de toutes sortes de dents.
  L’"enablement" s’accompagne d’un fort degré d’imprévisibilité et donc d’aléatoire,
  puisque la nature même de ce qui peut apparaître est non seulement inconnaissable
  mais aussi non-préexprimable, c’est-à-dire que nous ne pouvons pas en dresser la
  liste.
</p>
<p class="indent">
  Néanmoins, nous soutenons que l’"enablement" fait partie du <span class="ecti-1000">genre </span>causal et est
  caractéristique de la causalité des processus véritablement historiques. Il peut sembler être
  un concept essentiellement négatif ; cependant, les résultats négatifs en mathématiques ou en
  sciences naturelles ouvrent souvent de nouvelles voies théoriques lorsque nous choisissons de nous
  appuyer sur eux au lieu de maintenir les approches préexistantes par une forme de
  déni.<span class="footnote-mark"><a href="#fn22x0" id="fn22x0-bk"><sup class="textsuperscript">22</sup></a></span><a id="x1-3028f22"></a>
  Tout d’abord, l’"enablement" peut être étudié de manière rétrospective. Par exemple, la
  classification phylogénétique des êtres vivants s’appuie sur l’émergence passée de
  nouveautés, spécifiquement des nouveautés partagées par une lignée, pour évaluer les
  généalogies.<span class="footnote-mark"><a href="#fn23x0" id="fn23x0-bk"><sup class="textsuperscript">23</sup></a></span><a id="x1-3031f23"></a>
  Deuxièmement, elle soulève la question de savoir ce que nous pouvons prédire de ces nouvelles
  possibilités et en quel sens de prédire. L’idée que les nouvelles contraintes sont globalement
  imprédictibles ne signifie pas qu’aucune d’entre elles ne peut être préétablie. Pour cela, de
  nouvelles méthodes doivent être conçues avec une épistémologie appropriée et
  contrôlée.
</p>

<h3 class="sectionHead" id="4----une-nouvelle-méthode-sappuyant-sur-la-variation-biologique">4 Une nouvelle méthode s’appuyant sur la variation biologique</h3>
<p class="noindent">
  Nous allons donner un exemple d’une méthode que nous développons dans ce sens. Cette
  méthode est la déconstruction de modèles mathématiques ; elle rappelle un peu la
  déconstruction chez Heidegger et Derrida, mais ses enjeux sont très différents. L’idée est de
  considérer un modèle ou une structure mathématique biologiquement pertinente et de le
  déconstruire, hypothèse par hypothèse, en recherchant à chaque étape la signification
  biologique possible de la négation de l’hypothèse considérée. D’un point de vue théorique,
  les régularités qui nous permettent de définir un modèle mathématique sont des
  contraintes, et elles peuvent changer, suivant ce que nous avons appelé le principe de
  variation.<span class="footnote-mark"><a href="#fn24x0" id="fn24x0-bk"><sup class="textsuperscript">24</sup></a></span><a id="x1-4001f24"></a>
  En déconstruisant l’objet mathématique, nous explorons certaines de ces variations — celles qui
  ne nécessitent pas d’hypothèses supplémentaires. Ces variations peuvent se rencontrer chez des
  espèces différentes, plus ou moins proches, ou être dues à la variabilité dans une même
  espèce.
</p>
<p class="indent">
  Donnons un exemple simple de la démarche de déconstruction d’une structure
  mathématique biologiquement pertinente et, plus précisément, d’une forme mathématique
  utilisée pour décrire des caractéristiques anatomiques. La structure épithéliale des
  glandes mammaires du rat est généralement décrite mathématiquement comme
  un arbre (axiomatisé mathématiquement comme un graphe acyclique et connexe).
  La négation des hypothèses construisant l’arbre en mathématique conduit à :
</p>
<div class="center">
  
  <div class="tabular">
    <table class="tabular" id="TBL-2" rules="groups">
      <colgroup id="TBL-2-1g">
        <col id="TBL-2-1"></col>
      </colgroup>
      <colgroup id="TBL-2-2g">
        <col id="TBL-2-2"></col>
      </colgroup>
      <tbody>
        <tr id="TBL-2-1-" style="vertical-align:baseline">
          <td class="td11" id="TBL-2-1-1" style="text-align:left;white-space:nowrap">Hypothèse et négation</td>
        </tr>
        <tr class="array-hline">
          <td></td>
          <td></td>
        </tr>
        <tr id="TBL-2-2-" style="vertical-align:baseline">
          <td class="td11" id="TBL-2-2-1" style="text-align:left;white-space:nowrap">Acyclique</td>
          <td class="td11" id="TBL-2-2-2" style="text-align:left;white-space:nowrap">Existence d’une boucle (en rouge)</td>
        </tr>
        <tr id="TBL-2-3-" style="vertical-align:baseline">
          <td class="td11" id="TBL-2-3-1" style="text-align:left;white-space:nowrap">connexe</td>
          <td class="td11" id="TBL-2-3-2" style="text-align:left;white-space:nowrap">Présence d’une partie détachée</td>
        </tr>
        <tr id="TBL-2-4-" style="vertical-align:baseline">
          <td class="td11" id="TBL-2-4-1" style="text-align:left;white-space:nowrap"></td>
          <td class="td11" id="TBL-2-4-2" style="text-align:left;white-space:nowrap">du conduit principal (en bleu)</td>
        </tr>
        <tr id="TBL-2-5-" style="vertical-align:baseline">
          <td class="td11" id="TBL-2-5-1" style="text-align:left;white-space:nowrap">Composé de nœuds et d’arêtes (graphe)</td>
          <td class="td11" id="TBL-2-5-2" style="text-align:left;white-space:nowrap">Présence de connexions ambiguës</td>
        </tr>
        <tr id="TBL-2-6-" style="vertical-align:baseline">
          <td class="td11" id="TBL-2-6-1" style="text-align:left;white-space:nowrap"></td>
          <td class="td11" id="TBL-2-6-2" style="text-align:left;white-space:nowrap">(jonction d’épithéliums mais</td>
        </tr>
        <tr id="TBL-2-7-" style="vertical-align:baseline">
          <td class="td11" id="TBL-2-7-1" style="text-align:left;white-space:nowrap"></td>
          <td class="td11" id="TBL-2-7-2" style="text-align:left;white-space:nowrap">pas de lumières)</td>
        </tr>
        <tr id="TBL-2-8-" style="vertical-align:baseline">
          <td class="td11" id="TBL-2-8-1" style="text-align:left;white-space:nowrap">Composé de nœuds et d’arêtes (graphique)</td>
          <td class="td11" id="TBL-2-8-2" style="text-align:left;white-space:nowrap">Pas d’arête définie (tumeur)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<figure class="figure"><a id="x1-40041"></a>

      <img alt="Exceptions à la structure d’arbre prévisible par la déconstruction de cette
structure dans le cas d’une glande mammaire de rate âgée de 21 jours."  src="deconstruct2.jpeg"  class="zoom"  />
 
  <figcaption class="caption"><span class="id">Figure 1: </span><span class="content"><span class="ecti-1000">Exceptions à la structure d’arbre prévisible par la déconstruction de cette
structure dans le cas d’une glande mammaire de rate âgée de 21 jours. </span>Un arbre est un
graphe acyclique, mais l’objet biologique contient un cycle. De même, un arbre est connexe
et on observe une structure épithéliale détachée de la structure principale.</span></figcaption>
</figure>
<p class="indent">
  Dans le cadre d’une seule expérience, nous disposons de preuves empiriques démontrant la
  pertinence biologique de chaque prédiction de la déconstruction, à l’exception toutefois de la
  dernière, les tumeurs, dont l’existence est bien connue par ailleurs. La figure <a href="#x1-40041">1</a> illustre deux de ces
  prédictions. Dans chaque cas, les variations ont des conséquences sur l’utilisation des arbres
  pour représenter l’objet biologique, et certaines quantités caractérisant les arbres deviennent
  mal définies. Il ne s’agit pas ici de dire que l’objet biologique est plus complexe que sa
  représentation mathématique, mais de dire que les variations biologiques peuvent
  échapper aux cadres mathématiques utilisés pour les représenter, pour des raisons
  de principe. Cette affirmation n’est pas seulement un résultat négatif mais nous
  permet d’introduire de nouveaux raisonnements pour faire de nouvelles prédictions. Plus
  précisément, la méthode ci-dessus vise à préétablir certaines variations plausibles au
  niveau d’un individu. Elles sont plausibles car elles sont proches de situations existantes
  et observées. Cette notion s’apparente aux possibilités adjacentes discutées par
  <a id="x1-4005"></a>Kauffman<span class="footnote-mark"><a href="#fn25x0" id="fn25x0-bk"><sup class="textsuperscript">25</sup></a></span><a id="x1-4006f25"></a> ;
  cependant, son utilisation technique est très différente puisqu’elle ne suppose pas de virtualités
  prédéfinies et vise plutôt à en trouver certaines. La méthode ne montre pas que les
  variations plausibles sont pour autant possibles ; une discussion biologique supplémentaire
  serait nécessaire pour augmenter leur plausibilité et, finalement, des observations sont
  nécessaires pour montrer une possibilité réelle (ce que nous fournissons dans notre
  exemple).
</p>
<h3 class="sectionHead" id="5----aspects-généraux-des-nouveaux-possibles-en-biologie">5 Aspects généraux des nouveaux possibles en biologie</h3>
<p class="noindent">
  Revenons à présent sur la notion générale de nouveaux possibles
  en biologie, en tant que composante fondamentale et aléatoire des
  variations.<span class="footnote-mark"><a href="#fn26x0" id="fn26x0-bk"><sup class="textsuperscript">26</sup></a></span><a id="x1-5001f26"></a>
  Pour définir précisément cette notion, précisons d’abord ce qu’est une possibilité de notre
  point de vue. Nous cherchons à nous éloigner de l’essentialisation des possibles et des espaces
  des possibles, c’est-à-dire à prendre les espaces et tous leurs points comme des choses qui
  existeraient par elles-mêmes. Par exemple, dans le cas simple de la position d’un objet sur
  une ligne droite, les possibles mathématiques sont insondables, et presque toutes les
  positions individuelles sont ineffables (il y a infiniment plus de nombres réels que de
  définitions de nombres réels <span class="ecti-1000">individuels </span>car les premiers sont indénombrables alors que les
  seconds sont dénombrables). Cependant, cette situation n’est pas véritablement un
  problème pour la physique car les mathématiciens et les physiciens peuvent comprendre
  toutes ces positions collectivement, par exemple, par une variable générique (souvent
  
  <math display="inline" xmlns="http://www.w3.org/1998/Math/MathML">
    <mi>x</mi>
  </math>) et une
  équation différentielle qui garde la même forme pour toutes les positions individuelles —
  ces dernières ne sont pas explicitées car le raisonnement opère sur des variables
  <span class="ecti-1000">génériques</span>.
</p>
<p class="indent">
  En général, nous soutenons que les possibles véritables pour un système sont des
  configurations pour lesquelles la détermination du système est explicite, et en physique, elle est
  typiquement effectuée par un raisonnement générique. Par exemple, la chute libre est un
  possible explicite car la trajectoire est essentiellement la même pour toutes les positions (elles
  suivent la même équation). De même, un état d’équilibre thermodynamique est bien défini
  parce que les propriétés macroscopiques qui déterminent le système, comme la
  température ou la pression, sont génériques. Dans le même ordre d’idées, les
  séquences d’ADN ont des propriétés chimiques génériques, certaines séquences
  pouvant être plus stables que d’autres, et, en ce sens, elles définissent des possibles
  chimiques.
</p>
<p class="indent">
  Cependant, les séquences d’ADN ne définissent pas les possibles biologiques car nous
  observons une diversité d’organisations biologiques associées. En effet, pour être une
  véritable possibilité, une configuration biologique doit faire partie d’une organisation qui la
  soutient. Les organisations déterminent la capacité d’un être vivant à perdurer dans le temps
  et déterminent donc, entre autres, le sort de ces séquences d’ADN. Les séquences d’ADN sont
  des possibilités locales, combinatoires (ici chimiques) ; nous les appelons pré-possibilités car
  elles peuvent être associées ou non à des possibilités biologiques, c’est-à-dire à des
  organisations viables dans un contexte donné. En ce sens, la méthode esquissée ci-dessus vise
  à trouver des pré-possibilités qui sont des possibles plausibles en effet réalisées
  empiriquement.
</p>
<p class="indent">
  Ensuite, les nouveaux possibles sont des résultats qui ne suivent pas une détermination
  générique donnée par la description initiale, et <span class="ecti-1000">a fortiori </span>ne sont pas des résultats
  génériques. Donnons un exemple pour montrer pourquoi cette définition est nécessaire. Nous
  pouvons mathématiser la trajectoire générée par des mutations neutres de l’ADN (mutations
  sans conséquences fonctionnelles) par un processus de marche aléatoire. Ce processus conduit à
  un résultat non générique (une séquence singulière) ; cependant, le processus de marche
  aléatoire est le même quelle que soit la séquence spécifique. Il n’est donc pas associé
  à l’apparition de nouvelles possibilités. En revanche, si des séquences spécifiques
  conduisaient à des changements dans le processus de marche aléatoire, avec l’apparition de
  chromosomes, de reproductions sexuelles, etc., alors elles seraient associées des changements
  dans les possibles matérialisés par de nouvelles quantités requises pour décrire ces
  caractéristiques.
</p>
<p class="indent">
  Nous soulignons que nous nous concentrons sur les relations causales, au sens large du terme,
  plutôt que sur l’espace des possibilités en tant qu’objet mathématique. La raison de cette
  position est que, d’un point de vue épistémologique, l’espace de description d’un
  objet et la description de sa détermination causale sont entrelacés et mutuellement
  dépendants, comme illustré ci-dessus. La clé des nouvelles possibilités est de savoir si une
  description générique est suffisante ou non pour comprendre le phénomène. L’espace
  mathématique peut changer sans l’apparition d’une nouvelle possibilité au sens fort. Par
  exemple, une pièce échange des particules avec son environnement, ce qui entraîne
  l’apparition de quantités supplémentaires pour décrire leurs positions et leurs vitesses.
  Cependant, ce processus ne représente pas de véritables nouvelles possibilités car les
  particules qui peuvent entrer sont du même type que celles déjà présentes dans le
  système et, par conséquent, les mêmes équations les décrivent : une description
  générique suffit à les subsumer. En revanche, les molécules biologiques peuvent faire
  des choses très diverses, des enzymes aux hormones ou aux moteurs moléculaires
  .
</p>
<p class="indent">
  Prenons un peu de recul par rapport à ces aspects un peu techniques. Les possibilités en
  biologie sont rendue possibles ("enabled") diachroniquement par les contraintes, mais elles sont
  aussi générées synchroniquement par celles-ci. Par exemple, les os d’un bras génèrent la
  possibilité de ses différentes positions et ont permis l’apparition de diverses griffes ainsi que
  d’outils humains — la différence entre la génération et l’"enablement" étant l’ouverture de
  nouvelles possibilités dans ce dernier cas. De plus, comme mentionné ci-dessus, les contraintes
  biologiques font partie d’une organisation qui les maintient et qu’elles contribuent à
  maintenir, par exemple, par le concept de clôture entre contraintes. Notez que ce concept
  ne signifie pas que les organisations sont statiques. Au contraire, l’"enablement" peut
  avoir lieu au niveau d’un individu. De plus, certaines contraintes, appelées contraintes
  propulsives, ne contribuent aux organisations qu’en permettant l’apparition de nouvelles
  contraintes.<span class="footnote-mark"><a href="#fn27x0" id="fn27x0-bk"><sup class="textsuperscript">27</sup></a></span><a id="x1-5004f27"></a>
  Par exemple, le mécanisme mutateur chez les bactéries les conduit à connaître davantage de
  mutations en cas de stress, entraînant ainsi une éventuelle mutation bénéfique en réponse
  à ce stress mais sans spécificité dans les mutations provoquées par ce mécanisme. Si nous
  passons du langage des contraintes à celui des possibilités, ce cadre implique que les
  possibilités, en biologie, sont activement soutenues par les organisations. Dans la dernière partie
  de ce chapitre, nous verrons que cela implique que les possibles peuvent également s’effondrer
  lorsque les organisations sont disrompues.
</p>

<h3 class="sectionHead" id="6----comment-le-hasard-fait-seffondrer-la-diversité-biologique">6 Comment le hasard fait s’effondrer la diversité biologique</h3>
<p class="noindent">
  En un mot, les possibilités biologiques apparaissent au fil du temps et sont activement soutenues.
  Il est essentiel pour la suite de la discussion que ce que nous appelons les nouveaux possibles soient
  singuliers ou, en un sens, spécifiques, par opposition aux situations génériques. Les
  possibilités biologiques sont des configurations spéciales (parmi les pré-possibilités), et leur
  spécificité correspond à la nature de leur contribution à une organisation. Par
  exemple, une enzyme peut remplir une fonction parce qu’elle possède une séquence
  spécifique.
</p>
<p class="indent">
  Remarquons maintenant que, dans la littérature scientifique récente, le terme " disruption "
  est un mot-clé de plus en plus utilisé pour décrire l’impact néfaste des activités humaines
  sur les organisations biologiques. Nous sommes en train de conceptualiser cette notion, et nous
  postulons qu’un aspect essentiel des disruptions en biologie est la randomisation des configurations
  spécifiques qui découlent de l’histoire et qui sont aussi des contributions spécifiques aux
  organisations.<span class="footnote-mark"><a href="#fn28x0" id="fn28x0-bk"><sup class="textsuperscript">28</sup></a></span><a id="x1-6001f28"></a>
</p>
<p class="indent">
  Fournissons deux exemples. Tout d’abord, considérons des écosystèmes où les plantes à
  fleurs et les pollinisateurs sont mutuellement dépendants. Leurs interactions nécessitent la
  synchronisation saisonnière de leur activité d’alimentation et de floraison, respectivement, afin
  que les plantes se reproduisent sexuellement et que les pollinisateurs ne meurent pas de faim. Il
  s’ensuit que les écosystèmes se trouvent dans une configuration singulière pour les périodes
  d’activité. Cependant, les différentes espèces utilisent différents indices pour démarrer leur
  activité, et ces indices sont affectés différemment par le changement climatique. Il s’ensuit que
  le changement climatique randomise les périodes d’activité, et puisque la situation initiale,
  singulière, est la condition de possibilité pour que les différentes espèces se maintiennent
  les unes les autres dans l’écosystème, certaines espèces sont en danger ou même
  disparaissent.<span class="footnote-mark"><a href="#fn29x0" id="fn29x0-bk"><sup class="textsuperscript">29</sup></a></span><a id="x1-6005f29"></a>
  Dans ce processus, une partie de l’espace des possibilités, ici les périodes d’activité des
  différentes espèces, s’effondre ; les dimensions de l’espace décrivant les espèces perdues
  disparaissent.
</p>
<p class="indent">
  Un deuxième exemple est donné par les perturbateurs endocriniens, qui est une situation
  similaire, bien que plus complexe. Des quantités spécifiques d’hormones à des moments précis du
  développement sont cruciales pour canaliser les processus de développement de la différenciation
  cellulaire, de la morphogenèse et de l’organogenèse conduisant à des adultes viables et
  fertiles.<span class="footnote-mark"><a href="#fn30x0" id="fn30x0-bk"><sup class="textsuperscript">30</sup></a></span><a id="x1-6009f30"></a>
  Les perturbateurs endocriniens randomisent l’action des hormones, donc le processus de
  développement issu de l’évolution. Ces perturbations entraînent une diminution des fonctions,
  comme la baisse du QI, l’obésité, la fertilité ou le cancer.
</p>
<p class="indent">
  Que signifie cette randomisation ? Les contraintes existantes définissent des pré-possibilités,
  par exemple, toutes les périodes d’activité possibles pour les espèces d’un écosystème ;
  cependant, seule une infime partie d’entre elles sont de véritables possibilités en raison de
  l’interdépendance des espèces. La randomisation consiste à passer du domaine étroit des
  pré-possibilités qui sont des possibilités (c’est-à-dire conformes à leurs propres conditions de
  possibilité) à un domaine plus vaste, où une partie de l’espace des possibilités n’est plus
  soutenue et disparaît donc. Cette randomisation est à la fois une interprétation et une
  spécification supplémentaire de ce que Bernard Stiegler a appelé l’augmentation de l’entropie
  biologique.<span class="footnote-mark"><a href="#fn31x0" id="fn31x0-bk"><sup class="textsuperscript">31</sup></a></span><a id="x1-6013f31"></a>
  En suivant le schéma de Boltzman, la randomisation en tant qu’augmentation de
  l’entropie signifie passer d’une partie d’un espace aux propriétés spécifiques à des
  propriétés plus génériques. En biologie, cependant, les propriétés spécifiques
  résultent de l’histoire et vont avec la viabilité. Ainsi, ce processus est principalement
  préjudiciable.
</p>
<p class="indent">
  En un sens, les mutations sont également un processus de ce type ; la plupart sont
  neutres, d’autres sont préjudiciables et quelques-unes contribuent aux fonctions. Les
  mutations illustrent l’idée suivant laquelle les nouvelles possibilités nécessitent une
  exploration des pré-possibilités, déstabilisant ainsi les organisations biologiques,
  trouvant ainsi quelques possibilités parmi elles. Enfin, les mutations apparaissent à un
  rythme suffisamment lent pour ne pas déstabiliser les populations, et les conséquences
  des mutations néfastes sont limitées par la sélection naturelle. Si les mutations
  étaient plus rapides qu’elles ne le sont, elles empêcheraient le rôle de l’ADN dans
  l’hérédité.
</p>
<p class="indent">
  L’analyse des disruptions n’est pas spécifique à celles d’origine anthropique, mais la
  caractéristique de l’époque actuelle est l’accélération et l’accumulation des disruptions. De
  nombreux êtres vivants, espèces ou écosystèmes ne peuvent y répondre en générant de
  nouvelles possibilités suffisamment rapidement pour compenser les disruptions. En d’autres
  termes, l’Anthropocène est, dans une large mesure, une course entre la randomisation
  destructrice des pré-possibilités biologiques existantes et l’apparition de nouvelles possibilités
  aléatoires, à tous les niveaux de l’organisation biologique.
</p>
<h3 class="likesectionHead" id="remerciements">Remerciements</h3>
<p class="noindent">Ce travail a été financé par la Fondation Cogito, subvention 19-111-R.</p>

<h3 class="sectionHead" id="references">Références</h3>
<dl class="thebibliography">
  <dt class="thebibliography" id="X0-unbounded"></dt>
  <dd class="thebibliography" id="bib-1">
    <p class="noindent">
      <a id="cite.0@unbounded"></a>Adams, Alyssa et al. “Formal Definitions of Unbounded Evolution and Innovation Reveal
      Universal Mechanisms for Open-Ended Evolution in Dynamical Systems”. In: <span class="ecti-1000">Scientific
Reports </span>7.1 (Dec. 2017). <span class="eccc1000-"><span class="small-caps">issn</span></span>: 2045-2322. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1038/s41598-017-00810-8"><span class="ectt-1000">10.1038/s41598-017-00810-8</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-anderson2008end"></dt>
  <dd class="thebibliography" id="bib-2">
    <p class="noindent">
      <a id="cite.0@anderson2008end"></a>Anderson, Chris. “The end of theory: The data deluge
      makes the scientific method obsolete”. In: <span class="ecti-1000">Wired magazine </span>16.7 (2008), pp. 16–07. <span class="eccc1000-"><span class="small-caps">url</span></span>:
      <a class="url" href="https://www.wired.com/2008/06/pb-theory/"><span class="ectt-1000">https://www.wired.com/2008/06/pb-theory/</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-bilberg"></dt>
  <dd class="thebibliography" id="bib-3">
    <p class="noindent">
      <a id="cite.0@bilberg"></a>Biberg, J. <span class="ecti-1000">Specimen Academicum de Oeconomia Naturae</span>. tr. fr. in Linné, L’équilibre
      de la nature, Vrin Paris 1972, p. 57-58. Upsala, 1749.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-Burkle1611"></dt>
  <dd class="thebibliography" id="bib-4">
    <p class="noindent">
      <a id="cite.0@Burkle1611"></a>Burkle, Laura A., John C. Marlin, and Tiffany M. Knight. “Plant-Pollinator Interactions
      over 120 Years: Loss of Species, Co-Occurrence, and Function”. In: <span class="ecti-1000">Science </span>339.6127
      (2013), pp. 1611–1615. <span class="eccc1000-"><span class="small-caps">issn</span></span>: 0036-8075. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1126/science.1232728"><span class="ectt-1000">10.1126/science.1232728</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-Colborn1993"></dt>
  <dd class="thebibliography" id="bib-5">
    <p class="noindent">
      <a id="cite.0@Colborn1993"></a>Colborn, T., F. S. vom Saal, and A. M. Soto. “Developmental effects of
      endocrine-disrupting chemicals in wildlife and humans”. eng. In: <span class="ecti-1000">Environmental health
perspectives </span>101.5 (Oct. 1993). PMC1519860[pmcid], pp. 378–384. <span class="eccc1000-"><span class="small-caps">issn</span></span>: 0091-6765. <span class="eccc1000-"><span class="small-caps">doi</span></span>:
      <a href="https://doi.org/10.1289/ehp.93101378"><span class="ectt-1000">10.1289/ehp.93101378</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-darwin1859origin"></dt>
  <dd class="thebibliography" id="bib-6">
    <p class="noindent"><a id="cite.0@darwin1859origin"></a>Darwin, Charles. <span class="ecti-1000">On the Origin of Species by Means of Natural Selection, or the
Preservation of Favoured Races in the Struggle for Life</span>. London: John Murray, 1859.</p>
  </dd>
  <dt class="thebibliography" id="X0-dawkins1986blind"></dt>
  <dd class="thebibliography" id="bib-7">
    <p class="noindent"><a id="cite.0@dawkins1986blind"></a>Dawkins, Richard. <span class="ecti-1000">The blind watchmaker: Why the evidence of evolution reveals a
universe without design</span>. WW Norton &amp; Company, 1986.</p>
  </dd>
  <dt class="thebibliography" id="X0-demeneix2014losing"></dt>
  <dd class="thebibliography" id="bib-8">
    <p class="noindent"><a id="cite.0@demeneix2014losing"></a>Demeneix, Barbara. <span class="ecti-1000">Losing Our Minds: How Environmental Pollution Impairs Human
Intelligence and Mental Health</span>. Oxford University Press, USA, 2014.</p>
  </dd>
  <dt class="thebibliography" id="X0-CAZZOLLAGATTI2018110"></dt>
  <dd class="thebibliography" id="bib-9">
    <p class="noindent">
      <a id="cite.0@CAZZOLLAGATTI2018110"></a>Gatti, Roberto Cazzolla et al. “Niche emergence as an autocatalytic process in the
      evolution of ecosystems”. In: <span class="ecti-1000">Journal of Theoretical Biology </span>454 (2018), pp. 110–117.
      <span class="eccc1000-"><span class="small-caps">issn</span></span>: 0022-5193. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1016/j.jtbi.2018.05.038"><span class="ectt-1000">10.1016/j.jtbi.2018.05.038</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-huneman2007understanding"></dt>
  <dd class="thebibliography" id="bib-10">
    <p class="noindent">
      <a id="cite.0@huneman2007understanding"></a>Huneman, Philippe. <span class="ecti-1000">Understanding purpose: Kant and the philosophy of biology</span>. Vol. 8.
      University Rochester Press, 2007.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-KantCritique"></dt>
  <dd class="thebibliography" id="bib-11">
    <p class="noindent">
      <a id="cite.0@KantCritique"></a>Kant, I. <span class="ecti-1000">Critique of judgment</span>. English translation: Pluhar, W. S., 1987. Hackett
      Publishing. Indianapolis. 1790. <span class="eccc1000-"><span class="small-caps">isbn</span></span>: 0872200256.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-doi:10.1063/1.4746038"></dt>
  <dd class="thebibliography" id="bib-12">
    <p class="noindent"><a id="cite.0@doi:10.1063/1.4746038"></a>Kapitaniak, M. et al. “The three-dimensional dynamics of the die throw”. In: <span class="ecti-1000">Chaos: An
Interdisciplinary Journal of Nonlinear Science </span>22.4 (2012), p. 047504. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1063/1.4746038"><span class="ectt-1000">10.1063/1.
4746038</span></a>.</p>
  </dd>
  <dt class="thebibliography" id="X0-kauf95"></dt>
  <dd class="thebibliography" id="bib-13">
    <p class="noindent"><a id="cite.0@kauf95"></a>Kauffman, S. A. <span class="ecti-1000">At Home in the Universe: The Search for the Laws of Self-Organization
and Complexity</span>. Oxford University Press, 1995.</p>
  </dd>
  <dt class="thebibliography" id="X0-kauffman2019world"></dt>
  <dd class="thebibliography" id="bib-14">
    <p class="noindent">
      <a id="cite.0@kauffman2019world"></a>Kauffman, Stuart A. <span class="ecti-1000">A World Beyond Physics: The Emergence and Evolution of Life</span>.
      New York: Oxford University Press, 2019.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-doi:10.1002/9781119452713.ch14"></dt>
  <dd class="thebibliography" id="bib-15">
    <p class="noindent">
      <a id="cite.0@doi:10.1002/9781119452713.ch14"></a>Lecointre, Guillaume. “The Boxes and their Content: What to Do with Invariants
      in Biology?” In: <span class="ecti-1000">Life Sciences, Information Sciences</span>. John Wiley &amp; Sons, Ltd, 2018.
      Chap. 14, pp. 139–152. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1002/9781119452713.ch14"><span class="ectt-1000">10.1002/9781119452713.ch14</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-lecointre2006tree"></dt>
  <dd class="thebibliography" id="bib-16">
    <p class="noindent"><a id="cite.0@lecointre2006tree"></a>Lecointre, Guillaume and Hervé Le Guyader. <span class="ecti-1000">The tree of life: a phylogenetic
classification</span>. Vol. 20. Harvard University Press, 2006.</p>
  </dd>
  <dt class="thebibliography" id="X0-longo2014"></dt>
  <dd class="thebibliography" id="bib-17">
    <p class="noindent">
      <a id="cite.0@longo2014"></a>Longo, G. and Maël Montévil. “Comparing Symmetries in Models and Simulations”.
      In: <span class="ecti-1000">Springer Handbook of Model-Based Science</span>. Ed. by M. Dorato, L. Magnani, and T.
      Bertolotti. Springer, May 2018, pp. 843–856. <span class="eccc1000-"><span class="small-caps">isbn</span></span>: 9783319808307. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1007/978-3-319-30526-4"><span class="ectt-1000">10.1007/978-
3-319-30526-4</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-longomont"></dt>
  <dd class="thebibliography" id="bib-18">
    <p class="noindent">
      <a id="cite.0@longomont"></a>— <span class="ecti-1000">Perspectives on Organisms: Biological time, symmetries and singularities</span>. Lecture
      Notes in Morphogenesis. Heidelberg: Springer, Jan. 2014. <span class="eccc1000-"><span class="small-caps">isbn</span></span>: 978-3-642-35937-8. <span class="eccc1000-"><span class="small-caps">doi</span></span>:
      <a href="https://doi.org/10.1007/978-3-642-35938-5"><span class="ectt-1000">10.1007/978-3-642-35938-5</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-longo2012b"></dt>
  <dd class="thebibliography" id="bib-19">
    <p class="noindent">
      <a id="cite.0@longo2012b"></a>Longo, G., Maël Montévil, and S. Kauffman. “No entailing laws, but enablement in
      the evolution of the biosphere”. In: <span class="ecti-1000">Genetic and Evolutionary Computation Conference</span>.
      GECCO’12. Philadelphia (PA, USA): ACM, July 2012. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1145/2330784.2330946"><span class="ectt-1000">10.1145/2330784.2330946</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-longo2012"></dt>
  <dd class="thebibliography" id="bib-20">
    <p class="noindent">
      <a id="cite.0@longo2012"></a>Longo, G. et al. “Is information a proper observable for biological organization?” In:
      <span class="ecti-1000">Progress in Biophysics and Molecular biology </span>109.3 (2012), pp. 108–114. <span class="eccc1000-"><span class="small-caps">issn</span></span>: 0079-6107.
      <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1016/j.pbiomolbio.2012.06.004"><span class="ectt-1000">10.1016/j.pbiomolbio.2012.06.004</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-Longo2019"></dt>
  <dd class="thebibliography" id="bib-21">
    <p class="noindent">
      <a id="cite.0@Longo2019"></a>Longo, Giuseppe. “Interfaces of Incompleteness”. In: <span class="ecti-1000">Systemics of Incompleteness and
Quasi-Systems</span>. Ed. by Gianfranco Minati, Mario R. Abram, and Eliano Pessa. Cham:
      Springer International Publishing, 2019, pp. 3–55. <span class="eccc1000-"><span class="small-caps">isbn</span></span>: 978-3-030-15277-2. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1007/978-3-030-15277-2_1"><span class="ectt-1000">10.
1007/978-3-030-15277-2_1</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-Loreto2016"></dt>
  <dd class="thebibliography" id="bib-22">
    <p class="noindent">
      <a id="cite.0@Loreto2016"></a>Loreto, Vittorio et al. “Dynamics on Expanding Spaces: Modeling the Emergence of
      Novelties”. In: <span class="ecti-1000">Creativity and Universality in Language</span>. Ed. by Mirko Degli Esposti,
      Eduardo G. Altmann, and François Pachet. Cham: Springer, 2016, pp. 59–83. <span class="eccc1000-"><span class="small-caps">isbn</span></span>:
      978-3-319-24403-7. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1007/978-3-319-24403-7_5"><span class="ectt-1000">10.1007/978-3-319-24403-7_5</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-disruptpol"></dt>
  <dd class="thebibliography" id="bib-23">
    <p class="noindent">
      <a id="cite.0@disruptpol"></a>Memmott, Jane et al. “Global warming and the disruption of plant–pollinator
      interactions”. In: <span class="ecti-1000">Ecology Letters </span>10.8 (2007), pp. 710–717. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1111/j.1461-0248.2007.01061.x"><span class="ectt-1000">10.1111/j.1461-
0248.2007.01061.x</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-chapterPA"></dt>
  <dd class="thebibliography" id="bib-24">
    <p class="noindent">
      <a id="cite.0@chapterPA"></a>Miquel, Paul-Antoine and Su-Young Hwang. “From physical to biological individuation”.
      In: <span class="ecti-1000">Progress in Biophysics and Molecular Biology </span>122.1 (2016), pp. 51–57. <span class="eccc1000-"><span class="small-caps">issn</span></span>:
      0079-6107. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1016/j.pbiomolbio.2016.07.002"><span class="ectt-1000">10.1016/j.pbiomolbio.2016.07.002</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-Monod"></dt>
  <dd class="thebibliography" id="bib-25">
    <p class="noindent"><a id="cite.0@Monod"></a>Monod, J. <span class="ecti-1000">Le hasard et la nécessité</span>. Seuil, Paris, 1970.</p>
  </dd>
  <dt class="thebibliography" id="X0-2021-Montevil-episteme-computational-empiricism"></dt>
  <dd class="thebibliography" id="bib-26">
    <p class="noindent">
      <a id="cite.0@2021-Montevil-episteme-computational-empiricism"></a>Montevil, M. “Computational empiricism :
      the reigning épistémè of the sciences”. In: <span class="ecti-1000">Philosophy World Democracy </span>(July 2021).
      <span class="eccc1000-"><span class="small-caps">url</span></span>: <a class="url" href="https://www.philosophy-world-democracy.org/computational-empiricism"><span class="ectt-1000">https://www.philosophy-world-democracy.org/computational-empiricism</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-montevildisruptionpp"></dt>
  <dd class="thebibliography" id="bib-27">
    <p class="noindent">
      <a id="cite.0@montevildisruptionpp"></a>Montévil, Maël. “Disruption of biological processes in the Anthropocene: the case of
      phenological mismatch”. In: (submitted). <span class="eccc1000-"><span class="small-caps">url</span></span>:
      <a class="url" href="https://hal.archives-ouvertes.fr/hal-03574022"><span class="ectt-1000">https://hal.archives-ouvertes.fr/hal-03574022</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-montevilentropy"></dt>
  <dd class="thebibliography" id="bib-28">
    <p class="noindent"><a id="cite.0@montevilentropy"></a>— “Entropies and the Anthropocene crisis”. In: <span class="ecti-1000">AI and society </span>(May 2021). <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1007/s00146-021-01221-0"><span class="ectt-1000">10.
1007/s00146-021-01221-0</span></a>.</p>
  </dd>
  <dt class="thebibliography" id="X0-novelty2017"></dt>
  <dd class="thebibliography" id="bib-29">
    <p class="noindent">
      <a id="cite.0@novelty2017"></a>— “Possibility spaces and the notion of novelty: from music to biology”. In: <span class="ecti-1000">Synthese</span>
      196.11 (Nov. 2019), pp. 4555–4581. <span class="eccc1000-"><span class="small-caps">issn</span></span>: 1573-0964. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1007/s11229-017-1668-5"><span class="ectt-1000">10.1007/s11229-017-1668-5</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-Montevil2015c"></dt>
  <dd class="thebibliography" id="bib-30">
    <p class="noindent">
      <a id="cite.0@Montevil2015c"></a>Montévil, Maël and Matteo Mossio. “Biological organisation as closure of constraints”.
      In: <span class="ecti-1000">Journal of Theoretical Biology </span>372 (May 2015), pp. 179–191. <span class="eccc1000-"><span class="small-caps">issn</span></span>: 0022-5193. <span class="eccc1000-"><span class="small-caps">doi</span></span>:
      <a href="https://doi.org/10.1016/j.jtbi.2015.02.029"><span class="ectt-1000">10.1016/j.jtbi.2015.02.029</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-momoidentity2019"></dt>
  <dd class="thebibliography" id="bib-31">
    <p class="noindent">
      <a id="cite.0@momoidentity2019"></a>— “The Identity of Organisms in Scientific Practice: Integrating Historical and
      Relational Conceptions”. In: <span class="ecti-1000">Frontiers in Physiology </span>11 (June 2020), p. 611. <span class="eccc1000-"><span class="small-caps">issn</span></span>:
      1664-042X. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.3389/fphys.2020.00611"><span class="ectt-1000">10.3389/fphys.2020.00611</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-chaptervariation"></dt>
  <dd class="thebibliography" id="bib-32">
    <p class="noindent">
      <a id="cite.0@chaptervariation"></a>Montévil, Maël et al. “Theoretical principles for biology: Variation”. In: <span class="ecti-1000">Progress in
Biophysics and Molecular Biology </span>122.1 (Aug. 2016), pp. 36–50. <span class="eccc1000-"><span class="small-caps">issn</span></span>: 0079-6107. <span class="eccc1000-"><span class="small-caps">doi</span></span>:
      <a href="https://doi.org/10.1016/j.pbiomolbio.2016.08.005"><span class="ectt-1000">10.1016/j.pbiomolbio.2016.08.005</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-Paley"></dt>
  <dd class="thebibliography" id="bib-33">
    <p class="noindent"><a id="cite.0@Paley"></a>Paley, William. <span class="ecti-1000">Natural Theology: or, Evidences of the Existence and Attributes of the
Deity</span>. London: J. Faulder, 1802.</p>
  </dd>
  <dt class="thebibliography" id="X0-soros2014identifying"></dt>
  <dd class="thebibliography" id="bib-34">
    <p class="noindent">
      <a id="cite.0@soros2014identifying"></a>Soros, LB and Kenneth O Stanley. “Identifying necessary conditions for open-ended
      evolution through the artificial life world of chromaria”. In: <span class="ecti-1000">ALIFE 14: The Fourteenth
Conference on the Synthesis and Simulation of Living Systems</span>. Vol. 14. 2014,
      pp. 793–800. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.7551/978-0-262-32621-6-ch128"><span class="ectt-1000">10.7551/978-0-262-32621-6-ch128</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-stiegler2018neganthropocene"></dt>
  <dd class="thebibliography" id="bib-35">
    <p class="noindent"><a id="cite.0@stiegler2018neganthropocene"></a>Stiegler, Bernard. <span class="ecti-1000">The neganthropocene</span>. Open Humanites Press, 2018.</p>
  </dd>
  <dt class="thebibliography" id="X0-TENAILLON200111"></dt>
  <dd class="thebibliography" id="bib-36">
    <p class="noindent">
      <a id="cite.0@TENAILLON200111"></a>Tenaillon, Olivier et al. “Second-order selection in bacterial evolution: selection acting
      on mutation and recombination rates in the course of adaptation”. In: <span class="ecti-1000">Research in
Microbiology </span>152.1 (2001), pp. 11–16. <span class="eccc1000-"><span class="small-caps">issn</span></span>: 0923-2508. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1016/S0923-2508(00)01163-3"><span class="ectt-1000">10.1016/S0923-2508(00)
01163-3</span></a>.
    </p>
  </dd>
  <dt class="thebibliography" id="X0-doi:10.1080/03080188.2020.1795803"></dt>
  <dd class="thebibliography" id="bib-37">
    <p class="noindent">
      <a id="cite.0@doi:10.1080/03080188.2020.1795803"></a>Walsh, D. M. “Action, program, metaphor”. In: <span class="ecti-1000">Interdisciplinary Science Reviews </span>45.3
      (2020), pp. 344–359. <span class="eccc1000-"><span class="small-caps">doi</span></span>: <a href="https://doi.org/10.1080/03080188.2020.1795803"><span class="ectt-1000">10.1080/03080188.2020.1795803</span></a>.
    </p>
  </dd>
</dl>
<div class="footnotes">
  <p>
    <a href="#kt-1" id="tk-1"><span class="thank-mark"><span class="tcrm-1000">∗</span></span></a><a class="url" href="https://montevil.org"><span class="ectt-1000">https://montevil.org</span></a> Institut de Recherche et d’Innovation, Centre Pompidou; IHPST,
    Université Paris 1 and Centre Cavaillès, UAR 3608 République des Savoirs, ÉNS and
    CNRS.
  </p><a id="x1-1002x1"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn1x0-bk" id="fn1x0"><sup class="textsuperscript">1</sup></a></span><a id="x1-1003"></a><a id="cite.0:f:1:anderson2008end"></a><span class="ecrm-0800">Chris Anderson. “The end of theory: The data deluge makes the scientific method obsolete”. In: </span><span class="ecti-0800">Wired
magazine </span><span class="ecrm-0800">16.7 (2008), pp. 16–07. </span><span class="eccc0800-"><span class="small-caps">url</span></span><span class="ecrm-0800">: </span><a class="url" href="https://www.wired.com/2008/06/pb-theory/"><span class="ectt-0800">https://www.wired.com/2008/06/pb-theory/</span></a><span class="ecrm-0800">.</span></p><a id="x1-1005x1"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn2x0-bk" id="fn2x0"><sup class="textsuperscript">2</sup></a></span><a id="x1-1006"></a><a id="cite.0:f:1:2021-Montevil-episteme-computational-empiricism"></a><span class="ecrm-0800">M. Montévil. “Computational empiricism : the reigning épistémè of the sciences”. In: </span><span class="ecti-0800">Philosophy World
Democracy </span><span class="ecrm-0800">(July 2021). </span><span class="eccc0800-"><span class="small-caps">url</span></span><span class="ecrm-0800">: </span><a class="url" href="https://www.philosophy-world-democracy.org/computational-empiricism"><span class="ectt-0800">https://www.philosophy-world-democracy.org/computational-empiricism</span></a><span class="ecrm-0800">.</span></p><a id="x1-2002x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn3x0-bk" id="fn3x0"><sup class="textsuperscript">3</sup></a></span><a id="x1-2003"></a><a id="cite.0:f:1:bilberg"></a><span class="ecrm-0800">J. Biberg. </span><span class="ecti-0800">Specimen Academicum de Oeconomia Naturae</span><span class="ecrm-0800">. tr. fr. in Linné, L’équilibre de la nature, Vrin
Paris 1972, p. 57-58. Upsala, 1749, p. 1.</span></p><a id="x1-2005x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn4x0-bk" id="fn4x0"><sup class="textsuperscript">4</sup></a></span><a id="x1-2006"></a><a id="cite.0:f:1:Paley"></a><span class="ecrm-0800">William Paley. </span><span class="ecti-0800">Natural Theology: or, Evidences of the Existence and Attributes of the Deity</span><span class="ecrm-0800">. London: J.
Faulder, 1802, p. 1.</span></p><a id="x1-2008x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn5x0-bk" id="fn5x0"><sup class="textsuperscript">5</sup></a></span><a id="x1-2009"></a><a id="cite.0:f:1:KantCritique"></a><span class="ecrm-0800">I. Kant. </span><span class="ecti-0800">Critique of judgment</span><span class="ecrm-0800">. English translation: Pluhar, W. S., 1987. Hackett Publishing. Indianapolis.
1790. </span><span class="eccc0800-"><span class="small-caps">isbn</span></span><span class="ecrm-0800">: 0872200256.</span></p><a id="x1-2011x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn6x0-bk" id="fn6x0"><sup class="textsuperscript">6</sup></a></span><a id="x1-2012"></a><a id="cite.0:f:1:huneman2007understanding"></a><span class="ecrm-0800">Philippe Huneman. </span><span class="ecti-0800">Understanding purpose: Kant and the philosophy of biology</span><span class="ecrm-0800">. Vol. 8. University
Rochester Press, 2007.</span></p><a id="x1-2014x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn7x0-bk" id="fn7x0"><sup class="textsuperscript">7</sup></a></span><a id="x1-2015"></a><a id="cite.0:f:1:darwin1859origin"></a><span class="ecrm-0800">Charles Darwin. </span><span class="ecti-0800">On the Origin of Species by Means of Natural Selection, or the Preservation of Favoured
Races in the Struggle for Life</span><span class="ecrm-0800">. London: John Murray, 1859.</span></p><a id="x1-2018x2"></a>
  <p class="indent">
    <span class="footnote-mark"><a href="#fn8x0-bk" id="fn8x0"><sup class="textsuperscript">8</sup></a></span><a id="cite.0:f:1:doi:10.1002/9781119452713.ch14"></a><span class="ecrm-0800">Guillaume Lecointre. “The Boxes and their Content: What to Do with Invariants in Biology?” In:
</span><span class="ecti-0800">Life Sciences, Information Sciences</span><span class="ecrm-0800">. John Wiley &amp; Sons, Ltd, 2018. Chap. 14, pp. 139–152. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.1002/9781119452713.ch14"><span class="ectt-0800">10.1002/9781119452713.ch14</span></a><span class="ecrm-0800">.</span>
  </p><a id="x1-2020x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn9x0-bk" id="fn9x0"><sup class="textsuperscript">9</sup></a></span><a id="x1-2021"></a><a id="cite.0:f:1:lecointre2006tree"></a><span class="ecrm-0800">Guillaume Lecointre and Hervé Le Guyader. </span><span class="ecti-0800">The tree of life: a phylogenetic classification</span><span class="ecrm-0800">. Vol. 20.
Harvard University Press, 2006.</span></p><a id="x1-2023x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn10x0-bk" id="fn10x0"><sup class="textsuperscript">10</sup></a></span><a id="x1-2024"></a><a id="cite.0:f:1:Monod"></a><span class="ecrm-0800">J. Monod. </span><span class="ecti-0800">Le hasard et la nécessité</span><span class="ecrm-0800">. Seuil, Paris, 1970.</span></p><a id="x1-2026x2"></a>
  <p class="indent">
    <span class="footnote-mark"><a href="#fn11x0-bk" id="fn11x0"><sup class="textsuperscript">11</sup></a></span><a id="x1-2027"></a><a id="cite.0:f:1:longo2012"></a><span class="ecrm-0800">G. Longo et al. “Is information a proper observable for biological organization?” In: </span><span class="ecti-0800">Progress in Biophysics
and Molecular biology </span><span class="ecrm-0800">109.3 (2012), pp. 108–114. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 0079-6107. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1016/j.pbiomolbio.2012.06.004"><span class="ectt-0800">10.1016/j.pbiomolbio.2012.06.004</span></a><span class="ecrm-0800">;</span>
    <a id="x1-2028"></a><a id="cite.0:f:1:doi:10.1080/03080188.2020.1795803"></a><span class="ecrm-0800">D. M. Walsh. “Action, program, metaphor”. In: </span><span class="ecti-0800">Interdisciplinary Science Reviews </span><span class="ecrm-0800">45.3 (2020), pp. 344–359. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.1080/03080188.2020.1795803"><span class="ectt-0800">10.1080/03080188.2020.1795803</span></a><span class="ecrm-0800">.</span>
  </p><a id="x1-2030x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn12x0-bk" id="fn12x0"><sup class="textsuperscript">12</sup></a></span><a id="x1-2031"></a><a id="cite.0:f:1:soros2014identifying"></a><span class="ecrm-0800">LB Soros and Kenneth O Stanley. “Identifying necessary conditions for open-ended evolution through the
artificial life world of chromaria”. In: </span><span class="ecti-0800">ALIFE 14: The Fourteenth Conference on the Synthesis and Simulation of
Living Systems</span><span class="ecrm-0800">. Vol. 14. 2014, pp. 793–800. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.7551/978-0-262-32621-6-ch128"><span class="ectt-0800">10.7551/978-0-262-32621-6-ch128</span></a><span class="ecrm-0800">.</span></p><a id="x1-2033x2"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn13x0-bk" id="fn13x0"><sup class="textsuperscript">13</sup></a></span><a id="x1-2034"></a><a id="cite.0:f:1:dawkins1986blind"></a><span class="ecrm-0800">Richard Dawkins. </span><span class="ecti-0800">The blind watchmaker: Why the evidence of evolution reveals a universe without design</span><span class="ecrm-0800">.
WW Norton &amp; Company, 1986, p. 60.</span></p><a id="x1-3002x3"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn14x0-bk" id="fn14x0"><sup class="textsuperscript">14</sup></a></span><a id="x1-3003"></a><a id="cite.0:f:1:longo2014"></a><span class="ecrm-0800">G. Longo and Maël Montévil. “Comparing Symmetries in Models and Simulations”. In: </span><span class="ecti-0800">Springer
Handbook of Model-Based Science</span><span class="ecrm-0800">. Ed. by M. Dorato, L. Magnani, and T. Bertolotti. Springer, May 2018,
pp. 843–856. </span><span class="eccc0800-"><span class="small-caps">isbn</span></span><span class="ecrm-0800">: 9783319808307. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1007/978-3-319-30526-4"><span class="ectt-0800">10.1007/978-3-319-30526-4</span></a><span class="ecrm-0800">.</span></p><a id="x1-3005x3"></a>
  <p class="indent">
    <span class="footnote-mark"><a href="#fn15x0-bk" id="fn15x0"><sup class="textsuperscript">15</sup></a></span><span class="ecrm-0800">seulement dans une certaine mesure, voir</span><a id="x1-3006"></a> <a id="cite.0:f:1:doi:10.1063/1.4746038"></a><span class="ecrm-0800">M. Kapitaniak et al. “The three-dimensional dynamics of the die
throw”. In: </span><span class="ecti-0800">Chaos: An Interdisciplinary Journal of Nonlinear Science </span><span class="ecrm-0800">22.4 (2012), p. 047504. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.1063/1.4746038"><span class="ectt-0800">10.1063/1.4746038</span></a><span class="ecrm-0800">.</span>
  </p><a id="x1-3008x3"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn16x0-bk" id="fn16x0"><sup class="textsuperscript">16</sup></a></span><span class="ecrm-0800">voir</span><a id="x1-3009"></a> <span class="ecrm-0800">Longo and Montévil, </span><a href="#cite.0:f:1:longo2014"><span class="ecrm-0800">“Comparing Symmetries in Models and Simulations”</span></a><span class="ecrm-0800">, pour un
aperçu.</span></p><a id="x1-3011x3"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn17x0-bk" id="fn17x0"><sup class="textsuperscript">17</sup></a></span><a id="x1-3012"></a><a id="cite.0:f:1:TENAILLON200111"></a><span class="ecrm-0800">Olivier Tenaillon et al. “Second-order selection in bacterial evolution: selection acting on mutation and
recombination rates in the course of adaptation”. In: </span><span class="ecti-0800">Research in Microbiology </span><span class="ecrm-0800">152.1 (2001), pp. 11–16. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">:
0923-2508. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1016/S0923-2508(00)01163-3"><span class="ectt-0800">10.1016/S0923-2508(00)01163-3</span></a><span class="ecrm-0800">.</span></p><a id="x1-3014x3"></a>
  <p class="indent">
    <span class="footnote-mark"><a href="#fn18x0-bk" id="fn18x0"><sup class="textsuperscript">18</sup></a></span><a id="x1-3015"></a><a id="cite.0:f:1:longomont"></a><span class="ecrm-0800">G. Longo and Maël Montévil. </span><span class="ecti-0800">Perspectives on Organisms: Biological time, symmetries and
singularities</span><span class="ecrm-0800">. Lecture Notes in Morphogenesis. Heidelberg: Springer, Jan. 2014. </span><span class="eccc0800-"><span class="small-caps">isbn</span></span><span class="ecrm-0800">: 978-3-642-35937-8. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.1007/978-3-642-35938-5"><span class="ectt-0800">10.1007/978-3-642-35938-5</span></a><span class="ecrm-0800">; </span><a id="x1-3016"></a><a id="cite.0:f:1:CAZZOLLAGATTI2018110"></a><span class="ecrm-0800">Roberto Cazzolla Gatti et al. “Niche emergence as an autocatalytic process in the
evolution of ecosystems”. In: </span><span class="ecti-0800">Journal of Theoretical Biology </span><span class="ecrm-0800">454 (2018), pp. 110–117. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 0022-5193. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.1016/j.jtbi.2018.05.038"><span class="ectt-0800">10.1016/j.jtbi.2018.05.038</span></a><span class="ecrm-0800">; </span><a id="x1-3017"></a><a id="cite.0:f:1:Loreto2016"></a><span class="ecrm-0800">Vittorio Loreto et al. “Dynamics on Expanding Spaces: Modeling the Emergence of
Novelties”. In: </span><span class="ecti-0800">Creativity and Universality in Language</span><span class="ecrm-0800">. Ed. by Mirko Degli Esposti, Eduardo G. Altmann, and
François Pachet. Cham: Springer, 2016, pp. 59–83. </span><span class="eccc0800-"><span class="small-caps">isbn</span></span><span class="ecrm-0800">: 978-3-319-24403-7. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1007/978-3-319-24403-7_5"><span class="ectt-0800">10.1007/978-3-319-24403-7_5</span></a><span class="ecrm-0800">;</span>
    <a id="x1-3018"></a><a id="cite.0:f:1:kauffman2019world"></a><span class="ecrm-0800">Stuart A Kauffman. </span><span class="ecti-0800">A World Beyond Physics: The Emergence and Evolution of Life</span><span class="ecrm-0800">. New York: Oxford University
Press, 2019.</span>
  </p><a id="x1-3020x3"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn19x0-bk" id="fn19x0"><sup class="textsuperscript">19</sup></a></span><a id="x1-3021"></a><a id="cite.0:f:1:unbounded"></a><span class="ecrm-0800">Alyssa Adams et al. “Formal Definitions of Unbounded Evolution and Innovation Reveal Universal
Mechanisms for Open-Ended Evolution in Dynamical Systems”. In: </span><span class="ecti-0800">Scientific Reports </span><span class="ecrm-0800">7.1 (Dec. 2017). </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">:
2045-2322. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1038/s41598-017-00810-8"><span class="ectt-0800">10.1038/s41598-017-00810-8</span></a><span class="ecrm-0800">.</span></p><a id="x1-3023x3"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn20x0-bk" id="fn20x0"><sup class="textsuperscript">20</sup></a></span><a id="x1-3024"></a><a id="cite.0:f:1:Montevil2015c"></a><span class="ecrm-0800">Maël Montévil and Matteo Mossio. “Biological organisation as closure of constraints”. In: </span><span class="ecti-0800">Journal of
Theoretical Biology </span><span class="ecrm-0800">372 (May 2015), pp. 179–191. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 0022-5193. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1016/j.jtbi.2015.02.029"><span class="ectt-0800">10.1016/j.jtbi.2015.02.029</span></a><span class="ecrm-0800">.</span></p><a id="x1-3026x3"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn21x0-bk" id="fn21x0"><sup class="textsuperscript">21</sup></a></span><a id="x1-3027"></a><a id="cite.0:f:1:longo2012b"></a><span class="ecrm-0800">G. Longo, Maël Montévil, and S. Kauffman. “No entailing laws, but enablement in the evolution of the
biosphere”. In: </span><span class="ecti-0800">Genetic and Evolutionary Computation Conference</span><span class="ecrm-0800">. GECCO’12. Philadelphia (PA, USA): ACM,
July 2012. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1145/2330784.2330946"><span class="ectt-0800">10.1145/2330784.2330946</span></a><span class="ecrm-0800">.</span></p><a id="x1-3029x3"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn22x0-bk" id="fn22x0"><sup class="textsuperscript">22</sup></a></span><a id="x1-3030"></a><a id="cite.0:f:1:Longo2019"></a><span class="ecrm-0800">Giuseppe Longo. “Interfaces of Incompleteness”. In: </span><span class="ecti-0800">Systemics of Incompleteness and Quasi-Systems</span><span class="ecrm-0800">. Ed. by
Gianfranco Minati, Mario R. Abram, and Eliano Pessa. Cham: Springer International Publishing, 2019, pp. 3–55.
</span><span class="eccc0800-"><span class="small-caps">isbn</span></span><span class="ecrm-0800">: 978-3-030-15277-2. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1007/978-3-030-15277-2_1"><span class="ectt-0800">10.1007/978-3-030-15277-2_1</span></a><span class="ecrm-0800">.</span></p><a id="x1-3032x3"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn23x0-bk" id="fn23x0"><sup class="textsuperscript">23</sup></a></span><a id="x1-3033"></a><span class="ecrm-0800">Lecointre and Le Guyader, </span><a href="#cite.0:f:1:lecointre2006tree"><span class="ecti-0800">The tree of life: a phylogenetic classification</span></a><span class="ecrm-0800">.</span></p><a id="x1-4002x4"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn24x0-bk" id="fn24x0"><sup class="textsuperscript">24</sup></a></span><a id="x1-4003"></a><a id="cite.0:f:1:chaptervariation"></a><span class="ecrm-0800">Maël Montévil et al. “Theoretical principles for biology: Variation”. In: </span><span class="ecti-0800">Progress in Biophysics and
Molecular Biology </span><span class="ecrm-0800">122.1 (Aug. 2016), pp. 36–50. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 0079-6107. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1016/j.pbiomolbio.2016.08.005"><span class="ectt-0800">10.1016/j.pbiomolbio.2016.08.005</span></a><span class="ecrm-0800">.</span></p><a id="x1-4007x4"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn25x0-bk" id="fn25x0"><sup class="textsuperscript">25</sup></a></span><a id="cite.0:f:1:kauf95"></a><span class="ecrm-0800">S. A. Kauffman. </span><span class="ecti-0800">At Home in the Universe: The Search for the Laws of Self-Organization and Complexity</span><span class="ecrm-0800">.
Oxford University Press, 1995.</span></p><a id="x1-5002x5"></a>
  <p class="indent">
    <span class="footnote-mark"><a href="#fn26x0-bk" id="fn26x0"><sup class="textsuperscript">26</sup></a></span><span class="ecrm-0800">une discussion détaillée peut être trouvée dans</span><a id="x1-5003"></a> <a id="cite.0:f:1:novelty2017"></a><span class="ecrm-0800">Maël Montévil. “Possibility spaces and the notion of
novelty: from music to biology”. In: </span><span class="ecti-0800">Synthese </span><span class="ecrm-0800">196.11 (Nov. 2019), pp. 4555–4581. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 1573-0964. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.1007/s11229-017-1668-5"><span class="ectt-0800">10.1007/s11229-017-1668-5</span></a><span class="ecrm-0800">.</span>
  </p><a id="x1-5005x5"></a>
  <p class="indent">
    <span class="footnote-mark"><a href="#fn27x0-bk" id="fn27x0"><sup class="textsuperscript">27</sup></a></span><a id="x1-5006"></a><a id="cite.0:f:1:chapterPA"></a><span class="ecrm-0800">Paul-Antoine Miquel and Su-Young Hwang. “From physical to biological individuation”. In: </span><span class="ecti-0800">Progress in
Biophysics and Molecular Biology </span><span class="ecrm-0800">122.1 (2016), pp. 51–57. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 0079-6107. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1016/j.pbiomolbio.2016.07.002"><span class="ectt-0800">10.1016/j.pbiomolbio.2016.07.002</span></a><span class="ecrm-0800">;</span>
    <a id="x1-5007"></a><a id="cite.0:f:1:momoidentity2019"></a><span class="ecrm-0800">Maël Montévil and Matteo Mossio. “The Identity of Organisms in Scientific Practice: Integrating Historical and
Relational Conceptions”. In: </span><span class="ecti-0800">Frontiers in Physiology </span><span class="ecrm-0800">11 (June 2020), p. 611. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 1664-042X. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.3389/fphys.2020.00611"><span class="ectt-0800">10.3389/fphys.2020.00611</span></a><span class="ecrm-0800">.</span>
  </p><a id="x1-6002x6"></a>
  <p class="indent">
    <span class="footnote-mark"><a href="#fn28x0-bk" id="fn28x0"><sup class="textsuperscript">28</sup></a></span><a id="x1-6003"></a><a id="cite.0:f:1:montevilentropy"></a><span class="ecrm-0800">Maël Montévil. “Entropies and the Anthropocene crisis”. In: </span><span class="ecti-0800">AI and society </span><span class="ecrm-0800">(May 2021). </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.1007/s00146-021-01221-0"><span class="ectt-0800">10.1007/s00146-021-01221-0</span></a><span class="ecrm-0800">; </span><a id="x1-6004"></a><a id="cite.0:f:1:montevildisruptionpp"></a><span class="ecrm-0800">Maël Montévil. “Disruption of biological processes in the Anthropocene: the case
of phenological mismatch”. In: (submitted). </span><span class="eccc0800-"><span class="small-caps">url</span></span><span class="ecrm-0800">: </span><a class="url" href="https://hal.archives-ouvertes.fr/hal-03574022"><span class="ectt-0800">https://hal.archives-ouvertes.fr/hal-03574022</span></a><span class="ecrm-0800">.</span>
  </p><a id="x1-6006x6"></a>
  <p class="indent">
    <span class="footnote-mark"><a href="#fn29x0-bk" id="fn29x0"><sup class="textsuperscript">29</sup></a></span><a id="x1-6007"></a><a id="cite.0:f:1:disruptpol"></a><span class="ecrm-0800">Jane Memmott et al. “Global warming and the disruption of plant–pollinator interactions”. In:
</span><span class="ecti-0800">Ecology Letters </span><span class="ecrm-0800">10.8 (2007), pp. 710–717. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1111/j.1461-0248.2007.01061.x"><span class="ectt-0800">10.1111/j.1461-0248.2007.01061.x</span></a><span class="ecrm-0800">; </span><a id="x1-6008"></a><a id="cite.0:f:1:Burkle1611"></a><span class="ecrm-0800">Laura A. Burkle,
John C. Marlin, and Tiffany M. Knight. “Plant-Pollinator Interactions over 120 Years: Loss of Species,
Co-Occurrence, and Function”. In: </span><span class="ecti-0800">Science </span><span class="ecrm-0800">339.6127 (2013), pp. 1611–1615. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 0036-8075. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">:</span>
    <a href="https://doi.org/10.1126/science.1232728"><span class="ectt-0800">10.1126/science.1232728</span></a><span class="ecrm-0800">.</span>
  </p><a id="x1-6010x6"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn30x0-bk" id="fn30x0"><sup class="textsuperscript">30</sup></a></span><a id="x1-6011"></a><a id="cite.0:f:1:Colborn1993"></a><span class="ecrm-0800">T. Colborn, F. S. vom Saal, and A. M. Soto. “Developmental effects of endocrine-disrupting chemicals in
wildlife and humans”. eng. In: </span><span class="ecti-0800">Environmental health perspectives </span><span class="ecrm-0800">101.5 (Oct. 1993). PMC1519860[pmcid],
pp. 378–384. </span><span class="eccc0800-"><span class="small-caps">issn</span></span><span class="ecrm-0800">: 0091-6765. </span><span class="eccc0800-"><span class="small-caps">doi</span></span><span class="ecrm-0800">: </span><a href="https://doi.org/10.1289/ehp.93101378"><span class="ectt-0800">10.1289/ehp.93101378</span></a><span class="ecrm-0800">; </span><a id="x1-6012"></a><a id="cite.0:f:1:demeneix2014losing"></a><span class="ecrm-0800">Barbara Demeneix. </span><span class="ecti-0800">Losing Our Minds: How
Environmental Pollution Impairs Human Intelligence and Mental Health</span><span class="ecrm-0800">. Oxford University Press, USA,
2014.</span></p><a id="x1-6014x6"></a>
  <p class="indent"><span class="footnote-mark"><a href="#fn31x0-bk" id="fn31x0"><sup class="textsuperscript">31</sup></a></span><a id="x1-6015"></a><a id="cite.0:f:1:stiegler2018neganthropocene"></a><span class="ecrm-0800">Bernard Stiegler. </span><span class="ecti-0800">The neganthropocene</span><span class="ecrm-0800">. Open Humanites Press, 2018.</span></p>
</div>
