---
excerpt: "Quelle est aujourd'hui la pertinence des
concepts de Canguilhem pour la compréhension du vivant et l'action."
illust: cover.jpg
illustClass: darkFilter
date: 2024-03-23
tags: 
    - development
    - disruption 
    - closure
    - normativity
    - canguilhem
---
  

<p class="titleHead">Normativité et disruption du vivant dans
l’Anthropocène</p>
<p class="author">Maël Montévil<a href="#fn1" class="footnote-ref"
id="fnref1" role="doc-noteref"><sup>1</sup></a></p>
</header>

<h2 data-number="1" id="introduction"><span
class="header-section-number">1</span> Introduction</h2>
<p>Quatre-vingts ans après, le Normal et le Pathologique est une
référence majeure en philosophie mais qu’en est-il en biologie et en
médecine? Plus précisément quelle est aujourd’hui la pertinence des
concepts de Canguilhem dans la compréhension du vivant et l’action
concernant le vivant, qu’il s’agisse de la médecine ou des nouveaux
enjeux concernant la protection des écosystèmes ?</p>
<p>Rappelons que pour Canguilhem, la santé n’est pas le fait de
respecter une norme définie de manière extrinsèque à l’individu – norme
qui pourrait être saisie de manière statistique au niveau d’une
population. Au contraire, la santé pour Canguilhem est la capacité à
être normatif, c’est-à-dire à produire de nouvelles normes en réponse à
la maladie ou aux changements du milieu. Ceci suppose que la norme soit
individuelle, et donc qu’elle soit relationnelle comme le souligne Jean
Gayon <span class="citation" data-cites="gayon_concept_2000">(<a
href="#ref-gayon_concept_2000" role="doc-biblioref">Gayon
2000</a>)</span>. Aussi bien la question de l’individualité des normes,
que la pertinence du concept de normativité sont problématiques dans la
biologie et la médecine contemporaines, nous y reviendrons.</p>
<p>Pour ce qui est de l’action concernant le vivant, un nouvel enjeu
convoque la biologie à l’époque actuelle, que l’on appelle souvent
l’Anthropocène. Il s’agit de la sixième extinction de masse de
l’histoire de la Terre qu’un nombre croissant de scientifiques décrivent
<span class="citation"
data-cites="https://doi.org/10.1111/brv.12816">(<a
href="#ref-https://doi.org/10.1111/brv.12816"
role="doc-biblioref">Cowie, Bouchet, and Fontaine 2022</a>)</span>, et
plus généralement de la transformation, par les développements
technologiques, de l’ensemble des milieux des êtres vivants, y compris
les vivants humains, par les développements technologiques. La question
est alors celle des conséquences de ces transformations sur les êtres
vivants concernés – en première approximation, tous les êtres vivants.
Si le travail de Canguilhem dans le Normal et le Pathologique concerne
la médecine et la biologie dans son lien avec la médecine, nous allons
donc opérer aussi un déplacement pour discuter la pertinence de ses
concepts pour penser les nouveaux enjeux où les sciences de la vie
jouent un rôle central. Ce déplacement est significatif, mais il revêt
aussi une logique assez immédiate. Si le Normal et le Pathologique
traite de la santé humaine, l’Anthropocène affecte la santé de multiples
êtres vivants. Dès lors la question de la nature de la réponse des êtres
vivants face aux « infidélités du milieu », dans les termes de
Canguilhem <span class="citation" data-cites="canguilhem1972normal">(<a
href="#ref-canguilhem1972normal" role="doc-biblioref">Canguilhem 1972,
p130</a>)</span>, réapparaît avec de nouveaux enjeux.</p>
<p>Nous allons aborder la pertinence de certain aspects du travail de
Canguilhem à l’aune de la biologie théorique contemporaine. Pour ce
faire, nous allons aborder la question du caractère individuel, ou non,
des normes biologiques puis celle du concept de normativité à proprement
parlé. Ensuite nous allons aborder le nouvel enjeu de l’Anthropocène et
montrer la pertinence des concepts de Canguilhem à condition d’y faire
certains ajouts.</p>
<h2 data-number="2" id="individus-et-normes"><span
class="header-section-number">2</span> Individus et normes</h2>
<h3 data-number="2.1"
id="la-question-des-normes-comme-normes-individuelles"><span
class="header-section-number">2.1</span> La question des normes comme
normes individuelles</h3>
<p>Comme nous l’avons rappelé en introduction, dans la pensée de
Canguilhem « en matière de normes biologiques, c’est toujours à
l’individu qu’il faut se référer <span class="citation"
data-cites="canguilhem1972normal">(<a href="#ref-canguilhem1972normal"
role="doc-biblioref">Canguilhem 1972, p118</a>)</span> ». Si la norme
était populationnelle, alors la normativité ne saurait être la réponse à
la maladie. Elle existerait au mieux au niveau de la population. Par
contre, si la norme est individuelle, elle prend son sens dans les
relations au sein de l’organisme et entre l’organisme et son milieu,
elle est donc relationnelle.</p>
<p>Or, à l’opposé de la philosophie de Canguilhem, force est de
constater que la biologie et la médecine ont suivit un tournant
populationnel et statistique. En biologie, il s’agit tout d’abord du
« tournant phylogénétique » tel que décrit par Lenny Moss où « le
théâtre de l’adaptation est passé de celui des histoires de vie
individuelles, c’est-à-dire des ontogénies, à celui des populations sur
plusieurs générations, c’est-à-dire les phylogénies (nous traduisons)
<span class="citation" data-cites="moss2004genes">(<a
href="#ref-moss2004genes" role="doc-biblioref">Moss 2004</a>)</span> ».
Ce tournant, est celui de la synthèse moderne qui articula, entre les
années 30 et 50, la génétique et la théorie darwinienne en posant la
génétique des populations comme centrale. Ce domaine modélise
l’évolution comme ayant lieu dans une population à partir des dynamiques
génétiques : reproduction, mutation, migration, etc. et surtout comme
compétition entres différents variants génétiques dans une population.
Ce cadre a dominé la biologie lors de la deuxième moitié du XXième
siècle, notamment avec l’appui de la biologie moléculaire. Ce domaine
s’attache à comprendre comment l’ADN, entendu comme porteurs de
l’hérédité, détermine les êtres vivants par des interactions au niveau
moléculaire. Aussi, le point de vue dominant parmi les biologistes de la
deuxième moitié du XXième siècle est que les organismes sont déterminés
par leurs gènes, et suivent des normes inscrites dans les gènes
(téléonomie). Les variations, celle qui ont un sens au cours de
l’évolution, sont les mutations gardées par la selection naturelle,
phénomène essentiellement populationnel appréhendé par la génétique des
populations. Il en résulte que, parmi les philosophes de la biologie, la
définition de la notion de la plus est répandue est celle d’une
variation ayant été sélectionnée à cause de ses conséquences <span
class="citation" data-cites="godfrey1994modern">(<a
href="#ref-godfrey1994modern" role="doc-biblioref">Godfrey-Smith
1994</a>)</span>. Et, la sélection étant populationnelle, on observera
bien que suivant cette définition on ne peut parler de changements
fonctionnels nouveaux au niveau de l’individu, donc de normativité.</p>
<p>Le deuxième domaine ayant suivi un tournant populationnel est la
médecine, avec la médecine dite « par la preuve » qui a émergé à la fin
des années 80 et au début des années 90 <span class="citation"
data-cites="montevilpersomed">(<a href="#ref-montevilpersomed"
role="doc-biblioref">Montévil 2022</a>)</span>. Cette approche de la
médecine visait à dépasser la persistance de traitements considérés
comme bénéfiques alors qu’une enquête empirique plus précise montrait
que leurs effets sont en fait négatifs ou du moins que d’autres
approches étaient meilleures. Mais quelles sont donc ces enquêtes
empiriques qui constituent la preuve de la médecine par la preuve? Il
s’agit par excellence de l’essai randomisé en double aveugle,
c’est-à-dire d’un essai où la population de l’essai clinique est divisée
en un groupe recevant un placebo et un ou plusieurs groupes recevant des
traitements putatifs, les acteurs de l’essai ne sachant pas quel patient
est dans quel groupe. Le sens de cet essai est de créer les conditions
pour un test statistique à fin de montrer que le traitement est meilleur
qu’un placebo. Cependant, le sens probabiliste de cette méthode est
l’hypothèse sous-jacente que la réponse des patients suit une unique loi
de probabilité, de sorte qu’il s’agit bien d’appréhender des normes
collectives et non des normes individuelles. Dans la doctrine de la
médecine par la preuve, cependant il reste dans cette doctrine une
petite place pour les normes individuelles à travers « l’expérience du
médecin » – ce qui suppose implicitement que la pensée médicale ou
physiologique ne saurait être capable d’appréhender les cas individuels
au-delà de la simple « expérience », autrement dit que les normes comme
individuelles, et la normativité, ne sauraient être l’objet d’un savoir
théorique.</p>
<p>La biologie et la médecine ont donc connu une période réfractaire à
la pensée de Canguilhem. Il existe cependant une filière minoritaire en
biologie théorique où l’idée de norme individuelles retrouve un sens
central. Cette filière inclue le concept d’autopoïese de Maturana et
Varela <span class="citation" data-cites="Varela1974187">(<a
href="#ref-Varela1974187" role="doc-biblioref">Varela, Maturana, and
Uribe 1974</a>)</span>, les systèmes (M, R) de Rosen <span
class="citation" data-cites="rosen2005">(<a href="#ref-rosen2005"
role="doc-biblioref">Rosen 1991</a>)</span> et les ensembles
auto-catalytiques de Kauffman <span class="citation"
data-cites="stuart1993origins">(<a href="#ref-stuart1993origins"
role="doc-biblioref">Stuart A. Kauffman 1993</a>)</span>. Dans ces trois
approches, l’idée est de recentrer le regard sur l’organisme (ou la
cellule), abordé à travers une circularité causale constituant un tout
par la topologie des interactions. Le niveau de l’organisme se comprend
par le fait que chacune de ses partie contribue à en maintenir une autre
et réciproquement est maintenue par une ou plusieurs autres parties. Ces
approches permettent donc bien de comprendre les régularités biologiques
comme individuelles, car ce qui compte, dans ces perspectives, c’est la
circularité causale quelles qu’en soient les constituantes, bref, que
l’ensemble des parties tiennent ensemble. Nous avons contribué à cette
tradition en développant le concept de clôture entre contraintes, visant
à traiter certaines difficultés rencontrées avec les cadres antérieures
<span class="citation" data-cites="Montevil2015c">(<a
href="#ref-Montevil2015c" role="doc-biblioref">Montévil and Mossio
2015</a>)</span>. Ce cadre conduit aussi aux théories dites de
l’autonomie biologique, où les normes sont intrinsèques à l’être vivant
considéré <span class="citation" data-cites="matteobook">(<a
href="#ref-matteobook" role="doc-biblioref">Moreno and Mossio
2015</a>)</span>.</p>
<p>Notons que nous sommes passé ici du concept de norme, chez
Canguilhem, à celui de régularité, ou, dans notre vocabulaire, à celui
de contrainte. Les concepts de contrainte et de norme portent un enjeu
commun, celui d’une “loi” locale, limitée à un individu, mais le concept
de norme va au delà car il suppose, à notre sens, une polarité qui, dans
le cadre de la clôture entre contraintes, est construite par la clôture
et donc par une circularité. Néanmoins, une fois une clôture identifiée,
les contraintes participantes ne sont pas que des contraintes, et
peuvent être interprétées comme des normes <span class="citation"
data-cites="Tahar2022">(<a href="#ref-Tahar2022"
role="doc-biblioref">Tahar 2022</a>)</span>.</p>
<p>Ces cadres posent cependant en général une difficulté. Ils
interprètent l’organisation biologique comme, mathématiquement, un point
fixe, c’est-à-dire que l’organisation peut alors avoir ses normes, ou
ses régularités, propres, mais elle est conçue comme se maintenant
identiquement à elle-même, un maintien à l’identique qui signifie que le
concept de normativité leur est étranger. Le cadre de la clôture entre
contraintes vise notamment à surmonter cette limitation. Les contraintes
y sont conçues comme des régularités affectant des processus de
transformation, mais dont la validité est limitée dans le temps. La
clôture permet de comprendre comment ces régularités se maintiennent
collectivement et donc durent dans le temps. La clôture signifie
seulement qu’il y a une stabilisation et elle n’implique pas, cependant,
que ces contraintes vont effectivement durer et que la clôture soit
effectivement suffisante pour cela. Bien au contraire ce cadre permet
d’aborder comment certaines contraintes ont précisément comme rôle
d’engendrer des changements d’organisation, ce qui nous amène à la
question de la normativité <span class="citation"
data-cites="momoidentity2019">(<a href="#ref-momoidentity2019"
role="doc-biblioref">Montévil and Mossio 2020</a>)</span>.</p>
<h3 data-number="2.2" id="la-normativité"><span
class="header-section-number">2.2</span> La normativité</h3>
<p>Le concept de normativité est au centre du travail de Canguilhem.
Pour lui, « l’homme [en bonne santé] se sent plus que normal — c’est-à-
dire adapté à son milieu et à ses exigences — mais normatif, capable de
suivre de nouvelles normes de vie <span class="citation"
data-cites="canguilhem1972normal">(<a href="#ref-canguilhem1972normal"
role="doc-biblioref">Canguilhem 1972, p132</a>)</span> ». Comme nous
l’avons dit précédemment, le tournant phylogénétique a déplacé
l’agentivité des individus aux populations et a alors rejeté ou du moins
marginalisé l’analyse de possible normativités biologiques.</p>
<p>La situation a néanmoins changé dans les deux dernières décennies. Un
débat a été ouvert en biologie de l’évolution pour passer la synthèse
moderne à une synthèse dite étendue, embrassant une diversité de
phénomènes en décalage avec la synthèse moderne. Il s’agit par exemple
de la construction de niche :les êtres vivants ne s’adaptent pas
seulement à leurs milieux, ils les transforment, et ces transformations
sont transmises de génération en génération comme dans le cas des
barrages de castors. Les recherches sur l’hérédité dite épigénétique ont
aussi montré que, même au niveau moléculaire, l’ADN n’est pas le seul
support de l’hérédité. Enfin, le domaine de l’évo-dévo a émergé en
étudiant le couplage entre l’évolution et le développement, et en
montrant que la plasticité développementale est telle que les
innovations peuvent se produire au niveau de l’individu avant d’être
possiblement consolidées par des changements génétiques <span
class="citation" data-cites="Laland2014">(<a href="#ref-Laland2014"
role="doc-biblioref">Laland et al. 2014</a>)</span>. Les changements au
niveau de la théorie de l’évolution sont cependant très lents, de
nombreux biologistes sur la ligne de la synthèse moderne, l’ancienne
position, refusant même frontalement le débat <span class="citation"
data-cites="rethink">(<a href="#ref-rethink"
role="doc-biblioref">Buranyi 2022</a>)</span>.</p>
<p>Néanmoins, les débats autour de la synthèse moderne ont ré-ouvert la
question de ce que peut un corps et du rôle de la normativité dans
l’évolution et plus généralement en biologie. L’enjeu de ce débat n’est
pas seulement d’ajouter des mécanismes au cadre de la synthèse moderne,
comme le suggère à tort le nom de synthèse étendue, mais aussi de
réévalué le rôle des gènes dans la détermination des êtres vivants – le
concept de gène étant lui même particulièrement affaibli <span
class="citation" data-cites="fox2000century">(<a
href="#ref-fox2000century" role="doc-biblioref">Fox Keller
2002</a>)</span>. De ce point vu, un cas a été particulièrement débattu.
Il s’agit d’une chèvre née avec une paralysie des membres antérieurs.
Étant un animal domestique, sa survie a été facilitée, mais c’est sa
normativité qui a attiré l’attention <span class="citation"
data-cites="west2003developmental">(<a href="#ref-west2003developmental"
role="doc-biblioref">West-Eberhard 2003</a>)</span>. En effet, ne
pouvant se déplacer avec ses pattes antérieures, cette chèvre a réussi à
passer à un mode de locomotion bipède, sur ses pattes postérieures.
Après sa mort, la dissection a révélé des changements anatomiques
majeurs, notamment un redressement du bassin et une réorganisation des
muscles et des tendons rappelant l’anatomie humaine. La conclusion qui
en est tirée est que le développement est déterminé non seulement par
l’hérédité mais aussi par les activités du corps au cours de la vie et
que ces dernières peuvent engendrer des changements majeurs et
fonctionnels. Poussé jusqu’au bout, ce raisonnement nous conduit à
avancer l’hypothèse que la normativité est constitutive du
développement.</p>
<p>Le développement n’est pas le seul domaine où les capacités de
l’individu sont rééavaluées. Ainsi des expériences sur la levure montre
que, face à un changement de la régulation d’un gène essentiel à la
survie effectué par manipulation génétique, les cellules au lieu d’en
mourir, parvenait à réorganiser leur réseau de régulation génétique de
sorte à retrouver, au bout d’un temps, une croissance normale et ceci
sans mutation <span class="citation"
data-cites="10.1371/journal.pone.0111133">(<a
href="#ref-10.1371/journal.pone.0111133" role="doc-biblioref">Moore
2014</a>)</span>. À un tout autre niveau, des travaux récents
s’intéressent au rôle du comportement comme source d’innovation dans
l’évolution <span class="citation" data-cites="Tahar2023-TAHAIA">(<a
href="#ref-Tahar2023-TAHAIA" role="doc-biblioref">Tahar
2023</a>)</span>. Ainsi donc, le concept de normativité retrouve une
pertinence du niveau moléculaire jusqu’au niveau du développement et du
comportement. Étudier cette pertinence reste néanmoins minoritaire et
des travaux plus systématiques seraient les bienvenus.</p>
<p>La question de la normativité se pose aussi au niveau épistémologique
pour la biologie théorique. En effet, si la normativité est le fait de
pouvoir produire et suivre de nouvelles normes, nous avons certes abordé
la question de ce que signifie “norme” en nous appuyons sur les
approches organisationnelles, mais il reste à définir ce que signifie
nouveau. Dans les cas de la chèvre et de la levure, les nouveautés
exhibées sont claires car ils s’agit de cas extrêmes : la bipédie chez
la chèvre ne correspond à aucun caractère de leurs ancêtres et dans le
cas de la levure la perturbation génétique est d’une nature différente
des variations rencontrées dans leurs milieux ou par une simple
mutation. Mais, pour que la question de la normativité soit l’objet de
recherches plus systématiques, nous avons besoin d’une définition plus
précise de “nouveauté”, et capable d’aborder des cas moins extrêmes.</p>
<p>À cet égard, nous pouvons rapprocher la question de la normativité
d’une question émergente en biologie théorique, celle du possible et
plus précisément la question des nouveaux possibles. Cette question a,
en un sens, déjà été posée pas Bergson lorsqu’il défend que certaines
choses n’existent pas comme possible avant d’exister <span
class="citation" data-cites="bergson2014pensee">(<a
href="#ref-bergson2014pensee" role="doc-biblioref">Bergson [1934]
2014</a>)</span>. En biologie théorique, la question devient celle de
l’espace des possibles et des changements de cet espace <span
class="citation"
data-cites="longo2011c sarti2018differential kauffman2019world">(<a
href="#ref-longo2011c" role="doc-biblioref">Longo and Montévil 2011</a>;
<a href="#ref-sarti2018differential" role="doc-biblioref">Sarti, Citti,
and Piotrowski 2019</a>; <a href="#ref-kauffman2019world"
role="doc-biblioref">Stuart A. Kauffman 2019</a>)</span>. Ici il faut
préciser que la physique comprend typiquement les changements d’un objet
comme des déplacements dans un espace pré-donné, l’espace des états.
Parler de changement de l’espace des possibles et dire que ces
changements ne sont pas déductibles de la situation antérieure c’est
donc marquer une différence décisive entre la physique et la biologie,
ici sur la question de l’historicité. Nous avons contribué à cette
question de plusieurs manières, mentionnons ici une définition d’un sens
fort de nouveauté comme conséquence non-générique de la situation de
départ participant à une organisation, au sens de clôture entre
contraintes, du fait cette spécificité <span class="citation"
data-cites="novelty2017">(<a href="#ref-novelty2017"
role="doc-biblioref">Montévil 2019</a>)</span>. Cette définition est
très proche du concept de normativité car elle couple le concept de
contrainte participant à une organisation à celui de nouveauté. De plus,
ici, le concept de nouveauté de ne se réfère pas à l’histoire en général
mais à l’organisation concernée. Cependant remarquons que si la
nouveauté n’est pas une conséquence générique de la situation initiale,
alors elle n’a que peu de chances de se répéter – il n’est pas possible
de parler, par contre, de probabilité dès lors que le possible n’est pas
fixé.</p>
<p>Le cadre conceptuel de Canguilhem dans le Normal et le Pathologique a
donc subi un revers important dans la deuxième moitié du XXième siècle
avec la domination des approches populationnelles et en biologie des
approches génocentrées. Des courants minoritaires ont cependant
travaillé la question des normes biologiques entendues comme
individuelles, notamment en biologie théorique. D’autres chercheurs ont
fait réémerger la question de l’organisme et de ses capacités normatives
dans les différents champs de la biologie, du niveau moléculaire au
niveau évolutif. L’articulation des deux concepts est rare, mais elle
est activement travaillée.</p>
<h2 data-number="3" id="le-nouvel-enjeu-épochal"><span
class="header-section-number">3</span> Le nouvel enjeu épochal</h2>
<p>Comme annoncé lors de l’introduction, la question de la santé et de
la normativité, et donc la pertinence du travail de Canguilhem, est
reposée aujourd’hui par les nouveaux enjeux de ce qui est désigné
généralement comme l’Anthropocène et qui implique l’ensemble du
vivant.</p>
<p>Posons plus précisément le cadre de notre discussion. Ici, nous
abordons la question de l’Anthropocène comme un bouleversement des
milieux de vie par les développements technologiques. Ces
bouleversements affectent aussi bien les êtres vivants humains que non
humains, suivant des modalités diverses. Sous l’angle de l’effondrement
de la biodiversité, nous pouvons distinguer deux types de menaces. Il y
a d’un côté celles procédant de la destruction directe des vivants
concernés, par exemple par la surpêche, aussi bien que la destruction de
leurs habitats et dans ces cas, le <em>Normal et le Pathologique</em>
n’est pas immédiatement pertinent. Mais il y a aussi la désorganisation
des êtres vivants engendrée par les effets primaires ou secondaires des
technologies, et ici les concepts de Canguilhem sont particulièrement
intéressants. Les « infidélités du milieu » engendrées par les
technologies rendent pressente la compréhension des désorganisations du
vivant qu’elles engendrent, ainsi que la compréhension de la normativité
du vivant comme capacité à surmonter ces désorganisations, bref de la
santé au sens de Canguilhem.</p>
<p>Travaillons tout d’abord la question de ces infidélités du milieu.
Canguilhem introduit ce terme pour insister sur le fait que le milieu
d’un être vivant n’est pas les lois censément anhistoriques et
universelles de la physique mais est constitué d’éléments qui peuvent
changer plus ou moins rapidement. Il s’ensuit que le milieu d’un être
vivant peut changer, y compris sur des propritétés qui ont pu avoir une
certaine stabilité pendant l’ensemble de son temps de vie voire pendant
des millions d’années. Ces changements du milieu peuvent être
relativement mineurs, ne nécessitant pas de changements significatifs
d’organisation pour la survie. Dans ce cas, ils peuvent certes conduire
à un stress supplémentaire, mais comme l’être vivant affecté n’est pas
menacé à court terme, des changements d’organisation peuvent être
explorés en réponse. D’autres changements sont au contraire très
bénéfiques pour certaines espèces, ce qui peut toutefois désorganiser
les écosystèmes auxquelles elles participent. Enfin, des changements
sont particulièrement néfastes. En anglais, ils sont typiquement décrits
comme des <em>disruptions</em> – et ceci avant que le terme ne prenne un
autre sens en stratégie économique et parfois politique. Dans ces cas,
il y a typiquement une difficulté afin que les êtres vivants aient une
réponse normative. La notion de disruption n’a cependant pas été
systématiquement théorisée, travail auquel nous nous attelons.</p>
<p>Introduisons d’abord un exemple. La conférence de Wingspread,
organisée par Theo Colborn en 1991, a montré que derrière des phénomènes
observés dans la protection de la faune sauvage, en médecine et
expérimentalement en laboratoire, se trouvait un problème général. La
conférence a conduit à une déclaration commune développant le concept
d’<em>endocrine disruptor</em> (perturbateur endocrinien) <span
class="citation" data-cites="colborn1992consensus">(<a
href="#ref-colborn1992consensus" role="doc-biblioref">Colborn and
Clement 1991</a>)</span>. Plus tard, l’<em>Endocrine Society</em>
définit les perturbateurs endocriniens comme « une substance ou un
mélange de substances chimiques exogènes qui interfère avec n’importe
quel aspect de l’action hormonale (nous traduisons) <span
class="citation" data-cites="endocrinedisruptors">(<a
href="#ref-endocrinedisruptors" role="doc-biblioref">Zoeller et al.
2012</a>)</span> ». Comme pour la définition des carcinogènes,
l’objectif de cette définition est la catégorisation des substances
chimiques, ici comme perturbateur endocrinien, afin de traiter dans un
second temps l’analyse de risque à proprement parler. Cette dernière
demande des moyens adaptés à la catégorisation comme perturbateur
endocrinien et fait, de plus, intervenir le concept d’exposition. Pour
devenir opératoire, cette définition demande donc de faire appel aux
connaissances en endocrinologie.</p>
<p>Pour comprendre les perturbateurs endocriniens, il convient donc
d’expliquer brièvement ce qu’est un système endocrinien. Avec
l’apparition de la multicellularité, la régulation de l’activité des
différentes cellules constituant un organisme est devenu biologiquement
pertinente. Les systèmes endocriniens sont apparus : des organes
sécrètent des substances passant dans le système circulatoire et
régulant l’activité de cellules distantes. Les systèmes endocriniens
sont cruciaux pour le développement, car ce dernier implique une
certaine coordination des différentes parties de l’organisme en
formation. Dans ce contexte, l’introduction dans l’environnement de très
nombreuses nouvelles molécules par les industries chimiques pose
problème, car certaines d’entre elles interfèrent avec l’action des
hormones, donc avec ce qui contribue à réguler et coordonner les
différentes parties des organismes multicellulaires et en particulier
lors du développement. Ainsi, les molécules comprenant des membre de la
famille des halogènes comme l’iode ou le brome sont rare dans le vivant
à l’exception des hormones thyroïdiennes qui comprennent de l’iode. Le
développement par les industries chimique de molécules comprenant des
halogènes introduit donc quelque chose de particulièrement nouveau dans
les milieux biologiques et qui est particulièrement susceptible
d’interférer avec les hormones thyroïdiennes.</p>
<p>Or, lors du développement, les organes et les tissus se mettent en
place suivant des étapes relativement stéréotypées et suivant des
processus qui ne se répéteront pas lors de la vie. Dès lors, si ce
processus est altéré, ces altérations ont des conséquences durables
voire irréversibles. Le développement passant par des régulations
hormonales précises à des moments précis, l’interférence des
perturbateurs endocriniens va altérer ce développement. Les voies
particulièrement affectées sont les œstrogènes, et donc le développement
des caractères sexuels, et les hormones thyroïdiennes impliquée
notamment dans le développement cérébral.</p>
<p>Précisons un peu la situation conceptuelle. L’histoire évolutive a
produit des situations spécifiques ou singulières et qui sont
fonctionnelles par leurs spécificités, ici les régulations hormonales
lors du développement. Il y a disruption quand ce résultat de l’histoire
biologique est randomisé ou plus généralement éloigné de cette
singularité, ce qui conduit à une perte de fonctionnalité. Par exemple
le distilbène, perturbateur endocrinien œstrogénique, conduit à utérus
de forme différente, ce qui conduit à un risque important de grossesse
ectopique, c’est-à-dire en dehors de l’utérus, ainsi qu’à des risques de
cancer.</p>
<p>Discutons un autre exemple, le rapport entre plantes et pollinisateur
en écologie des populations, et la disruption de ces relations par le
changement climatique qui ont fait l’objet de modèles mathématiques
<span class="citation" data-cites="disruptpol">(<a
href="#ref-disruptpol" role="doc-biblioref">Memmott et al.
2007</a>)</span>. Dans un tel modèle, chaque plante a une période de
floraison et chaque pollinisateur a une période d’activité. Pour
survivre, chaque plante doit être pollinisée par au moins un
pollinisateur. De même, les pollinisateurs doivent avoir des plantes à
polliniser pendant toutes leurs périodes d’activité, faute de quoi ils
disparaissent. La situation initiale est particulière : toutes les
plantes et pollinisateurs sont dans une configuration viable, ce qui est
extrêmement rare parmi les configurations possibles. Cette rareté est un
enjeu épistémologique, car en modélisation rencontrer de valeurs
particulière des paramètres doit être expliqué, à tel point que cet
aspect méthodologique conduit à un problème en cosmologie appelé le
<em>fine tuning</em> des paramètres. En écologie, cette configuration
particulière est expliquée par l’histoire sous-jacente de ces
écosystèmes – et l’historicité entre donc en jeu de manière nécessaire
dans la modélisation. En même temps, la condition de viabilité pour les
plantes et pollinisateurs, et leurs réseaux d’interactions, conduit à
une analyse systémique, à un instant donné. Après un changement
climatique et les décalages phénologiques subséquents, un nombre
significatif de pollinisateurs et quelques plantes ne sont plus dans une
configuration viable, ce qui est révélé par l’analyse du modèle. Tout se
passe comme si la situation initiale, très particulière puisque toutes
les populations étaient viables, était transformée en une situation plus
aléatoire ou « quelconque » (au sens mathématique du terme, comme dans
la notion de triangle quelconque). Ici le phénomène décrit comme
disruption fait disparaître la particularité de la situation initiale.
De plus, cette particularité a un sens biologique : toutes les
populations sont viables. La disruption fait donc disparaître le
résultat très particulier de l’histoire naturelle au profit d’une
situation plus aléatoire, plus « quelconque » vis-à-vis de la viabilité
des populations, et ceci conduit dans notre exemple à l’effondrement de
nombreuses populations. Épistémologiquement, il s’agit donc d’un modèle
articulant des raisonnements historiques, à travers le caractère
non-générique de la situation initiale, et des raisonnements
relationnels, à travers les réseaux d’interaction <span class="citation"
data-cites="montevildisruptionpp">(<a href="#ref-montevildisruptionpp"
role="doc-biblioref">Montévil submitted</a>)</span>.</p>
<p>Nous voyons donc que le concept de disruption s’applique aussi à ce
niveau d’organisation : lorsqu’un résultat historique spécifique
contribue à la viabilité d’un système grâce à cette spécificité, la
disruption rend ce résultat aléatoire, diminuant ainsi la viabilité. Le
lecteur remarquera que notre concept de disruption correspond en fait à
l’effacement d’une nouveauté en un sens fort, tel que définie ci-dessus.
La disruption est donc, en un sens l’opposé de la normativité – à ceci
près qu’elle agit aussi et peut être surtout sur les normes issues de
l’évolution. Nous avons par ailleurs décrit des disruptions de second
ordre affectant non plus les nouveautés issues du passé et faisant parti
d’une organisation mais la capacité d’un être vivant à produire des
nouveautés fonctionnelles, bref sa normativité <span class="citation"
data-cites="montevilentropy">(<a href="#ref-montevilentropy"
role="doc-biblioref">Montévil 2021</a>)</span>.</p>
<p>Notons que si l’on considère les individus biologiques comme dotés de
capacités normatives, alors leur résilience est plus grande que dans la
perspective de la synthèse moderne, où les réponses à un nouveau
changement du milieu passent par des mutations et un processus de
sélection – processus particulièrement lent. Cependant, les disruptions
agissent typiquement sur des vulnérabilités issues de l’historicité du
vivant. Ceci signifie que sa capacité à répondre de manière normative
est amoindrie. De plus, la disruption étant l’effacement d’une nouveauté
passée, elle a intrinsèquement une dimension irréversible.
L’irréversibilité provient des propriétés du développement dans le cas
des perturbateurs endocriniens, nous l’avons abordé, et par la
disparition de populations dans le cas des écosystèmes. À ceci s’ajoute
le fait que les disruptions se cumulent dans l’Anthropocène. Par exemple
les pollinisateurs sont exposés aux pesticides en plus du changement
climatique. Or, note Canguilhem, « chaque maladie réduit le pouvoir
d’affronter les autres, use l’assurance biologique initiale sans
laquelle il n’y aurait pas même de vie <span class="citation"
data-cites="canguilhem1972normal">(<a href="#ref-canguilhem1972normal"
role="doc-biblioref">Canguilhem 1972, p118</a>)</span> ». Nous
argumentons qu’il en est des disruptions comme des maladies, de sorte
que le vivant se trouve particulièrement fragilisé. Tous ces aspects des
disruptions dans l’Anthropocène, c’est à dire vulnérabilité,
irréversibilité et accumulation, s’additionnent pour mettre en
difficulté les capacités normatives des êtres vivants.</p>
<h2 data-number="4" id="conclusions"><span
class="header-section-number">4</span> Conclusions</h2>
<p>Nous avons vu que le cadre conceptuel développé par Canguilhem dans
le Normal et le Pathologique a d’abord suivi un revers en biologie par
le tournant populationnelle suivit par la médecine et la biologie. Un
courant minoritaire en biologie théorique a cependant développé un cadre
dans lequel les normes sont bel et bien individuelles. La question de la
normativité, quant à elle, est explorée de manière croissante en même
temps que le cadre de la synthèse moderne décline – même si la
normativité n’est pas désignée ainsi et n’est d’ailleurs en général pas
développée conceptuellement. L’intégration entre ces deux aspects est
d’ailleurs un travail en cours.</p>
<p>Dans le contexte de l’Anthropocène, où l’ensemble du vivant voit ses
milieux changer du fait des dispositifs technologiques mis en place par
les être humains, le travail de Canguilhem est aussi pertinent. Notons
d’abord que si l’on envisage l’ensemble des êtres vivant comme dotés de
normativité, alors leur capacité à surmonter les infidélités du milieu
est beaucoup plus grande que si leur capacité à établir de nouvelles
normes passe par le schéma populationnel basé sur la mutation et la
sélection. Cependant, nous avons brièvement argumenté que les êtres
vivants possèdent des vulnérabilités particulières, qui correspondent au
fait qu’il sont le résultat singulier d’une histoire. Ces vulnérabilités
conduisent à la description par les biologistes de nombreuses
disruptions affectant les êtres vivants et que nous analysons comme
étant la randomisation du résultat spécifique d’une histoire, autrement
dit l’effacement de nouveautés fonctionnelles issue de l’histoire. La
réponse normative face à ces disruptions est rendu difficile notamment
lorsqu’elles comporte une irréversibilité particulière, affectant le
développement par exemple. Canguilhem décrit la santé comme une
assurance que la maladie vient plus ou moins épuiser. <em>Mutadis
mutandis</em>, l’accumulation de disruptions vient aussi limiter les
capacités des êtres vivants à surmonter la période actuelle.</p>
<p>Si une partie important de notre réaction face à la sixième
extinction de masse de l’histoire de la Terre doit consister à limiter
les destructions directes des êtres vivants ou de leurs habitats, il est
essentiel de travailler aussi la question de leurs disruptions, d’autant
que certaines, comme les perturbateurs endocriniens, affectent aussi les
êtres humains. Or, l’action vis-à-vis des disruptions demande des
connaissances biologiques plus poussées que l’action vis-à-vis des
destructions. En effet, les disruptions proviennent des vulnérabilités
des être vivants issues de leur histoire, comme la vulnérabilité face à
certaines substances chimiques telles que les perturbateurs
endocriniens. Avec de telles connaissances, il est possible de
« ménager » les êtres vivants, c’est-à-dire de limiter la vitesse à
laquelle ils sont exposés à des disruptions et de miser sur la
normativité au sens de Canguilhem et sur les processus évolutifs pour
répondre à ces changements des milieux. De ce point de vue, un des
enjeux de l’Anthropocène est le rapport entre la vitesse à laquelle les
disruptions se produisent et la vitesse à laquelle les êtres vivants
produisent des changements fonctionnels, donc sont normatifs, que cela
soit au niveau individuel ou populationnel.</p>
<p>À ce niveau, les êtres humains ont certains avantages car leurs
capacités à changer de normes pour surmonter certaines disruption passe
aussi par les savoirs, les comportements associés, et les changements
des dispositifs technologiques. Nous pouvons donc accélérer cette
normativité humaine. Ainsi, il y a une disruption du développement
cognitif et psychologique des jeunes enfants par la surutilisation des
écrans, en particulier mobile, qui amoindrissent la relation entre
adultes et enfants <span class="citation"
data-cites="mcbebe 2023-Montevil-disruption-developpement">(<a
href="#ref-mcbebe" role="doc-biblioref">Bossière 2021</a>; <a
href="#ref-2023-Montevil-disruption-developpement"
role="doc-biblioref">Montévil submitted</a>)</span>. Pour répondre à
cette disruption, nous, Bernard Stiegler, Marie-Claude Bossière et
moi-même, avons mis en place un travail collectif à Saint Denis, en
regroupant parents, professionnels et chercheurs <span class="citation"
data-cites="2023-Montevil-Stiegler-memory-future">(<a
href="#ref-2023-Montevil-Stiegler-memory-future"
role="doc-biblioref">Montévil 2024</a>)</span>. Alors, l’introduction de
considérations théoriques tant sur le développement de l’enfant que sur
ces technologies et leur économie accélère le développement de savoirs
limitants les disruptions engendrées par ces technologies, bref la
normativité humaine.</p>
<h2 class="unnumbered" id="bibliography">References</h2>

 <ol class="thebibliography">
<li class="bibitem" id="ref-bergson2014pensee" class="csl-entry" role="listitem">
Bergson, Henri. (1934) 2014. <em>La Pens<span>é</span>e Et Le
Mouvant</em>. Editions Flammarion.
</li>
<li class="bibitem" id="ref-mcbebe" class="csl-entry" role="listitem">
Bossière, Marie-Claude. 2021. <em>Le Bébé Au Temps Du Numérique</em>.
Paris: Hermann.
</li>
<li class="bibitem" id="ref-rethink" class="csl-entry" role="listitem">
Buranyi, Stephen. 2022. <span>“Do We Need a New Theory of
Evolution?”</span> <em>The Guardian</em>, June. <a
href="https://www.theguardian.com/science/2022/jun/28/do-we-need-a-new-theory-of-evolution2">https://www.theguardian.com/science/2022/jun/28/do-we-need-a-new-theory-of-evolution2</a>.
</li>
<li class="bibitem" id="ref-canguilhem1972normal" class="csl-entry" role="listitem">
Canguilhem, G. 1972. <em>Le Normal Et Le Pathologique</em>. Paris:
Presses Universitaires de France.
</li>
<li class="bibitem" id="ref-colborn1992consensus" class="csl-entry" role="listitem">
Colborn, T, and C Clement. 1991. <span>“Consensus Statement: Statement
from the Work Session on Chemically Induced Alterations in Sexual
Development: The Wildlife/Human Connection.”</span> Wingspread
Conference Center Racine, Wisconsin. <a
href="http://www.ourstolenfuture.com/consensus/wingspread1.htm">http://www.ourstolenfuture.com/consensus/wingspread1.htm</a>.
</li>
<li class="bibitem" id="ref-https://doi.org/10.1111/brv.12816" class="csl-entry"
role="listitem">
Cowie, Robert H., Philippe Bouchet, and Benoît Fontaine. 2022.
<span>“The Sixth Mass Extinction: Fact, Fiction or Speculation?”</span>
<em>Biological Reviews</em> 97 (2): 640–63. <a
href="https://doi.org/10.1111/brv.12816">https://doi.org/10.1111/brv.12816</a>.
</li>
<li class="bibitem" id="ref-fox2000century" class="csl-entry" role="listitem">
Fox Keller, E. 2002. <em>The Century of the Gene</em>. Harvard
University Press.
</li>
<li class="bibitem" id="ref-gayon_concept_2000" class="csl-entry" role="listitem">
Gayon, Jean. 2000. <span>“Le Concept d’individualité Dans La Philosophie
Biologique de <span>Georges</span> <span>Canguilhem</span>.”</span> In
<em>Lectures de <span>Canguilhem</span> : <span>Le</span> Normal Et Le
Pathologique</em>, edited by Guillaume Le Blanc, 19–47. Feuillets :
Économie Politique Moderne. Lyon: ENS Éditions. <a
href="https://doi.org/10.4000/books.enseditions.20020">https://doi.org/10.4000/books.enseditions.20020</a>.
</li>
<li class="bibitem" id="ref-godfrey1994modern" class="csl-entry" role="listitem">
Godfrey-Smith, Peter. 1994. <span>“A Modern History Theory of
Functions.”</span> <em>No<span>û</span>s</em> 28 (3): 344–62. <a
href="https://doi.org/10.2307/2216063">https://doi.org/10.2307/2216063</a>.
</li>
<li class="bibitem" id="ref-stuart1993origins" class="csl-entry" role="listitem">
Kauffman, Stuart A. 1993. <em>The Origins of Order: Self Organization
and Selection in Evolution</em>. New York: Oxford University Press.
</li>
<li class="bibitem" id="ref-kauffman2019world" class="csl-entry" role="listitem">
Kauffman, Stuart A. 2019. <em>A World Beyond Physics: The Emergence and
Evolution of Life</em>. New York: Oxford University Press.
</li>
<li class="bibitem" id="ref-Laland2014" class="csl-entry" role="listitem">
Laland, Kevin, Tobias Uller, Marc Feldman, Kim Sterelny, Gerd B. Müller,
Armin Moczek, Eva Jablonka, et al. 2014. <span>“Does Evolutionary Theory
Need a Rethink?”</span> <em>Nature</em> 514 (7521): 161–64. <a
href="https://doi.org/10.1038/514161a">https://doi.org/10.1038/514161a</a>.
</li>
<li class="bibitem" id="ref-longo2011c" class="csl-entry" role="listitem">
Longo, G., and M. Montévil. 2011. <span>“From Physics to Biology by
Extending Criticality and Symmetry Breakings.”</span> <em>Progress in
Biophysics and Molecular Biology</em> 106 (2): 340–47. <a
href="https://doi.org/10.1016/j.pbiomolbio.2011.03.005">https://doi.org/10.1016/j.pbiomolbio.2011.03.005</a>.
</li>
<li class="bibitem" id="ref-disruptpol" class="csl-entry" role="listitem">
Memmott, Jane, Paul G. Craze, Nickolas M. Waser, and Mary V. Price.
2007. <span>“Global Warming and the Disruption of Plant–Pollinator
Interactions.”</span> <em>Ecology Letters</em> 10 (8): 710–17. <a
href="https://doi.org/10.1111/j.1461-0248.2007.01061.x">https://doi.org/10.1111/j.1461-0248.2007.01061.x</a>.
</li>
<li class="bibitem" id="ref-montevildisruptionpp" class="csl-entry" role="listitem">
Montévil, Maël. submitted. <span>“Disruption of Biological Processes in
the Anthropocene: The Case of Phenological Mismatch,”</span> submitted.
<a
href="https://hal.archives-ouvertes.fr/hal-03574022">https://hal.archives-ouvertes.fr/hal-03574022</a>.
</li>
<li class="bibitem" id="ref-2023-Montevil-disruption-developpement" class="csl-entry"
role="listitem">
———. submitted. <span>“Disruptions Du Développement Humain.”</span> In
<em>L’humain Qui Vient</em>.
</li>
<li class="bibitem" id="ref-novelty2017" class="csl-entry" role="listitem">
———. 2019. <span>“Possibility Spaces and the Notion of Novelty: From
Music to Biology.”</span> <em>Synthese</em> 196 (11): 4555–81. <a
href="https://doi.org/10.1007/s11229-017-1668-5">https://doi.org/10.1007/s11229-017-1668-5</a>.
</li>
<li class="bibitem" id="ref-montevilentropy" class="csl-entry" role="listitem">
———. 2021. <span>“Entropies and the Anthropocene Crisis.”</span>
<em><span>AI</span> and Society</em>, May. <a
href="https://doi.org/10.1007/s00146-021-01221-0">https://doi.org/10.1007/s00146-021-01221-0</a>.
</li>
<li class="bibitem" id="ref-montevilpersomed" class="csl-entry" role="listitem">
———. 2022. <span>“Conceptual and Theoretical Specifications for Accuracy
in Medicine.”</span> In <em>Personalized Medicine in the Making:
Philosophical Perspectives from Biology to Healthcare</em>, edited by
Chiara Beneduce and Marta Bertolaso, 47–62. Human Perspectives in Health
Sciences and Technology. Springer International Publishing. <a
href="https://doi.org/10.1007/978-3-030-74804-3_3">https://doi.org/10.1007/978-3-030-74804-3_3</a>.
</li>
<li class="bibitem" id="ref-2023-Montevil-Stiegler-memory-future" class="csl-entry"
role="listitem">
———. 2024. <span>“Plaine Commune, Contributive Learning
Territory.”</span> In <em>Memories for the Future: Thinking with Bernard
Stiegler</em>, edited by Bart Buseyne, Georgios Tsagdis, and Paul
Willemarck. Bloomsbury. <a
href="https://www.bloomsbury.com/uk/bernard-stiegler-9781350410459/">https://www.bloomsbury.com/uk/bernard-stiegler-9781350410459/</a>.
</li>
<li class="bibitem" id="ref-Montevil2015c" class="csl-entry" role="listitem">
Montévil, Maël, and Matteo Mossio. 2015. <span>“Biological Organisation
as Closure of Constraints.”</span> <em>Journal of Theoretical
Biology</em> 372 (May): 179–91. <a
href="https://doi.org/10.1016/j.jtbi.2015.02.029">https://doi.org/10.1016/j.jtbi.2015.02.029</a>.
</li>
<li class="bibitem" id="ref-momoidentity2019" class="csl-entry" role="listitem">
———. 2020. <span>“The Identity of Organisms in Scientific Practice:
Integrating Historical and Relational Conceptions.”</span> <em>Frontiers
in Physiology</em> 11 (June): 611. <a
href="https://doi.org/10.3389/fphys.2020.00611">https://doi.org/10.3389/fphys.2020.00611</a>.
</li>
<li class="bibitem" id="ref-10.1371/journal.pone.0111133" class="csl-entry"
role="listitem">
Moore, Wu AND Stolovicki, Lindsay S. AND Wei. 2014. <span>“Induced
Mutations in Yeast Cell Populations Adapting to an Unforeseen
Challenge.”</span> <em>PLOS ONE</em> 9 (10): 1–7. <a
href="https://doi.org/10.1371/journal.pone.0111133">https://doi.org/10.1371/journal.pone.0111133</a>.
</li>
<li class="bibitem" id="ref-matteobook" class="csl-entry" role="listitem">
Moreno, A., and Matteo Mossio. 2015. <em>Biological Autonomy. A
Philosophical and Theoretical Enquiry.</em> Dordrecht: Springer.
</li>
<li class="bibitem" id="ref-moss2004genes" class="csl-entry" role="listitem">
Moss, Lenny. 2004. <em>What Genes Can’t Do</em>. MIT press.
</li>
<li class="bibitem" id="ref-rosen2005" class="csl-entry" role="listitem">
Rosen, R. 1991. <em>Life Itself: A Comprehensive Inquiry into the
Nature, Origin, and Fabrication of Life</em>. New York: Columbia
University Press.
</li>
<li class="bibitem" id="ref-sarti2018differential" class="csl-entry" role="listitem">
Sarti, Alessandro, Giovanna Citti, and David Piotrowski. 2019.
<span>“<span class="nocase">Differential heterogenesis and the emergence
of semiotic function</span>.”</span> <em><span>Semiotica</span></em>. <a
href="https://hal.archives-ouvertes.fr/hal-02123626">https://hal.archives-ouvertes.fr/hal-02123626</a>.
</li>
<li class="bibitem" id="ref-Tahar2022" class="csl-entry" role="listitem">
Tahar, Mathilde. 2022. <span>“Biological Constraints as Norms in
Evolution.”</span> <em>History and Philosophy of the Life Sciences</em>
44 (1): 9. <a
href="https://doi.org/10.1007/s40656-022-00483-1">https://doi.org/10.1007/s40656-022-00483-1</a>.
</li>
<li class="bibitem" id="ref-Tahar2023-TAHAIA" class="csl-entry" role="listitem">
———. 2023. <span>“Agency, Inventiveness, and Animal Play: Novel Insights
into the Active Role of Organisms in Evolution.”</span> <em>Spontaneous
Generations</em> 11 (1).
</li>
<li class="bibitem" id="ref-Varela1974187" class="csl-entry" role="listitem">
Varela, F. J., H. R. Maturana, and R. Uribe. 1974. <span>“Autopoiesis:
The Organization of Living Systems, Its Characterization and a
Model.”</span> <em>Biosystems</em> 5 (4): 187–96. <a
href="https://doi.org/10.1016/0303-2647(74)90031-8">https://doi.org/10.1016/0303-2647(74)90031-8</a>.
</li>
<li class="bibitem" id="ref-west2003developmental" class="csl-entry" role="listitem">
West-Eberhard, Mary Jane. 2003. <em>Developmental Plasticity and
Evolution</em>. New York: Oxford University Press.
</li>
<li class="bibitem" id="ref-endocrinedisruptors" class="csl-entry" role="listitem">
Zoeller, R. T., T. R. Brown, L. L. Doan, A. C. Gore, N. E. Skakkebaek,
Ana M. Soto, T. J. Woodruff, and F. S. Vom Saal. 2012.
<span>“Endocrine-Disrupting Chemicals and Public Health Protection: A
Statement of Principles from the Endocrine Society.”</span>
<em>Endocrinology</em> 153 (9): 4097–4110. <a
href="https://doi.org/10.1210/en.2012-1422">https://doi.org/10.1210/en.2012-1422</a>.
</li>
</ol>
<aside id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p><a href="https://montevil.org"
class="uri">https://montevil.org</a> Centre cavaillès, République des
Savoirs, UAR 3608, ENS - CNRS<a href="#fnref1" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
</ol>
</aside>

