---js
{
pagination: {
  data: "bibconf",
  size: 1,
  alias: "entry",
  addAllPagesToCollections: "true"
    },
layout: "talk",
permalink:    "talks/{{entry.issued['date-parts'][0][0]}}-{%-if entry['container-title'] -%}{{- entry['container-title'] | slugify-}}{%-endif-%}-{{- entry['title'] | slugify| truncate(5,false) | slugify-}}/",
eleventyComputed: {
  title: "{{ entry.title }}",
  location: {   
              url: "{%- if  entry.URL -%}{{ entry.URL |safe}}{%- endif -%}",
        name:"{{ entry['container-title'] }} - {{ entry['publisher-place'] }}",
      },
  datepub: "{%- set date0 = entry.issued['date-parts'][0] -%}{%- if  date0 -%}{{- 0 if date0[0]<10  -}}{{- date0[0] if date0[0] else 2021 -}}-{{- 0 if (date0[1]<10 or not date0[1])  -}}{{- date0[1] if date0[1] else 1 -}}-{{- 0 if (date0[2]<10 or not date0[2])  -}}{{- date0[2] if date0[2] else 1 -}}{%- else -%}Submitted{%- endif -%}",
  orderDate: "{%- if datepub=='Submitted' -%}{{- page.date | attributeDate -}}{%- else -%}{{- datepub     -}}{%- endif -%}",

  illustration: {
      src: "{%- if  bibentryconf.fields.illustration -%}/assets/talks/{{-   bibentryconf.fields.illustration -}}{%- elif  entry.URL -%}https://image.thum.io/get/width/640/crop/600/noanimate/{{- entry.URL |safe-}}{%- endif -%}",
      classes: "{%- if  bibentryconf.fields.illustrationclass -%}{{-   bibentryconf.fields.illustrationclass -}}{%- else -%}  noDarkFilter {%- endif -%}"
  },
  abstract: "{{bibentryconf.fields.abstract |safe}}",
  program: "{{bibentryconf.fields.program}}",
  video: "{{bibentryconf.fields.video}}",
  poster: "{{bibentryconf.fields.poster}}"
  }
}
---
{% if abstract %}
{% if illustration.src %}
    <img
      alt="Cover slide from the talk “{{ title }}”"
      src="{{ illustration.src }}"
      class="page__illustration u-photo {{illustration.classes}}"
      crossorigin="anonymous"
      >
{% endif %}
<p >
{{abstract |safe}}
</p>
{% else%}
{% if illustration.src %}
    <img
      alt="Cover slide from the talk “{{ title }}”"
      src="{{ illustration.src }}"
      class=" page__illustration2 u-photo {{illustration.classes}}"
      crossorigin="anonymous"
      >
{% endif %}
{% endif %}


<div class="citationW "><div class="svgfill">{% icon "reference", "reference" %}
 {{entry |bibcite2 |divRemove|safe}}</div>
 
{% if program or poster or video %}<div>
{% if program %}
<a  href="/assets/talks/{{program| urlencode}}" class="buttonlink ">{% icon "pdf", "Program" %} Program of the event. </a> 
{% endif %}{% if  poster %}
<a  href="/assets/talks/{{poster| urlencode}}" class="buttonlink ">{% icon "pdf", "Poster" %} Poster. </a> 
{% endif %}
{% if video %}
<a href="{{video}}" class="buttonlink abssvg ">{% icon "video", "Video" %} Link to the Video </a> 
{% endif %}

</div>
{% endif %}
</div>
<p> </p>

{% if video %}
<div>
{% from "macros/videoEmbed.njk" import videoEmbed %}
{{videoEmbed(video) | safe }}
</div>
{% endif %}






{#,
  before: function(data) {
      return data.filter(entry => entry.type && entry.type==="paper-conference");
      } #}
