---js
{
pagination: {
  data: "bibconf",
  size: 1,
  alias: "entry",
  addAllPagesToCollections: "true"
    },
layout: "talk",
eleventyComputed: {
  title: "{{ entry.title }}",
  location: {   
              url: "{%- if  entry.URL -%}{{ entry.URL }}{%- endif -%}",
        name:"{{ entry['container-title'] }} - {{ entry['publisher-place'] }}",
      },
  datepub: "{%- set date0 = entry.issued['date-parts'][0] -%}{%- if  date0 -%}{{- 0 if date0[0]<10  -}}{{- date0[0] if date0[0] else 2021 -}}-{{- 0 if (date0[1]<10 or not date0[1])  -}}{{- date0[1] if date0[1] else 1 -}}-{{- 0 if (date0[2]<10 or not date0[2])  -}}{{- date0[2] if date0[2] else 1 -}}{%- else -%}Submitted{%- endif -%}",
  orderDate: "{%- if datepub=='Submitted' -%}{{- page.date | attributeDate -}}{%- else -%}{{- datepub     -}}{%- endif -%}",
  permalink:    "talks/{{- datepub-}}-{%-if entry['container-title'] -%}{{- entry['container-title'] | slugify-}}{%-endif-%}/",
  illustration: {
      src: "{%- if  bibentryconf.fields.illustration -%}/assets/talks/{{-   bibentryconf.fields.illustration -}}{%- else -%}{%- if  entry.URL -%}https://image.thum.io/get/width/640/crop/600/noanimate/{{ entry.URL }}{%- endif -%}{%- endif -%}",
      classes: "noDarkFilter "
  },
  abstract: "{{bibentryconf.fields.abstract |safe}}",
  program: "{{bibentryconf.fields.program}}",
  video: "{{bibentryconf.fields.video}}",
  poster: "{{bibentryconf.fields.poster}}"
  }
}
---

 {{entry |bibcite2 |safe}}
<p >
{{abstract |safe}}
</p>



{% if video %}
{% from "macros/videoEmbed.njk" import videoEmbed %}
{{videoEmbed(video) | safe }}
{% endif %}

{% if program or poster %}
<p>{% if program %}
<a  href="/assets/talks/{{program}}" class="buttonlink ">{% icon "pdf", "Program" %}&nbsp; Program of the event. </a> 
{% endif %}{% if  poster %}
<a  href="/assets/talks/{{poster}}" class="buttonlink ">{% icon "pdf", "Poster" %}&nbsp; Poster. </a> 
{% endif %}
<p>
{% endif %}



{#
,
  before: function(data) {
      return data.filter(entry => entry.type && entry.type==="paper-conference");
      } #}
