---js
{
pagination: {
  data: "bibconf",
  size: 1,
  alias: "entry",
  addAllPagesToCollections: "true"
    },
layout: "talk",
permalink:    "talks/{{entry.issued['date-parts'][0][0]}}-{%-if entry['container-title'] -%}{{- entry['container-title'] | slugify-}}{%-endif-%}-{{- entry['title'] | slugify| truncate(5,false) | slugify-}}/",
eleventyComputed: {
  title: "{{ entry.title }}",
  location: {   
              url: "{%- if  entry.URL -%}{{ entry.URL |safe}}{%- endif -%}",
        name:"{{ entry['container-title'] }} - {{ entry['publisher-place'] }}",
      },
  datepub: "{%- set date0 = entry.issued['date-parts'][0] -%}{%- if  date0 -%}{{- 0 if date0[0]<10  -}}{{- date0[0] if date0[0] else 2021 -}}-{{- 0 if (date0[1]<10 or not date0[1])  -}}{{- date0[1] if date0[1] else 1 -}}-{{- 0 if (date0[2]<10 or not date0[2])  -}}{{- date0[2] if date0[2] else 1 -}}{%- else -%}Submitted{%- endif -%}",
  orderDate: "{%- if datepub=='Submitted' -%}{{- page.date | attributeDate -}}{%- else -%}{{- datepub     -}}{%- endif -%}",

  illustration: {
      src: "{%- if  bibentryconf.fields.illustration -%}/assets/talks/{{-   bibentryconf.fields.illustration -}}{%- else -%}{%- if  entry.URL|safe -%}https://image.thum.io/get/width/640/crop/600/noanimate/{{ entry.URL |safe}}{%- endif -%}{%- endif -%}",
      classes: "{%- if  bibentryconf.fields.illustrationclass -%}{{-   bibentryconf.fields.illustrationclass -}}{%- else -%}  noDarkFilter {%- endif -%}"
  },
  abstract: "{{bibentryconf.fields.abstract |safe}}",
  program: "{{bibentryconf.fields.program}}",
  video: "{{bibentryconf.fields.video}}",
  poster: "{{bibentryconf.fields.poster}}"
  }
}
---
<div class="svgfill">{% icon "reference", "reference" %}
 {{entry |bibcite2 |divRemove|safe}}</div>
<p >
{{abstract |safe}}
</p>

{% if program or poster %}
<p>{% if program %}
<a  href="/assets/talks/{{program}}" class="buttonlink ">{% icon "pdf", "Program" %}&nbsp; Program of the event. </a> 
{% endif %}{% if  poster %}
<a  href="/assets/talks/{{poster}}" class="buttonlink ">{% icon "pdf", "Poster" %}&nbsp; Poster. </a> 
{% endif %}
{% if video %}
<a href="{{video}}" class="buttonlink abssvg">{% icon "video", "Video" %} Link to the Video</a> 
{% endif %}

<p>
{% endif %}

{% if video %}
{% from "macros/videoEmbed.njk" import videoEmbed %}
{{videoEmbed(video) | safe }}
{% endif %}





{#
,
  before: function(data) {
      return data.filter(entry => entry.type && entry.type==="paper-conference");
      } #}
