    {% from "macros/pubuttons.njk" import pubuttons %}
   {% from "macros/publabel.njk" import publabel %}

{% macro alterpubCard(itemdata) %}


{% set rid -%}{{-itemdata.title| slug-}}{%-endset%}

    {% set aref %}<a href={{itemdata.page.url}}>{{-itemdata.title-}}</a>{%endset%}
  <li  class="publi"><div  class="wrap"><p >{{publabel(itemdata)|safe}} {% icon "reference", "reference" %} {{ itemdata.bibentry | bibcite2|divRemove| urlize( itemdata.title,itemdata.page.url, itemdata.bibentry.type)|safe}}</p>
  
 <section class="accordion ">{% if not  (itemdata.bibentry.abstract === undefined) %}<input type="checkbox" name="{{itemdata.bibentry.id}}{{rid}}" id="{{-itemdata.bibentry.id-}}{{-rid-}}" >{% endif %}
  <p class="handle">  
    <span class="smalltext">{{pubuttons(itemdata) |safe}}</span>{% if not  (itemdata.bibentry.abstract === undefined) %}<label for="{{-itemdata.bibentry.id-}}{{-rid-}}" class="smalltext"><span class="abssvg folded">{% icon "chevronRight", "Link" %}</span><span class="abssvg unfolded">{% icon "chevronDown", "Link" %}</span>Abstract</label> 
  </p>
  <div class="content">
<p > <span class="paragraphHead2"> Abstract: </span>   {{ itemdata.abstract  | safe }}</p >
{% if not  (itemdata.bibentry.keyword === undefined) %}
<p > <span class="paragraphHead2"><em> Keywords: </em></span> {{ itemdata.keyword  | safe }}</p >
  {% endif %}
  </div> {% endif %}
</section>
  </div>
  </li>
{% endmacro %}
