    {% from "macros/pubuttons.njk" import pubuttons %}
   {% from "macros/publabel2.njk" import publabel2 %}

{% macro alterpubCard(itemdata) %}


{% set rid -%}{{-itemdata.title| slugify -}}{%-endset%}


    {% set aref %}<a href={{pageUrl}}>{{-itemdata.title-}}</a>{%endset%}
  <li  class="publi"><section  class="wrap"><h4 ><a href="{{itemdata.page.url |safe}}">{{itemdata.bibentry.title |safe}}</a></h4>
  <ul class="inlinemeta" >{{publabel2(itemdata)|safe}}</ul> <p>{% icon "reference", "reference" %} {{ itemdata.bibentry | bibcite2| urlize( itemdata.title,itemdata.page.url, itemdata.bibentry.type)|safe}}</p>
  {% if not  (itemdata.bibentry.abstract === undefined) %}
<details class=" citation abstract"> 
     <summary> Abstract</summary>
     <div class="abstract wrap"> <p>  
     {{ itemdata.bibentry.abstract  | safe }}</p >
     
     {% if not  (itemdata.bibentry.keyword === undefined) %}
          <p > <span class="paragraphHead2"><em> Keywords: </em></span>  {{ itemdata.bibentry.keyword  | safe }}</p >
           {% endif %}
  </div>
</details>
{% endif %}
<div class="smalltext handle">{{pubuttons(itemdata) |safe}}</div>


  </section>
  </li>
{% endmacro %}
