

{% macro overlayToc(content,h2=false,title="") %}



<div id="myNav" class=" overlay" >
  <div class="wrap ">
  <div class="legibilityWidth overlay-content ">
  <h2 class="center titleOverToc"> {{title}}</h2>
  {%if h2=="tocCenter" or h2=="tocCenter2" %}
    {{ content | toc(tags=['h2', 'h3'], wrapperClass='autotoc ' + h2)|safe}}
    {%elif h2=="tocH2"%}
    {{ content | toc(tags=['h2', 'h3'], wrapperClass='autotoc indent')|safe}}
  {%else%}
   <nav class=" autotoc indent"><ol ><li><a href="#CitationAnchor"  class="buttonInToc"> <i>Citation & Download</i> {% icon "pdf", "PDF" %} {% icon "bib", "BIB" %}</a></li></ol></nav>
 {{ content | toc | safe }}
  {%endif%}
  </div>
</div>
</div>

{% endmacro %}
