



{% from "macros/meta.njk" import meta %}
{% from "macros/card.njk" import card %}
   {% from "macros/publabel.njk" import publabel %}

{% macro pubCard(article,numbers2) %} 

{% set rid %}
    {{  numbers2| random }}
{% endset %}

 {% if article.data.illust %}
 {% set srcurl%}
 {{article.data.page.url-}}{{- article.data.illust}}
 {%endset%}
  {% set illustration = {
    src:  srcurl,
    alt:  article.data.title,
    width: 1200,
    height: 800
  } %}
{% endif %}

  {% set content %}
    <p class="card__body p-summary">  {{article.data.excerpt}}   </p> 

  
  <div class="card__body p-summary smalltext"><p>{{publabel(article.data)|safe}}
{{ article.data.bibib | bibcite|divRemove|safe}} </p></div>

{% if not  (article.data.bibentry.abstract === undefined) %}
 <section class="accordion">
  <input type="checkbox" name="{{article.data.bibentry.id}}{{rid}}" id="{{article.data.bibentry.id}}{{rid}}" >
  <p class="handle">
    <label for="{{article.data.bibentry.id}}{{rid}}"> Abstract</label>
  </p>
  <div class="content">
     <p > <em> Abstract: </em>  {{ article.data.abstract  | safe }}</p >
     {% if not  (article.data.bibentry.keyword === undefined) %}
          <p > <em> Keywords: </em> {{ article.data.keyword  | safe }}</p >
           {% endif %}
  </div>
</section>
 {% endif %}

 {% from "macros/pubuttons.njk" import pubuttons %}
<p class="smalltext">{{pubuttons(article.data) |safe}}  </p>
  


     
  {% endset %}

  {% set meta %}
  {{ meta(article) }}
  {% endset %}

  {{ card(
    type = 'article',
    lang = article.data.lang,
    title = article.data.title,
    url = article.url,
    illustration = illustration,
    content = content,
    meta = meta) }}
{% endmacro %}
