 
{% macro publabel2(item) %}
 <li class=" meta__item publinklang2">{% icon "message", "message" %}
 <a class="  metalink" href="/{{-item.lang-}}/archives/">{{-item.lang-}}</a></li>
 {%- if item.typepub === "Article"-%}
 <li class="publink2  meta__item p-category">{% icon "book", "book" %} <a href="/all/articles/">Article</a></li>
 {%- elif item.typepub === "chapter" -%}
 <li class="publink2 meta__item publinkchap2 p-category">{% icon "book", "book" %} <a href="/all/chapters/">Chapter</a></li>
 {%- elif item.typepub === "software" -%}
  <li class="publink2 meta__item publinkSoftware2 p-category">{% icon "book", "book" %} <a href="/all/varia/">Software</a></li>
  {%- elif item.typepub === "commentary" -%}
  <li class="publink2 meta__item publinkCommentary2 p-category">{% icon "book", "book" %} <a href="/all/varia/">Commentary</a></li>
  {%- elif item.typepub === "data" -%}
  <li class="publink2 meta__item publinkData2 p-category">{% icon "book", "book" %} <a href="/all/varia/">Data</a></li>
 {%- elif item.typepub === "book" -%}
 <li class="publink2 meta__item publinkBook2 p-category">{% icon "book", "book" %} <a href="/all/books/">Book</a></li>
 {%- endif-%}
 {%- if item.peerReview-%}
 <li class="publink2 meta__item  pubPeerReview2 p-category">{% icon "thumb", "thumb" %} Peer-reviewed</li> 
{% endif%} 
{% endmacro %}
