 
 {% macro publabel(item) %}
 {% if item.typepub === "Article"%}
 <span class="publink ">Article</span> 
  {% elif item.typepub === "chapter" %}
   <span class="publink publinkchap ">Chapter</span> 
  {% elif item.type === "varia" %}

  {% endif%}  
   {% endmacro %}
