 
 
{% macro pubuttons(item) %}
{% if item.hasPDF%}
<a  href="{{item.pdfout}}" class="buttonlink ">{% icon "pdf", "PDF" %} Manuscript </a> 
{% endif%}
{% if item.hasSup%}
<a  href="{{item.pdfoutSup}}" class="buttonlink ">{% icon "pdf", "PDF" %} Supplementary </a> 
{% endif%}
   <a href="{{item.bibout}}" class="buttonlink ">{% icon "bib", "BIB" %} Citation  </a>
   {% if not  (item.bibentry.DOI === undefined) %}
<a href="https://dx.doi.org/{{item.bibentry.DOI}}" class="buttonlink  svgnofill">{% icon "exlink", "Link" %} Publisher </a> 
  {% else %}{% if not  (item.bibentry.URL === undefined) %}
<a href="{{item.bibentry.URL}}" class="buttonlink  svgnofill">{% icon "exlink", "Link" %} Publisher </a> 
  {% endif %}  {% endif %}
  {% if item.hasFullText%}
<a href="{{item.page.url}}" class="buttonlink  svgnofill">{% icon "link", "Link" %} Full text </a> 
{% else%}
<a href="{{item.page.url}}" class="buttonlink  svgnofill">{% icon "link", "Link" %} Details </a> 
{% endif%}
{% endmacro %}
