 
 
{% macro pubuttons(item) %}
{% if item.hasPDF%}
<a  href="{{item.pdfout}}" class="buttonlink ">{% icon "pdf", "PDF" %}&nbsp;Manuscript </a> 
{% endif%}
   <a href="{{item.bibout}}" class="buttonlink ">{% icon "bib", "BIB" %}&nbsp;Citation </a>
   {% if not  (item.bibentry.DOI === undefined) %}
<a href="https://dx.doi.org/{{item.bibentry.DOI}}" class="buttonlink  svgnofill">{% icon "exlink", "Link" %}&nbsp;Publisher </a> 
  {% else %}{% if not  (item.bibentry.URL === undefined) %}
<a href="{{item.bibentry.URL}}" class="buttonlink  svgnofill">{% icon "exlink", "Link" %}&nbsp;Publisher </a> 
  {% endif %}  {% endif %}
  {% if item.hasFullText%}
<a href="{{item.page.url}}" class="buttonlink  svgnofill">{% icon "link", "Link" %}&nbsp;Full text </a> 
{% else%}
<a href="{{item.page.url}}" class="buttonlink  svgnofill">{% icon "link", "Link" %}&nbsp;Details </a> 
{% endif%}
{% endmacro %}
