{% from "macros/meta.njk" import meta %}
{% from "macros/card.njk" import card %}

{% macro talkCard(talk) %}


  {% if talk.data.entry['container-title'] -%}
  {% set subtitleoff -%} <i>{{talk.data.entry['container-title']}}</i> {%-endset%}
{% endif %}

  {% set content %}
{{- talk.templateContent | excerpt | truncateHtml (300) | safe -}}
  {% endset %}
  {%if not (content==="")%}
  {% set content %}
<p class="card__body p-summary ">{{content}}</p>
{% endset %}
{%endif%}

  {% set meta %}
  {{ meta(talk) }}
  {% endset %}

  {{ card(
    type = 'talk',
    lang = talk.data.lang,
    title = talk.data.title,
    subtitle=subtitle,
    url = talk.url,
    illustration = talk.data.illustration,
    content = content,
    meta = meta) }}
{% endmacro %}



