---
layout: false
pagination:
  data: collections.publicationsByYear
  size: 1
  alias: year
permalink: "publications/{{ year }}/"
eleventyComputed:
  title: Publications published in {{ year }}
eleventyExcludeFromCollections: true
---

{% extends "../_layouts/archives.njk" %}
