---
layout: lists
title: Publication list by category
eleventyExcludeFromCollections: true
tocOver: tocCenter
---
     {% from "macros/colByYear.njk" import colByYear %}
<p class="wrap center ">See also: <a class=" " href="/publications/publicationsbyYear/">Complete Publication list by year</a> </p>
    
      {% from "macros/alterpubCard.njk" import alterpubCard %}
      
      <div class="titleDiag">
  <h2 class="wrap sectionHeadList" id="articles">Books</h2>
   </div>
   {{ colByYear(collections.booksall,"h3","book-"," titleHead ") |safe }}
   
<div class="titleDiag">
  <h2 class="wrap sectionHeadList" id="articles">Articles</h2>
   </div>
   {{ colByYear(collections.articlesall,"h3","article-"," titleHead ") |safe }}

      <div class="titleDiag">
  <h2 class="wrap sectionHeadList" id="chapters ">Chapters</h2>
   </div>
     {{ colByYear(collections.chaptersall,"h3","chapter-"," titleHead ") |safe}}



  <div class="titleDiag">
    <h2 class="wrap sectionHeadList" id="varia">Varia</h2>
     </div>
        {{ colByYear(collections.variaall,"h3","varia-"," titleHead " ) |safe }}

  
  

 {# </ul>#}
