---
layout: lists
title: Publication list by year
eleventyExcludeFromCollections: true
tocOver: tocCenter2
---
   {% from "macros/colByYear.njk" import colByYear %}
   <p class=" wrap center">See also: <a class=" " href="/publications/publicationsbyType/">Complete Publication list by category</a></p>
{{ colByYear(collections.publicationsall) |safe}}
     
 {# </ul>#}
