---
layout: default
title: Archives
isArchive: true
css: ["page-archives.css"]
---


{% from "macros/itemCard.njk" import itemCard %}

{% set currentLang = page.url | split("/") | offset(1) | first %}

{% set currentType = page.url | split("/") | offset(2) | first %}

{% set currentYear = page.url | split("/") | offset(3) | first %}
{% set regExpYear = r/^[0-9]{4}$/g %}
{% if not regExpYear.test(currentYear) %}
  {% set currentYear = false %}
{% endif %}

{% set currentMonth = page.url | split("/") | offset(4) | first %}
{% set regExpMonth = r/^[0-9]{2}$/g %}
{% if not regExpMonth.test(currentMonth) %}
  {% set currentMonth = false %}
{% endif %}
  
  
{% block content %}

  <div class="wrap0 archives ">


  <h1 class= "wrap">
    {{title}}
  </h1>
  

  
    <div  id="filters">
    {% include  "archiveTOC.njk" %}
    </div>
   
   {# <iframe src="https://duckduckgo.com/search.html?duck=yes&site=montevil.org&prefill=Search DuckDuckGo&bgcolor=var(--color-bg)&focus=yes" style="background-color: var(--color-lighter-5);overflow:hidden;margin:auto;padding:0;width:483px;height:60px;" frameborder="0"></iframe>#}

{% set append="overlay"%} 
<div id="myNav" class=" overlay" >
  <div class="wrap">
  <div class=" overlay-content ">
  <h2 class="center titleOverToc"> {{title}}</h2>
    {% include  "archiveTOC.njk" %}
  </div>
</div>  
</div>

{#  <form method="get" id="search" action="http://duckduckgo.com/">
  <input type="hidden" name="sites" value="montevil.org"/>
  <input type="hidden" name="k8" value="var(--color-bg)"/>
  <input type="hidden" name="k9" value="var(--color-lighter-5)"/>
  <input type="hidden" name="kt" value="h"/>
  <label class="center"> <p class="center">Search  DuckDuckGo:</p><input type="text" name="q" maxlength="255" placeholder="Search&hellip;" class="centerBlock searchBox" /></label>
 <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
</form>
#}

<link rel="preload" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"></noscript>

<script  src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js" defer></script>

<style>
.aa-Item > a:hover {background-color: transparent;}
li.aa-Item div.aa-ItemDescription{color: var(--color-primary-darker-1);}
.aa-Autocomplete.aa-Form.aa-InputWrapperPrefix {
 padding-right: 0.5em;}
.aa-DetachedFormContainer{margin-bottom: 0.7em;}
 .aa-DetachedContainer{padding-top: 5em;}
 .aa-DetachedCancelButton{width: 6em;}
 :root {
 --aa-muted-color: var(--color-primary-lighter-2);
 --aa-background-color: var(--color-primary-lighter-7);
 
  --aa-base-unit: var(--font-size-m);
 --aa-font-size: var(--font-size-m);
  --font-size: var(--font-size-m)!important;

 --aa-spacing-factor:1;
 --aa-spacing:calc(var(--aa-base-unit)*var(--aa-spacing-factor)*1px);
 --aa-spacing-half:calc(var(--aa-spacing)/2);
 --aa-icon-size: calc(--aa-base-unit*1.5);
 --aa-primary-color:#3e34d3;
 --aa-panel-max-height: 750px!important;
 --color-source-icon: var(--color-primary)!important;
 }.aa-ItemDescription,.aa-ItemHierarchy{font-size: var(--font-size-s)!important;line-height: 1.5!important;}.aa-ItemTitle,.aa-Input,.aa-SubmitButton{font-size: var(--font-size-m)!important;line-height: 1.5!important;}.aa-Item,.aa-ItemDescription,.aa-ItemTitle{  padding-bottom: 0.2em!important;}.aa-Autocomplete{--color-input-icon: var(--color-darkgrey);}.aa-ItemIcon{margin-right: 0.5em!important;}.aa-SubmitIcon{width: auto!important;}
</style>
<script >

window.onload = function () {
  algoliasearchNetlify({
    appId: 'FWO1TXJD82',
    apiKey: '441877879034955305bd5bbcf16a8f15',
    siteId: '9cdc232a-b341-4608-a689-551b0bcecc7b',
    branch: 'master',
    selector: 'div#search', 
    hitsPerPage: 5, openOnFocus: true,
    theme: {
    mark: 'var(--color-emph)',                               // Color of the matching content
    background: 'var(--color-bg)',                      // Background Color of the input and the panel
    selected: 'var(--color-primary-lighter-7)',                        // Background Color of the selected item
    text: 'var(--color-primary-darker-5)',                            // Color of the title of the items
    colorSourceIcon: 'var(--color-darkgrey)'                 // Color of the icon on the left of results
  }
  });
  let label=document.getElementsByClassName("aa-Autocomplete")[0];
  label.removeAttribute("role");
  label.removeAttribute("aria-labelledby");
  }
</script>
<div id="search" class="wrap" style="height:32px;"> </div> 

      
        <ol class="cards-list">

          {% if currentYear %}
          {% if currentType === "publications" or  currentType === "archives" %}
            {% for item in collections[currentType +currentLang + 'ByYear'][currentYear] | limit(10) %}
                {{ itemCard(item,numbers.numbers2) }}
            {% endfor %}
       </ol>       
            {% if (collections[currentType  +currentLang + 'ByYear'][currentYear].length > 10) and (currentType=== "archives") %}
              <p class= "wrap"><a href="#dates-menu">Filter by type to see more {{ currentType }} from year {{ currentYear }}.</a></p>
            {% endif %}
            {% else %}
            {% for item in collections[currentType +currentLang + 'ByYear'][currentYear]  %}
                {{ itemCard(item,numbers.numbers2) }}
            {% endfor %}
      </ol>  
          {% endif %}
          {% else %}
            {% for item in collections[currentType+currentLang ] | limit(10) %}
                {{ itemCard(item,numbers.numbers2) }}
            {% endfor %}
        </ol>    
            {% if collections[currentType+currentLang].length > 10 %}
              <p class= "wrap"> <a href="#dates-menu">Filter by year to see more {{ currentType }}.</a></p>
            {% endif %}
          {% endif %}
  </div>       
    


{% endblock %}
