<!DOCTYPE html>
<html lang="{{lang or "en"}}" class="no-js">
 {% if excerpt and not excerpt=="" %}
{% set pageExcerpt =excerpt %}
{%else%}
{% set pageExcerpt = content | excerpt %}
{%endif%}
  {% include "head.njk" %}
  <body
    itemscope
    itemtype="https://schema.org/{% if "about/" in page.inputPath %}AboutPage{% else %}WebPage{% endif %}"
    data-img-src="{% if layout %}{{- page.inputPath | dirname -}}{%-else-%}src{%-endif-%}/"
    data-img-dist="{{ page.outputPath | dirname }}/"
    {%- if hackwidth-%}style="width:{{hackwidth}}"{%-endif-%}
  >

    <a class="quickaccess visually-hidden" href="#main">Jump to main content</a>

    <header id="header" >
      <div class="wrap snapper">
        {% if page.url == "/" %}
          <h1 class="site_title h-card" rel="me">{{websiteid.titleshort}}</h1>
        {% else %}
          <p class="site_title">
            <a class="h-card" href="/" rel="me" title="Homepage">{{websiteid.titleshort}}</a>
          </p>
        {% endif %}
        <ul class="elsewhere">
          <li><a href="https://twitter.com/{{websiteid.twitter}}" title="Link to my Twitter profile">{% icon "twitter", "Link to my Twitter profile" %}</a></li>
          <li><a href="{{websiteid.academia}}" title="Link to my Academia profile">{% icon "academia", "Link to my academia profile" %}</a></li>
          <li><a href="https://www.researchgate.net/profile/{{websiteid.researchgate}}" title="Link to my Researchgate profile">{% icon "researchgate", "Link to my Researchgate profile" %}</a></li>
          <li><a href="https://scholar.google.fr/citations?user={{websiteid.scholaruser}}" title="Link to my google scholar profile">{% icon "googlescholar", "Link to my google scholar page" %}</a></li>
          <li><a href="https://orcid.org/{{websiteid.orcid}}" title="Link to my Orcid profile">{% icon "orcid", "Link to my orcid page" %}</a></li>
          <li><a href="https://github.com/{{websiteid.github}}" title="Link to my GitHub profile">{% icon "github", "Link to my GitHub profile" %}</a></li>
        </ul>
      </div>
    </header>

    {% include "components/navigation.njk" %}

    <main id="main">
      {#class="wrap"#}
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      
    </main>
 
    {% include "components/footer.njk" %}
    {% include "svg-sprite.svg" %}

    {% if build.env == 'production' %}
      {#
      https://buzut.net/configurer-rollup-bundles-esm-cjs/
      https://v8.dev/features/modules#browser
      #}
      <script async type="module" src="/js/{{ hashes_additional_es['assets/js/additional.js']}}"></script>
      <script defer nomodule src="/js/{{ hashes_additional_iife['assets/js/additional.js']}}"></script>
    {% else %}
      <script async type="module" src="/js/additional-es.js"></script>
    {% endif %}
  </body>

</html>
