---
layout: default0
---

    <a class="quickaccess visually-hidden" href="#main">Jump to main content</a>

   
    
    <header id="header" >
      <div class="wrap snapper ">
        {% if page.url == "/" %}
          <h1 class="site_title">{{websiteid.titleshort}}</h1>
        {% else %}
          <p class="site_title">
            <a class="" href="/" rel="me" title="Homepage">{{websiteid.titleshort}}</a>
          </p>
        {% endif %}
        <ul class="elsewhere">
       <li> <a class="u-email " href="mailto:mael.montevil@gmail.com">{% icon "mail", "Email" %}</a></li>
        {% for entry in websiteid.sameAs %}
          <li><a rel="me" href="{{entry.url}}" title="{{entry.alt}}"  >{% icon entry.icon, entry.alt %}</a></li>
          {% endfor %}
        </ul>
      </div>
    </header>

    {% include "components/navigation.njk" %}

    <main id="main">
      {#class="wrap"#}
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      
    </main>
 
    {% include "components/footer.njk" %}
    {% include "svg-sprite.svg" %}

    {% if build.env == 'production' %}
      {#
      https://buzut.net/configurer-rollup-bundles-esm-cjs/
      https://v8.dev/features/modules#browser
      #}
      <script async type="module" src="/js/{{ hashes_additional_es['assets/js/additional.js']}}"></script>
      <script defer nomodule src="/js/{{ hashes_additional_iife['assets/js/additional.js']}}"></script>
      

    {% else %}
      <script async type="module" src="/js/additional-es.js"></script>
    
   
    {% endif %}

