---
layout: default
upnav: toc-site
---
<h1 id="toc-site" class="wrap center">{{ title }}</h1>

{{ content | toc(tags=['h2', 'h3'], wrapperClass='autotoc tocCenter textLeft') | safe }}

{% from "macros/overlayToc.njk" import overlayToc %}
{{overlayToc(content,tocOver)|safe}}

{{ content | safe }}
