---
layout: default
permalink: "{{ page.filePathStem }}.html"
---

<article class="wrap main " lang="{{ lang }}">
  <h1>{{ title }}</h1>
  <div class="page__body e-content wrap0all">
    {{ content | safe }}
  </div>
</article>
