---
layout: content
upnav: toc-site
eleventyComputed:
    keyword : "{{ bibentry.keyword }}"
    abstract : "{{ bibentry.abstract }}"
    bibib: "src/assets/bib/{{page.fileSlug}}.bib"
    bibout: "/assets/bib/{{page.fileSlug}}.bib"
    pdfout: "/assets/pdf/{{page.fileSlug}}.pdf"
    datepub: "{%- set date0 = bibentry.issued['date-parts'][0] -%}{%- if  date0 -%}{{- 0 if date0[0]<10  -}}{{- date0[0] if date0[0] else 2021 -}}-{{- 0 if (date0[1]<10 or not date0[2])  -}}{{- date0[1] if date0[1] else 01 -}}-{{- 0 if (date0[2]<10 or not date0[2])  -}}{{- date0[2] if date0[2] else 01 -}}{%- else -%}Submitted{%- endif -%}"
    orderDate: "{%- if datepub=='Submitted' -%}{{- page.date | attributeDate -}}{%- else -%}{{- datepub     -}}{%- endif -%}"
---
<script >

/* Open */
function openNav() {
if(document.getElementById("myNav").style.height === "100%"){
document.getElementById("myNav").style.height = 0;
}else{window.scrollBy(0, 50);
document.getElementById("myNav").style.height = "100%";
}
}



</script>

{#
<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
   document.addEventListener('DOMContentLoaded', function(event) {

  anchors.add();

});
</script> 
#}
 {#  tags: 
       - "  {{ pubmeta.keyword | splarray2 }}"
tags: [{% for entry in keyword.split(', ') %}
  \"{{entry}}\"{% if not loop.last %},{%- endif -%}
{% endfor %}]
{{keyword | splarray}}

{{hop}}

{{- page.date | attributeDate | dump-}}

{{ orderDate    | dump }}
#}


{% from "macros/pubuttons.njk" import pubuttons %}
{% set item = {
      pdfout: pdfout,
      bibout: bibout,
      page: {
          url: page.url
          },
      bibentry: {
          DOI: bibentry.DOI,
          url: bibentry.url
          }
      }
%}


{% if not  (excerpt === undefined) %}
<div class="lead">
<p> {{excerpt}}</p>
</div>
{%endif%}


{#
<p class="indent"><span class="paragraphHead">Abstract: </span>
{{bibentry.abstract |safe}}
</p>#}
  <div class="info indent"><p>{{ bibib | bibcite|divRemove|safe}}</p>
  <p> {{pubuttons(item) |safe}}</p>
  </div>

<hr class="breakk">

 <h2 class=sectionHead id="toc-site"> Table of contents, reading time: ~{{ content   | readingTime({speed:170}) }}</h2>
 
  {{ content | toc | safe }}
 
 <div id="myNav" class="overlay">
  <!-- Overlay content -->
  <div class="overlay-content">
 {{ content | toc | safe }}

  </div>

</div>

<!-- Use any element to open/show the overlay navigation menu -->
 



 <hr class="breakk">
{{ content | safe }}
