---
layout: publication2
upnav: toc-site
eleventyComputed:
    keyword : "{{ bibentry.keyword }}"
    abstract : "{%- if bibentry.abstract -%}{{ bibentry.abstract | unprotect  | urlify | safe}}{%- endif -%}"
    bibib: "src/assets/bib/{{page.fileSlug}}.bib"
    bibout: "/assets/bib/{{page.fileSlug}}.bib"
    pdfout: "/assets/pdf/{{page.fileSlug}}.pdf"
    pdfoutSup: "/assets/pdf/{{page.fileSlug}}-sup.pdf"
    datepub: "{%- set date0 = bibentry.issued['date-parts'][0] -%}{%- if  date0 -%}{{- 0 if date0[0]<10  -}}{{- date0[0] if date0[0] else 2021 -}}-{{- 0 if (date0[1]<10 or not date0[2])  -}}{{- date0[1] if date0[1] else 01 -}}-{{- 0 if (date0[2]<10 or not date0[2])  -}}{{- date0[2] if date0[2] else 01 -}}{%- else -%}Submitted{%- endif -%}"
    orderDate: "{%- if datepub=='Submitted' -%}{{- page.date | attributeDate -}}{%- else -%}{{- datepub     -}}{%- endif -%}"
    nbAuteurs:  "{{bibentry.author | length}}"    
    auteurs: "{%- for auth in bibentry.author -%}{% authors auth.given[0]+' '+auth.family, '', people,true, nbAuteurs %}{%-endfor-%}"
---


  <div class="legibilityWidth wrap0all">
{{ content  | safe }}
</div>
 
 
 {% if gsentry[1].length >0%}
<h2 class="sectionHead" id="citedby">Cited by</h2>

 <ol >
{% for article in gsentry[1]%}
 <li >
 

{% for auth in article.author_id%}
 {% authors article.bib.author[loop.index0], auth, people %}
{%endfor%} 

{% if not article.bib.pub_year=="NA"%}{{article.bib.pub_year}}. {%endif%}
{% if article.bib.venue=="NA"%}<i>{%endif%}
{{article.bib.title | title}}.
{% if article.bib.venue=="NA"%}</i>{%else%}
<i>{{article.bib.venue | title-}}</i>.{%endif%}
{% if not article.pub_url==""%}<a href="{{article.pub_url}}">Publisher</a> {%endif%}
{% if not article.eprint_url==""%}
<a href="{{article.eprint_url}}">Eprint </a>
{%endif%}

 </li >
{%endfor%}
</ol >
{%endif%}



