---
layout: content
upnav: toc-site
css: ["page-text.css"]
eleventyComputed:
    keyword : "{{ bibentry.keyword }}"
    abstract : "{%- if bibentry.abstract -%}{{ bibentry.abstract  | safe}}{%- endif -%}"
    bibib: "src/assets/bib/{{page.fileSlug}}.bib"
    bibout: "/assets/bib/{{page.fileSlug}}.bib"
    pdfout: "/assets/pdf/{{page.fileSlug}}.pdf"
    pdfoutSup: "/assets/pdf/{{page.fileSlug}}-sup.pdf"
    orderDate: "{%- if datepub=='Submitted'  -%}{{- '2100-01-01' -}}{%- else -%}{{- datepub     -}}{%- endif -%}"   
---

 {# <div class="legibilityWidth wrap0all"> </div>#}
 
 
 
 
{% if noAnchor %}
    {{ content  | safe }}
{% else %}
    {% if filterauthoryear %}
        {{ content |linkCitations| addAnchor | safe }}
        {% else %}
       
    {% if filterauthoryear2 %}
        {{ content |linkCitationsInline| addAnchor | safe }}
    {% else %}
        {{ content | addAnchor | safe }}
    {% endif %}
    {% endif %}
{% endif %}

{% if NODE_ENV == "epub" and hasFullText %}
{% set css0 %}
{%- include_raw config.dir.dist + "/css/" + hashes_css["critical.css"] -%}

{%- include_raw config.dir.dist + "/css/" + hashes_css["page-text.css"] -%}
{%- include_raw "node_modules/@lesjoursfr/html-to-epub/templates/" + "template.css" -%}
{% endset %}

{% set ebookContent %}
  <article>
    {{ content | safe }}
  </article>
{% endset %}
{% ebook ebookContent, page, {
  title: title,
  author: auteurssimple,
  cover: illust,
  css: css0
} %}
{% endif %}
 
 {#
 {% if gsentry.citing.length >0%}
 <aside class="wrap">
<h2 class="sectionHead" id="citedby">Cited by</h2>

 <ol class="citedBy">
{% for article in gsentry[0].citing%}
 <li >
 

{% for auth in article.authorsid%}
 {% authors article.authors[loop.index0], auth, people %}
 {%- if loop.revindex >2 -%}, {%endif-%}{%- if loop.revindex ===2 %} & {%endif-%}{%- if loop.revindex ===1 %}.{%endif-%}
{%endfor%} 

{% if not article.year=="NA"%}{{article.year}}. {%endif%}
{% if article.journal=="NA"%}<i>{%endif%}
{{article.title | title}}.
{% if article.journal=="NA"%}</i>{%else%}
<i>{{article.journal | title-}}</i>.{%endif%}
{% if not article.mainlink==""%}<a href="{{article.mainlink}}">Publisher</a> {%endif%}
{% if not article.pdflink==""%}
<a href="{{article.pdflink}}">Eprint </a>
{%endif%}

 </li >
{%endfor%}
</ol >
 </aside>
{%endif%}
#}


