---
upnav: true
layout: content
css: ["page-text.css"]
eleventyComputed:
    orderDate: "{{-page.date| formatDateUTC | attributeDate-}}"
    title: "SAMA documentation - {{title}}"
---

  {% if isFeed %}
  {% else %}
 
  {% from "macros/overlayToc.njk" import overlayToc %}
{{overlayToc(content,"tocCenter",title,printToc=false,about=true,isFeed=isFeed)|safe}}
 {% endif %} 



      {{ content | safe }}
    
  
 
  




  



