---
layout: content
css: ["page-text.css"]
eleventyComputed:
    orderDate: "{{-page.date | attributeDate-}}"
    title: "SAMA documentation - {{title}}"
---






      {{ content | safe }}
    
  
 
  




  



