---
layout: content
upnav: toc-site
css: ["page-text.css"]
eleventyComputed:
    orderDate: "{{-page.date| formatDateUTC | attributeDate-}}"
---


    {% from "macros/overlayToc.njk" import overlayToc %}
{{overlayToc(content,"",title, printToc=false)|safe}}
 
    {{ content | safe }}

    {#<p>See slides and additional content on Notist:<br /><a href="{{ notist_url }}">{{ title }}</a>#}


