---
layout: content
eleventyComputed:
    orderDate: "{{-page.date | attributeDate-}}"
---



  <div class="page__body e-content ">
  {% if illustration.src %}
    <img
      alt="Cover slide from the talk “{{ title }}”"
      src="{{ illustration.src }}"
      class="page__illustration u-photo {{illustration.classes}}"
      crossorigin="anonymous"
      >
{% endif %}
 
    {{ content | safe }}

    {#<p>See slides and additional content on Notist:<br /><a href="{{ notist_url }}">{{ title }}</a>#}
  </div>


