---
excerpt: Considérant qu’une histoire particulière de la philosophie a pris fin, Nancy a montré que la philosophie peut se lever à nouveau, touchant à son éternité.
tags: 
    - philosophy
    - deconstruction
date: 2023-11-05
illust: couv_Jean-Luc_Nancy.jpg
illustClass:  darkFilter 
hasPDF: true
hasFullText: false
---

<p class="titleHead">Jean-Luc Nancy</p>
<p class="subtitleHead">Anastasis de la pensée
</p>



<p class="authors">Sous la direction de : </p>
<p class="authors">D. Dwivedi, J. Lèbre, M. Montévil et F. Warin</p>



<p>
L’œuvre singulière plurielle de Jean-Luc Nancy a croisé presque toutes les préoccupations majeures de la philosophie – temps, être, espace, négativité, forme, image, poésie –, et a exercé une influence considérable sur de nombreux intellectuels et chercheurs du monde entier. Dans cet ouvrage, qui rassemble des articles rédigés par des philosophes et spécialistes reconnus, français et étrangers (Europe, Inde, États-Unis, Japon, Brésil, Chili, Égypte), les auteurs rendent hommage à Nancy pour son amitié et sa pensée.
</p>
<p>
Considérant qu’une histoire particulière de la philosophie a pris fin, Nancy a montré que la philosophie peut se lever à nouveau, touchant à son éternité. Il a invité à la recommencer de manière multiple, métaphysique, post-phénoménologique, politique, littéraire et esthétique. Se souvenir de sa pensée, c’est donc recommencer ici d’une manière plurielle avec lui ; c’est relancer dans son sillage la réflexion sur la démocratie et l’art, en réassumant une approche résolument transversale, avec ce que Nancy appelait anastasis – ce qui « ne provient pas de soi » mais « vient de l’autre, ou relève de l’autre en lui ».
</p>
