---
excerpt: "Nous décrivons trois principes proposés pour une théorie des organismes : l'état par défaut des cellules et les principes de variation et d'organisation."
---

<style type="text/css">
    @page {
    }
    td,
    th {
        vertical-align: top;
        font-size: 90%;
    }
    span.footnodeNumber {
        padding-right: 1em;
    }
    span.annotation_style_by_filter {
        font-size: 95%;
        background-color: #fff000;
        margin: 0;
        border: 0;
        padding: 0;
    }
    span.heading_numbering {
        margin-right: 0.8rem;
    }
    * {
        margin: 0;
    }

   

    .T13 {
        font-style: italic;
    }
    .T2 {
        font-style: italic;
    }

    .T8 {
        font-style: italic;
    }
</style>

<h2 class="titleHead">Du siècle du gène à celui de l’organisme&nbsp;: introduction à de nouvelles perspectives théoriques</h2>
<p>&nbsp;</p>

<div class="P6" style="text-align: center;">
    <span class="T2">Maël Montévil</span>
    <sup>
        <span class="Footnote_20_anchor">
            <span class="T2">
                <span
                    class="Footnote_20_anchor"
                    title='Footnote:  Laboratoire "Matière et Systèmes Complexes" (MSC), UMR 7057 CNRS, Université Paris 7 Diderot, 75205 Paris Cedex 13, France et Institut d&apos;Histoire et de Philosophie des Sciences et des Techniques (IHPST) - UMR 8590.'
                >
                    <a href="#ftn2" id="body_ftn2">2</a>
                </span>
            </span>
        </span>
    </sup>
    <span class="T2">, Giuseppe Longo</span>
    <sup>
        <span class="Footnote_20_anchor">
            <span class="T2">
                <span
                    class="Footnote_20_anchor"
                    title="Footnote:  Centre Cavaillès, République des Savoirs, CNRS USR3608, Collège de France et École Normale Supérieure, Paris, France et Department of Integrative Physiology and Pathobiology, Tufts University School of Medicine, Boston, MA USA."
                >
                    <a href="#ftn3" id="body_ftn3">3</a>
                </span>
            </span>
        </span>
    </sup>
    <span class="T2">, Ana Soto</span>
    <sup>
        <span class="Footnote_20_anchor">
            <span class="T2">
                <span
                    class="Footnote_20_anchor"
                    title="Footnote:  Department of Integrative Physiology and Pathobiology, Tufts University School of Medicine, Boston, MA USA et Centre Cavaillès, République des Savoirs, CNRS USR3608, Collège de France et École Normale Supérieure, Paris, France."
                >
                    <a href="#ftn4" id="body_ftn4">4</a>
                </span>
            </span>
        </span>
    </sup>
</div>
<p class="indent paragraphHead">Résumé</p>
<p class="indent">
    Les organismes, qu'ils soient uni ou multi-cellulaires, sont des agents capables de créer leurs propres normes&nbsp;; ils articulent continuellement leur capacité à créer de la nouveauté et de la stabilité, c'est-à-dire qu'ils combinent
    plasticité et robustesse. Ici, nous présentons et articulons brièvement les trois principes proposés récemment pour une théorie des organismes, à savoir&nbsp;: l'état par défaut, prolifération avec variation et motilité, le principe de
    variation et le principe d'organisation. Ces principes modifient profondément les observables biologiques et leur nature théorique par rapport aux cadres des théories physiques. Ce changement radical ouvre la possibilité d'ancrer la
    modélisation mathématique à des principes proprement biologiques.
</p>
<h3 class="sectionHead">1. Introduction</h3>
<p class="indent">
    La première décennie de ce nouveau millénaire a été surnommée l’ère post-génomique. Son arrivée a été saluée par l’establishment des sciences biologiques et de l’industrie pharmaceutique qui défendait l’idée excessivement optimiste
    suivant laquelle les nouvelles technologies et les approches réductionnistes qui ont caractérisé la deuxième moitié du XX<span class="T3">ième</span> siècle allaient (encore) guérir le cancer, amener la médecine personnalisée et de
    précision et bien plus. En effet, la rhétorique et les promesses n’ont pas changé depuis l’époque où le président Nixon a déclaré la «&nbsp;guerre contre le cancer&nbsp;» et ceci en dépit des maigres résultats de cette prohibitive
    entreprise. La dernière version de ce projet, proposée par le président Obama et visant à guérir le cancer «&nbsp;une fois pour toute&nbsp;», a été accueillie par de nombreuses critiques concernant le coût du projet, son impact
    vraisemblablement minimal sur la prévention et les politiques de santé publique, les inégalités d’accès auxquels le coût des thérapies personnalisées vont conduire et enfin et surtout ses chances douteuses de succès [INT&nbsp;16;
    BRE&nbsp;16; BAY&nbsp;15, JOY&nbsp;16]. Cependant, les critiques de la position philosophique sur laquelle se base la recherche en biologie alimentant ce programme et qui a dominé la recherche biomédicale pendant les 70 dernières années
    doivent encore proposer un cadre théorique alternatif cohérent et opérationnel.
</p>
<p class="indent">
    Bien que nos travaux sur la mise en place d’une théorie des organismes soient la plupart du temps sans rapport avec ce type de projets gigantesques, nous pensons que le contenu de ces travaux fournit une analyse critique et aborde les
    limites du point de vue dominant et réductionniste, riche en métaphores et pauvre en élaborations théoriques. Par contraste, dans un numéro spécial de <span class="T2">Progress in biophysics and molecular biology </span>à paraître et
    dont GL et AS sont les éditeurs invités, nous avons publié les différents résultats de notre groupe de recherche portant sur l’élaboration d’une théorie des organismes. Ce numéro analyse le rôle des théories scientifiques non seulement
    dans leur fonction épistémologique de permettre l’intelligibilité, mais aussi comme outils pratiques pour encadrer la recherche et la construction de l'objectivité tant des modèles expérimentaux que mathématiques. Plus important encore,
    les articles de ce numéro de PBMB mettent en avant plusieurs principes fondamentaux qui contribuent à construire une théorie générale des organismes.
</p>
<p class="indent">
    Depuis Aristote, le concept d’une tension vers un but, ou téléologie, a été utile pour comprendre l’une des caractéristiques principales des organismes, le «&nbsp;but&nbsp;» de se maintenir en vie. Un exemple de ceci est donné par la
    chèvre étudiée par [SLI&nbsp;42a, SLI&nbsp;42b]. Cet animal est né avec une paralysie de ses pattes avant et a vite appris à se déplacer en sautant sur ses pattes postérieures. Cet ajustement du comportement a conduit à des changements
    morphologiques majeurs au niveau des os des pattes postérieures et du pelvis ainsi qu’au niveau des muscles pelviens [WES&nbsp;05]. Deux millénaires après Aristote, un autre grand philosophe, E. Kant, a travaillé sur la différence entre
    la connaissance de l’inerte et du vivant. Pour ce qui est de la pensée téléologique, il a mis en valeur les liens entre l’organisme et ses parties et la causalité circulaire impliquées par ces relations. Il décrit le jugement
    téléologique comme un principe organisateur permettant de comprendre l’objet biologique à travers son unité (cet objet étant cause et effet de lui-même), avant de décrire individuellement ses parties. À la suite de Kant, la téléologie a
    été adoptée comme heuristique par les téléomécanistes [LEN&nbsp;82]; pour Blumenbach, la <span class="T2">Bildungstrieb</span> (la force vital) était un agent téléologique dont la cause, à l’instar de celle de la gravitation
    newtonienne, était au-delà des capacités de la Raison. Cependant, les conséquences de ce principe organisateur, comme celles de la gravitation, pouvait être soumis à l’enquête scientifique [LEN 80]. Ainsi, la téléologie fut un concept
    particulièrement utile pour le développement de plusieurs disciplines biologiques à la fin du XVIII<span class="T3">ième</span> et au XIX<span class="T3">ième</span> siècles.
</p>
<p class="indent">
    Plusieurs historiens, philosophes et biologistes ont décrit les changements globaux dans la pratique et la conceptualisation des phénomènes biologiques qui ont eu lieu au XX<span class="T3">ième </span>siècle [MAY 96; GIL 00]. L'un
    d'eux, Lenny Moss, décrit «&nbsp;le tournant phylogénétique&nbsp;» comme ayant changé la perception de l'organisme. Ainsi il affirme&nbsp;: «&nbsp;le théâtre de l’adaptation est passé des histoires de vie individuelles, c’est-à-dire
    l’ontogenèse, à celui de populations sur plusieurs générations, c’est-à-dire la phylogénie&nbsp;» (nous traduisons). Le tournant phylogénétique de Moss impose un choix «&nbsp;[...] entre une théorie de la vie qui place l'agentivité pour
    l'acquisition de formes adaptées au niveau de l'ontogenèse – c’est-à-dire dans une certaine théorie de l'épigenèse, par opposition à une vue qui expulse de l'organisme toutes sortes d’agentivité adaptative et la déplace vers une force
    extérieure – ou comme Daniel Dennett [DEN 95] préfère le dire, un algorithme appelé ‘sélection naturelle’&nbsp;» [Mos&nbsp;03]. En raison de ce changement, l'agentivité, la normativité et individuation, jusque-là considérés comme les
    principales caractéristiques de la vie, a presque disparu du langage de la biologie. Depuis lors, les cellules et les organismes sont devenus des bénéficiaires passifs d'un programme. En conséquence, il est peu surprenant que la
    biologie actuelle soit munie d’une théorie de l'évolution, mais pas d’une théorie des organismes.
</p>
<p class="indent">
    En dépit de la forte influence des téléomécanistes, leur point de vue n'a pas été accepté universellement&nbsp;; en fait, deux courants contradictoires ont émergé dans la pensée biologique. Leur principale différence résidait dans
    l’hypothèse qu’il y ait des singularités chez le vivant qui exigent une perspective différente de celle utilisée en mécanique. Le débat long de deux siècles entre ces deux positions a continué dans le XX
    <span class="T3">ième</span> siècle sous la forme d’une polarisation entre réductionnistes et organicistes, bien que les premiers se soient déplacés d’une vision du monde mécanique à un point de vue inspiré par les théories
    mathématiques de l'information [LON 12]. En effet, l'introduction de la notion de «&nbsp;programme&nbsp;» [PER 16, LON 12] a été vue comme un moyen théorique pour se débarrasser du concept de téléologie [MAY 96]. Toutefois, l'adoption
    des métaphores et des outils puissants conçus et utilisés par les réductionnistes rendent floue la distance entre ces deux courants (voir [PER 16, LON&nbsp;12]). L'état actuel des choses est que même les biologistes qui se considèrent
    comme organicistes utilisent la plupart du temps la langue omniprésente de la biologie moléculaire, une langue qui confère le pouvoir causal aux molécules, et en particulier aux gènes. De nos jours, la principale différence entre
    réductionnistes et organicistes est que ces derniers sont très conscients que, lorsqu’ils pratiquent le réductionnisme analytique, ils courent le risque de détruire les phénomènes même qu'ils ambitionnent de comprendre.
</p>
<p class="indent">
    En effet, le choix des observables pertinents est au cœur de toute construction théorique<span class="Comment_20_Reference"><span class="T4"> </span></span>[LON 16]. La physique, dont la méthode est souvent considérée comme une
    référence, a su proposer des cadres théoriques fort différents à cause de «&nbsp;simples&nbsp;» changements d'échelle&nbsp;: quantique, hydrodynamique, relativiste … des échelles et des observables forts différents sont analysés par des
    théories conceptuellement et mathématiquement différentes, voire incompatibles [CHI&nbsp;15]. La recherche d'observables propres à la biologie a toujours été présente. Les naturalistes du XVIII<span class="T3">ième</span> siècle avaient
    une vraie passion des formes, les phénotypes en fait, qui permettra d’analyser les espèces et leurs dynamiques historiques dans la théorie de l'évolution Darwinienne.
</p>
<p class="indent">
    Dans la seconde moité du XX<span class="T3">ième</span> siècle, l'arrivée fracassante d'un nouvel objet de connaissance, l'information transmise et élaborée, a offert des nouvelles possibilités à l'invention scientifique. De nos jours,
    un flot invisible, en se déplaçant à la vitesse des électrons ou des photons, modifie toute chose, organise le monde, de façon indépendante de sa réalisation matérielle (le logiciel et le signal sont analysés indépendamment du matériel
    qui permet l'élaboration et la transmission). Depuis Morse, encore plus avec Turing et sa machine à états discrets, les signaux sont transmis ou élaboré par et comme des suites discrètes de signes. Or, «&nbsp;un cristal
    apériodique&nbsp;», comme l'ADN, ne pourrait-il pas avoir cette fonction de codage de l'hérédité&nbsp;? La belle conjecture de Schrödinger de 1944, fera des ravages. Elle est belle en soi, car originale à l'époque, audacieuse la
    première fois&nbsp;: elle envisage qu’en une dimension on puisse coder des structures tridimensionnelles&nbsp;! Les codages existants, comme ceux de Morse, voire de Gödel ou Turing, dans les années 1930, avaient encodé des suites de
    signes par d'autres signes, voire par des nombres, rien de plus. Probablement personne n'avait encore envisagé d'utiliser cette propriété forte du discret mathématique&nbsp;: on peut encoder des espaces
    <span class="T2">discrets</span> de toute dimension finie en une seule dimension. De plus, Schrödinger comprend la force, les implications et les limites de sa conjecture&nbsp;: il observe que, si elle est vraie, l'organisme doit être
    vu comme une machine Laplacienne, dans laquelle la détermination garantirait la prédictibilité. Ce que du reste avait dit Turing de sa propre machine et ce qui, avec une grande lucidité, sera repris par Monod&nbsp;: «&nbsp;la cellule
    est une machine cartésienne&nbsp;», réglée par «&nbsp;une algèbre booléenne, comme les ordinateurs&nbsp;» [MON 70] – les ordinateurs sont déterministe et prédictible, malgré quelques évènements aléatoires possibles dans les ordinateurs
    concrets, fort rares et contrôlés, [LON 10]. Et voilà que l'information biologique se trouve coincée dans les molécules, vues comme structures discrètes, atomistes, du vivant&nbsp;; elles deviennent alors le lieu de la réduction ultime
    de toute forme de connaissance biologique et, qui plus est, d'un déterminisme radical (laplacien). Leur interaction exacte, stéréospécifique, garantira la transmission et l'élaboration de l'information&nbsp;: «&nbsp;l'évolution est due
    à du bruit&nbsp;» [MON 70]. L'information est donc un flot logique indépendant du matériel, c'est-à-dire de la matérialité du biologique, dont le corps physique devient simplement le véhicule de l'information génétique [GOU 02]. En
    fait, l'information numérique est aussi indépendante, disions-nous, des dimensions de l'espace. Dans les machines numériques, cela est nécessaire pour avoir la ''machine universelle de Turing'', c'est-à-dire, les systèmes d'exploitation
    et les compilateurs. Pour devenir programme fonctionnant de l'ontogenèse, l'algèbre booléenne génétique a besoin de cet univers unidimensionnel où les corps biologiques et leurs interactions physiques, dans la morphogenèse par exemple,
    n'ont pas de place, et les dimensions de l'espace sont mathématiquement transparentes.
</p>
<p class="indent">
    Outre les problèmes conceptuels générés par le tournant phylogénétique et la révolution informationnelle de la biologie moléculaire, en particulier la dématérialisation et l'adimensionalité, l'importance de l'information digitale et la
    disponibilité de bases de données gigantesques a même conduit certains à penser que la méthode scientifique est obsolète [AND 08]. Les analyses des Big Data moléculaires (transcriptomes, par exemple) devraient permettre de se passer de
    toute tentative de comprendre, en permettant la prédiction et l'action (les thérapies, typiquement) par la seule analyse des corrélations. Remarquons cependant que ces analyses sont épistémologiquement subordonnées à un regard
    théorique, en particulier par le choix de ce qui est observé. Ainsi la transcriptomique, quelle que soit la taille de la base de donnée, est aveugle à la distribution des forces mécaniques, si importante pour la morphogenèse, ou des
    champs électriques, cruciaux pour le cœur et le système nerveux. (voire aussi [CAL&nbsp;16] pour une critique mathématique de ces thèses).
</p>
<p class="indent">
    En suivant d'autres voies, la perspective proposée tout au long de cet article et du numéro cité ci-dessus revient à souligner la matérialité radicale du biologique, y compris des dimensions spatiales des organismes et à retrouver la
    méthode scientifique plutôt que de s’y opposer. Ainsi, l'objectif de nos travaux est de proposer des principes théoriques pour la construction d'une théorie des organismes qui pourraient surmonter les obstacles découlant des points de
    vue réductionnistes et/ou basés sur la notion d’information issue du XX<span class="T3">ième</span> siècle, et contourner le choix imposé par la Synthèse Moderne entre phylogenèse et approche organiciste. Nous commençons, suivant
    Darwin, par le choix des organismes comme observables pertinents. Nous partons aussi de la cellule, pour laquelle nous proposons une hypothèse explicite. Nous proposons des principes, qui nous paraissent robustes, suggérés par
    l'observation et l'expérience.
</p>
<p class="indent">
    Sur la base de la tradition organiciste, nous proposons trois principes pour élaborer une théorie des organismes, à savoir&nbsp;: 1) l'état par défaut des cellules comme prolifération avec variation et motilité, sur la base la théorie
    cellulaire [SOT&nbsp;16], 2) le principe d'organisation, dans la lignée de Kant et d’une certaine biologie théorique [MOS&nbsp;16], et 3) le principe de variation [MON 16a], en continuité avec les travaux de Darwin. En outre, notre
    numéro spécial donne des exemples sur la façon dont ces principes peuvent guider la recherche biologique sur la morphogenèse [MON 16b] et le cancer [SON 16]. Dans cet article nous reprenons les éléments de conclusions de ce numéro.
</p>
<h3 class="sectionHead">2. Positions philosophiques</h3>
<p class="indent">
    Contrairement à la biologie évolutive, la biologie des organismes ne possède pas encore une théorie globale largement acceptée. Pour cette raison, il serait très utile que les praticiens rendent explicite les principes, les postulats et
    les concepts qui sous-tendent leurs travaux de recherche&nbsp;; bref, leurs positions philosophiques. Du point de vue organiciste développé ici, les objets biologiques sont caractérisés par la coexistence simultanée de contraires comme
    en témoigne leur variation et leur stabilité, la séparation incomplète entre intérieur et extérieur (topologie) et entre avant et après (le temps). Ce dernier cas conduit aux notions de présent étendu, de mémoire et d'anticipation
    [MIQ&nbsp;16&nbsp;; LON&nbsp;11b]. Du point de vue thermodynamique, les organismes sont des systèmes ouverts qui canalisent des flux de matière et d'énergie au moyen et pour le maintien de leurs métabolismes. Les contraintes internes
    d’un tel objet sont toujours perturbées par des contraintes externes&nbsp;; ainsi, afin de comprendre ce qui se passe dans le système, nous devons accéder simultanément aux niveaux multiples où ce système est intégré [STE&nbsp;97]. Par
    exemple, la cellule dans son ensemble est intégré dans un système plus complexe, le tissu, l'organisme, dans lequel elle n’aura pas le même comportement que quand elle est placée dans une culture in vitro classique. Par exemple, dans un
    cardiomyocyte les protéines qui canalisent les ions (calcium, potassium) transportent des courants qui modifient la tension de la cellule. En retour, la tension de la cellule change les canaux ioniques [NOB 06]. Ainsi, ces éléments
    modifient le comportement du cœur et le cœur modifie le comportement de ses composants, mais les composants et le cœur sont intégrés dans une structure multicellulaire plus élevée, l'organisme. Cela signifie que le fonctionnement d'un
    tel système n’est jamais défini par ses seules conditions initiales. L’objet biologique est historique et fait preuve de changements incessants, de la fécondation à la mort. L’objet biologique est toujours en cours de construction et
    remodelé au cours de sa vie.
</p>
<p class="indent">
    En somme, la manière suivant laquelle un organisme constitue sa trajectoire historique n’est pas une conséquence de sa description initiale. Au lieu de cela, il agit et il produit la nouveauté (qualitative et structurale) dans le monde
    réel [MON&nbsp;16a]. Ainsi, l'émergence, entendue ici comme l'apparition de nouveaux observables au cours du temps, n’est pas une propriété épistémique simple. Il a une signification ontologique et théorique [SOT 08].
</p>
<h3 class="sectionHead">3. De l'inerte au vivant</h3>
<p class="indent">
    Les théories physiques sont fondées sur des structures mathématiques stables, basées sur des régularités et en particulier les symétries théoriques. Sur le plan théorique, l'objet physique est à la fois défini et compris par ses
    transformations mathématiques. Ces opérations permettent une description stable de l'espace&nbsp;; cet espace est objectivé comme l'espace permettant la détermination théorique et spécifiant la trajectoire de l'objet (généralement
    effectué par des principes d'optimisation). En somme, les objets physiques sont génériques et leurs trajectoires sont spécifiques [LON 16, MON 16a].
</p>
<p class="indent">
    En biologie, nous supposons à la place l'instabilité des symétries théoriques, celles-ci sont susceptibles de changer lors de l’écoulement du temps, par exemple quand un zygote se développe en un animal adulte. Des objets biologiques,
    les organismes, sont spécifiques et, par conséquent, ils ne sont pas interchangeables. Leurs trajectoires sont génériques&nbsp;; elles ne sont pas spécifiés par l'espace des phases [LON 14]. Ces objets biologiques sont le résultat d'une
    histoire qui représente une cascade de changements de leurs régularités. Ils font preuve de variabilité, de contextualité et d’historicité [MON 16]&nbsp;; contrairement aux objets inertes, ils sont des agents. En outre, les organismes
    sont non seulement en mesure de créer leurs propres règles, ils ont aussi la capacité de les changer [MIQ 16, CAN 91, MOS 16, MON&nbsp;16]. Ce point constitue notre principe de variation [MON&nbsp;16].
</p>
<h3 class="sectionHead">4. La théorie cellulaire&nbsp;: un point de départ vers une théorie des organismes.</h3>
<p class="indent">
    Canguilhem retrace l'histoire de la théorie cellulaire au XVIII<span class="T3">ième</span> siècle, et distingue deux aspects principaux, abordant chacun une question fondamentale, à savoir i) la composition des organismes, c'est la
    cellule comme l'élément «&nbsp;portant toutes les caractéristiques de la vie&nbsp;», et ii) la genèse des organismes. Canguilhem attribue à Virchow l’idée d’associer ces deux composants [CAN 08]. Le deuxième élément de la théorie, la
    genèse des organismes, s’applique, bien entendu, à la fois aux organismes unicellulaires et multicellulaires. En outre, depuis la création de la théorie cellulaire, on considère que l'œuf à partir duquel les organismes multicellulaires
    se développent est une cellule dont le comportement peut être expliqué par la division de ladite cellule en cellules filles par prolifération cellulaire. À cet égard, la cellule était, de l'avis de Claude Bernard, &nbsp;‘un atome
    vital’: «&nbsp;dans toute analyse en profondeur d'un phénomène physiologique, on arrive toujours au même point, le même agent irréductible élémentaire, l'élément organisé, la cellule&nbsp;» (Claude Bernard Revue Scientifique, le 26
    septembre 1874 – cité par [CAN 08]). À partir de cette position dominante à la fin du XIX<span class="T3">ième</span> siècle, la théorie s’est maintenue et a survécu à la question de savoir si les syncytia sont compatibles avec la
    structure cellulaire d’un multicellulaire, d’un point de vue anatomique ou fonctionnelle. Un autre problème débattu depuis les travaux de Virchow porte sur le statut d’individu des cellules. Dans le cas des organismes unicellulaires il
    n'y a pas de problème à affirmer que la cellule et l'organisme ne font qu’un et qu'ils sont donc des individus. Cependant, attribuer l'individualité aux cellules dans les organismes multicellulaires, en plus de celle de l’organisme qui
    les contient, a posé des problèmes qui ont conduit certains à rejeter la théorie cellulaire. De notre point de vue, c’est le concept d’enchevêtrement de niveau qui offre une perspective utile sur la relation entre l'organisme et les
    cellules&nbsp;: le zygote est à la fois une cellule et un organisme, et à chaque division cellulaire au cours du développement, ces deux niveaux d'individuation deviennent plus évidents. En d'autres termes, nous pouvons adopter la
    philosophie de Simondon et regarder individuation comme un processus plutôt que voir l’individu comme une chose [MIQ 16].
</p>
<p class="indent">
    À l'époque de sa formulation et aujourd'hui encore, la théorie cellulaire joue un rôle fédérateur entre la biologie évolutionniste et la biologie des organismes&nbsp;; elle fournit un lien entre l'individu et sa descendance dans
    laquelle la cellule elle-même est un véhicule de l'hérédité. Dans cette perspective théorique, la cellule est le lieu irréductible de l'agentivité.
</p>
<h3 class="sectionHead">5. Les principes fondateurs&nbsp;: de l'enchevêtrement à l'intégration&nbsp;?</h3>
<h4 class="subsectionHead">5.1 Généalogie des trois principes proposés&nbsp;: l'état par défaut, le principe d'organisation et le principe de variation.</h4>
<p class="indent">
    Chacun de ces principes a sa propre histoire avant la création du groupe «&nbsp;organismes&nbsp;». L’état par défaut a été initialement proposé par Soto et Sonnenschein [SOT 91] et était basé sur un travail expérimental effectué à
    partir du début des années 1970 étudiant le rôle des œstrogènes dans la prolifération de leurs cellules cibles. Ce principe est fondé sur la théorie cellulaire et dans la matérialité stricte de la vie. L'état par défaut est ancré sur
    l'idée que la cellule est un organisme et est à l'origine de tous les organismes. Le travail conjoint de Longo, Montévil, Sonnenschein et Soto a abouti à l'intégration de la variation dans l'état de la prolifération et de la motilité
    par défaut&nbsp;: chaque division cellulaire génère de la variation [LON 15b]. Les travaux de Miquel, Soto et Sonnenschein ont également abordé la génération de nouveaux observables tout en examinant les concepts d'émergence, la
    causalité descendante et l'enchevêtrement de niveau [SOT&nbsp;08].
</p>
<p class="indent">
    Le principe de variation peut être attribuée à l'analyse par Bailly, Longo et Montévil des différences entre les objets physiques et les objets biologiques, la notion de criticité étendue [LON 11a, LON 16], certains travaux de Kauffman
    [KAU&nbsp;02] et bien sûr, l'idée darwinienne de reproduction avec modification
    <span class="Footnote_20_Reference">
        <span
            class="Footnote_20_anchor"
            title="Footnote: . Le concept de criticité étendu part de la physique des transitions de phase, qui traite de l'émergence ponctuelle d'un nouvel objet, tel que dans la transition entre la vapeur d'eau et les cristaux de neige. Les transitions de phase se produisent en un point, la «&nbsp;température critique&nbsp;». Ce point marque le passage d'une symétrie à l'autre, et d'un objet macroscopique ou d’une structure à l'autre. Les transitions critiques étendues, à l’opposé, concernent un intervalle non-trivial, comme la durée de vie d'un organisme. Dans ce contexte, un organisme subit continuellement des transitions critiques, dans lesquels à la fois les objets et les symétries changent. L'organisme et ses composants sont reconstruits de façon permanente avec variations."
        >
            <a href="#ftn5" id="body_ftn5">5</a>
        </span>
    </span>
    . Le principe de variation affirme qu’un organisme est toujours l’objet possible de changement qualitatifs, potentiellement imprédictibles et pertinents pour son fonctionnement. Ces changements incessants décrits par le principe de
    variation pointent une différence majeure entre les théories de l'inerte et celles du vivant, discutée dans la section 3. Le revers de la médaille, à savoir la stabilité, doit alors être abordé par un principe propre car il n’y plus
    d’équivalent de la validité axiomatique des hypothèses fondamentales de la physique (les lois dans leurs formes mathématiques) et le principe qui joue ce rôle pour nous est le principe d’organisation.
</p>
<p class="indent">
    &nbsp;Le principe d'organisation provient de travaux antérieurs en biologie théorique, tels que ceux sur les notions d’autopoïèse [VAR 74], de clôture [ROS 91] et de cycles travail-contraintes [KAU 02], qui ont été réinterprétés par
    Montévil et Mossio comme clôture entre contraintes [MON 15, MOS 16]. Le principe d’organisation stipule que les systèmes biologiques réalisent la clôture, c’est-à-dire que les contraintes biologiquement pertinentes (pour l’organisme)
    sont interdépendantes. Dans notre cadre, le principe d'organisation est la source fondamentale de la stabilité biologique. La notion de clôture entre contraintes est un moyen pour atteindre et maintenir une relative stabilité
    organisationnelle, dans le changement, et a été traditionnellement appliquée aux processus intracellulaires. Mossio et al considèrent le concept de contraintes comme étant conservé à l'échelle de temps du processus contraint
    [MOS&nbsp;16]&nbsp;; ce concept ouvre un point d'entrée pour fonder théoriquement la mathématisation en biologie des organismes sans perdre de vue l’organisme lui-même. Nous avons utilisé cette notion pour la modélisation de la
    morphogenèse des glandes mammaires en partant de l'état par défaut des cellules et les contraintes qui s’appliquant à ce dernier [MON 16].
</p>
<h4 class="subsectionHead">5.2 Comment organiser ces principes en un ensemble cohérent&nbsp;?</h4>
<p class="indent">
    Notre travail théorique aborde à la fois les organismes unicellulaires et multicellulaires. Par analogie avec la stratégie de Darwin concernant la phylogenèse, il semble prudent de laisser de côté la transition du prébiotique au monde
    biotique, et nous proposons d’ancrer nos principes dans le monde biotique. Nous entendons par là que nous sommes agnostiques quant à savoir si les principes que nous proposons pour étudier les organismes sont pertinents pour le monde
    abiotique, puisque même une structure biochimique hypothétique pouvant instancier la clôture n’est pas un organisme, et qu’une molécule capable d’auto-réplication n’est pas un organisme capable de multiplication. Une distinction pourra
    peut-être être faite en départageant le temps des processus (physiques) du temps historique, proprement biologique [LON 15a].
</p>
<p class="indent">
    Les trois principes que nous proposons sont irréductibles l'un à l'autre et aucun d'entre eux ne peut être interprété comme une condition de possibilité des deux autres, au moins dans cette première analyse concernant leur articulation.
</p>
<h5 class="subsubsectionHead">5.2.1 Le rôle de l'état par défaut</h5>
<p class="indent">
    L'état par défaut biologique (prolifération avec variations et motilité), exprime l'agentivité biologique et propose une structure causale. Notre proposition sur l'état par défaut a des conséquences immédiates sur ce qui exige une
    explication au sens d'une cause théorique. L'état par défaut ne nécessite pas une telle cause. Au contraire, ce qui demande une explication est un écart par rapport à l'état par défaut (quiescence, variation restreinte, le manque de
    mobilité, voir [SOT 16]). Cette notion de cause théorique doit être distinguée de la notion de cause différentielle, selon laquelle une différence introduite dans le système, comme un produit cancérigène, conduit à une différence dans
    le comportement du système. Afin de passer d'une cause différentielle à une cause théorique, il est nécessaire de comprendre comment la cause différentielle modifie les contraintes sur le système [LON 16]. En plus des contraintes
    physiques, il existe aussi des contraintes chimiques qui affectent la morphogenèse. Par exemple, celles imposées par le collagène, les phospholipides ou l'ADN. La capacité d'un organisme à générer de nouvelles contraintes produit de la
    diversité.
</p>
<h4 class="subsubsectionHead">5.2.2 Le rôle des contraintes</h4>
<p class="indent">
    Les contraintes biologiques et leurs actions sont des objets clés pour la recherche en biologie dans le cadre d'une théorie des organismes. Tous les principes proposés dans ce numéro sont étroitement liés à la notion de contrainte, et
    réciproquement cette notion est façonnée par les principes fondateurs proposés.
</p>
<p class="indent">
    L'état par défaut est enraciné dans la théorie cellulaire et la notion de la cellule comme agent. Les contraintes sont des objets qui sont beaucoup plus simples que les cellules, et comprendre l'action des contraintes sur les cellules
    requiert un principe spécifique&nbsp;: les contraintes agissent en éloignant les cellules de l'état par défaut. Poser un état par défaut pour les cellules nous permet de discuter l'action des contraintes sur les cellules, qui est de
    réduire, entraver ou canaliser leur capacité à proliférer et à se déplacer. Cette approche permet de surmonter l'utilisation métaphorique et anthropocentrique de la notion de signal tout en reconnaissant l'agentivité des cellules. Les
    cellules ne sont plus des choses passives, comme les pierres, sur lesquels on doit agir pour qu’elles fassent quelque chose (proliférer ou se déplacer) [SOT 16].
</p>
<p class="indent">
    Le principe d'organisation conduit à mettre en évidence le rôle des contraintes par rapport à l’organisme, et ainsi à évaluer si une contrainte donnée est fonctionnelle, c’est-à-dire, si elle participe à la clôture. Les contraintes d'un
    organisme sont des contraintes qui sont à la fois maintenues par d'autres contraintes et à leur tour maintiennent d'autres contraintes. Compte tenu de l'interdépendance de l'organisme et de ses parties, il ne suffit jamais d’analyser
    une contrainte donnée ou un ensemble donné de contraintes isolément. Cependant, une analyse des contraintes sur l'état par défaut permet de comprendre la morphogenèse glandulaire dans un modèle 3D de glande mammaire, au niveau
    tissulaire [MON&nbsp;16]. Comme mentionné dans cet article, des contraintes supplémentaires au niveau tissulaire et la régulation par l’organisme, via les hormones, sont des ajouts supplémentaires évidents et nécessaires pour une
    analyse biologique plus complète. En somme, des contraintes supplémentaires devront être pris en considération pour comprendre l'organisation biologique globale dans laquelle le phénomène étudié, la morphogenèse des glandes mammaires
    dans notre cas, est enraciné.
</p>
<p class="indent">
    Le principe de variation se manifeste dans l'état par défaut, étant donné que chaque division cellulaire génère deux cellules similaires mais légèrement différentes. Le principe de variation s’applique également à des niveaux
    supra-cellulaire dans la notion darwinienne de descendance avec modification comme dans la morphogenèse. Le principe de variation établit que les contraintes ne doivent pas être considérés comme des invariants phylogénétiques ou même
    ontogénétiques. En revanche, les contraintes sont sujettes à variations. Par exemple, un processus morphogénétique qui est décrit comme un ensemble de contraintes en biophysique n’est pas nécessairement conservé dans une lignée. Au lieu
    de cela, il sera généralement modifié aussi bien pour certains individus qu’au niveau de groupes d'individus, par exemple dans une souche particulière. Les changements de contraintes sont donc intrinsèques à la notion de contraintes
    biologiques.
</p>
<h3 class="sectionHead">6. Conclusions</h3>
<p class="indent">
    Les théories scientifiques proposent des principes organisateurs et construisent l'objectivité en encadrant modèles, observations et expériences. De nombreux concepts et structures mathématiques proviennent de l'analyse des phénomènes
    physiques&nbsp;; ces innovations mathématiques, à leur tour, ont aidé à organiser les concepts physiques de manières nouvelles plus profondes. Un exemple classique est l'invention du calcul infinitésimal par Newton qui a été motivée par
    une analyse du mouvement des corps, conduisant aux notions de vitesse et d’accéleration. Le calcul infinitésimal rend ces concepts mathématiquement intelligibles et le mouvement des planètes a ainsi acquise une nouvelle objectivité
    mathématique. La géométrie de Riemann, motivée par l'analyse géométrique de la gravitation de Newton, a été inventé au XIX<span class="T3">ième</span> siècle et utilisée plus tard par Einstein pour la physique de la Relativité. Au XX
    <span class="T3">ième</span> siècle. Le delta de Dirac, l’intégrale de Feynman, et des théories complètement nouvelles telles que les théories de jauges ont été entièrement motivés par la physique quantique. Comme dans les exemples
    précédents, ces inventions mathématiques apportent un nouvel éclairage sur les phénomènes physiques. Ce ne sont que quelques exemples d'une synergie créative entre ces disciplines. Pourquoi n’est-ce pas aussi le cas en biologie&nbsp;?
</p>
<p class="indent">
    Symétries et lois de conservation sont des notions intriquées et elles ont un rôle fondamental tant en mathématiques qu’en physique&nbsp;; elles se marient strictement à la commune généricité des objets, mathématiques et physiques, et à
    la spécificité (unicité et optimalité mathématique) des trajectoires physiques. En biologie, au contraire, la variation est au cœur de la théorie de l'évolution et de la théorie des organismes que nous avons esquissée et avons
    l'intention de développer&nbsp;; elle se corrèle à la spécificité (historicité, individuation) de l'objet biologique, ainsi qu'à la généricité des trajectoires évolutives (elles sont des possibles) [LON&nbsp;14]. Les conséquences du
    principe de variation, et la complexité conceptuelle qui lui est associée dans son interaction avec la stabilité, expliquent pourquoi la biologie n'a pas encore inspiré les mathématiciens à créer des structures qui ouvriraient la
    possibilité de formaliser les concepts biologiques, comme, disions-nous plus haut, cela fut souvent le cas en physique. Cependant, souligner les différences entre les objets inertes et vivants ouvre la voie à une meilleure compréhension
    de ce qu'il faudrait pour arriver à cet objectif lointain&nbsp;: le développement d'une biologie mathématique jouant un rôle similaire à celui que les mathématiques ont joué en physique, et distincte des mathématiques appliquées
    provenant de la physique et qui restent couramment utilisées pour modéliser les phénomènes biologiques [LON 15].
</p>
<p class="indent">
    Les objets biologiques sont des agents capables de créer leurs propres normes&nbsp;; ils harmonisent en permanence leur capacité à créer la nouveauté et leur stabilité. Postuler les trois principes énoncés ci-dessus a également ouvert
    la voie à une meilleure compréhension de la morphogenèse et de la carcinogenèse [MON 16, SON 16]. Ces principes changent profondément à la fois les observables biologiques et leur détermination par rapport aux cadres théoriques des
    théories physiques. Ce changement radical ouvre la possibilité d'ancrer la modélisation mathématique sur des principes proprement biologiques. Turing a montré qu'il existe un écart épistémologique entre l'imitation et la modélisation
    [TUR 50, TUR 52], comme mis en évidence dans [LON 08]. Alors que la seconde est basée sur une théorie concernant l'objet modélisé et rend compte de sa structure causale, la première ne l’est pas. Ainsi, des principes biologiques sont
    nécessaires pour aller au-delà de l’imitation. Par exemple, notre modèle de morphogenèse des canaux lactifères est basé sur l'état par défaut et les contraintes générées par les cellules épithéliales [MON&nbsp;16b].
    <span class="T2">En identifiant les contraintes sur l'état par défaut, les explications biomécaniques multi-niveaux deviennent aussi légitimes que celles au niveau moléculaire</span>. Enfin, l'analyse des différences entre la physique
    de la matière inanimée et le vivant nous a conduit à proposer trois principes qui offrent une perspective fiable pour la construction d'une théorie des organismes bien nécessaire. En plus de cet effet théorique, ces principes fondateurs
    ont été utiles pour encadrer les expériences et la modélisation mathématique.
</p>
<h3 class="subsectionHead"><span class="T7">7.</span><span class="T6"> Bibliographie</span></h3>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[AND&nbsp;08] </span></span><span class="T10">Anderson</span>
    <span class="T6">, C. 2008. «&nbsp;The end of theory: The data deluge makes the scientific method obsolete.&nbsp;» </span><span class="T8">WIRED</span><span class="T6">.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[BAY&nbsp;15] </span></span><span class="T10">Bayer</span><span class="T6">, R., </span><span class="T10">Galea</span>
    <span class="T6">, S. «&nbsp;Public health in the precision-medicine era.&nbsp;» </span><span class="T8">N. Engl. J. Med.</span><span class="T6"> 373, 499-501. 2015.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[BRE&nbsp;16] </span></span><span class="T10">Breivik</span><span class="T6">, J. «&nbsp;We won't cure cancer.&nbsp;» </span><span class="T8">New York Times</span>
    <span class="T6"> </span>
    <a class="Internet_20_link" href="http://www.nytimes.com/2016/05/27/opinion/obamas-pointless-cancer-moonshot.html"><span class="Internet_20_link">http://www.nytimes.com/2016/05/27/opinion/obamas-pointless-cancer-moonshot.html</span></a>
    <span class="T6">. May 27 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[CAL&nbsp;16] </span></span><span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T11">Calude, C.S., Longo, G.</span></span>
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T12"> «&nbsp;The Deluge of Spurious Correlations in Big Data.&nbsp;» </span></span><span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T13">Found Sci</span></span>
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T12">. 1-18, mars 2016.</span></span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[CAN&nbsp;91] </span></span><span class="T10">Canguilhem</span><span class="T6">, G. </span><span class="T8">The Normal and the Pathological</span>
    <span class="T6">. Zone Books, New York. 1991.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[CAN&nbsp;08] </span></span><span class="T10">Canguilhem</span><span class="T6">, G. </span><span class="T8">Knowledge of Life</span>
    <span class="T6">. Fordham University Press, New York. 2008.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[CHI&nbsp;15] </span></span><span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T11">Chibbaro S., Rondoni l., Vulpiani A. </span></span>
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T13">Reductionism, Emergence and Levels of Reality</span></span><span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T12">, Springer, Berlin, 2015.</span></span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[DEN&nbsp;95] </span></span><span class="T10">Dennett</span><span class="T6">, D.C. </span><span class="T8">Darwin's Dangerous Idea</span>
    <span class="T6">. Simon &amp; Schuster, New York, NY. 1995.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[GIL&nbsp;00] </span></span><span class="T10">Gilbert</span><span class="T6">, S.F., </span><span class="T10">Sarkar</span>
    <span class="T6">, S. «&nbsp;Embracing complexity: Organicism for the 21st century.&nbsp;» </span><span class="T8">Developmental Dynamics</span><span class="T6"> 219, 1-9. 2000.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[GOU&nbsp;02]</span></span><span class="T10"> Gouyon P.h., Henry J.-P., Arnoud J.</span><span class="T6"> </span>
    <span class="T8">Gene Avatars, The Neo-Darwinian Theory of Evolution</span><span class="T6">, Kluwer. 2002.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[INT&nbsp;16] </span></span><span class="T10">Interlandi</span><span class="T6">, J. «&nbsp;The paradox of precision medicine.&nbsp;» </span>
    <span class="T8">Sci. Am.</span><span class="T6"> 314, 24. 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[JOY&nbsp;16] </span></span><span class="T10">Joyner</span><span class="T6">, M.J., </span><span class="T10">Paneth</span>
    <span class="T6">, N., Ioannidis, J.P. «&nbsp;What happens when underperforming big ideas in research become entrenched?&nbsp;» </span><span class="T8">Journal of the American Medical Association.</span><span class="T6"> 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[KAU&nbsp;02] </span></span><span class="T10">Kauffman</span><span class="T6">, S. </span><span class="T8">Investigations</span>
    <span class="T6">. Oxford University Press, New York. 2002.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LEN&nbsp;80] </span></span><span class="T10">Lenoir</span><span class="T6">, T. «&nbsp;Kant, Blumenbach and vital materialism in german biology.&nbsp;» </span>
    <span class="T8">Isis</span><span class="T6"> 256, 77-108. 1980.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LEN&nbsp;82] </span></span><span class="T10">Lenoir</span><span class="T6">, T. </span>
    <span class="T8">The Strategy of Life: Teleology and Mechanics in Nineteenth-Century Biology</span><span class="T6">. D. Reidel Publishing, Dordrecht, Holland. 1982.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;15a] </span></span><span class="T10">Longo</span>
    <span class="T6">, G. «&nbsp;How Future Depends on Past and on Rare Events in Systems of Life&nbsp;», in preparation: Italian preliminary version in </span><span class="T8">Paradigmi</span>
    <span class="T6">, n. speciale XXXIII Maggio-Agosto Gagliasso, G., Sterpetti, F., (Eds.), Rome:Franco Angeli. 2015a.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;08] </span></span><span class="T9">Longo, G.</span> «&nbsp;Laplace, Turing and the "imitation game" impossible geometry: randomness, determinism and programs in
    Turing's test.&nbsp;» In Epstein, R., Roberts, G., &amp; Beber, G. (Eds.). <span class="T2">Parsing the Turing Test</span>, pp. 377-413, Springer, 2008.
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;10] </span></span><span class="T9">Longo G., Palamidessi C., Paul T.</span> «&nbsp;Some bridging results and challenges in classical, quantum and computational
    randomness&nbsp;».In <span class="T2">Randomness through Computation</span>, H. Zenil (ed), World Sci., 2010.
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;12] </span></span><span class="T10">Longo</span><span class="T6">, G., </span><span class="T10">Miquel</span><span class="T6">, P.-A., </span>
    <span class="T10">Sonnenschein</span><span class="T6">, C., </span><span class="T10">Soto</span><span class="T6">, A.M. «&nbsp;Is information a proper observable for biological organization?&nbsp;» </span>
    <span class="T8">Prog. Biophys. Mol. Biol. </span><span class="T6">109, 108-14. 2012.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;11a] </span></span><span class="T10">Longo</span><span class="T6">, G., </span><span class="T10">Montévil</span>
    <span class="T6">, M. «&nbsp;From physics to biology by extending criticality and symmetry breakings.&nbsp;» </span><span class="T8">Prog. Biophys. Mol. Biol.</span><span class="T6"> 106, 340-347. 2011a.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;11b] </span></span><span class="T10">Longo</span><span class="T6">, G., </span><span class="T10">Montévil</span>
    <span class="T6">, M. «&nbsp;Protention and retention in biological systems.&nbsp;» </span><span class="T8">Theory in Biosciences</span><span class="T6"> 130, 107-117. 2011b.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;14] </span></span><span class="T10">Longo</span><span class="T6">, G., </span><span class="T10">Montévil</span><span class="T6">, M. </span>
    <span class="T8">Perspectives on Organisms: Biological Time, Symmetries and Singularities.</span><span class="T6"> Springer, Berlin. 2014.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;15b] </span></span><span class="T10">Longo</span><span class="T6">, G., </span><span class="T10">Montévil</span><span class="T6">, M., </span>
    <span class="T10">Sonnenschein</span><span class="T6">, C., </span><span class="T10">Soto</span><span class="T6">, A.M. «&nbsp;In search of principles for a theory of organisms&nbsp;» </span><span class="T8">J. Biosci</span>
    <span class="T6">. 40, 955-968. 2015b.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[LON&nbsp;16] </span></span><span class="T10">Longo, G., Soto, A.M.</span><span class="T6"> «&nbsp;Why do we need theories?&nbsp;», </span>
    <span class="T8">Progress in Biophysics and Molecular Biology,</span><span class="T6"> Available online 4 July 2016, http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.005. 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[MAY&nbsp;96] </span></span><span class="T10">Mayr</span><span class="T6">, E. </span><span class="T8">This Is Biology</span>
    <span class="T6">. Harvard University Press, Cambridge, MA. 1996.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[MIQ&nbsp;16] </span></span><span class="T10">Miquel, P.-A., Hwang, S.-Y.</span><span class="T6"> «&nbsp;From physical to biological individuation,&nbsp;» </span>
    <span class="T8">Progress in Biophysics and Molecular Biology,</span><span class="T6"> Available online 16 July 2016, \url{http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.002}. 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[MON&nbsp;70] </span></span><span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T11">Monod, J. </span></span>
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T13">Le Hasard et la Nécessité.</span></span><span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T12"> PUF, Paris. 1970.</span></span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[MON&nbsp;15] </span></span><span class="T10">Montévil</span><span class="T6">, M., </span><span class="T10">Mossio</span>
    <span class="T6">, M. «&nbsp;Biological organisation as closure of constraints&nbsp;». </span><span class="T8">J. Theor. Biol. </span><span class="T6">372, 179-191. </span>2015.
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T9">[MON&nbsp;16a] </span></span><span class="T9">Montévil, M., Mossio, M., Pocheville, A. \&amp; Longo, G.</span>.
    <span class="T6">«&nbsp;Theoretical principles for biology: Variation&nbsp;», </span><span class="T8">Progress in Biophysics and Molecular Biology,</span>
    <span class="T6"> Available online 13 August 2016, \url{http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.005}. 2016</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[MON&nbsp;16b] </span></span><span class="T10">Montévil, M., Speroni, L., Sonnenschein, C., Soto, A.M.</span>
    <span class="T6"> «&nbsp;Modeling mammary organogenesis from biological first principles: Cells and their physical constraints&nbsp;», </span><span class="T8">Progress in Biophysics and Molecular Biology</span>
    <span class="T6">, Available online 18 August 2016, \url{http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.004}. 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[MOS&nbsp;03] </span></span><span class="T10">Moss</span><span class="T6">, L. 2003. </span><span class="T8">What Genes Can't Do</span>
    <span class="T6">. MIT Press, Cambridge, MA.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[MOS&nbsp;16] </span></span><span class="T10">Mossio, M., Montévil, M., Longo, G.</span>
    <span class="T6"> «&nbsp;Theoretical principles for biology: Organization&nbsp;», </span><span class="T8">Progress in Biophysics and Molecular Biology</span>
    <span class="T6">, Available online 10 August 2016, \url{http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.005}. 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[NOB&nbsp;06] </span></span><span class="T10">Noble</span><span class="T6">, D. </span><span class="T8">The Music of Life: Biology beyond the Genome.</span>
    <span class="T6"> Oxford University Press, Oxford. 2006.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[PER&nbsp;16] </span></span><span class="T10">Perret, N. \&amp; Longo, G.</span>
    <span class="T6"> «&nbsp;Reductionist perspectives and the notion of information&nbsp;», </span><span class="T8">Progress in Biophysics and Molecular Biology</span>
    <span class="T6">, Available online 22 July 2016, \url{http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.003}. 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[ROS&nbsp;91] </span></span><span class="T10">Rosen</span><span class="T6">, R. </span>
    <span class="T8">Life Itself: A Comprehensive Inquiry into the Nature, Origin, and Fabrication of Life</span><span class="T6">. Columbia University Press, New York. 1991.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[SLI&nbsp;42a] </span></span><span class="T10">Slijper</span>
    <span class="T6">, E.J. «&nbsp;Biologic-anatomical investigations on the bipedal gait and upright posture in mammals, with special reference to a little goat, born without forelegs&nbsp;» </span>
    <span class="T8">I. Proc. Konink. Ned. Akad. Wet. </span><span class="T6">45, 288-295. 1942a.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[SLI&nbsp;42b] </span></span><span class="T10">Slijper</span>
    <span class="T6">, E.J. «&nbsp;Biologic-anatomical investigations on the bipedal gait and upright posture in mammals, with special reference to a little goat, born without forelegs II.&nbsp;» </span>
    <span class="T8">Proc. Konink. Ned. Akad. Wet.</span><span class="T6"> 45, 407-415. 1942b.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[SON&nbsp;16] </span></span><span class="T10">Sonnenschein, C., Soto, A.M.,</span>
    <span class="T6"> «&nbsp;Carcinogenesis explained within the context of a theory of organisms&nbsp;». </span><span class="T8">Progress in Biophysics and Molecular Biology</span>
    <span class="T6">, \url{http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.004}. Available online 3 August 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[SOT&nbsp;16] </span></span><span class="T10">Soto, A.M., Longo, G., Montévil, M., Sonnenschein, C.</span>
    <span class="T6"> «&nbsp;The biological default state of cell proliferation with variation and motility, a fundamental principle for a theory of organisms&nbsp;», </span>
    <span class="T8">Progress in Biophysics and Molecular Biology</span><span class="T6">, Available online 2 July 2016, \url{http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.006}. 2016.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[SOT&nbsp;91] </span></span><span class="T10">Soto</span><span class="T6">, A.M., </span><span class="T10">Sonnenschein</span>
    <span class="T6">, C. «&nbsp;Regulation of cell proliferation: the negative control perspective.&nbsp;» </span><span class="T8">Ann. NY Acad. Sci.</span><span class="T6"> 628, 412-418. 1991.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[SOT&nbsp;08] </span></span><span class="T10">Soto</span><span class="T6">, A.M., </span><span class="T10">Sonnenschein</span><span class="T6">, C., </span>
    <span class="T10">Miquel</span><span class="T6">, P.-A. «&nbsp;On physicalism and Downward Causation in Developmental and Cancer Biology.&nbsp;» </span><span class="T2">Acta Biotheoretica</span> 56, 257-274. 2008.
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T9">[STE&nbsp;97] </span></span><span class="T9">Stengers</span>, I. <span class="T2">Cosmopolitiques vol. VI; La Vie et l'Artifice.</span>
    <span class="T6">La Découverte, Paris. 1997.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[TUR&nbsp;50] </span></span><span class="T10">Turing</span><span class="T6">, A.M. «&nbsp;Computing machinery and intelligence.&nbsp;» </span><span class="T8">Mind</span>
    <span class="T6"> 59, 433-460. 1950.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[TUR&nbsp;52] </span></span><span class="T10">Turing</span><span class="T6">, A.M. «&nbsp;The chemical basis of Morphogenesis.&nbsp;» </span>
    <span class="T8">Philos Trans R Soc London [Biol]</span><span class="T6"> 237, 37-72. 1952.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[VAR&nbsp;74] </span></span><span class="T10">Varela</span><span class="T6">, F.G., </span><span class="T10">Maturana</span><span class="T6">, H.R., </span>
    <span class="T10">Uribe</span><span class="T6">, R. «&nbsp;Autopoiesis: The organization of living systems, its characterization and a model.&nbsp;» </span><span class="T8">Biosystems</span><span class="T6"> 5, 187-196. 1974.</span>
</p>
<p class="bibitem">
    <span class="_2a_ISTE_2a__20_-_20_Blue_20_text"><span class="T10">[WES&nbsp;05] </span></span><span class="T10">West-Eberhard</span>
    <span class="T6">, M.J. «&nbsp;Phenotypic accommodation : adaptive innovation due to developmental plasticity.&nbsp;» </span><span class="T2">J. Exp. Zool. B Mol. Dev. Evol.</span> 304, 610-618. 2005.
</p>

<div class="indent footnotes">

<hr />
<p class="indent">
    <span>
        &nbsp; M. Montévil, G. Longo &amp; A. Soto. « Du siècle du gène à celui de l’organisme : introduction à de nouvelles perspectives théoriques ». In : <span class="T2">Sciences de la vie, sciences de l’information.</span> Sous la dir.
        de T. Gaudin, D. Lacroix, M.-C. Maurel et al. Paris : ISTE-Editions., 2017.
    </span>
</p>
<p class="indent">
    <span>&nbsp;2. Laboratoire "Matière et Systèmes Complexes" (MSC), UMR 7057 CNRS, Université Paris 7 Diderot, 75205 Paris Cedex 13, France et Institut d'Histoire et de Philosophie des Sciences et des Techniques (IHPST) - UMR 8590.</span>
</p>
<p class="indent">
    <span>
        &nbsp;3. Centre Cavaillès, République des Savoirs, CNRS USR3608, Collège de France et École Normale Supérieure, Paris, France et Department of Integrative Physiology and Pathobiology, Tufts University School of Medicine, Boston, MA
        USA.
    </span>
</p>
<p class="indent">
    <span>
        &nbsp;4. Department of Integrative Physiology and Pathobiology, Tufts University School of Medicine, Boston, MA USA et Centre Cavaillès, République des Savoirs, CNRS USR3608, Collège de France et École Normale Supérieure, Paris,
        France.
    </span>
</p>
<p class="indent">
    <span>
        &nbsp;5. Le concept de criticité étendu part de la physique des transitions de phase, qui traite de l'émergence ponctuelle d'un nouvel objet, tel que dans la transition entre la vapeur d'eau et les cristaux de neige. Les transitions
        de phase se produisent en un point, la «&nbsp;température critique&nbsp;». Ce point marque le passage d'une symétrie à l'autre, et d'un objet macroscopique ou d’une structure à l'autre. Les transitions critiques étendues, à
        l’opposé, concernent un intervalle non-trivial, comme la durée de vie d'un organisme. Dans ce contexte, un organisme subit continuellement des transitions critiques, dans lesquels à la fois les objets et les symétries changent.
        L'organisme et ses composants sont reconstruits de façon permanente avec variations.
    </span>
</p>
</div>
