
// ************************************************************
// Layout
// ************************************************************

.archives {
  --flow-space: var(--gap-xl);
}

.pubTypes {
  display: flex;
  flex-direction: column;
 flex-wrap: wrap;

  max-height: 14em;
li{
 // --flow-space: 0;
  //flex: 1 100%;
margin-bottom: var(--gap-ms);
 }
 .ais-HierarchicalMenu-item2  {margin-bottom: var(--gap-xs);}
 li:not(.ais-HierarchicalMenu-item2)+.ais-HierarchicalMenu-item2{margin-top: calc(-1*var(--gap-xs));}
  .ais-HierarchicalMenu-item2+li:not(.ais-HierarchicalMenu-item2){margin-top: calc(1*var(--gap-xs));}
}

.refinements {
  --flow-space: 0;
  display: grid;
  grid-template-areas:
    'lang ' ' types'
    '   dates';
  grid-template-columns: 1fr;

  @media (min-width: 30em) {
    grid-template-areas:
      'types lang'
      'dates   dates';
    grid-template-columns: minmax(10em, 23em) minmax(5em, 5em) ;

    column-gap: 1em;
  }
  @media (min-width: 52em) {
    grid-template-areas: '  lang types dates';
    grid-template-columns: minmax(5em, 5em) minmax(16em, 3fr) minmax(6em, 3fr);
  }
  @media (min-width: 65em) {
    grid-template-columns: minmax(5em, 1fr) minmax(8em, 3fr) minmax(12em, 3fr);
  }
}

#types-list,
#types-listoverlay {
  grid-area: types;
}

.lang-list {
  grid-area: lang;
  ul{@media (min-width: 65em) {flex-direction: column;}}
}

#dates-menu,
#dates-menuoverlay {
  grid-area: dates;
}
.ais-Panel p {
  margin-bottom: var(--gap-s);
}

// ************************************************************
// Refinements
// ************************************************************

.ais-HierarchicalMenu-list {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ais-HierarchicalMenu-list,
.no-ais-RefinementList-list {
  margin-block-start: var(--gap-ms);

  padding-left: var(--gap-xs);

  list-style-type: none;
}

.ais-Panel-header {
  margin-top: var(--gap-m);

  font-size: var(--font-size-m);

  border-bottom: 1px solid var(--color-grey);
}

.ais-HierarchicalMenu-item {
  --flow-space: 0;
/*  &:first-child {
    --flow-space: 0;
  }*/
}

.ais-HierarchicalMenu-item2 {
  --flow-space: 0;
  font-style: italic;
  font-variant: normal;
}

ul.ais-HierarchicalMenu-list {
  margin-left: calc(-1*var(--gap-ms));
}
.ais-HierarchicalMenu-list .ais-HierarchicalMenu-item{
  --flow-space: 0;
  margin-bottom: var(--gap-s);
  padding-left: var(--gap-ms);
}
.ais-HierarchicalMenu-item2::before {
  content: '·';

  padding-left: var(--gap-xs);
}

// Counts
.ais-RefinementList-count,
.ais-HierarchicalMenu-count {
  position: relative;
  top: calc(-1*var(--gap-4xs));

  margin-left: var(--gap-3xs);
  padding: var(--gap-4xs) var(--gap-xs);

  color: var(--color-primary-darker-7);
  font-size: 0.7em;

  border-radius: var(--gap-m);

  background-color: var(--color-lightgrey);
}
