@use '../global/functions';
@use '../global/utilities';
.epigraph {
  padding: 0 !important;
  &::before {
    left: calc(-1*var(--gap-xs)) !important;

    margin-left: calc(-1*var(--gap-5xs));
    @media (max-width: 40rem) {
      position: relative !important;
      left: 0 !important;

      display: inline-block;
      float: left;

      width: var(--gap-xs);
      height: var(--gap-s);
      margin-bottom: calc(-1*var(--gap-3xs));
      padding-right: var(--gap-xs);
    }
  }
}
blockquote:not(.tweet-card) {

  position: relative;

  //  margin-left: 0;
  // margin-right: 0;

  min-height: var(--gap-xxl);

  color: var(--color-primary);
  font-size: var(--font-size-l);
  font-style: italic;
  @extend %flow;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: functions.unicode('201C');

    color: var(--color-primary-lighter-2);
    font-size: calc(4em + 5vw);
    font-style: normal;
    line-height: 1;
   // padding-left: 0.1em;
  }

  blockquote {
    font-style: normal;

    background-color: var(--color-primary-lighter-7);
  }
}
//.epigraph > p:first-child { @extend blockquote; padding: 0;}
//.epigraph> p:first-child {padding: 0;}

.epigraph {
  @extend blockquote;
}
.episource {
  --flow-space: calc(0.5ex / 0.35);
  margin-top: calc(0.5ex / 0.35);
  margin-left: 15%;

  color: var(--color-primary-darker-5);
  font-size: var(--font-size-m);
  font-style: normal;
  text-align: right;
}

blockquote:not(.tweet-card) {
  padding: var(--gap-xs) var(--gap-m) var(--gap-xs) calc(2em + 3vw);
}
