.button { 
      &:link{
        padding: 0.2em 0.2em;
    padding-bottom: 0em ;
    padding-left: 1em ;
    border: 2px solid var(--color-link);
    border-radius: 0.5em;
    color: var(--color-link);
    text-decoration: none; 
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    background-color: #{$color-lightgrey};
}
  &:visited,
  &:hover,
  &:focus {
    background-color: var(--color-link-hover-bg);
    color: var(--color-link-hover);
  }
  &:active{
    background-color: var(--color-secondary);
    color: var(--color-link-hover);
  }
}
