@use '../global/colors';
@use '../global/utilities';

// ************************************************************
// Card lists
// ************************************************************

.cards-list {
  @extend %flow;
//scroll-snap-type: y mandatory;
//scroll-padding: 5em;
  clear: both;
  padding: 0;
  // margin: 0;
  list-style-type: none;
  * {
    --flow-space: var(--gap3);
  }
}

// ************************************************************
// Cards
// ************************************************************

.card {

  margin-bottom: var(--gap);
  @extend %clearfix;

  * {
    --flow-space: 0.4em;
  }
  @extend %flow;
}

.card__illustration {
  margin-top: 0;

  @media (min-width: 30em) {
    float: right;
    max-width: 40%;
    margin: 0 0 1em 1em;
  }
}

.card__illustration img,
img.card__illustration {
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-primary-lighter-3);
  padding: var(--border-width);
}

.card__surtitle {
  margin-top: 0;
  color: var(--color-darkgrey);
}
.card__subtitle { font-size: var(--font-size-l);
  margin-top: 0;
  color: var(--color-primary);
}
.card__title {
   // scroll-snap-align: none; 
  margin-top: 0;
  font-size: var(--font-size-xl);
  font-weight: bold;
  letter-spacing: -0.02em;

  .card__surtitle + &, .card__subtitle + &{
    margin-top: 0;
  }
}

.card__body {
  @extend %flow;
}

// TODO: remove?
.card.note {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.publi, .card-list__item, .titleDiag{
  scroll-snap-align: start; 
  //scroll-snap-stop: always;
//height: 100vh;
  //width: 100vw;
   position: relative;
  margin-top: 0px;
  padding: var(--skew-padding) 0;
}
.publi:before ,.card-list__item:before, .titleDiag:before, .publi:after ,.card-list__item:after, .titleDiag:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewy(var(--angle));
    transform-origin: 50% 0;
    outline: 1px solid transparent;
    backface-visibility: hidden; 
    z-index: -1;
}  

.publi, .card-list__item{          
  //z-index: 1;
overflow-x: clip;
 // overflow-y: hidden;  //box-shadow: 10px 5px 5px black; 
  & > *{
    margin-top: var(--skew-padding);
    position: relative;
  }

  @media  (hover: hover){
  &:after{
    box-shadow: 0 1px 2px var(--color-primary-darker-1), 
              0 2px 4px var(--color-primary-darker-1), 
              0 4px 8px var(--color-primary-darker-1), 
              0 8px 16px var(--color-primary-darker-1), 
              0 16px 32px var(--color-primary-darker-1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    transition: transform 0.3s ease-in-out;
     } 
  &:hover{
      &:after{
          transition: opacity 0.3s ease-in-out; 
         transition: transform 0.3s ease-in-out;
          transform:  none;
          opacity: 0.5;
          z-index: 0;
      }
      &:before{
          z-index: 0;
          transform:  none;
          transition: transform 0.3s ease-in-out;    
      }
      & > *{
          z-index: 1; 
          transform:  scale(1.025, 1.025);
          transition: transform 0.3s ease-in-out;
      }
  }
  }
  &:nth-child(2n+1) {
    &:before {
      background: var(--color-primary-lighter-7)
    }
  }
  &:nth-child(2n+2) {
    &:before {
      background: var(--color-primary-lighter-8)
    }
  }
}

.titleDiag .titleHead, .titleDiag .sectionHeadList{
  margin-top: calc(0.5*var(--skew-padding));
  margin-bottom: calc(0.5*var(--skew-padding));
}
/*
  @media (hover: none){
    .cards-list {
  //scroll-snap-type: x proximity;
  // scroll-snap-type: x mandatory;
//scroll-padding: 4em;
  display: flex;
  flex-direction: row;
  width: 94vw;
  margin: auto;
  overflow-x: auto;
  overflow-y: visible;
}
    .card-list__item{padding-left: 0vw;padding-right: 0vw;  overflow-y: visible;
}
    .card-list__item:before{display: none;}
  }
*/
