@use '../global/colors';
@use '../global/utilities';

// ************************************************************
// Card lists
// ************************************************************

.cards-list {
  clear: both;

  padding: 0;
  // margin: 0;
  list-style-type: none;
  @extend %flow;
  .publi p{ --flow-space: var(--gap-xs);}
}

// ************************************************************
// Cards
// ************************************************************

.card {
  margin-bottom: var(--gap-m);
  @extend %clearfix;
  @extend %flow;
.card__subtitle{ --flow-space: var(--gap-xs);}
 .card__body{ --flow-space: var(--gap-s);}
}

.card__illustration {
position: relative;
  z-index: 1;

  margin-top: 0;
  @media (min-width: 30em) {
    float: right;

    max-width: 40%;
    margin: 0 0 var(--gap-m) var(--gap-m);
  }
}

.card__illustration img,
img.card__illustration {
  padding: var(--border-width);

  border-color: var(--color-primary-lighter-3);
  border-style: solid;
  border-width: var(--border-width);
}

.card__surtitle {
  margin-top: 0;

  color: var(--color-darkgrey);
}
.card__subtitle {
  margin-top: 0;

  color: var(--color-primary);
  font-size: var(--font-size-l);
}
.card__title {
  margin-top: 0;

  font-weight: bold;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;

  .card__surtitle + &,
  .card__subtitle + & {
    margin-top: 0;
  }
}

.card__body {
  
    font-size: var(--font-size-m);
  @extend %flow;
}

.card.note {
  max-width: 45rem;
  margin-right: auto;
  margin-left: auto;
}

.publi,
.card-list__item,
.titleDiag {  --flow-space: 0;
  scroll-snap-align: start;
  position: relative;

  margin-top: 0;
  padding: var(--skew-padding) 0;
}
.publi::before,
.card-list__item::before,
.titleDiag::before,
.publi::after,
.card-list__item::after,
.titleDiag::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  z-index: -1;

  outline: 1px solid transparent;

  transform: skewy(var(--angle));
  transform-origin: 50% 0;
  backface-visibility: hidden;
}

.publi,
.card-list__item {

  @media (hover: hover) {
    &::after {
      box-shadow: 0 1px 2px var(--color-primary-darker-1),
        0 2px 4px var(--color-primary-darker-1),
        0 4px 8px var(--color-primary-darker-1),
        0 8px 16px var(--color-primary-darker-1),
        0 16px 32px var(--color-primary-darker-1);

      opacity: 0;

      transition: opacity 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      &::after {
        z-index: 0;

        opacity: 0.5;
        transform: none;

        transition: opacity 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
      }
      &::before {
        z-index: 0;

        transform: none;

        transition: transform 0.3s ease-in-out;
      }
      & > * {
        z-index: 1;

        transform: scale(1.025, 1.025);

        transition: transform 0.3s ease-in-out;
      }
    }
  }
  & > * {
    position: relative;

    margin-top: var(--gap-m);
     margin-bottom: var(--gap-m);
  }
  &:nth-child(2n + 1) {
    &::before {
      background-color: var(--color-primary-lighter-7);
    }
  }
  &:nth-child(2n + 2) {
    &::before {
      background-color: var(--color-primary-lighter-8);
    }
  }
}

.titleDiag .titleHead,
.titleDiag .sectionHeadList {
  margin-top: calc(0.5 * var(--skew-padding));
  margin-bottom: calc(0.5 * var(--skew-padding));
}

.meta__item,
p + .meta {
  --flow-space: var(--gap-3xs);
}


.sectionHeadList {
  margin-top: var(--gap-m);
  margin-bottom: 0;

  font-size: var(--font-size-xxxxl);
  text-align: center;
}
