// ************************************************************
// Footnotes
// ************************************************************

.footnotes-sep {
  display: none;
}

.footnotes {
  margin: var(--gap-m) 0;
  margin-right:  var(--gap-s);
  background-color: var(--color-lightgrey);
  color: var(--color-primary-darker-7);
  border: 1px solid var(--color-grey);
  border-radius: 0.3em;
  font-size: var(--font-size-s);
  padding-bottom:  var(--gap-m);
  & > p,
  & > div,
  & > aside {
    text-indent:  calc(-1*var(--gap-l));
    padding-left:  var(--gap-l);
  }
  & > * {
    margin-left: var(--gap-xs);
    margin-right: var(--gap-xs);
  }
  ol {
    //margin: 0;
    //padding: 1em 1em 1em 2em;
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  li {
    counter-increment: my-awesome-counter;
    &:before {
      margin-left: calc(-1*var(--gap-xl));
      content: counter(my-awesome-counter);
      display: inline-block;
    }

    p:first-child {
      display: inline;
    }
  }

  a.footnote.footnote,
  .footnote-mark > a,
  .Footnote_20_Symbol,
  .Footnote_20,
  .FootnoteSymbol,
  .sdfootnotesym,
  li:before,
  .footnote-back {
    text-decoration: none;
    padding: var(--gap-5xs) var(--gap-xxs);
    margin-right: var(--gap-xxs);
    // margin: 0 0.2em;
    color: var(--color-link-hover);
    border-radius: 30%;
    background-color: #8f8f8f;
    &:link,
    &:visited {
      background-color: #39f;
    }

    //}

    @media (pointer: coarse) {
      padding: var(--gap-xxs) var(--gap-s);
    }

    //&>*>*:first-child>[href="#*"]:first-child:not(u>a), &>*>[href]:first-child:not(u>a), .footnote-back
  }
  a.footnote.footnote,
  .footnote-mark > a,
  .Footnote_20_Symbol,
  .Footnote_20,
  .FootnoteSymbol,
  .sdfootnotesym,
  .footnote-back {
    &:link,
    &:visited {
      background-color: #39f;
    }
    &[href]:hover {
      background-color: var(--color-link-hover-bg);
    }
  }

  .footnote-mark > a > sup {
    font-size: 100%;
    top: 0em;
  }
  .footnote-back {
    margin-left: var(--gap-xs);
  }
}

/*
.footnotes li:before { 
  content: "  "; 
  margin-left: -1em;
}*/
