// ************************************************************
// Footnotes
// ************************************************************

.footnotes-sep {
  display: none;
}

.footnotes {
  margin: var(--gap) 0;
  margin-right: 0.5em;
  background-color: var(--color-lightgrey);
  color: var(--color-primary-darker-7);
  border: 1px solid var(--color-grey);
  border-radius: 0.3em;
  font-size: var(--font-size-s);
  padding-bottom: 1em;
  &>p, &>div, &>aside{
    text-indent: -2em;
    padding-left: 2em;
  }
  &>*{
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  ol {
    //margin: 0;
    //padding: 1em 1em 1em 2em;
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  li {
    counter-increment: my-awesome-counter;
    &:before{margin-left: -2em;
      content: counter(my-awesome-counter);
      display: inline-block;
    }
   
    p:first-child {display: inline;}
  }
  a.footnote.footnote, .footnote-mark > a ,   .Footnote_20_Symbol,  .Footnote_20, .FootnoteSymbol,  .sdfootnotesym, li:before , .footnote-back  {
    text-decoration: none;
    padding: 0.1em 0.4em;
    margin-right: 0.3em;
   // margin: 0 0.2em;
    color: var(--color-link-hover);
    border-radius: 30%;
    background-color: #8f8f8f;
    /*[href]{    
    background-color: #39f;}
    &:hover{
      background-color: var(--color-link-hover-bg);
    }*/
    //}
    
    @media (pointer: coarse) {
      padding: 0.3em 0.6em;
    }
    
  //&>*>*:first-child>[href="#*"]:first-child:not(u>a), &>*>[href]:first-child:not(u>a), .footnote-back

  }
  .footnote-mark > a >sup{
    font-size: 100%;
    top: 0em;
  }
}




/*
.footnotes li:before { 
  content: "  "; 
  margin-left: -1em;
}*/

