// ************************************************************
// Footer
// ************************************************************

@keyframes revealFooter {
  0% {
    transform: translate(0, 100%) scale(1, 0);
  }
  20% {
    transform: translate(0, 70%) scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
//.blurryWrap{overflow-y: hidden;}
.blurryHL {
  position: sticky;
  left: 0;
  z-index: 1;

  width: min(100%, 100vw);
  width: 100%;
  height:  var(--gap-l);
  margin-top: 0;
  margin-right: 0;
  // margin-left: -5%;
  margin-bottom:  calc(-1*var(--gap-l));
  // background-color: white;
  margin-left: 0;

  border-color: transparent;

  background-color: var(--color-bg);

  filter: blur(0.5em);
  // color: transparent;
}

#footer {
  position: sticky;
  left: 0;

  width: min(100%, 100vw);
  margin: var(--gap-m) 0 0 0;
  padding:  var(--gap-m) 0;
  //z-index: -5;
  //position: fixed;
  // bottom: 0;
  /*position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;*/
  padding-top: calc((868 / (var(--footerW)) * 100vw));
  // transition color and padding if background image is added with JS
  color: currentColor;
  white-space: nowrap;

  background-image: var(--limbes),
    linear-gradient(to bottom, #fff, #c5c5c5 50%, #282828 80%, #1a1a1a);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  transform: scale(0);

  animation-name: revealFooter;

  // animate opacity
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  a {
    z-index: 0;
  }
  a:link,
  a:visited {
    color: white;
  }

  a:hover,
  &:focus,
  a:active {
    color: black;

    background-color: #eb95cb;
  }

  .wrap {
    // background-color: var(--color-link-hover-bg);

    @media (min-width: 15em) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    /*  & > *:first-child {
        flex: 1;
      }*/
    }
  }

  p {
    color: white;
    line-height: 1.5;
    small {
      color: white;

      background-color: rgba(23, 13, 29, 0.75);
    }

    & + p {
      text-align: right;
    }
  }

  .edit {display: inline;

    margin-right: auto;
    margin-bottom: var(--gap-xxs);
    margin-left: auto;

    font-size: var(--font-size-xs);
    line-height: 1.3;
    white-space: normal;
    text-align: center;

    background-color: rgba(23, 13, 29, 0.75);
          //justify-content: center;

  }
}
