@use '../global/colors';

.page .link__url {
  margin-top: var(--gap-xl);
  margin-bottom: var(--gap-xl);
  font-size: var(--font-size-xxl);

  a {
    // word-break: break-all;
  }
}

.author__twitter {
  font-size: 0.9em;
  vertical-align: text-bottom;

  svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:link,
  &:visited {
    color: colors.$color-twitter;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;

    svg {
      fill: currentColor;
      stroke-width: 0;
    }
  }
}
