.navigation {
  position: sticky;
  left: 0;
  z-index: 23;

  width: min(100%, 100vw);
  padding: var(--gap-xxs) 0 var(--gap-xl);

  font-size: var(--font-size-m);
  font-family: var(--font-family-sans-serif);
  font-variant: small-caps;

  border-top: solid var(--border-width) var(--color-primary-lighter-2);

  overflow-x: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: auto;
  .wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  details {
    left: 0;
    // based on https://larsenwork.com/easing-gradients/
    /*  background-image: linear-gradient(
         to left,
         hsla(0, 0%, 100%, 0),
         cubic-bezier(0.4, 0, 0, 1),
         hsla(0, 0%, 100%, 1)
       );*/
    background-image: 
    /*linear-gradient(
      to top,
      hsla(0, 0%, var(--color-grad), 0) 0%,
      hsla(0, 0%, var(--color-grad), 0.104) 1%,
        hsla(0, 0%, var(--color-grad), 0.25) 3%,                                 
      hsla(0, 0%, var(--color-grad), 0.55) 5%,
      hsla(0, 0%, var(--color-grad), 0.648) 33.1%,
      hsla(0, 0%, var(--color-grad), 0.741) 38.5%,
      hsla(0, 0%, var(--color-grad), 0.825) 45.7%,
      hsla(0, 0%, var(--color-grad), 0.896) 55%,
      hsla(0, 0%, var(--color-grad), 0.951) 66.9%,
      hsla(0, 0%, var(--color-grad), 0.987) 95%,
      hsl(0, 0%, var(--color-grad)) 100%),*/
      linear-gradient(to left,
      hsla(0, 0%, var(--color-grad), 0) 0%,
      hsla(0, 0%, var(--color-grad), 0.1) 30%,
        hsla(0, 0%, var(--color-grad), 0.2) 40%,                                 
      hsla(0, 0%, var(--color-grad), 0.35) 50%,
      hsla(0, 0%, var(--color-grad), 0.6) 60%,
      hsla(0, 0%, var(--color-grad), 0.6) 95%,
      hsla(0, 0%, var(--color-grad), 0.3) 97%,
      hsla(0, 0%, var(--color-grad), 0.2) 98%,
      hsla(0, 0%, var(--color-grad), 0.1) 99%,
      hsl(0, 0%, var(--color-grad),0) 100%);
   //background-color: hsla(0,0%,var(--color-grad),.55);
      background-repeat: no-repeat;
  
  }
  ul {
    display: inline-flex;
    gap: var(--gap-xs);
    justify-content: space-between;

    margin: 0;
    padding: 0;

    list-style-type: none;
  }
  .submenu{
    font-size: var(--font-size-s);
    display: flex;
    flex-direction: column;
//font-variant: none;
    li:nth-child(1) > a {padding: 0 var(--gap-4xs) 0;}
 a{
   
   color: var(--color-primary-lighter-1);}
 a:hover, a:focus {color: var(--color-link-hover);}
    padding-left: 1em;
  } 
  summary:marker{
    color: var(--color-link);
  }
  
  details{
    color: var(--color-link);
  }
  details ul {
    margin-left: -0.4em;

    list-style-position: inside;
    //background-color: hsla(0,0%,var(--color-grad),.013);
  }
  li {
    margin: 0;
    padding: 0;
    &.navigation__archives,
    &.navigation__home,
    &.navigation__tags,
    &.navigation__publications,
    &.navigation__posts,
    &.navigation__links,
    &.navigation__notes,
    &.navigation__talks,
    &.navigation__feeds {
      display: none;

      @media (min-width: 55em) {
        display: block;
      }
    }
    &.navigation__tags {
      @media (min-width: 46em) {
        display: block;
      }
    }
    &.navigation__feeds {
      @media (min-width: 40em) {
        display: block;
      }
    }
       &.navigation__home {
      @media (min-width: 35em) {
        display: block;
      }
    }
    &.navigation__archives {
      @media (min-width: 30em) {
        display: block;
      }
    }
   /* &.navigation__publications {
      @media (min-width: 32em) {
        display: block;
      }
    }
    &.navigation__talks {
      @media (min-width: 43em) {
        display: block;
      }
    }*/
   &.navigation__publications {
      
        display: block;
      
    }
    &.navigation__talks {
        display: block;
      
    }
       &.navigation__posts {
        display: block;
      
    }
    &.navigation__links {
        display: block;
      
    }
    
    a, .cat,
    a:link,
    a:visited {
      display: inline-block;

      margin: var(--border-width) 0 0 0;
      padding: 0 var(--gap-4xs) 0;

      white-space: nowrap;
      text-decoration: none;
    }

    &.current {
      a,
      a:link,
      a:visited {
        color: var(--color-primary);
        text-decoration-line: underline;
        text-decoration-thickness: var(--border-width);
        text-decoration-color: var(--color-primary-lighter-2);
        -webkit-text-stroke-width: 0.05em;
      }

      a:hover,
      a:focus {
        color: var(--color-link-hover);
        text-decoration: none;
      }
      a:active {
        color: white;
      }
    }
  }
  li:nth-child(1) > a {
    padding-left: 0;
  }
  .tools {
    svg {
      fill: transparent;
      stroke: currentColor;
      stroke-width: 2px;
    }
  }

  // .signature {
  //   display: none;
  // }
}

.tools__search {
  //margin-left: 0.5em
  // display: none !important;
}

// Sticky navigation
@media (min-height: 30rem) {
  // all elements that have an id attribute can become the target of an anchor link
  // https://markus.oberlehner.net/blog/simple-solution-for-anchor-links-behind-sticky-headers/
  [id] {
    scroll-margin-top: 5rem;
  }

  .navigation {
    top: 0;
    // based on https://larsenwork.com/easing-gradients/
    //   linear-gradient(
    //     to top,
    //     hsla(0, 0%, 100%, 0),
    //     cubic-bezier(0.4, 0, 0, 1),
    //     hsla(0, 0%, 100%, 1)
    //   );
    background-image: linear-gradient(
      to top,
      hsla(0, 0%, var(--color-grad), 0) 0%,
      hsla(0, 0%, var(--color-grad), 0.013) 7%,
      hsla(0, 0%, var(--color-grad), 0.049) 12.3%,
      hsla(0, 0%, var(--color-grad), 0.104) 16.2%,
      hsla(0, 0%, var(--color-grad), 0.175) 19.1%,
      hsla(0, 0%, var(--color-grad), 0.259) 21.5%,
      hsla(0, 0%, var(--color-grad), 0.352) 23.7%,
      hsla(0, 0%, var(--color-grad), 0.45) 26.1%,
      hsla(0, 0%, var(--color-grad), 0.55) 29.1%,
      hsla(0, 0%, var(--color-grad), 0.648) 33.1%,
      hsla(0, 0%, var(--color-grad), 0.741) 38.5%,
      hsla(0, 0%, var(--color-grad), 0.825) 45.7%,
      hsla(0, 0%, var(--color-grad), 0.896) 55%,
      hsla(0, 0%, var(--color-grad), 0.951) 66.9%,
      hsla(0, 0%, var(--color-grad), 0.987) 81.8%,
      hsl(0, 0%, var(--color-grad)) 100%
    );
    background-repeat: no-repeat;
  }
}

/*

.theme-switchb{transform: translate(0%, 40%);
 top: -0.2em;
position: relative;
width: 1.3em;
height: 1.2em;
padding-bottom: 0.2em;
appearance: none;
-webkit-appearance: none;
  margin: 0 ;
   margin-right: 0.2em ;
   
background-color:darkblue;
background-size: cover;
background-repeat: no-repeat;
border-radius: 0.5em;
transition: background-color .7s ease-in-out;
outline: none;
cursor: pointer;
overflow: hidden;
}

.theme-switchb:checked{
  background-color:lightblue;
transition:  background-color 1s ease-in-out;
}
.theme-switch{
color: var(--color-link);
}
.theme-switchb:checked:before{
content: '';
width: 0.6em;
height: 0.6em;
border-radius: 50%;
position: absolute;
left: 0.4em;
top: 0.2em;
//transform-origin: 1em 0.2em;
background-color: transparent;
filter: blur(0.5px);
animation: sun .7s forwards ease;
justify-content: center;
}
@keyframes sun{
0%{
    //transform: rotate(170deg);
    background-color: transparent;
    filter: blur(0px);
}
100%{
    //transform: rotate(0deg);
    background-color: #f5daaa;
     filter: blur(1px);
}
}



.theme-switchb:before{
content: '';
width: 0.9em;
height: 0.9em;
border-radius: 50%;
position: absolute;
left: -0.1em;
top: 0.2em;
filter: blur(1px);
//background-color: #f5daaa;
 transform-origin: 1em 0.2em;
 animation: moon 1s forwards ease;
}
@keyframes moon{
0%{
    //transform: rotate(0deg);
    filter: blur(2px);
        box-shadow: 5px -1px 0px #fff;
}
100%{
   // transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0.2px);
}
}



*/

.hiddenLabel {
  display: none;
}

.theme-switchb {
  --size: 1em;

  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.65);
  --offset-diagonal: calc(var(--size) * 0.45);
  display: block;

  width: var(--size);
  height: var(--size);

  color: hsl(40, 100%, 50%);

  border-radius: 999px;

  outline: none;

  box-shadow: inset 0 0 0 var(--size),
    calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
    var(--offset-orthogonal) 0 0 var(--ray-size),
    0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
    0 var(--offset-orthogonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
      var(--ray-size),
    var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
    calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
    var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);

  cursor: pointer;

  filter: blur(3px);
  transform: scale(0.75);

  appearance: none;

  transition: all 500ms;
  &:checked {
    color: hsl(240, 100%, 95%);

    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;

    filter: blur(0.3px);
    transform: scale(1);
  }
}
.theme-switch {
  justify-content: center;

  vertical-align: bottom;
}

.theme-switch-wrapper {
  display: inline-block;
  justify-content: center;

  padding-top: var(--gap-3xs);

  vertical-align: bottom;

  transform: scale(1.1);
  // display: inline-block;
  &:hover {
    transform: scale(1.4);

    transition: all 500ms;
  }
}
