.centerList {
  padding: var(--gap-xs);

  border: 1px solid var(--color-primary-lighter-5);
  border-radius: 0.4em;
  margin: var(--gap-xs);
  & > * {
    display: inline-block;
  }
  & > ul {
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
    list-style: none;
    --flow-space: var(--gap-xxs);
    padding-left: var(--gap-xss);
  }
  & > ul > li > ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    --flow-space: var(--gap-3xs);
    & > li {
      margin-left: var(--gap-m);
      font-style: italic;
      &:before {
        content: '· ';
      }
    }
  }
}
