@use '../global/colors';
@use '../global/utilities';

.page {
  @extend %clearfix;
  @extend %flow;

  .lazy {
    --flow-space: 0;
    @extend %flow;
  }
}

.page__surtitle {
  color: var(--color-darkgrey);
  font-size: var(--font-size-m);

  & + .page__title {
    margin-top: 0;
  }
}
.page__subtitle {
  --flow-space: 0.5em;
  color: var(--color-primary);
  font-size: var(--font-size-l);
  margin-top: 0;
  & + * {
    --flow-space: 0em;
  }
}

.page__illustration {
  margin-top: 0;

  @media (min-width: 40em) {
    float: right;
    max-width: 40%;
    margin: 0 0 1em 1em;
  }
}

.page__illustration img,
img.page__illustration,
.page__illustration2 img,
img.page__illustration2 {
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--color-primary-lighter-3);
  padding: var(--border-width);
}
img.page__illustration2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(min(max(66%, 30em), 100%));
}
.page__body {
  @extend %flowall;

  margin-top: var(--gap2);

  & > * {
    --flow-space: var(--gap3);
  }
}
.page__title + .page__meta {
  --flow-space: 0.5em;
}
.mousewrap{overflow: hidden;
  margin-bottom: calc(-1*var(--gap2) - 0.3em);

}
svg.mouse { 
  transform : translateX(-5em) ;
  font-size: 2em;
   margin-bottom: -0.1em;

    animation-name            : displaceContent;
    animation-duration        : 30s;
    animation-iteration-count : infinite;
    animation-fill-mode       : both;
    animation-timing-function: linear;
}
@keyframes displaceContent {
    15% { transform :  translateX(-5em) }
    30%   { transform : translateX(100vw) }
    65%  {transform :  translateX(100vw) rotateX(180deg) rotateZ(180deg)}
     85% { transform : translateX(-5em)  rotateX(180deg) rotateZ(180deg)}
    /* slide down to make room for advertisements */
}

.fade-2 {   
  --flow-space: var(--gap2);
  //border-width: 0 0 1px;
  //  border-style: solid;
  color: var(--color-primary);
 background-image: linear-gradient(to right, rgba(var(--color-primary-rgb), 0), rgba(var(--color-primary-rgb), 1),rgba(var(--color-primary-rgb), 0)); 
 border: 0;
 height: 2px;

     // box-shadow: 0 0 10px 1px black;
}
