@use '../global/colors';
@use '../global/utilities';

.page {
  @extend %clearfix;
  @extend %flow;

  .lazy {
    --flow-space: 0;
    @extend %flow;
  }
}

.page__surtitle {
  color: var(--color-darkgrey);
  font-size: var(--font-size-m);

  & + .page__title {
    margin-top: 0;
  }
}
.page__subtitle {
  --flow-space: var(--gap-xs);
  color: var(--color-primary);
  font-size: var(--font-size-xxl);
  font-style: italic;
  margin-top: 0;
  & + * {
    --flow-space: 0em;
  }
}

.page__illustration {
  margin-top: 0;

  @media (min-width: 40em) {
    float: right;
    max-width: 40%;
    margin: 0 0 var(--gap-m) var(--gap-m);
  }
}

.page__illustration img,
img.page__illustration,
.page__illustration2 img,
img.page__illustration2 {
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--color-primary-lighter-3);
  padding: var(--border-width);
}
img.page__illustration2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(min(max(66%, 30em), 100%));
}
/*
.page__body {
  @extend %flowall;

  margin-top: var(--gap-l);

  & > * {
    --flow-space: var(--gap-l);
  }
}*/
.page__title + .page__meta {
  --flow-space: var(--gap-xs);
}

