 

.buttonlink {
 // white-space:nowrap;
  svg {
      vertical-align: middle;
      font-size: 1em;
      stroke: currentColor;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: currentColor;
    }
      display: inline-table;
        padding: 0.12em 0.2em;
                margin: 0.1em;
          margin-bottom: 0.2em;

        padding-top: 0em;
    border: 1px solid var(--color-primary-lighter-5);
    border-radius: 0.5em;
    color: var(--color-link);
   // background-color: var(--color-primary-lighter-8);
     box-shadow: 0 1px 2px var(--soft-shadow), 
              0 2px 4px var(--soft-shadow), 
              0 4px 8px var(--soft-shadow);
    
  &:hover,
  &:focus {
    background-color: var(--color-link-hover-bg);
    color: var(--color-link-hover);
    border: 1px solid var(--color-primary-lighter-5);
  }
  &:active{
    background-color: var(--color-secondary);
    color: var(--color-link-hover);
  }
}
.smalltext {
  font-size: var(--font-size-xs);
}
.svgnofill{
    svg {      vertical-align: middle;
      fill: none;
    }
} 
.abssvg{margin-right:0;
    svg {      vertical-align: middle;
      font-size: 1.2em;
      stroke: currentColor;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }
} 

.publink {
                      padding: 0.1em;

      padding-left: 0.2em;
            padding-right: 0.2em;

   // border: 1px solid var(--color-primary-lighter-5);
    color: white;
    background-color: var(--color-red);
}
.publinkchap {
    background-color: var(--color-blue);
}
.pubPeerReview {
  background-color: var(--color-green);
}
.publinkBook {
  background-color: var(--color-purple);
}


.publinklang {  
                    padding: 0.1em;
      padding-left: 0.2em;
            padding-right: 0.2em;
        margin: 0em;
  //  border-radius: 0.3em;  
    color: var(--color-primary-lighter-7);
    background-color: var(--color-primary-darker-5);
}

.publinkwrap{   // border: 1px solid var(--color-primary-lighter-5); 
  line-height: 1;
  padding-top: 0.2em;
  //padding-bottom: 0.2em;

display: inline-table;
  border-radius: 0.5em;
  //padding-top: 0;
  overflow: hidden;
}

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  display: none;
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
 box-shadow: 0 1px 2px var(--soft-shadow), 
              0 2px 4px var(--soft-shadow), 
              0 4px 8px var(--soft-shadow), 
              0 8px 16px var(--soft-shadow);

}


.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
   display: block;
  
}



.accordion label {
  display: inline-block;
  border: 1px solid var(--color-accord);
    border-radius: 0.5em;
        box-shadow: 0 1px 2px var(--soft-shadow), 
              0 2px 4px var(--soft-shadow), 
              0 4px 8px var(--soft-shadow);
              z-index: 0;
} 


.accordion {
  margin-top: 0.1em!important;
  margin-bottom: 0em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 0.25em;
  border: 1px solid var(--color-accord);
      border-radius: 0.5em;
    border-top-left-radius: 0em;
        border-top-left-radius: 0em;
        margin-left: 0em;
  margin-right: 0em;
  max-width: 32em;
    @media (min-width: 33em) {
        padding: 0.5em;
        margin-left: 0.25em; 
    }
  //margin-right: calc(0.5*100% - 0.5*30em);
   //   }

}

.accordion .handle {  
  padding-bottom: 0em;
color: var(--color-link);
position: relative;
z-index: 1;
}

.accordion > input[type="checkbox"]:checked ~ .handle label {
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
}

.accordion label {
   margin-top: 0.2em;
  cursor: pointer;
  padding: 0.25em;
 // background: rgba(230,230,230,0.5);
 // padding-left: 1.3em;

}
.accordion label .unfolded{
display: none;}

.accordion > input[type="checkbox"]:checked ~ .handle label .folded{
  display: none;
}
.accordion > input[type="checkbox"]:checked ~ .handle label .unfolded{
  display: inline;
}



.content>p:nth-child(2){
  margin-top:0.5em;
}

.accordion label:hover,
.accordion label:focus {
  color: var(--color-link-hover);
      background-color: var(--color-link-hover-bg);
}

.svgfill {
 // white-space:nowrap;
  svg {
      vertical-align: middle;
      font-size: 1em;
      fill: currentColor;
    }
}

