 
@use '../global/utilities';


.inlineimg {
  display: inline; 
      text-align: center;
}
.figure{
      text-align: center;
}

.picgrid, .picgrid3{ align-items: end;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr;
}

.picgrid{
  grid-template-rows: repeat(4, minmax(0px, auto));
  grid-template-areas:  "img1" "sub1"
                        "img2" "sub2"; 
}
.picgrid3{
  grid-template-rows: repeat(6, minmax(0px, auto));
  grid-template-areas:  "img1" "sub1"
                        "img2" "sub2"
                        "img3" "sub3";
}

.img1, .img2, .img3
{  display: grid;
}
.img1{grid-area: img1;}
.img2{grid-area: img2;}
.img3{grid-area: img3;}
  
.sub1, .sub2, .sub3{  
  display: grid;
  text-align: left;
}
.sub1{  grid-area: sub1;}
.sub2 {  grid-area: sub2;}
.sub3{grid-area: sub3; }

@media screen and (min-width: 768px)
{
  .picgrid
  {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:  "img1 img2"
                                           " sub1 sub2";
  }
    .picgrid3
  {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:  "img1 img2 img3"
                                           " sub1 sub2 sub3";
  }
}




.sectionHeadList{margin-top:1em;margin-bottom:0em;
  text-align: center;  
  font-size: var(--font-size-xxxxl);
}








.legibilityWidth{
      width: calc(32.5*var(--font-size-m));
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
 // width: 60ch;
  //  max-width: 100%;
   /*   @media (min-width: 30rem) {
  margin-left: calc(0.25*100% - 0.25*30rem);
  margin-right: calc(0.25*100% - 0.25*30rem);
      }*/

    h2, h3,h4,h5,h6 , dt{
     // @media (min-width: 30rem) {
  --temp: calc(50% - 50vw + 2em);
  --tempb: calc(max(-2.5em,var(--temp)));
  margin-left: calc(min(var(--tempb), 0em));
  padding-left: 2em;
  text-indent: -2em;
      //}
  }
  h3, {
      --tempb: calc(max(-2em,var(--temp)));
  }
  h4,h5,h6,dt{
    --tempb: calc(max(-1em,var(--temp)));
  }
  ul li,ol,dl{ 
    @extend %flow; 
  }
  dl dd{ 
    margin-left: 1.5em;   
    --flow-space: 0 ;
}
}


.subsectionToc{
  margin-left: 1em;
}
.subsubsectionToc{
  margin-left: 2em;
}
.cmti-10,.ecti-1000,.rm-lmri-9,.Emphasis,.ecti-1000, .textit{font-style: italic;}

dt.description, dt.dt{
  font-variant: small-caps;
}

.caption-title, .cmbx-10,.ecbx-1000,.paragraphHead,.cmbx-9,.likeparagraphHead,.ec-lmbx-10{
  font-weight: bold;
  color: var(--color-primary-darker-1);
}

.textbf{
  font-weight: bold;
}

.bibitem, .thebibliography > *,.referencesn>*{margin-bottom:0.7em;}

.titleHead,.head,.center,.maketitle,.author, .subtitleHead{text-align: center;}

.legibilityWidth .titleHead   {
  padding-left: 0; 
  text-indent: 0;
  margin-left: 0;
  &+*{
      --flow-space: var(--gap3) ;
  }
  &+.subtitleHead{
      --flow-space: 0.5em ;
  }    
}
.subtitleHead{  
  &+*{
      --flow-space: var(--gap3) ;
  }
}

//.head{margin-bottom: 2em;}




span.smallcaps, .small-caps,.textsc{
  font-variant: small-caps;
}

        
        
nav > ul, nav >ul >li>ul , nav >ul >li>ul>li>ul,.references,.autotoc ol {
  list-style-type: none;
}


.td11{font-size: var(--font-size-s);}

.frame_hsides{font-size: var(--font-size-xs);}

.enumerateRom{list-style-type: lower-roman;}

.quote {
  padding-left:1.5em;  
  font-size: var(--font-size-s);
}


.frame_hsides{ margin-left: auto;
  margin-right: auto;
 }
 .bibsp{display:none;}

 .bibitem, .thebibliography >p, .thebibliography >div, .references__item {
   text-indent: -1.5em;
   padding-left:1.5em;
   font-size: var(--font-size-s);
}

.thebibliography{   
  padding-inline-start:0;
  list-style-type: none;
}
.ReferencesCopy2{text-indent: 0em;}

.footnotes >*{margin-top: 0.5em;}



h2.abstract, h3.abstract {font-variant: normal;
  margin-bottom: 0.25em;
  font-weight: 600 ;
}
.keywords, .paragraphHead{font-weight: 600 ;
  font-style: italic;
  margin-bottom: 0.25em;
}
.paragraphHead2{
  font-weight: bold;
  color: var(--color-primary);
}
.Footnote_20_anchor { 
  vertical-align: super; 
  font-size:58%;
}

.maketitle, div.abstract, .head{
@extend %flowall; 
  
}









