@use '../global/utilities';

#webmentions {
  @extend %flow;
}

.reactions__list {
  @extend %flow;

  padding: 0;
  list-style-type: none;
}

.reaction__author__photo {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 5px;
}

.reactions__item .meta {
  margin-top: var(--gap-xs);
}

.reactions--like-of,
.reactions--repost-of {
  --flow-space: 0;

  li {
    display: inline-block;
  }

  a:link,
  a:visited {
    margin: 0;
    display: inline-block;
    padding: var(--gap-4xs);
    border-radius: var(--gap-xxs);

    &:hover,
    &:focus {
      background-color: var(--color-link-decoration);
    }
  }

  .reaction__author__photo {
    margin: var(--gap-3xs);
  }
}

.reactions--in-reply-to,
.reactions--mention-of,
.reactions--comments {
  .reactions__item {
    clear: both;
    position: relative;
    min-height: 48px;

    padding-left: calc(48px + 1em);

    &.reaction--no-photo {
      padding-left: 1em;
      padding-right: 1em;

      @media (min-width: 30em) {
        padding-left: calc(48px + 1em);
        padding-right: 0;
      }
    }
  }

  .reaction__author__photo {
    display: block;
    position: absolute;
    top: var(--gap-xxs);
    left: 0;
    margin: 0;
  }
}
.reaction__author__photo2 {
  //width: 48px;
  height: 64px;
  padding: 0;
  border-radius: var(--gap-4xs);
  
  width: auto;
} 


.frameAuthor {
  margin-top: var(--gap-xs);
  display: inline-block;
  margin-right: 0;
  img:hover{transform: scale(1.35);
    transition: all;transition-duration: 0.2s;
    box-shadow: 0 0 8px 8px white inset;
  }
  //img{margin: var(--gap-3xs);}
}
figcaption.authorCaption {
   
  margin: 0;
  margin-top: var(--gap-3xs);
  margin-right: 0;
  padding: 0;
    font-size: var(--font-size-m);

}
.citedBy {
  .p-name:not(a){color: var(--color-primary-darker-5);}
  .metalink:link, .metalink:visited {
      margin-right: 0;
      --color-link: var(--color-primary-darker-5);
    }
}

