/* The Overlay (background) */
.overlay {
  --flow-space: 0;
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  z-index: 22; /* Sit on top */

  width: 100%;
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;

  background: radial-gradient(
    circle,
    var(--color-link-hover) 0%,
    var(--color-primary-lighter-8) 55%,
    var(--color-primary-lighter-7) 100%
  );
  background-color: var(--color-primary-lighter-7);

  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: scroll;

  transition: 0.35s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  transition-property: all;
  overscroll-behavior: contain;
}

/* Position the content inside the overlay */
.overlay-content {
  scroll-margin-top: 5rem;

  position: relative;
  top: var(--gap-l); /* 25% from the top */

  width: 100%; /* 100% width */
  margin-top: 3em; /* 30px top margin to avoid conflict with the close button on smaller screens */
  margin-bottom: 5em;
}

.buttonInToc {
  margin-bottom: calc(-1*var(--gap-xs));
  svg {
    font-size: var(--gap-m);
    vertical-align: middle;

    fill: currentColor;
  }
}

.onclickbutton {
  padding-top: 0;

  color: var(--color-link);

  transition: transform, color 0.2s;
  svg {
    font-size: var(--gap-m);
    vertical-align: middle;

    fill: currentColor;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &:hover,
  &:focus {
    color: var(--color-link-hover);

    background-color: var(--color-link-hover-bg);
  }
  &:active {
    color: var(--color-link-hover);

    background-color: var(--color-secondary);
  }
  .unfolded {
    display: none;
  }
}

.onclickbuttonon {
  .folded {
    display: none;
  }
  .unfolded {
    display: inline;
  }
}

.legibilityWidth .titleOverToc {
  margin-bottom: 1em;
  padding-left: 0;

  font-weight: 600;
  font-size: var(--font-size-xxxl);
  line-height: 1.3;
  text-indent: 0;
}

.autotoc a {
  position: relative;

  color: var(--color-link);
  line-height: 1.3;
  &:hover {
    color: var(--color-link-hover);
  }
}

.autotoc  .tocLevel1{
  color: var(--color-primary-darker-2);
  font-weight: 700;
  //font-variant: small-caps;
  font-size: var(--font-size-l);
}
.autotoc .tocLevel2 {
  color: var(--color-primary);
  font-weight: 500;
  font-size: var(--font-size-l);
}
.autotoc .tocLevel3 {
  color: var(--color-primary-lighter-2);
  font-weight: 400;
  font-size: var(--font-size-m);
}
.autotoc .tocLevel4 {
  color: var(--color-primary-lighter-2);
  font-weight: 400;
  font-size: var(--font-size-s);
  font-style: italic;
}

.autotoc {
  ol {
    //   --flow-space: 0.5em;
    padding: 0;
  }
  li {
    padding-left: var(--gap-m);

    text-indent: calc(-1*var(--gap-m));
  }
  li {
    --flow-space: var(--gap-xs);
  }
  li:first-child {
    --flow-space: var(--gap-xxs);
  }
}
/*
.autotoc >ol {  
    --flow-space: calc(0.35ex / 0.32) ;
    & ol {--flow-space: calc(0.25ex / 0.32) ;}
  }
*/

.tocCenter {
  li {
    --flow-space: var(--gap-xs);
    // margin-bottom : 0.5em!important;
    margin-left: var(--gap-xs);

list-style-type: none;
}
   
  .tocLevel2{
      font-style: italic;
  }
   .tocLevel2::before {
      content: '· ';
    }
   .tocLevel2:first-child{--flow-space: var(--gap-xs);}
  ol {
    display: flex;
    flex-wrap: wrap;
  }
  & > ol {
    display: block;
  }
}

.tocCenter2 {
  ol {
    --flow-space: var(--gap-xs);
    display: flex;
    flex-wrap: wrap;
  }
  li,
  li:first-child {
    --flow-space: var(--gap-xs);
    margin-left: var(--gap-m);

list-style-type: none;
  }
}
