@use '../global/colors';

/* card */
.tweet-card {
  background: var(--color-primary-lighter-8);
  margin-left: auto;
  margin-right: auto;
  --flow-space: var(--gap-m);
  padding: var(--gap-m);
  // background-color: #fff;
  border: var(--border-width) solid var(--color-grey);
  border-radius: var(--gap-xs);
  font-size: var(--gap-m);
  line-height: 1.4;
  font-family: sans-serif;
  // color: #1c2022;
  max-width: 30em;
  text-align: left;

  &:hover,
  &:focus {
    border-color: var(--color-twitter);
  }

  a:link,
  a:visited {
    color: var(--color-twitter);
    background-color: transparent;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-twitter);
    background-color: transparent;
    text-decoration: underline;
  }
}

/* header */
.tweet-header {
  display: flex;
  margin-bottom: var(--gap-m);

  .tweet-profile {
    margin-right: 9px;
    flex-shrink: 0;

    img {
      margin: 0;
      border-radius: 50%;
      height: 36px;
      width: 36px;
    }
  }

  .tweet-author {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  a.tweet-author-name {
    &:link,
    &:visited {
      font-weight: bold;
      color: var(--color-darkgrey);
      line-height: 1.3;
    }
    &:hover,
    &:focus {
      color: var(--color-twitter);
    }
  }

  a.tweet-author-handle {
    &:link,
    &:visited {
      color: var(--color-darkgrey);
      font-size: var(--font-size-s);
      line-height: 1;
    }
    &:hover,
    &:focus {
      color: var(--color-twitter);
    }
  }

  .tweet-bird {
    margin-left: var(--gap-m);
  }
}

/* images */
.tweet-images img {
  max-width: 100%;
  height: auto;
  margin-bottom: var(--gap-xs);
  border: 1px solid var(--color-lightgrey);
}

/* footer */
.tweet-footer {
  display: flex;
  align-items: center;
}

.tweet-card .tweet-footer a {
  color: var(--color-darkgrey);
  font-size: var(--font-size-s);
}

.tweet-footer .tweet-date:hover {
  color: var(--color-twitter);
}

.tweet-footer .tweet-like {
  margin-right: var(--gap-m);
  font-size: var(--gap-m);
  display: flex;
  align-items: center;
}

.tweet-footer .tweet-like:hover {
  color: var(--color-red);
}

.tweet-footer .tweet-like-count {
  margin-left: 4px;
}

.tweet-footer .tweet-like-icon {
  filter: grayscale(1) brightness(1.4);
  transition: filter;
}

.tweet-footer .tweet-like:hover .tweet-like-icon {
  filter: none;
}

/* icons */
.tweet-bird-icon,
.tweet-like-icon {
  display: inline-block;
  width: var(--gap-ml);
  height: var(--gap-ml);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}
