---
layout: false
pagination:
  data: collections.chaptersByYear
  size: 1
  alias: year
permalink: "chapters/{{ year }}/"
eleventyComputed:
  title: Book chapters and proceedings published in {{ year }}
eleventyExcludeFromCollections: true
---

{% extends "../../_layouts/archives.njk" %}
