---
layout: false
pagination:
  data: collections.variaByYear
  size: 1
  alias: year
permalink: "varia/{{ year }}/"
eleventyComputed:
  title: Varia published in {{ year }}
eleventyExcludeFromCollections: true
---

{% extends "../../_layouts/archives.njk" %}
