---
hasPDF: false
hasFullText: false
tags: 
    - organisms
    - principles
    - default state
    - organization
    - historicity
    - cancer
    - morphogenesis
---


	<h2 class="titleHead">From the century of the genome to the century of the organism: New theoretical approaches</h2  >

	<h2 class="center"><br><em>Special issue of Progress in Biophysics and Molecular Biology</em></h2>

	<h3 class="authors">Guest editors: A.M. Soto &amp; G. Longo</h3>
	

<hr> <ol class=enumerate1>
<li>Preface and table of contents

<br><em>A.M. Soto</em>, G. Longo &amp; D. Noble<br>
	<a href="http://www.di.ens.fr/users/longo/files/SotoLongoSpecialIssueContentsPreface2016.pdf" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.005" target="_blank" rel="noopener">Edited version</a></li>

<li>Why do we need theories?

<br><em>G. Longo &amp; A.M. Soto</em><br>
	<a href="http://www.di.ens.fr/users/longo/files/01_theories.pdf" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.005" target="_blank" rel="noopener">Edited version</a></li>

<li>Reductionist perspectives and the notion of information

<br><em>N. Perret &amp; G. Longo</em><br>
	<a href="http://www.di.ens.fr/users/longo/files/02_information.pdf" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.003" target="_blank" rel="noopener">Edited version</a></li>

<li>From physical to biological individuation

<br><em>P.-A. Miquel &amp; S.-Y. Hwang</em><br>
	<a href="https://www.academia.edu/27075063/From_physical_to_biological_individuation" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.002" target="_blank" rel="noopener">Edited version</a></li>

<li>The biological default state of cell proliferation with variation and motility, a fundamental principle for a theory of organisms

<br><em>A.M. Soto, G. Longo, M. Montévil &amp; C. Sonnenschein</em><br>
	<a href="https://montevil.theobio.org/en/biological-default-state-cell-proliferation-variation-and-motility-fundamental-principle-theory" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.006" target="_blank" rel="noopener">Edited version</a></li>

<li>Theoretical principles for biology: Organization

<br><em>M. Mossio, M. Montévil &amp; G. Longo</em><br>
	<a href="https://montevil.theobio.org/en/theoretical-principles-biology-organization" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.005" target="_blank" rel="noopener">Edited version</a></li>

<li>Theoretical principles for biology: Variation

<br><em>M. Montévil, M. Mossio, A. Pocheville &amp; G. Longo</em><br>
	<a href="https://montevil.theobio.org/en/theoretical-principles-biology-variation" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.005" target="_blank" rel="noopener">Edited version</a></li>

<li>Modeling mammary organogenesis from biological first principles: cells and their physical constraints

<br><em>M. Montévil, L. Speroni, C. Sonnenschein &amp; A.M. Soto</em><br>
	<a href="https://montevil.theobio.org/en/modeling-mammary-organogenesis-biological-first-principles-cells-and-their-physical-constraints" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.004" target="_blank" rel="noopener">Edited version</a></li>

<li>Carcinogenesis explained within the context of a theory of organisms

<br><em>C. Sonnenschein &amp; A.M. Soto</em><br>
	<a href="https://www.researchgate.net/publication/305888475_Carcinogenesis_explained_within_the_context_of_a_theory_of_organisms" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.004" target="_blank" rel="noopener">Edited version</a></li>

<li>Toward a theory of organisms: Three founding principles in search of a useful integration

<br><em>A.M. Soto, G. Longo, P.-A. Miquel, M. Montévil, M. Mossio, N. Perret, A. Pocheville &amp; C. Sonnenschein</em><br>
	<a href="https://montevil.theobio.org/en/toward-theory-organisms-three-founding-principles-search-useful-integration" target="_blank" rel="noopener">Preprint</a> - <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.006" target="_blank" rel="noopener">Edited version</a></li>
