---
excerpt: The physical singularity of life phenomena is analyzed by a comparison with the theories of the inert and focus on criticality, time, and anti-entropy.
---
<p class="titleHead" id="the-inert-vs-the-living-state-of-matter-extended-criticality-time-geometry-anti-entropy--an-overview">The inert vs. the living state of matter: extended criticality, time geometry, anti-entropy – an overview</p>
<div class="authors" style="text-align:center">Giuseppe Longo<sup>1,2</sup>* and <a href="http://www.frontiersin.org/Community/WhosWhoDetails.aspx?UID=36000&amp;d=1&amp;sname=MaëlMontévil&amp;name=Science">Maël Montévil</a><sup>3</sup>*</div>
<div class="center">
  <p><span><sup>1</sup></span> École Polytechnique, Centre de Recherche en Épistémologie Appliquée, Paris, France</p>
  <p><span><sup>2</sup></span> CNRS, Paris, France</p>
  <p><span><sup>3</sup></span> École normale supérieure, Paris, France</p>
</div>
<h2 class="abstract">Abstract</h2>
<p class="indent">
  The physical singularity of life phenomena is analyzed by means of comparison with the driving concepts of theories of the inert. We outline conceptual analogies, transferals of methodologies and theoretical instruments between
  physics and biology, in addition to indicating significant differences and sometimes logical dualities. In order to make biological phenomenalities intelligible, we introduce theoretical extensions to certain physical theories. In
  this synthetic paper, we summarize and propose a unified conceptual framework for the main conclusions drawn from work spanning a book and several articles, quoted throughout
  <sup id="footnotesuper1"><a id="note1a" class="footnoteanchor" href="#note1">1</a></sup>.
</p>
<h2 class="sectionHead" id="1-a-definition-of-life">1. A Definition of Life?</h2>
<p class="indent">
  Throughout the very old “physicalism/vitalism” debate, it has often been question of <i>defining</i> what is the phenomenon of life. A small but remarkable book by Schrödinger (“What is life?”) contributed to reviving the debate in
  a way we find to be relevant, at least in its second part, and to which we refer in section 2. For the moment, let’s precise how we approach this question:
</p>
<p class="indent">
  <i>Primo</i> An “ideal” definition of life phenomena seems out of the question: there is no <i>Platonic idea</i> of life to be grasped in a definite manner or with the maximal conceptual stability and invariance specific to
  mathematical notions (as there is with the definition or <i>idea</i> of the triangle…). It is rather a question of defining a few <i>operational notions</i> enabling to draw out concepts with which to work for a systemic approach in
  biology. Moreover, physics does not define “matter” otherwise than by means of an operative duality or contraposition (with respect to the concept of energy or to that of vacuum or of anti-matter, for example). Yet another, very
  rigorous, “provable impossibility to define the object of study” is presented in an appendix. Notice that Darwin’s approach to evolution does neither use nor need a definition of life, but needs organisms.
</p>
<p class="indent">
  <i>Segundo</i> Any operational attempt, in our opinion, must be made with respect to the specific phenomenality of life phenomena: for example, it is possible that for any chosen finite list of “defining” properties of life, there
  would exist a sufficiently talented computer scientist able to create its virtual image to be rendered on a computer screen (it is quite simple to program an “autopoietic” system (<a href="#B32">Varela et al., 1974</a>;
  <a href="#B33">Varela, 1989</a>) or a formalized metabolic cycle in the manner of <a href="#B27">Rosen (1991)</a> – see <a href="#B25">Mossio et al., 2009</a>, for example). However, not only any human being, but also the most
  simple-minded of animals would recognize it as a series of non-living “virtual images” (which are typically detectable through identical iteration, as indirectly suggested by Turing’s imitation game, see
  <a href="#B18">Longo, 2008</a>).
</p>
<p class="indent">
  It is rather a question of proposing a possibly robust intelligibility of a phenomenality in its constitutive history, while keeping in mind the fact that <i>any constitution is contingent</i> – both the constitution (evolution) of
  life and of our historical understanding of it. That is, life and our modest attempts to grasp it unfold over a material evolution (better still: over one of the <i>possible</i> evolutions, taking place on <i>this</i> Earth, in
  <i>these</i> ecosystems and with <i>this</i> physical matter and history). As for life, our point of view includes what biologists often express when they say that nothing can be understood in biology otherwise than in the light of
  evolution (Darwinian and in this world).
</p>
<p class="indent">
  It should be clear that we do not discuss here how “life may be emerged from the inert,” but rather we explore how to go from the current <i>theories</i> of inert to a sufficiently robust <i>theory</i> of the living. In particular,
  we hint here to an analysis of the physical singularity and of the specificity of the living object, by looking first at the properties we would want to have (or <i>not</i>) in any theory of the “living state of matter.” It is
  indeed an <i>incomplete</i> (see appendix) attempt at providing a conceptual framework guiding more specific analyses. We thus present herein a brief synthesis, in an explicit play between physics and biology, which can only direct
  the interested reader toward the works presented in the references. In a methodological appendix, we will borrow from Mathematical Logic an understanding of the role of incompleteness in “our theoretical endeavors toward knowledge”
  (to put it in H. Weyl’s words) and of its relation to conceptual or formal “definitions,” of life in particular.
</p>
<h2 class="sectionHead" id="2-from-physics-to-biology-by-theoretical-extensions-and-conceptual-dualities">2. From Physics to Biology by Theoretical Extensions and Conceptual Dualities</h2>
<p class="indent">
  Various physical theories (classical, relativistic, quantum, thermodynamic) make the inert intelligible in a remarkable way. Significant incompatibilities exist (the relativistic and quantum fields are not unified; they are in fact
  incompatible). However, some major principles (of conceptual construction, see <a href="#B5">Bailly and Longo, 2011</a>) confer a great unity to contemporary theoretical physics. The geodesic principle and its accompaniment by
  “symmetries” (<a href="#B38">Weyl, 1952</a>; <a href="#B31">Van Fraassen, 1989</a>; <a href="#B5">Bailly and Longo, 2011</a>) enable to grasp, under a conceptually unitary perspective, a wide area of knowledge regarding the inert.
  Biology, having to date been less “theorized” and mathematized, can also progress in the construction of its theoretical frameworks by means of analogies, extensions, and differentiations regarding physical theories, even by means
  of conceptual dualities. Regarding dualities, we will mention below one which is, we believe, fundamental (and extensively addressed in other works, <a href="#B12">Frezza and Longo, 2010</a>;
  <a href="#B5">Bailly and Longo, 2011</a>; <a href="#B20">Longo and Montévil, 2011a</a>): the <i>genericity</i> of physical objects (their theoretical and experimental invariance) and the <i>specificity</i> of their trajectories
  (their reconstruction by means of the geodesic principle) is inverted in the <i>specificity</i> (individuation and history) of the living object and the <i>genericity</i> of trajectories (evolutionary, ontogenetic: they are just
  “possibilities” within spaces – ecosystems – in co-constitution).
</p>
<h3 class="subsectionHead" id="21-physical-aspects">2.1. Physical Aspects</h3>
<h4 class="subsubsectionHead" id="211-the-exclusively-physical">2.1.1. The exclusively physical</h4>
<p class="indent">We exclude from our analyses those properties which come from physics (where they are often essential), but of which the transferal to biology is, from our point of view, misleading:</p>
<p class="indent">
  1. The <i>genericity</i> of objects (the theoretical and experimental invariance of physical objects – or symmetry by replacement) does not apply to biology: the living object is historical and individuated; it is not
  “interchangeable,” in general or with the generality of physics, not theoretically nor empirically.
</p>
<p class="indent">
  2. The <i>specificity</i> of trajectories (geodesics, in physics), because we exclude the prevalence of the geodesic principle (there is no “optimality”) for ontogenetic and evolutive dynamics of “biological individualities” –
  cells, organisms, species (which we call, synthetically, “biolons”); in short, embryogenesis, development, and evolution are not optimal trajectories, but <i>possible</i> ones.
</p>
<p class="indent">
  3. The <i>stability</i> of the reference system as such. Besides classical physics, also in general relativity and in the energy/geometry relationships in spacetime, the dimensions are set and do not vary during the phenomenal
  analysis. Instead, the space of observables in biology, of phenotypes for example, which can also be described by new “dimensions,” is, itself, dynamically changing in an ecosystem. Using an informal analogy, we could say that the “
  <i>phase space</i>” (and the space of possibilities) of life phenomena is dynamically (co-)constituted (<a href="#B22">Longo et al., 2012</a>). By a very informal analogy, observe that in relativity theory, <i>spacetime</i> is
  (co-)constituted by the energy/matter distribution, yet in stable dimensions and phase space – while in <a href="#B22">Longo et al. (2012)</a> we claim that these change along biological processes, evolution in particular.
</p>
<p class="indent">
  As discussed in <a href="#B20">Longo and Montévil (2011a</a>), the genericity of physical objects and the specificity of their trajectory depend on the theoretical symmetries which allows to constitute them. In biology, our
  hypothesis is that the properly biological theoretical symmetries are unstable. This leads to a change of the theoretical status of biological objects with respect to physical situations. We will discuss this point further bellow.
</p>
<h4 class="subsubsectionHead" id="212-physical-properties-of-the-transition-toward-the-living-state">2.1.2. Physical properties of the “transition” toward the living state</h4>
<p class="indent">
  In the literature, we often find remarkable works concerning certain physical properties, sometimes transferred to the analyses of life phenomena, but which we will later consider in their exclusively biological form (i.e., that we
  only find in the living state; for example, critical transitions, which are pointwise in physics, will be “extended” in our approach, see below). In biology, we therefore <i>do not consider</i> them “as such,” as they present
  themselves as components of the analysis of the inert, where they nevertheless provide a good starting point for reflections regarding life phenomena (see the references). For the moment, let’s evoke them from a physical perspective
  (“as such”) and stress that they partly pertain the biological theoretical vocabulary, but do not properly belong to it, in our view:
</p>
<p class="indent">1. <i>Criticality</i> as such (in physics, present in phase transitions, as a mathematical point with respect to the control parameter) (<a href="#B15">Jensen, 1998</a>; <a href="#B39">Zinn-Justin, 2007</a>);</p>
<p class="indent">2. <i>Organizational closure</i> as such (present in physical chemistry: micelles, vesicles – whose structure is entirely organized along geodetic principles, in contrast to living organisms, see below);</p>
<p class="indent">3. <i>Passive plasticity</i> as such (present in changes of physical form or in phenomena of action/reaction/propagation in the manner of Turing, for example);</p>
<p class="indent">4. <i>Scaling properties</i> as such (present in numerous physical phenomena and namely in critical transitions, anomalous diffusion, etc.);</p>
<p class="indent">5. <i>Growth</i> phenomena as such (present in the growth of crystals, for example);</p>
<p class="indent">6. <i>Chirality</i> as such (present in the physics of particles or chemistry, for example);</p>
<p class="indent">7. Possibly negative variations of <i>entropy</i> (present in the passing from disorder to order, in critical transition for example),</p>
<p class="indent">8. The <i>dimensionality</i> of physical quantities (almost always present);</p>
<p class="indent">9. The <i>measurement</i> which is understood as an imprecision and as a result classical (except when fractal);</p>
<p class="indent">
  10. The <i>fractality</i> as such of certain objects and dynamics (present in a number of physical phenomena, but also in <i>organs</i> of plants and animals as forced by their role in the exchange of energy and matter) (
  <a href="#B35">Weibel, 1991</a>);
</p>
<p class="indent">11. The chemistry of <i>macromolecules</i> and of <i>in vitro</i> physical chemistry.</p>
<h3 class="subsectionHead" id="22-biological-aspects">2.2. Biological Aspects</h3>
<p class="indent">The contingent materiality of life phenomena includes, typically, the physical chemistry specific to biology, our first group of properties:</p>
<h4 class="subsubsectionHead" id="221-a-few-physical-properties-of-life-phenomena">2.2.1. A few “physical” properties of life phenomena</h4>
<p class="indent">1. The biological role of the <i>chirality</i> of molecules (amino acids, sugars) in the metabolism;</p>
<p class="indent">
  2. Various other physical <i>invariances</i> according to the level of organization (the chemical bases and geometric structure of DNA, relatively common to all living objects; the metabolic invariants, including the
  metabolism/mass/duration relationship, see below).
</p>
<p class="indent">In addition to the above physical properties, which specifically (and only) manifest themselves in life phenomena, the following are certainly part of biological <i>theorization</i>:</p>
<p class="indent">1. Analysis in terms of <i>physico-chemical substrates</i> such as of molecular cascades that may be found only in cells;</p>
<p class="indent">
  2. The <i>mathematical extension</i> of certain physical laws including quantities that do not appear as such or in an operative way in physics (for example, our notion of anti-entropy in metabolic balances, mentioned below, which
  extend well-known balance equations in thermodynamics by a new observable).
</p>
<h4 class="subsubsectionHead" id="222-the-maintenance-of-biological-organization">2.2.2. The maintenance of biological organization</h4>
<p class="indent">
  The setting of physiological activities (the functions of “orgons” – organelles, organs, populations, see <a href="#B2">Bailly et al., 1993</a>; <a href="#B5">Bailly and Longo, 2011</a>), is often accompanied by organizational
  closure which is accomplished by means of:
</p>
<p class="indent">1. The <i>metabolism</i> and <i>physiological activities</i> (essential to integration and to regulation) which interact and, in fact, superimpose one another;</p>
<p class="indent">2. The coupling between <i>various levels of organization</i>, correlated in a causal manner, both “upward” and “downward,” particularly by integration and regulation,</p>
<p class="indent">3. The <i>fractality</i> of orgons in their physiological functions (lung, vascular system, nervous system…intracellular structures);</p>
<p class="indent">4. The <i>scaling</i> <i>laws</i> (allometry describes temporality and metabolism in function of the adult biological mass) (<a href="#B10">Brown et al., 2002</a>; <a href="#B36">West, 2006</a>);</p>
<p class="indent">
  5. The importance of <i>pure numbers</i> (without physical dimensions) and of their <i>relative invariance (</i>total number of heartbeats, respirations…which are on average constant for mammals, and even among important groups of
  less studied species as for internal rhythms).
</p>
<p class="indent">
  We will attempt to conceptually frame these properties of the living state of matter by means of relatively new concepts, including that of <i>extended critical transition</i> in 1, as locus and framework for these phenomena which
  we merely enumerated above.
</p>
<h4 class="subsubsectionHead" id="223-the-relationship-to-the-environment">2.2.3. The relationship to the environment</h4>
<p class="indent">
  To these functions, we must add the relationship to the environment that is not only dynamic, but adaptive <i>and</i> (or <i>because</i>) cognitive (as are protentional activities). Moreover, the dynamic is also situated at the
  level of the reference space (relevant parameters and observables), as an organism co-modifies its own environment:
</p>
<p class="indent">1. <i>Adaptive plasticity</i> at all levels of organization, in the interaction with an environment;</p>
<p class="indent">
  2. The cognitive, present as soon as there is life, resides, in particular, in the <i>capacity to discriminate</i> (the denumerable density of critical points within the zone of extended criticality mentioned below can represent
  this discriminatory capacity, by discontinuous passages (but without gaps) from one point to another);
</p>
<p class="indent">3. The principle of <i>compatibility</i> (tendency to achieve all possibilities compatible with the given constraints), which justifies the genericity of evolutive and ontogenetic trajectories;</p>
<p class="indent">4. The <i>specificity</i> of the object and, as we were saying in 3, the <i>genericity</i> of trajectories (contrarily to physics);</p>
<p class="indent">
  5. The <i>changes in reference spaces</i>, which induces and enables, including in the number of relevant description dimensions (the “phase space” itself – relevant parameters and observables – changes over the course of the
  dynamics of life phenomena, as opposed to the physical frameworks, even quantum ones).
</p>
<p class="indent">Again, most of this aspects are related to an instability of biological theoretical symmetries, associated here to the constitution by the biological object of the theoretically relevant environment.</p>
<h4 class="subsubsectionHead" id="224-passage-to-analyses-of-the-organism">2.2.4. Passage to analyses of the organism</h4>
<p class="indent">
  <i>Critical transitions</i> are extensively discussed in the analysis of the passage, in particular, from the inert to the living (<a href="#B16">Kauffman, 1993</a>). As such, they very well describe states of the inert that are
  quite interesting also for biology (see <a href="#B8">Binney et al., 1992</a>; <a href="#B24">Mora and Bialek, 2011</a>). In physics, though, “coherent structures” appear over pointwise transitions, and normally in a reversible way.
  We are, however, facing a living state of matter when criticality is <i>irreversible</i> and <i>endures</i> (till death). We deal with these issues by considering an organism as staying in a “continual” (ongoing) irreversible
  transition. Each mitosis, in a multicellular organism, yields an asymmetric bifurcation and the formation of a new coherence structure – new tissular matrix …, as components of a critical transition. In our approach, the interval of
  criticality is therefore extended in time and in all relevant control parameters (temperature, pressure…), see section 1. The key idea is that all the usual properties of critical phase transitions are preserved (the formation of
  coherence structures, diverging correlation lengths, symmetry changes …). Yet, while, in physics, these only apply in a topologically isolated point (at least this is the mathematical representation, where the renormalization
  methods apply, see section 1), we consider the “transition” to be defined on a non-trivial interval. This occurs when rhythms (point 1 below and section 3), protentional activity (point 2 and 3), and organization, as anti-entropy
  (point 3 and 4, see also 2) jointly appear.
</p>
<p class="indent">
  We may then conceive (but this discussion is not our aim, here) that, at the origin of the extended criticality of life, there may have been particular critical transitions of the inert matter, a global transition suddenly
  superposing all the ones we are dealing with. These may all be described as conceptual and material “bifurcations,” with their organizational correlates: extension of criticality to an interval, by the formation of stabilizing
  membranes and of different levels of organization (as anti-entropy), bifurcation of the time dimension (autonomous rhythms). Yet, extended criticality is an ongoing phenomena for life, well beyond its origin. The five points below
  will be at the core of the synthesis in this text (and are described in detail in the articles included in the references). We therefore propose to organize these “bifurcations,” which mark the (conceptual) passage from a state of
  the inert to the living state, as a <i>constitution of</i>:
</p>
<p class="indent">1. The second temporal dimension, the <i>compactified</i> time of biological rhythms;</p>
<p class="indent">2. The <i>protention</i>, as a “proactive gesture” in the interaction with the ecosystem, present with even the simplest forms of life;</p>
<p class="indent">3. <i>Anti-entropy</i>, as the establishment and maintenance of organization (which is opposed to disorganization – in particular to the entropy produced by all irreversible processes);</p>
<p class="indent">
  4. The distinction in <i>several levels of organization</i>, at the core of the integration and regulation activity of any living unit (which may be conceptually unified as <i>orgons</i> – organelles, organs, populations – and
  <i>biolons</i> – cells, organisms, species).
</p>
<p class="indent">5. An <i>instability of the theoretical symmetries</i> of the objects, which can be seen as a cascade of symmetry changes, in time, and leads to variability in the strong sense of changing theoretical symmetries.</p>
<p class="indent">
  In short, the intelligibility of life phenomena that we propose presupposes the existence (“somewhere,” “at the origin of life”) of correlated bifurcations whose understanding requires the addition of the new theoretical entities
  above. These are perfectly compatible with physical theorization, but they are not specific to it. In this sense, it is a matter of proposing compatible, but “strict” theoretical extensions of theories of the inert. Reduction may be
  a further step for the interested reductionist, who should prove that these theories are first conservative (in the sense of Logic), then only apparently “strict.”
</p>
<h2 class="sectionHead" id="3-the-physical-singularity-of-the-living-state-of-matter">3. The Physical Singularity of the Living State of Matter</h2>
<p class="indent">
  Let’s now return, with a few more details, to these new objectivities relevant for the biological. In no way, by the concepts we hint to, we intend to define or characterize life. We just try to focus on some phenomenalities which
  seem particularly preeminent and try to treat them in a possibly conceptually robust fashion. The three points below briefly outline the work developed over several articles, to which we refer when appropriate.
</p>
<h3 class="subsectionHead" id="31-extended-criticality">3.1. Extended Criticality</h3>
<p class="indent">
  The biological interest of physical theories of criticality is due first to the fact that, in physics, <i>critical phase transitions</i> are processes of change of state where, by the sudden change (a singularity w. r. to a control
  parameter), the global structure is involved in the behavior of its elements: the local situation depends upon (is correlated to) the global situation. Mathematically, this may be expressed by the fact that the correlation length
  formally tends toward infinity (the case with second order transitions, such as para-/ferromagnetic transition); physically, this means that the determination is global and not local. In other words, a critical transition is related
  to a change of phase and to the appearing of critical behaviors of some magnitudes of the system’s states – magnetization, density, for example – or of some of its particular characteristics – such as correlation length. It is
  likely to appear at equilibrium (null fluxes) or far from equilibrium (non-null fluxes). In the first case, the physico-mathematical aspects are rather well-understood (renormalization as for the mathematics (
  <a href="#B8">Binney et al., 1992</a>), thermodynamics for the bridge between microscopic and macroscopic description), while, in the second case, we are far from having theories as satisfactory.
</p>
<p class="indent">
  Some specific cases, without particular emphasis on the far from equilibrium situation, have been extensively developed and publicized by Bak, Kauffman, and others (see <a href="#B7">Bak et al., 1988</a>;
  <a href="#B16">Kauffman, 1993</a>; <a href="#B26">Nykter et al., 2008</a>). The sand hips, whose criticality reduces to the angle of formation of avalanches in all scales, percolation (see <a href="#B7">Bak et al., 1988</a>;
  <a href="#B17">Laguës and Lesne, 2003</a>) or even the formation of a snowflake are interesting examples. The perspective assumed is, in part, complementary to Prigogine’s: it is not fluctuations within a weakly ordered situation
  that matter in the formation of coherence structures, but the “order that stems from chaos” (<a href="#B16">Kauffman, 1993</a>). Yet, in both cases potential correlations are suddenly made possible by a change in one or more control
  parameters for a specific (pointwise) value of this parameter. For example, the forces attracting water molecules toward each other, as ice, are potentially there: the passage below a precise temperature, as decreasing Brownian
  motion, at a certain value of pressure and humidity, allows these forces to apply and, thus, the formation of a snow flakes, typically.
</p>
<p class="indent">
  The critical transitions must be also understood as sudden symmetry changes (symmetry breakings and formation of new symmetries), and a transition between two different macroscopic physical objects (two different states), with a
  conservation of the symmetries of the components. The specific, local and global symmetry breakings give the variety of organized forms and their regularities (the new symmetries) as these transitions are (very) sensitive to
  fluctuations in the vicinity of criticality. In physics, the pointwise nature of the “critical value” of the control parameter is an essential mathematical issue, as for the treatment by the relevant mathematics of “renormalization”
  in theories of criticality (see <a href="#B8">Binney et al., 1992</a>).
</p>
<p class="indent">
  Along the lines of the physical approaches to criticality, but within the frame of far from equilibrium thermodynamics, we consider living systems as “coherent structures” in a continual (extended) critical transition. The permanent
  state of transition is maintained, at each level of organization, by the integration/regulation activities of the organism, that is by its global coherent structure.
</p>
<p class="indent">
  In short, in recent work (<a href="#B3">Bailly and Longo, 2008</a>; <a href="#B20">Longo and Montévil, 2011a</a>), on the grounds of early ideas in <a href="#B1">Bailly (1991)</a>, we propose to analyze the organization of living
  matter as “extended critical transitions.” These transitions are extended in spacetime and with respect to all pertinent control parameters (pressure, temperature, etc.), their unity being ensured through global causal relations
  between levels of organization (and their integration/regulation). More precisely, our main theoretical paradigm is provided by the analysis of critical phase transitions, as this peculiar form of critical state presents some
  particularly interesting aspects for the biological frame: the formation of extended (mathematically diverging) correlation lengths and coherence structures, the divergence of some observables with respect to the control
  parameter(s) and the change of symmetries associated to potentially swift organizational changes. However, the “coherent critical structures” which are the main focus of our work cannot be reduced to existing physical approaches,
  since phase transitions, in physics, are treated as “singular events,” corresponding to a specific well-defined value of the control parameter, just one (critical!) point as we said. Whereas our claim is that in the case of living
  systems, these coherent critical transitions are “extended” and maintained in such a way that they persist in the many dimensional space of analysis, while preserving all the physical properties mentioned above (diverging
  correlation lengths, new coherence structures, symmetry changes …). A living object is not only a dynamics or a process, in the various possible senses analyzed by physical theories, but it is permanent <i>critical transition</i>:
  it is always on the border of a change, of symmetries changes in particular, as analyzed in <a href="#B20">Longo and Montévil (2011a</a>). One then has an extended, permanently reconstructed and transforming
  <i>global</i> organization in an interaction with <i>local</i> structures, as the global/local interplay is proper to critical transitions (by singularities).
</p>
<p class="indent">
  So far, our analysis, in the papers quoted above, has been largely conceptual, since, by the loss of the mathematics of renormalization, there seem to be little known Mathematical Physics that applies to this physically singular,
  far from equilibrium situation. The second major conceptual and technical difficulty is also clearly the instability of the symmetries involved. The question is then how to objectivize them, since, in contradiction with the physical
  situations they do not seem to be theoretically determined to be in a specific, pre-given set.
</p>
<h3 class="subsectionHead" id="32-anti-entropy">3.2. Anti-Entropy</h3>
<p class="indent">
  In (<a href="#B4">Bailly and Longo, 2009</a>) our systemic perspective for biological complexity, both in phylogenesis and ontogenesis, is developed by an analysis of organization in terms of “anti-entropy,” a notion we defined and
  which conceptually differs from the common use of “negative entropy.” Note that both the formation and maintenance of organization (a permanent reconstruction of the coherent structure) go in the opposite direction of entropy
  increase. This is also Schrödinger’s concern in the second part of his 1944 book. He considers the possible decrease of entropy by the construction of “order from order,” that he informally calls negative entropy. In our approach,
  anti-entropy is mathematically presented as a new observable, it is therefore not just entropy with a negative sign (negative entropy, as more rigorously presented in Shannon’s Work and in <a href="#B9">Brillouin, 1956</a>).
  Typically, when summed up, equal entropy and negative entropy give 0: in our approach, entropy and anti-entropy are found simultaneously only in the non-discrete critical interval of the living state of matter. A purely conceptual
  analogy may be done with anti-matter in Quantum Physics: this is a new observable, relative to new particles, whose properties (charge, energy) have opposite sign. Along our wild analogy, matter and anti-matter never give 0, but a
  new energy state: the double energy production as gamma rays, when they encounter in a (pointwise!) singularity. Again, entropy and anti-entropy coexist in an organism, as extended zone (interval) of criticality.
</p>
<p class="indent">
  To this purpose, we introduced two principles (“existence and maintenance of anti-entropy”), in addition to the thermodynamic ones, which are (mathematically) compatible with traditional principles but which have no meaning with
  regard to inert matter. The idea is that anti-entropy represents the key property of an organism, even a unicellular one, to be describable by several levels of organization (also an eukaryotic cell possesses organelles, say),
  regulating, integrating each other – they are parts that functionally integrate a whole, and the whole regulates them. This corresponds to the formation and maintenance of a global coherence structure, in correspondence to its
  extended criticality: organization increases, along embryogenesis say, and is maintained, by contrasting the ongoing entropy production due to all irreversible processes. No extended criticality nor its key property of coherence
  would be possible without anti-entropy production: (always renewed) organization (expresses and) allows the maintenance of the extended critical transition.
</p>
<p class="indent">
  In <a href="#B4">Bailly and Longo (2009)</a>, we applied the notion of anti-entropy to an analysis of Gould’s work on the complexification of life along evolution (<a href="#B13">Gould, 1997</a>). We thus extended a traditional
  balance equation for the metabolism to the new notion as specified by the principles above. This equation is inspired by Gibbs’ analysis of free energy, which is hinted as a possible tool for the analysis of biological organization
  in a footnote in <a href="#B30">Schrödinger (1944)</a>. We examined far from equilibrium systems and we focused in particular on the production of global entropy associated to the irreversible character of the processes. In the 2009
  paper, a close analysis of anti-entropy has been performed from the perspective of a diffusion equation of biomass over phenotypic complexity along evolution. That is, we could reconstruct, on the grounds of general principles,
  Gould’s complexity curve of biomass over complexity in evolution (<a href="#B13">Gould, 1997</a>). Moreover, a quantitative evaluation of phenotypic complexity in embryogenesis is proposed, in relation to some empirical data (
  <i>Caenorhabditis elegans</i>). Once more, Quantum Mechanics indirectly inspired our mathematical approach: we borrowed Schrödinger’s operatorial approach in his famous equation but in a classical framework. Classically, that
  equation may be understood as a diffusion equation (as a matter of fact, we used real coefficients instead of complex ones, thus outside of the mathematical framework of quantum theories).
</p>
<h3 class="subsectionHead" id="33-biological-time">3.3. Biological Time</h3>
<p class="indent">
  The usual physical (linear) representation of time is insufficient, in our view, for the understanding of some phenomena of life. An extended form of present seems more adequate for the understanding of memory, since this is an
  essential component of learning, for the purposes of future action (based on “protention,” as pre-conscious expectation). In particular, while memory, as retention, is treated in some physical theories (relaxation phenomena),
  protention seems outside the scope of Physics. We then suggested some simple functional representation of biological retention and protention (<a href="#B21">Longo and Montévil, 2011b</a>; see also <a href="#B34">Varela, 1999</a>).
</p>
<p class="indent">
  Similarly, the role of biological rhythms do not seem to have any counterpart in mathematical formalization of physical clocks, which are based on frequencies along the usual (possibly thermodynamically) time. In
  <a href="#B6">Bailly et al. (2011)</a> a two-dimensional manifold as a “mathematical frame” for accommodating autonomous biological rhythms is presented: the second dimension is “compactified,” that is, it is a circular fiber
  orthogonal to the oriented representation of physical time. The addition of a new (compactified) dimension for biological time is justified by the peculiar dimensional status of <i>internal</i> biological rhythms. Life is temporally
  scanned by both external (physical) rhythms (Circadian, typically), which are frequencies, and internal ones (metabolism, respiration, cardiac rhythms). These are pure numbers, not frequencies: they become average frequencies and
  produce the time of life span, when used as coefficient in scaling laws (<a href="#B29">Schmidt-Nielsen, 1984</a>; <a href="#B37">West et al., 1997</a>; <a href="#B28">Savage et al., 2004</a>). These rhythms have also singular
  behaviors (multi-scale variations) with respect to the physical time, which can be visualized in our framework. In contradiction with physical situations, the scaling, however, does not seem to be associated to a stable exponent.
  These two peculiar features (pure numbers and fractal-like time series) are the main evidences of the autonomy of our compactified time with respect to the physical time.
</p>
<p class="indent">
  The two new aspects of biological time allowed us to introduce the abstract notion of “biological inertia,” as a component of the conceptual time analysis of extended criticality. Note that our approach of protention and retention
  is, for now, focused on local aspects of biological time, and should therefore be completed to accommodate the long range correlations observed experimentally (see <a href="#B14">Grigolini et al., 2009</a>). Indeed, this kind
  correlations is relevant for both aspects of biological time, and fits in the conceptual framework of extended criticality.
</p>
<p class="indent">
  Another aspect of biological time, introduced in <a href="#B20">Longo and Montévil (2011a</a>), is the time constituted by the cascade of symmetry changes which takes place in extended critical transitions. In other terms, this time
  is defined by the ubiquitous organizational transformations occurring in biological matter. Here, time corresponds therefore to the <i>historicity</i> of biological objects and to the process of biological individuation (both
  ontogenetic and phylogenetic). Indeed, time is no longer the parameter of trajectories in the phase space since the latter is unstable, therefore the temporality defined by the changes of phase space has an original nature.
</p>
<h2 class="sectionHead" id="4-conclusion">4. Conclusion</h2>
<p class="indent">
  Broadly speaking, except for the consideration in terms of extended criticality and symmetry changes, the laws which we propose, while addressing these particular observables and quantities, specific to life phenomena, constitute a
  simple <i>extension</i> of existing physical laws: they preserve the same formal mathematical structure and, if we set the value of the considered observables or parameters to 0 (protention second temporal dimension, value of
  anti-entropy), they return theories of inert. Our theoretical propositions are thus compatible, although irreducible, to “existing physical theories.” That is, they are reducible to these laws <i>only</i> if, but
  <i>as soon as</i> we are outside of the extended critical zone having its own temporality and its anti-entropy, or as soon as these specific quantities go to 0.
</p>
<p class="indent">
  In conclusion, the peculiar phenomenality of life deserves some new observables (extended critical transition, biological organization, proper time, in our attempts). The point is the pertinence, if any, of these treatments, “
  <i>per se</i>.” Those who claim that all these concepts should be reduced to physical (existing?) theories are welcome to try. But they should first look at the history of Physics itself, where novel theoretical frames are marked by
  the invention of new concepts and new perspectives. Their pertinence had to be judged “as such,” not on the grounds of their reducibility to existing, thus “safe,” explanatory grounds
  <sup id="footnotesuper2"><a id="note2a" class="footnoteanchor" href="#note2">2</a></sup>. Note, however, that extended critical transitions, in association with ubiquitous symmetry changes, may, however, lead to more radical
  methodological changes, as associated to the specificity of objects and genericity of trajectories.
</p>
<h2 class="sectionHead" id="conflict-of-interest-statement">Conflict of Interest Statement</h2>
<p class="indent">The authors declare that the research was conducted in the absence of any commercial or financial relationships that could be construed as a potential conflict of interest.</p>
<h2 class="sectionHead" id="footnotes">Footnotes</h2>
<div class="indent" id="footnotetext">
  <ol>
    <li id="note1"><strong><a class="footnotetextanchor" href="#note1a" title>^</a></strong>An activity enhanced by collaborations with Francis Bailly, deceased in 2009.</li>
    <li id="note2"><strong><a class="footnotetextanchor" href="#note2a" title>^</a></strong>In other terms, should reduction or unification be performed, the first question is: what does one want to reduce?</li>
  </ol>
</div>
<h2 class="sectionHead" id="references">References</h2>
<ol  class="thebibliography">
<li class="bibitem" id="B1" >Bailly, F. (1991). L’anneau des disciplines. <i>Rev. Int. Systémique</i> 5.
</li>
<li  class="bibitem" id="B2">Bailly, F., Gaill, F., and Mosseri, R. (1993). Orgons and biolons in theoretical biology: phenomenological analysis and quantum analogies. <i>Acta Biotheor.</i> 41, 3–11.
<p class="ReferencesCopy2">
    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=8266743" target="_blank" rel="noopener">Pubmed Abstract</a> |
    <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?db=pubmed&amp;cmd=prlinks&amp;retmode=ref&amp;id=8266743" target="_blank" rel="noopener">Pubmed Full Text</a> |
    <a href="http://dx.doi.org/10.1007/BF00712769" target="_blank" rel="noopener">CrossRef Full Text</a>
  </p>
</li>
<li  class="bibitem" id="B3">Bailly, F., and Longo, G. (2008). Extended critical situations: the physical singularity of life phenomena. <i>J. Biol. Syst.</i> 16, 309.
<p class="ReferencesCopy2"><a href="http://dx.doi.org/10.1142/S0218339008002514" target="_blank" rel="noopener">CrossRef Full Text</a></p>
</li>
<li  class="bibitem" id="B4">Bailly, F., and Longo, G. (2009). Biological organization and anti-entropy. <i>J. Biol. Syst.</i> 17, 63–96.
<p class="ReferencesCopy2"><a href="http://dx.doi.org/10.1142/S0218339009002715" target="_blank" rel="noopener">CrossRef Full Text</a></p>
</li>
<li  class="bibitem" id="B5">Bailly, F., and Longo, G. (2011). <i>Mathematics and the Natural Sciences: The Physical Singularity of Life</i>. London: Imperial College Press. [Preliminary version in French: Hermann].
</li>
<li  class="bibitem" id="B6">Bailly, F., Longo, G., and Montévil, M. (2011). A 2-dimensional geometry for biological time. <i>Prog. Biophys. Mol. Biol.</i> 106, 474–484.
<p class="ReferencesCopy2">
    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=21316386" target="_blank" rel="noopener">Pubmed Abstract</a> |
    <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?db=pubmed&amp;cmd=prlinks&amp;retmode=ref&amp;id=21316386" target="_blank" rel="noopener">Pubmed Full Text</a> |
    <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2011.02.001" target="_blank" rel="noopener">CrossRef Full Text</a>
  </p>
</li>
<li  class="bibitem" id="B7">Bak, P., Tang, C., and Wiesenfeld, K. (1988). Self-organized criticality. <i>Phys. Rev. A</i> 38, 364–374.
<p class="ReferencesCopy2">
    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=9900174" target="_blank" rel="noopener">Pubmed Abstract</a> |
    <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?db=pubmed&amp;cmd=prlinks&amp;retmode=ref&amp;id=9900174" target="_blank" rel="noopener">Pubmed Full Text</a> |
    <a href="http://dx.doi.org/10.1103/PhysRevA.38.364" target="_blank" rel="noopener">CrossRef Full Text</a>
  </p>
</li>
<li  class="bibitem" id="B8">Binney, J., Dowrick, N. J., Fisher, A. J., and Newman, M. E. J. (1992). <i>The Theory of Critical Phenomena: An Introduction to the Renormalization Group</i>. New York: Oxford University Press.
</li>
<li  class="bibitem" id="B9">Brillouin, L. (1956). <i>Science and Information Theory</i>. New York: Academic Press.
</li>
<li  class="bibitem" id="B10" >Brown, J. H., Gupta, V. K., Li, B.-L., Milne, B. T., Restrepo, C., and West, G. B. (2002). The fractal nature of nature: power laws, ecological complexity and biodiversity.
    <i>Philos. Trans. R. Soc. Lond. B Biol. Sci.</i> 357, 619–626.
  
<p class="ReferencesCopy2">
    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=12079523" target="_blank" rel="noopener">Pubmed Abstract</a> |
    <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?db=pubmed&amp;cmd=prlinks&amp;retmode=ref&amp;id=12079523" target="_blank" rel="noopener">Pubmed Full Text</a> |
    <a href="http://dx.doi.org/10.1098/rstb.2001.0993" target="_blank" rel="noopener">CrossRef Full Text</a>
  </p>
</li>
<li  class="bibitem" id="B11">Frege, G. (1984). <i>Collected Papers on Mathematics, Logic and Philosophy</i>. Oxford: Basil Blackwell. [trans. Max Black].
</li>
<li  class="bibitem" id="B12">Frezza, G., and Longo, G. (2010). Variations on the theme of invariants: conceptual and mathematical dualities in physics vs biology. <i>Hum. Evol.</i> 25, 167–172.
</li>
<li  class="bibitem" id="B13">Gould, S. J. (1997). <i>Full House: The Spread of Excellence from Plato to Darwin</i>. New York: Three Rivers Press.
</li>
<li  class="bibitem" id="B14">Grigolini, P., Aquino, G., Bologna, M., Lukovic, M., and West, B. J. (2009). A theory of noise in human cognition. <i>Physica A</i> 388, 4192–4204.
<p class="ReferencesCopy2"><a href="http://dx.doi.org/10.1016/j.physa.2009.06.024" target="_blank" rel="noopener">CrossRef Full Text</a></p>
</li>
<li  class="bibitem" id="B15">Jensen, H. J. (1998). <i>Self-Organized Criticality, Emergent Complex Behavior in Physical and Biological Systems</i>. Cambridge: Cambridge lectures in Physics.
</li>
<li  class="bibitem" id="B16">Kauffman, S. A. (1993). <i>The Origins of Order</i>. New York: Oxford University Press.
</li>
<li  class="bibitem" id="B17">Laguës, M., and Lesne, A. (2003). <i>Invariance d’échelle</i>. Paris: Belin.
</li>
<li  class="bibitem" id="B18" >Longo, G. (2008). “Laplace, turing and the “imitation game” impossible geometry: randomness, determinism and programs in turing’s test,” in <i>Parsing the Turing Test</i>, eds R. Epstein, G. Roberts,
    and G. Beber (Dordrecht: Springer), 377–411.
  
</li>
<li  class="bibitem" id="B19">Longo, G. (2011). “Interfaces de l’incomplétude,” in <i>Les Mathématiques</i>, (Paris: Editions du CNRS). [Originale in Italiano per “La Matematica”, Vol. 4, Einaudi, 2010].
</li>
<li  class="bibitem" id="B20">Longo, G., and Montévil, M. (2011a). From physics to biology by extending criticality and symmetry breakings. <i>Prog. Biophys. Mol. Biol.</i> 106, 340–347.
<p class="ReferencesCopy2"><a href="http://dx.doi.org/10.1016/j.pbiomolbio.2011.03.005" target="_blank" rel="noopener">CrossRef Full Text</a></p>
</li>
<li  class="bibitem" id="B21">Longo, G., and Montévil, M. (2011b). Protention and retention in biological systems. <i>Theory Biosci.</i> 130, 107–117.
<p class="ReferencesCopy2"><a href="http://dx.doi.org/10.1007/s12064-010-0116-6" target="_blank" rel="noopener">CrossRef Full Text</a></p>
</li>
<li  class="bibitem" id="B22">Longo, G., Montévil, M., and Kauffman, S. (2012). “No entailing laws, but enablement in the evolution of the biosphere,” in <i>GECCO Proceedings 2012</i>, Arxiv 1201.2069.
</li>
<li  class="bibitem" id="B23">Marker, D. (2002). <i>Model Theory: An Introduction</i>. New York: Springer Verlag.
</li>
<li  class="bibitem" id="B24">Mora, T., and Bialek, W. (2011). Are biological systems poised at criticality? <i>J. Stat. Phys.</i> 144, 268–302.
<p class="ReferencesCopy2"><a href="http://dx.doi.org/10.1007/s10955-011-0229-4" target="_blank" rel="noopener">CrossRef Full Text</a></p>
</li>
<li  class="bibitem" id="B25">Mossio, M., Longo, G., and Stewart, J. (2009). A computable expression of closure to efficient causation. <i>J. Theor. Biol.</i> 257, 489–498.
<p class="ReferencesCopy2">
    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=19168079" target="_blank" rel="noopener">Pubmed Abstract</a> |
    <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?db=pubmed&amp;cmd=prlinks&amp;retmode=ref&amp;id=19168079" target="_blank" rel="noopener">Pubmed Full Text</a> |
    <a href="http://dx.doi.org/10.1016/j.jtbi.2008.12.012" target="_blank" rel="noopener">CrossRef Full Text</a>
  </p>
</li>
<li  class="bibitem" id="B26" ></a>Nykter, M., Price, N. D., Aldana, M., Ramsey, S. A., Kauffman, S. A., Hood, L. E., Yli-Harja, O., and Shmulevich, I. (2008). Gene expression dynamics in the macrophage exhibit criticality.
    <i>Proc. Natl. Acad. Sci. U.S.A.</i> 105, 1897.
  
<p class="ReferencesCopy2">
    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=18250330" target="_blank" rel="noopener">Pubmed Abstract</a> |
    <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?db=pubmed&amp;cmd=prlinks&amp;retmode=ref&amp;id=18250330" target="_blank" rel="noopener">Pubmed Full Text</a> |
    <a href="http://dx.doi.org/10.1073/pnas.0711525105" target="_blank" rel="noopener">CrossRef Full Text</a>
  </p>
</li>
<li  class="bibitem" id="B27">Rosen, R. (1991). <i>Life Itself: A Comprehensive Inquiry into the Nature, Origin, and Fabrication of Life</i>. New York: Columbia University Press.
</li>
<li  class="bibitem" id="B28">Savage, V. M., Gilloly, J. F., Woodruff, W. H., West, G. B., Allen, A. P., Enquist, B. J., and Brown, J. H. (2004). The predominance of quarter-power scaling in biology. <i>Ecology</i> 18, 257–282.
</li>
<li  class="bibitem" id="B29">Schmidt-Nielsen, K. (1984). <i>Scaling</i>. Cambridge: Cambridge University Press.
</li>
<li  class="bibitem" id="B30">Schrödinger, E. (1944). <i>What Is Life?</i> New York: Cambridge University Press.
</li>
<li  class="bibitem" id="B31">Van Fraassen, B. C. (1989). <i>Laws and Symmetry</i>. Oxford: Oxford University Press.
</li>
<li  class="bibitem" id="B32">Varela, F. G., Maturana, H. R., and Uribe, R. (1974). Autopoiesis: the organization of living systems, its characterization and a model. <i>BioSystems</i> 5, 187–196.
<p class="ReferencesCopy2"><a href="http://dx.doi.org/10.1016/0303-2647(74)90031-8" target="_blank" rel="noopener">CrossRef Full Text</a></p>
</li>
<li  class="bibitem" id="B33">Varela, F. J. (1989). <i>Autonomie et connaissance</i>. Paris: Seuil.
</li>
<li  class="bibitem"id="B34" >Varela, F. J. (1999). “The specious present: a neurophenomenology of time consciousness,” in <i>Naturalizing Phenomenology: Issues in Contemporary Phenomenology and Cognitive Science</i>, eds J.
    Petitot, F. J. Varela, B. Pachoud, and J. M. Roy (Standford, CA: Stanford University Press), 266–314.
</li>
<li  class="bibitem" id="B35">Weibel, E. R. (1991). Fractal geometry: a design principle for living organisms. <i>Am. J. Physiol.</i> 261, L361–L369.
<p class="ReferencesCopy2">
    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=1767856" target="_blank" rel="noopener">Pubmed Abstract</a> |
    <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?db=pubmed&amp;cmd=prlinks&amp;retmode=ref&amp;id=1767856" target="_blank" rel="noopener">Pubmed Full Text</a>
  </p>
</li>
<li  class="bibitem" id="B36">West, B. J. (2006). <i>Where Medicine went Wrong: Rediscovering the Path to Complexity</i>. World Scientific Publishing Co. Inc.
</li>
<li  class="bibitem" id="B37">West, G. B., Brown, J. H., and Enquist, B. J. (1997). A general model for the origin of allometric scaling laws in biology. <i>Science</i> 276, 122–126.
<p class="ReferencesCopy2">
    <a href="http://www.ncbi.nlm.nih.gov/sites/entrez?Db=pubmed&amp;Cmd=ShowDetailView&amp;TermToSearch=9082983" target="_blank" rel="noopener">Pubmed Abstract</a> |
    <a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/elink.fcgi?db=pubmed&amp;cmd=prlinks&amp;retmode=ref&amp;id=9082983" target="_blank" rel="noopener">Pubmed Full Text</a> |
    <a href="http://dx.doi.org/10.1126/science.276.5309.122" target="_blank" rel="noopener">CrossRef Full Text</a>
  </p>
</li>
<li  class="bibitem" id="B38">Weyl, H. (1952). <i>Symmetry</i>. Princeton: Princeton University Press.
</li>
<li  class="bibitem" id="B39">Zinn-Justin, J. (2007). <i>Phase Transitions and Renormalization Group</i>. New York: Oxford University Press.
</li></ol>
<h2 class="sectionHead" id="appendix-interfaces-of-incompleteness">Appendix: Interfaces of Incompleteness</h2>
<p class="indent">Do we need to have a definition of life, in order to construct robust theories of the living state of matter?</p>
<p class="indent">Let’s now answer to this question by an analogy with a frame where it may be dealt with the highest rigor: Mathematical Logic.</p>
<p class="indent">
  Is the concept of integer (thus “standard” or finite) number captured (defined, characterized) by the (formal) theory of numbers? <a href="#B11">Frege (1984)</a> believed so, as the absolute concept of number was, in his view, fully
  characterized by Peano-Dedekind theory. In modern logical terms, we can say that, for Frege, Peano Arithmetic (PA) was “categorical.” That is, PA was believed to have just one model, up to isomorphisms: the standard model of
  integers (the one which the reader learned about in elementary school, with 0, though, and formal induction). Thus, the theory was also meant to uniquely define of “what a number is.”
</p>
<p class="indent">
  This turned out to be blatantly wrong. Löwenheim and Skolem (1915–1920) proved that PA has infinitely many non-isomorphic models. Moreover, a simple theorem (“compactness”) showed that no predicate, definable in PA, may isolate all
  and exactly all the standard integers (see <a href="#B23">Marker, 2002</a>). In short, any predicate valid on infinitely many standard integers, must hold also for (infinitely many) non-standard integers (which cannot be considered
  properly “finite”) – this is known as the “overspill lemma.” Gödel’s incompleteness theorem reinforced these negative properties: PA is <i>incomplete</i> or, equivalently, it has lots of logically non-equivalent models, a much
  stronger property than <i>non-categoricity</i>. A fortiori, there is no hope to characterize in a finitistic way the concept of standard integer number. One has to add an axiom of infinity (Set Theory) or proper second order
  quantification in order to do so, and these are infinitary or impredicative formal frames.
</p>
<p class="indent">
  Yet, everybody considers PA as the “natural” theory of numbers: it beautifully singles out the main relevant, and very robust, properties of numbers (0, successor, induction), even though it <i>cannot define what a number is</i>. In
  analogy to the impossibility of physics to define its own object of study, physical matter, as we mentioned at the beginning, we have here another example of sound theoretical frame, which cannot define, within itself, its own
  object of study, the natural number object. We do not see a way to get out from the language of physics or of biology as Mathematical Logic can do: what would ever correspond to an axiom of infinity or to higher order
  quantification? Perhaps: …“take the point of view (and the language) of God”?
</p>
<p class="indent">
  We encourage thus the reader to pursue his/her theoretical work in biology without the anguishing search for a <i>definition</i> of life. And with the clear perspective of the intrinsic incompleteness of all our theoretical
  endeavors (<a href="#B19">Longo, 2011</a>): we can just hope to explicitly grasp and organize by theories some fragments of reality, whatever this word may mean. Let’s try to do it toward the best of our knowledge, in a sufficiently
  broad and robust way, and in full theoretical and empirical freedom, without necessarily feeling stuck either to existing theories nor always searching for the “ultimate (complete?) Theory” nor the “ultimate reduction.”
</p>
<p class="indent">Longo’s downloadable papers in <a href="http://www.di.ens.fr/users/longo/">http://www.di.ens.fr/users/longo/</a></p>
