@use 'colors';

:root {
  --gap: 1rem;
  --gap2: calc(2 * var(--gap));
  --gap3: calc(3 * var(--gap));

  --flow-space: 1em;

  // --font-family-serif: NotoSerif, Georgia, 'Times New Roman', Times, serif;
  --font-family-serif: Georgia, 'Times New Roman', Times, serif;

  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  // --font-family-monospace: 'Fira Code', 'Courier New', Courier, monospace;
  --font-family-monospace: 'Courier New', Courier, monospace;

  --font-size-base: 0.9rem;
  --font-size-responsive: 0.5vw;
  --font-size-scale: 1.1;

  // https://every-layout.dev/rudiments/modular-scale/
  --font-size-m: calc(var(--font-size-base) + var(--font-size-responsive));
  --font-size-m: min(
    calc(var(--font-size-base) + var(--font-size-responsive)),
    1.4rem
  );
  --font-size-s: calc(var(--font-size-m) / var(--font-size-scale));
  --font-size-xs: calc(var(--font-size-s) / var(--font-size-scale));
  --font-size-l: calc(var(--font-size-m) * var(--font-size-scale));
  --font-size-xl: calc(var(--font-size-l) * var(--font-size-scale));
  --font-size-xxl: calc(var(--font-size-xl) * var(--font-size-scale));
  --font-size-xxxl: calc(var(--font-size-xxl) * var(--font-size-scale));
  --font-size-xxxxl: calc(var(--font-size-xxxl) * var(--font-size-scale));

  // --layout-max: calc(50 * var(--font-size-m));
  --layout-max: 60rem;

  // Color ingredients
  --hue: 322;
  --sat: 75%;
  --sat-step: 4%;
  --lum: 25%;
  --lum-step: 3%;

  // Colors
  // Rebecca Purple:
  //   https://www.economist.com/babbage/2014/06/23/the-colour-purple
// ************************************************************
// Colors palette
// ************************************************************
//
// Rebecca Purple:
//   https://www.economist.com/babbage/2014/06/23/the-colour-purple
// https://gka.github.io/palettes/#/9|s|663399,ffffff||1|1

$color-grey: #bbb;
$color-gold: #fefaa2;


// Persimmon:
//   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
$color-secondary: #35d123;

--color-primary: hsl(var(--hue), var(--sat), var(--lum));

  @for $i from 1 through 7 {
    --color-primary-lighter-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) - #{$i} * var(--sat-step)),
      calc(var(--lum) + #{$i} * var(--lum-step))
    );
    --color-primary-darker-#{$i}: hsl(
      var(--hue),
      calc(var(--sat) - #{$i} * var(--sat-step)),
      calc(var(--lum) - #{$i} * var(--lum-step))
    );
  }
$color-primary-darker-7: #14070e;
$color-primary-darker-6: #1f0d17;
$color-primary-darker-5: #2a111f;
$color-primary-darker-4: #361227;
$color-primary-darker-3: #42142f;
$color-primary-darker-2: #4f1437;
$color-primary-darker-1: #5c1540;
$color-primary: #691449;
$color-primary-lighter-1: #7d345d;
$color-primary-lighter-2: #905173,;
$color-primary-lighter-3: #a36c89;
$color-primary-lighter-4: #b6899f;
$color-primary-lighter-5: #c8a5b6;
$color-primary-lighter-6: #dbc3ce;
$color-primary-lighter-7: #ede1e6;
  // Persimmon:
  //   https://en.wikipedia.org/wiki/Shades_of_orange#Persimmon
  --color-secondary: hsl(22, 100%, 46%);

// Colors from Prism OneDark theme


// Global styles
$meta-icon-color: $color-grey;
$meta-link-decoration-color: $color-grey;


  --color-link: var(--color-primary);
  --color-link-bg: inherit;
  --color-link-decoration: var(--color-primary-lighter-6);

  --color-link-hover: white;
  --color-link-hover-bg: #{$color-primary};
  --color-link-hover-decoration: underline #{$color-gold} ;


  --color-meta: #777;
  --color-meta-decoration: #999;

  --color-gold: hsl(50, 91%, 30%);
  --color-yellow-light: hsl(59, 100%, 88%);

  --border-width: 0.15em;
}
