---
excerpt: "We articulate three principles for a theory of organisms proposed, namely: the default state the principle of variation and the principle of organization. "
---
<h2 class="titleHead" id="toward-a-theory-of-organisms-three-founding-principles-in-search-of-a-useful-integration">Toward a theory of organisms: Three founding principles in search of a useful integration</h2>
<p class="indent author" style="text-align:center">Ana M. Soto, Giuseppe Longo, Paul-Antoine Miquel, Maël Montévil, Matteo Mossio, Nicole Perret, Arnaud Pocheville and Carlos Sonnenschein</p>
<p class="author"> </p>
<div class="epigraph">
  All evolutionary biologists know that variation itself is nature’s only irreducible essence...
  <div class="episource">S.J. Gould, 1985.</div>
</div>
<div class="epigraph">
  In the Origin of species (1859), he [Darwin] made it quite clear that variation alone was not enough to account for species transformation: one had also to assume that such variations were passed on to the following generations.
  <div class="episource">S. Müller-Wille, 2010.</div>
</div>
<div class="epigraph">
  In all in-depth analysis of a physiological phenomenon, one always arrives at the same point, the same elementary irreducible agent, the organized element, the cell.
  <div class="episource">C. Bernard, 1874.</div>
</div>
<hr />
<h3 class="abstract">Abstract</h3>

<p class="indent">
  Organisms, be they uni- or multi-cellular, are agents capable of creating their own norms; they are continuously harmonizing their ability to create novelty and stability, that is, they combine plasticity with robustness. Here we
  articulate the three principles for a theory of organisms proposed in this issue, namely: the default state of proliferation with variation and motility, the principle of variation and the principle of organization. These principles
  profoundly change both biological observables and their determination with respect to the theoretical framework of physical theories. This radical change opens up the possibility of anchoring mathematical modeling in biologically proper
  principles.
</p>
<p class="noindent"><i><span class="paragraphHead">Keywords:</span><span class="cmti-10"> </span></i> Default state, biological organization, organizational closure, variation, individuation</p>
<hr />{#
<p class="indent"><a id="x1-8f0"></a></p>
<h3 id="table-of-contents">Table of contents</h3>
<nav id="TOC" class="tableofcontents">
  <ul>
    <li><a href="#introduction"><span class="toc-section-number">1</span> Introduction</a></li>
    <li><a href="#philosophical-stances"><span class="toc-section-number">2</span> Philosophical stances</a></li>
    <li><a href="#from-the-inert-to-the-alive"><span class="toc-section-number">3</span> From the inert to the alive</a></li>
    <li><a href="#the-cell-theory-a-starting-point-towards-a-theory-of-organisms."><span class="toc-section-number">4</span> The cell theory: a starting point towards a theory of organisms.</a></li>
    <li><a href="#the-founding-principles-from-entanglement-to-integration"><span class="toc-section-number">5</span> The founding principles: from entanglement to integration?</a>
      <ul>
        <li><a href="#genealogy-of-the-three-proposed-principles-the-default-state-the-principle-of-organization-and-the-principle-of-variation."><span class="toc-section-number">5.1</span> Genealogy of the three proposed principles: the default state, the principle of organization and the principle of variation.</a></li>
        <li><a href="#how-to-organize-these-principles-into-a-coherent-set"><span class="toc-section-number">5.2</span> How to organize these principles into a coherent set?</a>
          <ul>
            <li><a href="#the-role-of-the-default-state"><span class="toc-section-number">5.2.1</span> The role of the default state</a></li>
            <li><a href="#the-role-of-constraints"><span class="toc-section-number">5.2.2</span> The role of constraints</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#conclusions"><span class="toc-section-number">6</span> Conclusions</a></li>
    <li><a href="#references">References</a></li>
  </ul>
</nav>#}
<h3 class="sectionHead" id="introduction"><span class="header-section-number">1</span> Introduction</h3>
<p class="indent">
  The first decade of the new millennium was dubbed as the beginning of “the post-genomic era.” Its arrival was greeted by the biological sciences establishment and the pharmaceutical industry with the exceedingly optimistic view that new
  technology and the usual reductionist approaches that characterized the last half of the 20<sup>th</sup> century will (again) cure cancer, bring about personalized and precision medicine, and more. Indeed, the rhetoric and promises have
  not changed from the time President Nixon declared the War on Cancer, in spite of the meager returns of this extremely expensive undertaking. The latest “moon-shot” aimed at curing cancer “once and for all” proposed by President Obama
  has generated a significant wave of public criticism regarding the costs of the project, its likely minimal impact on prevention and public health policy, the inequalities of access it would engender due to high cost of the
  “personalized’ therapies and, finally and most important, the dubious probability of success (Interlandi 2016; Breivik 2016; Bayer and Galea 2015; Joyner et al. 2016). However, critiques of the philosophical stance at the coreof the
  biological research fueling this program have yet to propose a cogent theoretical alternative to the one that has dominated biomedical research for the last 70 years. Although the genesis of this special issue is mostly unrelated to
  this type of gigantic projects, we believe that this issue’s content provides a critical analysis and addresses the limitations posed by the hegemonic, reductionist, dominant world view which is metaphor rich and theory poor. This
  issue’s content also analyses the role of scientific theories not only in their ability to provide intelligibility but also as the most practical tools for framing research and for constructing objectivity. Most importantly, the
  articles in this issue of PBMB put forward some basic principles that help in constructing a comprehensive theory of organisms.
</p>
<p class="indent">
  Since Aristotle the idea of goal-directedness, i.e., teleology, provided a useful framework for understanding a main characteristic of organisms, namely, the “goal” of keeping themselves alive. A salient example of this phenomenon is
  provided by a goat studied by Slijper (Slijper 1942a; Slijper 1942b). This animal was born with paralysis of its front legs and soon learned to move around by hopping on its hind legs. This behavioral accommodation resulted in dramatic
  morphological changes in the bones of the hind legs and the pelvis, as well as changes in the morphology of the pelvic muscles (West-Eberhard 2005).Two millennia later another great philosopher, Immanuel Kant, worked on the distinctions
  between the ways of acquiring knowledge regarding the living and the inert. Regarding teleological thinking, he stressed the interrelatedness of the organism and its parts and the circular causality implied by this relationship.
  Teleological judgement was described as an epistemic organizing principle which allows for the explanation of the biological object through its unity (this object being the cause and effect of itself), before giving a discrete
  description of its parts. Following Kant’s ideas teleology was adopted as a heuristic by the teleomechanists (Lenoir 1982); for Blumenbach, <em>Bildungstrieb</em> (vital force) was a teleological agent the cause of which, like Newton’s
  gravity, was beyond the power of reason. However, the consequences of this organizing principle, like of those of gravity, were still amenable to scientific inquiry (Lenoir 1980). Thus, teleology was an extremely useful concept for the
  development of several biological disciplines in the late 18th and the 19<sup>th</sup> centuries.
</p>
<p class="indent">
  Several historians, philosophers and biologists addressed the overall changes in the practice and conceptualization of biological phenomena that took place in the 20th century (Mayr 1996; Gilbert and Sarkar 2000). One of them, Lenny
  Moss, described a turning point, “the phylogenetic turn”; which changed the perception of the organism. In Moss’ own words, “the theater of adaptation changed from that of individual life histories, that is, ontogenies, to that of
  populations over multiple generations, that is, phylogenies.” Moss’ phylogenetic turn imposes a choice “<span>…</span> between a theory of life which locates the agency for the acquisition of adapted form in ontogeny—that is, in some
  theory of epigenesis versus a view that expels all manner of adaptive agency from within the organism and relocates it in an external force—or as Daniel Dennett (Dennett 1995) prefers to say, an algorithm called ‘natural selection’”
  (Moss 2003). Because of this change, agency, normativity and individuation, hitherto considered the main characteristics of the living, almost disappeared from biological language. Since then, cells and organisms became passive
  recipients of a program. As a consequence, it is not surprising that biology has a theory of evolution but not a theory of organisms.
</p>
<p class="indent">
  In spite of the strong impact of the teleomechanists, their perspective was not universally accepted; in fact, two competing currents emerged regarding biological thinking. Their main difference was whether or not there were
  singularities of the living that required a different outlook than that used in mechanics. The 200 year old dispute between these two stances continued well into the 20<sup>th</sup> century as a polarization between reductionists and
  organicists, although the latter moved from the mechanical worldview to one inspired by the mathematical theories of information (Longo et al. 2012). Indeed, the introduction of the notion of “program” [see Perret et al, this issue, and
  (Longo et al. 2012)] was greeted as a sound theoretical way to get rid of the concept of “teleology” (Mayr 1996). However, the adoption of the metaphors and the powerful tools conceived and used by the reductionists blurred the distance
  between the two currents (see Perret et al, this issue, and Longo et al. 2012). The current state of affairs is that even those that consider themselves organicists are for the most part using the pervasive language of molecular
  biology, a language that forces causative power to molecules, and in particular, to genes. Nowadays, the main difference between reductionists and organicists is that the latter are keenly aware that, when they practice analytical
  reductionism, they may be destroying the very phenomena that they are trying to understand.
</p>
<p class="indent">
  In addition to the conceptual problems generated by the phylogenetic turn and the molecular biology revolution, the availability of immensely large databases has been greeted by the declaration that the scientific method is obsolete
  (Anderson 2008). To the contrary, the perspective proposed throughout this issue buttresses rather than opposes the scientific method. Thus, the objective of this issue is to propose theoretical principles for the construction of a
  theory of organisms which could overcome both the hindrances arising from the reductionist and informational stances of the 20<sup>th</sup> century, and circumvent the choice imposed by the new synthesis between phylogenesis and an
  organismal approach.
</p>
<p class="indent">
  Based on the organicist tradition, three principles are proposed to postulate a theory of organisms, namely: 1) the default state of proliferation with variation and motility, which is rooted in the cell theory, 2) the principle of
  organization, and 3) the principle of variation which applies to morphogenesis and inheritance. Additionally, examples are given of how these principles can guide biological research on morphogenesis and cancer (see Montévil, Speroni
  Sonnenschein and Soto, Sonnenschein and Soto, this issue). The aim of this concluding article is to articulate the ideas that have been expounded in the preceding articles of this issue into a coherent body.
</p>
<h3 class="sectionHead" id="philosophical-stances"><span class="header-section-number">2</span> Philosophical stances</h3>
<p class="indent">
  In contrast to evolutionary biology, organismal biology still lacks a widely accepted global theory. For this reason it would be very helpful if practitioners would make explicit which are the principles, the postulates, and the
  concepts that frame their research; in short, their philosophical stances. From the organicist perspective developed in this issue, biological systems are characterized by the simultaneous co-existence of opposites as exemplified by
  change and stability, the incomplete separation between internal and external (topology), and before and after (time) the notions of extended present, memory and anticipation [See Miquel and Hwang, this issue, and (Longo and Montévil
  2011b)]. Organisms are open systems that handle flows of matter and energy by means of and for the maintenance of their metabolism. The internal constraints defining such a system are always disturbed by external ones; thus, in order to
  understand what is happening in the system, we must simultaneously access the multiple levels on which this system is integrated (Stengers 1997). For instance, the cell as a whole is integrated into a more complex system, the tissue,
  the organism, in which it will not act similarly as to when it is placed in a conventional in vitro culture. For example, in a cardiomyocyte the proteins that channel the ions, (calcium, potassium) carry currents that change the cell
  voltage. In turn the cell voltage changes the ion channels (Noble 2006). Thus the components alter the behavior of the heart and the heart alters the behavior of the components, yet both components and the heart are integrated into a
  higher multicellular structure, the organism. This means that the working of such a system is never defined by initial constraints. Additionally, the system is historical and in relentless change from fertilization to death, being built
  and remodeled throughout life.
</p>
<p class="indent">
  In sum, the historical way by which a system of natural events operates is not a consequence of its initial description. Instead, it acts and it produces novelty (novel qualities and novel structures) in the real world. Thus, emergence,
  understood here as the appearance of new observables through time, is not a simple epistemic property. It has ontological and theoretical meaning (Soto et al. 2008).
</p>
<h3 class="sectionHead" id="from-the-inert-to-the-alive"><span class="header-section-number">3</span> From the inert to the alive</h3>
<p class="indent">
  Physical theories are grounded on stable mathematical structures, based on regularities such as theoretical symmetries. The physical object is both defined and understood by its mathematical transformations. These operations permit a
  stable description of space; this space is objectivized as the space providing theoretical determination and specifying the trajectory of the object (usually done by optimization principles). In sum, physical objects are generic and
  their trajectories are specific (see Longo &amp; Soto, and Montévil et al, this issue).
</p>
<p class="indent">
  In biology, we posit instead the instability of theoretical symmetries, which are likely to change when the object is transformed along the flow of time, such as when a zygote develops into an adult animal. Biological objects, i.e.,
  organisms, are specific and hence they are not interchangeable. Their trajectories are generic; they are not specified by the phase space (Longo and Montévil 2014). These biological objects are the result of a history that represents a
  cascade of changes of their regularities, they exhibit variability and show contextuality; unlike inert objects they are agents. Moreover, organisms not only are able to create their own rules, they also have the capacity to change them
  [see Miquel and Hwang, this issue, and (Canguilhem 1991)].
</p>
<h3 class="sectionHead" id="the-cell-theory-a-starting-point-towards-a-theory-of-organisms."><span class="header-section-number">4</span> The cell theory: a starting point towards a theory of organisms.</h3>
<p class="indent">
  Canguilhem traces the history of the cell theory back to the 18<sup>th</sup> century, and finds two main components, each addressing a fundamental question, namely, i) the composition of organisms, this is the cell as the element
  “bearing all the characteristics of life” and ii) the genesis of organisms. Canguilhem attributes to Virchow the priority of putting these two components together (Canguilhem 2008). The second element of the theory, that is, the genesis
  of organisms applies, of course, to both unicellular and multicellular organisms. Moreover, from the inception of the cell theory, it was stated that the egg from which sexed organisms are born is a cell whose development can be
  explained by the division of said cell into daughter cells by cell proliferation. In this regard, the cell was in the view of Claude Bernard “a vital atom”. Bernard stated “In all in-depth analysis of a physiological phenomenon, one
  always arrives at the same point, the same elementary irreducible agent, the organized element, the cell” (Claude Bernard Revue Scientifique, Sept 26, 1874-cited by (Canguilhem 2008)). From this dominant position at the end of the 19
  <sup>th</sup> century, the theory endured and survived criticism about whether anatomical or functional syncytia negated the cellular structure of multicellular organisms. Another problem that has been debated since Virchow’s time is
  whether or not the cells are individuals. In the case of unicellular organisms there is no problem in stating that cell and organism are the same and that they are individuals. However, attributing individuality to both the cells in
  multicellular organisms as well as to the organism that contains them posed problems that led some to reject the cell theory. From our perspective, it is the concept of the level entanglement that provides a useful perspective of the
  relationship between organism and cells: the zygote is both a cell and an organism, and with each cell division, these two levels of individuation become more obvious. In other words, we may adopt Simondon’s philosophy and look at
  individuation as a process rather than a thing (see Miquel and Hwang, this issue).
</p>
<p class="indent">
  Back then and today, the cell theory plays a unifying role between evolutionary and organismal biology; it provided a link between the individual and its progeny in which the cell itself is a vehicle of inheritance. Within this
  theoretical perspective, the cell is the irreducible locus of agency.
</p>
<h3 class="sectionHead" id="the-founding-principles-from-entanglement-to-integration"><span class="header-section-number">5</span> The founding principles: from entanglement to integration?</h3>
<h4 class="subsectionHead" id="genealogy-of-the-three-proposed-principles-the-default-state-the-principle-of-organization-and-the-principle-of-variation."><span class="header-section-number">5.1</span> Genealogy of the three proposed principles: the default state, the principle of organization and the principle of variation.</h4>
<p class="indent">
  Each of these principles has its own history prior to the inception of the ORGANISM group. The <em>default state</em> was initially proposed by Soto and Sonnenschein (Soto and Sonnenschein 1991); it was based on experimental work done
  starting in the early 1970s while studying the role of estrogens on the proliferation of their target cells and is rooted in the cell theory and in the strict materiality of life. The default state is further anchored on the notion that
  <em>the cell</em> is an organism and is the origin of all organisms. The joint work of Longo, Montévil, Sonnenschein and Soto resulted in the integration of variation into the default state of proliferation and motility: at each cell
  division variation is generated. In addition to the default state, a supracellular source of variation was identified. This is the “framing principle of non-identical iterations of morphogenetic processes in organogenesis,” which
  accounts for the generation of globally regular patterns of non-identical structures, typically observed in organogenesis (Longo et al. 2015b). The work of Miquel, Soto and Sonnenschein also addressed the generation of new observables
  while examining the concepts of emergence, downward causation and level entanglement (Soto et al. 2008). The principle of variation can be traced to Bailly and Longo’s analysis of the differences between physical objects and biological
  objects, the concept of extended criticality [(Longo and Montévil 2011a) and Longo and Soto, this issue], and of course, the Darwinian idea of descent with modification.
  <a class="footnote-ref" href="#fn1" id="fnref1"><sup>1</sup></a> The relentless change addressed by the principle of variation points to the major difference between the theories of the inert and those of the living. The other side of
  the coin, namely, stability, needed to be addressed as a main component of biological organization.
</p>
<p class="indent">
  The history of the <em>principle of organization</em> can be traced back to the concept of autopoiesis (Varela et al. 1974), closure (Rosen 1991) and work-constraints cycles (Kauffman 2002), which has been further elaborated by Montévil
  and Mossio (Montévil and Mossio 2015 and Mossio et al this issue).The principle of organization is the fundamental source of biological stability. The notion of closure of constraints as the means to achieve and maintain stability was
  traditionally applied to intracellular processes. Mossio et al explored the concept of constraints being conserved at the time-scale of the process being constrained (see Mossio et al, this issue); this concept opens a point of entry
  for the mathematization of biology. We exploited this notion by modeling mammary gland morphogenesis using the default state and its constraints (Montévil et al, this issue).
</p>
<h4 class="subsectionHead" id="how-to-organize-these-principles-into-a-coherent-set"><span class="header-section-number">5.2</span> How to organize these principles into a coherent set?</h4>
<p class="indent">
  Our theoretical work addresses both unicellular and multicellular organisms. Following Darwin’s strategy regarding phylogenesis, it seems prudent not to delve into the transition from the prebiotic to the biotic world, but to anchor our
  principles in the biotic world. By this we mean that we are agnostic about whether or not the principles that we propose for to study organisms are relevant to the abiotic world, since even a hypothetical biochemical structure able to
  instantiate closure is not an organism, and a self-replicating molecule is not an organism undergoing multiplication.
</p>
<p class="indent">The three principles we propose are irreducible to one another and none of them could be construed as the “condition of possibility” for the other two, at least in this our first analysis about how they are related.</p>
<h5 class="subsubsectionHead" id="the-role-of-the-default-state"><span class="header-section-number">5.2.1</span> The role of the default state</h5>
<p class="indent">
  The biological default state (proliferation with variation and motility), expresses agency and modifies the causal structure with respect to the theories of the inert. Our proposal on the default state has straight-forward consequences
  on what requires an explanation in the sense of a theoretical cause. The default state does not require such a cause. To the contrary, what would require an explanation is a departure from the default state (quiescence, restrained
  variation, lack of motility). This theoretical cause should be distinguished from the notion of differential cause, whereby a difference introduced in the system, like a carcinogen, leads to a difference in the system’s behavior. In
  order to conceptually move from a differential cause to a theoretical cause, it is necessary to understand how the differential cause alters the constraints on the system (Longo and Soto, this issue). In addition to physical
  constraints, there are also chemical constraints that affect morphogenesis. For example, those imposed by collagen, phospholipids or DNA. The ability of an organism to generate new constraints at each new iteration produces diversity
  given that iterations are not identical.
</p>
<h5 class="subsubsectionHead" id="the-role-of-constraints"><span class="header-section-number">5.2.2</span> The role of constraints</h5>
<p class="indent">
  Biological constraints and their actions are key objects for biological investigations in the framework of a theory of organisms. All the principles proposed in this issue relate closely to the notion of constraint, which is shaped by
  the proposed founding principles.
</p>
<p class="indent">
  The default state is rooted in the cell theory and the notion of the cell as an agent. Constraints are objects which are much simpler than cells, and the action of constraints on cells require a specific principle: constraints act by
  forcing cells out of the default state. The positing of a default state for cells leads us to discuss the action of constraints on cells that reduce, hinder or canalize their ability to proliferate and to move. This approach overcomes
  the metaphoric and anthropocentric use of the notion of signal, since it acknowledges the agency of cells. Cells are no longer passive things like rocks that have to be acted upon to make them do something (proliferate or move).
</p>
<p class="indent">
  The principle of organization leads to the inclusion of specific constraints in an organism, and thus to assess whether a given constraint is functional, that is, it participates in closure. Constraints of an organism are constraints
  that are both maintained by other constraints and in turn they maintain other constraints. Given the interdependence of the organism and its parts, it is never sufficient to analyze a given constraint or a given set of constraints in
  isolation. However, as discussed in this issue (Montévil et al), an analysis of constraints on the default state resulted in an insightful explanation of glandular morphogenesis in a 3D model of the breast. As mentioned in that article,
  additional constraints at the tissue level and organismal regulation via hormones are obvious incremental additions needed for a biological analysis. In sum, additional constraints will need to be taken into consideration to understand
  the global biological organization in which the phenomenon studied, mammary gland morphogenesis in our case, is rooted.
</p>
<p class="indent">
  The principle of variation manifests itself in the default state, since each cell division generates two similar but slightly different cells, and by virtue of this default state, into the Darwinian notion of descent with modification.
  The principle of variation also applies at supra-cellular levels as in the framing principle of non-identical iterations of morphogenic processes (Longo et al. 2015a). The principle of variation establishes that constraints should not
  be considered as phylogenetic invariants. Instead, constraints are subject to variation. For instance, a morphogenetic process which is described as a set of constraints is not necessarily conserved in a lineage. Instead, it will be
  typically altered both for some individuals and at the level of groups of individuals, for example in a particular species. Changes of constraints are thus intrinsic to the notion of biological constraints.
</p>
<h3 class="sectionHead" id="conclusions"><span class="header-section-number">6</span> Conclusions</h3>
<p class="indent">
  Scientific theories provide organizing principles and construct objectivity by framing models, observations and experiments. Numerous mathematical concepts and structures originated from the analysis of physical phenomena; these
  mathematical innovations, in turn, helped to organize physical concepts in a novel way. A classic example is Newton’s invention of infinitesimal calculus which was motivated by an analysis of velocity and acceleration. Calculus made
  these concepts mathematically intelligible, and thus, the movements of planets became intelligible. In the 19<sup>th</sup> century, Riemann’s geometry was invented as an attempt to understand Newton’s gravitation in relation to the
  curvature of space, and it was later used by Einstein in the physics and mathematics of Relativity. In the 20<sup>th</sup> century, Dirac’s delta, Feynman’s integral and other brand new theories, such as Gauge Theory, were entirely
  motivated by investigations in quantum physics. As in the earlier examples, these mathematical inventions shed new light on the physical phenomena. These are just a few examples of a creative synergy between these disciplines. Why has
  this not been so in biology?
</p>
<p class="indent">
  Symmetries and conservation laws are strictly linked and are fundamental both in mathematics and physics. In biology on the contrary, variation is at the core of both the theory of evolution and the theory of organisms that we have
  sketched and intend to develop. The existence of a principle of variation explains why biology has not yet inspired mathematicians to create structures that would open the possibility of formalizing biological concepts. However,
  pointing out to the differences between inert and live objects opens the way to better understand what would it take to arrive at this distant objective: the development of a “mathematical biology” that will play the same role that
  mathematics has played in physics, and which is very different from the applied mathematics transplanted directly from physics that is routinely used to model biological phenomena (Longo 2015).
</p>
<p class="indent">
  Biological objects are agents capable of creating their own norms; they are continuously harmonizing their ability to create novelty and stability. Positing the three principles enunciated herein has also opened the way to explain
  morphogenesis and carcinogenesis (Montévil et al, Sonnenschein and Soto, this issue). These principles profoundly change both biological observables and their determination with respect to the theoretical frames of physical theories.
  This radical change opens up the possibility of anchoring mathematical modeling on properly biological principles. Turing showed that there is an epistemological gap between modelization and imitation (Turing 1950; Turing 1952). While
  the former is based on a theory about the object being modeled, the latter is not. Thus, biological principles are needed to move beyond imitation. For example, the model of ductal morphogenesis presented in this issue is based on the
  default state and the intrinsic constraints generated by the epithelial cells. By identifying constraints to the default state, multilevel biomechanical explanations become as legitimate as the molecular ones. Finally, analysis of the
  differences between the physics of inanimate and living matter led us to propose three principles that provide a reliable perspective for the construction of a much needed theory of organisms. In addition to this theoretical purpose,
  these founding principles have been useful for framing experiments and mathematical modeling.
</p>
<h3 class="sectionHead" id="references">References</h3>
<p class="indent">Anderson, C. 2008. The end of theory: The data deluge makes the scientific method obsolete. <em>WIRED</em>.</p>
<p class="indent">Bayer, R., Galea, S. 2015. Public health in the precision-medicine era. <em>N. Engl. J. Med. 373</em>, 499-501.</p>
<p class="indent">Bernard,C. , <em>Revue Scientifique</em>, Sept 26, 1874 — cited by G. Canguilhem, 2008. <em>Knowledge of Life</em>. Fordham University Press, New York.</p>
<p class="indent">
  Breivik, J. May 27 2016. We won’t cure cancer. <em>New York Times</em>
  <a href="http://www.nytimes.com/2016/05/27/opinion/obamas-pointless-cancer-moonshot.html">http://www.nytimes.com/2016/05/27/opinion/obamas-pointless-cancer-moonshot.html</a>.
</p>
<p class="indent">Canguilhem, G. 1991. <em>The Normal and the Pathological.</em> Zone Books, New York.</p>
<p class="indent">—— 2008. <em>Knowledge of Life.</em> Fordham University Press, New York.</p>
<p class="indent">Dennett, D.C. 1995. <em>Darwin’s Dangerous Idea</em>. Simon &amp; Schuster, New York, NY.</p>
<p class="indent">Gilbert, S.F., Sarkar, S. 2000. Embracing complexity: Organicism for the 21st century. <em>Developmental Dynamics 219</em>, 1-9.</p>
<p class="indent">Gould, S.J. , 1985. The median isn’t the message. <em>Discover 6</em>, 40–42.</p>
<p class="indent">Interlandi, J. 2016. The paradox of precision medicine. <em>Sci. Am. 314</em>, 24.</p>
<p class="indent">Joyner, M.J., Paneth, N., Ioannidis, J.P. 2016. What happens when underperforming big ideas in research become entrenched? <em>Journal of the American Medical Association.</em></p>
<p class="indent">Kauffman, S. 2002. Investigations. Oxford University Press, New York.</p>
<p class="indent">Lenoir, T. 1980. Kant, Blumenbach and vital materialism in german biology. <em>Isis 256</em>, 77-108.</p>
<p class="indent">—— 1982. <em>The Strategy of Life: Teleology and Mechanics in Nineteenth-Century Biology</em>. D. Reidel Publishing, Dordrecht, Holland.</p>
<p class="indent">Longo, G. 2015. How Future Depends on Past and on Rare Events in Systems of Life, in: Italian original in Paradigmi, n. speciale XXXIII Maggio-Agosto Gagliasso, G., Sterpetti, F., (Eds.), Rome:Franco Angeli.</p>
<p class="indent">Longo, G., Miquel, P.-A., Sonnenschein, C., Soto, A.M. 2012. Is information a proper observable for biological organization? <em>Prog. Biophys. Mol. Biol. 109</em>, 108-14.</p>
<p class="indent">Longo, G., Montévil, M. 2011a. From physics to biology by extending criticality and symmetry breakings. <em>Prog. Biophys. Mol. Biol. 106</em>, 340-347.</p>
<p class="indent">—— 2011b. Protention and retention in biological systems. <em>Theory in Biosciences 130</em>, 107-117.</p>
<p class="indent">—— 2014. <em>Perspectives on Organisms: Biological Time, Symmetries and Singularities.</em> Springer, Berlin.</p>
<p class="indent">Longo, G., Montévil, M., Sonnenschein, C., Soto, A.M. 2015b. In search of principles for a theory of organisms. <em>J. Biosci. 40</em>, 955-968.</p>
<p class="indent">
  Longo, G. &amp; Soto, A.M. 2016, this issue, Why do we need theories?, <em>Progress in Biophysics and Molecular Biology</em>, Available online 4 July 2016, ISSN 0079-6107,
  <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.005">http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.005</a>
</p>
<p class="indent">Mayr, E. 1996. <em>This Is Biology.</em> Harvard University Press, Cambridge, MA.</p>
<p class="indent">
  Miquel, P.-A., Hwang, S.-Y 2016, this issue. From physical to biological individuation, <em>Progress in Biophysics and Molecular Biology</em>, Available online 16 July 2016, ISSN 0079-6107,
  <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.002">http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.002</a>
</p>
<p class="indent">Montévil, M., Mossio, M. 2015. Biological organisation as closure of constraints. <em>J. Theor. Biol. 372</em>, 179-191.</p>
<p class="indent">
  Montévil, M., Mossio, M., Pocheville, A. &amp; Longo, G. 2016, this issue. Theoretical principles for biology: Variation, <em>Progress in Biophysics and Molecular Biology</em>, Available online 13 August 2016, ISSN 0079-6107,
  <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.005">http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.005</a>
</p>
<p class="indent">
  Montévil, M., Speroni, L., Sonnenschein, C., Soto, A.M. 2016, this issue. Modeling mammary organogenesis from biological first principles: Cells and their physical constraints, <em>Progress in Biophysics and Molecular Biology</em>,
  Available online 18 August 2016, ISSN 0079-6107, <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.004">http://dx.doi.org/10.1016/j.pbiomolbio.2016.08.004</a>
</p>
<p class="indent">Moss, L. 2003. <em>What Genes Can’t Do.</em> MIT Press, Cambridge, MA.</p>
<p class="indent">
  Mossio, M., Montévil, M., Longo, G. 2016, this issue. Theoretical principles for biology: Organization, <em>Progress in Biophysics and Molecular Biology</em>, Available online 10 August 2016, ISSN 0079-6107,
  <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.005">http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.005</a>
</p>
<p class="indent">Müller-Wille, S. , 2010. Cell theory, specificity, and reproduction, 1837–1870, <em>Stud Hist Philos Biol Biomed Sci. 41</em>: 225–231</p>
<p class="indent">Noble, D. 2006. <em>The Music of Life: Biology beyond the Genome.</em> Oxford University Press, Oxford.</p>
<p class="indent">
  Perret, N. &amp; Longo, G. 2016, this issue. Reductionist perspectives and the notion of information, <em>Progress in Biophysics and Molecular Biology</em>, Available online 22 July 2016, ISSN 0079-6107,
  <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.003">http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.003</a>
</p>
<p class="indent">Rosen, R. 1991. <em>Life Itself: A Comprehensive Inquiry into the Nature, Origin, and Fabrication of Life.</em> Columbia University Press, New York.</p>
<p class="indent">Slijper, E.J. 1942a. Biologic-anatomical investigations on the bipedal gait and upright posture in mammals, with special reference to a little goat, born without forelegs I. <em>Proc. Konink. Ned. Akad. Wet. 45</em>, 288-295.</p>
<p class="indent">—— 1942b. Biologic-anatomical investigations on the bipedal gait and upright posture in mammals, with special reference to a little goat, born without forelegs II. <em>Proc. Konink. Ned. Akad. Wet. 45</em>, 407-415.</p>
<p class="indent">
  Sonnenschein, C., Soto, A.M., Carcinogenesis explained within the context of a theory of organisms, <em>Progress in Biophysics and Molecular Biology</em>, Available online 3 August 2016, ISSN 0079-6107,
  <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.004">http://dx.doi.org/10.1016/j.pbiomolbio.2016.07.004</a>
</p>
<p class="indent">
  Soto, A.M., Longo, G., Montévil, M., Sonnenschein, C. 2016, this issue. The biological default state of cell proliferation with variation and motility, a fundamental principle for a theory of organisms,
  <em>Progress in Biophysics and Molecular Biology</em>, Available online 2 July 2016, ISSN 0079-6107, <a href="http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.006">http://dx.doi.org/10.1016/j.pbiomolbio.2016.06.006</a>
</p>
<p class="indent">Soto, A.M., Sonnenschein, C. 1991. Regulation of cell proliferation: the negative control perspective. <em>Ann. NY Acad. Sci. 628</em>, 412-418.</p>
<p class="indent">Soto, A.M., Sonnenschein, C., Miquel, P.-A. 2008. On physicalism and Downward Causation in Developmental and Cancer Biology. <em>Acta Biotheoretica 56</em>, 257-274.</p>
<p class="indent">Stengers, I. 1997. Cosmopolitiques vol. VI; La Vie et l’Artifice. <em>La Découverte</em>, Paris.</p>
<p class="indent">Turing, A.M. 1950. Computing machinery and intelligence. <em>Mind 59</em>, 433-460.</p>
<p class="indent">—— 1952. The chemical basis of Morphogenesis. <em>Philos Trans R Soc London [Biol] 237</em>, 37-72.</p>
<p class="indent">Varela, F.G., Maturana, H.R., Uribe, R. 1974. Autopoiesis: The organization of living systems, its characterization and a model. <em>Biosystems 5</em>, 187-196.</p>
<p class="indent">West-Eberhard, M.J. 2005. Phenotypic accommodation: adaptive innovation due to developmental plasticity. <em>J. Exp. Zool. B Mol. Dev. Evol. 304</em>, 610-618.</p>
<section class="indent footnotes">
  <hr />
  <ol>
    <li id="fn1">
      <p class="indent">
        The concept of extended criticality is based on the physics of phase transitions, which deals with the emergence of a new object, as exemplified by the transition between water vapor and snow crystals. Phase transitions
        occur at a point, the critical temperature. This point marks the passage from one symmetry to another, and from one macroscopic object or structure to another. Extended critical transitions, instead, span a non-trivial
        interval such as an organism’s lifetime. In this context, an organism continually undergoes critical transitions, whereby both the objects and the symmetries change. The organism and its components are permanently
        reconstructed with variations.<a class="footnote-back" href="#fnref1">↩</a>
      </p>
    </li>
  </ol>
</section>
