---
excerpt: Qu'est ce que la science pour vous? Dialogue entre Candido et Cinico sur la nature de la science. Humilité, méthode, institutions, psychologie.
lang: fr
noToc: true
illust: qu-est-ce-que-la-science-pour-vous.jpg
---

<p class="titleHead" id="une-breve-discussion-sur-la-science-autour-dun-verre-1">Une brève discussion sur la science, autour d’un verre</p>
<p class="authors" >Maël Montévil et Matteo Mossio</p>

<p class="indent" ><em><span class="cmti-10">Deux collègues chercheurs terminent une longue réunion de travail. Ils décident de boire un verre ensemble dans un café voisin. Le bon vin y étant sans doute pour quelque chose, ils se retrouvent à confronterleurs points de vue sur un sujet ô combien difficile...</span></em></p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Je me rends compte que nous n’en avons jamais discuté, mais ton point de vue m’intéresse : pour toi qu’est-ce que la science ? J’aimerais ton avis personnel, et non pas un exposé savant.
</p>
<p class="indent">
  <span class="small-caps">Candido</span>
</span> : Je n’y ai jamais trop réfléchi à vrai dire....qu’est-ce la science.... eh bien spontanément je dirais qu’il s’agit d’une activité humaine, une entreprise collective qui vise la connaissance et la
  compréhension du monde.
</p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Oui, enfin, il existe différentes formes de compréhension du monde et elles ne sont pas toutes scientifiques. Quelle serait la spécificité de la connaissance scientifique selon toi ?
</p>
<p class="indent">
  <span class="small-caps">Candido</span> : Un aspect qui me semble crucial est que la connaissance scientifique est parcellaire, contingente. Pour moi, la science tente de comprendre le monde en étant consciente qu’elle ne possède que des
  moyens humains, tant intellectuels que technologiques, limités. La connaissance scientifique est donc précaire, constamment révisée dès lors que l’expérience ou le raisonnement nous y forcent. De ceci découle une attitude, je dirais
  presque une éthique : le scientifique est humble, modeste, il doute du contenu de son savoir, et il est prêt à le remettre en question autant que nécessaire.
</p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Je suis tout à fait d’accord sur l’importance de l’éthique, tant en général que pour la pratique propre à une discipline. Les arguments recevables doivent alors être pris en compte tout comme les
  résultats d’expériences lorsque leur fiabilité est assurée. Mais je doute que placer l’éthique au premier plan de l’activité scientifique soit le point de vue dominant.
</p>
<p class="indent">
  <span class="small-caps">Candido</span>
</span> : J’admets que beaucoup de scientifiques peuvent ne pas concevoir la science de cette façon. Pourtant, je reste convaincu que c’est précisément cette nature limitée et précaire qui différencie la
  science d’autres pratiques et formes de savoir, comme l’art ou la théologie. Pour moi le bon scientifique sait que la connaissance scientifique est instable, exposée à la réfutation. D’ailleurs, il évite d’utiliser le terme «vrai»
  autant que possible... la science ne s’approche pas du vrai, elle s’éloigne du faux. J’ai dû lire cela quelque part.
</p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Oui, mais cela ne me semble guère suffisant. Lazebnik se demandait il y a quelques années si, avec leur méthode, les biologistes moléculaires seraient en mesure de réparer une radio. De la même
  manière, les astronomes arrivaient bien à rendre compte du monde en ajoutant des épicycles et cette méthode aurait pu continuer ad libitum. Pourtant ils en ont changé.
</p>
<p class="indent">
  <span class="small-caps">Candido</span>
</span> : Tu as raison, il manque quelque chose : l’invention. La science avance en produisant de nouvelles idées, de nouvelles hypothèses pour rendre certains phénomènes intelligibles. Sur ce point, je
  vois une analogie entre la science et l’art, dans la mesure où le scientifique doit faire preuve d’originalité, il doit être capable d’inventer.
</p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Cela me semble central en effet. Mais n’y a-t-il pas ici une tension très forte entre invention et humilité ? Le scientifique doit être humble mais il doit aussi, au moins parfois, avoir l’orgueil
  de croire que les fruits de son esprit peuvent être supérieurs à tout ce qui a été fait avant. Sa visée est immodeste et l’invention demande une confiance en soi et une certaine opiniâtreté.
</p>
<p class="indent">
  <span class="small-caps">Candido</span>
</span> : Tu as peut-être raison. En tout cas, l’humilité et l’invention ne sont que des aspects de l’activité scientifique. Je pense qu’il ne faut pas en oublier les motivations. C’est sans doute un peu
  banal, mais une motivation centrale est la curiosité. Et j’ai envie de dire que la curiosité n’est pas purement individuelle. Un individu dirige son attention vers certaines phénomènes et se pose certaines questions aussi parce qu’il
  vit dans une certaine communauté à une certaine époque et dans un certain lieu. Réciproquement, les attitudes individuelles contribuent à leur tour à orienter la curiosité collective. C’est un cercle vertueux entre l’individu et la
  communauté.
</p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Il est vrai que la curiosité est un moteur indéniable, mais parfois ce cercle n’est pas vertueux du tout, et des découvertes remarquables effectuées par des individus ou des petits groupes restent
  longtemps dans l’ombre. Les travaux de Poincaré sur ce qui s’appellera plus tard le chaos n’ont réellement été pris en compte que bien plus tard. Et Belousov n’a pas pu publier sa découverte sur la morphogenèse chimique dans un journal
  à comité de lecture. La communauté a ses préoccupations, et cela la rend parfois hermétique aux découvertes trop inactuelles et inattendues, notamment lorsqu’elles remettent en cause les manières de penser antérieures. Lorsqu’on est
  dans le "mainstream" on n’en perçoit guère ses contraintes mais elles se font violement sentir dès lors que l’on s’en écarte. Foucault dit que "travailler c’est entreprendre de penser différemment", mais je crains que ce point de vue ne
  soit pas réellement partagé. Toute sorte d’autres motivations que la curiosité scientifique entrent en fait en jeu dans l’activité scientifique.
</p>
<p class="indent">
  <span class="small-caps">Candido</span>
</span> : Je suis d’accord sur le fait que les motivations individuelles peuvent être d’ordre différent que la curiosité intellectuelle, mais elle ne sont pas toutes pour autant problématiques. On peut
  faire de la science parce que l’on veut en faire son métier, et occuper cette fonction sociale. Le métier de scientifique peut convenir aux caractères et aux attitudes de certaines personnes, qui trouvent un plaisir dans cette pratique.
  Et je pense que ces motivations ne sont pas en conflit avec l’existence d’une science humble et inventive. De même, la communauté peut avoir des intérêts d’ordre matériel et pratique : on peut vouloir agir sur le monde, le modifier,
  l’adapter. C’est la technologie. Ici encore, ces motivations ne sont pas en conflit avec la production de connaissance scientifique telle que la décrivais tout à l’heure.
</p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Il n’y pas que des motivations qui promeuvent une pratique scientifique digne de ce nom. Il existe des intérêts, des attitudes individuelles et collectives qui peuvent faire obstacle à la science.
  Au niveau individuel, la tentation peut être grande, pour quelqu’un ayant un certain pouvoir institutionnel, de promouvoir ce qui le conforte et de bloquer ce qui le dessert. Pour ce qui est des applications, il existe même un domaine
  de recherche, nommé "agnotologie" par Proctor, qui s’est forgé en étudiant les stratégies des industries du tabac. L’agnotologie étudie la production d’ignorance afin de protéger des intérêts, notamment économiques.
</p>
<p class="indent">
  <span class="small-caps">Candido</span>
</span> : C’est vrai, j’ose espérer que les motivations plus nobles soient plus puissantes....d’ailleurs nous n’avons pas fait le tour des motivations individuelles. Un dernier type de motivation est, me
  semble-t-il, de l’ordre...comment dirais-je... de la préoccupation intellectuelle, personnelle. On peut faire de la science, et emprunter certaines directions de recherche, parce que l’on a certaines préoccupations, une insatisfaction
  intellectuelle. Par exemple, derrière plusieurs travaux d’Einstein se trouve la question de la localité de la physique : la relativité générale élimine le concept newtonien d’action à distance. Et l’intrication quantique marquait pour
  lui l’incomplétude de la mécanique quantique. De même, Dawkins d’un côté et Gould ou Lewontin de l’autre n’ont pas du tout le même regard d’arrière-plan sur le vivant.
</p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Tout à fait, et je crois qu’il s’agit d’un moteur essentiel pour l’émergence de nouvelles idées, car cette émergence suppose un certain entêtement avant de remplir les conditions nécessaires pour
  convaincre plus largement. Ces préoccupations sont parfois personnelles comme dans les cas que tu as cités, mais elles sont parfois plus collectives. Dans le cas de l’autisme, par exemple, il est aussi légitime de chercher des causes
  génétiques que des causes environnementales tels que les perturbateurs endocriniens. Mais ces deux approches ont des conséquences économiques opposées, la première tend à produire de nouveaux médicaments alors que la seconde tend à
  faire interdire des substances chimiques… les deux approches n’ont pas les mêmes conséquences économiques et donc pas les mêmes soutiens politiques. De manière plus symbolique, Gérard Nissim Amzallag montre dans "La raison malmenée"
  comment le conflit idéologique de la guerre froide impacte la biologie, y compris du côté des vainqueurs.
</p>
<p class="indent">
  <span class="small-caps">Candido</span>
</span> : Ce type de problèmes et la dimension collective de la science en général me fait penser que la pratique scientifique est organisée par des institutions. Ces institutions ont plusieurs rôles, il me
  semble. Elles confèrent un statut social aux chercheurs, fournissent l’infrastructure, permettent la communication et la diffusion des connaissances, gèrent l’allocation des fonds, arbitrent les conflits entre individus ou groupes.
  J’oublie sans doutes d’autres fonctions. Mais l’importance des institutions est telle que je pourrais presque affirmer que, en pratique, la science ne peut exister que si elle est organisée par des institutions. Serais-tu d’accord sur
  cela ?
</p>
<p class="indent">
  <span class="small-caps">Cinico</span>
   : Tout à fait. J’irais même plus loin et je dirais que la qualité mais aussi la nature des recherches effectuées dépend largement des institutions dans lesquelles elles prennent place. Par exemple,
  l’usage de la bibliométrie donne un pouvoir considérable, global, aux comités éditoriaux d’une poignée de journaux. Il pousse aussi à une frénésie de production qui pourrait être acceptable lorsqu’il s’agit d’avancer dans un cadre
  méthodologique et intellectuel bien établi, mais il tend à rendre les difficultés de fond, difficiles, indésirables. Toute la difficulté dans la conception d’institutions scientifiques bénéfiques est de concilier une évaluation sérieuse
  par les pairs et une protection des questionnements émergents, toujours fragiles car naissants, et risquant de remettre en cause l’utilité de techniques, d’idées et plus généralement de manière de penser antérieures. Comme le dit Max
  Planck, de manière certes un peu emphatique : "une nouvelle vérité scientifique ne triomphe pas en convainquant ses opposants et en leur faisant voir la lumière, mais plutôt parce que ses opposants finissent par mourir, et arrive une
  nouvelle génération qui est familière avec la nouvelle idée." Actuellement, la tension extrême sur les postes renforce ce problème car lorsque l’on n’a que quelque postes à distribuer, il est tentant de les attribuer à des personnes
  travaillant avec approches bien établies, plutôt qu’à des approches profondément novatrices.
</p>
<p class="indent"><span class="small-caps">Candido:</span>
</span>Dis-donc, je m’aperçois que nous n’avons pas vraiment la même conception de la science ! Je te trouve bien pessimiste, ou en tout cas sensible au côté obscur de notre activité. Il faudrait qu’on en discute davantage.</p>
<p class="indent"><span class="small-caps">Cinico :</span>
</span>Et moi je te trouve fort optimiste. Oui, il faudrait continuer la discussion, mais les verres sont vides. On reprendra une prochaine fois.</p>



<p class="indent smalltext" >
  Maël Montévil est postdoctorant au laboratoire MSC (UMR 7057 CNRS, Université Paris 7 Diderot) avec un financement du labex "Who am I ?". Il est aussi associé à l’IHPST. Il travaille entre la biologie expérimentale, la biologie
  théorique et la philosophie des sciences. Il s’intéresse en particulier aux fondements de l’utilisation des mathématiques en biologie.
</p>

<p class="indent smalltext" >
  Matteo Mossio est chargé de recherche au CNRS, membre de l’IHPST (CNRS/Paris 1/ENS). Son domaine de recherche est la philosophie de la biologie, et notamment les principes d’organisation, l’autonomie, l’émergence ainsi que la
  normativité, la téléologie et la fonctionnalité biologiques.
</p>
