---
layout: default
title: "Page not found"
permalink: 404.html
eleventyExcludeFromCollections: true
css: ["page-home.css"]
---
<h1 class="titleHead indent">Page not found ☹</h1>
<div class="wrap">
<p class="indent">Sorry, this URL does not exist, or the page has been swallowed by <a href="/tags/entropy">entropy</a>.</p>

<p class="indent">You may </p> 
<ul class="indent">
<li> go to the  <a href="/">homepage</a></li>
<li> search the <a href="/all/archives">archives</a></li>
<li> contribute to <a href="https://github.com/mmontevil/montevil.org/issues">anti-entropy 😉</a>  </li>
<li> have a look  at the random articles below </li>
</ul>
</div>
  {% from "macros/pubCard.njk" import pubCard %}

  <ol class="cards-list">
    {% for article in collections.publicationsall |randomPost|limit(3)%}
      {{ pubCard(article,numbers.numbers2) }}
    {% endfor %}
  </ol>
