---
layout: default
title: Home
eleventyExcludeFromCollections: true
---
 

{% set cssFilename = "page-home.css" %}
{% include "add-css.njk" %}

{#
JSON-LD for:
- Site name: https://developers.google.com/search/docs/data-types/sitename
- Site links searchbox: https://developers.google.com/search/docs/data-types/sitelinks-searchbox
- Social Profile Links: https://developers.google.com/search/docs/data-types/social-profile-links
#}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "{{websiteid.name}}",
    "url": "{{websiteid.url}}",
    "sameAs": [{% for urll in websiteid.sameAs %} "{{ urll}}", {% endfor %}]
  }
</script>

<div class="page">

  <div class="wrap site__intro clearfix h-card">
    <img src="/assets/me/{{websiteid.image}}" alt="" class="logo portrait noDarkFilter" />
    <p class="site__intro__name">Hi, I'm <a href="/about/"><strong class="p-name"> {{websiteid.name}}</strong></a>.</p>
    <p class="p-note">
  I am a <em> theoretical biologist</em> working at the crossroads of experimental biology, mathematics, and philosophy. I also work on the Anthropocene,
      among <a href="/tags/">many other interests</a>.
    </p>
  </div>



 
  {% from "macros/pubCard.njk" import pubCard %}
<div class="titleDiag">
  <h2   class="wrap">Latest Publications</h2>
    </div>
  <div class="cards-list">
    {% for article in collections.latestpublicationsall %}
      {{ pubCard(article,numbers.numbers2) }}
    {% endfor %}
  </div>
    <p class="wrap more ">Read <a href="/all/publications/">all publications</a>…</p>
   
   {% from "macros/talkCard.njk" import talkCard %}    
    
{% for article in collections.futureTalks | sortByOrder2%}
    {% if loop.first%}
    <div class="titleDiag">
        <h2   class="wrap">Forthcoming Talks</h2>
    </div>
    {% endif %}
    {{ talkCard(article) }}

{% endfor %}
    <p class="wrap more ">See <a href="/all/talks/">all talks</a>…</p>


{#

 {% from "macros/postCard.njk" import postCard %}    

  <div class="titleDiag">
  <h2 class="wrap">Latest posts</h2>
    </div>
  <div class="cards-list">
    {% for article in collections.latestpostsall %}
      {{ postCard(article) }}
    {% endfor %}
  </div>
  #}
  
  {#
  <div class="titleDiag">
  <h2 class="wrap">Older noteworthy articles</h2>
    </div>

  
  <div class="cards-list">
  {% for article in collections.promotedpostsall %}
    {{ postCard(article) }}
  {% endfor %}
  </div>
  
  
  <p class="wrap more ">Read <a href="/all/posts/">all posts</a>…</p>
 #}
 
 
  <div class=" lazy "></div>
</div>


