---
layout: lists
title: Raw publication list
tocOver: tocCenter2
permalink: /publications.html
css: ["page-home.css"]
---

<p class=" wrap center">See also the <a class=" " href="/publications/publicationsbyType/">complete Publication list by category</a></p>
   
       <hr class=" wrap ">

      {% from "macros/alterpubCard.njk" import alterpubCard %}

        <ol class="cards-list">
    {% for article in (collections.publicationsall| sortByOrder| reverse)  %}
  
 {{-alterpubCard(article.data)  |safe-}}

    {% endfor %}
    </ol> 
     
 {# </ul>#}
