---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

# Well known files
/favicon.jpg      /.well-known/favicon.jpg      200
/favicon.ico      /.well-known/favicon.ico      200
/robots.txt       /.well-known/robots.txt       200
/humans.txt       /.well-known/humans.txt       200

# Feeds
/atom.xml         /feeds/publications.xml           301

/*/04_default.pdf      /assets/pdf/2016-SLM-Theoretical-Principle-Default-State.pdf        200
/*/05_principleorganisation.pdf      /assets/pdf/2016-MML-Theoretical-Principles-Organization.pdf        200
/*/06_variation.pdf      /assets/pdf/2016-MMP-Theoretical-Principles-Variation.pdf        200
/*/08-constraints-morphogenesis.pdf      /assets/pdf/2016-MSS-Modeling-Organogenesis-Principles.pdf        200
/*/09_conclusion.pdf      /assets/pdf/2016-SLN-Conclusion-Century-Organism.pdf        200
/*/13912-27027-3-pb.pdf      /assets/pdf/2017-MP-Hitchhikers-Guide-Cancer.pdf        200
/*/1709.06001.pdf      /assets/pdf/2017-LM-Logic-Physics-Biology.pdf        200
/*/2020-ehp6301.pdf      /assets/pdf/2020-MAS-Morphometric-Clarity-Bpa.pdf        200
/*/aes9-07_giuseppe-longo-mael-montevil_0.pdf      /assets/pdf/2019-LM-Extending-Criticality-Extended.pdf        200
/*/bailly-longo-montevil_2011_2d-geometry-time.pdf      /assets/pdf/2011-BLM-2D-Time-Biology.pdf        200
/*/bigdata_final_web_0.pdf      /assets/pdf/2018-ML-Big-Data-Biology.pdf        200
/*/biomorphisme-montevil.pdf      /assets/pdf/2021-Sens-Formes-biologie.pdf        200
/*/cerisy-bigdata.pdf      /assets/pdf/2017-LM-Big-Data-Connaissance.pdf        200
/*/cerisy-theorieorganisme-final.pdf      /assets/pdf/2017-MLS-Siecle-Organisme.pdf        200
/*/ch1_anthropocene_exosomatization_and_negentropy-web_3.pdf      /assets/pdf/2020-MSL-AnthropoceneExosomatizationNegentropy.pdf        200
/*/cinico_candido_materiologiques.pdf      /assets/pdf/2017-MM-Une-Breve-Discussion.pdf        200
/*/comment_montevil.pdf      /assets/pdf/2018-Montevil-Perspective-from-theory.pdf        200
/*/ecorev-montevil.pdf      /assets/pdf/2021-Montevil-Stiegler-Sciences-Entropocene.pdf        200
/*/entretien_sur_lentropie_1-web.pdf      /assets/pdf/2019-SM-Entretien-Entropie-1.pdf        200
/*/entretien_sur_lentropie_2-web.pdf      /assets/pdf/2019-SM-Entretien-Entropie-2.pdf        200
/*/fphys-11-00611.pdf      /assets/pdf/2020-MM-Identity-Organism.pdf        200
/*/from_the_century_of_the_gene_to_that_of_the_organism.pdf      /assets/pdf/2018-MLS-Gene-Century-Organism.pdf        200
/*/garson-bookreview.pdf      /assets/pdf/2017-Montevil-Garson-Functions.pdf        200
/*/gayonmontevil-reversibilite.pdf      /assets/pdf/2018-GM-Repetition-Reversibilite.pdf        200
/*/historicity.pdf      /assets/pdf/2020-Montevil-Historicity-Heart-Biology.pdf        200
/*/introbook-lucafest5-web.pdf      /assets/pdf/2014-LM-Introduction-New-Perspectives.pdf        200
/*/jbsc_040_05_0955-0968.pdf      /assets/pdf/2015-LMS-Search-Principles-Organisms.pdf        200
/*/jtavr000007-montevilm.pdf      /assets/pdf/2016-Theory-Morphogenesis.pdf        200
/*/livre-varenne.pdf      /assets/pdf/2019-Montevil-Varennes-Models.pdf        200
/*/longo-montevil_2011_extended-criticality.pdf      /assets/pdf/2011-LM-Biology-Extending-Criticality.pdf        200
/*/longo-montevil_2011_protention-retention.pdf      /assets/pdf/2011-LM-Protention-Retention-Biology.pdf        200
/*/longo-montevil_2012_inert-vs-living.pdf      /assets/pdf/2012-LM-Inert-Vs-Living.pdf        200
/*/longo-montevil_2012_randomness-biological-order.pdf      /assets/pdf/2012-LM-Randomness-Order-Evolution.pdf        200
/*/longo-montevil_2013_extended-criticality-enablement_0.pdf      /assets/pdf/2013-LM-Extended-Criticality-Enablement.pdf        200
/*/longo-montevil_2014_book.pdf      /assets/pdf/2014-LM-Perspectives-Organisms.pdf        200
/*/longo-montevil_2015_models.pdf      /assets/pdf/2017-LM-Comparing-Symmetries-Model.pdf        200
/*/longo-montevil-kauffman_2012_enablement.pdf      /assets/pdf/2012-LMK-No-Entailing-Laws-Enablement.pdf        200
/*/longo-montevil-pocheville_2012_levels-of-organization.pdf      /assets/pdf/2012-LMP-Levels-Organization-Criticality.pdf        200
/*/longo-montevil-pocheville_2013_incompressible-complexite.pdf      /assets/pdf/2014-LMP-Incompressible-Complexite.pdf        200
/*/main5newweb.pdf      /assets/pdf/2019-Montevil-Possibility-Spaces-Novelty.pdf        200
/*/measure-web.pdf      /assets/pdf/2019-Montevil-Measurement-Biology-Theory.pdf        200
/*/montevil_2012_geometrie-temps-biologique.pdf      /assets/pdf/2012-Montevil-Geometrie-Temps-Biologique.pdf        200
/*/_montevil_2015_mathematiques-et-vivant.pdf      /assets/pdf/2015-Montevil-Symetrie-Objectivation-Vivant.pdf        200
/*/montevil-entropy.pdf      /assets/pdf/submitted-Montevil-Entropies-Anthropocene.pdf        200
/*/montevil_method.pdf      /assets/pdf/2018-Montevil-Primer-Mathematical-Modeling.pdf        200
/*/montevil-mossio_2015_closure-of-constraints.pdf      /assets/pdf/2015-MM-Organisation-Closure-Constraints.pdf        200
/*/pm-montevil_2.pdf      /assets/pdf/2021-Montevil-Theory-Accuracy-Medicine.pdf        200
/*/pocheville-montevil_2014_ecological-models-for-gene-therapy_i.pdf      /assets/pdf/2014-PM-Ecological-Models-Cells.pdf        200
/*/pocheville-montevil-ferriere_2014_ecological-models-for-gene-therapy-ii.pdf      /assets/pdf/2014-PMF-Ecological-Models-Cells-Genes.pdf        200
/*/principles_web.pdf      /assets/pdf/2019-Montevil-First-Principles-Biology.pdf        200
/*/repetition_and_reversibility_web.pdf      /assets/pdf/2017-GM-Repetition-Reversibility-Evolution.pdf        200
/*/sama.pdf      /assets/pdf/2016-PMS-Sama-Method-Morphometry.pdf        200
/*/speroni-et-al_2014_cells-to-tissues.pdf      /assets/pdf/2014-BSQ-Tissues-Collagen-Time.pdf        200
/*/turing-montevil3-web.pdf      /assets/pdf/2020-Montevil-Turing-Biology.pdf        200


