---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

# Well known files
/favicon.jpg      /.well-known/favicon.jpg      200
/favicon.ico      /.well-known/favicon.ico      200
/robots.txt       /.well-known/robots.txt       200
/humans.txt       /.well-known/humans.txt       200

# Feeds
/atom.xml         /feeds/publications.xml           301


/en    /    200
/fr     /   200

/*/biblio*           /publications/publicationsbytype/      200

/*/content/about-me    /about/    200
/*/content/à-mon-sujet   /about/    200
/*/content/sama     /publications/varia/2016-pms-sama-method-morphometry/    200
/*/content/sama-images /posts/sama-doc/sama-images/  200
/*/content/installation-sama    /posts/sama-doc/installation/    200

/*/contents/publications /publications/ 200
/*/content/videos-modeling-mammary-organogenesis-biological-first-principles-cells-and-their-physical  /publications/articles/2016-mss-modeling-organogenesis-principles/  200


# pdf
/*/04_default.pdf      /assets/pdf/2016-SLM-Theoretical-Principle-Default-State.pdf        200
/*/05_principleorganisation.pdf      /assets/pdf/2016-MML-Theoretical-Principles-Organization.pdf        200
/*/06_variation.pdf      /assets/pdf/2016-MMP-Theoretical-Principles-Variation.pdf        200
/*/08-constraints-morphogenesis.pdf      /assets/pdf/2016-MSS-Modeling-Organogenesis-Principles.pdf        200
/*/09_conclusion.pdf      /assets/pdf/2016-SLN-Conclusion-Century-Organism.pdf        200
/*/13912-27027-3-pb.pdf      /assets/pdf/2017-MP-Hitchhikers-Guide-Cancer.pdf        200
/*/1709.06001.pdf      /assets/pdf/2017-LM-Logic-Physics-Biology.pdf        200
/*/2020-ehp6301.pdf      /assets/pdf/2020-MAS-Morphometric-Clarity-Bpa.pdf        200
/*/aes9-07_giuseppe-longo-mael-montevil_0.pdf      /assets/pdf/2019-LM-Extending-Criticality-Extended.pdf        200
/*/bailly-longo-montevil_2011_2d-geometry-time.pdf      /assets/pdf/2011-BLM-2D-Time-Biology.pdf        200
/*/bigdata_final_web_0.pdf      /assets/pdf/2018-ML-Big-Data-Biology.pdf        200
/*/biomorphisme-montevil.pdf      /assets/pdf/2021-Sens-Formes-biologie.pdf        200
/*/cerisy-bigdata.pdf      /assets/pdf/2017-LM-Big-Data-Connaissance.pdf        200
/*/cerisy-theorieorganisme-final.pdf      /assets/pdf/2017-MLS-Siecle-Organisme.pdf        200
/*/ch1_anthropocene_exosomatization_and_negentropy-web_3.pdf      /assets/pdf/2020-MSL-AnthropoceneExosomatizationNegentropy.pdf        200
/*/cinico_candido_materiologiques.pdf      /assets/pdf/2017-MM-Une-Breve-Discussion.pdf        200
/*/comment_montevil.pdf      /assets/pdf/2018-Montevil-Perspective-from-theory.pdf        200
/*/ecorev-montevil.pdf      /assets/pdf/2021-Montevil-Stiegler-Sciences-Entropocene.pdf        200
/*/entretien_sur_lentropie_1-web.pdf      /assets/pdf/2019-SM-Entretien-Entropie-1.pdf        200
/*/entretien_sur_lentropie_2-web.pdf      /assets/pdf/2019-SM-Entretien-Entropie-2.pdf        200
/*/fphys-11-00611.pdf      /assets/pdf/2020-MM-Identity-Organism.pdf        200
/*/from_the_century_of_the_gene_to_that_of_the_organism.pdf      /assets/pdf/2018-MLS-Gene-Century-Organism.pdf        200
/*/garson-bookreview.pdf      /assets/pdf/2017-Montevil-Garson-Functions.pdf        200
/*/gayonmontevil-reversibilite.pdf      /assets/pdf/2018-GM-Repetition-Reversibilite.pdf        200
/*/historicity.pdf      /assets/pdf/2020-Montevil-Historicity-Heart-Biology.pdf        200
/*/introbook-lucafest5-web.pdf      /assets/pdf/2014-LM-Introduction-New-Perspectives.pdf        200
/*/jbsc_040_05_0955-0968.pdf      /assets/pdf/2015-LMS-Search-Principles-Organisms.pdf        200
/*/jtavr000007-montevilm.pdf      /assets/pdf/2016-Theory-Morphogenesis.pdf        200
/*/livre-varenne.pdf      /assets/pdf/2019-Montevil-Varennes-Models.pdf        200
/*/longo-montevil_2011_extended-criticality.pdf      /assets/pdf/2011-LM-Biology-Extending-Criticality.pdf        200
/*/longo-montevil_2011_protention-retention.pdf      /assets/pdf/2011-LM-Protention-Retention-Biology.pdf        200
/*/longo-montevil_2012_inert-vs-living.pdf      /assets/pdf/2012-LM-Inert-Vs-Living.pdf        200
/*/longo-montevil_2012_randomness-biological-order.pdf      /assets/pdf/2012-LM-Randomness-Order-Evolution.pdf        200
/*/longo-montevil_2013_extended-criticality-enablement_0.pdf      /assets/pdf/2013-LM-Extended-Criticality-Enablement.pdf        200
/*/longo-montevil_2014_book.pdf      /assets/pdf/2014-LM-Perspectives-Organisms.pdf        200
/*/longo-montevil_2015_models.pdf      /assets/pdf/2017-LM-Comparing-Symmetries-Model.pdf        200
/*/longo-montevil-kauffman_2012_enablement.pdf      /assets/pdf/2012-LMK-No-Entailing-Laws-Enablement.pdf        200
/*/longo-montevil-pocheville_2012_levels-of-organization.pdf      /assets/pdf/2012-LMP-Levels-Organization-Criticality.pdf        200
/*/longo-montevil-pocheville_2013_incompressible-complexite.pdf      /assets/pdf/2014-LMP-Incompressible-Complexite.pdf        200
/*/main5newweb.pdf      /assets/pdf/2019-Montevil-Possibility-Spaces-Novelty.pdf        200
/*/measure-web.pdf      /assets/pdf/2019-Montevil-Measurement-Biology-Theory.pdf        200
/*/montevil_2012_geometrie-temps-biologique.pdf      /assets/pdf/2012-Montevil-Geometrie-Temps-Biologique.pdf        200
/*/_montevil_2015_mathematiques-et-vivant.pdf      /assets/pdf/2015-Montevil-Symetrie-Objectivation-Vivant.pdf        200
/*/montevil-entropy.pdf      /assets/pdf/submitted-Montevil-Entropies-Anthropocene.pdf        200
/*/montevil_method.pdf      /assets/pdf/2018-Montevil-Primer-Mathematical-Modeling.pdf        200
/*/montevil-mossio_2015_closure-of-constraints.pdf      /assets/pdf/2015-MM-Organisation-Closure-Constraints.pdf        200
/*/pm-montevil_2.pdf      /assets/pdf/2021-Montevil-Theory-Accuracy-Medicine.pdf        200
/*/pocheville-montevil_2014_ecological-models-for-gene-therapy_i.pdf      /assets/pdf/2014-PM-Ecological-Models-Cells.pdf        200
/*/pocheville-montevil-ferriere_2014_ecological-models-for-gene-therapy-ii.pdf      /assets/pdf/2014-PMF-Ecological-Models-Cells-Genes.pdf        200
/*/principles_web.pdf      /assets/pdf/2019-Montevil-First-Principles-Biology.pdf        200
/*/repetition_and_reversibility_web.pdf      /assets/pdf/2017-GM-Repetition-Reversibility-Evolution.pdf        200
/*/sama.pdf      /assets/pdf/2016-PMS-Sama-Method-Morphometry.pdf        200
/*/speroni-et-al_2014_cells-to-tissues.pdf      /assets/pdf/2014-BSQ-Tissues-Collagen-Time.pdf        200
/*/turing-montevil3-web.pdf      /assets/pdf/2020-Montevil-Turing-Biology.pdf        200



#biblio pages
/*/2d-geometry-biological-time.html           /publications/articles/2011-BLM-2D-Time-Biology/      200
/*/biological-default-state-cell-proliferation-variation-and-motility-fundamental-principle-theory.html           /publications/articles/2016-SLM-Theoretical-Principle-Default-State      200
/*/biological-organisation-closure-constraints.html           /publications/articles/2015-MM-Organisation-Closure-Constraints      200
/*/combined-morphometric-and-statistical-approach-assess-non-monotonicity-developing-mammary-gland-rats.html           /publications/articles/2020-MAS-Morphometric-Clarity-Bpa      200
/*/de-l’œuvre-de-turing-aux-défis-contemporains-pour-la-compréhension-mathématique-du-vivant-2.html           /publications/articles/2020-Montevil-Turing-Biology      200
/*/de-l’œuvre-de-turing-aux-défis-contemporains-pour-la-compréhension-mathématique-du-vivant.html           /publications/articles/2020-Montevil-Turing-Biology/    200
/*/ecological-models-gene-therapy-ii-niche-construction-nongenetic-inheritance-and-ecosystem.html           /publications/articles/2014-PMF-Ecological-Models-Cells-Genes      200
/*/ecological-models-gene-therapy-i-models-intraorganismal-ecology.html           /publications/articles/2014-PM-Ecological-Models-Cells      200
/*/entropies-and-anthropocene-crisis.html           /publications/articles/submitted-Montevil-Entropies-Anthropocene      200
/*/extended-criticality-phase-spaces-and-enablement-biology.html           /publications/articles/2013-LM-Extended-Criticality-Enablement      200
/*/guide-cancer-critics-paradigms.html           /publications/articles/2017-MP-Hitchhikers-Guide-Cancer      200
/*/historicity-heart-biology.html           /publications/articles/2020-Montevil-Historicity-Heart-Biology      200
/*/identity-organisms-scientific-practice-integrating-historical-and-relational-conceptions.html           /publications/articles/2020-MM-Identity-Organism      200
/*/levels-organization-critical-transitions.html           /publications/articles/2012-LMP-Levels-Organization-Criticality      200
/*/living-state-matter-time-anti-entropy.html           /publications/articles/2012-LM-Inert-Vs-Living      200
/*/logic-biology-physics-survey.html           /publications/articles/2017-LM-Logic-Physics-Biology      200
/*/Longo-Montevil_2011_Extended-criticalityhtml.html           /publications/articles/2011-LM-Biology-Extending-Criticality       200
/*/measurement-biology-methodized-theory.html           /publications/articles/2019-Montevil-Measurement-Biology-Theory      200
/*/modeling-mammary-organogenesis-biological-first-principles-cells-and-their-physical-constraints.html           /publications/articles/2016-MSS-Modeling-Organogenesis-Principles      200
/*/physics-biology-criticality-symmetry.html           /publications/articles/2011-LM-Biology-Extending-Criticality      200
/*/physics-biology-extending-criticality-and-symmetry-breakings-update.html           /publications/articles/2019-LM-Extending-Criticality-Extended      200
/*/possibility-spaces-and-notion-novelty-music-biology.html           /publications/articles/2019-Montevil-Possibility-Spaces-Novelty      200
/*/protention-retention-biological-systems.html           /publications/articles/2011-LM-Protention-Retention-Biology      200
/*/sama-method-3d-morphological-analysis.html           /publications/articles/2016-PMS-Sama-Method-Morphometry      200
/*/sciences-et-entropocène-autour-de-qu’appelle-t-panser-2-de-bernard-stiegler-2.html           /publications/articles/2021-Montevil-Stiegler-Sciences-Entropocene      200
/*/sciences-et-entropocène-autour-de-qu’appelle-t-panser-2-de-bernard-stiegler.html           /publications/articles/2021-Montevil-Stiegler-Sciences-Entropocene      200
/*/search-principles-theory-organisms.html           /publications/articles/2015-LMS-Search-Principles-Organisms      200
/*/single-cells-tissues-interactions-between-matrix-and-human-breast-cells-real-time.html           /publications/articles/2014-BSQ-Tissues-Collagen-Time      200
/*/stiegler-montevil-entropie-vivant-technique-partie1.html           /publications/articles/2019-SM-Entretien-Entropie-1      200
/*/stiegler-montevil-entropie-vivant-technique-partie2.html           /publications/articles/2019-SM-Entretien-Entropie-2      200
/*/theoretical-approach-ductal-morphogenesis.html           /publications/articles/2016-Theory-Morphogenesis      200
/*/theoretical-principles-biology-organization.html           /publications/articles/2016-MML-Theoretical-Principles-Organization      200
/*/theoretical-principles-biology-variation.html           /publications/articles/2016-MMP-Theoretical-Principles-Variation      200
/*/toward-theory-organisms-three-founding-principles-search-useful-integration.html           /publications/articles/2016-SLN-Conclusion-Century-Organism      200
/*/which-first-principles-mathematical-modelling-biology.html           /publications/articles/2019-Montevil-First-Principles-Biology      200

/*/primer-mathematical-modeling-study-organisms-and-their-parts.html           /publications/chapters/2018-Montevil-Primer-Mathematical-Modeling      200
/*/siecle-organisme-theorie.html           /publications/chapters/2017-MLS-Siecle-Organisme      200
/*/repetition-and-reversibility-evolution-theoretical-population-genetics.html           /publications/chapters/2017-GM-Repetition-Reversibility-Evolution      200
/*/randomness-increases-order-evolution.html           /publications/chapters/2012-LM-Randomness-Order-Evolution      200
/*/no-entailing-laws-enablement.html           /publications/chapters/2012-LMK-No-Entailing-Laws-Enablement      200
/*/geometrie-temps-rythmes-et-protension.html           /publications/chapters/2012-Montevil-Geometrie-Temps-Biologique      200
/*/gayon-montevil-repetition-reversibilite-evolution-2.html           /publications/chapters/2018-GM-Repetition-Reversibilite      200
/*/Gayon-Montevil-repetition-reversibilite-evolution.html           /publications/chapters/2018-GM-Repetition-Reversibilite      200
/*/incompressible-complexite-reel-evolution.html           /publications/chapters/2014-LMP-Incompressible-Complexite      200
/*/introduction-new-perspectives-biology.html           /publications/chapters/2014-LM-Introduction-New-Perspectives      200
/*/le-sens-des-formes-en-biologie.html           /publications/chapters/2021-Sens-Formes-biologie      200
/*/comparing-symmetries-models-and-simulations.html           /publications/chapters/2017-LM-Comparing-Symmetries-Models      200
/*/conceptual-and-theoretical-specifications-accuracy-medicine.html           /publications/chapters/2021-Montevil-Theory-Accuracy-Medicine      200
/*/anthropocene-exosomatization-and-negentropy.html           /publications/chapters/2020-MSL-AnthropoceneExosomatizationNegentropy      200
/*/big-data-and-biological-knowledge.html           /publications/chapters/2018-ML-Big-Data-Biology      200
/*/big-data-et-connaissance-biologique.html           /publications/chapters/2017-LM-Big-Data-Connaissance      200
/*/century-gene-organism-introduction-new-theoretical-perspectives.html           /publications/chapters/2018-MLS-Gene-Century-Organism      200
/*/mathematiques-objectivation-vivant.html           /publications/chapters/2015-Montevil-Symetrie-Objectivation-Vivant      200

/*/analyses-ouvrages-franck-varenne-models-simulations.html           /publications/varia/2019-Montevil-Varennes-Models      200
/*/open-peer-commentary-few-pending-challenges-perspective-theory-organisms.html           /publications/varia/2018-Montevil-Perspective-from-theory      200
/*/discussion-science.html           /publications/varia/2017-MM-Une-Breve-Discussion      200
/*/philosophical-accounts-biological-functions.html           /publications/varia/2017-Montevil-Garson-Functions     200

/*/perspectives-organisms-biological-time-symmetries-and-singularities.html           /publications/book/2014-LM-Perspectives-Organisms      200
/*/content/towards-theory-organisms         /publications/book/2016-SLN-Century-Organism   200

