---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

# Well known files
/favicon.jpg      /.well-known/favicon.jpg      200
/favicon.ico      /.well-known/favicon.ico      200
/robots.txt       /.well-known/robots.txt       200
/humans.txt       /.well-known/humans.txt       200

# Feeds
/atom.xml         /feeds/publications.xml           301

/*/content/%C3%A0-mon-sujet   /about/    302


#good ones
/en    /    301
/fr     /   301

/*/biblio*           /publications/publicationsbytype/      301

/*/content/about-me    /about/    301

/*/content/sama     /publications/varia/2016-pms-sama-method-morphometry/    301
/*/content/sama-images /posts/sama-doc/sama-images/  301
/*/content/installation-sama    /posts/sama-doc/installation/    301

/*/contents/publications /publications/ 301
/*/content/videos-modeling-mammary-organogenesis-biological-first-principles-cells-and-their-physical  /publications/articles/2016-mss-modeling-organogenesis-principles/  301


# pdf
/*/04_default.pdf      /assets/pdf/2016-SLM-Theoretical-Principle-Default-State.pdf        301
/*/05_principleorganisation.pdf      /assets/pdf/2016-MML-Theoretical-Principles-Organization.pdf        301
/*/06_variation.pdf      /assets/pdf/2016-MMP-Theoretical-Principles-Variation.pdf        301
/*/08-constraints-morphogenesis.pdf      /assets/pdf/2016-MSS-Modeling-Organogenesis-Principles.pdf        301
/*/09_conclusion.pdf      /assets/pdf/2016-SLN-Conclusion-Century-Organism.pdf        301
/*/13912-27027-3-pb.pdf      /assets/pdf/2017-MP-Hitchhikers-Guide-Cancer.pdf        301
/*/1709.06001.pdf      /assets/pdf/2017-LM-Logic-Physics-Biology.pdf        301
/*/2020-ehp6301.pdf      /assets/pdf/2020-MAS-Morphometric-Clarity-Bpa.pdf        301
/*/aes9-07_giuseppe-longo-mael-montevil_0.pdf      /assets/pdf/2019-LM-Extending-Criticality-Extended.pdf        301
/*/bailly-longo-montevil_2011_2d-geometry-time.pdf      /assets/pdf/2011-BLM-2D-Time-Biology.pdf        301
/*/bigdata_final_web_0.pdf      /assets/pdf/2018-ML-Big-Data-Biology.pdf        301
/*/biomorphisme-montevil.pdf      /assets/pdf/2021-Sens-Formes-biologie.pdf        301
/*/cerisy-bigdata.pdf      /assets/pdf/2017-LM-Big-Data-Connaissance.pdf        301
/*/cerisy-theorieorganisme-final.pdf      /assets/pdf/2017-MLS-Siecle-Organisme.pdf        301
/*/ch1_anthropocene_exosomatization_and_negentropy-web_3.pdf      /assets/pdf/2020-MSL-AnthropoceneExosomatizationNegentropy.pdf        301
/*/cinico_candido_materiologiques.pdf      /assets/pdf/2017-MM-Une-Breve-Discussion.pdf        301
/*/comment_montevil.pdf      /assets/pdf/2018-Montevil-Perspective-from-theory.pdf        301
/*/ecorev-montevil.pdf      /assets/pdf/2021-Montevil-Stiegler-Sciences-Entropocene.pdf        301
/*/entretien_sur_lentropie_1-web.pdf      /assets/pdf/2019-SM-Entretien-Entropie-1.pdf        301
/*/entretien_sur_lentropie_2-web.pdf      /assets/pdf/2019-SM-Entretien-Entropie-2.pdf        301
/*/fphys-11-00611.pdf      /assets/pdf/2020-MM-Identity-Organism.pdf        301
/*/from_the_century_of_the_gene_to_that_of_the_organism.pdf      /assets/pdf/2018-MLS-Gene-Century-Organism.pdf        301
/*/garson-bookreview.pdf      /assets/pdf/2017-Montevil-Garson-Functions.pdf        301
/*/gayonmontevil-reversibilite.pdf      /assets/pdf/2018-GM-Repetition-Reversibilite.pdf        301
/*/historicity.pdf      /assets/pdf/2020-Montevil-Historicity-Heart-Biology.pdf        301
/*/introbook-lucafest5-web.pdf      /assets/pdf/2014-LM-Introduction-New-Perspectives.pdf        301
/*/jbsc_040_05_0955-0968.pdf      /assets/pdf/2015-LMS-Search-Principles-Organisms.pdf        301
/*/jtavr000007-montevilm.pdf      /assets/pdf/2016-Theory-Morphogenesis.pdf        301
/*/livre-varenne.pdf      /assets/pdf/2019-Montevil-Varennes-Models.pdf        301
/*/longo-montevil_2011_extended-criticality.pdf      /assets/pdf/2011-LM-Biology-Extending-Criticality.pdf        301
/*/longo-montevil_2011_protention-retention.pdf      /assets/pdf/2011-LM-Protention-Retention-Biology.pdf        301
/*/longo-montevil_2012_inert-vs-living.pdf      /assets/pdf/2012-LM-Inert-Vs-Living.pdf        301
/*/longo-montevil_2012_randomness-biological-order.pdf      /assets/pdf/2012-LM-Randomness-Order-Evolution.pdf        301
/*/longo-montevil_2013_extended-criticality-enablement_0.pdf      /assets/pdf/2013-LM-Extended-Criticality-Enablement.pdf        301
/*/longo-montevil_2014_book.pdf      /assets/pdf/2014-LM-Perspectives-Organisms.pdf        301
/*/longo-montevil_2015_models.pdf      /assets/pdf/2017-LM-Comparing-Symmetries-Models.pdf        301
/*/longo-montevil-kauffman_2012_enablement.pdf      /assets/pdf/2012-LMK-No-Entailing-Laws-Enablement.pdf        301
/*/longo-montevil-pocheville_2012_levels-of-organization.pdf      /assets/pdf/2012-LMP-Levels-Organization-Criticality.pdf        301
/*/longo-montevil-pocheville_2013_incompressible-complexite.pdf      /assets/pdf/2014-LMP-Incompressible-Complexite.pdf        301
/*/main5newweb.pdf      /assets/pdf/2019-Montevil-Possibility-Spaces-Novelty.pdf        301
/*/measure-web.pdf      /assets/pdf/2019-Montevil-Measurement-Biology-Theory.pdf        301
/*/montevil_2012_geometrie-temps-biologique.pdf      /assets/pdf/2012-Montevil-Geometrie-Temps-Biologique.pdf        301
/*/_montevil_2015_mathematiques-et-vivant.pdf      /assets/pdf/2015-Montevil-Symetrie-Objectivation-Vivant.pdf        301
/*/montevil-entropy.pdf      /assets/pdf/submitted-Montevil-Entropies-Anthropocene.pdf        301
/*/montevil_method.pdf      /assets/pdf/2018-Montevil-Primer-Mathematical-Modeling.pdf        301
/*/montevil-mossio_2015_closure-of-constraints.pdf      /assets/pdf/2015-MM-Organisation-Closure-Constraints.pdf        301
/*/pm-montevil_2.pdf      /assets/pdf/2021-Montevil-Theory-Accuracy-Medicine.pdf        301
/*/pocheville-montevil_2014_ecological-models-for-gene-therapy_i.pdf      /assets/pdf/2014-PM-Ecological-Models-Cells.pdf        301
/*/pocheville-montevil-ferriere_2014_ecological-models-for-gene-therapy-ii.pdf      /assets/pdf/2014-PMF-Ecological-Models-Cells-Genes.pdf        301
/*/principles_web.pdf      /assets/pdf/2019-Montevil-First-Principles-Biology.pdf        301
/*/repetition_and_reversibility_web.pdf      /assets/pdf/2017-GM-Repetition-Reversibility-Evolution.pdf        301
/*/sama.pdf      /assets/pdf/2016-PMS-Sama-Method-Morphometry.pdf        301
/*/speroni-et-al_2014_cells-to-tissues.pdf      /assets/pdf/2014-BSQ-Tissues-Collagen-Time.pdf        301
/*/turing-montevil3-web.pdf      /assets/pdf/2020-Montevil-Turing-Biology.pdf        301



#biblio pages
/*/2d-geometry-biological-time           /publications/articles/2011-BLM-2D-Time-Biology/      301
/*/biological-default-state-cell-proliferation-variation-and-motility-fundamental-principle-theory           /publications/articles/2016-SLM-Theoretical-Principle-Default-State      301
/*/biological-organisation-closure-constraints           /publications/articles/2015-MM-Organisation-Closure-Constraints      301
/*/combined-morphometric-and-statistical-approach-assess-non-monotonicity-developing-mammary-gland-rats           /publications/articles/2020-MAS-Morphometric-Clarity-Bpa      301
/*/de-l’œuvre-de-turing-aux-défis-contemporains-pour-la-compréhension-mathématique-du-vivant-2           /publications/articles/2020-Montevil-Turing-Biology      301
/*/de-l’œuvre-de-turing-aux-défis-contemporains-pour-la-compréhension-mathématique-du-vivant           /publications/articles/2020-Montevil-Turing-Biology/    301
/*/ecological-models-gene-therapy-ii-niche-construction-nongenetic-inheritance-and-ecosystem           /publications/articles/2014-PMF-Ecological-Models-Cells-Genes      301
/*/ecological-models-gene-therapy-i-models-intraorganismal-ecology           /publications/articles/2014-PM-Ecological-Models-Cells      301
/*/entropies-and-anthropocene-crisis           /publications/articles/submitted-Montevil-Entropies-Anthropocene      301
/*/extended-criticality-phase-spaces-and-enablement-biology           /publications/articles/2013-LM-Extended-Criticality-Enablement      301
/*/guide-cancer-critics-paradigms           /publications/articles/2017-MP-Hitchhikers-Guide-Cancer      301
/*/historicity-heart-biology           /publications/articles/2020-Montevil-Historicity-Heart-Biology      301
/*/identity-organisms-scientific-practice-integrating-historical-and-relational-conceptions           /publications/articles/2020-MM-Identity-Organism      301
/*/levels-organization-critical-transitions           /publications/articles/2012-LMP-Levels-Organization-Criticality      301
/*/living-state-matter-time-anti-entropy           /publications/articles/2012-LM-Inert-Vs-Living      301
/*/logic-biology-physics-survey           /publications/articles/2017-LM-Logic-Physics-Biology      301
/*/Longo-Montevil_2011_Extended-criticalityhtml           /publications/articles/2011-LM-Biology-Extending-Criticality       301
/*/measurement-biology-methodized-theory           /publications/articles/2019-Montevil-Measurement-Biology-Theory      301
/*/modeling-mammary-organogenesis-biological-first-principles-cells-and-their-physical-constraints           /publications/articles/2016-MSS-Modeling-Organogenesis-Principles      301
/*/physics-biology-criticality-symmetry           /publications/articles/2011-LM-Biology-Extending-Criticality      301
/*/physics-biology-extending-criticality-and-symmetry-breakings-update           /publications/articles/2019-LM-Extending-Criticality-Extended      301
/*/possibility-spaces-and-notion-novelty-music-biology           /publications/articles/2019-Montevil-Possibility-Spaces-Novelty      301
/*/protention-retention-biological-systems           /publications/articles/2011-LM-Protention-Retention-Biology      301
/*/sama-method-3d-morphological-analysis           /publications/articles/2016-PMS-Sama-Method-Morphometry      301
/*/sciences-et-entropocène-autour-de-qu’appelle-t-panser-2-de-bernard-stiegler-2           /publications/articles/2021-Montevil-Stiegler-Sciences-Entropocene      301
/*/sciences-et-entropocène-autour-de-qu’appelle-t-panser-2-de-bernard-stiegler           /publications/articles/2021-Montevil-Stiegler-Sciences-Entropocene      301
/*/search-principles-theory-organisms           /publications/articles/2015-LMS-Search-Principles-Organisms      301
/*/single-cells-tissues-interactions-between-matrix-and-human-breast-cells-real-time           /publications/articles/2014-BSQ-Tissues-Collagen-Time      301
/*/stiegler-montevil-entropie-vivant-technique-partie1           /publications/articles/2019-SM-Entretien-Entropie-1      301
/*/stiegler-montevil-entropie-vivant-technique-partie2           /publications/articles/2019-SM-Entretien-Entropie-2      301
/*/theoretical-approach-ductal-morphogenesis           /publications/articles/2016-Theory-Morphogenesis      301
/*/theoretical-principles-biology-organization           /publications/articles/2016-MML-Theoretical-Principles-Organization      301
/*/theoretical-principles-biology-variation           /publications/articles/2016-MMP-Theoretical-Principles-Variation      301
/*/toward-theory-organisms-three-founding-principles-search-useful-integration           /publications/articles/2016-SLN-Conclusion-Century-Organism      301
/*/which-first-principles-mathematical-modelling-biology           /publications/articles/2019-Montevil-First-Principles-Biology      301

/*/primer-mathematical-modeling-study-organisms-and-their-parts           /publications/chapters/2018-Montevil-Primer-Mathematical-Modeling      301
/*/siecle-organisme-theorie           /publications/chapters/2017-MLS-Siecle-Organisme      301
/*/repetition-and-reversibility-evolution-theoretical-population-genetics           /publications/chapters/2017-GM-Repetition-Reversibility-Evolution      301
/*/randomness-increases-order-evolution           /publications/chapters/2012-LM-Randomness-Order-Evolution      301
/*/no-entailing-laws-enablement           /publications/chapters/2012-LMK-No-Entailing-Laws-Enablement      301
/*/geometrie-temps-rythmes-et-protension           /publications/chapters/2012-Montevil-Geometrie-Temps-Biologique      301
/*/gayon-montevil-repetition-reversibilite-evolution-2           /publications/chapters/2018-GM-Repetition-Reversibilite      301
/*/Gayon-Montevil-repetition-reversibilite-evolution           /publications/chapters/2018-GM-Repetition-Reversibilite      301
/*/incompressible-complexite-reel-evolution           /publications/chapters/2014-LMP-Incompressible-Complexite      301
/*/introduction-new-perspectives-biology           /publications/chapters/2014-LM-Introduction-New-Perspectives      301
/*/le-sens-des-formes-en-biologie           /publications/chapters/2021-Sens-Formes-biologie      301
/*/comparing-symmetries-models-and-simulations           /publications/chapters/2017-LM-Comparing-Symmetries-Models      301
/*/conceptual-and-theoretical-specifications-accuracy-medicine           /publications/chapters/2021-Montevil-Theory-Accuracy-Medicine      301
/*/anthropocene-exosomatization-and-negentropy           /publications/chapters/2020-MSL-AnthropoceneExosomatizationNegentropy      301
/*/big-data-and-biological-knowledge           /publications/chapters/2018-ML-Big-Data-Biology      301
/*/big-data-et-connaissance-biologique           /publications/chapters/2017-LM-Big-Data-Connaissance      301
/*/century-gene-organism-introduction-new-theoretical-perspectives           /publications/chapters/2018-MLS-Gene-Century-Organism      301
/*/mathematiques-objectivation-vivant           /publications/chapters/2015-Montevil-Symetrie-Objectivation-Vivant      301

/*/analyses-ouvrages-franck-varenne-models-simulations           /publications/varia/2019-Montevil-Varennes-Models      301
/*/open-peer-commentary-few-pending-challenges-perspective-theory-organisms           /publications/varia/2018-Montevil-Perspective-from-theory      301
/*/discussion-science           /publications/varia/2017-MM-Une-Breve-Discussion      301
/*/philosophical-accounts-biological-functions           /publications/varia/2017-Montevil-Garson-Functions     301

/*/perspectives-organisms-biological-time-symmetries-and-singularities           /publications/book/2014-LM-Perspectives-Organisms      301
/*/content/towards-theory-organisms         /publications/book/2016-SLN-Century-Organism   301

