---
pagination:
  data: collections.tags
  size: 1
  alias: tag
  filter:
    - all
  addAllPagesToCollections: true
layout: default
eleventyComputed:
  title: Contents tagged “{{ tag.tag }}”
permalink: /tags/{{ tag.slug }}/
---
<h2 class=wrap>{{title}} </h2>
{% from "macros/itemCard.njk" import itemCard %}


{% if tag.logo or tag.description %}
  <div class="intro clearfix indent snapper">
    {% if tag.logo %}
      <img src="/{{ tag.logo }}" class="logo" />
    {% endif %}

    {% if tag.description %}
        {{ tag.description | markdownify | safe }}
    {% endif %}
  </div>
{% endif %}

{% if tag.number > 1 %}
  <p class="wrap">There are {{ tag.number }} contents with the tag “{{tag.tag}}”:</p>
{% else %}
  <p class="wrap">There is only one content with the tag “{{tag.tag}}”:</p>
{% endif %}

<ol class="cards-list">
  {% set contentItems = collections['archivesall'] |hasTag(tag.tag) |reverse%}
  {% for item in contentItems | reverse %}
      {{ itemCard(item,numbers.numbers2) }}
  {% endfor %}
</ol>
<p class="more wrap">See <a href="/tags/">all tags</a>.</p>
