---
noToc: true
hasPDF: false
hasFullText: false
typepub: data
tags: 
    - morphometry
    - rat
    - mammary gland
    - endocrine disruptors
seeAlso: 
    grub: "articles/2020-MAS-Morphometric-Clarity-Bpa"
    text: See the corresponding 
    textLink: article
---



<hr>
