---
noToc: true
hasPDF: false
hasFullText: false
typepub: data
tags: 
    - morphometry
    - rat
    - mammary gland
    - endocrine disruptors
---

{% set hop%}
::: lead
See [the article]({% link_to "articles/2020-MAS-Morphometric-Clarity-Bpa" %}).
:::
{% endset %}
{{hop | markdownify | safe }}
<hr>
