---
excerpt: La notion d'individuation renvoie à deux idées liées mais distinctes. Les individus forment des unités à peu près insécables, comme le terme l’indique et les individus sont distincts les uns des autres.
date: 2025-12-01
tags: 
    - disruption
    - Stiegler
    - development
    - Simondon
    - individuation
    - organization
---

<div class="maketitle">
 <p class="titleHead" >Individuation et désindividuation</p>
 <div class="authors">Maël Montévil</div>
</div>

<h3 class="abstract">Résumé</h3>
   
    <p class="abstract" dir="ltr" >La notion d’individu a une grande importance en sciences sociales, notamment à travers la doctrine de l’individualisme méthodologique qui se propose de comprendre les phénomènes sociaux sur la seule base des individus et de leurs interactions, un point de vue atomiste donc.<br>
Cette notion renvoie à deux idées liées mais distinctes. Tout d’abord, les individus forment des unités à peu près insécables, comme le terme l’indique. De plus, les individus sont distincts les uns des autres, ainsi que séparables, au moins analytiquement, de leurs contextes. <br>
L’individuation renvoie alors à deux questions. Tout d’abord, sur quelles bases identifier les différents individus et les distinguer de leurs contextes ? L’individuation est alors la question théorique et épistémologique de l’identification des différents individus. Deuxièmement, notamment à la suite de Simondon, la notion d’individuation peut être une manière de dépasser l’atomisme inhérent au concept d’individu, en posant l’individuation comme première par rapport aux individus. Alors, l’individuation est le processus qui devient le centre de l’intérêt théorique. </p>
    
    
      
       <h2 class="sectionHead" id="x1-80004">Références</h2>
<ol class="thebibliography">
      
         <li  class="bibitem"><span >Ariew, R. (2014). Le principe d’individuation chez Descartes et Leibniz. Dans S. Charles et S. Malinowski-Charles </span><span style="font-style:italic">Descartes et ses critiques</span><span > (p. 33-52). Hermann. </span></li>
    <li  class="bibitem">Miquel, P. A., &amp; Hwang, S. Y. (2016). From physical to biological individuation. Progress in biophysics and molecular biology, 122(1), 51-57.<span ></span></li>
    <li  class="bibitem" ><span >Montévil, M., et M. Mossio. (2015). Biological Organisation as Closure of Constraints. </span><span style="font-style:italic">Journal of Theoretical Biology</span><span > 372 : 179-91. https://doi.org/10.1016/j.jtbi.2015.02.029</span></li>
    <li  class="bibitem" ><span >Montévil, M., &amp; Mossio, M. (2020). The identity of organisms in scientific practice: Integrating historical and relational conceptions. </span><span style="font-style:italic">Frontiers in Physiology</span><span >, </span><span style="font-style:italic">11</span><span >, 611. </span></li>
    <li  class="bibitem" ><span >Montévil, M. (2022). Penser Au-Delà de l’identité : Philosophie et Sciences. </span><span style="font-style:italic">Philosophy World Democracy</span><span >, June. </span><a class="Internet20link" href="https://www.philosophy-world-democracy.org/other-beginning/penser-au-dela-de-lidentite-philosophie-et-sciences"><span class="Internetlink"><span >https://www.philosophy-world-democracy.org/other-beginning/penser-au-dela-de-lidentite-philosophie-et-sciences</span></span></a></li>
    <li  class="bibitem" ><span >Montévil, M. (2024). Disruptions Du Développement Humain. </span><span style="font-style:italic">L’humain Qui Vient</span><span >, Raphael Zagury-Orly et Alain Fleischer ed. </span></li>
    <li  class="bibitem" ><span >Simondon, G. (2005) </span><span style="font-style:italic">L'individuation à la lumière des notions de forme et d'information.</span><span > Éditions Jérôme Millon.</span></li>
    <li  class="bibitem" ><span >Simondon, G. (2024). </span><span style="font-style:italic">Du mode d'existence des objets techniques. </span><span >Flammarion.</span></li>
    <li  class="bibitem" ><span >Stiegler, B. (2004). </span><span style="font-style:italic">De la misère symbolique 1. L’époque hyperindustrielle</span><span >, Paris, Galilée.</span></li>
    <li  class="bibitem" ><span >Stiegler, B. (2006). Chute et élévation. L'apolitique de Simondon. </span><span style="font-style:italic">Revue philosophique de la France et de l'étranger</span><span >, Tome 131(3), 325-341. https://doi.org/10.3917/rphi.063.0325.</span></li>
    <li  class="bibitem" ><span >Barthelemy, J-H. (2005). </span><span style="font-style:italic">Penser l'individuation. Simondon et la philosophie de la nature.</span><span > L’harmattan.</span></li>
    <li  class="bibitem" ><span >Miquel, P. A. (2022). La vie est-elle naturalisable? </span><span style="font-style:italic">Intellectica</span><span >, 77(2), 49-69.</span></li>
    <li  class="bibitem" ><span >Montévil, M. (2025). Disruption of Biological Processes in the Anthropocene: The Case of Phenological Mismatch. </span><span style="font-style:italic">Acta Biotheoretica</span><span >. </span><a class="Internet20link" href="https://doi.org/10.1007/s10441-025-09496-2"><span class="Internetlink"><span >https://doi.org/10.1007/s10441-025-09496-2</span></span></a></li>
    <li  class="bibitem" ><span >Stiegler, B. (2016). </span><span style="font-style:italic">Dans la disruption: Comment ne pas devenir fou?</span><span > Éditions les liens qui libèrent.</span></li>
    <li  class="bibitem" ><span >Stiegler, B., Collectif Internation, Le Clézio, J. M., &amp; Supiot, A. (2020). </span><span style="font-style:italic">Bifurquer. Il n'y a pas d'alternative</span><span >. Éditions les liens qui libèrent.</span></li>
      </ol>

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
