---
hasPDF: false
noToc: true
hasFullText: false
illust: bifurquer.png
lang: fr
tags: 
    - entropy
    - anti-entropy
    - information theory
    - pharmacology
    - knowledge
    - Anthropocene
---
<img class="twothirds noDarkFilter" src="bifurquer.png" alt="Bifurquer couverture">

<h2 class="titleHead"> Introduction - chapitre 1</h2>

<p>
{{abstract | safe}}
</p>
