---
excerpt: Entretien entre B. Stiegler et M. Montévil sur l'entropie et l'anti-entropie dans l'étude du vivant et des techniques et les enjeux de l'Anthropocène.
---

<p class="titleHead indent">Entretien sur l’entropie, le vivant et la technique, deuxième partie </p>

<p class="authors" >
    Bernard Stiegler <a class="sdfootnoteanc" href="#f1" id="bibitemanc"><sup>2</sup></a>, Maël Montévil <a class="sdfootnoteanc" href="#f2" id="sdfootnote3anc"><sup>3</sup></a>
</p>
<p class="indent">
    S - Je voudrais maintenant discuter de la question des possibles, telle qu’exposée dans ton article <i>Possibility spaces and the notion of novelty: from music to biology</i> et ce que tu écris à partir de Bergson
    <a class="sdendnoteanc" href="#sdendnote1sym" id="sdendnote1anc" ><sup>1</sup></a>. Allons directement à la citation de Bergson tirée de <i>La Pensée et le Mouvant</i>
    <a class="sdendnoteanc" href="#sdendnote2sym" id="sdendnote2anc" ><sup>2</sup></a>. La question posée est&nbsp;: qu'est-ce que l'événement d'une symphonie et qu’est-ce que l'événement en général&nbsp;? Je suis absolument
    d'accord avec ce que tu dis dans ce texte parfaitement clair et convaincant. J'ai moi-même travaillé sur la musique. C’est la musique qui sert de matrice à la phénoménologie du temps de Husserl. Elle est aussi le champ idéal pour
    étudier l’irréductible technicité de cette phénoménologie. Là plus que nulle part ailleurs, il faudrait parler de phénoménotechnique en élargissant la notion de Bachelard
    <a class="sdendnoteanc" href="#sdendnote3sym" id="sdendnote3anc" ><sup>3</sup></a>. Si la mélodie d’où part Husserl n’est certes pas toute la musique, c'est déjà de la musique. Et un instrument de musique est un objet
    technique – un organe exosomatique – à faire du temps, au sens où il (co)produit avec le musicien (c’est-à-dire par l’agencement des organes endosomatiques avec l’organe exosomatique qu’il est pour le musicien) des bifurcations
    anti-anthropiques. Il «&nbsp;fait&nbsp;» du temps au sens où Bergson et toi le disent, et ce n’est pas n'importe quel temps.&nbsp;C’est un temps qui n’est pas soluble dans le devenir, parce qu’il y ouvre un avenir d’où il revient. Cette
    <i>revenance</i>, qui est celle d’un esprit du temps, donne lieu et fait événement en ce sens&nbsp;: elle donne lieu à un temps (c’est l’événement) qui ouvre un espace du nouveau. Cette localité est néguanthropique en cela qu’elle
    procède de ce qu’Aristote appelle une <i>poïésis</i>. La musique, c’est ce temps bien spécifique. Sa spécificité relève d'une problématique de la quasi-causalité et de la performativité (je parle évidemment ici de performativité au sens
    du philosophe John Austin dans <i>Quand dire c'est faire</i><a class="sdendnoteanc" href="#sdendnote4sym" id="sdendnote4anc" ><sup>4</sup></a>), mais qu’il faut combiner avec une performativité techno-logique.
</p>
<p class="indent">
    Et c’est d’autant plus nécessaire qu’elle participe fondamentalement des fonctions de production dans l’économie industrielle. Il y a une performativité des outils, des instruments et des machines qui est devenue de nos jours la
    dimension peut-être la plus décisive et la moins pensée de l’économie. Il y a près de dix ans, j'ai participé au jury de thèse de Sacha Loève qui a fait une thèse sur les nanosciences. Cet épistémologue de la physique commence par y
    parler non pas de nanophysique et de nanotechnologies, mais de microphysique et de microtechnologies telles qu’elles caractérisent un devenir décrit à partir de ce que l'on appelle la loi de Moore. Il montre que ce n'est pas une loi.
    Plutôt un <i>storytelling</i> très intelligent et très efficient en ce qu’il connecte des possibilités de la matière et des capitaux libres, canalisant ainsi de l’investissement au service de la trans-formation de cette matière par et
    dans un appareillage microphysique constituant l’industrie des microprocesseurs. Ainsi considérée, la «&nbsp;loi de Moore&nbsp;» n'est pas une loi de la physique ni une loi de quoi que ce soit&nbsp;: c'est un état de fait stable. Des
    possibilités physiques et des possibilités financières s’agencent pour produire une réalité exosomatique nouvelle, à l’échelle microphysique, sur une courbe stable dans le temps, donc à peu près linéaire, décrivant cet agencement et ses
    produits. Gordon Moore était un physicien de Berkeley et il a canalisé les capitaux nécessaires à la création d’Intel en prédisant que tous les deux ans, <i>et jusqu’en 2015</i>, il y aurait un doublement de la densité des processeurs
    en transistors. Intel, qui est devenu une des plus grosses entreprises du monde, est ainsi le fruit d’une performativité techno-logique. Celle-ci ne décrit pas une loi au sens où l’on parle de loi en science, c’est une loi du point de
    vue de la causalité efficiente et de la causalité matérielle, non du point de vue de la causalité formelle et finale. Elle a l'air d'une causalité formelle et crée une illusion – sans qu’il y ait l'intention de tromper. Ce qui constitue
    cette illusion (et qui dissimule une irrationalité) tient au fait que l’on n’a pas su repenser la causalité du point de vue de l’exosomatisation.
</p>
<p class="indent">
    Je soutiens que c’est aussi le cœur des embrouillaminis épistémologiques liés aux notions d’entropie et de néguentropie&nbsp;; en particulier du côté de la théorie de l’information qui ne voit pas cette dimension néguanthropique et ses
    effets performatifs extrêmement variés. La grande question de notre temps, c'est l'efficience.<u> </u>Telle qu’elle est située sur une échelle de temps, elle ne saurait constituer une «&nbsp;loi&nbsp;» précisément parce qu’elle est
    bornée à une échelle de temps très courte par rapport à l’échelle du temps du vivant noétique et exosomatique (nous, les êtres dits humains) qui l’a conçue, mais de telle sorte qu’elle peut raccourcir l’échelle de temps de ce vivant
    noétique lui-même. Derrière ce problème de l’efficience, il y a la question de la légitimité. Par ailleurs, dans le monde contemporain (celui de Moore), si une loi est juste en droit mais inefficiente en fait, alors elle n'est pas
    légitime pour les gens, pour l’opinion publique, la politique ayant été dissoute par le marché en niveaux de satisfaction et de frustration quantifiables et manipulables par le marketing. Je précise ceci étant précisé pour introduire ma
    façon de lire Bergson et de te lire lisant Bergson. Celui-ci pose qu’il y a des conditions de possibilité de la symphonie – des pré-possibilités dans ton vocabulaire –, mais que la symphonie telle qu’elle apparaît n'est pas réductible à
    ces conditions de possibilité. Pour lui, son advenue est performative.&nbsp;On pourrait dire créatrice, anti-anthropique, on pourrait décrire et nommer cela de mille manières.
</p>
<p class="indent">
    L’anti-anthropie, en reprenant ta conception «&nbsp;mise à ma sauce&nbsp;», n'est pas non plus réductible à la théorie de la causalité telle qu'on en a hérité d'Aristote, nécessitant quelque chose qui n'est pas une cinquième cause mais
    une quasi-cause. Deleuze a repris ce discours de la quasi-causalité des Stoïciens pour penser l'événement, et c'est ce dont on a besoin pour penser la technique.&nbsp;La technique est quasi-causale au regard des causalités physiques et
    biologiques. La morphogenèse technique n'est absolument pas réductible à des lois physiques.&nbsp;C'est ce que montre Simondon et Leroi-Gourhan le disait déjà. La technique n'est pas réductible à de simples finalités anthropologiques,
    c’est-à-dire à des causes finales au sens aristotélicien du terme. Elle n'est pas réductible non plus à des causes matérielles. Sinon elle serait soluble dans les lois de la physique. Elle est par contre au cœur de l'efficience et de la
    causalité efficiente. Heidegger, dans
    <i>
        La question de la technique<a class="sdendnoteanc" href="#sdendnote5sym" id="sdendnote5anc" ><sup>5</sup></a>
    </i>
    à propos de la causalité efficiente, montre qu’Aristote n'a jamais parlé de cause efficiente.&nbsp;Ce sont les modernes qui en parlent. Au lieu de cause efficiente, Aristote dans la
    <i>
        Physique<a class="sdendnoteanc" href="#sdendnote6sym" id="sdendnote6anc" ><sup>6</sup></a>
    </i>
    parle de l’artisan. Il décrit quatre causes, mais sans leur donner de nom, ni matérielle, ni efficiente, ni formelle, ni finale. Ce n'est après coup que l'on a parlé de causes matérielle, efficiente, formelle et finale. Aristote décrit
    la fabrication d'un objet exosomatique&nbsp;: il y a le métal, il y a l’artisan, il y a la forme de l’objet, et il y a la finalité de l’objet. Ce que les Chrétiens puis les Modernes ont appelé la cause efficiente, c'est en fait
    l'artisan&nbsp;: le technicien (et non seulement la technique). Ce technicien, ce n'est pas le savoir formel, c'est le savoir-faire qui a la capacité d’agencer la matière, la forme et la finalité, et finalement de produire&nbsp;: la
    <i>poïésis</i>. Heidegger parle de <i>Her-vor-bringen</i>, ce qui a été traduit en français par production. Mais cela suppose une autre dimension, qui est celle de la quasi-causalité, qui n'est pas l’artisan lui-même, mais la technique
    en tant qu'elle ouvre précisément des <i>pré-possibilités</i> au technicien (musicien, sculpteur orfèvre, pour reprendre le modèle de Heidegger).
</p>
<p class="indent">
    Prenons un exemple dans le champ de la musique pour revenir vers Bergson et toi. Tu parles dans ton article de la partition et de la symphonie. Mais il faut qu'il existe des partitions. J'ai un peu étudié la partition et ce qu’elle a
    changé dans l'événement musical. L'explosion de <i>l’instrumentarium</i>, qui conduit à la musique et dont Monteverdi est l’illustre exemple, c'est la partition qui l'a provoqué. À travers les jeux d’écriture de ceux qui sont devenus
    des compositeurs en faisant de la musique sans instrument, «&nbsp;au lutrin&nbsp;» comme on dit, cependant qu’ainsi, ils ouvraient des pré-possibilités tout à fait inédites pour les luthiers et facteurs d’instruments en tout genre. La
    partition a produit une scission entre les interprètes et les compositeurs puisque les compositeurs ne jouaient plus. Ils composaient, et dans ce que l'on appelait l'<i>ars nova, </i>qui ouvre à la polyphonie et au devenir profane de la
    musique. Ce qui procède d’un <i>ars</i> <i>combinatoria</i> où la musique devient très formelle. En partant de ces questions j'ai commencé à m’intéresser à ce qu’en musicologie on appelle l’organologie, et en tentant de penser les
    relations entre les instruments, la partition, la composition, l’interprétation, les publics, l’enseignement musical, puis les technologies analogiques et numériques, telles qu’elles ont produit à la fois les industries culturelles et
    l’Ircam. Si j'en parle ici, c'est parce qu’entre ce que tu dis et ce que dit Bergson, il y a ce qui distingue les pré-possibilités de la musique des possibilités de l’être en général. Qu’est-ce qui les distingue et tout aussi bien les
    articule&nbsp;? Il faut lier les deux d’un point de vue néganthropologique parce que le champ organologique ouvre, en tant qu’organe exosomatique, des champs de prépossibilités. Le compositeur évoqué par Bergson est inconcevable s'il
    n'y a pas des instruments de musique, des partitions, des musiciens, des organisations sociales.&nbsp;Ce qui fait que cette musique dont parle Bergson est cette musique-là, c’est qu'il y a ce que,
    pour prolonger les réflexions de Husserl dans sa conférence sur <i>L’origine de la géométrie</i>, j’ai appelé des rétentions tertiaires hypomnésiques. Soit&nbsp;les partitions, lesquelles constituent des champs de pré-possibilité
    nouveaux, après ceux que les instruments de musique, qui sont eux-mêmes des rétentions tertiaires, avaient déjà ouverts. La conséquence de cela est qu’il était encore tout récemment difficile de faire entendre de la musique de Mozart ou
    de Schubert à Bali, même si ce n’est plus vrai maintenant parce qu’il y a la radio, à Bali comme partout. Cette diversité est perdue. Réciproquement, si les compositeurs européens du début du XXème siècle ont été tant fascinés par Bali
    (mais non les audiences formées par les industries), c'est qu’il s’agissait un autre champ de prépossibilités qui ouvre à l'horizon exosomatique de nouvelles possibilités de bifurcation.
</p>
<p class="indent">
    Au-delà de ce que dit Bergson, tu poses que la biologie produit des possibles qui ne sont possibles que par leur réalisation. C'est ce que je proposais tout à l’heure d’appréhender comme un cas de performativité. C'est par sa
    <i>réalisation</i> – où le réel est ce qui procède d’un processus dont la processualité n’est pas neutralisable (c’est la question de Whitehead) – que le possible devient <i>possible effectivement</i>. Et cela, c'est de l'anti-entropie
    à proprement parler, tandis que les prépossibilités sont des matrices qui sont là mais qui ne permettent pas du tout d'anticiper ce qui va se produire, même si elles le conditionnent. Les prépossibilités forment un champ de
    préconditions qui ne permet pas d'anticiper ce qui va se produire. Et tu montres que ça s’applique au vivant. Selon la même logique, en ajoutant une couche de complexité, je soutiens, après Lotka, qu’il y a des organes exosomatiques, et
    qu’ils produisent des champs de préconditions permettant tout à la fois d’indéterminer, c’est-à-dire de libérer des potentialités néguanthropiques, de contrôler et de renforcer des tendances anthropiques. Socrate et, après lui, Derrida
    appelaient cela un <i>pharmakon</i>, et c’est pourquoi l’organologie générale est avant tout une pharmacologie.&nbsp;Elle est située dans un contexte tendu par des possibilités polarisées, c’est-à-dire dans un champ de possibilités
    opposées en apparence, mais liées et même inséparables en réalité. On peut par exemple, à travers le contrôle des préconditions, détruire ou au contraire ouvrir des possibilités. Comme on considère les chercheurs du CNRS trop
    indépendants d’une politique scientifique, technologique, industrielle et donc économique où le savoir est devenu une fonction de production (comme le disait déjà Marx dans les <i>Grundrisse</i>), on va enlever des moyens là, en donner
    là, et on va obliger les laboratoires à passer des accords avec des entreprises, etc. Une politique que l'on subit depuis des décennies mais qui, depuis dix ans, s’est détériorée de façon catastrophique. Transformant la science en
    idéologie, du fait de sa performativité, demeurant impensée par les scientifiques comme par les philosophes et les syndicalistes. Les questions sur l'économie de la contribution sont fondamentalement liées à ces enjeux et tentent
    d’opérer des déplacements vertueux pour le système économique dans son ensemble et à long terme.
</p>
<p class="indent" >
    M - Cet article sur les possibles vise à consolider des pensées déjà présentes dans des travaux précédents. À l’origine, l’idée est que pour rendre compte correctement des changements biologiques, il ne faut pas se contenter de
    changements de position dans un espace des possibles prédonné, mais pouvoir intégrer des changements d’espace des possibles et donc de nouveaux possibles. En fait, cette question découle des changements de symétrie. En physique,
    l’espace peut être l'espace des possibles (si l’on parle en termes de possibles), l’espace physique en trois dimensions, ou plus généralement l'espace des états, qui, en mécanique classique est la combinaison des positions et vitesses.
    Tous ces espaces sont d'abord définis par les symétries, ces transformations qui viennent donner leurs structures. Si on a de nouvelles symétries et des changements de symétrie, alors on n’a plus d'espace prédéfini, on a un espace qui
    change au cours du temps, de manière non nécessairement prédéfinie<a class="sdendnoteanc" href="#sdendnote7sym" id="sdendnote7anc" ><sup>7</sup></a>. C’est une manière d’aborder la diachronicité en tant qu’elle se manifeste
    pour la prédictibilité du futur. Je me suis alors demandé quelle épistémologie développer pour l'utilisation des mathématiques dans ce contexte-là et aussi quelles mathématiques utiliser. C'est une préoccupation que partagent, par
    exemple, Stuart Kauffman et Giuseppe Longo, ou dans un autre domaine, le mathématicien Nicolas Bouleau.
</p>
<p class="indent" >
    Le but premier de cet article sur les nouveaux possibles<a class="sdendnoteanc" href="#sdendnote8sym" id="sdendnote8anc" ><sup>8</sup></a> est alors de répondre à des physiciens et des mathématiciens pour lesquels il est
    vraiment difficile de penser ces choses-là. Cette difficulté provient de la méthode de la physique qui consiste à se donner des espaces, des états dans ces espaces et des lois stables gouvernant les changements de ces états.
    L’intemporalité des lois et, pour un modèle, des équations, est une règle épistémologique voulue par les physiciens et qui leur permet de borner leurs pratiques en évitant les explications <i>ad hoc</i>. Mais pour des objets
    fondamentalement historiques, cette règle engendre des choix théoriques parfaitement arbitraires et il faut donc penser une autre épistémologie de l’usage des mathématiques. Pour cela, nous avons développé le concept de contrainte. Les
    contraintes sont en quelque sorte la contre-partie biologique des lois en physique. Une contrainte est typiquement une symétrie qui est respectée pendant un moment, mais qui doit être maintenue activement pour durer. Une contrainte a
    donc deux statuts théoriques simultanées.&nbsp;Elle agit comme contrainte sur un processus et elle doit être maintenue par un autre processus qui, dans un organisme, est lui-même sous l’action d’une ou plusieurs contraintes, sans
    exclure l’intervention de contraintes externes.
</p>
<p class="indent" >
    Je parle de cela aussi par rapport à la loi de Moore qui ressemble à une contrainte biologique au sens où elle vient contraindre, par exemple, tant le grand public, les éditeurs de jeux vidéos que les chercheurs faisant du calcul
    scientifique. La forme de cette «&nbsp;loi&nbsp;» devient déterminante pour ces acteurs, mais dans notre sens de contrainte, cela n’implique pas du tout, je suis entièrement d’accord, que cette «&nbsp;loi&nbsp;» soit une loi de la
    nature ou une loi économique par elle-même. Cette relation n’est vérifiée que dans la mesure où il y a un apport des investisseurs, qui lui-même dépend d’un <i>storytelling</i>. Elle est maintenue activement un peu comme les contraintes
    d’un organisme le sont, ce que l’on aborde en biologie par le concept de clôture discuté plus haut. La loi de Moore a donc ce rôle ambivalent qui rappelle la notion de contrainte développée pour la biologie mais avec des différences
    puisque sa stabilité dépend de croyances, d’anticipations, etc., et des techniques les structurant et les permettant. En biologie, les contraintes ont un troisième statut théorique, diachronique&nbsp;: elles peuvent être reprises ou
    réutilisées d'une autre manière, et peuvent   donc rendre possible de nouvelles choses. Pour cela, nous avons développé la notion <i>d'enablement</i>, c'est-à-dire une forme causale qui correspond à un
    &nbsp;«&nbsp;rendre possible&nbsp;» et qui devient pertinente dès lors qu'il y a de nouveaux possibles<a class="sdendnoteanc" href="#sdendnote9sym" id="sdendnote9anc" ><sup>9</sup></a>. Il s'agit pour moi d'une forme de
    causalité originale, qui me semble proche de la notion de quasi-causalité que tu utilises, il n'y a pas de nécessité ni de cause finale <i>a priori.</i> D'un point de vue mathématique, c'est une causalité qui porte sur les espaces plus
    que sur les changements d'états dans un espace, ce qui la distingue autant des cadres déterministes que probabilistes. En fait, cette idée peut aussi être utilisée avec la loi de Moore. Celle-ci oblige les utilisateurs à changer
    fréquemment d’ordinateur pour rester au niveau de ce qui se fait. Pour compenser, Intel a lancé dans les années 90 des <i>overdrive</i> permettant d’augmenter la puissance de calcul sans avoir à changer le reste de l’ordinateur. La loi
    de Moore rend possible ce type de fonctions, mais elle ne les cause pas en un sens classique.
</p>
<p class="indent" >S - C'est presque une topologie ou une propriété topologique, non&nbsp;?</p>
<p class="indent" >
    M - Au sens mathématique du terme topologie, ce cadre pose effectivement des questions topologiques originales. Mais il y a des changements de topologie qui peuvent se produire dans un espace pré-donné et avec une dynamique fixe, par
    exemple dans le travail du mathématicien René Thom. Typiquement, on garde les mêmes équations et le même espace des possibles, mais les solutions de cette équation peuvent avoir différentes propriétés qualitatives en fonction des
    paramètres ou des conditions initiales. Dans le cadre que l’on développe, chaque contrainte de l'organisme peut avoir ce rôle causal <i>d'enablement</i>. Ce régime causal est omniprésent dans le vivant. De manière générale, j'essaye de
    ne pas penser le synchronique et le diachronique de manière séparée. Lorsque l'on fait des expériences avec des cellules et encore plus avec des animaux comme des souris ou des rats, le processus d'individuation a des conséquences très
    concrètes, même lorsque l'on n’observe qu'une partie très restreinte des animaux. Je ne pense pas que l’aspect diachronique de l’individuation puisse être traité techniquement de manière synchronique. Imaginons l’existence théorique
    d’une description synchronique parfaite de la physiologie d’un animal. Comme les objets vivants ne sont pas transparents empiriquement, il faudrait de nombreux animaux pour l’objectiver. Toutefois la variation biologique fait qu’une
    telle description sera plus ou moins différente pour des animaux différents, aussi proches soient-ils, donc les nombreux animaux utilisés ne conduiront pas à identifier l’organisation d’un animal unique, et une telle organisation n’est
    pas réellement identifiable empiriquement. Il semble plus raisonnable de toujours penser un aspect diachronique, que l’on ne peut pas décrire entièrement en termes de système synchronique, mais que l'on peut coupler à des aspects que
    l'on peut décrire en termes de contraintes que l'on peut connaître et qui ont une certaine stabilité, généricité et observabilité. C'est donc aussi comme cela que je vois le couplage entre diachronique et synchronique.
</p>
<p class="indent" >
    BS: T'es-tu intéressé à la linguistique de Saussure&nbsp;? Son <i>Cours de linguistique générale</i> a beaucoup impressionné – en particulier Lévi-Strauss, Lacan, Barthes, ceux que l'on appelait les structuralistes. Saussure y pose en
    principe que pour faire de la linguistique scientifique, il faut <i>séparer</i> la diachronie et la synchronie. Soit on fait de la synchronie et on peut décrire des éléments génériques d'un état de langue donné, par des gens à une
    époque donnée. Soit on a une approche diachronique et alors on ne peut s'intéresser qu'aux paroles et pas à la langue, et on peut aussi s'intéresser au déroulement de la succession des paroles, c'est-à-dire à l'évolution de la langue.
    Il faut de nos jours reposer ces questions dans le cadre de ce que la juriste et philosophe Antoinette Rouvroy appelle la «&nbsp;gouvernementalité algorithmique&nbsp;», comme dans le cas de la politique appliquée au CNRS discutée plus
    haut. Il faut penser ces questions dans le contexte des «&nbsp;big data&nbsp;» et de l’intelligence artificielle réticulaire, que Wiener avait anticipée, et où il voyait la menace d’une immense régression scientifique tout aussi bien
    que sociale et politique.
</p>
<p class="indent" >
    M - La question de l’articulation entre synchronique et diachronique est vraiment centrale pour moi. D'un point de vue physico-mathématique, discuter distinctement de ces deux aspects peut être vu comme une hypothèse de séparation
    d'échelle. Aux échelles de temps courtes, c’est-à-dire en ne regardant que les phénomènes rapides, on conçoit l’idée d’une langue comme possédant un ordre et aux échelles de temps plus grandes, les langues changent. En biologie, on
    présente souvent cette question par l’opposition des causes proximales aux causes distales.&nbsp;Il y aurait les mécanismes d’un côté et leur origine historique de l’autre, et on pourrait les étudier indépendamment. Cette différence
    recoupe aussi la distinction entre écologie et évolution. L’écologie étudie les écosystèmes constitués de populations en interaction et composées de formes vivantes relativement statiques&nbsp;; et l’évolution les changements de ces
    formes vivantes. Mais si l’on considère un écosystème contenant des éléphants et des souris, pendant le temps de vie de l'éléphant, il va y avoir plusieurs centaines de générations de souris, et les souris peuvent évoluer très vite par
    rapport à l'échelle du cycle de vie des éléphants... Sans parler des bactéries dont le temps de génération est couramment inférieur à une heure. Ce qui permet aux biologistes comme Richard <u>Lenski</u> de faire de l’évolution
    expérimentale à relativement long terme (plus de 60000 générations) à l’échelle de leurs carrières. Donc l’idée que la physiologie ou l’écosystème se font à des échelles de temps où il n’y pas d’évolution, est mise en péril par des
    considérations très simples, et il y en d’autres plus fines qui montrent que les choses sont largement imbriquées<a class="sdendnoteanc" href="#sdendnote10sym" id="sdendnote10anc" ><sup>10</sup></a>. D’autres aspects
    m’intéressent beaucoup. J'ai présenté par exemple une recension des situations où les physiciens n'arrivent pas à rester, pour des raisons mathématiques, dans un cadre purement synchronique. Ils rencontrent des difficultés qui les
    conduisent à faire intervenir des considérations diachroniques pour que leurs modèles fonctionnent.
</p>
<p class="indent"  >
    <span >S - Il me semble que dans la processualité où émergent des bifurcations de toute sorte, il n’y a pas de commensurabilité des échelles, et la localité n'est pas soluble en droit, sinon en fait.</span>
    Il y a une perte lorsque l'on change d'échelle. Là, je ne parle plus de biologie&nbsp;; le cœur du programme pour Plaine Commune est le passage de la microéconomie à la macroéconomie, tel qu’il est conditionné par la grammatisation —
    c’est-à-dire par la production de rétention tertiaires hypomnésiques, ou encore d’artefacts permettant certaines formes de mémoires. Cela permet d'articuler le paysan de la vallée du Nil avec le marché du Caire et, très indirectement,
    ce marché avec celui d'Athènes, en passant par Alexandrie. C'est un processus de <i>grammatisation</i> que l’on appelle la monnaie – et que l’on ne peut pas penser séparément de la bibliothèque d’Alexandrie et de son sens
    «&nbsp;néguanthropique&nbsp;». L’historienne Clarisse Herrenschmidt et le philosophe Jean Lassègue explorent cela depuis déjà un certain temps. Quant à nous, nous sommes pris dans un processus de grammatisation très différent avec le
    numérique. Ce qu’il faut comprendre, c’est que l'on ne peut pas rendre compte de l'économie du paysan de la vallée du Nil du point de vue du marché du Caire ou d'Athènes via l’utilisation de la monnaie sans écraser une diachronie au nom
    d’une synchronisation. Car la description synchronique est toujours performative, c’est ce que j’ai essayé de montrer dans <i>Échographies de la télévision</i><sup><i>12</i></sup>
    <i>.</i> Il y a quelque chose qui n'est pas transmissible parce que cela procède d’une irréductible localité, et il ne faut pas chercher à le transmettre. C'est ce que je soutiens contre les néolibéraux et l'économie standard qui ont
    concrétisé performativement et de façon ruineuse le modèle de la globalisation qui est en cela une immondialisation. Il ne s’agit pas ici de refuser les passages d'échelle, il s’agit de les critiquer, non seulement pour les réglementer
    ou les réguler, mais pour élaborer des structures, formats et architectures de données fondés sur la valorisation de l’anti-anthropie, et non sur la valorisation de l’anthropie, comme c’est le cas dans l’Anthropocène, qui est de ce fait
    une maladie <i>mortelle</i> de la biosphère.
</p>
<p class="indent" >
    M - Pour finir, j’aimerais parler de la question du travail en lien avec l’entropie. En physique classique, le travail c'est la force en tant qu’elle produit des effets, c'est-à-dire un déplacement. Par exemple, si l’on pousse sur une
    chaise, le travail est la force exercée multipliée par le déplacement de la chaise. L’enjeu fondateur de la thermodynamique est l’articulation entre chaleur et travail macroscopique. C’est pour cela que l’entropie a été introduite. Il
    serait important d’avoir une notion de travail articulée à l’anti-entropie et à l’anti-anthropie, mais qui serait alors bien différente de la notion physique de travail et, qui, dans le cas de l’anti-anthropie, correspondrait au travail
    humain.
</p>
<p class="indent" >
    S - Pour moi, la notion de travail mécanique est une métaphore calamiteuse. J'ai écrit là-dessus dans <i>La société automatique</i><a class="sdendnoteanc" href="#sdendnote11sym" id="sdendnote11anc" ><sup>11</sup></a> dans un
    chapitre consacré à l’histoire sémantique des mots «&nbsp;travail&nbsp;», «&nbsp;énergie&nbsp;» et «&nbsp;dynamique&nbsp;». <i>Dunamis</i>, pour Aristote, c'est la potentialité. Dans le monde contemporain, quand on dit que quelqu'un est
    dynamique, on dit qu'il est énergique. En fait, on a complètement renversé le sens des termes. Du coup, on ne comprend plus rien à la philosophie. Ensuite on a introduit le mot travail en physique. Cela conduit à une catastrophe quand
    on mélange le travail en ce sens-là – qui est ce que Marx appelle <i>labor</i> – et le travail dans le savoir anti-anthropique. En même temps, il faut bien mettre ces choses en relation, sinon on ne peut articuler thermodynamique,
    biologie théorique, information et neganthropologie. C’est le rôle d’une nouvelle critique de l’économie politique.
</p>
<h2 class="paragraphHead indent" ><b>Remerciements</b></h2>
<p class="indent" >Nous remercions Anne Alombert et Clément Morlat qui ont relu une version précédente de ce texte (1 &amp; 2).</p>

<h2 class="sectionHead indent" >
    <b>Références:</b>
</h2>
<ol class="thebibliography">
<li class="bibitem" id="sdendnote1sym">
    <sup>1</sup> Montévil, M. (2018) Possibility spaces and the notion of novelty: from music to biology. 
    <i>Synthese</i>.
</li>
<li class="bibitem"  id="sdendnote2sym">
    <sup>2</sup> Bergson, H. (1934, 2014). <i>La pensée et le mouvant</i>. Éditions Flammarion.
</li>
<li class="bibitem"  id="sdendnote3sym">
    <a id="_GoBack"></a> <sup>3</sup> Gaston Bachelard, <i>L’Activité rationaliste de la physique contemporaine</i>, PUF.
</li>
<li class="bibitem"  id="sdendnote4sym">
    <sup>4</sup> Austin, J.L. (1970). <i>Quand dire c'est faire</i>, Éditions du Seuil, Paris.
</li>
<li class="bibitem"  id="sdendnote5sym">
    <sup>5</sup> Heidegger, M. (1958, 1980). <i>Essais et conférences.</i> Gallimard, Paris.
</li>
<li class="bibitem"  id="sdendnote6sym">
    <sup>6</sup> Aristote (1999). <i>Physique Livre II</i>. Flammarion.
</li>
<li class="bibitem"  id="sdendnote7sym">
    <sup>7</sup> Longo, G., &amp; Montévil, M. (2011). From physics to biology by extending criticality and symmetry breakings. 
    <i>Progress in Biophysics and Molecular Biology</i>, <i>106</i>, 340 – 347.
</li>
<li class="bibitem"  id="sdendnote8sym">
    <sup>8</sup> Montévil, M. (2018) <i>Synthese</i>, <i>op. cit</i>
    .
</li>
<li class="bibitem"  id="sdendnote9sym">
    <sup>9</sup> Longo, G., Montévil, M., &amp; Kauffman, S. (2012). No entailing laws, but enablement in the evolution of the biosphere. In 
    <i>Genetic and Evolutionary Computation Conference</i>
    . GECCO’12 New York, NY, USA: ACM.&nbsp;; Longo, G., &amp; Montévil, M. (2013). Extended criticality, phase spaces and enablement in biology. <i>Chaos, Solitons &amp; Fractals</i>, 55, 64 – 79.
</li>

<li class="bibitem"  id="sdendnote10sym">
    <sup>10</sup> Danchin, E., &amp; Pocheville, A. (2014). Inheritance is where physiology meets evolution. <i>The Journal of Physiology,</i> 592, 2307–2317.
</li>
<li class="bibitem"  id="sdendnote11sym">
    <sup>11</sup> Stiegler, B. (2015). <i>La Société automatique: 1. L'avenir du travail</i>. Fayard.
</li>
<li class="bibitem"  id="sdendnote12sym">
    <sup>12</sup> Derrida, J., &amp; Stiegler, B. (1996). <i>Échographies de la télévision: entretiens filmés.</i>
</li>
</ol>
<div class="footnotes"><hr>
<div id="f1">
    <p class="indent">
        <span class="sdfootnotesym" >1</span>2019, Bernard Stiegler &amp; Maël Montévil, «&nbsp;Entretien sur l’entropie, le vivant et la technique 2&nbsp;» <i>Links série </i><i>2</i>
    </p>
    <p class="indent"><a class="sdfootnotesym" href="#bibitemanc" id="bibitemsym">2</a>Professeur Université de Technologie de Compiègne et directeur de l’IRI.</p>
</div>
<div id="f2">
    <p class="indent"><a class="sdfootnotesym" href="#sdfootnote3anc" id="sdfootnote3sym">3</a>Institut de Recherche et d’Innovation (IRI), Centre Pompidou.</p>
</div>
</div>
